

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box{
    background: initial !important;
}
.content{
    font-size: 14px;
    color: #666666;
}
.s3900_banner{
    height: 380px;
}
.s3900_banner_bg{
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/switch_S3900/s3900banner.jpg) no-repeat;
    position: absolute;
    width: 100%;
    height: 380px;
    left: 0;
    background-size: cover;
    z-index: -1;
    background-position: 50%;
}
.s3900_banner_text{
    color: #fff;
    padding-top: 70px;
}
.s3900_banner_tit{
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
}
.s3900_banner_tit_pc{
    display: block;
}
.s3900_banner_tit_m{
    display: none;
}
.s3900_banner_txt{
    font-size: 16px;
    line-height: 24px;
    display: block;
}
.s3900_video{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 20px;
    min-width: 160px;
    height: 40px;
    padding: 8px 0px;
    position: relative;
}
.s3900_video:hover{
    text-decoration: none;
    color: #fff;
}
.s3900_video>span{
    display: inline-block;
    vertical-align: top;
    padding-left: 52px;
    padding-right: 8px;
}
.s3900_video_img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: -2px;
    top: -2px;
}
.s3900_video_m{
    display: none;
}
.s3900_secure,.s3900_software,.s3900_designed,.s3900_comprehensive{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.s3900_secure_bg,.s3900_software_bg{
    position: absolute;
    width: 100%;
    min-height: 235px;
    left: 0;
    z-index: -1;
    background: #f7f7f7;
}
.s3900_secure_main,.s3900_software_main,.s3900_comprehensive{
    padding: 50px 0;
}
.new-mtp-img-container .spirit_bs{
    display: block;
}
.s3900_software_main {
    padding-bottom: 0px;
}
.s3900_designed{
    padding-top: 50px;
}
.s3900_secure_main_ul,.s3900_software_ul{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
}
.s3900_secure_main .s3900_secure_main_ul{
    padding-right: 70px;
    padding-left: 70px;
}
.s3900_secure_main_li{

}
.s3900_secure_main_li img{
    width: 42px;
    height: 41px;
}
.s3900_secure_main_txt{
    margin-top: 15px;
}
.s3900_designed_li{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.s3900_software_li{

}
.s3900_software_li img{
    width: 42px;
    height: 40px;
}
.s3900_software_bg{
    min-height: 530px;
}
.s3900_designed_a{
    color: #0070bc;
    margin-right: 5px;
}
.s3900_designed_a:hover,.s3900_designed_a:active{
    color: #0070bc;
}
.s3900_designed_h3{
    color: #232323;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height:26px;

}
.s3900_designed_type{
    font-size:14px;
    font-weight:600;
    color:#666666;
    margin-bottom: 8px;
}
.s3900_designed_state_ul li{
    line-height: 30px;
    color: #666666;
}
.s3900_designed_money{
    font-size: 20px;
    color: #232323;
}
.s3900_designed_arrow{
    color: #0070bc;
    font-size: 13px;
}
.s3900_secure_tit{
    font-size: 26px;
    color: #232323;
    padding-bottom: 20px;
    font-weight:400;
}
.s3900_secure_tit1{
    padding-bottom: 40px;
}
.s3900_designed_more{
    line-height: 18px;
}
.s3900_designed_more_bot{
    padding-bottom: 5px;
}
.s3900_designed_li{
    padding: 50px 0;
    border-bottom: 1px solid #e5e5e5;
}
.s3900_designed_li:last-child{
    border: none;
}
.s3900_designed_state{
    text-align: left;
    width: 310px;
    /* margin-right: 50px; */
}
.s3900_designed_state_y{
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #666666;
}
.s3900_designed_state_24T4S,.s3900_designed_state_48T4S{
    /* margin-right: 90px; */
}
.s3900_software_p{
    margin-top: 5px;
    margin-bottom: 45px;
}
.s3900_software_ul{
    margin-top: 38px;
}
.s3900_software_h3{
    margin: 20px 0 12px;
    color: #232323;
    font-weight: 400;
}
.s3900_software_p{
    line-height: 24px;
}
.button_text_right input.button_02:hover {
    background: #9b0912;
    border: 1px solid #232323;
    width: 160px;
}
.s3900_software_line{
    border-bottom: 1px solid #e5e5e5;
}
.new-mtp-img-container img,.s3900_software_main img,.s3900_designed_img img{
    width: 100%;
}
p.pre_p0101{
    padding-top: 15px;
    padding-bottom: 20px;
}
.s3900_designed_img{
    margin-top: 40px;
    margin-right: 160px;
}
.s3900_pre_wap h2.pre_h201{
    padding-top: 45px;
}
.s3900_pre_wap .pre_p0101{
    display: block;
}
.s3900_pre_wap .form_input p{
    color: #232323;
}
div.new_popup_content{
    padding:0;
}
div.ce_form_choose_country{
    z-index: 0;
}
.s3900_designed_money_m{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}


@media(max-width: 1440px){
    .s3900_banner_text{
        left: 8%;
    }
}
@media(max-width: 1220px) {
    .s3900_secure, .s3900_software, .s3900_designed, .s3900_comprehensive{
        width: 960px;
    }
    .s3900_designed_state{
        margin-right: 0px;
    }
    /* .s3900_designed_state_24T4S, .s3900_designed_state_48T4S{
        margin-right: 40px;
    } */
    .s3900_designed_img{
        width: 66%;
    }
    .s3900_designed_img {
        margin-right: 58px;
    }
    h2.bubble_h21{
        width: 100%;
    }

}
@media(max-width: 960px){
    .s3900_secure, .s3900_software, .s3900_designed, .s3900_comprehensive{
        width: 100%;
    }
    div.content{
        padding: 0;
    }
    .s3900_designed_img{
        width: 100%;
        margin-right: 20px;
    }
    .new-mtp-img-container img, .s3900_software_main img, .s3900_designed_img img{
        width: 88%;
    }
    .s3900_designed_state{
        margin-top: 30px;
        margin-left: 5%;
    }
    .s3900_software_li {
        width: 50%;
    }
    .s3900_pre_wap div.layout50 {
        width: 100%;
    }
    .s3900_pre_wap .new17address_add .layout50:nth-child(2n-1) {
        padding-right: 0px;
    }
    .s3900_banner_text {
        left: 2%;
    }
    .s3900_designed_li{
        flex-wrap: wrap;
        padding-top: 0px;
    }
    .s3900_comprehensive_main .bubble_td_1 {
        height: 70px;
    }
}
@media(max-width: 768px) {
    .s3900_secure_main, .s3900_software_main, .s3900_comprehensive{
        padding: 50px 20px;
    }
    .s3900_designed {
        padding: 50px 20px 0 20px;
    }
    div.layout50{
        width: 100%;
    }
    div.new17address_add .layout50:nth-child(2n-1){
        padding-right: 0;
    }
    .new17address_add:nth-child(1) .layout_md:nth-child(2n), .new17address_add:nth-child(2) div.layout_md:nth-child(2n) {
        padding-top: 10px;
    }


}

@media(max-width: 480px) {
    .s3900_secure_bg{
        min-height: 350px;
    }

    div.content{
        padding: 0;
    }
    .s3900_secure_main,.s3900_designed{
        padding-top: 34px;
        padding-bottom: 36px;
    }
    .s3900_software_main, .s3900_comprehensive{
        padding-top: 38px;
    }
    .s3900_designed{
        padding-bottom: 0px;
    }
    .s3900_comprehensive{
        padding-bottom: 30px;
    }
    .s3900_secure, .s3900_software, .s3900_designed, .s3900_comprehensive{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .s3900_banner{
        height: 220px;
    }
    .s3900_banner_bg {
        background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/switch_S3900/s3900banner_m.jpg) no-repeat;
        height: 220px;
        background-size: cover;
    }
    .s3900_banner_text {
        text-align: center;
		left: inherit;
    }
	.color_bg5{
		padding-bottom:30px
	}
	.s3900_banner_text{
		padding-top:40px
	}
    .s3900_banner_tit{
        font-size:26px;
        font-weight:400;
        line-height: 36px;
    }
    .s3900_banner_tit_m{
        display: block;
        text-align: center;
    }
    .s3900_banner_txt{
        font-size: 14px;
        line-height: 24px;
        margin-top: 12px;
        margin-bottom: 22px;
        display: none;
    }
    .s3900_banner_txt br{
        display:none;
    }
    .s3900_video{
        display: inline-block;
        margin-top: 25px;
        min-width: 40px;
        text-align: center;
    }
    .s3900_video_m{
        display: none;
        color: #fff;
    }
    .s3900_bannerM_arrow{
        font-size: 13px;
    }

    .s3900_secure_tit{
        font-size: 20px;
        padding-bottom: 15px;
    }
    .s3900_secure_main_ul, .s3900_software_ul{
        justify-content: center;
    }
    .s3900_designed_img{
        width: 100%;
    }
    .s3900_software_li {
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        margin-top: 30px;
    }
    .s3900_software_li:last-child{
        border: none;
    }
    .s3900_software_main{
        padding-bottom: 0px;
    }
    .s3900_secure_tit1 ,.s3900_designed .s3900_secure_tit,.s3900_pre_wap h2.pre_h201{
        width: 300px;
        display: block;
        margin: 0 auto;
        line-height: 30px;
        padding-bottom: 27px;
    }
    .s3900_designed .s3900_secure_tit {
        padding-bottom: 15px;
    }
    .s3900_secure_main_li {
        width: 50%;
    }
    .s3900_software_bg {
        min-height: 310px;
    }
    .s3900_software_ul {
        margin-top: 0px;
    }
    .s3900_designed_money_m{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }
    .s3900_designed_money{
        margin: 0;
    }
    .s3900_designed_li{
        padding: 30px 0;
        padding-top: 0px;
    }
    .s3900_designed_state {
        width: 100%;
        margin-left: 0;
    }
    .s3900_designed_state_24T4S, .s3900_designed_state_48T4S{
        margin-right: 0px;
    }
    .s3900_designed_more_bot{
        padding-bottom: 0px;
    }
    .s3900_secure_main_li:nth-child(3),.s3900_secure_main_li:nth-child(4){
        margin-top: 40px;
    }
    .s3900_software_ul{
        padding: 0;
    }
    .s3900_secure_main .s3900_secure_main_ul{
        padding-left: 0;
        padding-right: 0;
    }

    .s3900_pre_wap h2.pre_h201{
        padding-top: 34px;
        font-weight: 600;
        padding-bottom: 17px;
    }
    .s3900_pre_wap .pre_p0101{
        display: none;
    }
    .s3900_software_p {
        margin-top: 0px;
        margin-bottom: 35px;
    }
    .s3900_software_li .s3900_software_p {
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .s3900_software_li:last-child .s3900_software_p{
        margin-bottom: 35px;
    }
    .s3900_software_main .s3900_software_p{
        margin-bottom: 25px;
    }
    .s3900_software .s3900_software_ul {
        margin-top: 7px;
    }
    .s3900_designed_li .s3900_designed_img {
        margin-top: 30px;
    }
    .s3900_designed_li:first-child .s3900_designed_img {
        margin-top: 21px;
    }
    .s3900_designed_state {
        padding: 0 15px;
    }
    .s3900_secure .s3900_secure_main_txt{
        color: #232323;
    }
    .s3900_designed_h3{
        font-size: 16px;
    }
    .s3900_designed_h3{
        margin-bottom: 11px;
    }
    .s3900_designed_type{
        margin-bottom: 5px;
    }
    .s3900_designed_li{
        flex-wrap: wrap;
    }
    .s3900_designed_img{
        margin-right: 0px;
    }
    .new-mtp-img-container img, .s3900_software_main img, .s3900_designed_img img{
        width: 100%;
    }


    .s3900_video{
        border:none;
    }
    .s3900_video span{
        display:none;
    }

}

/* 库存 */
.s3900-country-position{z-index: 100;position: relative;}
.s3900_designed_money_m{display: block;}
.s3900-stock-box{margin-top: 18px;}
.s3900-stock-box .s3900_designed_more{float: right;}
.s3900-stock-txt{font-size: 14px;color: #616265;float: left;}
.s3900_designed_li {padding: 50px 0 45px 0;}
.s3900-stock-txt .track_orders_wenhao_only{color: #616265;}
@media (max-width: 960px){
    .s3900-stock-txt .track_orders_wenhao{display: block;}
    div.track_orders_wenhao .question_text_01{display: none;}
    div.track_orders_wenhao:hover .question_text_01{display: none;}
}
@media (max-width: 480px){
    .s3900_designed_li {padding: 30px 0 25px 0;padding-top: 0px;}
}
/* 库存结束 */

.box{width: 100%}
.s3900_banner_tit_pc{font-size: 40px;}
.s3900_banner{width: 1200px;margin: auto;}
.s3900_banner_txt{margin: 20px 0 28px;}
.s3900_banner_text{padding-top: 65px;}
.s3900_secure_box{padding: 50px 0 0;}
.s3900_commonWd_box{width: 1200px;margin: auto;}
.s3900_secure_tit{font-size:26px;font-weight:600;color:#232323;text-align: center;line-height: 34px;}
.s3900_secure_newMain{padding: 70px 0 20px;}
.s3900_secure_newMain>div{width: 50%;vertical-align: top;float: left;}
.s3900_secure_newMain>div:first-child{float: right;}
.s3900_secure_newMain>div:last-child{padding: 0 30px;float: left;}
.s3900_software_p{font-size:14px;font-weight:400;color:#666666;line-height:24px;text-align: center;margin: 3px 0 0;}
.s3900_secure_txtList li{display: table;width: 100%;}
.s3900_secure_txtList li>div:first-child{width: 220px;box-sizing: border-box;}
.s3900_secure_txtList li>div{display: table-cell;box-sizing: border-box;}
.s3900_secure_txtList li>div i{display: inline-block;width: 4px;height: 4px;background: #000000;border-radius: 100%;float: left;margin-top: 10px;}
.s3900_secure_txtList li>div div{font-size:16px;font-weight:400;color:#232323;line-height:24px;padding-left: 15px;padding-bottom: 20px;}

.s3900_solution_tagMain{padding: 50px 0 0;}
.s3900_software_newBox{background: #F7F7F7;padding-bottom: 60px;}
.s3900_software_newBox .s3900_software_img{padding-top: 35px;}
.s3900_watchVdeo_box{text-align: center;margin: 25px 0 45px;}
.s3900_watchVdeo_main {display: inline-block;cursor: pointer;}
.s3900_watchVdeo_main a{color: #0070bc;font-size: 14px;margin-right: 5px;}
.s3900_watchVdeo_main em{display: inline-block;width:14px;height: 14px;border: 1px solid #0070BC;border-radius: 50%;position: relative;vertical-align: middle;}
.s3900_watchVdeo_main i{display: block;position: absolute;top: 3px;left: 4px;border-width: 3px 0px 3px 6px;border-color: transparent transparent transparent #0070BC;border-style: solid;}
.s3900_strictQ_box{padding: 45px 0 50px;}
.s3900_strictQ_imbox{text-align: center;}
.s3900_download_box{background: #F7F7F7;padding: 45px 0 40px;}
.newProducts-download-main{display: flex;justify-content: space-between;margin-bottom: 20px;}
.newProducts-download-main-con{width: 386px;height: 88px;background-color: #fff;}
.newProducts-download-main-con a{color: #232323;text-decoration: none;display: table;transition: all .3s;position: relative;padding: 0 64px 0 52px;height: 100%;width: 100%;}
.file-icon{font-size: 26px;line-height: 88px;display: inline-block;padding: 0 0 0 26px;vertical-align: middle;position: absolute;left: 0;width: 52px;}
.file-name{display: table-cell;vertical-align: middle;font-size: 14px;padding-left: 10px;max-height: 40px;overflow: hidden;}
.file-download-icon{float: right;width: 64px;height: 100%;text-align: center;font-size: 22px;line-height: 88px;transition: background-color .3s;position: absolute;right: 0;top:0;}
.newProducts-download-main-con a:hover{color: #0070BC;box-shadow: 0px 3px 10px 0px rgba(124,124,124,0.15);}
.newProducts-download-main-con a:hover .file-download-icon{color: #fff;background-color: #0070bc;}
.s3900_explore_list{display: table;width: 100%;margin-top: 10px;padding-bottom: 50px;}
.s3900_explore_list li{display: table-cell;text-align: center;width: 403px;border-right: 10px solid #fff;padding: 35px 0;background: #F7F7F7;vertical-align: top;}
.s3900_explore_imgBox{width: 80px;height: 80px;border-radius: 50%;text-align: center;position: relative;margin: 0 auto;background: #fff;}
.s3900_explore_imgBox img{position: absolute;top: 50%;left: 50%;}
.s3900_explore_list li:first-child .s3900_explore_imgBox img {margin-top: -17.5px;margin-left: -17.5px;}
.s3900_explore_list li:nth-child(2) .s3900_explore_imgBox img {margin-top: -16.955px;margin-left: -22px;}
.s3900_explore_list li:nth-child(3) .s3900_explore_imgBox img {margin-top: -15px;margin-left: -18.33px;}
.s3900_explore_tit{font-size:16px;font-weight:600;color:#232323;line-height:22px;margin: 15px 0;}
.s3900_explore_list li p{font-size: 13px;color: #616265;line-height: 20px;height: 80px;}
.s3900_explore_more a{color: #0070BC;font-size: 14px;}
.s3900_explore_more a .icon{font-size: 13px;font-weight: 400;}
.s3900_explore_more a:hover{text-decoration: none;}
.s3900_explore_more a:hover span{text-decoration: underline;}
.s3900_explore_more a:hover .icon{text-decoration: none;}
.s3900_explore_box{padding-top: 45px;}
.s3900_div_right{width: auto;padding-left: 30px;box-sizing: border-box;display: flex;align-items: center;justify-content: space-around;flex-direction: column;width: 60%;float: right;height: 270px;}
.s3900_div_left{width: 40%;position: relative;float: left;}
.s3900_div_tit{font-size: 26px;color: #232323;font-weight: 600;line-height: 36px;padding-bottom: 12px;}
.s3900_div_txt{font-size: 14px;color: #666;line-height: 24px;}
.s3900_div_left .swiper-pagination{width: 100%;padding-top: 10px;}
.s3900_div_left .swiper-pagination span{margin: 0 5px;}
.S3900_Models_width{width: 1200px;margin: 0 auto;padding-bottom: 50px;}
.S3900_Models{background: #F7F7F7;}
.S3900_Models_tit{font-size: 26px;color: #232323;font-weight: 600;line-height: 30px;text-align: center;padding-top: 45px;padding-bottom: 12px;}
.S3900_Models_tb_txt{text-align: center;font-size: 14px;color: #616265;}
.S3900_Models_tabler_cobntainer table{width: 100%;}
.S3900_Models_tabler_cobntainer table td{font-size: 14px;color: #616265;line-height: 20px;text-align: center;border-bottom: 1px solid #E5E5E5;padding: 15px 0;box-sizing: border-box;}
.S3900_Models_tabler_cobntainer table tr td:first-child{color: #232323;text-align: left;}
.S3900_Models_tabler_cobntainer table tr td:nth-child(1){width: 12%;}
.S3900_Models_tabler_cobntainer table tr td:nth-child(2),.S3900_Models_tabler_cobntainer table tr td:nth-child(3),.S3900_Models_tabler_cobntainer table tr td:nth-child(4),.S3900_Models_tabler_cobntainer table tr td:nth-child(5),.S3900_Models_tabler_cobntainer table tr td:nth-child(6){width: 14.666%;}
.s3900_commonWd_box.flex{padding-bottom: 75px;overflow: hidden;}

.video_img{position: relative;}
.cat-Ethernet-vdoPlay{position:absolute;width:60px;height:60px;background-color:rgba(0,0,0,.2);border-radius:50%;left:50%;top:50%;margin-left:-30px;margin-top:-30px;transition:all .3s;box-sizing:border-box;cursor:pointer}
.cat-Ethernet-vdoPlay span{position:absolute;width:19px;height:22px;top:50%;margin-top:-11px;left:50%;margin-left:-7.5px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/new_index/video_icon.png) no-repeat}
.cat-Ethernet-vdoPlay:hover{background-color:rgba(0,0,0,.4);border:none}
.S3900_Models_tabler_cobntainer table tr:first-child td{position: relative;}
.S3900_Models_tabler_cobntainer table tr:first-child td:hover .new_proList_QkviewBtn a{display: inline-block;}
.new_proList_QkviewBtn{transform: translate(-50%,-50%);margin-top: 0;}
@media (max-width: 1220px){
    .content{width: 100%;}
    .s3900_banner{width: 960px;}
    .s3900_commonWd_box{width: 960px;}
    .s3900_strictQ_imbox img{width: 100%;}
    .newProducts-download-main-con{width: 32.62%;}
    .file-name{width: auto;}
	.S3900_Models_width{width: 960px;}
	.S3900_Models_tabler_cobntainer{overflow-x: auto;}
	.S3900_Models_tabler_cobntainer table{width: 1200px;}
}
@media (max-width: 960px){
    .s3900_banner{width: 100%;padding-left: 20px;}
    .s3900_commonWd_box{width: 100%;padding: 0 15px;}
    .s3900_secure_txtList li>div div{padding-bottom: 10px;}
	.S3900_Models_width{width: 100%;padding: 0 15px 50px 15px;box-sizing: border-box;}
	.s3900_div_left,.s3900_div_right{width: 50%;}
	.popup_width880{width: 90%;margin: 0;transform: translate(-50%,-50%);}
	.swiper-slide img{max-width: initial;}
	.s3900_banner_tit br{display: none;}
}
@media (max-width: 660px){
	.s3900_div_left,.s3900_div_right{width: 100%;}
	.s3900_commonWd_box.flex{display: block;}
	.video_img img{margin: 0 auto;display: block;}
	.popup_width880{width: 100%;margin: 0;transform: initial;left: initial;top: 0;}
	.s3900_div_left{padding-bottom: 32px;}
	.s3900_div_tit{text-align: center;}
	.s3900_div_right{padding-left: 0;height: auto;padding-bottom: 16px;}
	.s3900_commonWd_box.flex{padding-bottom: 27px;}
}
@media (max-width: 480px){
    .s3900_banner_text {padding-top: 40px;}
    .s3900_secure_tit{font-size: 20px;line-height: 30px;padding-bottom: 10px;}
    .s3900_secure_box{padding: 20px 0 0;}
    .s3900_secure_newMain>div:last-child{float: none;width: 100%;padding: 30px 0 0;}
    .s3900_secure_newMain>div:first-child{float: none;width: 100%;}
    .s3900_secure_txtList li>div{width: 50%;}
    .s3900_secure_newMain{padding: 13px 0 0;}
    .s3900_secure_txtList li>div div{font-size: 14px;}
    .s3900_secure_txtList{padding: 0 5px 0 15px;}
    .s3900_software_main{padding: 35px 0 0;}
    .s3900_software_newBox{padding-bottom: 0;}
    .s3900_software_newBox .s3900_software_img{padding-top: 0;}
    .s3900_strictQ_box{padding: 33px 0 40px;}
    .s3900_watchVdeo_box{margin: 25px 0 30px;}
    .s3900_strictQ_imbox{margin: 0 -15px;}
    .newProducts-download-main{display: block;}
    .newProducts-download-main-con{width: 100%;margin-bottom: 15px;}
    .s3900_download_box{padding: 33px 0 15px;}
    .s3900_download-box{padding-top: 10px;}
    .s3900_explore_box{padding-top: 33px;}
    .s3900_explore_list{display: block;}
    .s3900_explore_list li{display: block;width: 100%;border: 0;margin-bottom: 10px;}
	.s3900_banner_tit_pc{font-size: 20px;line-height: 30px;text-align: left;padding-right: 100px;padding-top: 20px;}
	.s3900_div_tit{font-size: 20px;line-height: 30px;padding-bottom: 7px;}
	.S3900_Models_tit{font-size: 20px;line-height: 30px;padding-top: 18px;padding-bottom: 5px;}
	.S3900_Models_width{padding-bottom: 35px;}
	.s3900_software_main, .s3900_comprehensive{padding-top: 26px;}
}