.breadcrumb-container { display: none; }
.content{ padding-top:0;}
.second_edition_banner { width:100%; height:380px;}
.second_edition_banner_bg { width:100%; height:380px; position:absolute; left:0; z-index:-1; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/cloud_provider/cloud_provider_banner.jpg) center 0;}
.second_edition_banner_con { padding-left:80px; color:#fff; padding-top:100px; width:700px;}
.second_edition_banner_con h2 { font-size:36px; line-height:45px; font-weight:normal; margin-bottom:20px;}
.second_edition_banner_con p { font-size:18px; font-weight:400; line-height:24px;}
.spotlight_products{ width:100%; height:500px;}
.spotlight_products_bg { width:100%; height:500px; position:absolute; left:0; background:#f6f6f6; z-index:-1;}
.spotlight_products_con { padding-top:50px;}
.second_edition_title { font-size:24px; font-weight: normal; color: #232323; margin-bottom:30px;}
.spotlight_products_list {width: 100%;position: relative;overflow: hidden; height: 345px;margin-top: 15px;}
.spotlight_products_list ul {position: absolute;top: 0;width: 4320px;}
.spotlight_products_li {float: left;width: 345px;margin-right: 20px;height: 345px; background: #fff;text-align: center;transition: all .3s;}
.spotlight_products_li:nth-child(4n+0){margin-right:0;}
.spotlight_products_li a { display:block;}
.spotlight_products_li a:hover { text-decoration:none;}
.spotlight_products_li img {display: block;margin:20px auto; width:200px; height:200px;}
.spotlight_products_li p {font-size: 14px;line-height: 22px;color: #616265;padding: 0 30px;margin-bottom: 10px;height: 42px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-weight:400;}
.spotlight_products_li .price {font-weight: 600;color: #232323;font-size: 14px;}
.hot_products_button {width: 60px;height: 78px;position: absolute;top: 50%; margin-top: -39px;overflow: hidden;border-radius: 3px;z-index: 99;cursor: pointer;display: none;}
.hot_products_button span {display: block;width: 100%;height: 100%;background-color: #616265;opacity: .3;}
.hot_products_button i {position: absolute;width: 16px; height: 28px;left: 50%;top: 50%;margin-left: -8px;margin-top: -14px;background:url(https://img-en.fs.com/images/templates/fiberstore/images/index_icon.png) no-repeat;}
.hot_products_button:hover span {opacity: .5;}
.home_mobile_hotproduct {display: none;}
.swiper-container .swiper-button-next {background: none;text-align: right;font-size: 20px;line-height: 44px;color: #828282;right: -4px;}
.swiper-container .swiper-button-prev {background: none;text-align: left;font-size: 20px;line-height: 44px;color: #828282;left: 8px;}
.spotlight_products_prev {left:0;}
.spotlight_products_next {right:0;}
.spotlight_products_list:hover .hot_products_button { display:block;}
.spotlight_products_prev i {background-position: -12px -227px;}
.spotlight_products_next i {background-position: -52px -227px;}
.sort_products { margin-top:50px;}
.sort_products_title { font-size:24px; color:#232323;display: inline-block;padding-right:40px; line-height:30px;}
.sort_products_list {font-size:16px; padding-right:30px;}
.sort_products_list a {color:#616265;transition: all .3s;}
.sort_products_list a:hover { color:#0070BC;}
.sort_products_btn { margin-bottom:26px; overflow:hidden; width:100%;}
.sort_products_con { position:relative;width: 100%;height: 600px;margin-bottom: 40px;}
.sort_products_left { position: absolute;left: 0;width: 25%;background:#f9f4f0;height: 600px;}
.sort_products_left img{ display:block;position: absolute;bottom: 0; max-width:100%; max-height:100%;}
.sort_products_text { padding:0 30px; margin-top:50px; text-align:center;position:absolute; z-index:1;}
.sort_products_text h2 { font-weight:normal; font-size:24px; line-height:32px; margin-bottom:18px;}
.sort_products_text p { font-weight:400; color:#616265; line-height:22px; margin-bottom:24px; font-size:14px;}
.sort_products_text a { width:135px; line-height:40px; height:40px; border:1px solid #000; margin-right:8px; display:inline-block; border-radius:2px;font-size:14px;transition: all .3s; text-align:center;}
.sort_products_text a:hover { text-decoration:none;}
.sort_products_text a:last-child { margin-right:0;}
.fiber_0ptic a { border-color:#a77255; color:#a77255;}
.fiber_0ptic a:hover { color:#fff; background:#a77255;}
.sort_products_right {position: absolute;right: 0;width: 75%;height: 600px;}
.sort_products_right ul { width:100%; height:auto;}
.sort_products_right ul li {float: left;width: 33.3%;border-right: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;text-align: center;min-height: 300px;transition: all .3s; z-index: 5;box-sizing: border-box;position: relative;}
.sort_products_right ul li a:hover { text-decoration:none;}
.sort_products_right ul li:nth-of-type(1), .sort_products_right ul li:nth-of-type(2), .sort_products_right ul li:nth-of-type(3) {border-bottom: none;}
.sort_products_right ul li:hover {z-index:10;box-shadow: 5px 5px 10px rgba(51,51,51,.1);}
.sort_products_right ul li img { display:block; margin:10px auto; width:180px; height:180px;}
.sort_products_right ul li p {font-size: 14px;line-height: 22px;color: #616265;padding: 0 30px;margin-bottom:10px;height: 42px;text-decoration: none;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; font-weight:400;}
.sort_products_right ul li .price {font-weight: 600;color: #232323;font-size:14px;}
.fiber_0ptic_cables { background:#edf3fe;}
.fiber_0ptic_cables a { color:#5274ae; border-color:#5274ae;}
.fiber_0ptic_cables a:hover { color:#fff; background:#5274ae;}
.racks_enclosures { background:#f3f1f1;}
.racks_enclosures a {color:#2a96e6; border-color:#2a96e6;}
.racks_enclosures a:hover { background:#2a96e6; color:#fff;}
.rack_cable_management { background:#f0eefa;}
.rack_cable_management a { color:#817aa2; border-color:#817aa2}
.rack_cable_management a:hover { background:#817aa2; color:#fff;}
.ethernet_switches { background:#eaf3f8;}
.ethernet_switches a { border-color:#45c3c9; color:#45c3c9;}
.ethernet_switches a:hover { background:#45c3c9; color:#fff;}
.power_management { background:#e9f0fe;}
.power_management a { color:#2d58ab; border-color:#2d58ab;}
.power_management a:hover { background:#2d58ab; color:#fff;}
.fiber_tools{ background:#fff5f1;}
.fiber_tools a { color:#e85f10; border-color:#e85f10;}
.fiber_tools a:hover { background:#e85f10; color:#fff;}
.product_advantages h2 { font-size:28px; text-align:center; font-weight:normal; margin-bottom:60px; line-height:34px;}
.product_advantages ul li {float: left;width: 25%;text-align: center;}
.product_advantages ul li img { display:block; margin:0 auto;}
.product_advantages_text { padding:40px 30px;}
.product_advantages_text h1 { font-size:18px; font-weight:normal; margin-bottom:10px;}
.product_advantages_text p { color:#616265; font-size:14px;font-weight:400;}
.spotlight_products_con .swiper-slide {background-color: rgb(255, 255, 255);padding-bottom: 20px;}
.spotlight_products_con .swiper-slide p {font-size: 14px; text-align:center;line-height: 22px;color: rgb(102, 102, 102);margin-bottom: 10px;height: 40px;padding: 0px 30px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.spotlight_products_con .swiper-slide .price {font-weight: 600;color: #232323;font-size: 14px;text-align: center;}
@media (max-width: 1440px){
	.sort_products_title { padding-right:30px;}
	.sort_products_list { padding-right:20px; font-size:15px;}
	.sort_products_text a { margin-right:0px; margin-bottom:8px;}
	.spotlight_products_list ul li{ width:285px;}
}
@media (max-width: 1220px){
	.spotlight_products_list ul li { width:225px; height:320px;}
	.spotlight_products_li img { max-width:100%; width:200px; height:200px;}
	.sort_products_title { display:block; margin-bottom:20px;}
}
@media (max-width: 960px){
	.spotlight_products_list { display:none;}
	.home_mobile_hotproduct {display: block;}
	.spotlight_products { height:auto; background:#f6f6f6; padding-bottom:30px;}
	.spotlight_products_bg { display:none;}
	.sort_products { padding:0 10px;}
	.sort_products_btn { text-align:center;}
	.sort_products_left { width:100%; position:relative; height:350px;}
	.sort_products_left img { top:0; right:0;}
	.sort_products_text {text-align: left;top: 25%; margin-top: 0px; width:500px;}
	.sort_products_text a { margin-right:8px;}
	.sort_products_right { position:static; width:100%;}
	.sort_products_right ul li:nth-of-type(1), .sort_products_right ul li:nth-of-type(4) { border-left:1px solid #e5e5e5;}
	.sort_products_con { height:auto;overflow: hidden;}
	.sort_products_list { font-size:14px; padding-right:10px;}
	.second_edition_title { text-align:center;}
}
@media (max-width:768px) {
	.sort_products_text { text-align:center; width:auto; position:static; padding-top:40px;}
	.sort_products_left { height:auto;}
	.sort_products_left img { position:static; margin:0 auto;}
	.sort_products_right ul li img { width:120px; height:120px; max-width:100%;}
	.sort_products_right ul li { min-height:auto; padding-bottom:30px;}
	.sort_products_right { height:auto;}
	.product_advantages ul li { width:50%;}
	.second_edition_banner_con { width:initial; padding-left:20px; padding-right:20px; padding-top:80px;}
	.sort_products_list { display:inline-block; margin-bottom:10px;}
}
@media (max-width:480px) {
	.sort_products_right ul li { width:50%;}
	.sort_products_right ul li:nth-of-type(4) { border-left:none; border-bottom:none;}
	.sort_products_right ul li:nth-of-type(3),.sort_products_right ul li:nth-of-type(5) { border-left:1px solid #e5e5e5;}
}






