.fiber_optic_banner_bg.box_banner{
	background: url(../../images/specials/fhd_img/box-banner.jpg) no-repeat center;
}
.fiber_optic_section ul li a{
	display: block;
	text-decoration: none;
}
.fiber_transceiver_banner_bg.box_banner01{
	background: url(../../images/specials/fhd_img/box-banner01.jpg) no-repeat center;
}
.fiber_transceiver_banner_bg.box_banner02{
	background: url(../../images/specials/fhd_img/box-banner02.jpg) no-repeat center;
}
.fiber_transceiver_banner_bg.box_banner03{
	background: url(../../images/specials/fhd_img/box-banner03.jpg) no-repeat center;
}
.fiber_transceiver_banner_bg.box_banner04{
	background: url(../../images/specials/fhd_img/box-banner04.jpg) no-repeat center;
}
.fiber_transceiver_banner_bg.box_banner05{
	background: url(../../images/specials/fhd_img/box-banner05.jpg) no-repeat center;
}
.switch_pro ul{
	overflow: hidden;
}
.switch_pro ul li:nth-of-type(3n){
	margin-right: 0;
}
.fiber_optic_con_bg.box_con_bg{
	height: 5500px;
}
.fiber_optic_section01 span{
	display: inline-block;
}
@media(max-width:1440px){
	.box{
		width: 1200px;
	}
	.switch_pro_text{
		padding: 0;
	}
	.fiber_optic_con_bg.box_con_bg{
		height: 5560px;
	}
}
@media(max-width:1220px){
	.box{
		width: 960px;
	}
	.fiber_optic_section ul li p br{
		display: none;
	}
}
@media(max-width:960px){
	.box{
		width: 100%;
	}
	.content{
		width: auto;
		padding: 0;
	}
	.switch_pro ul li{
		min-height: 430px;
	}
	.fiber_optic_banner_con p br{
		display: none;
	}
}
