.content { padding-top: 0;}
.n17_polarity_banner { width: 100%; height: 365px; }
.n17_polarity_banner_pic { position: absolute; width: 100%; height: 365px; left: 0; background:url(../../images/specials/concerning_polarity/concerning_polarity_banner.png) no-repeat; z-index:-1; }
.n17_polarity_banner_tit { padding-top: 115px; font-size: 34px; color: #fff; font-weight: 400; text-align: center; }

.n17_polarity_con01 { margin:0 auto 0 auto;font-size:14px; }
.n17_polarity_tit { margin:60px 0 20px 0;font-size: 24px; font-weight:400; text-align: center; line-height:32px; }
.n17_polarity_tit_sub { margin:40px 0 15px 0;font-size: 20px; font-weight:400; text-align: center; line-height:28px; }
.n17_polarity_txt { font-size: 14px;font-weight:400;color: #616265;text-align: center;line-height: 22px; padding: 0 10%;}

.n17_polarity_list{ margin-top:30px;}
.n17_polarity_list ul{ overflow:hidden;}
.n17_polarity_list ul li{float: left; width: 23.5%;margin:0 2% 0 0; list-style: none; background-color: #f6f6f6; padding-bottom:15px;}
.n17_polarity_list ul li:last-child{ margin:0;}
.n17_polarity_list_pic { width: 100%; padding-top:45px; text-align: center;margin-bottom: 30px; }
.n17_polarity_list_pic img { display: inline-block; }
.n17_polarity_list_tit { padding: 0 35px; font-size: 16px; font-weight: 400; color: #008092; margin-bottom: 12px; text-align: center; }
.n17_polarity_list_txt { font-weight:400;color: #999; padding: 0 8%; text-align: center; line-height: 24px; min-height:96px; }

.n17_polarity_list_pdf{text-align: center;margin-top: 30px;color: #616265;}
.n17_polarity_list_pdf a{ color:#0070BC;font-size:16px;}
.n17_polarity_list_pdf a span{    font-size: 12px; overflow: hidden; margin-left: 5px; height: 17px; vertical-align: middle; display: inline-block;}

.n17_polarity_con02 { margin:60px auto 0 auto; font-size:14px; overflow:hidden;}
.n17_polarity_con02_bg{ background:#f4f4f4;width: 100%; height:1230px; position:absolute; z-index:-1 ; left:0;}
.n17_polarity_maintaining_tit{}
.n17_polarity_maintaining_tit ul{ border-bottom:2px solid #e5e5e5; box-sizing: border-box; text-align:center; margin-bottom:20px;}
.n17_polarity_maintaining_tit ul li{ display:inline-block; padding: 0 20px; line-height:40px; color:#616265; margin:0 5%; font-size:18px; cursor:pointer;}
.n17_polarity_maintaining_tit ul li.maintahover{border-bottom:2px solid #0070BC; color:#232323; box-sizing: border-box; margin-bottom:-2px;}
.n17_polarity_maintaining_con{}
.n17_polarity_maintaining_con .n17_polarity_txt{ min-height:44px;}
.n17_polarity_base_con{overflow-x: auto;overflow-y:hidden;}
.n17_polarity_base_8,.n17_polarity_base_12,.n17_polarity_base_24{ margin-top:30px; position:relative; height:480px; width:1440px;}
.n17_polarity_base_8 ul,.n17_polarity_base_12 ul,.n17_polarity_base_24 ul{ width:1440px;}
.n17_polarity_base_8 ul li,.n17_polarity_base_12 ul li,.n17_polarity_base_24 ul li{ position: absolute; left: 0; width: 100%; height:480px; overflow: hidden; background-color: #fff; margin-bottom: 20px;left: 0;top: 0;opacity: 0;}
.n17_polarity_base_8 ul li img,.n17_polarity_base_12 ul li img,.n17_polarity_base_24 ul li img{ position:absolute;}
.n17_polarity_base_8 ul li.active,.n17_polarity_base_12 ul li.active,.n17_polarity_base_24 ul li.active{z-index: 5;}

.n17_polarity_8_24series{  margin:30px 0 50px 0;}
.n17_polarity_8_24series ul{ overflow:hidden;}
.n17_polarity_8_24series ul li{float: left; width: 32%;margin:0 2% 0 0; list-style: none; background:#fff; position:relative;    overflow: hidden;}
.n17_polarity_8_24series ul li:last-child{ margin:0;}
.n17_polarity_8_24series_pic { width: 100%; padding-top:45px; text-align: center;margin-bottom: 30px; }
.n17_polarity_8_24series_pic img { display: inline-block; max-width:100%; }
.n17_polarity_8_24series_tit { padding:15px 10px; background:#e5e5e5; font-size: 16px; font-weight: 400; line-height: 24px; color: #232323; text-align: center; }
.n17_polarity_8_24series_txt { font-weight:400;color: #999; text-align: center;font-size: 16px; padding:15px 0; line-height: 24px; position:absolute; bottom:-54px; width:100%; background:#0070BC;transform: translateY(0); transition: all .5s;}
.n17_polarity_8_24series ul li a{text-decoration:none;}
.n17_polarity_8_24series ul li a p{ color:#fff; display:block;}
.n17_polarity_8_24series ul li:hover .n17_polarity_8_24series_txt{ transform: translateY(-54px); }

.n17_polarity_con03 { margin:0 auto 0 auto;font-size:14px; }
.n17_polarity_array_con{}
.n17_polarity_array_pic{ text-align:center; padding:20px 0; }
.n17_polarity_array_pic img{max-width:100%;}
.n17_polarity_array_con .n17_polarity_8_24series ul li{ background:#f6f6f6;}

/*banner箭头样式*/
.n17_polarity_slide_dot{position: absolute;text-align: center;z-index: 10;width: 100%;left: 0; bottom:0;transform: translateY(-20px);}
.n17_polarity_slide_dot em{display: inline-block;width: 12px;height: 12px;background-color: #fff;border-radius: 50%;margin-right: 13px;cursor: pointer;z-index: 10;opacity: .3;}
.n17_polarity_slide_dot em.active{opacity: 1;}
.n17_polarity_slide_next{width: 44px;height: 76px; right:3%;margin-top: 202px;z-index: 10;position: absolute;text-align: center;line-height: 96px;cursor: pointer;transition: all .5s; top:0; display:none;}
.n17_polarity_slide_next i{width: 40px;height: 40px;margin-top: 18px;display: inline-block;background: url(../../images/n17_40G/fhd_series_slide_next.png);}
.n17_polarity_slide_next span{left: 0;top: 0;position: absolute;width: 100%;height: 100%;background-color: #fff;opacity: .2; border-radius:3px;}
.n17_polarity_slide_prev{width: 44px;height: 76px;left:3%;margin-top: 202px;z-index: 10;position: absolute;text-align: center;line-height: 96px;cursor: pointer;transition: all .5s; top:0; display:none;}
.n17_polarity_slide_prev i{width: 40px;height: 40px;margin-top: 18px;display: inline-block;background: url(../../images/n17_40G/fhd_series_slide_prev.png);}
.n17_polarity_slide_prev span{left: 0;top: 0;position: absolute;width: 100%;height: 100%;background-color: #fff;opacity: .2;border-radius:3px;}
.n17_polarity_base_8:hover .n17_polarity_slide_next,.n17_polarity_base_12:hover .n17_polarity_slide_next,.n17_polarity_base_24:hover .n17_polarity_slide_next,.n17_polarity_base_8:hover .n17_polarity_slide_prev,.n17_polarity_base_12:hover .n17_polarity_slide_prev,.n17_polarity_base_24:hover .n17_polarity_slide_prev{ display:block;}
/*banner箭头样式 结束*/

.n17_polarity_12base{}
.n17_polarity_12base dl{ overflow:hidden; padding-bottom:20px;}
.n17_polarity_12base dl dt{ width:50%;}
.n17_polarity_12base dl dd{ width:50%; color:#616265;}
.title_12base{   margin:30px 0 15px 0; font-size: 20px; font-weight: 400; line-height: 28px; padding:0 20px;}
.tetx_12base{ font-weight:400; padding:0 20px; display:block;}
.n17_polarity_12base_series{ }
.n17_polarity_12base_series ul{ overflow:hidden;}
.n17_polarity_12base_series ul li{float: left; width: 32%;margin:0 2% 0 0; list-style: none; background:#fff; position:relative;    overflow: hidden;}
.n17_polarity_12base_series ul li:last-child{ margin:0;}
.n17_polarity_12base_series_pic { width: 100%; padding-top:20px; text-align: center;margin-bottom:15px; }
.n17_polarity_12base_series_pic img { display: inline-block; max-width:100%; }
.n17_polarity_12base_series_tit { padding:5px 5px; background:#e5e5e5; font-size: 12px; font-weight: 400; line-height: 24px; color: #232323; text-align: center; }
.n17_polarity_12base_series_txt { font-weight:400;color: #999; text-align: center;font-size: 12px; padding:5px 0; line-height: 24px; position:absolute; bottom:-34px; width:100%; background:#0070BC;transform: translateY(0); transition: all .5s;}
.n17_polarity_12base_series ul li a{text-decoration:none;}
.n17_polarity_12base_series ul li a p{ color:#fff; display:block;}
.n17_polarity_12base_series ul li:hover .n17_polarity_12base_series_txt{ transform: translateY(-34px); }
.n17_polarity_12base_series_bg{ background:#f4f4f4;width: 100%; height:450px; position:absolute; z-index:-1 ; left:0;}
.n17_polarity_txt a{ color:#0070BC;}


@media(max-width:1440px) {

	}
@media(max-width:1220px) {
.n17_polarity_12base_series_tit {min-height: 48px;}
.n17_polarity_12base_series_txt {min-height: 48px; bottom:-58px;}
.n17_polarity_12base_series ul li:hover .n17_polarity_12base_series_txt{transform: translateY(-58px);}
	}
@media(max-width:960px) {
	.n17_polarity_banner_tit{ padding:100px 10px 0 10px; line-height:36px; font-size:30px;}
	.n17_polarity_con02 {  background:#f4f4f4;}
.n17_polarity_con01,.n17_polarity_con03,.n17_polarity_maintaining_con{ margin:0 10px;}
.n17_polarity_list ul li{ width:49%; font-size:13px; margin-bottom:15px;}
.n17_polarity_list ul li:nth-of-type(2){margin:0 0 15px 0;}
.n17_polarity_8_24series_tit{ font-size:14px;}
.n17_polarity_con02_bg,.n17_polarity_12base_series_bg{ display:none}
.n17_polarity_txt{    padding: 0 ;}	
.n17_polarity_8_24series ul li{ width:49%; margin-bottom:15px;}
.n17_polarity_8_24series ul li:nth-of-type(2){ margin:0 0 15px 0;}
.n17_polarity_12base .aaa,.n17_polarity_12base .bbb{ clear:both; width:100%}
.tetx_12base,.title_12base{ padding:0;}
.n17_polarity_12base dl{ margin: 20px 0 0 0;}
	}
@media(max-width:480px) {
.n17_polarity_list ul li{ width:100%; font-size:13px; margin:0; margin-bottom:15px;}
.n17_polarity_8_24series ul li{ width:100%; margin:0; margin-bottom:15px;}

.n17_polarity_12base_series ul li{width:100%; margin:0;}
	}








