body{margin:0 auto;padding:0;font-size:13px;font-family:'Open Sans',Arial,Helvetica,sans-serif;font-style:normal;font-weight:400;list-style:none}
.box{width:1440px;padding:0;margin:0 auto}
.content{padding:0}
img{display:block}
dd,div,dl,dt,form,h1,h2,h3,input,li,p,select,ul{margin:0;padding:0;list-style:none}

.box{width: 100% !important;}
.public{width: 1440px;margin: 0 auto;}
.public:after{content:"";display:block;clear:both;} 
.fhd_container:after{content:"";display:block;clear:both;} 
.fhd_top_tit{height: 60px;position: relative; border-bottom: 1px solid #828285;}
.fhd_top_tit h2{line-height: 60px;color: #fff;font-size: 16px;font-weight: 400;}
.fhd_top_tit a{text-decoration: none;width: 99px;height: 38px;background: #5381e0; border-radius:3px; color: #FFFFFF;font-size: 14px;font-weight:400; display: inline-block;float: right; text-align: center;line-height: 38px; margin: 11px 0;}

.fhd_div_left,.fhd_div_right{width: 50%;float: left;}
.fhd_div_left .fhd_txt{padding-left: 10px;line-height: 28px;}
.img_container{margin-left: 10px;}
.fhd_div_right img{display: block;margin: 0 auto;height: inherit;max-width: 100%;margin-top: 100px;}
.fhd_tit{font-size:44px;color: #FFFFFF;margin-bottom: 25px; margin-top: 330px; padding-left: 10px; font-weight:400;}
.fhd_txt{font-size: 16px;color: #FFFFFF;font-weight:400;margin-bottom: 45px;}
.fhd_two{background-image:linear-gradient(to top,#000,#4a4a4a)}
.img_container{width: 319px;position: relative; cursor: pointer;}
.img_back{position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: .3;z-index: -1; transition: .3s;border-radius: 10px;}
.img_container:hover .img_back{z-index: 1;background: #000000;}
.fhd_one{position: absolute;top: 111px;width: 100%; z-index: 96; background: #3c3c3c; left: 0;}
.fhd_one.active{position: fixed;top: 0;}
.fhd_bak{width: 100%;height: 60px;background: #232323;opacity: .6;position: absolute;z-index: -1;}
.div_container{margin-top: 80px; margin-bottom: 80px; overflow: hidden;}
.div_left{float: left; width: 705px; height: 670px; background: #f2f2f2;position: relative;}
.div_right{float: right; width: 705px;background: #f2f2f2;height: 670px;}
.div_bottom{height: 188px;width: 100%;margin: 0 auto; padding: 0 54px; box-sizing: border-box; margin-top: -30px;}
.div_bottom h2{color: #232323;text-align: center;}
.div_bottom p{text-align: center; padding: 0 10px;}
.fhd_three{width: 100%;height: 800px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/fhd/FHD_pic01.jpg) no-repeat;background-position: center;}
.div_three h2{color: #FFFFFF;padding-top: 440px;}
.div_three p{color: #FFFFFF; padding-right: 154px; width: 50%;}
.fhd_four{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/fhd/FHD_pic02.jpg) no-repeat; width: 100%;height: 800px; background-position: center;}
.div_four{width: 40%;float: right;}
.div_four h2{padding-top: 434px; color: #232323;}
.div_four p{color: #232323;}
.m_content .fhd_txt{margin-top: 10px;}
.fhd_font{font-size: 44px;line-height: 36px;padding-bottom: 35px; font-weight:400; padding-left: 10px;}
.fhd_text{font-size: 18px;line-height: 28px;font-weight:400; padding-left: 10px;padding-right: 10px;}

.fhd_five{width: 100%;height: 925px;background-image:-webkit-linear-gradient(to left, #333638, #656872);background-image:linear-gradient(to left,#333638,#656872);}
.div_five h2{text-align: center;padding-top: 80px; color: #FFFFFF;}
.div_five p{text-align: center; color: #FFFFFF; padding-left:184px ;padding-right:184px ;}
.fhd_img{display: block;max-width: 100%;height: inherit;margin: 0 auto; margin-top: 90px;}

.fhd_fix .fhd_font{text-align: center; color: #232323; padding-top: 80px;}
.fhd_fix .fhd_text{text-align: center; color: #232323;padding-left: 176px;padding-right: 176px;}
.div_fix{display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;padding-bottom: 50px;flex-wrap: wrap;-webkit-wrap: wrap; margin-top: 40px;}
.div_fix img{max-width: 100%;height: inherit;display: block;margin: 0 auto;}
.div_fix p{padding-bottom: 80px;text-align: center;}
.div_fix p a{font-size:28px;color: #232323;line-height: 22px;font-weight:400;}
.div_fix_left,.div_fix_right{background: #f2f2f2;}
.img_video{width: 0;height: 0;border-top: 20px solid transparent;border-left: 30px solid #fff;border-bottom: 20px solid transparent;position: absolute;z-index: 3;left: 50%;top: 50%;margin-left: -10px;margin-top: -20px;}
.img_none{display: none;margin:0 auto; height: inherit;max-width: 100%; position: absolute; left: 0; top: 0;z-index: -1;}
.fhd_four, .fhd_three{position: relative;}
.four_bg{position: absolute;width: 100%;height: 100%;background: #FFFFFF;opacity: .5; display: none;}
.m_img{display: none;margin: 0 auto;max-width: 100%;height: inherit;}
.m_div{position: absolute; padding-left: 30px; display: none;}
.m_div .fhd_tit{margin-top: 90px;}
.m_div .fhd_txt{padding-top: 10px;}
.m_content{display: inline-block;text-align: center;}
.img_container img{max-width: 100%;height: inherit;display: block;margin: 0 auto;}
.patch_contact{width: 1440px;margin: 0 auto;}

@media(max-width:1440px){
.box{width:100% !important;}	
.public{width:1200px !important; box-sizing: border-box;}
.div_left img,.div_right img{max-width: 100%;height: inherit; display: block;margin: 0 auto;}
.div_left,.div_right{width: 48%;height: inherit;}
.div_bottom{padding: 0;}
.div_fix_left img,.div_fix_right img{display: block;margin: 0 auto;max-width: 100%;height: inherit;}
.div_fix_left,.div_fix_right{width: 48%;}
.patch_contact{width: 1200px;}
}
@media(max-width:1220px){	
.public,.patch_contact{width:960px !important; margin:0 auto ;}
.content{margin:0 auto; width: 100% !important;}
.div_four{width: 50%;}
.fhd_font {font-size: 36px;}
}
@media(max-width:960px){
.public{width:100% !important; box-sizing: border-box;padding:0 10px}
.fhd_div_left{width: auto !important;}
.content,.patch_contact{width:auto !important;}
.div_left, .div_right{width: 100%;}
.div_fix_left, .div_fix_right{width: 100%; background:#fff;}
.div_fix_left{margin-bottom: 20px;}
.div_fix p{padding-bottom: 40px;}
.div_five p{padding:0 10px;}
.div_four{width: 100%;}
.div_four h2,.fhd_three h2{padding-top: 420px;}
.fhd_four,.fhd_three{height: 650px;}
.fhd_fix .fhd_text{padding: 0; text-align:left;}
.div_three p{width: 100%;padding: 0 10px;}
.fhd_five{height: inherit;padding-bottom: 40px;}
.div_left{margin-bottom: 20px;}
.none_tit{color: #FFFFFF;font-size: 24px;padding-top: 90px;}
.fhd_tit{margin-top: 30px;}
.fhd_div_right{display: none;}
.fhd_top_tit{display: none;}
.m_div,.m_img{display: block;}
.fhd_div_left{position: absolute; width: 100%;}
.fhd_div_left .text_only{display: none;}
.img_none,.four_bg{display: block;}

}
@media(max-width:740px){
	.m_div .fhd_tit{margin-top: 20px;}
}
@media(max-width:600px){
	.div_four h2{padding-top: 310px;}
	.fhd_four{height: 500px;}
	.div_bottom{height: 158px;}
	.fhd_four, .fhd_three{height: 480px;}
	.div_four h2, .fhd_three h2{padding-top: 280px; text-align:center;}
	.img_container{width: 200px;}
	.div_container{margin-bottom: 20px;margin-top: 20px;}
}
@media(max-width:480px){
.Enm_banner{height:220px;overflow:hidden}
.Enm_banner_bg{height:220px}
.Enm_business_tit{font-size:24px;line-height:40px;font-weight:400}
.Enm_banner_tit{font-size:24px;line-height:40px;font-weight:400;padding-top:30px;padding-bottom: 10px; margin-bottom: 0;}
.Enm_business_txt{font-size:16px;line-height:22px;font-weight:400}
.fhd_font{font-size: 20px;line-height: 22px;padding-bottom: 10px;}
.fhd_text{font-size: 14px; line-height:24px;}
.div_bottom{height: inherit;padding-bottom: 30px;}
.fhd_four, .fhd_three{height: 238px; background: none;}
.div_four h2, .fhd_three h2{padding-top: 80px;}
.div_five h2{padding-top: 30px;}
.fhd_img{margin-top: 20px;}
.fhd_fix .fhd_font{padding-top: 25px;}
.div_fix{margin-top: 20px;padding-bottom: 14px;}
.public_position{position: relative;z-index: 10;}
.div_fix p{font-size: 20px;padding-bottom: 25px;}
.fhd_tit{font-size:18px;margin-bottom:12px;margin-top:25px;}
.m_content .fhd_txt{ display:none;}
.div_bottom p,.div_five p{ text-align:left;}
.div_fix p a{ font-size:20px;}
}
/*fhx专题*/
.fhd_container.fhx_banner{position: relative;}
.fhd_container.fhx_banner img{max-width: 100%;height: auto;}
.fhd_container.fhx_banner .public{position: absolute;top: 150px;left: 50%;margin-left: -720px;}
.fhx_banner_tit{font-size: 44px;font-weight:400;text-align: center;color: #fff;line-height: 44px;margin-bottom: 35px;}
.fhx_banner_txt{font-size: 18px;color: #fff;font-weight:400;text-align: center;}
.fhd_four.fhx{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/fhx/FHX-02.jpg) no-repeat left;}
.div_four.fhx{width: 46%;}
.div_four.fhx h2{padding-top: 300px;line-height: 50px;}
.fhd_three.fhx{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/fhx/FHX-03.jpg) no-repeat right;}
.fhd_three.fhx h2{padding-top: 300px;line-height: 50px;}
.fhd_four.fhx.fhx_left02{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/fhx/FHX-04.jpg) no-repeat left;}
.div_four.fhx.fhx_left02{width: 38%;}
.div_four.fhx.fhx_left02 h2{padding-top: 340px;}
.fhd_three.fhx.fhx_right02{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/fhx/FHX-05.jpg) no-repeat right;}
.fhd_three.fhx h2{padding-top: 300px;line-height: 50px;}
.fhd_four.fhx.fhx_left03{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/fhx/FHX-06.jpg) no-repeat left;}
.div_four.fhx.fhx_left03{width: 42%;}
.div_four.fhx.fhx_left03 h2{padding-top: 340px;}
.fhd_container.fhd_fix{background-color: #f2f2f2;}
.div_fix.fhx p{background-color: #fff;padding-bottom: 50px;}
.div_fix.fhx p a:hover{text-decoration: none;}
.fhx_more dl{float: left;width: 50%;}
.fhx_more dl img{display: block;margin: 0 auto 35px;}
.fhx_more .fhd_font{text-align: center;padding: 90px 0 70px;}
.fhx_more_tit{font-size: 18px;color: #232323;text-align: center;font-weight: 400;margin-bottom: 15px;}
.fhx_more_txt{font-size: 14px;color: #616265;text-align: center;line-height: 22px;}
.fhd_top_tit a{background-color: #20c7c8;}
.m_block{display: none;}
@media(max-width:1440px){.fhd_container.fhx_banner .public{margin-left: -600px;}.fhd_text br,.fhd_font br{display: none;}.div_four.fhx{width: 38%;}}
@media(max-width:1220px){.fhd_container.fhx_banner .public{margin-left: -480px;}}
@media(max-width:960px){.m_none{display: none !important;}.fhx{padding-bottom: 50px;}.m_block{display: block;}.fhx_banner_tit{font-size: 22px;line-height: 24px;margin-bottom: 15px;}.fhx_banner_txt{font-size: 16px;}.fhd_container.fhx_banner .public{width: 100%;margin-left: 0;top: 30px;left:0;}.div_four.fhx,.div_four.fhx.fhx_left02,.div_four.fhx.fhx_left03{width: 100%;}.div_four.fhx h2{padding-top: 0;line-height: 30px;padding-left: 0;}.fhd_four.fhx,.fhd_three.fhx,.fhd_four.fhx.fhx_left02,.fhd_three.fhx.fhx_right02,.fhd_four.fhx.fhx_left03{background-image: none;}.fhd_three.fhx h2,.div_four.fhx.fhx_left02 h2,.div_four.fhx.fhx_left03 h2{padding-top: 0;line-height: 30px;padding: 0 10px;text-align: left;}.fhx_more_txt br{display: none;}.img_none.fhx{position: static;margin-bottom: 20px;}.fhd_four, .fhd_three{height: auto;}.fhd_three.fhx,.fhd_three.fhx{background-color: #232323 !important;}.fhd_three.fhx .fhd_font,.fhd_three.fhx .fhd_text{color: #fff;}}
@media(max-width:480px){.fhx_more dl{width: 100%;margin-bottom: 20px;}}

