.content{
	padding-top: 0;
}
.fhx_banner{
	height: 380px;
}
.fhx_banner_bg{
	position: absolute;
	width: 100%;
	height: 380px;
	left: 0;
	z-index: -1;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/fhx/fhx_ultra_hd_cabling_banner.jpg) no-repeat center;
}
.fhx_banner_tit{
	font-size: 40px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	padding-top: 130px;
	line-height: 48px;
	margin-bottom: 20px;
}
.fhx_banner_txt{
	font-size: 20px;
	color: #fff;
	text-align: center;
}
.fhx_tit{
	font-size: 30px;
	line-height: 30px;
	color: #232323;
	font-weight: 400;
	padding: 45px 0 30px;
	text-align: center;
}
.fhx_how ul{
	overflow: hidden;
	padding-bottom: 50px;
	border-bottom: 1px solid #dedede;
}
.fhx_how_list{
	float: left;
	width: 32%;
	margin-right: 2%;
	height: 273px;
	box-sizing: border-box;
	padding: 50px 50px 0;
}
.fhx_how_list span{
	display: block;
	width: 58px;
	height: 50px;
	margin: 0 auto 25px;
}
.fhx_how_list:first-child{
	background-color: #f4f9f9;
}
.fhx_how_list:nth-child(2){
	background-color: #f9f7f4;
}
.fhx_how_list:last-child{
	margin-right: 0;
	background-color: #f4f6f9;
}
.fhx_how_list_tit{
	font-size: 18px;
	color: #232323;
	font-weight: 400;
	text-align: center;
	margin-bottom: 15px;
}
.fhx_how_list_txt{
	font-size: 14px;
	color: #888;
	line-height: 24px;
}
.fhx_why{
	padding: 0 110px 20px;
	margin: 0 auto;
	border-bottom: 1px solid #dedede;
	margin-bottom: 30px;
}
.fhx_why_tit01{
	font-size: 18px;
	color: #232323;
	margin-bottom: 15px;
	line-height: 24px;
	font-weight: 400;
}
.fhx_why_txt{
	font-size: 14px;
	color: #616265;
	font-weight:400;
	overflow: hidden;
	margin-bottom: 7px;
	line-height: 22px;
}
.fhx_why_txt span{
	float: left;
	width: 6px;
	height: 6px;
	background-color: #999;
	border-radius: 50%;
	margin-top: 7px;
	margin-right: 7px;
}
.fhx_why_txt em{
	float: left;
	font-style: normal;
	width: 98%;
}
.fhx_why_con{
	margin-bottom: 30px;
}
.fhx_why_con img{
	display: block;
	margin: 30px auto 0;
}
.fhx_why_con .spirit_bs img{
	margin:0;
}
.fhx_why_tit02{
	font-size: 18px;
	color: #232323;
	font-weight: 400;
	text-align: center;
	margin-bottom: 15px;
}
.fhx_why_con.border{
	border-bottom: 1px solid #dedede;
	padding-bottom: 40px;
	margin-bottom: 45px;
}
.fhx_why_con_pic{
	overflow-x: auto;
}
.fhx_why_con .fhx_tit,.fhx_more .fhx_tit{
	padding-top: 10px;
}
.fhx_why_con_table{
	width: 960px;
	margin: 0 auto;
}
.fhx_why_con_table table{
	width: 960px;
}
.fhx_why_con_table table thead{
	width: 100%;
}
.fhx_why_con_table table thead td{
	background-color: #d9e8f7;
	line-height: 50px;
	color: #232323;
	font-size: 18px;
	text-indent: 25px;
}
.fhx_why_con_table table tbody td{
	line-height: 50px;
	/*text-indent: 25px;*/
	font-size: 14px;
	border: 1px solid #dedede;
	border-top: none;
	height: 50px;
	padding-left:25px;
}
.fhx_why_con_table table tbody td a{
	color: #616265;
}
.fhx_why_con_table table tbody td a:hover{
	color: #0070BC;
	text-decoration: underline;
}
.fhx_why_con_table table tbody td:first-child{
	border-left: none;
}
.fhx_why_con_table table tbody tr td:last-child{
	border-left: none;
	border-right: none;
}
.fhx_why_con_table_txt{
	margin-top: 50px;
	font-size: 18px;
	font-weight:400;
	color: #616265;
	margin-bottom: 10px;
}
.fhx_why_con_table_href{
	text-align: right;
	font-size: 18px;
	color: #0070BC;
	font-weight:400;
}
.fhx_why_con_table_href a{
	color: #0070BC;
	margin-right: 5px;
}
.fhx_why_con_table_href span{
	font-size: 14px;
}
.fhx_more{
	margin-bottom: 50px;
}
.fhx_more ul{
	overflow: hidden;
}
.fhx_more_list{
	float: left;
	width: 49%;
	margin-right: 2%;
	position: relative;
}
.fhx_more_list:last-child{
	margin-right: 0;
}
.fhx_more_list_font{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	left: 0;
	top:0
}
.fhx_more_list_font h2{
	font-size: 24px;
	color: #fff;
	text-align: center;
	font-weight: 400;
	padding-top: 130px;
	margin-bottom: 15px;
}
.fhx_more_list_font p{
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 22px;
}
.fhx_more_list_href{
	position: relative;
	z-index: 15;
}
.fhx_more_list_href{
	font-size: 16px;
	color: #0070BC;
	text-align: center;
	margin-top: 20px;
}
.fhx_more_list_href a{
	color: #0070BC;
	margin-right: 5px;
}
.fhx_more_list_href span{
	font-size: 12px;
	
}
@media(max-width:1440px){
	.fhx_more_list img{
		max-width: 100%;
		height: auto;
	}
	.fhx_more_list_font h2{
		padding-top: 110px;
	}
}
@media(max-width:1220px){
	.fhx_how_list{
		padding: 50px 20px 0;
	}
	.fhx_why{
		padding: 0 0 20px;
	}
	.fhx_more_list_font h2{
		padding-top: 80px;
	}
}
@media(max-width:960px){
	.content{
		width: auto;
		padding: 0 10px;
	}
	.fhx_why{
		width: auto;
	}
	.fhx_why_con_table{
		width: auto;
		overflow-x: auto;
	}
}
@media(max-width:768px){
	.fhx_how_list{
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.fhx_more_list{
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
}
@media(max-width:480px){
	.fhx_banner,.fhx_banner_bg{
		height: 220px;
	}
	.fhx_banner_bg{
		background-size: cover;
	}
	.fhx_banner_tit{
		font-size: 22px;
	    padding: 50px 10px 0;
		line-height: 30px;
	}
	.fhx_banner_txt{
		font-size: 16px;
	}
	.fhx_tit{
		font-size: 20px;
		padding: 30px 0 20px;
	}
	.fhx_why_txt em{
		width: 95%;
	}
	.fhx_more_list_font p br{
		display: none;
	}
	.fhx_more_list_font h2{
		padding-top: 30px;
		line-height: 30px;
		margin-bottom: 5px;
	}
}
