* {
    margin: 0;
    padding: 0;
}

.marginT28 {
    margin-top: 40px;
}

.marginT25 {
    margin-top: 40px;
}

.marginT23 {
    margin-top: 30px;
}


.bgfff {
    background: #fff;
}

.color616265 {
    color: #616265;
}

.color0070BC {
    color: #0070BC;
}

.GSP-banner {
    height: 200px;
    width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
}

.GSP-bg {
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/gsp-alone-imgbox/GSP_banner_bg.jpg");
}

.GSP-banner-tit {
    font-size: 40px;
    line-height: 44px;
    color: #fff;
    font-weight: 400;
    padding-top: 60px;
    margin-bottom: 10px;
    text-align: center;
}

.GSP-banner-txt {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.GSP-main {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.GSP-h2 {
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
}

.GSP-main-bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #f7f7f7;
}

.GSP-global-box {
    padding-top: 40px;
}

.GSP-global {
    padding: 45px 60px;
}

.GSP-global h2 {
    text-align: center;
}

.GSP-p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px;
}

.GSP-works-box,
.GSP-FAQs {
    padding-top: 20px;
}

.GSP-works-p-one {
    font-size: 20px;
    line-height: 20px;
    color: #232323;
}

.GSP-works-p-two {
    font-size: 14px;
    color: #616265;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    padding-left: 20px;
}

.GSP-works-ul {
    margin-top: 20px;
    padding-left: 22px;
}

.GSP-works-ul {
    font-size: 14px;
}

.GSP-works-ul li {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
}
.GSP-works-li-span{
    display: inline-block;
}
.GSP-works-li-span::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #616265;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    top: 8px;
}

.GSP-works-tab-box {
    padding-left: 22px;
    margin-top: 20px;
}

.GSP-works-tab {
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-collapse: collapse
}

.GSP-works-tab td {
    width: 25%;
    border: 1px solid #E5E5E5;
}

.GSP-works-tab thead tr {
    background: #f7f7f7;
    height: 74px;
}

.GSP-works-tab tbody tr {
    height: 52px;
}

.GSP-FAQs-p {
    font-size: 16px;
    font-weight: 600;
}

.GSP-FAQs-text {
    padding: 10px 20px;
    margin-top: 12px;
    background: #f7f7f7;
}

.GSP-a,.GSP-a:hover{
    color: #0070BC;
}

.GSP-works-course {
    padding: 60px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}

.GSP-works-course-order {
    width: 42px;
    height: 34px;
}

.GSP-works-course-shipping {
    width: 70px;
    height: 30px;
}

.GSP-works-course-customs {
    width: 42px;
    height: 34px;
}

.GSP-works-course-domestic {
    width: 56px;
    height: 36px;
}

.GSP-works-course-charges {
    width: 38px;
    height: 34px;
}

.GSP-works-course li {
    text-align: center;
}

.GSP-works-course li p {
    text-align: left;
}

.GSP-course-p {
    font-size: 14px;
    color: #616265;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
    /* white-space: nowrap; */
}

.GSP-works-tab-box-m {
    display: none;
}

.GSP-solid {
    width: 86px;
    height: 5px;
    margin-top: 15px;
}

.GSP-works-course-m {
    display: none;
}

@media (max-width: 1220px) {

    .GSP-main,
    .GSP-banner {
        width: 960px;
    }

    .GSP-works-course {
        overflow-y: auto;
    }
}

@media (max-width: 960px) {

    .GSP-main,
    .GSP-banner {
        width: 768px;
    }
}

@media (max-width:768px) {

    .box,
    .content {
        width: 100%;
    }

    .GSP-main,
    .GSP-banner,
    .GSP-bg {
        width: 100%;
    }

    .GSP-banner,
    .GSP-bg {
        height: 220px;
        padding: 0;
    }

    .GSP-bg {
        background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/gsp-alone-imgbox/GSP_banner_bg-m.jpg");
    }

    .GSP-main {
        padding-bottom: 0;
    }

    .GSP-banner-txt {
        display: none;
    }

    .GSP-global {
        padding: 28px 12px;
    }

    .GSP-works-box,
    .GSP-FAQs {
        padding-top: 7px;
    }

    .GSP-global-box {
        padding-top: 0px;
    }

    .GSP-global h2 {
        font-size: 20px;
        padding: 0 50px;
    }

    .GSP-works-p-one {
        font-size: 16px;
        margin-top: 25px;
    }

    .GSP-works-p-two {
        margin-top: 15px;
    }

    .GSP-p {
        margin-top: 10px;
    }

    .GSP-works-tab-box {
        display: none;
    }

    .GSP-works-tab-box-m {
        display: block;
        padding-left: 22px;
        margin-top: 15px;
    }

    .GSP-works-tab-m {
        width: 100%;
        font-size: 14px;
        border-collapse: collapse;
        text-align: center;
    }

    .GSP-works-tab-m td {
        height: 74px;
        width: 25%;
        border: 1px solid #E5E5E5;
    }

    .GSP-works-tab-m tr td:first-child {
        background: #f7f7f7;
    }

    .GSP-banner-tit {
        font-size: 26px;
        line-height: 34px;
        padding-top: 70px;
        margin: 0 auto;
        text-align: center;
    }

    .GSP-works-course {
        display: none;
    }

    .GSP-works-course-m {

        display: block;
    }

    .GSP-works-course-m li {
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .GSP-works-course-m li>div {
        width: 64px;
        margin: 30px 22px 0 15px;
    }

    .GSP-works-course-m li>div>img {
        margin: 0 auto;
        display: block;
    }

}

@media (max-width: 480px) {

    .GSP-banner-tit {
        width: 230px;
    }

    .GSP-course-p {
        line-height: 20px;
    }

    .GSP-pro {
        display: inline-block;
        height: 40px;
        float: left;
        width: 17px;
    }

}