body{margin:0 auto; padding:0; font-size:13px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-style:normal; font-weight:400;list-style: none;}
.box {width: 1440px; padding: 0; margin: 0 auto;}
.content {padding: 0;}
img{display: block;}
h1, h2, h3, p, ul, li, dl, dt, dd, input, select, form, div { margin: 0; padding: 0;list-style: none;}

/*样式开始*/
.Hicp_banner{
	height: 380px;
}
.Hicp_banner_bg{
	position: absolute;
	left: 0;
	width: 100%;
	height: 380px;
	z-index: -1;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/handle_issues_concerning_polarity/handle_issues_concerning_polarity_banner.jpg) no-repeat center;
}
.Hicp_banner_tit{
	font-size: 36px;
	color: #fff;
	text-align: center;
	padding-top: 140px;
	margin-bottom: 24px;
	font-weight: 400;
	line-height: 40px;
}
.Hicp_banner_txt{
	font-size: 20px;
	color: #fff;
	font-weight:400;
	text-align: center;
	line-height: 24px;
}
.Hicp_business{
	overflow: hidden;
}
.Hicp_business_tit{
	font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 58px;
    line-height: 32px;
    padding-bottom: 24px;
    color: #232323;
}
.Hicp_business_tit_TWO{
	padding-bottom: 40px;
}
.Hicp_business_txt{
	font-size: 14px;
	color: #616265;
	text-align: center;
	line-height: 22px;
	padding-bottom: 40px;
	font-weight:400;
}
.Hicp_content{
	margin: 0 120px;
}
.bg_two{
	background:url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/handle_issues_concerning_polarity/handle_issues_concerning_polarity_02.png) no-repeat;
}




.Hicp_handle_right{
	width: 50%;
	float: right;
}
.Hicp_tit{
	font-size: 22px;
	line-height: 32px;
	color: #232323;
	padding-top: 120px;
	font-weight: 400;
}
.Hicp_txt{
	padding-top: 10px;
	font-size: 14px;
	line-height: 30px;
	color: #727272;
	padding-bottom: 18px;
}
.Hicp_a{
	display: inline-block;
	width: 116px;
	height: 34px;
	border: 2px solid #0070BC;
	text-align: center;
	line-height: 34px;
	color: #0070BC;
	text-decoration: none;
	border-radius: 3px;
	font-size: 14px;
	margin-bottom: 110px;
	transition: all .3s; 
}
.Hicp_a:hover{
	background: #0070BC;
	color: #fff;
	text-decoration: none;
}
.Hicp_business_h3{
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	color: #232323;
	text-align: center;
	padding-bottom: 16px;
}
.Hicp_select_tit{
	font-size: 18px;
	font-weight: 600;
	color: #616265;
	line-height: 24px;
	padding-top: 58px;
	padding-bottom: 28px;
	font-weight: 400;
}
.Hicp_business_txt_none{
	padding-bottom: 0;
}
.Hicp_select:after{content:"";display:block;clear:both;} 
.Hicp_select{
	margin-top: 30px;
	background: #f4f4f4;
}
.Hicp_select_div{
	width: 50%;
	float: left;
}
.Hicp_select_a{
	width: 220px;
	height: 40px;
	background: #e5e5e5;
	font-size: 14px;
	line-height: 40px;
	color: #232323;
	font-weight:400;
	text-align: center;
	text-decoration: none;
}
.Hicp_select_dl{
	float: left;
	margin: 0 1%;
}
.Hicp_select_dl:first-child{margin-left: 0;}
.Hicp_select_dl dd{
	position: relative;
	overflow: hidden;
}
.Hicp_select_dl dt img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
	height: inherit;
}
.Hicp_select_div_left img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
	height: inherit;
}
.Hicp_select_div_right{
	float: right;
}
.Hicp_div_right_tit{
	padding-left: 30px;
}
.Hicp_dl_right{
	margin-left: 28px;
}
.Hicp_dl_right.Hicp_select_dl{margin-left: 28px;}
.Hicp_dl_only{
	margin-right: 0;
}
.Hicp_select_border{
	border-top: 1px solid #dedede;
	margin-top: 60px;
}
.Hicp_h3{
	margin-top: 50px;
}
.Hicp_business_txt_bottom{
	padding-bottom: 30px;
}
.Hicp_container img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
	height: inherit;
}
.Hicp_select_background_none{
	background: none;
}
.Hicp_select_div_container:after{content:"";display:block;clear:both;} 
.Hicp_select_background{
	background: #f4f4f4;
}
.Hicp_dl_one{
	margin-left: 0;
}
.Hicp_select_tit_right{
	padding-bottom: 40px;
	padding-top: 40px;
}
.Hicp_select_tit_right,.Hicp_select_txt_right{
	padding-left: 40px;
}
.Hicp_select_txt_right{
	font-size: 14px;
	font-weight:400;
	line-height: 22px;
	color: #616265;
}
.Hicp_container_border{
	border-bottom: 1px dashed #d9d9d9;
	margin: 24px 0;
}
.Hicp_select_txt_left{
	padding-right: 40px;
	font-size: 14px;
    font-weight:400;
    line-height: 22px;
    color: #616265;
}
.Hicp_dl{
	margin: 0;
	margin-right: 2%;
}
.Hicp_dl_right_dl{
	margin-right: 0;
}
.Hicp_select_dl_one{
	margin-left: 30px;
}
.Hicp_business_txt_none{
	padding-bottom: 0;
}
.Hicp_container_three{
	margin-top: 50px;
}
.Hicp_select_systems{
	margin-top: 50px;
}
.Hicp_select_systems_tit{
	font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #232323;
	padding-top: 50px;
	padding-bottom: 30px;
}
.Hicp_select_txt_{
	text-align: center;
}
.Hicp_select_systems_div img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: inherit;
}
.Hicp_select_concerning:after{content:"";display:block;clear:both;}
.Hicp_select_concerning{
	margin-bottom: 110px;
}
.Hicp_select_concerning dl{
	width: 32%;
	float: left;
	margin-right: 2%;
}
.Hicp_select_concerning .Hicp_dl_right{
	margin-right: 0;
	margin-left:0;
}
.Hicp_select_concerning_a{
	height: 66px;
	display: inline-block;
	width: 100%;
	line-height: 66px;
	text-align: center;
	background: #e5e5e5;
	color: #232323;
	border-radius: 3px;
	text-decoration: none;
	font-size: 18px;
}
.Hicp_select_systems_bg{
	position: absolute;
	left: 0;
	width: 100%;
	height: 1319px;
	z-index: -1;
	background: #f6f6f6;
}
.Hicp_select_tit_only{
	padding-top: 34px;
}
.Hicp_select_concerning_dl,.Hicp_select_dl{
	cursor: pointer;
}
.Hicp_select_concerning_dl dt img{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: inherit;
}
.Hicp_select_concerning_dl dd{
	position: relative;
	height: 66px;
	overflow: hidden;
}
.Hicp_hover{
	background: #0070BC;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	font-weight:400;
	height: 40px;
	text-align: center;
	position: absolute;
	bottom: -40px;
	width: 100%;
	transition: all .5s;
	transform: translateY(0);
}
.Hicp_select_concerning_hover{
	background: #0070BC;
	color: #fff;
	font-size: 18px;
	line-height: 66px;
	font-weight:400;
	height: 66px;
	text-align: center;
	position: absolute;
	bottom: -66px;
	width: 100%;
	transition: all .5s;
	transform: translateY(0);
}
.Hicp_select_dl:hover .Hicp_hover{
	transform: translateY(-40px);
}
.Hicp_select_concerning_dl:hover .Hicp_select_concerning_hover{
	transform: translateY(-66px);
}

.our_advantages_txt{
	font-size: 16px;
	line-height: 25px;
	color: #232323;
	padding-bottom: 18px;
}
.Hicp_select_border_only{
	margin-bottom: 50px;
	padding-bottom: 45px;
	text-align: center;
}
.Hicp_select_border_only .Hicp_select_div{display: inline-block;float: none;}
.Hicp_select_border_only .Hicp_select_div>div{display: inline-block;text-align: center;}
.Hicp_select_border_only .Hicp_select_div>div>a{float: left;margin-right: 15px;}
.Hicp_select_border_only .Hicp_select_div>div>a:last-child{margin-right: 0;}
.Hicp_select_border_only .Hicp_select_tit{padding-top: 40px;}

.our_advantages { padding:60px 0 25px; overflow:hidden;}
.our_advantages h1 { font-size:30px; font-weight:normal; text-align:center; margin-bottom:50px; color: #232323;}
.our_advantages p{font-size: 14px;font-weight:400;color: #616265;line-height: 22px;text-align: center;margin-bottom: 50px;}
.our_advantages ul li { float:left; width: 23%; text-align:center; background: #f6f6f6; height: 340px; margin-right: 2%; padding-bottom: 40px;}
.our_advantages ul li img { display:block; margin:0 auto; padding-top: 70px;}
.our_advantages_text { padding:50px 40px 20px;}
.our_advantages ul li h1 { font-size:18px; font-weight:normal; color:#232323; margin-bottom:10px;}
.our_advantages ul li p { font-size:14px; color:#616265; font-weight:400;}

@media(max-width:1440px){
	.box{
		width: 1200px;
	}
	.Hicp_select_div{
		width: 60%;
	}
	.Hicp_select .Hicp_select_div_left{
		width: 40%;
	}
	.Hicp_select_div_left img{
		padding-top: 10px;
	}
	.Hicp_select_tit{
		padding-top: 28px;
	}
	.Hicp_select_tit_only{
		padding-top: 8px;
	}
	.Hicp_select_concerning dl:nth-child(1){
		margin-left: 10px;
	}
	.Hicp_select_systems_bg{
		height: 1552px;
	}
	.Hicp_select_border_only .Hicp_select_tit{padding-top: 28px;}
}	
@media(max-width:1220px){
	.box{
		width: 960px;
	}
	.Hicp_select_div{
		width: 100%;
	}
	.Hicp_select_div_right{
		float: left;
	}
	.Hicp_select .Hicp_select_div_left{
		width: 100%;
	}
	.Hicp_select_concerning dl{
		margin-right: 3%;
	}
	.Hicp_select_systems_bg{
		height: 1060px;
	}
	.Hicp_select_tit_right, .Hicp_select_txt_right{
		padding-left: 0;
	}
	.Hicp_select_dl_one{
		margin-left: 0;
	}
	.Hicp_content{
		margin: 0;
	}
	.Hicp_div_right_tit{
		padding-left: 0;
	}
	.Hicp_select_dl{
		margin: 0 1%;
	}
	.Hicp_dl_right.Hicp_select_dl{margin: 0 1%;}
}	
@media(max-width:960px){
	.box{
		width: 100%;
	}
	.content{
		width: auto;
		padding: 0 10px;
	}
	.Hicp_select_concerning dl{
		width: 45%;
		margin-bottom: 20px;
	}
	.Hicp_select_concerning dl:last-child{
		margin-left: 10px;
	}
	.Hicp_select_concerning_dl dd{
		height: 66px;
	}
	.Hicp_select_systems_bg{
		height: 1310px;
	}
	.Hicp_handle_right{
		width: 100%;
	}
	.our_advantages ul li { width:48%;margin-bottom: 2%;}
}
@media(max-width:700px){
	.Hicp_select_concerning dl{
		width: 100%;
	}
	.Hicp_select_systems_bg{
		height: 1983px;
	}
	.Hicp_select_dl{
		margin-bottom: 20px;
	}
}
@media(max-width:480px){
	.Hicp_banner{
		height: 220px;
		overflow: hidden;
	}
	.Hicp_banner_bg{
		height: 220px;
	}
	.Hicp_business_tit{
		font-size: 18px;
		line-height: 40px;
		font-weight: 400;
	}
	.Hicp_banner_tit{
		font-size: 28px;
		line-height: 40px;
		font-weight: 400;
		padding-top: 30px;
	}
	.Hicp_business_txt{
		font-size: 16px;
		line-height: 22px;
		font-weight:400;
	}
	.Hicp_select_dl{
		width: 100%;
		margin: 0;
		margin-top: 10px;
	}
	.Hicp_select_dl dt,.Hicp_select_dl dd{
		width: 100%;
	}
	.Hicp_select_a{
		width: 100%;
	}
	.Hicp_select{
		background: none;
	}
	.Hicp_select_dl{
		background: #fff;
	}
	.Hicp_handle_right{
		width: 100%;
		float: initial;
	}
	.Hicp_tit{
		font-size: 24px;
		padding-top: 10px;
	}
	.Hicp_a{
		margin-bottom: 29px;
	}
	.Hicp_div_right_tit,.Hicp_select_tit{
		font-size: 16px;
		line-height: 24px;
		text-align: center;
	}
	.Hicp_select_a{
		height: 60px;
		line-height: 60px;
	}
	.Hicp_dl_background{
		background: #f4f4f4;
	}
	.Hicp_select_systems_bg{
		height: 1770px;
	}
	.Hicp_select_concerning dl:nth-child(1),.Hicp_select_concerning dl:last-child{
		margin-left: 0;
	}
	.bg_two{
		background-position: -620px;
	}
	.Hicp_select_concerning dl:last-child{
		margin-bottom: 0;
	}
	.Hicp_select_dl dt img{
		padding-top: 20px;
    	padding-bottom: 40px;
	}
	.Hicp_hover{
		height: 60px;
		line-height: 60px;
		bottom: -60px;
	}
	.Hicp_select_dl:hover .Hicp_hover{
		transform: translateY(-60px);
	}
	.Hicp_select_dl{
		background: #f4f4f4;
	}
	.our_advantages ul li { width:100%;}
	.our_advantages h1{font-size: 20px;line-height: 30px;}
	.Hicp_select_dl{
		background: #fff;
	}
	.Hicp_select_background_bg{
		background: #F4F4F4;
		position: absolute;
		left: 0;
		width: 100%;
		height: 1236px;
		z-index: -1;
	}
	.Hicp_dl_background{
		background: #F4F4F4;
	}
}	