.content { padding: 0; width: auto; }
.hd_banner { height: 380px; }
.hd_banner_bg { position: absolute; width: 100%; height: 380px; left: 0; z-index: -1; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/hdscr/High-density-Server-Cabinets-Racks-Enclosure02.jpg) no-repeat center; }
.hd_banner_tit { font-size: 36px; color: #fff; text-align: center; font-weight: 400; padding-top: 120px; line-height: 40px; }
.hd_banner_txt { font-size: 18px; color: #fff; text-align: center; line-height: 22px; margin-top: 25px; }
.hd_swiper { padding: 15px 24px 45px; }
.hd_swiper a { display: block; text-decoration: none; }
.hd_swiper img { display: block; margin: 0 auto; }
.hd_swiper p { text-align: center; color: #616265; font-size: 14px; }
.hd_swiper .swiper-slide { padding: 0 12px; box-sizing: border-box; }
.hd_swiper .swiper-button-prev { left: 10px; background: 0 0; color: #828282; text-align: left; font-size: 20px; line-height: 44px; }
.hd_swiper .swiper-button-next { right: -2px; background: 0 0; color: #828282; text-align: right; font-size: 20px; line-height: 44px; }
.hd_choose_bg { position: absolute; width: 100%; background-color: #f6f6f6; z-index: -1; left: 0; }
.hd_choose_proul { padding-top: 50px; overflow: hidden; }
.hd_choose_proul li { float: left; width: 32%; margin-right: 2%; background-color: #fff; height: 510px; }
.hd_choose_proul li:last-child { margin-right: 0; }
.hd_choose_proul li a { display: block; text-decoration: none;padding:0 30px;}
.hd_choose_proul li img { display: block; margin: 0 auto; max-width: 100%; height: auto; }
.hd_choose_proul li h2 { font-size: 18px; color: #232323; font-weight: 400; text-align: center; margin-bottom: 20px; }
.hd_choose_proul li p { font-size: 14px; color: #616265; line-height: 32px; font-weight:400; border-bottom:1px dotted #dedede;padding-bottom:3px;}
.hd_choose_proul li:first-child p { padding-left: 57px; }
.hd_choose_proul li:nth-child(2) p {
 padding-left: 37px;
}
.hd_choose_proul li:last-child p { padding-left: 67px; }
.hd_choose_proul li p span { display: inline-block; width: 16px; height: 17px; background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/hdscr/icon.png); background-repeat: no-repeat; vertical-align: middle; margin-right: 15px; }
.hd_choose_proul_icon01 { background-position: -154px -170px; }
.hd_choose_proul_icon02 { background-position: -207px -170px; }
.hd_choose_proul_icon03 { background-position: -259px -171px; }
.hd_tit { font-size: 30px; color: #232323; font-weight: 400; text-align: center; line-height: 32px; padding: 50px 0 30px; }
.hd_txt { font-size: 14px; font-weight:400; color: #616265; text-align: center; line-height: 22px; margin-bottom: 35px; }
.hd_choose_howul { overflow: hidden; padding-bottom: 50px; }
.hd_choose_howul li { float: left; width: 32%; margin-right: 2%; position: relative; }
.hd_choose_howul li:last-child { margin-right: 0; }
.hd_choose_howul li img { display: block; max-width: 100%; height: auto; }
.hd_choose_howul_main { position: absolute; width: 100%; z-index: 1; left: 0; top: 0; height: 100%; }
.hd_choose_howul li .hd_choose_howul_main { padding-top: 60px; transform: translateY(60px);  transition: all .8s;
}
.hd_choose_howul li:first-child .hd_choose_howul_main_icon { display: block; width: 41px; height: 49px; margin: 0 auto 25px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/hdscr/icon.png) no-repeat -51px -22px; }
.hd_choose_howul_main h2 { font-weight: 400; font-size: 18px; color: #fff; text-align: center; margin-bottom: 20px; }
.hd_choose_howul li p { padding-left: 25px; font-size: 14px; color: #fff; line-height: 24px; opacity: 0;  transition: all .8s;
}
.hd_choose_howul li:hover .hd_choose_howul_main { transform: translateY(0); }
.hd_choose_howul li:hover p { opacity: 1; }
.hd_choose_howul li p span { display: inline-block; width: 8px; height: 8px; border-radius: 50%; background-color: #b9bcc5; vertical-align: middle; margin-right: 10px; }
.hd_choose_howul li:nth-child(2) .hd_choose_howul_main_icon {
 display: block;
 width: 51px;
 height: 51px;
 margin: 0 auto 25px;
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/hdscr/icon.png) no-repeat -186px -24px;
}
.hd_choose_howul li:nth-child(3) .hd_choose_howul_main_icon {
 display: block;
 width: 45px;
 height: 47px;
 margin: 0 auto 25px;
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/hdscr/icon.png) no-repeat -353px -25px;
}
.hd_better img { max-width:100%; height:auto; display:block; margin:15px auto 50px; }
.hd_choose_new .hd_choose_proul{padding:40px 0 50px;}
.hd_choose_new_bg { position:absolute; left:0; width:100%; z-index:-1; background-color:#f6f6f6; }
.mm_quality.hd { margin-top: 0; }
.swiper-container.hd { display: block; }
.mm_advantaged_list_icon.icon01.hd { width: 45px; height: 45px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/hdscr/icon.png) no-repeat -50px -98px; }
.mm_advantaged_list_icon.icon02.hd { width: 54px; height: 48px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/hdscr/icon.png) no-repeat -188px -99px; }
.mm_advantaged_list_icon.icon03.hd { width: 48px; height: 48px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/hdscr/icon.png) no-repeat -347px -100px; }
.mm_quality_list.hd h3 { margin-bottom: 15px; }
@media(max-width:1440px) {
 .hd_choose_proul li:first-child p {
 padding-left: 50px;
}
 .hd_choose_proul li:nth-child(2) p {
 padding-left: 29px;
}
 .hd_choose_proul li:last-child p {
 padding-left: 60px;
}
 .hd_choose_howul li:first-child .hd_choose_howul_main {
 padding-top: 20px;
}
 .hd_choose_howul li:nth-child(2) .hd_choose_howul_main, .hd_choose_howul li:nth-child(3) .hd_choose_howul_main {
 padding-top: 20px;
}
}
@media(max-width:1220px) {
 .hd_choose_proul li:first-child p {
 padding-left: 14px;
}
 .hd_choose_proul li:last-child p {
 padding-left: 22px;
}
 .hd_choose_howul li:first-child .hd_choose_howul_main {
 padding-top: 10px;
}
 .hd_choose_howul li:first-child .hd_choose_howul_main_icon {
 margin-bottom: 5px;
}
 .hd_choose_howul_main h2 {
 font-size: 16px;
 margin-bottom: 10px;
}
 .hd_choose_howul li p {
 font-size: 13px;
 line-height: 22px;
}
 .mm_txt br, .hd_txt br {
 display: none;
}
 .mm_advantaged_list p br {
 display: none;
}
}
@media(max-width:960px) {
 .content {
 padding: 0 10px;
}
 .hd_banner_bg {
 background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/hdscr/m_banner.jpg);
 background-size: cover;
}
 .hd_choose_proul li {
 width: 100%;
 margin-right: 0; height:inherit; padding-bottom:20px;
 margin-bottom: 20px;
}
 .hd_choose_proul li:first-child p, .hd_choose_proul li:nth-child(2) p, .hd_choose_proul li:last-child p {
 padding-left: 30%;
}
 .hd_choose_howul li {
 width: 49%;
 margin-right: 2%;
 margin-bottom: 20px;
}
 .hd_choose_howul li:nth-child(2) {
 margin-right: 0;
}
 .hd_choose_howul li:first-child .hd_choose_howul_main {
 padding-top: 50px;
}
 .mm_quality_list img {
 height: auto;
}
.mm_quality_bg,.hd_choose_bg{ display:none !important;}
.hd_choose_proul{ border-bottom:1px solid #dedede;}
.mm_quality.hd{ border-top:1px solid #dedede; border-bottom:1px solid #dedede; }

}
@media(max-width:678px) {
 .hd_choose_howul li {
 width: 100%;
 margin-right: 0;
}
 .hd_choose_howul li img {
 margin: 0 auto;
}
 .hd_choose_howul li p {
 padding-left: 105px;
}
.hd_choose_proul{    padding-top: 20px;}
}
@media(max-width:480px) {
 .hd_banner_tit {
 font-size: 24px;
 line-height: 30px;
 padding-top: 50px;
}
.hd_banner_txt{margin-top: 15px;}
 .hd_banner {
 height: 220px;
}
 .hd_banner_bg {
 height: 220px;
}
 .hd_banner_txt {
 font-size: 16px;
 line-height: 20px;
}
 .hd_banner_txt br {
 display: none;
}
 .hd_choose_proul li:first-child p, .hd_choose_proul li:nth-child(2) p, .hd_choose_proul li:last-child p {
 padding-left: 10px;
}
 .hd_tit {
 padding: 30px 0 10px;
 font-size: 22px; line-height:30px; text-align:left;
}
.hd_txt,.mm_txt{text-align:left;}
.hd_choose_howul{ padding-bottom:inherit;}
 .hd_choose_howul li p {
 padding-left: 10px;
}
 .hd_swiper {
 padding: 15px 0 30px;
}
 .hd_swiper .swiper-button-prev {
 left: 0;
}
 .hd_choose_howul li .hd_choose_howul_main {
 padding-top:20px !important;
}
}
