body{margin:0 auto;padding:0;font-size:13px;font-family:'Open Sans',Arial,Helvetica,sans-serif;font-style:normal;font-weight:400;list-style:none}
.box{width:1440px;padding:0;margin:0 auto}
.content{padding:0}
img{display:block}
dd,div,dl,dt,form,h1,h2,h3,input,li,p,select,ul{margin:0;padding:0;list-style:none}
.Enm_banner{height:380px}
.Enm_banner_bg{position:absolute;left:0;width:100%;height:380px;z-index:-1;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/Hybrid_CWDM/Hybrid_CWDM_DWDM_banner.jpg) no-repeat center}
.Enm_banner_tit{font-size:38px;color:#fff;text-align:center;padding-top:80px;margin-bottom:20px;font-weight:400;line-height:40px}
.Enm_banner_txt{font-size:18px;color:#fff;font-weight:400;text-align:center;line-height:24px}
.Enm_business{overflow:hidden}
.Enm_business_tit{font-size:30px;color:#616265;font-weight:400;text-align:center;padding-top:58px;line-height:32px;padding-bottom:24px}
.Enm_business_tit_TWO{padding-bottom:40px}
.Enm_business_txt{font-size:16px;color:#616265;text-align:center;line-height:24px;padding-bottom:40px;font-weight:400}
.public:after{content:"";display:block;clear:both}
.public_wap{height:208px}
.public_bg{position:absolute;left:0;width:100%;height:208px;z-index:-1;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/Hybrid_CWDM/Hybrid_CWDM_DWDM_01.jpg) no-repeat center}
.container{margin:0 120px}
.txt_top{padding-top:45px;padding-bottom:20px}
.dom_txt{font-size:30px;color:#232323;padding-top:110px;text-align:center;font-weight:400;padding-bottom:70px; line-height: 30px;}
.dl_container:after{content:"";display:block;clear:both}
.public_dl{width:33%;float:left}
.public_dl dt img{display:block;max-width:100%;height:inherit;margin:0 auto;padding-bottom:45px}
.dl_tit{font-size:18px;color:#616265;font-weight:500;text-align:center;padding-bottom:20px}
.dl_txt{font-size:14px;color:#999;text-align:center;line-height:22px;padding:0 60px}
.dl_container{padding-bottom:115px}
.public_bom_bg{position:absolute;left:0;width:100%;height:591px;z-index:-1;background:linear-gradient(0deg,#f7f7f7 0,#fff 100%)}
.public_txt{font-size:14px;color:#616265;line-height:22px;text-align:center;font-weight:400}
.dom_bottom{padding-bottom:40px}
.public_txt_bottom{padding-bottom:20px}
.img_top img{display:block;margin:0 auto;height:inherit;padding-top:75px}
.how_dl dl{width:100%}
.how_dl_h2{position:relative;padding-bottom:15px}
.how_dl_h2 i{display:inline-block;width:6px;height:6px;background:#0070BC;transform:rotate(45deg);position:absolute;top:8px}
.how_dl_h2 p{font-size:16px;color:#0070BC;margin-left:20px}
.text_align{text-align:inherit}
.public_txt em{font-style:normal;font-weight:600;padding-right:6px}
.how_dl dd{padding-bottom:25px}
.img_bottom{padding-bottom:70px}
.how_table{width:100%}
.how_table tr:first-child td{background:#eaeaea;height:52px;color:#232323;font-size:18px; text-align: left;}
.how_table tr td{font-size:14px;color:#616265;height:50px;border-bottom:1px solid #eaeaea;border-right: 1px solid #EAEAEA;}
.how_table tr td:first-child{padding-left: 100px;}
.how_table tr td:last-child{border-right: none;}
.how_left a{text-decoration:none;font-size:14px;color:#616265}
.how_left a:hover{color:#0070BC;text-decoration:underline}
.need_dl dd h2 a{text-decoration:none;color:#0070BC}
.need_dl dd h2 a:hover{text-decoration:underline}
.padding_left{padding-left:100px}
.how_bg{position:absolute;left:0;width:100%;height:1178px;z-index:-1;background:#F7F7F7}
.how_left{padding-left:150px}
.dom_top{padding-top:70px}
.need_bottom{padding-bottom:40px}
.need_wap{display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;padding-bottom: 50px;flex-wrap: wrap;-webkit-wrap: wrap;}
.need_dl dt img{max-width: 100%;height: inherit;display: block;margin: 0 auto;}
.need_dl dt{margin-bottom: 45px;}
.need_div{width: 700px;}
.need_h2{font-size: 18px;line-height: 24px;color: #616265;text-align: center;margin-bottom: 10px;margin-bottom: 10px; font-weight: 500;}
.need_p{font-size: 14px;color: #999999;line-height: 22px;font-weight:400; text-align: center; padding: 0 110px; margin-bottom: 20px;}
.public_span{display: block;text-align: center;}
.public_span a{color: #0070BC;font-size: 16px;line-height: 24px;display: inline-block;text-decoration: none;}
.public_span a:hover{text-decoration: underline;}
.public_span .icon{color: #0070BC;}
.bottom_h2{font-size:16px;color:#999;font-style:italic;font-weight:400;padding-top:25px}
.bottom_h2 em{font-weight:600}
.bottom_h2 a{text-decoration:none;color:#0070BC}
.bottom_h2 a:hover{text-decoration:underline}
.alen1 ul{margin:0}
.box .popup_con_collect{padding-top: 0;}
.public_table1{width: 960px;margin: 0 auto;}
.table_container{margin-top: 50px;}
.public_table1 tr:first-child td{height: 52px;background: #EAEAEA; border: none; font-size: 18px; color: #232323;}
.public_table1 tr td{height: 46px; color: #616265; border-right: 1px solid #EAEAEA;text-align: left;border-bottom: 1px solid #EAEAEA;font-size: 14px;}
.public_table1 tr td:last-child{border-right: none;}
.padding_none{padding-bottom: 0;}
.public_table1 tr a{text-decoration: none; color: #0070BC;}
.public_table1 tr a:hover{text-decoration: underline;}
.public_table1 tr td{padding-left: 100px;}
.how_div{text-align:center;}
.how_div_text{font-size: 18px;font-weight:400;color:#616265;display:block;text-align:left;width:960px;line-height:30px;position:relative;margin:45px auto 0}
.how_div_text a{color: #0070BC;position: absolute;right: 18px;}
.how_div_text a:hover{color:#0070BC}
.how_div_text a span{font-size:14px;margin-left:5px;}
.dl_container.how{padding-bottom:50px;}
@media(max-width:1440px){.box{width:1200px}
.public{box-sizing: border-box;}
.container{margin:0 10px; box-sizing: border-box;}
.need_dl{margin:1%}
.bottom_h2{padding-top:0}
.need_wap dl:last-child{margin-right:1%}
.img_bottom,.img_top{overflow-x: auto;}
.need_div{width: 48%;}
}
@media(max-width:1220px){.box{width:960px}
.dom_txt{padding:40px 0}
.dl_container{padding-bottom:45px}
.public_bom_bg{height:508px}
.how_bg{height:1077px}
.need_wap{text-align:center}
.need_dl{display:inline-block;float:inherit}
.need_wap dl:last-child{margin-bottom:3%}
.need_p{padding-left: 0;padding-right: 0;min-height: 70px;}
.need_h2{margin-bottom: 0; min-height: 50px;}
.padding_none{padding-bottom: 0;}
.dl_tit{min-height: 50px;}
.public_txt br{display: none;}
}
@media(max-width:960px){.box{width:100%}
.content{width:auto;padding:0 10px}
.how_bg,.public_bg,.public_bom_bg{display:none}
.how_div{overflow-x:auto}
.how_table{width:1200px}
.public_dl{width:50%;min-height:255px;margin-bottom:20px}
.dl_txt{padding:0}
.dl_container{padding-bottom:0}
.dom_txt{padding:20px 0}
.img_top img{padding-top:25px}
.img_bottom{padding-bottom:30px}
.public_wap{height:inherit}
.Enm_business_txt{padding-bottom:20px}
.public{padding: 0;}
.table_container{overflow-x: auto;}
.need_div{width: 100%;}
.need_p{min-height: inherit;}
.container{margin: 0;}
.how_div_text{width:auto;}
}
@media(max-width:710px){.public_dl{width:100%}
.dl_container dl:first-child{padding-top:30px}
.Enm_banner_tit{padding-top: 30px;}
}
@media(max-width:480px){.Enm_banner{height:220px;overflow:hidden}
.Enm_banner_bg{height:220px}
.Enm_business_tit{font-size:24px;line-height:40px;font-weight:400}
.Enm_banner_tit{font-size:24px;line-height:40px;font-weight:400;padding-top:30px;padding-bottom: 10px; margin-bottom: 0;}
.Enm_business_txt{font-size:16px;line-height:22px;font-weight:400}
.dom_txt{font-size: 24px;}
.box .popup_con_collect{
	padding-top: 20px;
}
}
