.content{
	padding-top: 0;
}
.mic_banner{
	height: 460px;
}
.mic_banner_bg{
	position: absolute;
	left: 0;
	width: 100%;
	height: 460px;
	z-index: -1;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/microsoft_case/microsoft-case-banner_02.jpg) no-repeat center;
}
.mic_banner_tit{
	font-size: 38px;
	color: #fff;
	text-align: center;
	padding-top: 100px;
	margin-bottom: 18px;
	font-weight: 400;
	line-height: 40px;
}
.mic_banner_txt{
	font-size: 18px;
	color: #fff;
	font-weight:400;
	text-align: center;
	line-height: 24px;
}
.mic_tit{
	font-size: 30px;
	line-height: 32px;
	font-weight: 400;
	color: #232323;
	text-align: center;
	padding: 50px 0 20px;
}
.mic_txt{
	font-size: 14px;
	color: #616265;
	font-weight:400;
	line-height: 22px;
	text-align: center;
	margin-bottom: 40px;
}
.mic_drop ul{
	overflow: hidden;
}
.mic_drop_list{
	float: left;
	width: 32%;
	margin-right: 1%;
}
.mic_drop_list:last-child{
	margin-right: 0;
}
.mic_drop_list img{
	width: 100%;
}
.mic_why{
	margin-top: 30px;
}
.mic_why ul{
	margin-top: 100px;
	padding-bottom: 60px;
	border-bottom: 1px solid #dedede;
}
.mic_why ul:after{
	content:"."; 
	display:block; 
	clear:both;
	 visibility:hidden 
}
.mic_why_list{
	width: 24%;
	margin-right: 1%;
	float: left;
	border: 1px solid #ececec;
	padding: 100px 30px 90px;
	position: relative;
	box-sizing: border-box;
	max-height: 278px;
}
.mic_why_list:last-child{
	margin-right: 0;
}
.mic_why_list h2{
	font-size: 18px;
	color: #616265;
	text-align: center;
	font-weight: 400;
	margin-bottom: 20px;
}
.mic_why_list p{
	font-size: 14px;
	font-weight:400;
	color: #999;
	line-height: 22px;
	text-align: center;
}
.mic_why_list span{
	top: -65px;
	left: 50%;
	margin-left: -65px;
	position: absolute;
	
}
.mic_test{
	text-align: center;
	padding-bottom: 50px;
	border-bottom: 1px solid #dedede;
}
.mic_test ul{
	overflow: hidden;
}
.mic_test h3{
	font-size: 24px;
	color: #999;
	text-align: center;
	font-weight: 400;
	margin-bottom: 50px;
}
.mic_test_list{
	float: left;
	width: 24%;
	margin-right: 1%;
	background-color: #f9f9f9;
	text-align: center;
}
.mic_test_list:last-child{
	margin-right: 0;
}
.mic_test_list img{
	margin: 0 auto 20px;
}
.mic_test_list a{
	display: block;
	text-decoration: none;
	padding-bottom: 40px;
	padding-top: 36px;
}
.mic_test_list p{
	font-size: 14px;
	font-weight:400;
	color: #999;
	line-height: 22px;
	margin-bottom: 25px;
}
.mic_test_list span{
	font-size: 16px;
	font-weight:400;
	color: #0070BC;
	min-height: 42px;
    display: block;
}
.mic_test_list span:hover{
	text-decoration: underline;
}
.mic_test_href{
	font-size: 18px;
	margin-top: 30px;
	color: #0070BC;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 60px;
}
.mic_test_href:hover{
	text-decoration: underline;
	color: #0070BC;
}
.mic_test_href:last-child{
	margin-bottom: 0;
}
.mic_test_href span{
	font-size: 14px;
	margin-left: 5px;
}
.mic_customer_main{
	height: 400px;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/microsoft_case/microsoft-case-customer_03.jpg) no-repeat center;
}
.mic_customer_content{
	padding-top: 85px;
	text-align: center;
}
.mic_customer_content img{
	margin: 0 auto 20px;
}
.mic_customer_content_txt{
	font-size: 14px;
	font-weight:400;
	color: #232323;
	line-height: 24px;
	margin-bottom: 20px;
}
.mic_customer_content i{
	display: block;
	font-size: 18px;
	color: #616265;
	margin-bottom: 45px;
}
.mic_customer_content a{
	font-size: 18px;
	color: #0070BC;
	text-decoration: none;
	display: none;
}
.mic_customer_content a span{
	margin-left: 5px;
	font-size: 14px;
}
.mic_customer_content a:hover{
	text-decoration: underline;
}
.mic_more_list{
	float: left;
	width: 32%;
	margin-right: 1%;
}
.mic_more_list:last-child{
	margin-right: 0;
}
.mic_more_list a{
	display: block;
}
.mic_more_list img{
	width: 100%;
}
.mic_more ul{
	overflow: hidden;
}

@media(max-width:1440px){
	.box{
		width: 1200px;
	}
	.mic_why_list{
		padding-left:0 ;
		padding-right:0 ;
	}
	.mic_test_list img{
		width: 100%;
	}
}
@media(max-width:1220px){
	.box{
		width: 960px;
	}
	.mic_why_list{
		width: 49%;
		margin-right: 1%;
		min-height: 278px;
		margin-bottom: 90px;
	}
	.mic_why_list:nth-child(3),.mic_why_list:nth-child(4){
		margin-bottom: 0;
	}
	.mic_txt br{
		display: none;
	}
}
@media(max-width:960px){
	.box{
		width: 100%;
	}
	.content{
		width: auto;
		padding: 0 10px;
	}
	.mic_test_list{
		width: 49%;
		margin-right: 1%;
		margin-bottom: 1%;
	}
}
@media(max-width:480px){
	.mic_banner{
		height: 220px;
	}
	.mic_banner_bg{
		height: 220px;
	}
	.mic_banner_tit{
		font-size: 24px;
		padding-top: 20px;
		line-height: 30px;
		margin-bottom: 5px;
	}
	.mic_banner_txt{
		font-size: 18px;
		line-height: 21px;
	}
	.mic_tit{
		font-size: 20px;
		line-height: 30px;
		padding: 30px 0 15px;
	}
	.mic_txt{
		text-align: left;
	}
	.mic_drop_list{
		float: none;
		margin-right: 0;
		width: 100%;
		margin-bottom: 2%;
	}
	.mic_why_list{
		float: none;
		margin-right: 0;
		width: 100%;
	}
	.mic_why_list:nth-child(3){
		margin-bottom: 90px;
		
	}
	.mic_test h3{
		font-size: 18px;
	}
	.mic_test_list,.mic_more_list{
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 2%;
	}
	.mic_customer_content_txt br{
		display: none;
	}
}