.box,
.content {
  width: 100%;
  box-sizing: border-box;
}

.mtp-layout-banner {
  height: 380px;
  position: relative;
}
.mtp-layout-banner .mtp-layout-banner-bg {
  background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/mtp-layout/mtp-bg.jpg)
    no-repeat;
  position: absolute;
  width: 100%;
  height: 380px;
  left: 0;
  background-size: cover;
  z-index: -1;
  background-position: 50%;
}
.mtp-layout-banner .mtp-layout-banner-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18.5%;
}
.mtp-layout-banner .mtp-layout-banner-text .mtp-layout-banner-h2 {
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  font-size: 40px;
}
.mtp-layout-banner .mtp-layout-banner-text .mtp-layout-banner-txt {
  line-height: 48px;
  margin-top: 40px;
  color: #fff;
  font-size: 40px;
}

.mtp-layout-main {
  width: 1200px;
  margin: 0 auto;
}
.mtp-layout-main .mtp-layput-item {
  padding: 50px 0;
  text-align: center;
}
.mtp-layout-main .mtp-layput-item > img {
  width: 100%;
}
.mtp-layout-main .mtp-layput-item .mtp-layput-item-title {
  padding-bottom: 25px;
}
.mtp-layout-main .mtp-layput-item .mtp-layput-item-title .mtp-layout-h3 {
  font-weight: 600;
  line-height: 24px;
  color: #232323;
  font-size: 26px;
}
.mtp-layout-main .mtp-layput-item .mtp-layput-item-title .mtp-layout-h3-2 {
  font-size: 20px;
  margin-top: 40px;
  line-height: 24px;
  font-weight: 600;
}
.mtp-layout-main .mtp-layput-item .mtp-layput-item-title .mtp-layout-p {
  font-size: 14px;
  line-height: 24px;
  color: #616265;
  margin-top: 10px;
  padding: 0 180px;
}

.mtp-Optimized ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mtp-Optimized ul li:first-child .mtp-Optimized-icon img {
  width: 47px;
  margin: 25px auto;
}
.mtp-Optimized ul li:last-child .mtp-Optimized-icon img {
  width: 42px;
  margin: 26px auto;
}
.mtp-Optimized ul li {
  position: relative;
  top: 0;
  left: 0;
  width: -webkit-calc(100% / 4 - 9px);
  width: -ms-calc(100% / 4 - 9px);
  width: -moz-calc(100% / 4 - 9px);
  width: calc(100% / 4 - 9px);
  background: #f7f7f7;
  padding: 35px 0 50px;
  text-align: center;
  min-height: 100px;
}
.mtp-Optimized ul li .mtp-Optimized-icon {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
}
.mtp-Optimized ul li .mtp-Optimized-icon img {
  width: 45px;
  margin: 24px auto;
}
.mtp-Optimized ul li .mtp-Optimized-txt {
  color: #232323;
  font-size: 16px;
  font-weight: 600;
}

.mtp-Superior {
  background: #f7f7f7;
  min-height: 200px;
}
.mtp-Superior .mtp-layput-Tutorial ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mtp-Superior
  .mtp-layput-Tutorial
  ul
  li:last-child
  .mtp-layput-Tutorial-txt
  .mtp-layput-Tutorial-video
  .icon {
  color: #4b4947;
}

.mtp-Superior .mtp-layput-Tutorial ul li {
  position: relative;
  top: 0;
  left: 0;
  width: -webkit-calc(100% / 2 - 6px);
  width: -ms-calc(100% / 2 - 6px);
  width: -moz-calc(100% / 2 - 6px);
  width: calc(100% / 2 - 6px);
  height: 250px;
  overflow: hidden;
  background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/mtp-layout/mtp-tutorial1.jpg)
    no-repeat;
  background-position: 50%;
  text-align: left;
  color: #fff;
}
.mtp-Superior .mtp-layput-Tutorial ul li .mtp-layput-Tutorial-txt {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.mtp-Superior
  .mtp-layput-Tutorial
  ul
  li
  .mtp-layput-Tutorial-txt
  .mtp-layput-Tutorial-p {
  font-size: 20px;
  line-height: 30px;
}
.Tutorial-p-pc {
  display: block;
}
.Tutorial-p-m {
  display: none;
}
.mtp-Superior
  .mtp-layput-Tutorial
  ul
  li
  .mtp-layput-Tutorial-txt
  .mtp-layput-Tutorial-video {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  padding: 0 20px;
  margin-top: 20px;
  transition: all 0.3s;
}
.mtp-Superior
  .mtp-layput-Tutorial
  ul
  li
  .mtp-layput-Tutorial-txt
  .mtp-layput-Tutorial-video:hover {
  background: #fff;
  color: #232323;
}
.mtp-Superior
  .mtp-layput-Tutorial
  ul
  li
  .mtp-layput-Tutorial-txt
  .mtp-layput-Tutorial-video:hover
  .icon {
  color: #4b4947;
}
.mtp-Superior
  .mtp-layput-Tutorial
  ul
  li
  .mtp-layput-Tutorial-txt
  .mtp-layput-Tutorial-video
  .icon {
  font-size: 12px;
  margin: 1px 0 0 0;
  display: inline-block;
  color: #fff;
  margin-right: 10px;
}
.mtp-Superior .mtp-layput-Tutorial ul li:last-child {
  color: #232323;
  background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/mtp-layout/mtp-tutorial2.jpg)
    no-repeat;
  background-position: 50%;
}
.mtp-Superior .mtp-layput-Tutorial ul li:last-child .mtp-layput-Tutorial-video {
  border-color: #232323;
}
.mtp-Superior
  .mtp-layput-Tutorial
  ul
  li:last-child
  .mtp-layput-Tutorial-video:hover {
  background: #4b4b4d;
  color: #fff;
  border-color: #4b4b4d;
}
.mtp-Superior
  .mtp-layput-Tutorial
  ul
  li:last-child
  .mtp-layput-Tutorial-video:hover
  .icon {
  color: #fff;
}

.mtp-layput-how ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mtp-layput-how ul li {
  position: relative;
  top: 0;
  left: 0;
  width: -webkit-calc(100% / 3 - 8px);
  width: -ms-calc(100% / 3 - 8px);
  width: -moz-calc(100% / 3 - 8px);
  width: calc(100% / 3 - 8px);
  text-align: left;
}
.mtp-layput-how ul li img {
  width: 100%;
  height: 224px;
}
.mtp-layput-how ul li .mtp-layput-txt {
  border: 1px solid #e5e5e5;
  padding: 20px;
}
.mtp-layput-how ul li .mtp-layput-txt .mtp-layput-title {
  font-size: 16px;
  color: #232323;
  line-height: 26px;
  min-height: 52px;
}
.mtp-layput-how ul li .mtp-layput-txt .mtp-layput-tag {
  display: flex;
  flex-wrap: wrap;
  min-height: 54px;
}
.mtp-layput-how ul li .mtp-layput-txt .mtp-layput-tag a {
  cursor: inherit;
  display: inline-block;
  height: 22px;
  line-height: 23px;
  margin-top: 5px;
  overflow: hidden;
  padding: 0 7px;
  border-radius: 2px;
  background: #efefef;
  font-size: 13px;
  color: #616265;
  text-decoration: none;
  margin-right: 10px;
}
.mtp-layput-how ul li .mtp-layput-txt .mtp-layput-more {
  margin-top: 25px;
}
.mtp-layput-how ul li .mtp-layput-txt .mtp-layput-more a {
  font-size: 14px;
  color: #0070bc;
}
.mtp-layput-how ul li .mtp-layput-txt .mtp-layput-more a .icon {
  font-size: 12px;
  display: inline-block;
  margin-right: -3px;
}

.mtp-FAQs {
  background: #f7f7f7;
  min-height: 200px;
}
.mtp-FAQs .mtp-Superior-main .mtp-layput-item {
  padding: 50px 0 25px;
}
.mtp-FAQs .mtp-FAQs-main {
  background: #fff;
  min-height: 400px;
  padding: 0 30px 35px;
  margin-top: 25px;
}
.mtp-FAQs .mtp-FAQs-main .mtp-FAQ {
  display: flex;
  align-items: flex-start;
  padding-top: 40px;
}
.mtp-FAQs .mtp-FAQs-main .mtp-FAQ .mtp-FAQ-header {
  margin-right: 30px;
  text-align: center;
}
.mtp-FAQs .mtp-FAQs-main .mtp-FAQ .mtp-FAQ-header .mtp-FAQ-header-t {
  width: 48px;
  height: 48px;
  background: #6b89a5;
  border-radius: 50%;
  font-size: 26px;
  color: #fff;
  font-weight: 400;
  line-height: 48px;
}
.mtp-FAQs .mtp-FAQs-main .mtp-FAQ .mtp-FAQ-header .mtp-FAQ-header-n {
  font-size: 14px;
  color: #616265;
  margin-top: 2px;
}
.mtp-FAQs .mtp-FAQs-main .mtp-FAQ .mtp-FAQ-txt {
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16px;
  color: #232323;
  border-radius: 0px 10px 10px 10px;
  background: #f7f7f7;
  width: 100%;
  text-align: left;
  margin-right: 85px;
  line-height: 24px;
}
.mtp-FAQs .mtp-FAQs-main .mtp-FAQ-2 {
  display: flex;
  flex-direction: row-reverse;
}
.mtp-FAQs .mtp-FAQs-main .mtp-FAQ-2 .mtp-FAQ-header {
  margin-left: 30px;
}
.mtp-FAQs .mtp-FAQs-main .mtp-FAQ-2 .mtp-FAQ-header .mtp-FAQ-header-t {
  width: 54px;
  height: 54px;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  font-size: 22px;
  color: #616265;
  line-height: 54px;
  font-weight: 600;
}
.mtp-FAQs .mtp-FAQs-main .mtp-FAQ-2 .mtp-FAQ-txt {
  padding: 10px 15px;
  font-size: 14px;
  color: #232323;
  width: 100%;
  line-height: 24px;
  text-align: left;
  font-weight: 400;
  border-radius: 10px 0px 10px 10px;
  background: #ddebf5;
  margin-left: 85px;
}

.mtp-any {
  height: 265px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.mtp-any .mtp-any-bg {
  height: 265px;
  background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/mtp-layout/mtp-any-bg.jpg)
    no-repeat;
  position: absolute;
  width: 100%;
  left: 0;
  background-size: cover;
  z-index: -1;
  background-position: 50%;
}
.mtp-any .mtp-any-main {
  padding-top: 50px;
}
.mtp-any .mtp-any-main h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
}
.mtp-any .mtp-any-main p {
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  margin-top: 15px;
}
.mtp-any .mtp-any-main a {
  display: inline-block;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 0 30px;
  line-height: 40px;
  text-decoration: none;
  margin-top: 30px;
  transition: all 0.3s;
}
.mtp-any .mtp-any-main a:hover {
  background: #fff;
  color: #19191a;
}

.mtp-Superior-main .mtp-layput-item {
  padding: 50px 0 0;
}

.mtp-Tutorial-main .mtp-layput-item {
  padding: 0 0 50px;
}

.mtp-How-main .mtp-layput-item {
  padding: 50px 0;
}

.mtp-FAQ-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.mtp-FAQ-more a {
  color: #0070bc;
  font-size: 14px;
  margin-right: 5px;
}
.mtp-FAQ-more .icon {
  transition: all 0.3s;
  color: #0070bc;
  font-size: 12px;
}
.mtp-FAQ-more.active .icon {
  transition: all 0.3s;
  transform: translateX(-4px) rotate(-180deg);
}

.swiper-container-Superior .swiper-slide {
  width: 1200px;
}
.swiper-container-Superior .swiper-slide .swiper-slide-box-m {
  display: none;
}
.swiper-container-Superior .swiper-slide .swiper-slide-box {
  display: block;
  position: relative;
}
.swiper-container-Superior .swiper-slide .swiper-slide-box img {
  width: 100%;
}
.swiper-container-Superior
  .swiper-slide
  .swiper-slide-box
  .mtp-Superior-slide-txt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  padding-left: 84px;
  color: #fff;
  min-height: 146px;
}
.mtp-Superior-slide-txt a,
.mtp-Superior-slide-txt a:hover {
  color: #fff;
  text-decoration: none;
}

.swiper-container-Superior
  .swiper-slide
  .swiper-slide-box
  .mtp-Superior-slide-txt
  h3 {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 15px;
}
.swiper-container-Superior
  .swiper-slide
  .swiper-slide-box
  .mtp-Superior-slide-txt
  .mtp-Superior-slide-t {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
}
.swiper-container-Superior
  .swiper-slide
  .swiper-slide-box
  .mtp-Superior-slide-txt
  .mtp-Superior-slide-t::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  margin-right: 10px;
}
.swiper-container-Superior .swiper-pagination-bullets {
  bottom: 30px;
}
.swiper-container-Superior .swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}
.swiper-container-Superior .swiper-pagination-bullet-active {
  width: 20px;
  height: 8px;
  border-radius: 4px;
  opacity: 1;
}
.swiper-container-Superior .mtp-swiper-arrows {
  width: 1200px;
  margin: 0 auto;
}
.swiper-container-Superior .mtp-swiper-arrows .icon {
  font-size: 28px;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 0.3s;
  box-sizing: border-box;
  text-align: center;
  line-height: 60px;
  background-image: none;
}
.swiper-container-Superior .mtp-swiper-arrows .swiper-button-prev {
  left: 19%;
}
.swiper-container-Superior .mtp-swiper-arrows .swiper-button-next {
  right: 19%;
}

.swiper-container-Superior .mtp-swiper-arrows .icon:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.mtp-layput-how-m {
  display: none;
}

.mtp-data-m {
  display: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  transition: all 0.3s;
}
@media (max-width: 1440px) {
  .swiper-container-Superior .mtp-swiper-arrows .swiper-button-prev {
    left: 9%;
  }

  .swiper-container-Superior .mtp-swiper-arrows .swiper-button-next {
    right: 9%;
  }
}
@media (max-width: 1360px) {
  .swiper-container-Superior .mtp-swiper-arrows .swiper-button-prev {
    left: 40px;
  }

  .swiper-container-Superior .mtp-swiper-arrows .swiper-button-next {
    right: 40px;
  }
  .mtp-layout-banner .mtp-layout-banner-text {
    left: 12%;
  }
}
@media (max-width: 1200px) {
  .mtp-layout-main,
  .swiper-container-Superior .swiper-slide {
    width: 960px;
  }

  .swiper-container-Superior .mtp-swiper-arrows .swiper-button-prev {
    left: 3%;
  }

  .swiper-container-Superior .mtp-swiper-arrows .swiper-button-next {
    right: 3%;
  }

  .mtp-layout-main .mtp-layput-item .mtp-layput-item-title .mtp-layout-p {
    padding: 0 100px;
  }
  .mtp-layout-banner .mtp-layout-banner-text {
    left: 5%;
  }
  .mtp-layput-how ul li .mtp-layput-txt .mtp-layput-tag {
    min-height: 54px;
  }
}
@media (max-width: 960px) {
  .mtp-layout-banner .mtp-layout-banner-text {
    left: 25px;
  }
  .mtp-layout-main,
  .swiper-container-Superior .swiper-slide {
    width: 100%;
  }

  .mtp-layout-main .mtp-layput-item .mtp-layput-item-title .mtp-layout-p {
    padding: 0 15px;
  }

  .content {
    padding: 0;
  }

  .mtp-layout-main .mtp-layput-item {
    padding: 40px 15px 45px;
  }
}
@media (max-width: 480px) {
  .mtp-layout-banner {
    height: 220px;
  }
  .mtp-layout-banner .mtp-layout-banner-bg {
    height: 220px;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/mtp-layout/mtp-bg-m.jpg)
      no-repeat;
    background-position: 50%;
  }
  .mtp-layout-banner .mtp-layout-banner-text {
    left: 25px;
  }
  .mtp-layout-banner .mtp-layout-banner-text .mtp-layout-banner-h2 {
    font-size: 26px;
    line-height: 26px;
  }
  .mtp-layout-banner .mtp-layout-banner-text .mtp-layout-banner-txt {
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
  }

  .mtp-layout-main .mtp-layput-item .mtp-layput-item-title {
    padding-bottom: 15px;
  }
  .mtp-layout-main .mtp-layput-item .mtp-layput-item-title .mtp-layout-h3 {
    font-size: 20px;
  }
  .mtp-layout-main .mtp-layput-item .mtp-layput-item-title .mtp-layout-p {
    padding: 0;
  }

  .mtp-Optimized ul {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mtp-Optimized ul li {
    width: -webkit-calc(100% / 2 - 5px);
    width: -moz-calc(100% / 2 - 5px);
    width: -ms-calc(100% / 2 - 5px);
    width: calc(100% / 2 - 5px);
  }
  .mtp-Optimized ul li:nth-child(n + 3) {
    margin-top: 10px;
  }

  .mtp-Superior .mtp-layput-Tutorial ul {
    flex-wrap: wrap;
  }
  .mtp-Superior .mtp-layput-Tutorial ul li {
    width: 100%;
  }
  .mtp-Superior .mtp-layput-Tutorial ul li:nth-child(n + 1) {
    margin-top: 10px;
  }

  .mtp-layput-how {
    display: none;
  }
  .mtp-layput-how ul {
    flex-wrap: wrap;
  }
  .mtp-layput-how ul li {
    width: 100%;
  }

  .mtp-layput-how-m {
    display: block;
  }
  .mtp-layput-how-m > .swiper-container {
    padding-bottom: 20px;
  }
  .mtp-layput-how-m .how-m-item {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
  }
  .mtp-layput-how-m .how-m-item img {
    width: 100%;
    height: 224px;
  }
  .mtp-layput-how-m .how-m-item .mtp-layput-txt {
    border: 1px solid #e5e5e5;
    padding: 20px;
    min-height: 160px;
  }
  .mtp-layput-how-m .how-m-item .mtp-layput-txt .mtp-layput-title {
    font-size: 16px;
    color: #232323;
    line-height: 26px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .mtp-layput-how-m .how-m-item .mtp-layput-txt .mtp-layput-tag {
    min-height: 54px;
  }
  .mtp-layput-how-m .how-m-item .mtp-layput-txt .mtp-layput-tag a {
    display: inline-block;
    height: 22px;
    line-height: 23px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0 7px;
    border-radius: 2px;
    background: #efefef;
    font-size: 13px;
    color: #616265;
    text-decoration: none;
    margin-right: 10px;
  }

  .mtp-layput-how-m .how-m-item .mtp-layput-txt .mtp-layput-more {
    margin-top: 20px;
  }
  .mtp-layput-how-m .how-m-item .mtp-layput-txt .mtp-layput-more a {
    font-size: 14px;
    color: #0070bc;
  }
  .mtp-layput-how-m .how-m-item .mtp-layput-txt .mtp-layput-more a .icon {
    font-size: 12px;
    display: inline-block;
    margin-right: -3px;
  }

  .mtp-FAQs .mtp-FAQs-main {
    padding: 0 15px 25px;
    margin-top: 20px;
  }
  .mtp-FAQs .mtp-FAQs-main .mtp-FAQ {
    padding-top: 30px;
  }
  .mtp-FAQs .mtp-FAQs-main .mtp-FAQ .mtp-FAQ-header {
    margin-right: 10px;
  }
  .mtp-FAQs .mtp-FAQs-main .mtp-FAQ .mtp-FAQ-header .mtp-FAQ-header-t {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    font-weight: 400;
  }
  .mtp-FAQs .mtp-FAQs-main .mtp-FAQ .mtp-FAQ-txt {
    margin-right: 50px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 400;
  }
  .mtp-FAQs .mtp-FAQs-main .mtp-FAQ-2 {
    margin-top: 20px;
  }
  .mtp-FAQs .mtp-FAQs-main .mtp-FAQ-2 .mtp-FAQ-header {
    margin-left: 10px;
  }
  .mtp-FAQs .mtp-FAQs-main .mtp-FAQ-2 .mtp-FAQ-header .mtp-FAQ-header-t {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
  .mtp-FAQs .mtp-FAQs-main .mtp-FAQ-2 .mtp-FAQ-txt {
    margin-left: 50px;
    padding: 10px 10px;
    font-size: 14px;
  }

  .mtp-any {
    height: 246px;
  }
  .mtp-any .mtp-any-bg {
    height: 246px;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/mtp-layout/mtp-any-bg-m.jpg)
      no-repeat;
    background-position: 50%;
  }
  .mtp-any .mtp-any-main {
    padding-top: 28px;
  }
  .mtp-any .mtp-any-main h2 {
    font-size: 20px;
  }
  .mtp-any .mtp-any-main p {
    font-size: 14px;
    margin-top: 10px;
  }

  .mtp-m .swiper-pagination-bullet {
    background: #8d8d8f;
    opacity: 1;
  }

  .mtp-m .swiper-pagination-bullet-active {
    background: #4b4947;
  }

  .mtp-m .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0px;
  }

  .swiper-container-Superior .mtp-swiper-arrows .swiper-button-next,
  .swiper-container-Superior .mtp-swiper-arrows .swiper-button-prev {
    top: 28%;
  }

  .Superior-m {
    background: #fff;
    padding-bottom: 50px;
  }

  .swiper-container-Superior .swiper-slide .swiper-slide-box {
    display: none;
  }
  .swiper-container-Superior .swiper-slide .swiper-slide-box-m {
    display: block;
    background: #fff;
  }
  .swiper-container-Superior
    .swiper-slide
    .swiper-slide-box-m
    .mtp-Superior-slide-txt {
    color: #232323;
    text-align: left;
    padding: 20px 15px;
    line-height: 24px;
    min-height: 105px;
  }
  .swiper-slide-box-m .mtp-Superior-slide-txt a {
    color: #232323;
  }
  .swiper-container-Superior
    .swiper-slide
    .swiper-slide-box-m
    .mtp-Superior-slide-txt
    .mtp-Superior-slide-h3 {
    /* height: 48px; */
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .swiper-container-Superior
    .swiper-slide
    .swiper-slide-box-m
    .mtp-Superior-slide-txt
    .mtp-Superior-slide-t {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .swiper-container-Superior
    .swiper-slide
    .swiper-slide-box-m
    .mtp-Superior-slide-txt
    .mtp-Superior-slide-t::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #232323;
    border-radius: 50%;
    margin-right: 10px;
  }

  .mtp-Superior-main .mtp-layput-item {
    padding: 40px 15px 0px;
  }

  .mtp-FAQs .mtp-Superior-main .mtp-layput-item {
    padding: 40px 0 25px;
  }

  .mtp-FAQs .mtp-Superior-main .mtp-layput-item .mtp-layout-h3 {
    padding: 0 30px;
  }

  .mtp-Tutorial-main .mtp-layput-item .mtp-layput-item-title .mtp-layout-h3-2 {
    margin-top: 0;
  }

  .mtp-data {
    display: none;
  }

  .mtp-data-m {
    display: block;
  }
  .public_pop_up_content {
    top: 50%;
    transform: translateY(-50%);
  }
  .public_pop_up_title strong {
    font-weight: 400;
  }
  .Tutorial-p-pc {
    display: none;
  }
  .Tutorial-p-m {
    display: block;
  }
}
