.sale_banner_txt{font-size: 22px;}
.sale_banner_tit{font-size: 48px;padding-top: 110px;margin-bottom: 20px;}
.sale_banner_bg{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/sp_otn/otn_banner.jpg) no-repeat center;}
.bg_new_one{background: #f6f6f6;}
.new_otn_h2{font-size: 26px;color: #232323;font-weight: 400;text-align: center;line-height: 32px;padding-bottom: 30px;}
.new_ton_p{font-size: 14px;color: #616265;line-height: 22px;text-align: center;padding-bottom: 34px;}
.bg_new_one .alone_wap{padding-top: 150px;padding-bottom: 60px;}
.new_otn_img img{display: block;margin: 0 auto;max-width: 100%;height: inherit;}
.new_otn_wap{width: 1200px;margin: 0 auto;padding: 0 105px;box-sizing: border-box;}
.new_otn_h2_01{font-size: 14px;color: #232323;line-height: 22px;font-weight: 600;padding-bottom: 5px;}
.new_otn_p_01{font-size: 14px;color: #616265;line-height: 22px;padding-left: 16px;}
.new_otn_h2_01 i{display: inline-block;width: 6px;height: 6px;border-radius: 50%;background: #b8b8b8;margin-top: -2px;margin-right: 10px;vertical-align: middle;}
.new_otn_img{margin-bottom: 48px;}
.new_otn_btn{margin-bottom: 20px;}
.otn_bg_three .fs_tit02{padding-top: 64px;}
.otn_bg_three .alone_wap{width: 1200px;}
.otn_bg_three .fs_flex{width: 384px;}
.otn_dl{width: 384px;background: #f2f9ee;}
.color_02{background: #f9f6eb;}
.color_03{background: #f4f6f9;}
.otn_dl dt{text-align: center;padding-top: 50px;padding-bottom: 32px;}
.otn_dl dt img{display: inline-block;}
.otn_dl dd{font-size: 14px;color: #616265;min-height: 116px;line-height: 22px;text-align: center;padding: 0 40px;box-sizing: border-box;}
.otn_bg_4 .fs_img img{padding-top: 44px;padding-bottom: 52px;}
.otn_hr{width: 1200px;margin: 0 auto;border: none;border-top: 1px solid #DEDEDE;}
.otn_table{width: 100%;text-align: left;}
.otn_table tr th{background: #e1f0f9;font-size: 16px;color: #232323;line-height: 24px;font-weight: 400;padding: 10px 0 14px 0;}
.otn_table tr th:first-child{padding-left: 20px;box-sizing: border-box;}
.otn_table tr th:last-child{padding-right: 20px;box-sizing: border-box;}
.otn_table .cart_basket_btn{margin-bottom: 0;vertical-align: middle;}
.cab_a12{transition:all .3s;display:inline-block;border:1px solid #4c4948;border-radius:2px;color:#232323;padding:8px 10px;box-sizing:border-box}
.cab_a12:hover{text-decoration:none;background:#4c4948;color:#FFF}
.cab_a12 .icon{font-size:15px;color:#232323;margin-right:5px;transition:all .3s}
.cab_a12:hover .icon{color:#fff}
.otn_table tr td{font-size:14px;line-height:22px;color:#616265;vertical-align:middle;height:70px;border-bottom:1px solid #e5e5e5;box-sizing:border-box}
.otn_table tr td.otn_padding{padding:0 20px;height:50px;background:#f7f7f7;font-size:16px;color:#232323}
.otn_table tr td:first-child{padding-left:20px}
.otn_table tr td:last-child{padding-right:20px}
.otn_btn_h2{font-size:16px;color:#616265;line-height:22px;font-weight:400;padding-top:30px;padding-bottom:14px}
.otn_a_wap a{color:#0070BC;font-size:14px;line-height:22px}
.otn_a_wap .icon{color:#0070BC;font-size:12px}
.otn_bg_three{padding-bottom:56px}
.otn_bg_02{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/sp_otn/otn_img_08.jpg) no-repeat;background-size: cover;}
.otn_bg_02 .alone_wap{width:100%}
.otn_img01 img{display:block;margin:0 auto;max-width:100%}
.otn-platform-case-left,.otn-platform-case-right{box-sizing:border-box}
.otn-platform-case-ul li a span{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/sp_otn/case-study-icon.png) no-repeat}
.otn-platform-case-ul li:nth-of-type(1) a span{background-position:5px -314px}
.otn_table .track_orders_wenhao_only u{font-style:normal;color:#76bb1f;text-decoration:none}
.otn_table .track_orders_wenhao_only em{display:inline-block;width:8px;height:8px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background-color:#76bb1f;vertical-align:middle;margin-right:5px}
.otn_img01{margin-top: 58px;text-align: center;}
.otn_table tr td img{width: 70px;height: 70px;}
.otn_img01 a{display: inline-block;}
.otn_img01 a:hover{cursor: zoom-in;}
.otn-platform-case-ul{padding-top: 50px;}
.otn-platform-case-ul li a p b{font-weight: 400;font-style: normal;font-size: 14px;color: #616265;text-align: center;line-height: 22px;margin-top: 20px;}
.otn-platform-case-ul li a p em{font-size: 12px;}    
.otn-platform-case-ul li a:hover{text-decoration: none;}
.otn-platform-case-ul li a:hover b{text-decoration: underline;color: #0070BC;}
.otn-platform-case-ul li a:hover p em{text-decoration: none;color: #0070BC;}
.otn-platform-case-ul li{border-right: 1px solid #e5e5e5;width: 33.222%;}
.otn-platform-case-ul li:last-child{border-right: none;}



@media (max-width: 1220px){
	.otn_table_wap{width: 960px;overflow-x: auto;margin: 0 auto;}
	.otn_bg_three .alone_wap,.new_otn_wap,.otn_hr{width: 960px;margin: 0 auto;}
	.otn_table{width: 1200px;}
	.otn_dl{width: 32%;}
}    
@media (max-width: 960px){
	.otn_bg_three .alone_wap,.new_otn_wap,.otn_hr,.otn_table_wap{width: 100%;margin: 0 auto;}
	.otn_dl dd,.new_otn_wap{padding: 0 10px;}
	.sp-wrap-lg{box-sizing: border-box;}
	.bg_new_one .alone_wap{padding-top: 20px;}
	.otn_img01{padding-bottom: 30px;}
	
}
@media (max-width: 820px){
	.otn_dl{width: 48%;margin-bottom: 20px;}
	.otn_dl:last-child{margin-bottom: 0;}
}
@media (max-width: 650px){
	.otn-platform-case-ul li{width: 100%;}
	.otn-platform-case-ul{padding-top: 20px;padding-bottom: 30px;}
}
@media (max-width: 580px){
	.otn_dl{width: 100%;}
}
@media (max-width: 480px){
	.new_otn_h2{font-size: 20px;}
	br{display: none;}
	.new_ton_p{text-align: left;}
	.otn_bg_three .fs_tit02{padding-top: 20px;}
	.otn_dl dd{min-height: inherit;padding-bottom: 20px;}
	.bg_new_one .alone_wap,.otn_bg_three,.otn-platform-bottom{padding-bottom: 20px;}
	.new_otn_img{margin-bottom: 20px;}
	.otn_img01{padding-bottom: 20px;margin-top: 20px;}
}


