.content { padding: 0; }
/*样式开始*/
.Optica_banner { height: 380px; }
.Optica_banner_bg { position: absolute; left: 0; width: 100%; height: 380px; z-index: -1; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/cloudflare_case_study/transceivers_case_banner.jpg) no-repeat center; }
.Optica_banner_tit { font-size: 38px; color: #fff; text-align: center; padding-top: 128px; margin-bottom: 24px; font-weight: 400; line-height: 40px; }
.Optica_banner_txt { font-size: 18px; color: #fff; font-weight:400; text-align: center; line-height: 24px; }
.Optica_introduce { overflow: hidden; }
.Optica_introduce_bg { position: absolute; left: 0; width: 100%; height: 166px; z-index: -1; background: #f6f6f6; }
.Optica_introduce dl { overflow: hidden; margin-bottom: 44px; }
.Optica_introduce dt { float: left; width: 20%; }
.Optica_introduce dt img { max-width: 100%; margin: 0 auto; padding-top: 40px; display:block; }
.Optica_introduce dd { float: left; width: 80%; }
.Optica_introduce p { margin-top: 50px; line-height: 24px; font-size: 16px; color: #616265; font-weight:400; }
.Optica_introduce em { float: right; font-size: 16px; line-height: 24px; font-weight:400; color: #616265;padding-right:1px;}
.Optica_business { overflow: hidden; }
.Optica_business_tit { font-size: 29px; color: #232323; font-weight: 400; text-align: center; padding-top: 48px; line-height: 22px; padding-bottom: 26px; }
.Optica_business_txt { font-size: 14px; color: #616265; text-align: center; line-height: 22px; padding-bottom: 98px; font-weight:400; }
.Optica_transce:after { content:"."; display:block; clear:both; visibility:hidden }
.Optica_transce_dl { width: 30%; background: #f6f6f6; float: left; border: 1px solid #e5e5e5; height: 100%; }
.Optica_transce_dl:nth-child(2) {
 margin: 0 4.5%;
}
.Optica_transce_dt { display: inline-block; }
.Optica_transce_span img { max-width: 100%; display: block; margin: 0 auto; }
.Optica_transce_div_one { background: #947cb6; }
.Optica_transce_div_two { background: #6490b8; }
.Optica_transce_div_three { background: #7ac5d3; }
.Optica_transce_div { border-radius: 10px; margin: 0 auto; height: 80px; width: 80px; margin-top: -33px; }
.Optica_transce_div img { margin: 0 auto; padding-top: 6px; display:block; }
.Optica_transce_dl_p { font-size: 16px; line-height: 24px; font-weight:400; color: #232323; padding: 36px 58px 44px; text-align: center; }
.Optica_transce_dl_p_one { padding-bottom: 22px; }
.Optica_Story { padding-top: 50px; padding-bottom: 50px; font-size: 30px; line-height: 24px; font-weight: 400; color: #232323; text-align: center; }
.Optica_TreeDiagram { overflow: hidden; }
.OT_center { overflow: hidden; height: 747px; position: relative; }
.Optica_TreeDiagram_bg { position: absolute; left: 0; width: 100%; height: 864px; z-index: -1; background: linear-gradient(#fff, #f6f6f6); }
.Optica_TreeDiagram_middle { margin: 0 auto; width: 1px; height: 100%; }
.Optica_TreeDiagram_warp { width: 1px; height: 85%; background: #0070BC; margin: 0 auto; position: relative; margin-bottom: 40%; }
.Optica_TreeDiagram_position_left { width: 16px; height: 16px; background: #fff; border-radius: 50%; border: 1px solid #0070BC; position: absolute; right: -9px; }
.Optica_TreeDiagram_right_top { margin-top: 92px; position: absolute; right: 0; top: 0; width: 50%; }
.Optica_TreeDiagram_left_middle { position: absolute; left: 0; top: 200px; width: 50%; }
.Optica_TreeDiagram_right_middle { position: absolute; right: 0; top: 300px; width: 50%; }
.Optica_TreeDiagram_left_bottom { position: absolute; left: 0; top: 410px; width: 50%; }
.Optica_TreeDiagram_right_bottom { position: absolute; right: 0; top: 510px; width: 50%; }
.Optica_TreeDiagram_position_right { width: 16px; height: 16px; background: #fff; border-radius: 50%; border: 1px solid #0070BC; position: absolute; left: -10px; top: 4px; }
.Optica_TreeDiagram_seven { width: 90px; height: 90px; background: #fff; border-radius: 50%; border: 1px solid #0070BC; position: absolute; left: -44px; bottom: -50px; text-align: center; line-height: 18px; font-size: 14px; color: #0070BC; padding-top: 27px; box-sizing: border-box; }
.Optica_TreeDiagram_seven_left { width: 50px; height: 1px; background:#0070BC; position: absolute; top: 30px; left: -50px; }
.Optica_TreeDiagram_left_left { width: 50px; height: 1px; background:#0070BC; position: absolute; top: 8px; left: -50px; }
.Optica_TreeDiagram_left_right { width: 50px; height: 1px; background:#0070BC; position: absolute; top: 8px; left: 16px; }
.Optica_TreeDiagram_left { position: absolute; width: 50%; height: 100%; }
.Optica_one { left: 0; top: 0; }
.Optica_two { right: 0; top: 80px; }
.Optica_three { left: 0; top: 180px; }
.Optica_four { right: 0; top: 270px; }
.Optica_five { left: 0; top: 370px; }
.Optica_six { right: 0; top: 470px; }
.Optica_TreeDiagram_left_h3 { font-size: 18px; line-height: 24px; color: #232323; font-weight: 400; padding-left: 130px; padding-right: 50px; margin-bottom: 20px; }
.Optica_TreeDiagram_left_p { font-size: 14px; line-height: 22px; font-weight:400; color: #616265; padding-left: 130px; padding-right: 50px; }
.Optica_TreeDiagram_right_h3 { font-size: 18px; line-height: 24px; color: #232323; font-weight: 400; padding-left: 80px; padding-right: 120px; margin-bottom: 9px; }
.Optica_TreeDiagram_right_p { font-size: 14px; line-height: 22px; font-weight:400; color: #616265; padding-left: 80px; padding-right: 120px; }
.Optica_business_tit_h3 { font-size: 24px; font-weight:400; line-height: 24px; text-align: center; padding-bottom: 20px; }
.Optica_TreeDiagram_txt { padding-bottom: 40px; }
.Optica_Warehouses { overflow: hidden; }
.Optica_Warehouses_dl { width: 25%; float: left; overflow: hidden; border-bottom: 1px solid #dedede; }
.Optica_Warehouses_dl:first-child{width: 44%;}
.Optica_Warehouses_dl:nth-child(2){width: 12%;}
.Optica_Warehouses_dl:nth-child(3){width: 44%;}
.Optica_Warehouses_dl dt { text-align: center; font-size: 36px; line-height: 40px; color: #0070BC; position: relative; padding-bottom: 20px; padding-top: 4px; }
.Optica_Warehouses_dl dt i { height: 2px; width: 30px; background: #0070BC; position: absolute; bottom: 0; left: 50%; margin-left: -15px; }
.Optica_Warehouses_dl dd { text-align: center; padding: 20px 10px 50px; min-height: 40px;}
.Optica_Chart { overflow: hidden; border-bottom: 1px solid #dedede;}
.Optica_Chart ul { overflow: hidden; margin-bottom: 50px; }
.Optica_Chart_list { float: left; width: 24%; margin-right: 1%; background-color: #f9f9f9; text-align: center; }
.Optica_Chart_list a { display: block; text-decoration: none; padding-bottom: 40px; padding-top: 36px; }
.Optica_Chart_list img { margin: 0 auto 20px; }
.Optica_Chart_list p { font-size: 14px; font-weight:400; color: #999; line-height: 22px; margin-bottom: 25px; }
.Optica_Chart_list span { font-size: 16px; font-weight:400; color: #0070BC; }
.Optica_Chart_list span:hover { text-decoration: underline; }
.Optica_Chart dt img { margin: 0 auto; max-width: 100%; display: block; }
.Optica_Chart_tab { width: 80%; margin: 0 auto; border-top: 1px solid #0070BC; padding-bottom: 50px; }
.Optica_Chart_tab tr:nth-child(1) td {
 font-size: 16px;
 width: 25%;
 background: #e7f3fa;
 border-bottom: 1px solid #dedede;
}
.Optica_Chart_tab tr td { padding: 14px 0; text-align: center; border-bottom: 1px solid #dedede; font-size: 14px; }
.Optica_ManagementSystem { overflow: hidden; width: 80%; margin: 0 auto; padding-bottom: 50px; }
.Optica_ManagementSystem_dl { width: 33%; float: left; border-right: 1px solid #dedede; text-align: center; }
.Optica_ManagementSystem_dl:nth-child(3) {
 border: none;
}
.Optica_ManagementSystem_dl dt { font-size: 18px; line-height: 35px; color: #0070BC; }
.Optica_ManagementSystem_dl dd { font-size: 14px; padding: 0 40px; color: #616265; font-weight:400; }
.Optica_Exhibition { overflow: hidden; padding-bottom: 50px; }
.Optica_Exhibition div { width: 50%; float: left; }
.Optica_Exhibition div img { display: block; margin: 0 auto; max-width: 100%; }
.Optica_market { overflow: hidden; }
.Optica_market_tit { text-align: center; font-size: 30px; color: #232323; padding-bottom: 76px; font-weight: 400;line-height: 36px;}
.Optica_market_dl { width: 33%; float: left; }
.Optica_market_dl dt img { margin: 0 auto; max-width: 100%; display: block; }
.Optica_market_dl dd { text-align: center; font-size: 16px; line-height: 24px; color: #616265; font-weight:400; padding-top: 36px; padding-bottom: 22px; }
.Optica_CustomerFeedback_tit { padding-bottom:40px; font-size: 30px; color: #232323; font-weight: 400; text-align: center; padding-top: 50px; line-height: 24px; }
.Optica_CustomerFeedback_dl { width: 50%; float: left; }
.Optica_CustomerFeedback_dl dt { padding-bottom: 30px; }
.Optica_Customer_right { float: right; }
.Optica_Customer_dt { overflow: hidden; }
.Optica_CustomerFeedback { overflow: hidden; }
.Optica_CustomerFeedback_dl dd { text-align: center; font-size: 18px; line-height: 24px; color: #616265; padding-bottom: 50px; }
.Optica_Sourcefrom { overflow: hidden; height: 396px; }
.Optica_Sourcefrom span { overflow: hidden; display: block; margin-bottom: 30px; }
.Optica_Sourcefrom span img { margin: 0 auto; margin-top: 54px; display:block; }
.Optica_Sourcefrom_tit { font-size: 18px; line-height: 24px; color: #232323; font-weight: 400; text-align: center; padding-bottom: 24px; }
.Optica_Sourcefrom_txt { font-size: 14px; line-height: 22px; color: #616265; font-weight:400; text-align: center; padding-bottom: 34px; }
.Optica_Sourcefrom_a { font-size: 16px; line-height: 24px; color: #0070BC; font-weight: 400; text-align: center; text-decoration: none; display: block; }
.Optica_Sourcefrom_a:hover { color:#0070BC; }
.Optica_Sourcefrom_bg { position: absolute; left: 0; width: 100%; height: 396px; z-index: -1; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/cloudflare_case_study/transceivers_case_bg.jpg) no-repeat center; }
.Optica_Sourcefrom_a em { font-style: normal; font-size: 12px; margin-left: 5px; }
.Optica_Chart dl dt img { padding-bottom: 20px; }
 @media(max-width:1440px) {
 .box {
 width: 1200px;
}
 .Optica_transce_dl_p_one {
 padding-bottom: 21px;
}
 .Optica_transce_dl_p_three {
 padding-bottom: 20px;
}
 .Optica_TreeDiagram_bg {
 height: 888px;
}
 .Optica_TreeDiagram_warp {
 height: 92%;
}
 .OT_center {
 height: 677px;
}
 .Optica_TreeDiagram_bg {
 height: 826px;
}
 .OT_center br {
 display: none;
}
 .Optica_Chart_list img {
max-width: 100%;
}
}
@media(max-width:1220px) {
 .box {
 width: 960px;
}
 .Optica_transce_dl_p_two {
 padding-bottom: 68px;
}
 .Optica_transce_dl_p_three {
 padding-bottom: 44px;
}
 .Optica_TreeDiagram_warp {
 height: 92%;
}
 .Optica_business br {
 display: none;
}
 .Optica_Chart_tab tr:nth-child(1) td:nth-child(1) {
 width: 14%;
}
 .Optica_ManagementSystem {
 width: 100%;
}
 .Optica_TreeDiagram_bg {
 height: 854px;
}
 .OT_center {
 height: 708px;
}
 .Optica_Chart_list p {
    margin-bottom:10px;
}
}
@media(max-width:960px) {
 .box {
 width: 100%;
}
.Optica_TreeDiagram,.Optica_transce{ padding: 0 10px;}
.Optica_introduce,.Optica_business {
    padding: 0 10px;
}
.Optica_introduce em{padding-top: 5px;font-size: 13px;}
.Optica_business_txt{ text-align:left;} 
 .content {
 width: auto;

}
 .Optica_introduce dt {
 width: 100%;
}
 .Optica_introduce dd {
 width: 100%;
}
 .Optica_business_tit {
 line-height:24px;
}
 .Optica_Warehouses_dl {
 width: 50%;
}
 .Optica_Warehouses_dl dd {
 padding-bottom: 30px;
}
 .Optica_Warehouses_dl dt {
 padding-top: 30px;
}
 .Optica_Chart_tab {
 width: 100%;
}
 .Optica_Chart_tab tr:nth-child(1) td:nth-child(1) {
 width: 10%;
}
 .Optica_ManagementSystem_dl {
 width: 49%;
}
 .Optica_ManagementSystem_dl:nth-child(2) {
 border: none;
}
 .Optica_ManagementSystem_dl:nth-child(3) {
 margin-top: 20px;
}
 .Optica_market_dl {
 width: 50%;
}
 .Optica_CustomerFeedback_dl {
 width: 100%;
}
 .Optica_CustomerFeedback_dl dt img {
 margin: 0 auto;
 display: block;
}
 .Optica_Customer_right {
 float: initial;
}
 .Optica_transce_dl {
 width: 45%;
}
 .Optica_transce_dl:nth-child(2) {
 margin: 0;
 float: right;
}
 .Optica_transce_dl_p_one {
 padding-bottom: 44px;
}
 .Optica_transce_dt {
 margin-top: 80px;
}
 .Optica_Story {
 margin-top: 50px;
}
 .Optica_Chart_tab {
 width: 960px;
}
 .Optica_Chart dl dd {
 overflow-x: auto;
}
 .Optica_Sourcefrom_txt br {
 display: none;
}
 .Optica_Sourcefrom_tit {
 padding-top: 20px;
}
 .Optica_Sourcefrom_bg {
 display:none;
}
 .Optica_Sourcefrom {
 background: #f4f4f4;
 padding-bottom: 50px;
 height:inherit; padding:20px 10px;
}
.Optica_Sourcefrom span{margin-bottom:0;}
.Optica_Sourcefrom_txt{ text-align: left;}
 .Optica_introduce_bg {
display:none;
}
 .Optica_introduce {
padding:0 10px;
}
 .Optica_TreeDiagram_middle {
 position: absolute;
 left: 44px;
}
 .Optica_TreeDiagram_left {
 position: static;
 width: 100%;
 margin: 20px 0;
}
 .OT_center {
 height: initial;
 padding-bottom: 20px;
}
 .Optica_one {
 margin-top: 0;
}
 .Optica_one, .Optica_two, .Optica_three, .Optica_four, .Optica_five, .Optica_six {
 left: 0;
 top: initial;
}
 .Optica_TreeDiagram_position_left {
 left: 36px;
}
 .Optica_TreeDiagram_left_left {
 left: 16px;
}
 .Optica_TreeDiagram_position_right {
 width: 16px;
 height: 16px;
 background: #fff;
 border-radius: 50%;
 border: 1px solid #0070BC;
 position: absolute;
 left: 36px;
 top: initial;
}
 .Optica_TreeDiagram_left_right {
 width: 50px;
 height: 1px;
 background: #0070BC;
 position: absolute;
 top: 8px;
 left: 16px;
}
 .Optica_TreeDiagram_bg {
 display: none;
}
 .Optica_TreeDiagram_warp {
 height: 92%;
}
 .Optica_Chart_list {
 width: 49%;
 margin-right: 1%;
 margin-bottom: 1%;
}
.Optica_Warehouses dl.Optica_Warehouses_dl {
    width: 33%;
   }
}
@media(max-width:670px) {
 .Optica_Sourcefrom_bg {
 height: 410px;
}
 .Optica_transce_dl_p {
 padding: 36px 18px 44px;
}
 .Optica_transce_dl_p_one {
 padding-bottom: 20px;
}
 .Optica_Warehouses_dl dd {
 padding: 20px 10px 50px 10px;
}
 .Optica_Sourcefrom_bg {
 height: 480px;
}
}
@media(max-width:480px) {
 .Optica_banner {
 height: 220px;
 overflow: hidden;
}
 .Optica_banner_bg {
 height: 220px;
}
 .Optica_transce_dl {
 width: 100%;
 height: auto;
}
 .Optica_transce_dl:nth-child(2),.Optica_transce_dt {
 margin-top:65px;
}

 .Optica_Warehouses dl.Optica_Warehouses_dl {
 width: 100%;
}
 .Optica_ManagementSystem_dl {
 width: 100%;
 margin-bottom: 10px;
}
 .Optica_Exhibition div {
 width: 100%;
}
 .Optica_market_dl {
 width: 100%;
}
 .Optica_transce_dl_p {
 padding: 36px 10px 44px;
}
 .Optica_Warehouses_dl dd {
 padding: 12px 10px 30px;
}
 .Optica_banner_tit {
 font-size: 24px;
 line-height: 40px;
 font-weight: 400;
 padding-top: 50px;
 margin-bottom: 20px;
}
 .Optica_banner_txt br {
 display: none;
}
 .Optica_banner_txt {
 font-size: 18px;
 line-height: 24px;
 font-weight:400;
}
 .Optica_introduce p {
 font-size: 14px;margin-top: 20px;
 line-height: 22px;
 font-weight:400;
 color: #616265;
 padding-left: 10px;
 padding-right: 10px;
}
 .Optica_business_tit {
 font-size: 20px;
 line-height: 30px;
 font-weight: 400;
 padding-bottom: 15px;
 padding-top: 30px;
}
 .Optica_business_txt br {
 display: none;
}
 .Optica_Story {
 font-size: 20px;
 line-height: 30px;
 font-weight: 400;
 padding-bottom: 15px;
 padding-top: 30px;
 margin: 0;
}
 .Optica_business_txt br {
 display: none;
}
 .Optica_ManagementSystem_dl dt {
 font-size: 24px;
 line-height: 26px;
 padding-bottom: 20px;
}
 .Optica_ManagementSystem_dl dd {
 font-size: 14px;
 line-height: 22px;
}
 .Optica_ManagementSystem_dl:nth-child(3) {
 margin: 0;
}
 .Optica_ManagementSystem_dl {
 margin-bottom: 30px;
}
 .Optica_market_tit {
 font-size: 30px;
 line-height: 32px;
 font-weight: 400;
 color: #232323;
 padding-bottom: 15px;
 padding-top: 30px;
}
 .Optica_market_dl dd br {
 display: none;
}
 .Optica_CustomerFeedback_tit {
 font-size: 30px;
 line-height: 32px;
 font-weight: 400;
 color: #232323;
 padding-bottom: 15px;
 padding-top: 30px;
}
 .Optica_Sourcefrom_bg {
 display: none;
}
 .Optica_Sourcefrom span img {
 margin-top: 0;
}
 .Optica_TreeDiagram_left_top h3 {
 padding-top: 20px;
}
 .Optica_Exhibition {
 padding-bottom: 0;
}
 .Optica_introduce dl {
 margin-bottom: 0;
}
 .Optica_TreeDiagram_middle {
 display: none;
}
 .Optica_TreeDiagram_position_right, .Optica_TreeDiagram_position_left {
 display: none;
}
 .Optica_TreeDiagram_left_h3 {
 margin-bottom: 10px;
 padding: 0;
 font-size: 16px;
}
 .Optica_TreeDiagram_left_p {
 padding: 0;
}
 .Optica_TreeDiagram_left {
 margin: 30px 0;
 height:auto;
}
 .Optica_TreeDiagram_left:nth-child(2) {
 margin-top: 0;
}
 .Optica_Chart_list {
width: 100%;
 float: none;
 margin-right: 0;
 margin-bottom: 2%;
}
}
