.Otn_content{
	margin-right: 120px;
	margin-left: 120px;
}
.Otn_content:after{content:"";display:block;clear:both;} 
.Otn_banner{
	height: 380px;
}
.Otn_banner_bg{
	position: absolute;
	left: 0;
	width: 100%;
	height: 380px;
	z-index: -1;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/OTN_Solution/Otn_solution-banner.jpg) no-repeat center;
}
.Otn_banner_tit{
	font-size: 38px;
	color: #fff;
	text-align: center;
	padding-top: 140px;
	margin-bottom: 24px;
	font-weight: 400;
	line-height: 40px;
}
.Otn_banner_txt{
	font-size: 18px;
	color: #fff;
	font-weight:400;
	text-align: center;
	line-height: 24px;
}
.Otn_business{
	overflow: hidden;
}
.Otn_business_tit{
	font-size: 30px;
	color: #232323;
	font-weight: 400;
	text-align: center;
	padding-top: 48px;
	line-height: 32px;
	padding-bottom: 15px;
}
.Otn_business_txt{
	font-size: 14px;
	color: #999;
	text-align: center;
	line-height: 22px;
	padding-bottom: 50px;
	font-weight:400;
}
.Oth_ring{
	overflow: hidden;
}
.Otn_dl:after{content:"";display:block;clear:both;} 
.Otn_dl_dt{
	width: 30%;
	float: left;
}
.Otn_dl_dt img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
	height: inherit;
	padding-top: 26px;
}
.Otn_dl_dd{
	width: 70%;
	float: left;
}
.Otn_dl_dd_dl{
	margin-bottom: 50px;
	padding-left: 140px;
}
.Otn_dl_dd_dl:after{content:"";display:block;clear:both;} 
.Otn_dl_dd_dl dt{
	float: left;
	width: 10%;
	margin-top: 8px;
}
.Otn_dl_dd_dl dt div{
	width: 48px;
	height: 48px;
	transform: rotate(45deg);
	border-radius:3px ;
}
.Otn_dl_dd_dl dt span{
	width: 48px;
	height: 48px;
	display: block;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	color: #fff;
	transform: rotate(-45deg);
}
.Otn_dt_one{
	background: #4379b6;
	width: 48px;
	height: 48px;
	transform: rotate(45deg);
	border-radius:3px ;
	margin: 0 auto;
	display: block;
	font-style: normal;
}
.Otn_dt_two{
	background: #6b4a9e;
	width: 48px;
	height: 48px;
	transform: rotate(45deg);
	border-radius:3px ;
	margin: 0 auto;
	display: block;
	font-style: normal;
}
.Otn_dt_three{
	background: #38879b;
	width: 48px;
	height: 48px;
	transform: rotate(45deg);
	border-radius:3px ;
	margin: 0 auto;
	display: block;
	font-style: normal;
}
.Otn_dt_one span,.Otn_dt_two span,.Otn_dt_three span{
	width: 48px;
	height: 48px;
	display: block;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	color: #fff;
	transform: rotate(-45deg);
}

.Otn_dl_dd_dl dd{
	float: left;
	width: 90%;
}
.Otn_dd_txt{
	text-align: left;
	padding-left: 22px;
	padding-bottom: 0;
}
.Otn_dd_tit{
	color: #232323;
	font-weight: 400;
	padding-bottom: 18px;
}
.Otn_txt{
	text-align: center;
	color: #232323;
	font-size: 24px;
	font-weight:400;
	padding-top: 50px;
	line-height: 28px;
}
.Otn_solution_dl{
	margin-top: 64px;
}

.Otn_solution_dl:after{content:"";display:block;clear:both;} 
.Otn_solution_dl dt{
	width: 100%;
}
.Otn_solution_dl dt img{
	max-width: 100%;
	display: block;
	margin:0 auto;
	height: inherit;
	padding-bottom: 50px;
}
.Otn_solution_table{
	width: 100%;
	border-top: 1px solid #8d8d8f;
	padding-bottom: 50px;
}
.Otn_solution_table tr td{
	border-bottom: 1px solid #DEDEDE;
	text-align: left;
}
.Otn_solution_table tr td{
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
	color: #232323;
	font-weight:400;
}
.Otn_solution_table tr:nth-child(1){
	background: #e5e5e5;
	color: #232323;
	font-size: 18px;
	font-weight: 400;
}
.Otn_solution_table tr:nth-child(1) th{
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: left;
}
.Otn_td_left{
	padding-left: 90px;
}
.Otn_th_one{
	width: 20%;
}
.Otn_th_two{
	width:8%
}
.Otn_th_three{
	width:59%
}
.Otn_th_four{
	width: 15%;
}
.Otn_th_four .button_02{font-weight: 400;}
.Otn_Successful:after{content:"";display:block;clear:both;} 
.Otn_business_tit_bottom{
	padding-bottom: 40px;
}
.Otn_Successful:after{content:"";display:block;clear:both;} 
.Otn_Successful_img{
	overflow: hidden;
}
.Otn_Successful_img_dl{
	float: left;
	width: 48%;
	margin-right: 4%;
}
.Otn_Successful_img_dl dd{
	text-align: center;
}
.Otn_Successful_img_dl:last-child{
	margin-right: 0;
}
.Otn_Successful_img_dl dt img{
	max-width: 100%;
	margin: 0 auto;
	display: block;
	height: inherit;
}
.Otn_Successful_tit{
	padding: 34px 0;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	font-weight:400;
}
.Otn_Successful_a{
	margin-bottom: 46px;
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	line-height: 30px;
	color: #0070BC;
}
.Otn_bg{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: -1;
}
.Otn_bg_one{
	height: 650px;
	background: #f6f6f6;
}
.Otn_bg_two{
	height: 850px;
	background: #f6f6f6;
}
.Otn_bg_three{
	height: 653px;
	background: #f6f6f6;
}
.Otn_business_tit_one{
	padding-top: 0;
}
.Otn_solution_dl_three{
	/*margin-bottom: 50px;*/
}
.Otn_solution_table_two tr:last-child td{
	border-bottom: 1px solid #DEDEDE;
}
.Otn_td_a a{
	text-align: center;
	color: #0070BC;
	text-decoration: none;
}
.Otn_td_a a:hover{
	text-decoration: underline;
}
.Otn_th_four .button_02{
	color: #c00000 !important;
    border: 1px solid #c00000 !important;
    transition: transform .6s,background-color .3s !important;
    -moz-transition: transform .6s,background-color .3s !important;
    -webkit-transition: transform .6s,background-color .3s !important;
    -o-transition: transform .6s,background-color .3s !important;
	padding-right: 12px;
	position: relative;
}
.Otn_th_four .button_02:hover{
    text-decoration: none;
    color: #fff !important;
}
.Otn_Successful_img_dl .iconfont{
	font-size:14px;
	padding-left:5px;
	color:#0070BC;
}
.contact{
	display:none;
}
.Otn_Successful_a:hover{
	color:#0070BC;
}


@media(max-width:1440px){
	.box{
		width: 1200px;
	}
	.Otn_content{
		margin: 0;
	}
	.Otn_bg_three{
		height: 620px;
	}
}	
@media(max-width:1220px){
	.box{
		width: 960px;
	}
	.Otn_dl_wap br,.Otn_Successful_img br{
		display: none;
	}
	.Otn_bg_three{
		height: 565px;
	}
	.Otn_td_left{
		padding-left: 30px;
	}
}	
@media(max-width:960px){
	.box{
		width: 100%;
	}
	.content{
		width: auto;
		padding: 0 10px;
	}
	.Otn_dl_dt,.Otn_dl_dd{
		width: 100%;
	}
	.Otn_dl_dd_dl{
		padding-left: 20px;
	}
	.Otn_dl_dt img{
		padding-bottom: 50px;
	}
	.Otn_solution_dl dd{
		overflow-x: auto;
	}
	.Otn_solution_table{
		width: 1200px;
	}
	.Otn_Successful_img_dl{
		width: 100%;
		margin-right: 0;
	}
	.Otn_bg_one{
		height: 636px;
	}
	.Otn_bg_three{
		display: none;
	}
	.Otn_bg_two{
		height: 834px;
	}
}	
@media(max-width:700px){
	.Otn_dl_dd_dl dt,.Otn_dl_dd_dl dd{
		width: 100%;
	}
	.Otn_dl_dd_dl dt div{
		margin: 0 auto;
	}
	.Otn_dl_dd_dl,.Otn_dl_dd_dl dt{
		margin-bottom: 26px;
	}
	.Otn_dd_tit,.Otn_dd_txt{
		text-align: center;
		padding-left: 0;
	}
	.Otn_solution_dl dt img{
		padding-bottom: 20px;
	}
	.Otn_solution_dl dt{
		overflow-x: auto;
	}
	.Otn_solution_dl dt img{
		width: 1020px;
		max-width: inherit;
	}
	/*.Otn_business_tit{
		padding-top: 0;
	}*/
}
@media(max-width:480px){
	.Otn_banner{
		height: 220px;
		overflow: hidden;
	}
	.Otn_banner_bg{
		height: 220px;
	}
	.Otn_business_tit{
		font-size: 24px;
		line-height: 40px;
		font-weight: 400;
		padding-top: 24px;
	}
	.Otn_banner_tit{
		font-size: 24px;
		line-height: 40px;
		font-weight: 400;
		padding-top: 30px;
	}
	.Otn_business_txt{
		font-size: 16px;
		line-height: 22px;
		font-weight:400;
	}
	.Otn_business_txt_one{
		padding-bottom: 0;
	}
	.Otn_business_txt_middle{
		padding-bottom: 30px;
	}
	.Otn_solution_dl{
		margin-top: 30px;
	}
	.Otn_solution_table{
		padding-bottom: 0;
	}
	.Otn_bg_one{
		height: 573px;
	}
	.Otn_bg_two{
		height: 836px;
	}
	.Otn_Successful{
		margin-bottom: 0;
	}
	.patch_contact{
		margin-top: 0;
	}
}
#ProductsAttributes .box_close{
	top:12px;
}
#ProductsAttributes .box_close a{
	
    font-size: 24px;
    color: #999;
    font-weight: 400;
}
#ProductsAttributes .box_close a:hover{
	text-decoration:none;
	color:#232323;
}	