.box,.content{width: 100%;box-sizing: border-box;}
.content{padding-top: 0;}
.sale_banner { height: 600px; }
.sale_banner_bg { position: absolute; width: 100%; height: 600px; left: 0;  z-index: -1;background: url(https://www.feisu.com/includes/templates/fiberstore/images/specials/pre/Pre-Order-banner.jpg) no-repeat center;background-size: cover;}
.sale_banner_tit{font-size: 50px; color: #fff; text-align: left; padding-top: 167px; font-weight: 400;line-height: 60px;}
.sale_banner_txt{font-size: 18px;color: #fff;font-weight: 400;text-align: left;line-height: 38px;padding-bottom: 50px;}
.sale_con{width: 1320px;margin: 0 auto;} 

.pre_new_wap1:after{content:"";display:block;clear:both;}
.pre_new_wap1 li{float: left;color: #FFFFFF;width: 68px;text-align: center;position: relative;height: 34px;}
.pre_new_wap1 li span{font-size: 14px;color: #FFFFFF;line-height: 22px;width: 35px;height: 35px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/new-pre/pre-order-icon1.png) no-repeat;display: inline-block;background-position: -4px 2px;}
.pre_new_wap1 li:first-child,.pre_new_wap1 li:last-child{width: 46px;}
.pre_new_wap1 li:first-child{text-align: left;}
.pre_new_wap1 li:last-child{text-align: right;}
.pre_new_wap1 li.pre-dash{width: 90px;}
.pre_new_wap1 li.pre-dash-middle{width: 80px;}
.pre-table-tell{height: 34px;display: table-cell;vertical-align: middle;text-align: center;width: 90px;}
.pre-table-tell em{display: block;border-top: 1px dashed #FFFFFF;position: relative;}
.pre-table-tell em i{display: inline-block;width: 9px;height: 9px;border-radius: 50%;border: 1px solid #FFFFFF;position: absolute;left: 0;z-index: 1;top: 50%;transform: translateY(-50%);background: #15283a;}
.pre-table-tell-last em i{right: 0;left: inherit;}
.pre_new_wap1 li.pre-back-two span{background-position: 0px -60px;}
.pre_new_wap1 li.pre-back-three span {background-position: 0px -124px;}
.pre_new_wap1 li.pre-back-four span {background-position: 0px -184px;}
.pre_new_wap1 li p{font-size: 14px;line-height: 22px;padding-top: 10px;}
.pre-black{background: #373d4b;}
.pre-black .pre_h201{color: #FFFFFF;}
.pre-ul-wap{width: 1200px;height: 408px;display: table-cell;vertical-align: middle;text-align: center;padding: 70px 0;}
.pre-ul{width: 1140px;height: 3px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/new-pre/pro-order-line.png) no-repeat;display: inline-block;}
.pre-ul li{float: left;width: 25%;height: 100%;position: relative;}
.pre-ul li:last-child{width: 0;}
.pre-starting{width: 0px;height: 0px;float: left;position: relative;}
.pre-num{width: 25px;height: 25px;border-radius: 50%;background: #FFFFFF;text-align: center;line-height: 25px;position: absolute;z-index: 1;top: 50%;left: 0;transform: translate(-50%,-50%);font-size: 14px;color: #373d4b;display: block;font-style: normal;} 
.pre-txt{width: 236px;color: #fff;text-align: left;position: absolute;left: 50%;transform: translateX(-50%);}
.pre-txt h2{font-size: 18px;line-height: 32px;font-weight: 400;}
.pre-txt p{font-size: 14px;line-height: 22px;padding-top: 8px;}
.pre-img-radius{position: absolute;left: 50%;transform: translateX(-50%);}
.pre-pillar{display: inline-block;width: 3px;height: 36px;background: #FFFFFF;}
.pre-img-radius img{margin-top: -6px;}


.pre-txt-top{bottom: 36px;}
.pre-txt-bottom{top: 40px;}
.pre-img-bottom{top: 6px;}
.pre-img-top{bottom: 1px;}

.pre-dl-wap{margin-top: 36px;}
.pre-dl-wap:after{content:"";display:block;clear:both;}
.pre-dl{width: 25%;float: left;height: 275px;}
.pre-dl:nth-child(even){background: #e9eef1;} 
.pre-dl:nth-child(odd){background: #f4f5f7} 
.pre-dl dt{text-align: center;padding-top: 75px;}
.pre-dl dt span{display: inline-block;width: 74px;height: 74px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/new-pre/pre-order-icon.png) no-repeat;background-position: -11px -11px;}
.pre-dl-two dt span{background-position: -311px -11px;}
.pre-dl-three dt span{background-position: -611px -11px;}
.pre-dl-four dt span{background-position: -911px -11px;}
.pre-dl dd{font-size: 14px;color: #232323;line-height: 22px;text-align: center;padding-top: 20px;}
.pre-img:after{content:"";display:block;clear:both;}
.pre-left{float: left;}
.pre-right{float: right;}
.pre-img{margin-top: 36px;}
.pre-img-wap:after{content:"";display:block;clear:both;}
.pre-img-left,.pre-text{float: left;}
.pre-img-left{width: 59%;}
.pre-text{width: 41%;display: table;}
.pre-ul li:first-child .pre-txt{left: 40px;}
.pre-middle{display: table-cell;vertical-align: middle;height: 350px;padding-left: 60px;box-sizing: border-box;}
.pre-middle h1{font-size: 24px;color: #232323;line-height: 22px;font-weight: 400;padding-bottom: 16px;padding-top: 14px;}
.pre-middle p{font-size: 14px;line-height: 22px;color: #616265;}
.pre-middle em{width: 22px;height: 2px;background: #232323;display: inline-block;}
.pre-Reverse .pre-img-left{float: right;text-align: right;}
.pre-Reverse .pre-middle{padding-left: 0;}
.pre-Reverse .pre-text{padding-right:60px;box-sizing: border-box;}
.pre-img-wap{margin-bottom: 40px;}
.pre-middle span{display: block;margin-top: 8px;}
.pre-middle span a{font-size: 14px;color: #0070BC;line-height: 22px;}
.pre-middle span .icon{font-size: 12px;color: #0070BC;}
.pre-img-wap:last-child{margin-bottom: 70px;}
.pre-back{background: #f7f7f7;}
.pre-back .pre_alone_conent{width: 1420px;}
.pre-back .new_proList_mainListLi{width: 276px;margin-right: 10px;padding: 18px 20px;margin-bottom: 0;} 
.pre-back .new_proList_ListBPrice{margin-bottom: 0;}
.pre-back .new_proList_mainListLi:last-child{margin-right: 0;}
.pre-back .new_proList_mainListL{margin-top: 44px;}
.color_bg2{background: #f7f7f7;margin-top: 162px;}
.pre-img1{text-align: center;}
.pre-img1 img{display: inline-block;margin: 0 auto;border-radius: 18px;max-width: 100%;box-shadow: 0 0px 20px -5px rgba(34,70,10,.1);margin-top: -116px;}

.pre_alone_conent{width: 1200px;margin: 0 auto;}
.pre_h201{font-size: 26px;color: #232323;line-height: 32px;font-weight: 400;text-align: center;padding-top: 65px;}
.pre_h201_p{font-size: 14px;line-height: 22px;color: #616265;text-align: center;margin-top: 20px;}
.pre-img img{max-width: 100%;height: inherit;display: block;margin: 0 auto;}
.sale_banner_txt em{display: inline-block;height: 14px;background: #FFFFFF;width: 1px;margin: 0 10px;}
.sale_banner_txt br{display: none;}
.pre-left, .pre-right{width: 49%;}
.pre_alone_conent .new_proList_mainListLi .new_proList_ListSizes_listLi{padding:0 5px} 

.color_bg5{background: #f7f7f7;padding-bottom: 70px;}
.pre_p0101{font-size: 14px;color: #616265;line-height: 22px;text-align: center;padding-top: 38px;padding-bottom: 46px;}
.pre_popu_wap{width: 960px;margin: 0 auto;background: #FFFFFF;padding: 42px 50px 0 50px;box-sizing: border-box;}
.pre_popu_wap .input100{height: 38px;}
.pre_popu_wap .new17address_add{margin-bottom: 16px;}
.quest_textarea .acc_textarea{height: 100px;min-height: 100px;max-height: 100px;transition: all .3s;border:1px solid #e5e5e5}
.quest_textarea .acc_textarea:focus {border: 1px solid #999;}
.quest_textarea .wordwrap{display: block;}
.pre_popu_wap .button_text_right{text-align: center;padding-bottom: 50px;}
.pre_popu_wap .button_text_right .button_02{width: 160px;height: 46px;line-height: 44px;background: #fff;color: #232323;border: 1px solid #4c4948;transition: all .3s;}
.pre_popu_wap .button_text_right .button_02:hover{background: #4c4948;color: #fff;}
.form_onl{position: relative;}
.form_onl .input100{text-indent: 54px;}
.checkout_Npro_areaCode{position:absolute;width:49px;height:38px;background-color:#e5e5e5;color:#232323;text-align:center;line-height:38px;top:25px;font-size:13px;font-weight:400;border:1px solid #ccc;border-top-left-radius:3px;border-bottom-left-radius:3px;box-sizing:border-box}
.pre_popu_wap .button_text_right .button_02:hover{background: #4c4948;border: 1px solid #4c4948;}

.new17address_add .form_input{padding:0}
.new17address_add .layout50:nth-child(2n-1){  padding-right: 20px;  box-sizing: border-box;  }


@media(max-width:1440px){
	.color_bg4 .pre_alone_conent,.color_bg3 .pre_alone_conent,.sale_con,.pre-back .pre_alone_conent{width: 1200px;}
	.pre-ul{width: 960px;}
	.pre_alone_conent,.sale_con{padding: 0 10px;box-sizing: border-box;}
	.pre-back .new_proList_mainListLi{width: 19.3%;}
}
@media(max-width:1220px){
	.pre_alone_conent,.sale_con,.pre_alone_conent,.pre-back .pre_alone_conent{width: 960px;}
	.pre-middle{height: inherit;}
	.pre-ul{width: 100%;background: none;}
	.pre-starting{width: auto;height: auto;position: relative;}
	.pre-num,.pre-pillar{display: none;}
	.pre-txt,.pre-img-radius{position: inherit;left: inherit;top: inherit;right: inherit;bottom: inherit;transform: none;}
	.pre-ul-wap,.pre-ul{height: auto;}
	.pre-ul li{width: 50%;margin-bottom: 30px;}
	.pre-img-radius{width: 160px;float: left;}
	.pre-txt{width: 60%;float: left;padding-left: 30px;box-sizing: border-box;padding-top: 20px;}
	.pre-ul li:first-child .pre-txt{left: inherit;}
	.pre-ul li:last-child{width: auto;}
	.pre-img-radius img{margin-top: 0;}
	.pre-back .new_proList_mainListLi{width: 32.6%;margin-bottom: 10px;}
	.pre-back .new_proList_mainListLi:nth-of-type(3n){margin-right: 0;}  
	.pre_new_wap1 li.pre-dash{width: 56px;}
	.sale_banner_txt{padding-right: 490px;}
}
@media(max-width:960px){
	.pre_alone_conent,.sale_con,.pre_popu_wap,.pre-back .pre_alone_conent{width: 100%;}
	.box, .content{padding: 0;}
	.pre_new_wap1{display: none;}
	.sale_banner_tit{padding-top: 140px;}
	.sale_banner_txt {padding-right: 0px;width: 400px;}
	.sale_banner_txt em{display: none;}
	.sale_banner_txt br{display: block;}
	.pre_h201_p br{display: none;}
	.pre-dl{width: 50%;}
	.pre-dl:nth-child(3){background: #e9eef1;}
	.pre-dl:nth-child(4){background: #f4f5f7;}
	.pre-img-left,.pre-text,.pre-ul li{width: 100%;}
	.pre-middle{padding-left: 0;}
	.pre-img img{width: 100%;max-width: inherit;}
	.pre-back .new_proList_mainListLi{width: 48.8%;}
	.pre-back .new_proList_mainListLi:nth-of-type(3n){margin-right: 10px;}
	.pre-back .new_proList_mainListLi:nth-of-type(2n){margin-right: 0;}
	.new_proList_ListImg img{width: inherit;}
	
}
@media(max-width:860px){
	.pre-left, .pre-right{width: 100%;}
	.pre-left{margin-bottom: 10px;}
}
@media(max-width:730px){
	.pre-img img{width: inherit;max-width: 100%;}
}
@media(max-width:480px){
	.content{padding: 0;}
	.pre_alone_conent{padding: 0 15px;}
	.sale_banner{box-sizing: border-box;padding: 0 10px;}
	.sale_banner,.sale_banner_bg{height:220px}
	.sale_banner_tit{font-size: 30px;line-height: 24px;padding-bottom: 7px;padding-top: 40px;padding-right: 100px;}
	.sale_banner_txt{font-size: 14px;width: 150px;line-height: 22px;box-sizing: border-box;font-weight:400;}
	.pre_h201{font-size: 20px;padding-top: 20px;line-height: 24px;}
	.pre-back .new_proList_mainListLi{width: 100%;margin-right: 0;}
	.pre-img-radius,.pre-txt{width: 100%;text-align: center;padding-left: 0;}
	.pre-ul-wap{padding: 0;padding-top: 20px;}
	.pre_h201_p{margin-top: 8px;}
	.pre-dl-wap {margin-top: 14px;}
	.pre-dl dt{padding-top: 46px;}
	.pre-dl{height: 175px;}
	.pre-dl dt span{background-position: 0px 0px;background-size: cover;}
	.pre-dl-two dt span{background-position: -224px 0px;}
	.pre-dl-three dt span {background-position: -448px 0px;}
	.pre-dl-four dt span {background-position: -672px 0px;}
	.pre-dl dd{padding-top: 0;}
	.pre-img{margin-top: 18px;}
	.pre-middle h1{font-size: 20px;padding-top: 12px;padding-bottom: 14px;}
	.pre-middle{padding-top: 8px;}
	.pre-img-wap{margin-bottom: 18px;}
	.pre-img-wap:last-child{margin-bottom: 24px;}
	.pre-ul{margin-top: 5px;}
	.pre-txt{padding-top: 10px;}
	.pre-txt p{padding-top: 6px;}
	.pre-ul li{margin-bottom: 24px;}
	.only-h2{letter-spacing: -1px;}
	.pre-img1 img{margin-top: -62px;}
	.color_bg2{margin-top: 78px;}	
	.pre-back .new_proList_mainListL{margin-top: 15px;}

	.pre_popu_wap{padding: 10px 15px 0 15px;}
	.new17address_add .layout50:nth-child(2n-1) {  padding-right: 0px;  }
	.new17address_add .layout50:nth-child(2n) .form_input{  width:100%;  }
	.new17address_add{width:100%;}
}

/*暂时隐藏*/
.only-h2,.pre-img1{display:none}
.color_bg2{margin-top:0}


/*提交成功弹窗*/
#new-soluSupt-tipWindow .addCart_cont{border-top:none}
.success-tipWindow .popup_width680 .new_popup_addCart_tit{box-sizing: initial;}




