body{margin:0 auto;padding:0;font-size:13px;font-family:'Open Sans',Arial,Helvetica,sans-serif;font-style:normal;font-weight:400;list-style:none}
.content{padding:0}
img{display:block}
dd,div,dl,dt,form,h1,h2,h3,input,li,p,select,ul{margin:0;padding:0;list-style:none}
em{font-style:normal}

.menu_02{display: none !important;}
.box{width: 100% !important; padding: 0 !important;}
.sale_banner { height: 380px; }
.sale_banner_bg { position: absolute; width: 100%; height: 380px; left: 0;  z-index: -1;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/price_distribution/banner.jpg) no-repeat center; }
.sale_banner_tit{font-size: 38px; color: #fff; text-align: center; padding-top: 140px; margin-bottom: 18px;font-weight: 400;line-height: 40px;}
.sale_banner_txt{font-size: 18px;color: #fff;font-weight:400;text-align: center;line-height: 24px;}
.sale_tit { padding: 50px 0 20px; font-weight: 400; color: #232323; text-align: center; font-size: 30px; line-height: 32px; }
.sale_txt { font-size: 14px; color: #616265; line-height: 22px; text-align: center; }
.sale_test_link {display: block;text-align: center;color: #0070BC;margin-top: 20px; font-size:16px;}
.sale_test_link span {font-size: 12px;margin-left: 5px;}
.sale_test_link:hover { color:#0070BC;}
.sale_con_main { margin-top:50px; }
.product_03_24 .img_add_cart{left:0 !important; }
.important_btn{margin-left:0 !important;}
.sale_con_main dl {/* padding-left: 70px;*/ overflow: hidden; margin-bottom:50px; padding:0 0 50px 0; border-bottom:1px solid #dedede; }
.sale_con_main dl:nth-child(4){border-bottom:0 ; }
.sale_con_main_left { float: left;  width:49%; text-align:center}
.sale_con_main_right { float: right; width:49%; text-align:center }
.sale_con_main dl dd { float: left; width: 51%; }
.sale_con_main_tit{margin-bottom: 15px;}
.sale_con_main_model { font-size:18px; color: #232323; margin-bottom: 20px; }
.sale_p_3{font-size: 14px;line-height: 26px;color: #616265;padding: 10px 0 5px 0;}
.sale_con_main_ps {margin-bottom: 30px; }
.sale_con_main_price { display: inline-block; font-size: 22px; line-height: 26px; color: #232323; }
.sale_con_main_stock { display: inline-block; font-size: 14px; color:#999; padding-top: 15px; margin-left:15px; }
.sale_con_main_stock i{    font-style: initial;}
.sale_con_main_stock b { color:#999; font-weight:normal;}
.sale_con_main_ps b{font-weight:400;}
.product_03_24 { position:relative; padding:0; overflow:hidden }
.product_03_24 .img_add_cart{left:0; }
/*.img_add_cart{width: 135px;position: absolute;right: 0;z-index: 89;line-height: 36px;height: 36px;padding: 0;text-align: center;border: 1px solid #dedede;color: #616265;background: #fff;border-radius: 3px;font-size: 14px;transform: rotateX(90deg) translateZ(20px);-webkit-transform: rotateX(90deg) translateZ(20px);-moz-transform: rotateX(90deg) translateZ(20px);transition: all 0.6s;-moz-transition: all 0.6s;-webkit-transition: all 0.6s;-o-transition: all 0.6s;}*/
.important_btn{width: 130px;transform: rotateX(0deg) translateZ(0px);padding-left: 42px;border: 1px solid #c00000;text-decoration: none;height: 38px;line-height: 38px;padding-left: 35px;min-width: 130px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -169px -418px;padding-left: 35px;color: #c00000;border: 1px solid #c00000;font-size: 14px;    border-radius: 3px;cursor: pointer;display: inline-block;    margin-bottom: 0;text-align: center;vertical-align: middle;padding: 0px 12px;padding-left: 42px; outline: none; font-family: 'Open Sans',Arial,Helvetica,sans-serif;font-weight: 600;}
.product_03_24 input.important_btn:hover{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -170px -241px #c00000 !important;
    color: #fff !important;}
.sale_con_main_tit a{ font-size: 30px; color: #232323; font-weight: 400; line-height:32px;  text-decoration: none; }
.sale_con_main_tit a:hover { text-decoration:none; color:#616265;}
.sale_con_main_txt { font-size:16px; color: #616265; line-height: 26px; font-weight:400; margin-bottom:14px; }
.sale_con_main_specs { overflow: hidden; margin-bottom: 20px; }
.sale_con_main_specs p { font-size: 18px; color: #232323; float: left; padding-top: 8px; margin-right: 20px; }
.sale_con_main_specs_content { float: left; overflow: hidden; width: 100%; }
.pr_tit{display: inline-block;font-size: 18px;font-weight: 400;line-height: 24px;color: #232323;margin-right: 20px;}
.sale_con_main_specs_content span{padding: 6px 20px;margin-right: 10px; border-radius: 3px;background: #f4f4f4;display: inline-block;font-size: 14px;line-height: 24px;color: #616265;}

.sale_con{width: 1440px;margin: 0 auto;}
.sale_con_main dl{padding-left: 50px; box-sizing: border-box;}
.sale_con_main dl dt img{display: block;margin: 0 auto;max-width: 100%;height: inherit;}
.public{background: #f6f6f6;}
.dl_two{padding-bottom: 0 !important; border-bottom: none !important;}
.price_tit{font-size: 30px;color: #232323;line-height: 30px;font-weight: 400;text-align: center;padding-top: 45px;padding-bottom: 15px;}
.price_txt{font-size: 14px;color: #616265;line-height: 24px;text-align: center;padding-bottom: 20px;}
.price_only{margin-bottom: 0 !important;}
.price_test{display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify; justify-content: space-between; padding-bottom: 50px;flex-wrap: wrap;-webkit-wrap: wrap; margin-top: 10px;}
.price_test div{overflow: hidden; cursor: pointer;}
.price_img img{display: block;margin: 0 auto;max-width: 100%;height: inherit;}
.price_img{position: relative;}
.img_bg{position: absolute;left: 0;bottom: 0;height: 40px;z-index: 10;width: 100%;}
.img_bg span{width: 460px;height: 100%;display: block;position: absolute; background: #6ab3e5;opacity: .9;}
.price_img .price_auto .img_bg p{line-height: 40px;text-align: center;color: #FFFFFF;z-index: 20; position: absolute;width: 460px;height: 100%;position: absolute; font-size: 16px; margin-top:0;}
.price_div_bottom{overflow: hidden;margin-top: 20px;padding-bottom: 50px;}
.price_dl_bottom{width: 25%;float: left; background: #FFFFFF; border-right: 1px solid #e5e5e5;box-sizing: border-box;}
.price_dl_bottom dt img{display: block;margin: 0 auto;max-width: 100%;height: inherit;padding-top: 50px;}
.price_dl_bottom dd h2{text-align: center;font-size: 24px;line-height: 24px;font-weight:400;padding-top: 35px;padding-bottom: 10px; color: #232323;}
.price_dl_bottom dd p{font-size: 14px;color:#616265;line-height: 24px;font-weight:400; text-align: center;padding: 0 24px;}
.auto_bg{position: absolute;width: 100%;height: 100%;background: #FFFFFF;z-index: -1; opacity: 0; transition: all .3s;}
.price_auto:hover .auto_bg{opacity: .3;z-index: 100;}
.pr_tit{float: left;padding-top: 5px;}
.price_div_auto{display: inline-block;float: left;width: 90%;}
.public .sale_con_main_specs_content span{background: #e7e7e7;}
.img_top{padding-top: 20px;}
.price_dl_bottom dd{min-height: 180px;}
.padding_only{padding-top: 20px;}
.patch_contact{margin: 0 auto;width: 1440px;}



@media(max-width:1440px){
.box,.sale_con,.patch_contact{width:1200px}
.sale_con_main dl dd,.sale_con_main_left,.sale_con_main_right{width:50%;margin-right:0;margin-left:0}
.sale_txt br{display:none}
.sale_quality_list_main{padding:40px 20px 0}
.sale_con_main dl{padding:0 30px 50px 30px}
.price_test{width: 80%;margin: 0 auto;}
.price_img{margin-bottom: 40px;}
.price_img:last-child{margin-bottom: 0;}
.price_dl_bottom dd{min-height: 210px;}
}
@media(max-width:1220px){
.box,.sale_con,.patch_contact{width:960px}
.sale_con_main_tit{font-size:28px}
.sale_quality_list_main{padding:40px 10px 0}
.sale_test_main{padding:0}
.sale_con_main dl{padding:0 0 50px 0}
.sale_a_3{margin-top:0}
.sale_con_main_specs_content span{margin-bottom:20px}
.price_test{width: 100%;}
.price_txt br{display: none;}
.price_div_bottom{display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;flex-wrap: wrap;-webkit-wrap: wrap; padding-bottom: 0;}
.price_dl_bottom{width: 48%;margin-bottom: 4%;}
.price_dl_bottom dd{min-height: 170px;}
}
@media(max-width:960px){
.box,.sale_con,.patch_contact{width:100%}
.content{width:auto;padding:0 !important;}
.sale_con{padding: 0 10px;box-sizing: border-box;}
.sale_con_main dl dd,.sale_con_main_left,.sale_con_main_right{width:100%;float:none}
.sale_con_main_specs_content span:last-child{margin-top:0}
.sale_quality_list{width:50%;border-bottom:1px solid #f6f6f6}
.sale_quality{height:auto}
.sale_quality_bg{height:1160px}
.sale_con_main_left img,.sale_con_main_right img{max-width:520px;margin:0 auto;display:block}
.sale_con_main_specs_content{width:100%}
.sale_con_main{margin-top: 0;}
.price_txt{padding-bottom: 0; text-align:left;}
.price_dl_bottom dd p{text-align:left;    padding: 0 20px;}
.sale_con_main_specs_content span{padding: 6px 10px;}
.sale_con_main dl{margin-bottom: 0;}
.dl_two{margin-bottom: 50px !important;}
.sale_con_main_specs{margin-bottom: 0;}
.price_test{margin-top: 20px;}
.price_img{width: 48%;}
.price_dl_bottom{width: 48%;margin-bottom: 4%;}
.price_div_bottom{padding-bottom: 0;}
}
@media(max-width:730px){
.price_img{width: 100%;text-align: center;}
.price_auto{display: inline-block;margin: 0 auto;position: relative;}
.sale_banner_tit{padding-top: 100px;}
.price_div_auto{width: 80%;}
}
@media(max-width:480px){
.sale_banner{box-sizing: border-box;padding: 0 10px;}
.sale_banner,.sale_banner_bg{height:220px}
.sale_con_main_left img,.sale_con_main_right img{max-width:100%}
.sale_tit{font-size:20px;line-height:30px;padding:30px 0 15px}
.sale_con_main_tit{font-size:20px;line-height:30px}
.sale_con_main_specs{margin-bottom:10px}
.sale_con_main_specs p{padding:0 0 10px 0}
.sale_con_main_txt{font-size:18px;margin-bottom:15px}
.sale_con_main_specs_content span{min-width:inherit;margin-bottom:10px}
.sale_con_main_price{font-size:28px}
.sale_con_main_stock{display:block;margin-left:0;padding-top:5px}
.sale_quality_bg{display:none}
.sale_quality_list{width:100%;border:1px solid #dedede;margin-bottom:10px}
.sale_test_con_list{width:100%;margin-right:0}
.sale_banner_tit{font-size:24px;padding-top:50px;line-height:30px;margin-bottom:5px}
.mic_banner_txt{font-size:18px;line-height:21px}
.price_dl_bottom{width: 100%;}
.price_img{margin-bottom: 20px;}
.price_tit{padding-top: 25px;}
.price_test{padding-bottom: 30px;}
.sale_con_main_tit a{font-size: 20px;}
.price_tit{font-size: 24px;}
}
.track_orders_wenhao_only .question_text_01{left:30px !important;top:-68px !important;}
/*plc页面样式*/
.sale_banner_bg.plc{
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/plc/PCL_banner.jpg) no-repeat center;
}
.sale_con_main_tit a{
	line-height: 38px;
}
.sale_con_main dl.paddingTop{
	padding-top: 50px;
}
.sale_con_main dl.borderBottom{
	border-bottom: 1px solid #dedede;
}
.sale_con_bg{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: -1;
	background-color: #f6f6f6;
}
.price_test .noPointer{
	cursor: default;
}
.price_img p{
	font-size: 14px;
	color: #232323;
	text-align: center;
}
.price_img h2{
	font-size: 18px;
	color: #232323;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
}
.price_test.plc{
	display: block;
	overflow: hidden;
}
.price_test.plc .price_img{
	float: left;
	width: 33%;
	
}
.price_dl_bottom.plc{
	border-right: none;
}
.price_dl_bottom dd h2.plc{
	font-size: 20px;
	font-weight: 400;
}
@media(max-width:660px){
	.price_test.plc .price_img{
		float: none;
		width: 100%;
	}
}
/*plc样式结束*/
.auto_bg{background: #00387d;}
.price_auto:hover .auto_bg{opacity: .7;z-index: 10;}
.img_bg{z-index:20;padding: 0 20px;box-sizing: border-box;transform: translateY(58%);transition: all .8s;}
.img_bg{position: absolute;left: 0;bottom: 0;z-index: 10;width: 100%;height: 100%;}
.img_bg span{width: 85px;height: 1px;background: #fff;margin-bottom: 28px;position: initial !important;display: block;}
.img_bg h2{padding-top:75px;text-align:left;font-size:18px;padding-bottom:15px;color: #fff; line-height: 30px;font-weight: 600;display: block;}
.img_bg em{font-size: 16px;line-height: 22px;text-align: left;padding-right: 50px;color: #fff;display: block;font-style: normal;font-weight:400;}
.price_auto:hover .img_bg{transform: translateY(0);}
@media (max-width: 960px){
	.img_bg{padding: 0 10px;}
}
