.popup_share{border-top:none !important;}
em{font-style:normal}
.content,.box{padding: 0;}
.pr_banner { height: 380px; }
.pr_banner_bg { position: absolute; width: 100%; height: 380px; left: 0;  z-index: -1;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/Product_sub_page/Data_Center_Products_banner_02.jpg) no-repeat center; }
.isp_banner_bg{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/Product_sub_page/ISP_Networks_banner_02.jpg);}
.ent_banner_bg{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/Product_sub_page/Enterprise_Small_Business_banner_02.jpg);}
.pr_banner_tit{font-size: 38px; color: #fff; text-align: center; padding-top: 133px; margin-bottom: 9px;font-weight: 400;line-height: 60px;}
.pr_banner_txt{font-size: 18px;color: #fff;font-weight: 400;text-align: center;line-height: 30px;}
.pr_Public_top{margin: 30px 0 22px 0;background: #F6F6F6;overflow: hidden;}
.pr_left,.pr_right{display: inline-block;}
.pr_left{float: left;}
.pr_right{float: right;}
/* .pr_left a{width: 194px;background: #0070BC;text-decoration: none;line-height: 44px;text-align: center;color: #FFFFFF;display: inline-block;font-size: 18px;margin-right: 25px;} */
.pr_left span{font-size: 14px;color: #232323;line-height: 44px;}
.pr_right img{display: inline-block;padding-top: 5px;margin-right: 28px;}
.pr_right img,.pr_right .pr_a01,.pr_right p{float: left;}
.pr_a01{width: 100px;line-height: 26px;height: 26px;display: inline-block;text-align: center;color: #0070BC;border: 1px solid #0070BC;border-radius: 3px;text-decoration: none;margin-right: 20px;margin-top: 9px;}
.pr_a01:hover{text-decoration: none;color: #fff;background: #0070BC;}
.pr_right p{line-height: 44px;font-size: 12px;color: #232323;padding-right: 30px;}
.pr_right a{color: #0070BC;font-size: 12px;}
.pr_right p em{padding: 0 5px;color: #999999;font-size: 12px;vertical-align: middle;margin-top: -5px;display: inline-block;}
.pr_txt01{font-size: 14px;color: #232323;line-height: 22px;padding-bottom: 25px;}
.pr_wrapp:after{content:"";display:block;clear:both;} 
.pr_center{text-align: center;padding-bottom: 36px;}
.price_h2{font-size: 30px;color: #232323;font-weight: 400;padding: 50px 0 20px 0;line-height: 28px;}
.pr_center span{display: inline-block;border-top:1px solid #999 ;height: 1px;width: 40px;}
.pr_cen{display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;flex-wrap: wrap;-webkit-wrap: wrap;padding-bottom: 20px;}
.pr_dl{background: #FFFFFF;width: 460px;margin-bottom: 30px;transition: all .3s;}
.pr_dl:hover{box-shadow: 0 15px 15px -10px rgba(0,0,0,.15);-moz-box-shadow: 0 15px 15px -10px rgba(0,0,0,.15);}
.pr_dl dt img{display: block;margin: 0 auto;max-width: 100%;width: 460px;height: 240px;}
.pr_dl_h2{font-size: 18px;color: #232323;font-weight: 600;padding-top: 27px;padding-bottom: 15px;}
.pr_dl dd{padding: 0 30px;box-sizing: border-box;}
.pr_dl_p{font-size: 14px;color: #616265;line-height: 24px;/*padding-bottom: 23px;*/letter-spacing: -0.3px;min-height: 95px;}
.pr_dl_a span{display: block;padding: 2px 0;}
.pr_dl_a span a{line-height: 24px;color: #232323;font-size: 14px;}
.pr_dl_a span a:hover{color: #0070BC;text-decoration: underline;}
.pr_dl_a{padding-bottom: 25px;}
.pr_bg{position: absolute;width: 100%;left: 0;z-index: -1;background: #F6F6F6;}
.qu_img_bg{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/Product_sub_page/img_bg.png) no-repeat;background-position: -88px -126px;display: inline-block;width: 36px;height: 36px;float: left;vertical-align: middle;margin-top: 4px;margin-right: 10px;}
.qu_opt_bg{background-position: -22px -128px;width: 38px;}
.qu_cen_bg{background-position: -154px -126px;}
.banner_right{height: initial;}
.pr_left a{cursor: default;}

@media(max-width:1440px){
	.box,.popup_share{width:1200px}
	.pr_Public_top, .pr_Public_top_fixed{width:1190px;}
	.pr_dl{width: 32%;}
	.pr_padding,.pr_wrapp{padding-left: 10px;padding-right: 10px;box-sizing: border-box;}
	.pr_dl_p{min-height: 125px;}
	.pr_dl dt img{width:377px;height:198px;}
}
@media(max-width:1220px){
	.box{width:960px}
	.pr_dl{width: 48.5%;}
	.pr_dl_p{min-height: 95px;}
	.pr_left span{display: none;}
	.pr_dl dt img{width:456px;height:238px;}
    .pr_Public_top{
        width: 100%;
    }
}
@media(max-width:1024px){
	.pr_banner_tit{padding-top: 100px;}
}
@media(max-width:960px){
	.home_mobile_banner{display: block !important;}
	.box{width:100%}
	.pr_banner_tit,.pr_banner_txt{padding-left: 10px;padding-right: 10px;box-sizing: border-box;}
	.pr_banner_tit{line-height: 50px;}
	.pr_dl dt img{width:auto;height:auto;min-width:287px;min-height:150px;}
}
@media(max-width:870px){
	.pr_dl_p{min-height: 115px;}
}
@media(max-width:800px){
	.pr_dl_p{min-height: 135px;}
}
@media(max-width:730px){
	.pr_right p{display: none;}
}
@media(max-width:690px){
	.pr_dl_p{min-height: 155px;}
}
@media(max-width:620px){
	.pr_dl{width: 460px;margin-left: auto;margin-right: auto;}
	.pr_dl_p{min-height: inherit;padding-bottom: 23px;}
}
@media(max-width:480px){
	.pr_banner{height:220px;overflow:hidden}
	.pr_banner_bg{height:220px}
	.pr_dl{width: 100%;}
	.pr_banner_tit{font-size: 24px;padding-top: 47px;line-height: 24px;}
	.pr_banner_txt{font-size: 16px;line-height: 24px;}
	.pr_dl dd{padding: 0 20px;}
	.pr_Public_top{margin: 20px 0 22px 0;}
	.pr_txt01{padding-bottom: 25px;}
	.price_h2{padding: 30px 0 20px 0;font-size: 24px;}
	.pr_center{padding-bottom: 16px;}
	.pr_dl{margin-bottom: 20px;}
	.pr_left a{width: auto;padding: 0 10px;margin-right: 0;}
	.pr_right img,.pr_a01{margin-right: 10px;}
}
@media(max-width:330px){
	.pr_left a{font-size: 14px;}
}

/**ISP***/
.m_isp_bg{width:40px;height:40px;background-position: -20px -125px;}

.pr_Public_top{width:1420px;margin: 40px 0 42px 0;background: #F6F6F6;overflow: hidden;box-sizing: border-box;height:46px;margin-left: auto;margin-right: auto;}
.pr_Public_top_fixed{width:1420px;background: #F6F6F6;overflow: hidden;padding: 0 20px;box-sizing: border-box;height:46px;}
.pr_Public_top_fixed.active{position: fixed;z-index: 95;top: 0;left:50%;transform: translateX(-50%);box-shadow: 0 15px 15px -10px rgba(0,0,0,.15);}
.pr_left,.pr_right{display: inline-block;}
.pr_left{float: left;}
.pr_right{float: right;}
.pr_left a{text-decoration: none;line-height: 44px;text-align: center;color: #232323;display: inline-block;font-size: 18px;margin-right: 25px;}
.pr_left span{font-size: 14px;color: #232323;line-height: 44px;}
.pr_right img{display: inline-block;padding-top: 5px;margin-right: 28px;}
.pr_right img,.pr_right .pr_a01,.pr_right p{float: left;}
.pr_a01{width: 100px;line-height: 26px;height: 26px;display: inline-block;text-align: center;color: #0070BC;border: 1px solid #0070BC;border-radius: 2px;text-decoration: none;margin-right: 20px;margin-top: 9px;}
.pr_a01:hover{text-decoration: none;color: #fff;background: #0070BC;}
.Pr_a_02{font-size: 13px;color: #0070BC;}
.Pr_soan01{float: left;margin-right: 30px;padding-top: 12px;}
.Pr_soan01 .icon{font-size: 12px;color: #0070BC;}
.Pr_p01{font-size: 13px;color: #232323;}
.Pr_p01 a{color: #0070BC;}
.Pr_border01{line-height: 12px;border-right: 1px solid #DEDEDE;display: inline-block;padding: 0 6px 0 0;margin-right: 5px;}
.Pr_p01{padding-top: 13px;}
@media(max-width:1440px){
	.pr_Public_top,.pr_Public_top_fixed{width:1200px;}
}
@media(max-width:1220px){
	.pr_Public_top,.pr_Public_top_fixed{width:960px;}
}
@media(max-width:960px){
	.pr_Public_top,.pr_Public_top_fixed{width:auto;}
	.pr_Public_top_fixed.active{position: static;box-shadow: none;}
}
@media (max-width: 1220px){
	.pr_Public_top{padding: 0px;}
	.pr_left{display: none;}
	.pr_right{float: inherit;display: block;}
	.Pr_p01{display: none;}
	.Pr_soan01{float: right;margin-right: 0;}
	.qu_img_bg{margin-top: 0;}
	/*.pr_Public_top{padding: 6px 10px;}*/
	.Pr_soan01{padding-top: 8px;}
}

