.box,
.content {
  width: 100%;
}
.soluSide-banner {
  height: 380px;
  text-align: center;
}
.soluSide-banner-bg {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/poe-series/soluSide-poe-banner.jpg");
}
.soluSide-banner-tit {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 25px;
  padding-top: 135px;
  color: #fff;
}
.soluSide-banner-txt {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
}
.soluSide-child-winBox {
  width: 1200px;
  box-sizing: border-box;
  margin: auto;
}
.soluSide-child-box.gray-boxBg {
  background: #f7f7f7;
}
.soluSide-overview-cont {
  padding: 50px 0;
}
.soluSide-overview-list {
  display: table;
  background: #fff;
  margin-bottom: 10px;
}
.soluSide-overview-list li {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
.soluSide-overview-list li:last-child {
  padding: 0 30px;
}
.soluSide-overview-list li div {
  font-size: 20px;
  color: #232323;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 23px;
}
.soluSide-overview-list li p {
  font-size: 14px;
  color: #616265;
  line-height: 22px;
}
.soluSide-overview-list li p:last-child {
  margin-top: 18px;
}
.soluSide-overview-list01 {
  background: #fff;
  display: table;
  width: 100%;
}
.soluSide-overview-list01 li > div {
  display: table;
}
.soluSide-overview-list01 li {
  display: table-cell;
  width: 25%;
  padding: 20px 35px;
  vertical-align: middle;
}
.soluSide-overview-imgBox {
  width: 66px;
  height: 66px;
  position: relative;
  border-radius: 50%;
  background: #f7f7f7;
  display: table-cell;
}
.soluSide-overview-imgBox img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.soluSide-overview-list01 li p {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  color: #232323;
  line-height: 24px;
  padding-left: 15px;
}
.soluSide-child-tit {
  font-size: 26px;
  color: #232323;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
  padding: 45px 0 30px;
}
.soluSide-child-txt {
  font-size: 14px;
  color: #616265;
  line-height: 24px;
  text-align: center;
}
.soluSide-child-txt.text-left {
  text-align: left;
}
.soluSide-tagBox {
  padding: 30px 0 66px;
  text-align: center;
}
.new-mtp-img-container .spirit_bs {
  display: block;
}
.soluSide-child-swiper {
  position: relative;
  padding-bottom: 63px;
}
.soluSide-child-proList {
  width: 100%;
}
.soluSide-child-proList li {
  width: 25%;
  float: left;
  background: #fff;
  padding: 10px 32px 23px;
  box-sizing: border-box;
  transition: all 0.3s;
}
.soluSide-child-proList li:hover {
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.15);
}
.soluSide-child-proList li img {
  margin: 0 auto;
}
.soluSide-child-proList li > a:hover {
  text-decoration: none;
}
.soluSide-child-proList li div {
  font-size: 16px;
  color: #232323;
  font-weight: 600;
}
.soluSide-child-imgBox {
  margin: 15px 0;
}
.soluSide-child-proList li p {
  font-size: 14px;
  color: #616265;
  line-height: 24px;
  margin-top: 10px;
}
.soluSide-child-swiper .swiper-button-next {
  position: absolute;
  background: none;
  top: 49px;
  margin-top: 0;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 26px;
  right: 0;
}
.soluSide-child-swiper .swiper-button-next .icon {
  font-size: 12px;
  font-weight: 600;
}
.soluSide-child-swiper .swiper-button-prev {
  position: absolute;
  background: none;
  top: 49px;
  margin-top: 0;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 26px;
  right: 44px;
  left: auto;
}
.soluSide-child-swiper .swiper-button-prev .icon {
  font-size: 12px;
  font-weight: 600;
}
.soluSide-child-swiper .swiper-button-next.swiper-button-disabled,
.index-feature-proSlide .swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
  color: #999999;
}
.soluSide-child-swiper.swiper-container-horizontal
  > .swiper-pagination-bullets {
  bottom: 35px;
}
.soluSide-child-swiper
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #999999;
}
.soluSide-child-swiper .swiper-pagination-bullet {
  background: #e5e5e5;
  opacity: 1;
}
.soluSide-child-imgBox {
  text-align: center;
}

.soluSide-feature-listBox {
  padding: 0 0 50px;
}
.soluSide-feature-listBox a {
  display: block;
}
.soluSide-feature-listBox a:hover {
  text-decoration: none;
}
.soluSide-feature-list {
  display: table;
  background: #f7f7f7;
}
.soluSide-feature-list li {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
.soluSide-feature-list li:last-child > a {
  padding: 0 10px 0 40px;
}
.soluSide-feature-tit {
  font-size: 16px;
  color: #232323;
  font-weight: 600;
  line-height: 24px;
  margin: 25px 0 12px;
}
.soluSide-feature-list li p {
  font-size: 14px;
  color: #616265;
  line-height: 24px;
}
.soluSide-feature-more {
  font-size: 14px;
  color: #0070bc;
  line-height: 24px;
  margin-top: 20px;
}
.soluSide-feature-more span:first-child {
  float: left;
  line-height: 22px;
}
.soluSide-feature-more span:first-child:hover {
  text-decoration: underline;
}
.soluSide-feature-more .icon {
  font-size: 13px;
  font-weight: 600;
  color: #0070bc;
  margin-left: 6px;
}
.soluSide-explore-list {
  display: table;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 50px;
}
.soluSide-explore-list li {
  display: table-cell;
  text-align: center;
  width: 403px;
  border-right: 10px solid #f7f7f7;
  padding: 35px 0;
  background: #fff;
}
.soluSide-explore-list li:last-child {
  width: 393px;
  border-right: 0;
}
.soluSide-explore-imgBox {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  background: #f7f7f7;
}
.soluSide-explore-imgBox img {
  position: absolute;
  top: 50%;
  left: 50%;
}
.soluSide-explore-list li:first-child .soluSide-explore-imgBox img {
  margin-top: -17.5px;
  margin-left: -17.5px;
}
.soluSide-explore-list li:nth-child(2) .soluSide-explore-imgBox img {
  margin-top: -18.87px;
  margin-left: -18px;
}
.soluSide-explore-list li:last-child .soluSide-explore-imgBox img {
  margin-top: -18.53px;
  margin-left: -19px;
}
.soluSide-explore-tit {
  font-size: 16px;
  color: #232323;
  line-height: 22px;
  font-weight: 600;
  margin: 15px 0;
}
.soluSide-explore-list li p {
  font-size: 13px;
  color: #616265;
  line-height: 20px;
  height: 80px;
}
.soluSide-explore-more > a {
  color: #0070bc;
  font-size: 14px;
}
.soluSide-explore-more > a .icon {
  font-size: 13px;
  font-weight: 600;
}
.soluSide-explore-more > a:hover {
  text-decoration: none;
}
.soluSide-explore-more > a:hover span:first-child {
  text-decoration: underline;
}

.displayFlexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.soluSide-banner-bg.Remote-Support {
  background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/Remote-Technical-Support/images/Technical-Support-banner-bg.jpg);
}
.Remote-Support-banner .soluSide-banner-txt {
  font-size: 16px;
}
h2.remote-banner-tit {
  margin-bottom: 10px;
}
div.Product-Support-tit {
  font-size: 26px;
  line-height: 22px;
  font-weight: 400;
  color: #232323;
  padding: 50px 0 15px;
}
.Product-Support-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Product-Support-ul a {
  font-size: 14px;
  line-height: 22px;
  color: #616265;
  text-decoration: none;
  padding: 0 10px;
  cursor: inherit;
}

.Product-Support-ul li.line {
  width: 1px;
  background: #616265;
  height: 12px;
}
.Product-Support-ul li:last-child a {
  border: none;
}
.Product-Support-list {
  margin-top: 15px;
}
.Product-Support-list li {
  width: 393px;
  background: #fff;
  margin: 10px 10px 0 0;
  transition: all .3s;
}
.Product-Support-list li:hover a {
  text-decoration: none;
}
.Product-Support-list li:nth-child(3n) {
  margin-right: 0;
}
.Product-Support-list li:hover {
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.15);
}
.Remote-Support-box .soluSide-child-swiper {
  padding-bottom: 50px;
}

.Product-Support-item-txt {
  padding: 25px 30px;
}
.Product-Support-h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #232323;
  margin-bottom: 5px;
}
.Product-Support-h3.pc {
  display: block;
}
.Product-Support-h3.m {
  display: none;
}
.Remote-Support-box .Product-Support-p {
  height: 66px;
  word-break: keep-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.Product-Support-p {
  font-size: 14px;
  line-height: 22px;
  color: #616265;
}
.Product-Support-a {
  margin-top: 20px;
}
.Product-Support-a a {
  font-size: 14px;
  line-height: 22px;
  color: #0070bc;
}
.Product-Support-a a.pc{
  display: inline-block;
}
.Product-Support-a a.m{
  display: none;
}
.Product-Support-list li .Product-Support-a:hover a {
  text-decoration: none;
}
.Product-Support-list li .Product-Support-a:hover a span{
  text-decoration: underline;
}
.Product-Support-list li .Product-Support-a:hover a .icon{
  text-decoration: none;
}



.Product-Support-a .icon {
  font-size: 13px;
  color: #0070bc;
}
.Need-Help-box .soluSide-child-tit {
  font-size: 26px;
  line-height: 22px;
  font-weight: 400;
  padding: 50px 0 30px;
}

.bus_wap {
  width: 100%;
}
.bus_alone {
  width: 1200px;
  margin: 0 auto;
}
.about_us_a {
  color: #0070bc;
}
.about_us_a:hover {
  color: #0070bc;
}
.about_a_wap {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 12px;
}
.about_a_wap .icon {
  font-size: 12px;
  color: #0070bc;
}
.about_a_wap .about_us_a {
  font-size: 14px;
  line-height: 24px;
}
.Need-Help-box .about_ul_con {
  margin-top: 25px;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-wrap: wrap;
}
.about_ul_con li {
  width: 386px;
  text-align: center;
  background: #f7f7f7;
  padding: 50px 50px 0px 50px;
  box-sizing: border-box;
  border-bottom: 3px solid #f7f7f7;
  transition: all 0.3s;
}
.about_ul_con li:hover {
  border-color: #0070bc;
}
.about_ul_con li img {
  width: 43px;
  height: 43px;
}
.about_ul_con_tit {
  font-size: 16px;
  color: #232323;
  font-weight: 600;
  line-height: 26px;
  padding-top: 22px;
  padding-bottom: 10px;
}
.about_ul_con_txt {
  font-size: 13px;
  color: #666;
  line-height: 22px;
  padding-bottom: 10px;
  min-height: 66px;
}
.about_seven {
  padding-bottom: 60px;
}
.Need-Help-box .alone_tit {
  font-size: 26px;
  color: #232323;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  padding-top: 50px;
  font-weight: 400;
}
.Remote-Support-box .soluSide-child-box {
  padding-bottom: 50px;
}
@media (max-width: 1440px) {
  .Need-Help-box .bus_alone {
    padding: 0;
    box-sizing: border-box;
  }
}
@media (max-width: 1220px) {
  .soluSide-child-winBox {
    width: 960px;
  }
  .soluSide-child-proList li {
    padding: 15px 15px 23px;
  }
  .soluSide-overview-list li:last-child {
    padding: 0 15px;
  }
  .soluSide-overview-list li div {
    margin-bottom: 13px;
  }
  .soluSide-overview-list li p:last-child {
    margin-top: 8px;
  }
  .soluSide-overview-list01 li {
    padding: 20px 25px;
  }
  .soluSide-child-txt br {
    display: none;
  }
  .bus_alone {
    width: 960px;
    margin: 0 auto;
  }
  .about_ul_con li {
    width: 32.6%;
    margin-bottom: 2%;
  }
  .about_seven {
    padding-bottom: 40px;
  }

  .Product-Support-list li {
    width: 32.6%;
  }
  .Product-Support-list li img {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .Product-Support-list li {
    width: 49.3%;
  }
  .soluSide-child-winBox {
    width: 100%;
    padding: 0 15px;
  }
  .soluSide-overview-list {
    padding: 10px 0 10px 10px;
  }
  .soluSide-overview-list li {
    vertical-align: top;
  }

  .soluSide-overview-list01 {
    display: block;
    box-sizing: border-box;
  }
  .soluSide-overview-list01 li {
    display: block;
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .soluSide-child-proList li {
    padding: 10px 20px 23px;
  }
  .soluSide-child-imgBox {
    margin-bottom: 10px;
  }
  .soluSide-feature-list {
    padding: 10px;
  }
  .soluSide-feature-list li {
    vertical-align: top;
  }
  .soluSide-feature-list li:last-child > a {
    padding: 0 10px 0 15px;
  }
  .soluSide-explore-list li p {
    padding: 0 10px;
  }
  .soluSide-explore-list li p br {
    display: none;
  }
  .soluSide-child-proList li div {
    font-size: 14px;
  }
  .soluSide-banner-tit {
    padding-top: 175px;
  }
  .Need-Help-box .bus_alone {
    padding: 0 15px;
  }
  .soluSide-banner-bg.Remote-Support {
    background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/Remote-Technical-Support/images/Technical-Support-banner-bg-m.jpg);
  }

  .alone_tit {
    padding-top: 35px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
  }
  .bus_alone {
    padding: 0 15px;
  }
  .bus_alone {
    width: 100%;
  }

  .Product-Support-list li:nth-child(3n) {
    margin-right: 10px;
  }
  .Product-Support-list li:nth-child(2n) {
    margin-right: 0px;
  }
  .Product-Support-list {
    justify-content: center;
  }
  .Product-Support-list li img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .Need-Help-box .alone_tit {
    line-height: 30px;
  }
  .Remote-Support-banner .soluSide-banner-tit {
    padding-top: 197px;
  }
}
@media (max-width: 480px) {
  .soluSide-banner,
  .soluSide-banner-bg {
    height: 220px;
  }
  .soluSide-banner-tit {
    font-size: 26px;
    line-height: 34px;
    padding-top: 60px;
    margin-bottom: 11px;
  }
  .soluSide-banner-txt {
    font-size: 14px;
    line-height: 20px;
    padding: 0 15px;
  }
  .soluSide-overview-cont {
    padding: 20px 0;
  }
  .soluSide-overview-list {
    padding: 0;
    display: block;
    margin-bottom: 0;
  }
  .soluSide-overview-list li {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .soluSide-overview-list li div {
    text-align: center;
    margin: 25px 0 10px;
  }
  .soluSide-overview-imgBox {
    display: block;
    margin: 0 auto 10px;
  }
  .soluSide-overview-list01 {
    padding: 25px 15px 0;
  }
  .soluSide-overview-list01 li {
    text-align: center;
    padding: 35px 15px 23px;
  }
  .soluSide-overview-list01 li:first-child,
  .soluSide-overview-list01 li:nth-child(2) {
    border-top: 1px solid #f7f7f7;
  }
  .soluSide-overview-list01 li > div {
    display: block;
  }
  .soluSide-overview-list01 li p {
    display: block;
    padding-left: 0;
    height: 48px;
  }
  .soluSide-child-txt {
    text-align: left;
    padding: 0 15px;
  }
  .soluSide-child-tit {
    font-size: 20px;
    line-height: 24px;
    padding: 35px 15px 15px;
  }
  .soluSide-tagBox {
    padding: 20px 15px 34px;
  }
  .the-poeBox .soluSide-child-winBox {
    padding: 0;
  }
  .soluSide-child-swiper .swiper-button-next,
  .soluSide-child-swiper .swiper-button-prev {
    display: none;
  }
  .soluSide-child-proList li img {
    width: 120px;
    margin: 0 auto;
  }
  .soluSide-child-proList li {
    padding: 10px 10px 23px;
  }
  .soluSide-child-swiper {
    margin-top: 5px;
    padding-bottom: 53px;
  }
  .soluSide-child-swiper.swiper-container-horizontal
    > .swiper-pagination-bullets {
    bottom: 25px;
  }
  .soluSide-feature-list {
    display: block;
    padding: 0;
  }
  .soluSide-feature-list li {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .soluSide-feature-list li:last-child > a {
    padding: 40px 15px 32px;
  }
  .soluSide-feature-list li:last-child > a img {
    width: 100%;
  }
  .soluSide-explore-list {
    display: block;
  }
  .soluSide-explore-list li {
    width: 100%;
    border: 0;
    margin-bottom: 10px;
    display: block;
    box-sizing: border-box;
  }
  .soluSide-explore-list li p br {
    display: block;
  }
  .soluSide-explore-list li:last-child {
    width: 100%;
  }
  .soluSide-feature-list li:last-child > a img.data-center-Featured-m {
    width: auto;
  }
  .soluSide-feature-list-25G li:last-child > a img {
    width: auto;
  }
  .Remote-Support-banner p {
    display: none;
  }
  .Remote-Support-banner .remote-banner-tit {
    padding-top: 98px;
  }
  .Product-Support-list li {
    width: 100%;
    margin-right: 0 !important;
  }
  .about_ul_con li {
    width: 100%;
    margin-bottom: 20px;
  }
  .about_ul_con li:last-child {
    margin-bottom: 0;
  }
  div.Product-Support-tit {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0 10px;
  }
  .Product-Support-item-txt {
    padding: 10px 10px 20px;
  }
  .Product-Support-h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .Product-Support-h3.pc {
    display: none;
  }
  .Product-Support-h3.m{
    display: block;
  }
  .Need-Help-box .alone_tit {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 30px 0;
  }
  .Need-Help-box .about_ul_con {
    margin-top: 15px;
  }
  .Need-Help-box .about_ul_con li {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .Product-Support-p,
  .Product-Support-a a {
    font-size: 13px;
  }
  .Product-Support-a a.pc{
    display: none;
  }
  .Product-Support-a a.m{
    display: inline-block;
  }
  .Remote-Support-box .soluSide-child-box {
    padding-bottom: 30px;
  }
}
