.box,.content{width: 100%;}
.sales-banner {
	height: 200px;
}
.sales-banner-bg {
	position: absolute;
	width: 100%;
	left: 0;
	height: 200px;
	z-index: -1;
	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/sales/sales-tax-banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}
.sales-banner-tit{
	font-size: 40px;
	color: #fff;
	text-align: center;
	line-height: 48px;
	padding-top: 50px;
	padding-bottom: 15px;
	font-weight: 400;
}
.sales-banner-txt{
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 26px;
}
.sales_container{
	background: #F7F7F7;
	padding-bottom: 60px;
}
.sales_width{
	width: 1200px;
	margin: 0 auto;
	padding-top: 40px;
}
.sales_content_tit{
	font-size: 26px;
	color: #232323;
	line-height: 34px;
	text-align: center;
	padding-bottom: 18px;
}
.sales_div_public{
	background: #fff;
	padding: 42px 60px 46px 60px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.sales_txt{
	font-size: 14px;
	color: #616265;
	line-height: 24px;
}
.sales_a{
	color:#0070bc;
}
.sales_a:hover{
	color:#0070bc;
	text-decoration:underline;
}
.sales_color{
	color: #232323;
}
.sales_point{
	width: 5px;
	height: 5px;
	display: inline-block;
	border-radius: 50%;
	background: #616265;
}
.sales_ul .sales_point{
	position: absolute;
	left: 0;
	top: 9px;
}
.sales_ul li{
	position: relative;
	padding-left: 15px;
}
.sales_calculated{
	margin-top: 16px;
}
.states_ul{
	width: 100%;
	background: #F7F7F7;
	padding-top: 20px;
	padding-bottom: 24px;
	margin-top: 26px;
}
.states_ul li{
	width: 33%;
	float: left;
	padding-left: 40px;
    box-sizing: border-box;
    margin: 2px 0;
}
.states_ul .sales_point{
	margin-right: 12px;
	vertical-align: middle;
    margin-top: -2px;
}
.sales_div_public.two{
	padding-bottom: 50px;
} 
.sales_dl{
	width: 100%;
	margin-bottom: 22px;
}
.sales_dl dt{
	font-size: 16px;
	color: #232323;
	font-weight: 600;
	line-height: 26px;
	padding-bottom: 12px;
}
.sales_dl dd{
	font-size: 14px;
	color: #232323;
	line-height: 24px;
	background: #F7F7F7;
	padding: 11px 20px;
    box-sizing: border-box;
}
.sales_dl_conatiner{
	margin-top: 2px;
}
.sales_dl:last-child{
	margin-bottom: 0;
}

@media (max-width: 1220px){
	.box, .content{width: 100%;}
	.sales_width{width: 960px;}
}
@media (max-width: 960px){
	.sales_width{width: 100%;}
	.states_ul li{padding-left:0;}
	.states_ul{background:#fff}
}
@media (max-width: 480px){
	
	.sales_div_public{padding: 32px 15px 36px 15px;margin-bottom: 10px;}
	.sales_content_tit{font-size: 20px;line-height: 30px;padding-bottom: 16px;}
	.sales_width{padding-top: 0;}
	.states_ul{max-height: 500px;overflow-y: auto;}
	.sales_div_public.two{padding-bottom: 40px;}
	.sales_container{padding-bottom: 0;}
	.sales-banner-txt{padding: 0 40px;box-sizing: border-box;}
	.sales-banner-tit{font-size: 26px;line-height: 34px;padding-top: 48px;padding-bottom: 12px;}
	.sales-banner-bg{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/sales/sale-tax-banner-m.jpg);}
}


.sales-banner-tit {
  font-weight: 600;
}
.sales_content_tit {
  color: #19191a;
  font-weight: 600;
}
.sales_txt{
    color: #646466;
    line-height: 22px;
}
.sales_txt_center{
    text-align: center;
}
.sales_txt.sales_color{
    color: #19191A;
    padding-bottom: 10px;
}
.sales_point{
    background: #89898C;
}
.states_ul{
    margin-top: 18px;
}
.sales_a{
    color: #0060BF;
}
.sales_a:hover{
    color: #0060BF;
}
.sales_dl dt{
    color: #19191A;
    line-height: 24px;
    padding-bottom: 15px;
}
.sales_dl dd{
    color: #19191A;
    padding: 8px 20px;
    line-height: 22px;
}
.sales_div_public{
    margin-bottom: 18px;
}
.sales_div_public.two{
    padding-bottom: 48px;
}
.sales_container{
    padding-bottom: 30px;
}
.sales_calculated{
    margin-top: 12px;
}
