.new_100G_banner{
 height: 380px;
}
.new_100G_banner_bg{
 position: absolute;
 width: 100%;
 height: 380px;
 left: 0;
 background-image:url('https://img-en.fs.com/includes/templates/fiberstore/images/100G-banner.jpg') ;
 background-size: cover;
 z-index: -1;
 background-position:50%;
}
.new_100G_banner_tit{
 font-size: 40px;
 color: #ffffff;
 font-weight: 400;
 padding-top: 120px;
 line-height: 48px;
 padding-left: 110px;
 margin-bottom: 20px;
}
.new_100G_banner_txt{
 font-size: 20px;
 color: #fff;
 padding-left: 110px;
 line-height: 26px;
}
.new_100G_transceivers{
 width: 1200px;
 margin: 0 auto;
 padding-bottom: 50px;
}
.new_100G_transceivers_bg{
 position: absolute;
 width: 100%;
 min-height: 500px;
 left: 0;
 z-index: -1;
 background: #f7f7f7;
}
.new_100G_tit{
 font-size: 26px;
 line-height: 24px;
 color: #232323;
 line-height: inherit;
 padding: 42px 0 22px;
 text-align:center ;
 font-weight: 400;
}
.new_100G_txt{
 font-size: 14px;
 color: #616265;
 line-height: 24px;
 margin-bottom: 17px;
 text-align: center;
}
.new_100G_transceivers_table table{
 width: 1200px;
}
.new_100G_transceivers_table th{
 line-height: 50px;
 background-color: #e1f0f9;
 font-size: 14px;
 color: #232323;
 text-align: center;
 font-weight: 400;
 border-right: 1px solid #e5e5e5;
}
.new_100G_transceivers_table th:last-child{
 margin-right: 0;
}
.new_100G_transceivers_table td{
 background-color: #fff;
 border-right: 1px solid #e5e5e5;
 border-bottom: 1px solid #e5e5e5;
}
.new_100G_transceivers_table tr:last-child td{
 border-bottom: none;
}
.new_100G_transceivers_table td:last-child{
 border-right: none;
}
.new_100G_transceivers_table td:first-child img{
 display: block;
 margin: 0 auto;
}
.new_100G_transceivers_table td a{
 color: #0272a2;
 font-size: 14px;
 text-align: center;
}
.new_100G_transceivers_table td a:hover{
 color: #0272a2;
 text-decoration: none;
}
.new_100G_transceivers_table td{
 text-align: center;
 color: #616265;
}
.new_100G_transceivers_table td.reach{
 color: #519000;
}
.new_100G_transceivers_table tbody td.stock span{
 display: inline-block;
 width: 8px;
 height: 8px;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
 background-color: #76bb1f;
 vertical-align: middle;
 margin-right: 5px;
}
.new_100G_transceivers_table tbody td u{
 text-decoration: none;
}
.new_100G_transceivers_table tbody td.stock em{
 font-style: normal;
 color: #76bb1f;
}
.track_orders_wenhao_only .question_text_01{
 left: -120px !important;
}
.new_100G_transceivers_table tbody td.price span{
 font-size: 14px;
}
.new_100G_transceivers_table tbody td.price s{
 font-size: 12px;
 display: block;
}
.new_10g_why_list{
 float: left;
 width: 32%;
 margin-right: 2%;
}
.new_10g_why_list img{
 max-width: 100%;
}
.new_10g_why_list:last-child{
 margin-right: 0;
}
.new_10g_why_list p{
 line-height: 58px;
 font-size: 16px;
 color: #232323;
 text-align: center;
 background-color: #fff;
}
.new_10g_why .new_10g_tit{
 padding-bottom: 40px;
}
.new_10g_quality{
 width: 1200px;
 margin:0 auto;
 padding-bottom: 20px;
}
.new_10g_quality_bg{
 position: absolute;
 width: 100%;
 min-height: 500px;
 left: 0;
 z-index: -1;
 background: #f6f6f6;
}
.new_10g_quality_href{
 text-align: center;
 color: #0272a2;
 margin:25px 0 19px
}
.new_10g_quality_href a{
 font-size: 14px;
 color: #0272a2;
}
.new_10g_quality_href span{
 font-size: 12px;
 margin-left: 5px;
}
.new_10g_quality_pic{
 float: left;
 width:32%;
 margin-right: 2%;
}
.new_10g_quality_pic_img{
 position: relative;
}
.new_10g_quality_pic_icon{
 position: absolute;
 width: 72px;
 height: 72px;
 left: 50%;
 margin-left: -36px;
 bottom: -36px;
}
.new_10g_quality_pic:nth-of-type(3n){
 margin-right: 0;
}
.new_10g_quality_pic img{
 max-width: 100%;
 display: block;
 margin: 0 auto;
}
.new_10g_quality .new_10g_txt{
 padding: 0;
}
.new_10g_quality_pic_tit{
 font-size: 16px;
 color: #232323;
 font-weight: 400;
 text-align: center;
 margin-top: 50px;
}
.new_10g_quality_pic_txt{
 font-size: 14px;
 color: #616265;
 line-height: 24px;
 margin-top: 15px;
 text-align: center;
 min-height: 66px;
 margin-bottom: 25px;
}
.product_matrix_form{padding-left: 0}
@media(max-width: 1220px){
 .new_100G_transceivers,.new_10g_quality{
  width: auto;
 }
 .new_100G_transceivers{padding-bottom: 40px;}
 .new_100G_txt br{
  display: none;
 }
 .new_100G_transceivers_table{
  overflow-x: auto;
 }
}
@media(max-width: 960px){
 .box{
  width: 100%;
 }
 .content{
  width: auto !important;
  padding: 0 15px !important;
 }
 .new_100G_tit{
  font-size: 22px;
  padding: 30px 0 20px;
 }
 .new_10g_quality_pic{
  width: 50%;
 }
 .new_10g_quality_pic{
  margin-right: 0;
 }
 .new_100G_banner_bg{
  background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/m-100G-banner.jpg");
 }
 #cart_modal .product_aron{padding-left: 0}
 .track_orders_wenhao, .question_text{display: block}
}
@media(max-width: 480px){
 .new_100G_banner,.new_100G_banner_bg{
  height: 220px;
 }
 .new_100G_banner_tit{
  font-size: 26px;
  line-height: 34px;
  padding: 50px 0 0 0;
  margin-bottom: 15px;
 }
 .new_100G_banner_txt{
  padding-left: 0;
 }
 .new_100G_tit{
  font-size: 20px;line-height: 30px;padding: 35px 0 15px;
 }
 .new_10g_why_list{
  width: 100%;
  margin-right: 0;
 }
 .new_10g_quality_pic{
  width: 100%;
 }
}
.new_100G_transceivers_table td:last-child a.new_pro_addCart_btn {color: #c00000;display: inline-block;}
.new_100G_transceivers_table td:last-child a.new_pro_addCart_btn:hover {color: #fff;}