.second-level-page {
	width: 1200px;
	margin: 0 auto;
}
.second-level-banner {
	height: 380px;
}
.second-level-banner-bg {
	position: absolute;
	width: 100%;
	left: 0;
	height: 380px;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}
.second-level-banner-bg.special-10g {
	background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/10g-images/10G-banner.png");
}
.second-level-banner-bg.special-40g {
	background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/40g-images/40Gbanner.png");
}
.second-level-banner-bg.special-100g {
	background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/100g-images/100G-banner.png");
}
.second-level-banner-bg.special-dac {
	background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc/DAC-AOC_02.png");
}
.second-level-banner-bg.special-switch {
	background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/dcs/switch_banner.png");
}
.second-level-banner-bg.special-cable {
	background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/new_copper/pc-cable-banner.png");
}
.second-level-banner-bg.special-mtp-mpo {
	background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/mtp_mpo/MTP-banner.png");
}
.second-level-banner-bg.special-Enclosures {
	background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/Enclosures/Enclosures-banner.png");
}
.second-level-banner-bg.special-lc-sc {
	background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/lc_sc/lc-sc-banner.png");
}
.second-level-banner-bg.special-wdm {
    background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/wdm/WDM-banner_02_02.png");
}
.second-level-banner-tit {
	padding: 100px 0 0;
	font-size: 40px;
	font-weight: 400;
	color: #fff;
	line-height: 48px;
}
.second-level-banner-txt {
	margin-top: 20px;
	font-size: 16px;
	color: #fff;
	line-height: 26px;
}
.second-level-page-content {
	padding: 0 0 50px;
}
.second-level-page-content-bg {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #f7f7f7;
	z-index: -1;
}
.second-level-content-tit {
	font-weight: 600;
	color: #232323;
	font-size: 26px;
	line-height: 34px;
	padding: 45px 0 30px;
    text-align: center;
    position: relative;
}
.second-level-content-tit-href {
    position: absolute;
    right: 0;
    top: 45px;
	font-size: 14px;
	color: #0070bc;
	font-weight: 400;
}
.second-level-content-tit-href a {
	color: #0070bc;
}
.second-level-content-tit-href .icon {
	font-size: 12px;
}
.second-level-product-tree {
	padding-bottom: 50px;
}
.second-level-product-tree-main {
	background-color: #fff;
}
.second-level-product-tree-con {
    text-align: center;
    padding: 40px 0;
}
.second-level-product-tree-tit {
	padding: 42px 0 22px;
	font-size: 20px;
	font-weight: 600;
	color: #232323;
	text-align: center;
	line-height: 26px;
	margin: 0;
}
.second-level-product-tree-tag {
	position: relative;
	display: inline-block;
}
.second-level-product-tree-tag img {
	display: block;
	margin: 0 auto;
}
.second-level-product-tree-tag .spirit_bs {
	display: block;
}
.second-level-product-tree-main-bottom {
	display: none;
}
.second-level-product-tree-main-more {
	text-align: center;
	margin-top: 35px;
}
.second-level-product-tree-main-more a {
	color: #0070bc;
	font-size: 14px;
	text-decoration: none;
}
.second-level-product-tree-main-more a:hover{
    text-decoration: underline;
}

.second-level-product-tree-main-more .icon {
    color: #0070bc;
	font-size: 12px;
	margin-left: 3px;
}
.second-level-ap-li {
	float: left;
	width: 393px;
	margin-right: 10px;
}
.second-level-ap-li:hover{
    cursor: pointer;
}
.second-level-ap-li-tag {
	position: relative;
}
.second-level-ap-li:hover .spirit_bs {
	display: block;
}
.second-level-ap-li:last-child {
	margin-right: 0;
}
.second-level-cs-main{
    display: table;
}
.second-level-cs-main-left,
.second-level-cs-main-right {
	display: table-cell;
    width: 50%;
    vertical-align: middle;
}
.second-level-cs-main-left img {
	max-width: 100%;
	display: block;
	margin:0 auto;
}
.second-level-cs-main-right {
	background-color: #f7f7f7;
	padding: 0 85px 0 40px;
}
.second-level-cs-main-right img {
	display: block;
	height: 22px;
	margin-bottom: 25px;
}
.second-level-cs-main-right-tit {
	font-size: 16px;
	color: #232323;
	line-height: 22px;
	margin-bottom: 10px;
}
.second-level-cs-main-right-txt {
	font-size: 13px;
	color: #666;
	line-height: 20px;
	margin-bottom: 20px;
}
.second-level-cs-main-right a {
	text-decoration: none;
	color: #0070bc;
	font-size: 14px;
}
.second-level-cs-main-right a:hover{
    text-decoration: underline;
}
.second-level-cs-main-right a .icon{
	color: #0070bc;
	line-height: 20px;
	display: inline-block;
	margin-left: 5px;
    vertical-align: middle;
    font-size:12px;
}
.cat-Ethernet-bottom {
	padding-top: 50px;
	padding-bottom: 25px;
}
.cat-Ethernet-btmList {
	width: 1200px;
	margin: auto;
}
.cat-Ethernet-btmList li {
	float: left;
	text-align: center;
	padding: 0 20px;
	box-sizing: border-box;
	width: 24.375%;
	margin-right: 10px;
}
.cat-Ethernet-btmList li:nth-of-type(4n) {
	margin-right: 0;
}
.cat-Ethernet-btmList li:first-child img {
	height: 48px;
	width: auto;
}
.cat-Ethernet-btmTxt {
	padding: 20px;
}
.cat-Ethernet-btmTxt div {
	font-size: 16px;
	font-weight: 600;
	color: #232323;
	margin-bottom: 10px;
	line-height: 26px;
}
.cat-Ethernet-btmTxt p {
	font-size: 13px;
	color: #666;
	font-weight: 400;
}
.soluSide-child-winBox {
	box-sizing: border-box;
	margin: auto;
}
.soluSide-child-tit {
	font-size: 26px;
	color: #232323;
	font-weight: 600;
	line-height: 34px;
	text-align: center;
	padding: 45px 0 20px;
}
.soluSide-explore-list {
	display: table;
	width: 100%;
	margin-top: 10px;
	padding-bottom: 50px;
}
.soluSide-explore-list li {
	display: table-cell;
	text-align: center;
	width: 403px;
	border-right: 10px solid #f7f7f7;
	padding: 35px 0;
	background: #fff;
}
.soluSide-explore-list li:last-child {
	width: 393px;
	border-right: 0;
}
.soluSide-explore-imgBox {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	margin: 0 auto;
	background: #f7f7f7;
}
.soluSide-explore-imgBox img {
	position: absolute;
	top: 50%;
	left: 50%;
}
.soluSide-explore-list li:first-child .soluSide-explore-imgBox img {
	margin-top: -17.5px;
	margin-left: -17.5px;
}
.soluSide-explore-list li:nth-child(2) .soluSide-explore-imgBox img {
	margin-top: -18.87px;
	margin-left: -18px;
}
.soluSide-explore-list li:last-child .soluSide-explore-imgBox img {
	margin-top: -18.53px;
	margin-left: -19px;
}
.soluSide-explore-tit {
	font-size: 16px;
	color: #232323;
	line-height: 22px;
	font-weight: 600;
	margin: 15px 0;
}
.soluSide-explore-list li p {
	font-size: 13px;
	color: #616265;
	line-height: 20px;
	height: 80px;
}
.soluSide-explore-more>a {
	color: #0070BC;
	font-size: 14px;
}
.soluSide-explore-more>a .icon {
	font-size: 13px;
	font-weight: 600;
}
.soluSide-explore-more>a:hover {
	text-decoration: none;
}
.soluSide-explore-more>a:hover span:first-child {
	text-decoration: underline;
}
.soluSide-child-box-bg{
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #f7f7f7;
    z-index: -1;
}
.second-level-cs-main-left{
	position: relative;
}
.cat-Ethernet-vdoPlay{position:absolute;width:60px;height:60px;background-color:rgba(0,0,0,.2);border-radius:50%;left:50%;top:50%;margin-left:-30px;margin-top:-30px;transition:all .3s;box-sizing:border-box;cursor:pointer;z-index:1;}
.cat-Ethernet-vdoPlay:hover{background-color:rgba(0,0,0,.4);border:none;}
.cat-Ethernet-vdoPlay span{position:absolute;width:19px;height:22px;top:50%;margin-top:-11px;left:50%;margin-left:-7.5px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/new_index/video_icon.png) no-repeat;}
.public_video{text-align: center;}
.public_video:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
.public_video .popup_width880{
	margin: inherit;
	left: inherit;
	top: inherit;
	right: inherit;
	bottom: inherit;
	display: inline-block;
	vertical-align: middle;
	position: initial;
}
.public_video .new_popup_tit{
	text-align: left;
}
.second-level-product-tree-con-explain{
    display: flex;
    margin-top: 15px;
    color: #616265;
}
.second-level-product-tree-con-explain li{
    flex: 1;
    font-size: 14px;
}
.second-level-product-tree-con-explain li:first-child{
    text-align: right;
}
.second-level-product-tree-con-explain li:last-child{
    text-align: left;
}
.second-level-product-tree-con-explain.top{
    margin: 0 0 40px;
    height: auto;
    background-color: #fff;
    line-height: 20px;
}
.second-level-product-tree-con-explain.top li{
    text-align: left;
    padding:0 40px;
    color: #232323;
}

@media (max-width:1440px) {
	.cat-Ethernet-btmList {
        width: 1200px;
    }
}
@media (max-width:1220px) {
	.second-level-page {
        width: 100%;
    }
    .num-six .swiper-slide {
        width: 150px;
    }
    .cat-Ethernet-btmList {
        width: 960px;
    }
    .cat-Ethernet-btmList li {
        margin-right: 1%;
        width: 24.25%;
    }
    .second-level-product-tree-tag {
        max-width: 100%;
    }
    .second-level-product-tree-tag img {
        max-width: 100%;
    }
    .second-level-product-tree-con {
        padding: 20px 40px;
    }
    .second-level-ap-li {
        width: 32.5%;
        margin-right: 1.25%;
    }
    .second-level-ap-li:last-child {
        margin-right: 0;
    }
    .second-level-cs-main-right {
        height: 279px;
        padding: 0 70px 0 40px;
    }
}
@media (max-width:960px) {
	.second-level-banner, .second-level-banner-bg {
        height: 540px;
    }
    .second-level-banner-bg.special-10g {
        background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/10g-images/M-10G-banner.png");
    }
    .second-level-banner-bg.special-40g {
        background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/40g-images/M-40G-banner.png");
    }
    .second-level-banner-bg.special-100g {
        background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/100g-images/M-100G-banner.png");
    }
	.second-level-banner-bg.special-dac {
		background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc/m-DAC-AOC-banner.jpg");
	}
	.second-level-banner-bg.special-switch {
		background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/dcs/switch_banner_m.jpg");
	}
	.second-level-banner-bg.special-cable {
		background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/new_copper/M-cable-banner.jpg");
    }
    .second-level-banner-bg.special-mtp-mpo {
        background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/mtp_mpo/m-MTP-banner.png");
    }
    .second-level-banner-bg.special-Enclosures {
        background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/Enclosures/m-Enclosures-banner.png");
    }
    .second-level-banner-bg.special-lc-sc {
        background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/lc_sc/m-lc-sc-banner.png");
    }
    .second-level-banner-bg.special-wdm {
        background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/wdm/m-WDM-banner.png");
    }
    .second-level-page-content {
        padding: 0 15px 50px;
    }
    .second-level-products .swiper-container {
        overflow: hidden;
        margin: 0 30px;
        padding-bottom: 30px;
    }
    .second-level-products .swiper-button-next, .second-level-products .swiper-button-prev {
        display: block;
        background-image: none;
        font-size: 25px;
        width: 18px;
        height: 25px;
        top: 50%;
        margin-top: -12.5px;
    }
    .second-level-products .swiper-pagination {
        bottom: 0;
    }
    .second-level-products .swiper-container .swiper-pagination-bullet-active {
        background-color: #4c4948;
    }
    .second-level-ap-li {
        width: 49.5%;
        margin: 0 1% 1% 0;
    }
    .second-level-ap-li:nth-child(2n) {
        margin-right: 0%;
    }
    .cat-Ethernet-btmList {
        width: 100%;
    }
    .second-level-cs-main{
        display: block;
    }
    .second-level-cs-main-right, .second-level-cs-main-left {
        width: 100%;
        display: block;
        height: auto;
    }
    .second-level-cs-main-right{
        box-sizing: border-box;
        padding:40px 15px 20px 40px;
    }
    .soluSide-child-winBox {
        width:100%;
        padding:0 15px;
    }
    .soluSide-explore-list li p {
        padding:0 10px;
    }
    .soluSide-explore-list li p br {
        display:none;
    }
    .spirit_bs .new__mdiv_block{
        position: absolute;
        right: 10px;
        top: 13px;
    }
    h2.bubble_h21{
        width: auto;
        margin-top: 10px;
        color: #232323;
        font-size: 16px;
    }
	.new_popup_video{
		height:420px;
	}
	.public_video .popup_width880{
		width: 90%;
	}
}
@media (max-width:768px){
    .cat-Ethernet-btmList {
        padding: 0 15px;
        box-sizing: border-box;
    }
    .cat-Ethernet-btmList li {
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        padding-top: 30px;
        margin-right: 0;
    }
    .cat-Ethernet-btmList li:nth-of-type(4n) {
        border-bottom: 0;
    }
    .cat-Ethernet-bottom {
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .soluSide-child-tit {
        font-size:20px;
        line-height:24px;
        padding:35px 15px 15px;
    }
    .soluSide-explore-list {
        display:block;
    }
    .soluSide-explore-list li {
        width:100%;
        border:0;
        margin-bottom:10px;
        display:block;
        box-sizing:border-box;
    }
    .soluSide-explore-list li p br {
        display:block;
    }
    .soluSide-explore-list li:last-child {
        width:100%;
    }
    .second-level-content-tit-href{
        position: static;
        display: block;
        text-align: center;
    }
    .second-level-banner-tit,.second-level-banner-txt{
        padding-left: 15px;
        padding-right: 15px;
    }
    .second-level-product-tree-con-explain.top{
        display: block;
    }
    .second-level-product-tree-con-explain{
        display: none;
    }
    .second-level-product-tree-con-explain.top li{
        padding: 0;
    }
}
@media (max-width:480px) {
	.second-level-banner, .second-level-banner-bg {
        height: 225px;
    }
    .second-level-banner-tit {
        padding: 82px 15px 0;
        font-size: 20px;
        line-height: 30px;
    }
    .second-level-banner-txt {
        display: none;
        margin-top: 14px;
        padding: 0 15px;
        font-size: 14px;
        line-height: 24px;
    }
    .second-level-ap-li {
        width: 100%;
        margin: 0 0 10px 0 !important;
    }
    .second-level-ap-li:last-child{
        margin-bottom: 0 !important;
    }
    .second-level-products .swiper-button-prev {
        left: 0;
    }
    .second-level-product-tree-con {
        padding: 40px 20px;
    }
    .soluSide-explore-list li p br {
        display:none;
    }
    .second-level-product-tree-tit{
        padding:30px 0 15px;
        font-size:16px;
		font-weight: 400;
    }
    .second-level-product-tree-main-more{
        margin-top: 25px;
    }
    .second-level-product-tree{
        padding-bottom: 30px;
    }
    .second-level-content-tit{
        padding: 35px 0 15px;
        font-size:20px;
    }
    .second-level-cs-main-right{
        padding: 20px 15px;
    }
    .second-level-page-content{
        padding: 0 15px 30px;
    }
	.public_video .popup_width880{
		position: fixed;
		width: 100%;
		top:0;
		left: 0;
	}
	.public_video .new_popup_tit strong{
		text-overflow: ellipsis;
		overflow: hidden;
		width: 90%;
		display: inline-block;
		white-space: nowrap;
	}
	.public_video .new_popup_video {
		height: 256px;
	}
}
