.menu_02{ display:none;}
.content { padding: 0; }
img { display: block; }
h1, h2, h3, p, ul, li, dl, dt, dd, input, select, form, div { margin: 0; padding: 0; list-style: none; }

.sfp_banner { height: 380px; }
.sfp_banner_bg { position: absolute; left: 0; width: 100%; height: 380px; z-index: -1; background: url(../../images/specials/optical_img/sfp-banner.jpg) no-repeat; }
.sfp_banner_tit { font-size: 38px; line-height: 40px; color: #fff; text-align: center; font-weight: 400; padding-top: 120px; margin-bottom: 20px; }
.sfp_banner_txt { font-size: 20px; color: #fff; text-align: center; line-height: 24px; font-weight:400; }
.sfp_tit { padding: 50px 0 20px; font-size: 30px; color: #232323; font-weight: 400; text-align: center; line-height:36px; }
.sfp_smalltit { font-size: 18px; color: #616265; text-align: center; margin-bottom: 15px; font-weight: 400; }
.sfp_txt { font-size: 16px; font-weight:400; color: #616265; line-height: 24px; text-align: center; }
.sfp_solution_main_tit { padding: 10px 100px 10px 44px; font-size: 24px; font-weight: 400; color: #616265; overflow: hidden;display: none;}
.sfp_solution_main { margin-top: 50px; }
.sfp_solution_main_tit span:first-child { float: left; }
.sfp_solution_main_tit span:last-child { float: right; }
.sfp_solution_con {  margin-top: 35px; overflow: hidden; margin-left: 120px; margin-right: 120px; margin-bottom: 30px;}
.sfp_solution_con_pic { margin-bottom: 20px; }
.sfp_solution_con_pic img { margin: 0 auto; max-width: 100%; }
.sfp_solution_con_list {  width: 50%; float: left;}
.sfp_solution_con_list a { display: block; }
.sfp_solution_con_list li { width: 100%; margin-bottom: 20px; }
.sfp_solution_con_list dl { overflow: hidden; }
.sfp_solution_con_list dt { width: 140px; height: 120px; box-sizing: border-box; padding: 6px; margin-right: 36px ; }
.sfp_solution_con_list dt img{max-width: 100%}
.sfp_solution_con_list dd { float: left; width: 60%;text-align: left; padding-top: 30px; }
.sfp_solution_con_list dd h2 { font-size: 16px; color: #232323; font-weight: 400; line-height: 22px; margin-bottom: 10px; }
.sfp_solution_con_list dd p { font-size: 14px; font-weight:400; color: #616265; line-height: 24px; }
.sfp_solution_con_left dt { float: left; }
.sfp_solution_con_right { right: 0; }
.sfp_solution_con_right dt { float: left; }
.sfp_product_main { margin-top: 70px; }
.sfp_product_con { overflow: hidden; padding-bottom:50px; border-bottom: 1px solid #e5e5e5; margin-bottom:50px; }
.sfp_product_con:last-child { margin-bottom: 0; }
.sfp_product_con dl { width: 50%; float: left; }
.sfp_product_con dl dt { float: left; width: 50%; box-sizing: border-box; padding-left: 44px; }
.sfp_product_con dl dt img { max-width: 100%; margin: 0 auto; }
.sfp_product_con dl dd { float: left; width: 50%; }
.sfp_product_con dl dd h2 { margin-bottom: 15px; }
.sfp_product_con dl dd h2 a { font-size: 24px; color: #232323; text-decoration: none; font-weight:400; }
.sfp_product_con dl dd h2 a:hover { text-decoration: none; }
.sfp_product_con dl dd p { font-size: 16px; color: #616265; font-weight:400; margin-bottom:30px; }
.sfp_product_con dl dd li { margin-bottom: 10px; font-size: 14px; color: #616265; font-weight:400;overflow: hidden; }
.sfp_product_con dl dd ul { margin-bottom: 50px; }
.sfp_product_con dl dd li span { float:left;margin-top:5px;vertical-align:  middle; width: 8px; height: 8px; border: 1px solid #b5b5b5; border-radius: 50%; margin-right: 15px; }
.sfp_product_con dl dd li em{font-style: normal;float: left;width: 89%}
.sfp_product_con dl dd h3 { font-size: 18px; color: #0070BC; font-weight: 400; padding-left:26px; }
.sfp_cable { padding-bottom: 28px; border-bottom: 1px solid #dedede; }
.sfp_cable ul { overflow: hidden; margin-top: 40px; }
.sfp_cable_list { float: left; width: 32%; margin-right: 2%; }
.sfp_cable_list:last-child { margin-right: 0; }
.sfp_cable_list a { display: block; background-color: #f9f9f9; text-decoration: none; position: relative; overflow: hidden; }
.sfp_cable_list img { max-width: 100%; }
.sfp_cable_list h2 { font-size: 18px; color: #232323; font-weight: 400; text-align: center; margin-bottom: 10px; }
.sfp_cable_list p { font-size: 16px; color: #616265; font-weight:400; text-align: center; margin-bottom: 24px; }
.sfp_cable_list em { display: block; width: 100%; height: 56px; background-color: #e5e5e5; font-style: normal; font-size: 16px; color: #232323; text-align: center; line-height: 56px; }
.sfp_cable_list span { position: absolute; width: 100%; height: 56px; background-color: #0070BC; font-size: 16px; color: #fff; text-align: center; line-height: 56px; bottom: -56px;  transition: all .5s;
transform: translateY(0); }
.sfp_cable_list span i { font-style: normal; font-size: 12px; margin-left: 5px; }
.sfp_cable_list:hover span { transform: translateY(-56px); }
.sfp_why ul { margin-top: 50px; overflow: hidden; padding: 0 110px; }
.sfp_why_list { float: left; width: 235px; height: 310px; box-sizing: border-box; border: 1px solid #dedede; margin-right: 10px; }
.sfp_why_list:last-child { margin-right: 0; }
.sfp_why_list_main { padding: 30px 28px 0; }
.sfp_why_list_main img { margin: 0 auto 20px; }
.sfp_why_list_main h2 { font-size: 16px; font-weight: 400; color: #232323; margin-bottom: 20px; text-align: left; }
.sfp_why_list_main p { font-size: 14px; color: #616265; font-weight:400; line-height: 20px; text-align: left; }
.sfp_customer { height: 850px; margin-top: 75px; display: none; }
.sfp_customer_bg { position: absolute; width: 100%; height: 850px; left: 0; z-index: -1; background-color: #f6f6f6; }
.sfp_customer_con { margin-top: 70px; text-align: center; }
.sfp_customer_con_one { display: inline-block; width: 474px; height: 526px; border: 1px solid #dedede; background-color: #fff; box-sizing: border-box; padding: 40px 44px 0 37px; }
.sfp_customer_con_one img { margin: 0 auto; }
.sfp_customer_con_one:first-child { margin-right: 100px; }
.sfp_customer_con_one h2 { padding-top: 40px; border-top: 1px solid #00a9e0; margin-top: 20px; font-size: 16px; color: #232323; font-weight: 400; margin-bottom: 20px; text-align: left; }
.sfp_customer_con_one p { font-size: 14px; font-weight:400; color: #616265; line-height: 24px; text-align: left; }
.sfp_customer_con_one a { float: right; margin-top: 60px; font-size: 16px; color: #0070BC; text-decoration: none; }
.sfp_customer_con_one a span { font-size: 12px; margin-left: 5px; }
.sfp_case{height: 500px}
.sfp_case_bg{position: absolute;left: 0;width: 100%;background-color: #e9f0f8;z-index: -1;height: 500px}
.sfp_case_main{width:1320px;margin:0 auto;overflow: hidden;}
.sfp_case_main_pic{float: right;}
.sfp_case_main_pic img{max-width:100%;}
.sfp_case_main_font{float: left;padding-top: 160px;}
.sfp_case_main_font h2{color: #232323;font-weight: 400;font-size: 38px;margin-bottom: 15px;line-height:52px;}
.sfp_case_main_font p{font-size: 20px;color: #232323;font-weight:400;margin-bottom: 25px}
.sfp_case_main_font a{display: block;font-size: 14px;width: 128px;height: 36px;border: 1px solid #0070BC;border-radius: 3px;text-decoration: none;text-align: center;line-height: 36px;transition: all .3s;color: #0070BC}
.sfp_case_main_font a:hover{color: #fff;background-color: #0070BC;}
.sfp_solution_con_left ul{
	padding-left: 30px;
}
.sfp_solution_con_right ul{
	padding-left: 90px;
}
.sfp_product_con .sfp_product_div{
	width: 100%;
}
.sfp_product_div div{
	width: 50%;
    float: left;
}
.sfp_product_div div:nth-child(1) h3{
	font-size: 18px;
    color: #232323;
    font-weight: 400;
    padding-left: 20px;
    text-align: center;
}
.sfp_product_div div:nth-child(2) h3{
	font-size: 18px;
    line-height: 22px;
    color: #616265;
    font-weight:400;
    text-align: left;
}
.sfp_product_div div i{
	font-style:normal;
}
.sfp_product_div div b{
	font-weight:400;
}



@media(max-width:1440px) {
.sfp_product_con dl dd h3{
	padding-left: 0;
}
 .sfp_solution_con_pic {
 padding-top: 0;
 margin-bottom: 20px;
}
 .sfp_solution_con_list {
 position: static;
 width: 100%;
 overflow: hidden;
}
 .sfp_solution_con_list li {
 float: left;
 width: 19%;
 margin-right: 1%;
}
 .sfp_solution_con_list dd {
 width: 100%;
}
 .sfp_solution_con_right dt {
 float: left;
}
 .sfp_solution_con {
 padding-bottom: 40px;
}
 .sfp_why ul {
 padding: 0;
}
 .sfp_why_list {
 width: 19%;
 margin-right: 1%;
}
 .sfp_txt br {
 display: none;
}
 .sfp_solution_main_tit {
 display: none;
}
.sfp_case{height: 410px}
.sfp_case_bg{height: 410px}
.sfp_case_main{width: 100%}
.sfp_case_main_pic{width: 50%}
.sfp_case_main_font{width: 50%}
.sfp_solution_con_left ul,.sfp_solution_con_right ul{padding-left: 0px;}
.sfp_solution_con{margin-left: 0;margin-right: 0;}
}
@media(max-width:1220px) {

 .sfp_customer_con {
 overflow: hidden;
}
 .sfp_customer_con_one {
 width: 49%;
 float: left;
}
 .sfp_customer_con_one:first-child {
 margin-right: 1%;
}
.sfp_case{height: 328px}
.sfp_case_bg{height: 328px}
.sfp_case_main_font{padding-top: 80px}
.sfp_case_main_font h2{font-size: 32px}
.sfp_case_main_font p{font-size: 18px}
.sfp_product_div div{
	width: 50%;
}
.sfp_product_div div:nth-child(1){
	margin-bottom: 20px;
}
.sfp_product_div div:nth-child(1) h3{
	padding-left: 0px;
    text-align: center;
}
.sfp_product_div div:nth-child(2) h3{
	font-size: 16px;
}
}
@media(max-width:960px) {
.content{ width: initial; padding:0 10px;}
.sfp_case_bg{display: none}
.sfp_case{height: auto;padding-bottom: 20px;background-color: #e9f0f8}
.sfp_case_main_pic{float: none;width: 100%}
.sfp_case_main_font{float: none;width: auto;padding-left: 10px;}
 .sfp_solution_con_list li {
 width: 100%;
}
 .sfp_solution_con_list dt {
 width: 40%;
}
 .sfp_solution_con_list dd {
 width: 60%;
}
 .sfp_product_con dl dt {
 width: 100%;padding-left:inherit;
}
 .sfp_product_con dl dd {
 width: 100%;
}
 .sfp_cable_list p {
 height: 44px;
}
 .sfp_why_list {
 width: 49%;
 margin-bottom: 1%;
}
 .sfp_customer_con_one img {
 max-width: 100%;
}
.sfp_solution_con_list dt{margin-right: 0;}
.sfp_product_div div:nth-child(1) h3{text-align: left;}
.sfp_product_div div{width: 100%;}
.sfp_product_div div:nth-child(2) h3 {font-size: 14px;ÔΩù

}
@media(max-width:720px) {
 .sfp_cable_list {
 width: 100%;
 margin-right: 0;
 margin-bottom: 1%;
}
 .sfp_cable_list img {
 margin: 0 auto;
 max-width: 100%;
}
}
@media(max-width:480px) {
	.content{width: initial; padding: 0 10px;}
	.sfp_txt,.sfp_smalltit{text-align:left;}
 .sfp_banner {
 height: 220px;
}
 .sfp_banner_bg {
 height: 220px;
}
 .sfp_banner_tit {
 font-size: 24px;
 padding-top: 50px;
}
 .sfp_banner_txt {
 font-size: 16px;
}
 .sfp_tit {
 font-size: 20px; text-align:left;
 padding: 30px 0 15px;
}
 .sfp_tit br {
 display: none;
}
 .sfp_product_con dl dd h2 a {
 font-size: 18px;
}
 .sfp_product_con dl dd p {
 margin-bottom: 20px;
}
 .sfp_product_con dl {
 width: 100%;
}
 .sfp_why_list {
 width: 100%;
 margin-right: 0;
 margin-bottom: 20px;
}
 .sfp_customer_con_one {
 width: 100%;
 margin-right: 0;
 margin-bottom: 20px;
}
 .sfp_customer_bg {
 display: none;
}
.sfp_banner_tit{font-size: 24px;
    padding-top: 40px;
    line-height: 30px;
    margin-bottom:10px;}
.sfp_tit{    font-size: 20px;
    line-height: 30px;
    padding: 30px 0 15px;}
	
	.content{width: initial;
    padding: 0 10px;}
	.sfp_product_con dl dd ul{ margin-bottom:20px;}
    .sfp_case_main_font{padding-top: 50px;}
    .sfp_product_div div:nth-child(2) h3{
	font-size: 18px;
}
}
