.content{
	padding-top: 0
}
.Enm_banner{
	height: 380px;
}
.Enm_banner_bg{
	position: absolute;
	left: 0;
	width: 100%;
	height: 380px;
	z-index: -1;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/SMB-Network/SMB_Network_banner_bg.jpg) no-repeat center;
}
.Enm_banner_tit{
	font-size: 38px;
	color: #fff;
	text-align: center;
	padding-top: 140px;
	margin-bottom: 24px;
	font-weight: 400;
	line-height: 40px;
}
.Enm_banner_txt{
	font-size: 18px;
	color: #fff;
	font-weight:400;
	text-align: center;
	line-height: 24px;
}
.Enm_business{
	overflow: hidden;
}
.Enm_business_tit{
	font-size: 30px;
	color: #232323;
	font-weight: 400;
	text-align: center;
	padding-top: 48px;
	line-height: 32px;
	padding-bottom: 26px;
}
.Enm_business_txt{
	font-size: 14px;
	color: #616265;
	text-align: center;
	line-height: 22px;
	padding-bottom: 50px;
	font-weight:400;
}
.Enm_business_img{
	overflow: hidden;
}
.Enm_business_img img{
	margin: 0 auto;
	max-width: 100%;
	display: block;
}
.Enm_Network{
	overflow: hidden;
}
.Enm_Network dl{
	float: left;
	width: 33%;
	text-align: center;
}
.Enm_Network dl dt img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 24px;
}
.Enm_Network dl dd{
	padding-bottom: 60px;
	font-size: 14px;
	line-height: 22px;
	color: #616265;
	font-weight:400;
}
.Enm_Network_icon{
	overflow: hidden;
	padding-top: 70px;
}
.Enm_Network_icon dl{
	width: 50%;
	float: left;
	padding-bottom: 40px;
}
.Enm_Network_icon dl dt{
	width: 14%;
	float: left;
}
.Enm_Network_icon dl dt img{
	margin: 0 auto;
	max-width: 100%;
	display: block;
}
.Enm_Network_icon dl dd{
	width: 86%;
	float: left;
}
.Enm_Network_icon dl dd p{
	padding-right: 120px;
	font-size: 14px;
	line-height: 24px;
	color: #888888;
	min-height: 48px;
}
.Enm_Product_List_tit{
	color: #232323;
	padding-top: 50px;
	overflow: hidden;
	font-size: 30px;
}
.Enm_warp{
	overflow: hidden;
	padding-bottom: 40px;
	padding-top: 20px;
}
.Enm_Product_List table{
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
	border-top: 1px solid #cad5dc;
}
.Enm_Product_List table tr:nth-child(1) td{
	background: #dfebf2;
	font-size: 18px;
	color: #232323;
}
.Enm_Product_List table tr:nth-child(1) td{
	padding: 16px 0;
	padding-left: 8%;
}
.Enm_Product_List table tr td{
	padding-left: 8%;
}
.Enm_Product_List table tr td{
	text-align: left;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 0;
	font-size: 14px;
	color: #232323;
	padding-left: 8%;
}
.Enm_Product_List table tr td a{
	text-decoration: none;
	color: #0070BC;
	font-size: 14px;
} 
.Enm_SMB{
	overflow: hidden;
}
.Enm_SMB dl{
	width: 33%;
	float: left;
}
.Enm_SMB dl dt{
	padding-bottom: 28px;
}
.Enm_SMB dl dt img{
	display: block;
	max-width: 100%;
	margin:0 auto;
}
.Enm_SMB dl dd{
	text-align: center;
	font-size: 18px;
	color: #232323;
	padding-bottom: 50px;
}
.Enm_warp_ID{
	width: 20%;
}
.Enm_warp_number{
	width: 30%;
}
.Enm_warp_Description{
	width: 50%;
}
.Enm_Network_bg{
	position: absolute;
	left: 0;
	width: 100%;
	height: 250px;
	z-index: -1;
	background: #f6f6f6;
}
.Enm_Product_List_bg{
	position: absolute;
	left: 0;
	width: 100%;
	height: 844px;
	z-index: -1;
	background: #f6f6f6;
}

@media(max-width:1440px){
	.box{
		width: 1200px;
	}
	.Enm_Network_icon br{
		display: none;
	}
}	
@media(max-width:1220px){
	.box{
		width: 960px;
	}
	.Enm_warp_ID{
		width: 16%;
	}
	.Enm_warp_number{
		width: 30%;
	}
	.Enm_warp_Description{
		width: 54%;
	}
	.Enm_Network_icon br{
		display: none;
	}
	.Enm_Network_icon dl dd p{
		padding: 0 15px;
	}
	.Enm_Product_List table{
		width: 100%;
	}
}	
@media(max-width:960px){
	.box{
		width: 100%;
	}
	.content{
		width: auto;
		padding: 0 10px;
	}
	.Enm_business_txt br{
		display: none;
	}
	.Enm_Network dl{
		width: 50%;
	}
	.Enm_Network_icon dl dd p{
		padding: 0 15px;
	}
	.Enm_SMB dl{
		width: 50%;
	}
	.Enm_Network_icon dl dt{
		width: 100%;
		padding-bottom: 20px;
	}
	.Enm_Network_icon dl dd{
		width: 100%;
	}
	.Enm_Network_icon br{
		display: none;
	}
	.Enm_warp{
		overflow-x: auto;
	}
	.Enm_Product_List table{
		width: 1200px;
	}
	.Enm_Network dl br{
		display: none;
	}
	.Enm_Network dl dd{
		padding-left:10px;
		padding-right:10px;
	}
	.Enm_Network_bg{
		display: none;
	}
	.Enm_Product_List_bg{
		display: none;
	}
	.Enm_Network dl:nth-child(2) dd{
		padding-bottom: 30px;
	}
}	
@media(max-width:480px){
	.Enm_banner{
		height: 220px;
		overflow: hidden;
	}
	.Enm_banner_bg{
		height: 220px;
	}
	.Enm_business_tit{
		font-size: 24px;
		line-height: 40px;
		font-weight: 400;
	}
	.Enm_banner_tit{
		font-size: 24px;
		line-height: 40px;
		font-weight: 400;
		padding-top: 30px;
	}
	.Enm_business_txt{
		font-size: 16px;
		line-height: 22px;
		font-weight:400;
	}
	.Enm_Network dl{
		width: 100%;
	}
	.Enm_Network dl dd br{
		display: none;
	}
	.Enm_Network_icon dl dt{
		width: 100%;
	}
	.Enm_Network_icon dl dd p{
		text-align: center;
		padding: 0;
	}
	.Enm_SMB dl{
		width: 100%;
	}
	.Enm_Network_icon dl{
		width: 100%;
	}
	.Enm_Network_icon dl dd{
		width: 100%;
	}
	.Enm_Network dl dt img{
		padding-top: 0;
	}
	.Enm_Network_icon dl{
		padding-top: 40px;
	}
	.Enm_Network_icon dl dt{
		padding-bottom: 20px;
	}
	.Enm_Network dl:nth-child(2) dd{
		padding-bottom: 60px;
	}
}	