.box,.content{width: 100%;}

.soluSeries-banner{height: 380px;text-align: center;}
.soluSeries-banner-bg{position: absolute;left: 0;width: 100%;z-index: -1;height: 380px;background-size: cover;background-repeat: no-repeat;
	background-position-x: center;background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/solution/Solution-OTN-images/Solution-OTN-bg.png);}
.soluSeries-banner-bg.soluSeries-page{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/solution/Solution-page-images/Solution-page-bg.jpg);}
.soluSeries-banner-bg.enterprise-page{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/solution/Solution-enterprise-images/solution-enterprise-bg.png);}
.soluSeries-banner-tit{font-size: 40px;font-weight: 400;line-height: 48px;margin-bottom: 22px;padding-top: 120px;color: #fff;}
.soluSeries-banner-txt{font-size: 16px;line-height: 26px;font-weight: 400;color: #fff;}

.soluSeries-Crumbs-box{background: #f7f7f7;}
.soluSeries-Crumbs-widBox{width: 1200px;box-sizing: border-box;margin: auto;}
.soluSeries-Crumbs-list{padding: 4px 0;}
.soluSeries-Crumbs-list dt{float: left;line-height: 22px;}
.soluSeries-Crumbs-list dt a, .soluSeries-Crumbs-list dd a{color: #999999;text-decoration: none;line-height: inherit;}
.soluSeries-Crumbs-list dd{float: left;line-height: 22px;padding-left: 20px;position: relative;}
.soluSeries-Crumbs-list dd:before{-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;font-style: normal;font-weight: 400;text-align: center;content: '/';position: absolute;left: 7px;top: 0;color: #999999;
	font-size: 12px;line-height: 26px;}

.soluSeries-tab-box{min-height: 64px;}
.soluSeries-tab-head{border-bottom: 1px solid #e5e5e5;text-align:center;width:100%;z-index:9;box-sizing: border-box;}
.soluSeries-tab-head.choosez{z-index:999;}
.soluSeries-tab-line{position: absolute;bottom: -1px;left: 0;height: 1px;width: 100%;background: #232323;display: none;}
.soluSeries-tab-list{display: inline-block;float: left;}
.soluSeries-tab-li{float: left;display: inline-block;padding: 20px 10px 19px;font-size: 14px;line-height: 24px;color: #232323;margin-right: 40px;cursor: pointer;
	position: relative;}
.soluSeries-tab-li>a{display: inline-block;text-decoration: none;}
.soluSeries-tab-li>a:hover{color: #232323;}
.soluSeries-tab-li .icon{float: left;display: inline-block;color: #4c4948;}
.soluSeries-tab-li.choosez .soluSeries-tab-line{display: block;}
.soluSeries-tab-icTxt{padding-left: 35px;}
.soluSeries-overView-ic{font-size: 24px;}
.soluSeries-ideas-ic{font-size: 24px;}
.soluSeries-resources-ic{font-size: 24px;}
.soluSeries-tab-li.choosez .icon{color: #4c4948;}
.soluSeries-tab-li.choosez .soluSeries-tab-icTxt{color: #232323;}

.soluSeries-detailBox{width: 1200px;margin: auto;}
.soluSeries-ask{float: right;padding-top: 22px;}
.soluSeries-askBox{cursor: default;}
.soluSeries-askBox>.icon{float: left;font-size: 24px;color: #787777;margin-right: 10px;}
.soluSeries-askCont {float: left;position: relative;}
.soluSeries-askTxt{font-size: 14px;color: #232323;}
.soluSeries-askArrow{position: absolute;border-width: 10px;border-style: solid;border-color: transparent transparent rgba(0,0,0,0.08) transparent;z-index: 1000;
	left: 50%;bottom: auto;top: 20px;transform: rotate(0) translateX(-50%);display: none;}
.soluSeries-askArrow:after{content: '';position: absolute;bottom: -10px;display: block;border-width: 9px;border-color: transparent transparent #FFFfFf transparent;border-style: solid;left: -9px;z-index: 999;}
.fs-change-askCont .soluSeries-askAlert{transform: none;right: 0;}
.soluSeries-askAlert{font-size: 13px;color: #666;min-width: 300px;right: 50%;top: auto;text-decoration: none;text-align: left;white-space: normal;
	-webkit-border-radius: 2px;-moz-border-radius: 2px;-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;
	z-index: 999;position: absolute;box-sizing: border-box;transform: translateX(50%);padding-top: 19px;display: none;}
.soluSeries-askBox.choosez1 .soluSeries-askArrow,.soluSeries-askBox.choosez1 .soluSeries-askAlert{display: block;}
.soluSeries-askImg{display: block;width: 60px;height: 60px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/head_select/head_dropdown_headicon.png) no-repeat;background-position: -10px -12px;margin: auto;border-radius: 50%;}
.soluSeries-askImg.soluSeries-dc{background-position: -91px -13px;}
.soluSeries-askImg.soluSeries-enter{background-position: -176px -13px;}
.soluSeries-askAlert-main{padding: 20px;background: #fff;border-radius: 2px;-webkit-box-shadow: 0px 1px 8px 0 rgba(120,102,102,.3);-moz-box-shadow: 0px 1px 8px 0 rgba(120,102,102,.3);box-shadow: 0px 1px 8px 0 rgba(120,102,102,.3);}
.soluSeries-askTx01{font-size: 13px;color: #666;;line-height: 22px;text-align: center;margin-top: 10px;}
.soluSeries-askBtnBox{text-align: center;margin-top: 14px;margin-bottom: 3px;}
.soluSeries-askBtn{background: #fff;padding-left: 12px;padding-right: 12px;color: #333;border: 1px solid #565656;height: 40px;line-height: 38px;border-radius: 2px;position: relative;cursor: pointer;font-size: 14px;display: inline-block;box-sizing: border-box;transition: all .3s;-o-transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;min-width: 152px;text-align: center;}
.soluSeries-askBtn:hover {background: #565656;color: #fff;text-decoration: none;}

.soluSeries-tab-page{padding: 40px 0 0;margin-bottom: -7px;}
.soluSeries-tab-page .soluSeries-tab-txt:first-child{margin-bottom: 15px;}
.soluSeries-tab-txt{font-size: 14px;color: #616265;line-height: 24px;}

.soluSeries-trend-bigBox{padding-bottom: 50px;}
.soluSeries-main-tit{font-size: 26px;line-height: 34px;color: #232323;padding: 42px 0 22px;text-align: center;font-weight: 400;}
.soluSeries-main-txt{font-size: 14px;color: #666;text-align: center;line-height: 24px;margin-bottom: 20px;margin-top: -8px;}
.soluSeries-main-txt span{margin: 0 15px;}
.soluSeries-trend-head{display: table;}
.soluSeries-trend-left{position: relative;display: table-cell;border-right: 12px solid #fff;overflow: hidden;}
.soluSeries-trend-right{display: table-cell;vertical-align: top;position: relative;}
.soluSeries-trend-bottom{position: absolute;bottom: -55px;left: 0;padding: 0 20px 17px;transition: all .3s ease-in-out;}
.soluSeries-trend-left:hover .soluSeries-trend-bottom{bottom: 0;transition: all .3s;}
.soluSeries-trend-tit{font-size: 16px;line-height: 26px;color: #ffffff;padding-bottom: 8px;}
.soluSeries-trend-txt{font-size: 13px;line-height: 20px;color: #ffffff;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;min-height: 40px;}
.soluSeries-trend-left:hover .soluSeries-trend-tit,.soluSeries-trend-rtTr:hover .soluSeries-trend-tit{text-decoration: underline;}
.soluSeries-trend-rtTaH{display: table;width: 100%;}
.soluSeries-trend-rtTaBt{display: table;width: 100%;}
.soluSeries-trend-rtTr{display: table-cell;width: 50%;position: relative;overflow: hidden;}
.soluSeries-trend-rtTr:nth-child(2n-1){padding-right: 6px;}
.soluSeries-trend-rtTr:nth-child(2n){padding-left: 6px;}
.soluSeries-trend-rtTr:hover .soluSeries-trend-bottom{bottom: 0;transition: all .3s;}
.soluSeries-trend-rtTaH{padding-bottom: 6px;}
.soluSeries-trend-rtTaBt{padding-top: 6px;}
.soluSeries-trend-img{width: 100%;}
.soluSeries-trend-img-m{width: 100%;display: none;}
.soluSeries-trend-footer{margin-top: 12px;position: relative;overflow: hidden;}
.soluSeries-trend-footer .soluSeries-trend-bottom{bottom: -55px;}
.soluSeries-pGtrend-footer{margin-top: 12px;overflow: hidden;}
.soluSeries-pGtrend-footer .soluSeries-trend-right .soluSeries-trend-bottom{bottom: -55px;}
.soluSeries-pGtrend-footer .soluSeries-trend-right .soluSeries-trend-bottom  .soluSeries-trend-txt{-webkit-line-clamp: 2;min-height: 40px;}
.soluSeries-pGtrend-footer .soluSeries-trend-right:hover .soluSeries-trend-bottom{bottom: 0;transition: all .3s;}
.soluSeries-trend-footer:Hover .soluSeries-trend-bottom{bottom: 0;transition: all .3s;}
.soluSeries-trend-footer:Hover .soluSeries-trend-tit{text-decoration: underline;}
.soluSeries-pGtrend-footer .soluSeries-trend-right:hover .soluSeries-trend-tit{text-decoration: underline;}


.soluSeries-ideas-li .new-mtp-img-container{margin-bottom: 0;}
.soluSeries-ideas-box{background: #f7f7f7;}
.soluSeries-ideas-li{width: 392px;margin-right: 12px;float: left;transition: all .3s;}
.soluSeries-ideas-li:hover{box-shadow: 0 15px 15px -10px rgba(0,0,0,.15);}
.soluSeries-ideas-li:hover .spirit_bs{display:block}
.soluSeries-ideas-li:nth-child(3n){margin-right: 0;}
.soluSeries-ideas-footer{padding: 15px 20px;background: #fff;position: relative;min-height: 82px;box-sizing: border-box;}
.soluSeries-ideas-ftTxt{font-size: 16px;color: #232323;line-height: 26px;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
	display: block;width: 100%;padding-bottom: 8px;}
/* .soluSeries-ideas-ftTxt>a{text-decoration: none;} */
.soluSeries-ideas-ftTxt>a:hover{color: #232323;}
.soluSeries-ideas-ftTxt01{font-size: 13px;color: #616265;font-weight: 400;line-height: 22px;margin-bottom: 10px;min-height: 44px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
/*.soluSeries-ideas-dnLoad{display: inline-block;position: absolute;top: 15px;right: 15px;}
.soluSeries-ideas-dnLoadCont{position: relative;display: inline-block;width: 30px;height: 30px;border-radius: 50%;text-align: center;line-height: 30px;cursor: pointer;}
.soluSeries-ideas-dnLoadCont>.icon{font-size: 20px;}
.soluSeries-ideas-dnLoadCont .icon{color: #aaa;}
.soluSeries-ideas-dnLoadCont.choosez{background: #eeeeee;}
.soluSeries-dnAlert{font-size: 13px;color: #666;min-width: 195px;right: -15px;top: auto;text-decoration: none;text-align: left;white-space: normal;-webkit-border-radius: 2px;-moz-border-radius: 2px;
	-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;z-index: 999;position: absolute;box-sizing: border-box;
	padding-top: 14px;display: none;}
.soluSeries-ideas-Arrow{position: absolute;border-width: 10px;border-style: solid;border-color: transparent transparent rgba(0,0,0,0.08) transparent;
	z-index: 1000;left: 50%;bottom: auto;top: 26px;transform: rotate(0) translateX(-50%);display: none;}
.soluSeries-ideas-Arrow:after{content: '';position: absolute;bottom: -10px;display: block;border-width: 9px;border-color: transparent transparent #FFFfFf transparent;
border-style: solid;left: -9px;z-index: 999;}
.soluSeries-ideas-dnLoadCont.choosez .soluSeries-dnAlert,.soluSeries-ideas-dnLoadCont.choosez .soluSeries-ideas-Arrow{display: block;}*/
.soluSeries-dnAlert-main{padding: 13px 20px;background: #fff;border-radius: 2px;-webkit-box-shadow: 0px 1px 8px 0 rgba(120,102,102,.3);-moz-box-shadow: 0px 1px 8px 0 rgba(120,102,102,.3);box-shadow: 0px 1px 8px 0 rgba(120,102,102,.3);}
.soluSeries-dnAlert-txt{font-size: 14px;color: #232323;padding-left: 26px;}
.soluSeries-dnAlert-ic{float: left;font-size: 16px;}
.soluSeries-dnAlert-share .icon{font-size: 16px;float: left;margin-right: 10px;text-decoration: none;}

.soluSeries-ideas-btnBox{text-align: center;padding: 35px 0 50px;}
.soluSeries-ideas-btn{font-size: 14px;color: #232323;text-align: center;height: 38px;line-height: 38px;min-width: 130px;padding: 0 30px;
	border: 1px solid #4c4948;text-decoration: none;display: inline-block;box-sizing: border-box;border-radius: 2px;transition: all .3s;}
.soluSeries-ideas-btn:hover{background: #4c4948;color: #fff;transition: all .3s;text-decoration: none;}

.soluSeries-resources-box .soluSeries-resources-list:first-child{margin-bottom: 40px;}
.soluSeries-resources-box .soluSeries-resources-list:nth-child(2){margin-bottom: 10px;}
.soluSeries-resources-liMain:hover .soluSeries-resources-liTit{text-decoration: underline;}
.soluSeries-resources-liMain:hover .soluSeries-resources-caseIc{color: #8d8d8f;}
.soluSeries-resources-list{display: table;width: 100%;}
.soluSeries-resources-list>a{text-decoration: none;}
.soluSeries-resources-li{display: table-cell;}
.soluSeries-resources-li:first-child{width: 595px;}
.soluSeries-resources-li:last-child{background: #f6f6f6;padding: 0 40px;vertical-align: middle;}
.soluSeries-resources-kleeImg{padding-bottom: 23px;}
.soluSeries-resources-tit{font-size: 16px;color: #232323;line-height: 26px;font-weight: 400;padding-bottom: 10px;}
.soluSeries-resources-box .soluSeries-resources-list:first-child:hover .soluSeries-resources-tit{text-decoration: underline;}
.soluSeries-resources-box .soluSeries-resources-list:first-child:hover .soluSeries-resources-more .icon{color:#8d8d8f;}
.soluSeries-resources-txt{font-size: 13px;color: #666;line-height: 22px;margin-bottom: 22px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;overflow: hidden;}
.soluSeries-resources-txt01{font-size: 13px;color: #666;line-height: 22px;text-align: right;margin-bottom: 22px;margin-top: -9px;}
.soluSeries-resources-more {line-height: 22px;}
.soluSeries-resources-moreTxt{font-size: 13px;color: #232323;float: left;}
.soluSeries-resources-more .icon{font-size: 22px;font-weight: 400;line-height: 24px;display: inline-block;height: 22px;color: #ccc;float: left;margin-left: 10px;}
.soluSeries-resources-li01{display: table-cell;width: 50%;}
.soluSeries-resources-li01>a{text-decoration: none;}
.soluSeries-resources-list .soluSeries-resources-li01:first-child{padding-right: 5px;}
.soluSeries-resources-list .soluSeries-resources-li01:last-child{padding-left: 5px;}
.soluSeries-resources-liMain{border: 1px solid #e5e5e5;padding: 30px;height: 100%;}
.soluSeries-resources-liTit{font-size: 16px;color: #232323;line-height: 26px;font-weight: 400;padding-bottom: 15px;}
.soluSeries-resources-liTxt{font-size: 13px;color: #616265;line-height: 22px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;overflow: hidden;margin-bottom: 17px;max-height: 44px;min-height: 44px;}
.soluSeries-resources-caseLt{float: left;color: #616265;}
.soluSeries-resources-caseLt .icon{font-size: 22px;float: left;margin-right: 10px;color: #8d8d8f;}
.soluSeries-resources-caseLt span{float: left;font-size: 13px;}
.soluSeries-resources-caseIc{font-size: 22px;color: #cccccc;float: right;}


.soluSeries-ideas-li h2.bubble_h21{margin-top: 15px;}
.soluSeries-ideas-li .bubble_td_1{width: 100px;}

.soluSeries-resources-logoImg01{display: inline-block;vertical-align: middle;margin-bottom: 13px;}

.patch_contact{width: 1440px;margin: auto;box-sizing: border-box;}
@media (max-width: 1440px){.box,.content{width: 100%;}.patch_contact{width: 1200px;}}
@media (max-width: 1220px){
	.box,.content{width: 100%;}
	.soluSeries-Crumbs-widBox{width: 960px;}
	.soluSeries-trend-rtTaH{padding-bottom: 3px;}
	.soluSeries-trend-rtTaBt{padding-top: 3px;}
	.soluSeries-ideas-li{margin-bottom: 10px;width: 32%;margin-right: 2%;}
	.patch_contact{width: 960px;}
	.soluSeries-resources-liTit{min-height: 52px;}
}
@media (max-width: 960px){
	.box,.content{width: 100%;}
	.soluSeries-Crumbs-widBox{width: 100%;}
	.soluSeries-tab-page,.soluSeries-trend-box{padding: 0 15px;}
	.soluSeries-Crumbs-box,.soluSeries-tab-list{display: none;}
	.soluSeries-tab-head{background: #fff;border-bottom: 0;padding:12px 15px;}
	.soluSeries-askBox>.icon{font-size: 20px;}
	.soluSeries-ask{padding: 0;}
	.soluSeries-tab-page{padding: 44px 15px;}
	.soluSeries-trend-rtTaH{padding-bottom: 1px;}
	.soluSeries-trend-rtTaBt{padding-top: 1px;}
	.soluSeries-trend-bottom{bottom: 0;}
	.soluSeries-trend-footer .soluSeries-trend-bottom{bottom: 0;}
	.soluSeries-ideas-list{padding: 0 15px;}
	.soluSeries-ideas-li{width: 49.5%;}
	.soluSeries-ideas-li:nth-child(2n-1){margin-right: .5%;}
	.soluSeries-ideas-li:nth-child(2n){margin-left: .5%;margin-right: 0;}
	.soluSeries-ideas-li .new-mtp-img-container>img{width: 100%;}

	.soluSeries-resources-li:last-child{padding-left: 20px;padding-right: 10px;}
	.soluSeries-resources-box .soluSeries-resources-list:first-child .soluSeries-resources-li{width: 50%;}
	.soluSeries-resources-box .soluSeries-resources-list:first-child .soluSeries-resources-li>img{width: 100%;}
	.soluSeries-resources-tit{padding-bottom: 0px;}
	.soluSeries-resources-kleeImg{padding-bottom: 15px;}
	.soluSeries-resources-txt{margin-bottom: 0px;}
	.soluSeries-resources-txt01{margin-bottom: 0px;margin-top: 5px;}
	.soluSeries-resources-box{padding: 0 15px;}
	.patch_contact{width: inherit;}
}
@media (max-width: 480px){
	.box,.content{width: 100%;}
	.soluSeries-banner{height: 220px;}
	.soluSeries-banner-bg{height: 220px;background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/solution/Solution-OTN-images/Solution-OTN-bg-m.jpg);}
	.soluSeries-banner-bg.soluSeries-page{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/solution/Solution-page-images/Solution-page-bg-m.jpg);}
	.soluSeries-banner-bg.enterprise-page{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/solution/Solution-enterprise-images/solution-enterprise-bg.png);}
	.soluSeries-banner-tit{font-size: 26px;line-height:34px;padding-top: 55px;margin-bottom: 2px;}
	.soluSeries-banner-txt{padding: 0 10px;}
	.soluSeries-tab-page{padding: 24px 15px;}
	.soluSeries-main-tit{padding: 32px 0 13px;font-size: 20px;}
	.soluSeries-askBox:hover{}
	.soluSeries-trend-rtTaH{padding-bottom: 0;}
	.soluSeries-trend-rtTaBt{padding-top: 0;}
	.soluSeries-trend-head{display: block;}
	.soluSeries-trend-left,.soluSeries-trend-right,.soluSeries-trend-rtTaH,.soluSeries-trend-rtTr{display: block;width: 100%;border-right: 0;}
	.soluSeries-trend-rtTr:nth-child(2n-1){padding-right: 0;}
	.soluSeries-trend-rtTr:nth-child(2n){padding-left: 0;}
	.soluSeries-trend-img-m{display: block;}
	.soluSeries-trend-img-pc{display: none;}
	.soluSeries-trend-bottom{position: inherit;background: #f7f7f7;padding-top: 14px;}
	.soluSeries-trend-tit{color: #232323;}
	.soluSeries-trend-txt{color: #616265;}
	.soluSeries-trend-left,.soluSeries-trend-rtTr:nth-child(2n-1),.soluSeries-trend-rtTr:nth-child(2n){margin-bottom: 15px;}
	.soluSeries-trend-footer{margin-top: 0;}
	.soluSeries-ideas-li{width: 100%;}
	.soluSeries-ideas-btnBox{padding: 20px 0 50px;}
	.soluSeries-resources-list{display: block;}
	.soluSeries-resources-liMain{padding: 23px 20px 17px;}
	.soluSeries-resources-box .soluSeries-resources-list:first-child .soluSeries-resources-li{display: block;width: 100%;box-sizing: border-box;}
	.soluSeries-resources-li:last-child{padding: 30px 10px 25px 15px;}
	.soluSeries-resources-list .soluSeries-resources-li01:first-child{display: block;width: 100%;padding-right: 0;margin-bottom: 10px;}
	.soluSeries-resources-list .soluSeries-resources-li01:last-child{display: block;width: 100%;padding-left: 0;}
	.soluSeries-resources-box .soluSeries-resources-list:first-child{margin-bottom: 20px;}
	.soluSeries-resources-kleeImg{padding-bottom: 23px;}
	.soluSeries-resources-tit{padding-bottom: 6px;}
	.soluSeries-resources-txt{margin-bottom: 18px;}
	.soluSeries-resources-txt01{margin-bottom: 18px;margin-top: -5px;}
	.soluSeries-resources-liTit{padding-bottom: 7px;}
	.soluSeries-resources-liTxt{margin-bottom: 10px;}
	.soluSeries-resources-box{padding-bottom: 20px;}
	.soluSeries-askArrow,.soluSeries-askAlert{display: block;}
	.soluSeries-askBox.choosez .soluSeries-askArrow,.soluSeries-askBox.choosez .soluSeries-askAlert{display: none;}

	.soluSeries-pGtrend-footer .soluSeries-trend-right .soluSeries-trend-bottom .soluSeries-trend-txt{-webkit-line-clamp: 2;}
	.soluSeries-main-txt{padding: 0 15px;}
	.soluSeries-resources-liMain{height: auto;}
}
