.box,.content{width: 100%;}
.soluSide-banner{height: 380px;text-align: center;}
.soluSide-banner-bg{position: absolute;left: 0;width: 100%;z-index: -1;height: 380px;background-size: cover;background-repeat: no-repeat;background-position-x: center;background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/poe-series/soluSide-poe-banner.jpg");}
.soluSide-banner-bg.mtp-mpo{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/mtp-mpo-cabling/MTPMPO-Cabling_banner-bg.jpg");}
.soluSide-banner-bg.solution-10g{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/10g/10G-WDM_02.png");}
.soluSide-banner-bg.mlag{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/mlag/MLAG_banner.jpg");}
.soluSide-banner-bg.wdm{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/wdm/Solution-banner.jpg");}
.soluSide-banner-bg.cwdm{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/cwdm/SolutionWDM-banner.jpg");}
.soluSide-banner-bg.cwdm-short{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/cwdm-short/CWDM_02.png");}
.soluSide-banner-bg.dc{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/dc/DC-Core-Network-banner.jpg");}
.soluSide-banner-bg.sw{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/sw/pc-banner.png");}
.soluSide-banner-bg.migration{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/migration/40g100g_banner.jpg");}
.soluSide-banner-bg.copper{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/copper/banner.jpg");}
.soluSide-banner-bg.data-center-bg{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/dataCenter-structure-img/DCSC_banner_bg.jpg");}
.soluSide-banner-bg.WDM25G {background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/mlag/25G_02.jpg);}
.soluSide-banner-bg.coherent-dwdm-solution {background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/100G-coherent-dwdm-solution/OTN100g-wdm_banner.jpg);}
.soluSide-banner-tit{font-size: 40px;font-weight: 400;line-height: 48px;margin-bottom: 20px;padding-top: 135px;color: #fff;}
.soluSide-banner-txt{font-size: 16px;line-height: 30px;font-weight: 400;color: #fff;}
.soluSide-child-winBox{width: 1200px;box-sizing: border-box;margin: auto;}
.soluSide-child-box.gray-boxBg{background: #f7f7f7;}
.soluSide-overview-cont{padding: 50px 0;}
.soluSide-overview-list{display: table;background: #fff;margin-bottom: 10px; }
.soluSide-overview-list li{display: table-cell;width: 50%;vertical-align: middle;}
.soluSide-overview-list li:last-child{padding: 0 30px;}
.soluSide-overview-list li div{font-size: 20px;color: #232323;line-height: 22px;font-weight: 600;margin-bottom: 23px;}
.soluSide-overview-list li p{font-size: 14px;color: #616265;line-height: 22px;}
.soluSide-overview-list li p:last-child{margin-top: 18px;}
.soluSide-overview-list01{background: #fff;display: table;width: 100%;}
.soluSide-overview-list01 li>div{display: table;}
.soluSide-overview-list01 li{display: table-cell;width: 25%;padding: 20px 35px;vertical-align: middle;}
.soluSide-overview-imgBox{width: 66px;height: 66px;position: relative;border-radius: 50%;background: #f7f7f7;display: table-cell;}
.soluSide-overview-imgBox img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.soluSide-overview-list01 li p{display: table-cell;vertical-align: middle;font-size: 14px;color: #232323;line-height: 24px;padding-left: 15px;}
.soluSide-child-tit{font-size: 26px;color: #232323;font-weight: 600;line-height: 34px;text-align: center;padding: 45px 0 30px;}
.soluSide-child-txt{font-size: 14px;color: #616265;line-height: 24px;text-align: center;}
.soluSide-child-txt.text-left{text-align: left;}
.soluSide-tagBox{padding: 30px 0 66px;text-align: center;}
.new-mtp-img-container .spirit_bs{display: block;}
.soluSide-child-swiper{position: relative;padding-bottom: 63px;}
.soluSide-child-proList{width: 100%;}
.soluSide-child-proList li{width: 25%;float: left;background: #fff;padding: 10px 32px 23px;box-sizing: border-box;transition: all .3s;}
.soluSide-child-proList li:hover{box-shadow: 0 15px 15px -10px rgba(0,0,0,.15);}
.soluSide-child-proList li img{margin: 0 auto;}
.soluSide-child-proList li>a:hover{text-decoration: none;}
.soluSide-child-proList li div{font-size: 16px;color: #232323;font-weight: 600;}
.soluSide-child-imgBox{margin: 15px 0;}
.soluSide-child-proList li p{font-size: 14px;color: #616265;line-height: 24px;margin-top: 10px;}
.soluSide-child-swiper .swiper-button-next,.soluSide-child-swiper .swiper-button-prev{color: #fff;width: 60px;height: 60px;border-radius: 50%;transition: all .3s;box-sizing: border-box;background-color: rgba(0,0,0,.2);text-align: center;line-height: 60px;background-image: none;opacity: 0;margin-top: -14px;top: 50%;}
.soluSide-child-swiper .swiper-button-next{right: 10px;text-indent: 4px;}
.soluSide-child-swiper .swiper-button-next .icon{font-size: 32px;}
.soluSide-child-swiper .swiper-button-prev{left: 10px;text-indent: -2px}
.soluSide-child-swiper .swiper-button-prev .icon{font-size: 32px;}
.soluSide-child-swiper .swiper-button-next.swiper-button-disabled, .index-feature-proSlide .swiper-button-prev.swiper-button-disabled{opacity: .5;color: #999999;}
.soluSide-child-swiper.swiper-container-horizontal>.swiper-pagination-bullets{bottom: 35px;}
.soluSide-child-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{background: #999999;}
.soluSide-child-swiper .swiper-pagination-bullet{background: #e5e5e5;opacity: 1;}
.soluSide-child-imgBox{text-align: center;}
.soluSide-child-swiper:hover .swiper-button-next,.soluSide-child-swiper:hover .swiper-button-prev{opacity: 1;}

.soluSide-feature-listBox{padding: 0 0 50px;}
.soluSide-feature-listBox a{display: block;}
.soluSide-feature-listBox a:hover{text-decoration: none;}
.soluSide-feature-list{display: table;background: #f7f7f7;}
.soluSide-feature-list li{display: table-cell;width: 50%;vertical-align: middle;}
.soluSide-feature-list li:last-child>a{padding: 0 10px 0 40px;}
.soluSide-feature-tit{font-size: 16px;color: #232323;font-weight: 600;line-height: 24px;margin: 25px 0 12px;}
.soluSide-feature-list li p{font-size: 14px;color: #616265;line-height: 24px;}
.soluSide-feature-more{font-size: 14px;color: #0070BC;line-height: 24px;margin-top: 20px;}
.soluSide-feature-more span:first-child{float: left;line-height: 22px;}
.soluSide-feature-more span:first-child:hover{text-decoration: underline;}
.soluSide-feature-more .icon{font-size: 13px;font-weight: 600;color: #0070BC;margin-left: 6px;}
.soluSide-explore-list{display: table;width: 100%;margin-top: 10px;padding-bottom: 50px;}
.soluSide-explore-list li{padding: 35px 0;transition: all .3s;display: table-cell;text-align: center;width: 403px;border-right: 10px solid #f7f7f7;background: #fff;}
.soluSide-explore-list li:last-child{width: 393px;border-right: 0;}
.soluSide-explore-list li:hover a{text-decoration: none;}
.soluSide-explore-list li:hover{box-shadow: 0 15px 15px -10px rgba(0,0,0,.15);}
.soluSide-explore-more span{font-size: 14px;color: #0070BC;}
.soluSide-explore-more .icon{font-size: 13px;color: #0070BC;}
.soluSide-explore-imgBox{width: 80px;height: 80px;border-radius: 50%;text-align: center;position: relative;margin: 0 auto;background: #f7f7f7;}
.soluSide-explore-imgBox img{position: absolute;top: 50%;left: 50%;}
.soluSide-explore-list li:first-child .soluSide-explore-imgBox img{margin-top: -17.5px;margin-left: -17.5px;}
.soluSide-explore-list li:nth-child(2) .soluSide-explore-imgBox img{margin-top: -18.87px;margin-left: -18px;}
.soluSide-explore-list li:last-child .soluSide-explore-imgBox img{margin-top: -18.53px;margin-left: -19px;}
.soluSide-explore-tit{font-size: 16px;color: #232323;line-height: 22px;font-weight: 600;margin: 15px 0;}
.soluSide-explore-list li p{font-size: 13px;color: #616265;line-height: 20px;height: 80px;}
.soluSide-explore-more>a{color: #0070BC;font-size: 14px;}
.soluSide-explore-more>a .icon{font-size: 13px;font-weight: 600;}
.soluSide-explore-more>a:hover{text-decoration: none;}
.soluSide-explore-more>a:hover span:first-child{text-decoration: underline;}


@media(max-width:1220px) {
	.soluSide-child-winBox{width: 960px;}
	.soluSide-child-proList li{padding: 15px 15px 23px;}
	.soluSide-overview-list li:last-child{padding: 0 15px;}
	.soluSide-overview-list li div{margin-bottom: 13px;}
	.soluSide-overview-list li p:last-child{margin-top: 8px;}
    .soluSide-overview-list01 li{padding: 20px 25px;}
    .soluSide-child-txt br{display: none;}
}

@media(max-width:960px) {
	.soluSide-banner,.soluSide-banner-bg{height: 540px;}
	.soluSide-banner-bg{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/poe-series/soluSide-poe-bannerM.jpg");}
    .soluSide-banner-bg.mtp-mpo{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/mtp-mpo-cabling/MTPMPO-Cabling_banner-bg-m.jpg");}
    .soluSide-banner-bg.solution-10g{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/10g/10G-wdm-M-banner.png");}
    .soluSide-banner-bg.mlag{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/mlag/MLAG_banner_M.jpg");}
    .soluSide-banner-bg.wdm{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/wdm/m-10G100g-wdm.png");}
    .soluSide-banner-bg.cwdm{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/cwdm/m-SolutionWDM-banner.jpg");}
    .soluSide-banner-bg.cwdm-short{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/cwdm-short/M-banner.png");}
    .soluSide-banner-bg.dc{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/dc/m-DC-Core-Network-banner.jpg");}
    .soluSide-banner-bg.sw{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/sw/m-banner.jpg");}
    .soluSide-banner-bg.migration{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/migration/40g100g_banner_m.jpg");}
    .soluSide-banner-bg.copper{background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/copper/M-banner.jpg");}
    .soluSide-banner-bg.data-center-bg {background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/dataCenter-structure-img/DCSC_banner_bg-m.jpg");}
    .soluSide-banner-bg.WDM25G {background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/Product-support/mlag/25G-M-banner.jpg);}
    .soluSide-banner-bg.coherent-dwdm-solution {background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/100G-coherent-dwdm-solution/OTN100g-wdm_banner-m.jpg);}
    .soluSide-child-winBox{width: 100%;padding: 0 15px;}
    .soluSide-overview-list{padding: 10px 0 10px 10px;}
    .soluSide-overview-list li{vertical-align: top;}
    .soluSide-overview-list01{display: block;box-sizing: border-box;}
    .soluSide-overview-list01 li{display: block;width: 50%;float: left;box-sizing: border-box;}
    .soluSide-child-proList li{padding: 10px 20px 23px;}
    .soluSide-child-imgBox{margin-bottom: 10px;}
    .soluSide-feature-list{padding: 10px;}
    .soluSide-feature-list li{vertical-align: top;}
    .soluSide-feature-list li:last-child>a{padding: 0 10px 0 15px;}
    .soluSide-explore-list li p{padding: 0 10px;}
    .soluSide-explore-list li p br{display: none;}
    .soluSide-child-proList li div{font-size: 14px;}
    .soluSide-banner-tit{padding-top: 175px;}
}

@media(max-width:480px) {
	.soluSide-banner,.soluSide-banner-bg{height: 220px;}
	.soluSide-banner-tit{font-size: 26px;line-height: 34px;padding-top: 60px;margin-bottom: 11px;}
	.soluSide-banner-txt{font-size: 14px;line-height: 20px;padding: 0 15px;}
	.soluSide-overview-cont{padding: 20px 0;}
	.soluSide-overview-list{padding: 0;display: block;margin-bottom: 0;}
    .soluSide-overview-list li{display: block;width: 100%;box-sizing: border-box;}
    .soluSide-overview-list li div{text-align: center;margin: 25px 0 10px;}
    .soluSide-overview-imgBox{display: block;margin: 0 auto 10px;}
    .soluSide-overview-list01{padding: 25px 15px 0;}
    .soluSide-overview-list01 li{text-align: center;padding: 35px 15px 23px;}
    .soluSide-overview-list01 li:first-child,.soluSide-overview-list01 li:nth-child(2){border-top: 1px solid #F7F7F7;}
    .soluSide-overview-list01 li>div{display: block;}
    .soluSide-overview-list01 li p{display: block;padding-left: 0;height: 48px;}
    .soluSide-child-txt{text-align: left;padding: 0 15px;}
    .soluSide-child-tit{font-size: 20px;line-height: 24px;padding: 35px 15px 15px;}
    .soluSide-tagBox{padding: 20px 15px 34px;}
    .the-poeBox .soluSide-child-winBox{padding: 0;}
    .soluSide-child-swiper .swiper-button-next,.soluSide-child-swiper .swiper-button-prev{display: none;}
    .soluSide-child-proList li img{width: 120px;margin: 0 auto;}
    .soluSide-child-proList li{padding: 10px 10px 23px;}
    .soluSide-child-swiper{margin-top: 5px;padding-bottom: 53px;}
    .soluSide-child-swiper.swiper-container-horizontal>.swiper-pagination-bullets{bottom: 25px;}
    .soluSide-feature-list{display: block;padding: 0;}
    .soluSide-feature-list li{display: block;width: 100%;box-sizing: border-box;}
    .soluSide-feature-list li:last-child>a{padding: 40px 15px 32px;}
    .soluSide-explore-list{display: block;}
    .soluSide-explore-list li{width: 100%;border: 0;margin-bottom: 10px;display: block;box-sizing: border-box;}
    .soluSide-explore-list li p br{display: block;}
    .soluSide-explore-list li:last-child{width: 100%;}
    .soluSide-feature-list li:last-child>a img.data-center-Featured-m {width: auto;}
    .soluSide-feature-list-25G li:last-child>a img {width: auto;}
}
