.content{padding:0}
img{display:block}
dd,div,dl,dt,form,h1,h2,h3,input,li,p,select,ul{margin:0;padding:0;list-style:none}
em{font-style:normal}

.box{width: 100%;}
.content{padding-top: 0;}
.button_02{box-sizing: border-box;font-weight:400}
.alone_in .button_02{border: 1px solid #CCCCCC;color: #616265;background: none;transition: all .3s;}
.alone_in .button_02:hover{background: #f7f7f7;}
.sale_banner { height: 200px; }
.sale_banner_bg { position: absolute; width: 100%; height: 200px; left: 0;  z-index: -1;background: url(https://img-en.fs.com/images/RMA-Solution.jpg) no-repeat center;}
.sale_banner_tit{font-size: 40px; color: #fff; text-align: center; padding-top: 52px; margin-bottom: 14px;font-weight: 400;line-height: 48px;}
.sale_banner_txt{font-size: 16px;color: #fff;font-weight: 400;text-align: center;line-height: 30px;}
.sale_banner_txt a{color: #FFFFFF;}
.app_wap{width: 100%;background: #f7f7f7;float: left;}
.app_wap:after{content:"";display:block;clear:both;}
.app_div{background: #FFFFFF;width: 960px;margin: 0 auto;margin: 50px auto;padding: 50px 150px;box-sizing: border-box;}
.app_div_tit{font-size: 18px;color: #232323;line-height: 22px;font-weight: 400;}
.app_alone_div:after{content:"";display:block;clear:both;}
.new17address_add:after{content:"";display:block;clear:both;}
.new17address_add{margin: 0 -10px;padding:8px 0}
#order_number{height:38px;}
.error_prompt{display:none}
.layout50{float: left;width: 50%;}
.form_input{padding: 0 10px;}
.AddressType{height: 38px;}
.input100{border:1px solid #e5e5e5;height:38px}
.alone_p02{font-size: 13px;color: #616265;line-height: 22px;padding-top: 14px;padding-bottom: 4px;}
.alone_input{width: 150px;margin-right: 20px;float: left;height: 38px;box-sizing: border-box;border:1px solid #e5e5e5;transition:all .3s;}
.alone_input:nth-child(2){margin-right: 18px;}
.alone_input:last-child{margin-right: 4px;}
.alone_icon{text-decoration: none;display: inline-block;vertical-align: middle;margin-top: 10px;font-weight: 600;}
.alone_icon:hover{text-decoration: none;}
.alone_in{display: block;}
.alone_in:after{content:"";display:block;clear:both;}
.alone_div,.alone_series{float: left;}
.alone_series{margin-right: 10px;display:none;}
.alone_more_wap:after{content:"";display:block;clear:both;}
.alone_more1 .wordwrap{top: 55px;}
.alone_series .alone_Bubble{display: inline-block;vertical-align: middle;margin-top: 10px;margin-left: 4px;margin-right: 4px;}
/*.alone_more .ss_main_right_main_upload_prompt{margin-top: -28px;}*/
.area_code.area_code_shipping{overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;position: absolute;
    width: 49px;background-color: #e5e5e5;
    color: #232323;
    text-align: center;
    line-height: 38px;
    left: 11px;font-size: 14px;
    font-weight: 400;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;height: 36px;top: 26px;box-sizing: border-box;border-right:none}
.company_box4{position: relative;}
.company_box4 .big_input{text-indent: 55px;}
.bottom_p02{color: #616265;letter-spacing: -0.2px;padding-bottom: 18px;}
.bottom_p02 a{color: #232323;}
.quest_select{position: relative;
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    border-radius: 2px;}
    .quest_one_option{position: relative;
    width: 100%;
    height: 100%;
    outline: 0;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    font-size: 13px;
    color: #232323;
    font-weight: 400;
    line-height: 36px;
    padding: 0 10px;
    border-radius: 2px;
    cursor: pointer;}
    .quest_option{position: absolute;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 1;
    box-sizing: border-box;
    border: 1px solid #DEDEDE;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 10px 0;display: none;}
    .quest_ul li{font-size: 13px;
    padding: 0 10px;
    color: #616265;
    line-height: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    }
    .quest_ul li:last-child{
        margin-bottom: 0;
    }
    .quest_ul li:hover {
    text-decoration: underline;
}
.apply_a02{color: #0070BC;margin-top: 10px;display: inline-block;vertical-align: middle;}
.apply_a02:hover{color: #0070BC;text-decoration: none;}
.alone_under{display: inline-block;
    width: 14px;
    height: 14px;
	line-height:14px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
	font-size:14px;
	color:#8d8d8f;
}
    .popup_width480{width: 480px;
    left: 50%;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);z-index: 100;position: absolute;
    background-color: #fff;
    border-radius: 2px;margin-left:-240px}
    .approved_ui .new_popup_tit{border: none;}
    .new_popup_content{padding: 0 40px;
    box-sizing: border-box;padding-bottom: 40px;border-top: none;}
    .approved_h2{font-size: 18px;
    color: #232323;
    line-height: 24px;
    font-weight: 400;
    padding-top: 41px;
    padding-bottom: 16px;}
    .approved_h2 .icon{font-size: 28px;
    color: #339933;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 5px;
    margin-right: 5px;}
    .approved_p{font-size: 14px;
    line-height: 22px;
    color: #232323;
    font-weight: 400;
    padding-bottom: 14px;}
    
.button_text_right{text-align: right;}
.app_div .button_text_right{text-align: left;}
.button_text_right input{transition: all .3s;}
.alone_ic .alone_input:last-child{margin-right: 7px;}
.alone_ic{margin-top: 10px;}
.alone_ic .ss_main_right_main_upload_prompt{margin-right: 5px;margin-left: 7px;}
.acc_textarea{max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    max-height: 86px;
    min-height: 86px;
    min-width: 100%;
    height: 86px;
    border: 1px solid #e6e7e8;
    transition: all .3s;
    margin-top: 0;border-radius: 2px;
    resize: none;padding: 10px;transition:all .3s;}
.wordwrap{position: absolute;
    right: 10px;
    bottom: 6px;
    font-size: 13px;
    color: #616265;
    line-height: 30px;}
.word{font-style: normal;}
.quest_textarea_wap{position: relative;}
.write_review_from{color:#232323;position:relative;margin-bottom: 24px;}
.write_review_fromonly{width:auto;float:left}
.write_sc{width:auto;height:26px;text-align:left;padding:0;border:none;background:0 0;margin-top:0;cursor:pointer;position:relative;display:inline-block;border-radius:3px;line-height:38px;overflow:hidden;color:#616265;text-decoration:none;text-indent:0;clear:both}
.wr_span{width:14px;height:18px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/solutions_support/3.png) no-repeat -61px -28px;margin-top:-14px;vertical-align:middle;display:inline-block;border-radius:100%;text-align:center;line-height:20px;color:#fff}
.write_review_increase_btn i{display:inline-block;padding:0;padding-left:6px;font-size:14px;margin-top:-12px;vertical-align:middle;color:#0070BC;line-height:16px;font-style:normal}
.write_review_increase_btn input{position:absolute;font-size:100px;right:0;top:0;opacity:0;cursor:pointer}
.ss_main_right_main_upload_prompt{display:inline-block;vertical-align:middle;position:relative;margin-top:8px;margin-left:3px;cursor:pointer}
.ss_main_right_main_upload_prompt span{display:block;width:16px;height:16px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/solutions_support/3.png) no-repeat -34px -31px}
.ss_main_right_main_upload_prompt_content{position:absolute;left:25px;top:-16px;border:1px solid #c9c9c9;border-radius:3px;box-shadow:0 0 10px 0 rgba(51,51,51,.1);padding:3px 10px;display:none;background: #FFFFFF;}
.ss_main_right_main_upload_prompt_content_arrow{position:absolute;width:7px;height:10px;left:-7px;top:17px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/solutions_support/3.png) no-repeat -22px -20px}
.ss_main_right_main_upload_prompt_content p{font-size:13px;color:#999;white-space:pre}
.review_img_show_only001{width:100%;margin-left:0;margin-top:10px;margin-bottom:10px;float:left;display: none;}
.ss_main_right_main_upload_prompt:hover .ss_main_right_main_upload_prompt_content{display: block;}
.showwr_img{border:1px solid #aeaeae;width:auto;border-radius:3px;padding:2px 8px;cursor:pointer;height:auto;text-align:center;display:inline-block;max-height:100px;margin:0 15px 15px 0;position:relative}
.bottom_p03{font-size: 13px;color: #232323;padding-top: 15px;padding-bottom: 25px;}
.showwr_img{border:1px solid #aeaeae;width:auto;border-radius:3px;padding:2px 8px;cursor:pointer;height:auto;text-align:center;display:inline-block;max-height:100px;margin:0 15px 15px 0;position:relative}
.showwr_img:hover{border:1px solid #616265}
.files_wrapp{display:inline-block;padding-top:4px;font-weight:400}
.write_review_increase_img span{border-radius:50%;position:inherit!important;background:0 0;top:0;right:0;padding:5px;font-size:0;cursor:pointer}
.showwr_img .icon{display:inline-block;font-size:14px!important;color:#616265;width:12px;height:12px;margin:0!important;line-height:12px}
.wish_ui .new_popup_tit{border-bottom: 1px solid #e5e5e5;}
.quest_hide_tit{font-size: 13px;
    color: #999999;
    font-weight: 400;
    line-height: 28px;
    margin: 4px 0;}
    .acc_textarea{max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    max-height: 86px;
    min-height: 86px;
    min-width: 100%;
    height: 86px;transition: all .3s;
    margin-top: 0;border: 1px solid #e5e5e5;border-radius: 2px;
    resize: none;padding: 10px;}
    .quest_hide .acc_textarea:focus{border: 1px solid #8d8d8f;}
    .quest_hide{margin: 20px 0;}
.button_01{box-sizing: border-box;height: 38px;margin-right: 10px;}
.app_alone_div .form_input p{font-size: 13px;color: #616265;}
.roate{transform: rotate(45deg);display: inline-block;}
.button_02{box-sizing: border-box;transition: all .3s;}
.transform_c{position: relative;}
.cart_a_one{border: none;background-color: #eb9898;cursor: default;}
.transform_one{font-size: 16px;font-weight: 400;padding: 0 30px;height: 40px !important;line-height: 38px !important;background:#C00000;color: #fff;}
.transform_one:hover{background:#9B0912 !important;}
.app_div .error_prompt{margin-bottom: 0;}
.form_input label{margin-bottom: 0;}
.app_alone_div .new17address_add{margin-bottom: 0;padding-bottom: 0;}
#add_n_of_name a{color:d63030;text-decoration: underline;}
.ce_form_choose_country{border: 1px solid #e5e5e5 !important;}
.form_input .input100,.quest_one_option,.country_name{transition:all .3s;}
.form_input .input100:focus{border-color: #8d8d8f;}
.quest_one_option:focus{border-color: #8d8d8f;}
.alone_input:focus{border-color: #8d8d8f;}
.acc_textarea:focus{border-color: #8d8d8f;}
.contact_button_01{color:#fff}
.login_country:focus{box-shadow:none}
.country_name.show{border-color: #8d8d8f;}
@media(max-width:1440px){
	
	
}
@media(max-width:1220px){
	
}
@media(max-width:960px){
	.box,.content{width: 100%;box-sizing: border-box;}
	.new_popup_main{width: 100%;transform: translate(0);top: 0;margin: 0;left: 0;top: 0;}
	.app_div{width: 100%;box-sizing: border-box;padding: 30px 20px;margin: 0;}
	.sale_banner_txt br{display: none;}
	.sale_banner_txt{padding-left:10px;padding-right: 10px;}
	.quest_select{width: 100%;box-sizing: border-box;}
	.app_wap{background: #FFFFFF;}
	.sale_banner{display: none;}
	
}
@media(max-width:560px){
	.alone_in{width: 100%;}
	.alone_in input.alone_input{width: 100%;margin-right: 0;float: left;}
	.alone_in input.alone_input:first-child{margin-bottom: 20px;}
	.apply_a02,.ss_main_right_main_upload_prompt,.alone_icon{float: left;}
	.ss_main_right_main_upload_prompt{margin-top: 13px;}
	.new_popup{display: none !important;}
	.ss_main_right_main_upload_prompt_content p{white-space: normal;}
	.ss_main_right_main_upload_prompt_content p br{display: none;}
	.ss_main_right_main_upload_prompt_content{width: 260px;left: -40px;top: -60px;}
	.ss_main_right_main_upload_prompt_content_arrow{left: 42px;top: 44px;transform: rotate(-90deg);}
	.alone_in{display:flex}
	.alone_in .alone_div{width:100%;margin-right:10px;}
}
@media(max-width:480px){
	.sale_banner{box-sizing: border-box;padding: 0 20px;}
	.sale_banner,.sale_banner_bg{height:280px}
	.sale_banner_tit{font-size: 24px;padding-top: 35px;margin-bottom: 0px;}
	.sale_banner_txt{font-size: 16px;line-height: 22px;}
	.layout50{width: 100%;margin-bottom: 10px;}
	.new17address_add{padding: 0;}
	.app_div_tit{margin-bottom: 14px;}
	.write_review_from .ss_main_right_main_upload_prompt{margin-top: 8px;}
	.transform_one{width:100%}
}
.write_review_from .alone_Bubble{display:inline-block;margin-left:6px;vertical-align: middle;margin-top: 6px;}


/*********************************************--气泡样式---**************************************************/
.bubble-popover-wap{display:inline-block;width:16px;height:16px;line-height:16px}
.bubble-popover{display:inline-block;position:relative}
.bubble-icon{display:inline-block;color:#8d8d8f;cursor:pointer;width:16px;height:16px}
.bubble-arrow{border-width:11px;border-color:transparent;border-style:solid;display:block;height:0;position:absolute;width:0;border-top-width:0;border-bottom-color:rgba(0,0,0,.08);background:0 0;transform:rotate(-180deg);bottom:-11px;left:50%;margin-left:-11px}
.bubble-arrow:after{border-color:transparent;border-style:solid;display:block;height:0;position:absolute;width:0;border-width:10px;content:"";border-top-width:0;border-bottom-color:#fff;bottom:-11px;left:-10px}
.m-bubble-bg{background:#000;position:absolute;width:100%;height:100%;top:0;left:0;z-index:-6;opacity:0}
.bubble-tit{cursor:pointer;color:#0681d3}
.bubble-frame{width:300px;background:#deb887;bottom:26px;left:50%;margin-left:-150px;text-decoration:none;text-align:left;white-space:normal;background-color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 1px 8px 0 rgba(120,102,102,.3);-moz-box-shadow:0 1px 8px 0 rgba(120,102,102,.3);box-shadow:0 1px 8px 0 rgba(120,102,102,.3);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;position:absolute;padding:10px 20px;box-sizing:border-box;display:none}
.bubble-changeWd-frame.bubble-frame .alone_bubble_txt{word-wrap:break-word;}
.bubble-content p{line-height:22px;font-size:13px;font-weight:400}
.bubble-popover:not(.nohover):hover .bubble-frame{display:block;z-index:999}
.m-bubble-Close-container{display:none}
.left-top{bottom:inherit;top:32px;left:0;margin-left:-20px}
.left-top .bubble-arrow{margin:0;left:18px;bottom:0;top:-11px;transform:none}
.middle-top{bottom:inherit;top:26px}
.middle-top .bubble-arrow{bottom:inherit;top:-11px;transform:none}
.right-top{bottom:inherit;top:28px;right:0;margin-right:-20px;left:inherit;margin-left:0}
.right-top .bubble-arrow{margin:0;right:18px;bottom:0;top:-11px;transform:none;left:inherit;margin-left:inherit}
.left-middle{left:0;margin-left:-20px}
.left-middle .bubble-arrow{margin:0;left:18px}
.right-middle{right:0;margin-right:-20px;left:inherit;margin-left:0}
.right-middle .bubble-arrow{margin:0;right:18px;left:inherit}
.left-left-top{bottom:inherit;top:-20px;left:30px;margin-left:0}
.left-left-top .bubble-arrow{margin:0;left:-21px;bottom:0;top:20px;transform:rotate(-90deg);margin-top:2px;border-width:10px}
.left-left-top .bubble-arrow:after{bottom:-12px}
.left-left-middle{bottom:inherit;top:50%;left:30px;margin-left:0;transform:translateY(-50%)}
.left-left-middle .bubble-arrow{margin:0;left:-21px;bottom:0;top:50%;transform:rotate(-90deg);margin-top:-10px;border-width:10px}
.left-left-middle .bubble-arrow:after{bottom:-12px}
.bubble-popover-wap .bubble-popover:hover .left-left-middle{transform:translateY(-50%)}
.left-left-bottom{bottom:-20px;top:inherit;left:30px;margin-left:0}
.left-left-bottom .bubble-arrow{margin:0;left:-21px;bottom:20px;top:inherit;transform:rotate(-90deg);margin-top:2px;border-width:10px}
.left-left-bottom .bubble-arrow:after{bottom:-12px}


@media(max-width:960px) {
/*********************************************--气泡开始---**************************************************/
	.wap{width:100%;padding-left:10px;padding-right:10px;box-sizing:border-box;margin:0}
	.m-bubble-container{position:fixed;left:0;top:0;height:100%;width:100%;z-index:1001;text-align:center;display:none}
	.m-bubble-container:after{content:"";height:100%;display:inline-block;vertical-align:middle;box-sizing:border-box}
	.bubble-popover{position:inherit}
	.bubble-arrow{display:none}
	.bubble-popover:not(.nohover):hover .bubble-frame{display:inline-block}
	.m-bubble-container .bubble-frame{padding: 42px 20px 34px !important;position:relative;vertical-align:middle;text-align:left;display:inline-block;bottom:inherit;left:inherit;top:inherit!important;margin:0;width:90%;border-radius:3px}
	/* .m-bubble-Close{font-size:20px;cursor:pointer;color:#aaa;float:right;margin-top:0;margin-right:-6px} */
	.m-bubble-bg{display:none;position:fixed;z-index:1000;opacity:.4}
	.m-bubble-Close-container:after{content:"";display:block;clear:both}
	.m-bubble-Close-container{display:block}
	.bubble-popover-wap.active .bubble-popover .bubble-frame{opacity:1;z-index:999}
	.bubble-popover-wap.active .m-bubble-bg{opacity:.2;z-index:30}
	.bubble-popover-wap.active .m-bubble-container{z-index:40}
/*********************************************--气泡结束---**************************************************/
}
