.content{padding: 0;}
a:hover{text-decoration: none;}
.box{padding: 0;}
.alone_banner_tit{/*banner标题文字*/
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 18px;
}
.alone_banner_txt{/*banner文字*/
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.alone_tit{/*内容区域标题*/
    font-size: 26px;
    font-weight:400;
    line-height: 30px;
    text-align: center;
    padding-top: 45px;
}
.alone_txt{/*内容区域标题下文字*/
    font-size: 14px;
    color: #616265;
    line-height: 22px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.alone_center{/*居中效果*/
    text-align: center;
}
.color_White{/*文字颜色--白色*/
    color: #FFFFFF;
}
.color_Red{/*文字颜色--红色*/
    color: #c00000;
}
.color_Normal{/*文字颜色--正常体*/
    color: #232323;
}
.color_Blue{/*文字颜色--蓝色*/
    color: #0070BC;
}
.alone_banner{/*banner*/
    height: 200px;
    text-align: center;
}
.alone_banner_bg{/*banner背景*/
    position:absolute;
    left:0;
    width:100%;
    height:20pc;
    z-index:-1;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.alone_font_light{/*细体*/
    font-weight:400;
}
.alone_font_normal{/*正常体*/
    font-weight: 400;
}
.divide_line{/*分割线*/
    border-bottom: 2px solid #e5e5e5;
}
.alone_after:after{/*清除浮动  防止父元素高度塌陷*/
    content:"";
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
}
.alone_box_sizing{/*box-sizing: border-box;*/
    box-sizing: border-box;
}
.alone_img{/*图片自适应*/
    max-width: 100%;
    height: inherit;
    display: block;
    margin: 0 auto;
}
.alone_a_inherit:hover{/*a标签hover状态-1*/
    text-decoration: underline;
}
.alone_a_none:hover{/*a标签hover状态-2*/
    text-decoration: none;
}
.alone_radius{/*圆角*/
    border-radius: 3px;
}
@media(max-width:480px){
    .content{
        width: auto !important;
        padding: 0 10px !important;
    }
    .alone_banner{/*banner*/
        height: 220px;
        text-align: center;
    }
    .alone_banner_bg{
        height: 220px;
    }
    .alone_banner_tit{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 10px;
        font-weight: 400;
    }
    .alone_tit{
        font-size: 18px;
        line-height: 20px;
        padding: 20px 0 0;
    }
}
/**contact us样式开始**/
.alone_banner.contact_us .alone_banner_bg{
    background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/Contact_Us/contact_us_bannr.jpg);
}
.alone_banner.contact_us .alone_banner_tit{
    padding-top: 42px;
}
.cu_find{
    padding-bottom: 40px;
}
.cu_find .alone_txt{
    margin-top: 20px;
    margin-bottom: 35px;
}
.cu_find_con{
    overflow-x: auto;
}
.cu_find_map{
    position: relative;
}
.cu_find_map img{
    display: block;
    margin: 0 auto;
}
.cu_find_map_uk{
    position: absolute;
    width: 220px;
    top: 150px;
    left: 470px;
}
.cu_find_map_uk_main_font,.cu_find_map_gm_main_font{background:#fff;}
.cu_find_map_uk_dot{
    display: block;
    text-align: right;
}
.cu_find_map_uk_dot img{
    display: inline-block;

}
.cu_find_map_uk_font{
    text-align: right;
    font-size: 14px;
}
.cu_find_map_uk_main{
    margin-top: 15px;
    border-radius:3px;
    overflow: hidden;
    border: 2px solid #9bd3ff;
}
.cu_find_map_uk_main img{
    width: 100%;
}
.cu_find_map_uk_main_font h2{
    font-weight: 600;
    font-size: 14px;
    color: #232323;
    padding-top: 10px;
    padding-left: 10px;
}
.cu_find_map_uk_main_font p{
    padding: 5px 10px 10px;
    font-size: 12px;
    color: #616265;
}
.cu_find_map_gm{
    position: absolute;
    top: 152px;
    left: 710px;
}
.cu_find_map_gm_left{
    display: inline-block;
    vertical-align: top;
}
.cu_find_map_gm_dot{
    display: block;
    text-align: left;
}
.cu_find_map_gm_dot img{
    display: inline-block;
}
.cu_find_map_gm_font{
    font-size: 16px;
}
.cu_find_map_gm_right{
    display: inline-block;
    width: 304px;
    margin-left: 15px;
    border-radius:3px;
    overflow: hidden;
    border: 2px solid #86b4ff;
}
.cu_find_map_gm_right img{
    width: 100%;
}
.cu_find_map_gm_main_font h2{
    font-size: 18px;
    color: #232323;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 10px;
}
.cu_find_map_gm_main_font p{
    font-size: 14px;
    color: #616265;
    line-height: 22px;
    padding: 5px 10px 10px;
}
.cu_call{
    padding-bottom: 15px;
}
.cu_call .alone_txt{
    margin-top: 20px;
}
.cu_call_country{
    margin-top: 35px;
}
.cu_call_country ul{
    overflow: hidden;
}
.cu_call_country_list{
    float: left;
    width: 33.33333333333333%;
    margin-bottom: 20px;
}
.cu_call_country_list span{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/country.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 130px;
}
.cu_call_country_list em{
    font-size: 14px;
    color: #232323;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-style: normal;
}
.cu_mail .alone_txt{
    margin-top: 20px;
}
.cu_mail .alone_after{
    padding: 0 120px;
    margin-top: 45px;
}
.cu_mail_list{
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding-right: 50px;
    margin-bottom: 50px;
	min-height:180px;
}
.cu_mail_list:nth-of-type(4n){
    padding-right: 0;
}
.cu_mail_list_font{
    display: inline-block;
    width: 70%;
    vertical-align: top;
}
.cu_mail_list_font h2{
    font-size: 18px;
    color: #232323;
    font-weight: 400;
    margin-bottom: 5px;
}
.cu_mail_list_font a{
    font-size: 14px;
    color: #0070BC;
}
.cu_mail_list_font p{
    font-size: 12px;
    color: #616265;
    line-height: 18px;
    margin-top: 5px;
    height: 85px;
}
.cu_mail_list_icon{
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-right: 20px;
    background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/Contact_Us/contact_mail_icon.png);
}
.cu_mail_list:first-child .cu_mail_list_icon{
    background-position: 0 0;
}
.cu_mail_list:nth-child(2) .cu_mail_list_icon{
    background-position: 0 -148px;
}
.cu_mail_list:nth-child(3) .cu_mail_list_icon{
    background-position: 0 -296px;
}
.cu_mail_list:nth-child(4) .cu_mail_list_icon{
    background-position: 0 -444px;
}
.cu_mail_list:nth-child(5) .cu_mail_list_icon{
    background-position: 0 -592px;
}
.cu_mail_list:nth-child(6) .cu_mail_list_icon{
    background-position: 0 -740px;
}
.cu_mail_list:nth-child(7) .cu_mail_list_icon{
    background-position: 0 -888px;
}
.cu_mail_list:nth-child(7) .cu_mail_list_icon{
    background-position: 0 -1036px;
}

.cu_need .alone_after{
    padding: 0 110px;
    margin-top: 40px;
}
.cu_need_list{
    float: left;
    width: 285px;
    margin-right: 20px;
}
.cu_need_list:last-child{
    margin-right: 0;
}
.cu_need_list_font{
    width: 100%;
    height: 174px;
    box-sizing: border-box;
    margin: 0 auto;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
    border-bottom: 2px solid #0070BC;
    background-color: #fff;
    transform: translateY(-45px);
    padding:15px 20px;
    text-align: center;
}
.cu_need_list_font h2{
    font-size: 18px;
    color: #232323;
    font-weight: 400;
    margin-bottom: 22px;
}
.cu_need_list_font p{
    font-size: 14px;
    color: #616265;
    font-weight:400;
    line-height: 22px;
    margin-bottom: 10px;
	min-height:66px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.cu_need_list_font a{
    font-size: 14px;
    color: #0070BC;
}
.cu_need_list_font a:hover{text-decoration: underline;}
.cu_share .alone_tit{
    padding-top: 0;
    margin-bottom: 20px;
}
.cu_share .alone_txt{
    margin-bottom: 20px;
}
.cu_share{
    text-align: center;
    padding-bottom: 20px;
}
.cu_share a span,.cu_share a em{
    display: inline-block;
    vertical-align: middle;
}
.cu_share a em{
    font-style: normal;
    color: #0070BC;
    font-size: 14px;
    margin-left: 8px;
}
.cu_share a:hover em{
    text-decoration: underline;
}
.alone_banner.customer_service .alone_banner_tit{
    padding-top: 135px;
}
@media(max-width:1440px){
    .cu_find_map{
        width: 1440px;
    }
    .cu_mail_list{
        width: 33.33333333%;
    }
    .cu_mail_list:nth-of-type(4n){
        padding-right: 50px;
    }
    .cu_call_country_list span{margin-left: 90px;}
}
@media(max-width:1220px){
    .cu_call_country_list span{
        margin-left: 0;
    }
    .cu_mail_list{
        width: 50%;
    }
    .cu_need .alone_after{
        text-align: center;
    }
    .cu_need_list{
        float: none;
        display: inline-block;
    }
}
@media(max-width:960px){
    .content {padding: 0 10px;}
    .cu_find.divide_line{padding: 0 10px;}
    .cu_share{padding: 0 15px 40px;}
    .cu_call_country ul{width: 600px;margin: auto;}
    .cu_call_country_list{width: 50%;}
    .cu_call_country_list em{
        margin-left: 3px;
    }
	.cu_mail .alone_after{padding:0 10px;box-sizing:border-box;}
}
@media(max-width:600px){
    .cu_call_country ul{width: 100%;}
	.cu_mail_list{margin-right:0}
}
@media(max-width:480px){
    .cu_share .alone_txt br{
        display: none;
    }
    .alone_banner.contact_us .alone_banner_tit, .alone_banner.customer_service .alone_banner_tit{
        font-size: 24px;
        padding-top: 70px;
    }
    .cu_find .alone_txt,.cu_call .alone_txt{
        margin-top: 10px;
    }
    .cu_call_country_list{
        width: 100%;
        margin-bottom: 10px;
    }
    .cu_call_country_list span{
        margin-left: 40px;
    }
    .cu_mail .alone_after{
        padding: 0;
    }
    .cu_mail_list{
        padding-right: 10px;
    }
    .cu_mail_list:nth-of-type(2n){
        padding-right: 0;
    }
    .cu_mail_list_font{
        width: 100%;
    }
    .cu_need .alone_after{
        padding:0 ;
    }
    .cu_need_list{
        margin-right: 0;
        float: none;
        margin: 0 auto;
    }
    .cu_need_list:last-child{
        margin: 0 auto;
    }
    .cu_call_country_list em{
        margin-left: 10px;
    }
}


.customer_service.alone_banner .alone_banner_bg{
    background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/Contact_Us/customer_service_banner.jpg);
}


.cu_mail_list{text-align: center;width: 285px;height: 200px;border: 1px solid #e5e5e5;box-sizing: border-box;margin-right: 20px;padding-right: 0;margin-bottom: 20px;transition: all .3s;}
.cu_mail_list:nth-of-type(4n){margin-right: 0;}
.cu_mail .alone_after{padding: 0 110px 20px 110px;}
.cu_mail_list_font{width: 100%;padding: 0 20px;box-sizing: border-box;}
.cu_mail_list_font p{font-size: 14px;line-height: 22px;font-weight:400;}
.cu_mail_list_font h2{padding-top: 38px;margin-bottom: 12px;}
.cu_bg0{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/Contact_Us/contact-server-icon.png);width: 48px;height: 48px;display: inline-block;margin-bottom: 10px;}
.cu_need_list_font{transform: translateY(0);}
.cu_need_list{border: 1px solid #e5e5e5;box-sizing: border-box;padding-top: 30px;transition: all .3s;}
.cu_need_list{text-align: center;}
.cu_bg0_2{background-position: 0 -81px;}
.cu_bg0_3{background-position: 0 -161px;}
.cu_bg0_4{background-position: 0px -241px;}
.cu_need_list_font{border: none;background: none;}
.cu_need_list_font h2{margin-bottom: 10px;}
.cu_need_list_font p{min-height: 58px;}
.cu_need .alone_after{margin-bottom: 44px;}
.cu_mail_list:hover{border-bottom: 2px solid #0070BC;}
.cu_need_list:hover{border-bottom: 2px solid #0070BC;}
.cu_mail_list_font a:hover{text-decoration: underline;}
@media (max-width: 1440px){
	.cu_mail_list{width:23%}
	.cu_mail_list:nth-of-type(4n){padding-right: 0;}
	.cu_need_list{width: 23%;}
}
@media (max-width: 1220px){
	.cu_mail .alone_after{padding: 0 10px 20px 10px;}
	.cu_need .alone_after{padding: 0 10px;}
	.cu_need_list_font p{min-height: 66px;}
}
@media (max-width: 960px){
	.cu_mail_list{width: 31%;}
	.cu_mail_list:nth-of-type(3n){margin-right: 0;}
	.cu_mail_list:nth-of-type(4n){margin-right: 20px;}
	.cu_need_list{width: 46%;margin-bottom: 20px;}
	.cu_need_list:nth-of-type(2n){margin-right: 0;}
}
@media (max-width: 630px){
	.cu_mail_list:nth-of-type(3n){margin-right: 20px;}
	.cu_mail_list:nth-of-type(2n){margin-right: 0;}
	.cu_mail_list{width: 47%;}
}
@media (max-width: 480px){
	.cu_need_list,.cu_mail_list{width: 100%;}
	.cu_mail_list{height: auto;}
	.cu_mail_list_font h2{padding-top: 18px;}
	.cu_mail_list_font p{padding: 0 10px;}
    .legal_container{padding-bottom:40px}	
}


/*板块更新*/
.alone_banner.contact_us .alone_banner_bg{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/Contact_Us/contact_us_bannr.jpg)}
.legal_container{width: 1420px;margin: 0 auto;margin-top: 45px;padding-left: 130px;padding-right: 130px;box-sizing: border-box;}
.legal_left, .legal_right{float: left;}
#map{width: 786px;height: 534px;background: #f6f6f6;}
.legal_right{width: 32%;}
.alone_after:after{content: "";display: block;clear: both;visibility: hidden;height: 0;}
.legal_right{padding: 0px 0px 0 50px;box-sizing: border-box;}
.legal_tit{font-size: 24px;padding-bottom: 10px;font-weight: 400;color: #232323;line-height: 26px;padding-top: 25px;}
.legal_txt{font-size: 14px;color: #616265;line-height: 24px;font-weight: 400;}
.legal_txt_container{margin-top: 32px;}
.legal_a a{color: #0070BC;font-size: 14px;line-height: 22px;font-weight: 400;margin-right: 10px;}
.legal_a .icon{font-size: 12px;color: #0070BC;}
.legal_a a:hover span{text-decoration: underline;}
.con_tit01{padding-bottom: 5px;}
.legal_a{margin-top: 20px;}
.img_wap{overflow: hidden;}
.legal_left iframe{width:100%;height:100%}
@media (max-width: 1420px){
	.legal_container{width: 1200px;padding-left: 10px;padding-right: 10px;}
}
@media (max-width: 1200px){
	.legal_container{width: 960px;}
	#map{width: 60%;}
	.legal_right{width: 40%;}
}
@media (max-width: 960px){
	.legal_container{width: 100%;margin-top: 40px;}
	#map,.legal_right{width: 100%;}
	.img_left{width: 84px;float: left;}
	.img_right{width: 80%;float: left;}
	.img_left img{padding-top: 70px;}
	.legal_txt_container .img_left img{padding-top: 30px;}
	.legal_right{padding-left: 0;}
	.legal_container{padding-bottom:40px;}
}
@media (max-width: 480px){
	.img_right{width: 100%;padding-left: 60px;box-sizing: border-box;float: none;}
	.legal_txt_container{margin-top: 0;}
    .legal_container{padding: 0;padding-bottom: 30px;}
    .img_left{width: 60px;}
    .img_left img{width: 40px;}
}


.cu_find_con{overflow-x: inherit;}
.circle{position:absolute;display:block;top:174px;left:336px;width:12px;height:12px;border-radius:50%;cursor: pointer}
.circle .circle_a{display:block;position:absolute;top:0;left:0;width:10px;height:10px;border:1px solid #0070BC;border-radius:50%;animation:circle_a 3s infinite}
.circle .circle_b{display:block;position:absolute;top:0;left:0;width:10px;height:10px;border:1px solid #0070BC;border-radius:50%;animation:circle_a 3s 1.5s infinite}
.se_one p{font-size:14px;color:#232323;font-weight:400}
.se_one p{position:absolute;width:150px;top:30px;left:-56px}
.circle em{position:absolute;left:-84px;top:-175px;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:24px;font-size:14px;color:#616265;text-align:center;display:none;font-style:normal;border:2px solid #8cb8ff;padding:0;background: #FFFFFF;padding-bottom: 12px;width: 224px;z-index: 10}
.circle span:nth-of-type(3){display: block;position: absolute;top: 0;left: 0;width: 12px;height: 12px;border-radius: 50%;background: #0070BC;}
.se_one em{top:-30px;left:26px;}
.se_two{left: 649px;top: 140px;}
.se_three{left: 689px;top: 150px;}
.se_four{right: 459px;top: 180px;left: inherit;}
.se_five{right: 460px;top: 304px;left: inherit;}
.se_fix{right: 342px;top: 422px;left: inherit;}
.se_one p i{width:24px;height:20px;display:inline-block;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/secondary_classification/10G_SFP_Series_Fiber_Optic_country1.png) no-repeat;vertical-align:middle;margin-right:10px}
.se_two p i{width:24px;height:20px;display:inline-block;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/secondary_classification/10G_SFP_Series_Fiber_Optic_country1.png) no-repeat -105px 0;vertical-align:middle;margin-right:10px}
.se_three p i{width:26px;height:20px;display:inline-block;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/secondary_classification/10G_SFP_Series_Fiber_Optic_country1.png) no-repeat;vertical-align:middle;margin-right:10px;background-position:-34px 0}
.se_four p i{width:26px;height:20px;display:inline-block;vertical-align:middle;margin-right:10px;background-position:-34px 0;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/secondary_classification/10G_SFP_Series_Fiber_Optic_country1.png) no-repeat;background-position:-70px 0}
.se_five p i{width:24px;height:20px;display:inline-block;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/secondary_classification/10G_SFP_Series_Fiber_Optic_country1.png) no-repeat -141px 0;vertical-align:middle;margin-right:10px}
.se_fix p i{width:24px;height:20px;display:inline-block;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/secondary_classification/10G_SFP_Series_Fiber_Optic_country1.png) no-repeat -177px 0;vertical-align:middle;margin-right:10px}
.se_two p{position:absolute;width:150px;top:-40px;left:-36px}
.se_three p{position:absolute;width:140px;top:32px;left:-40px}
.se_four p{position:absolute;width:86px;top:28px;left:-28px}
.se_five p{position:absolute;width:100px;top:-32px;left:6px}
.se_fix p{position:absolute;width:100px;top:28px;left:-50px}
.se_one em:nth-of-type(2){left: 26px;  top:166px;}
.circle:hover em{display: block;}
.se_two em{left: -270px;top: -120px;}
.se_three em{left: -100px;top: 66px;z-index: 10;}
.se_four em{left: 60px;top: -180px;}
.se_five em{left: 100px;top: -120px;z-index: 2;}
.se_fix em{left: -250px;top: -80px;z-index: 2;}
.circle em strong{display: block;width: 100%;background: #FFFFFF;padding-top: 10px;}
.cir_txt{font-size: 12px;color: #616265;}
@keyframes circle_a {0% {-webkit-transform:scale(1);transform:scale(1);opacity:0;filter:alpha(opacity=0) \9;}
    10% {opacity:1;filter:alpha(opacity=100) \9;}
    100% {-webkit-transform:scale(3.75);transform:scale(3.5);opacity:0;filter:alpha(opacity=0) \9;}}
/*banner上的邮箱样式*/
.color_White a{/*文字颜色--白色*/
    color: #FFFFFF;
}
.color_White a:hover{
    text-decoration: underline;
}