.alone_banner.about_us .alone_banner_bg{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/about_us_banner.jpg);}
.alone_banner_tit.about_us{padding-top: 120px;}
.alone_txt.about_us{padding: 20px 0 37px;}
.who_weAre_box .who_weAre_li{width: 453px;margin-right: 30px;float: left;box-sizing: border-box;}
.who_weAre_box .who_weAre_li.last{margin-right: 0;}
.who_weAre_li .who_weAre_describe{width: 100%;padding: 20px 40px 30px;border-left: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;
    border-bottom: 2px solid #0070BC;box-sizing: border-box;min-height: 291px;}
.who_weAre_li .who_weAre_tit{color: #232323;font-size: 18px;line-height: 18px;margin-bottom: 23px;}
.who_weAre_li .who_weAre_txt{color: #616265;font-size: 14px;line-height: 22px;min-height:220px;}
.who_weDo_box{padding: 15px 0 50px;border-bottom: 2px solid #e5e5e5;}
.who_weDo_box .who_weDo_li{width: 33.33%;float: left;}
.who_weDo_li  .who_weDo_tit{color: #232323;font-size: 18px;line-height: 18px;padding: 20px 0 25px;}
.who_weDo_li  .who_weDo_txt{color: #616265;font-size: 14px;line-height: 22px;padding: 0 50px;}
.alone_tit.Global_Markets{padding-bottom: 40px;}
.Global_Markets_cont{position: relative;padding-bottom: 20px;border-bottom: 2px solid #e5e5e5;}
.Global_Markets_cont .mapimg{position: relative;}
.the_cir{position: absolute;display: block;top: 174px;left: 339px;width: 12px;height: 12px;border-radius: 50%;cursor: pointer;}
.the_cir_a00{display: block;position: absolute;top: -5px;left: -5px;width: 20px;height: 20px;border: 1px solid #0070BC;border-radius: 50%;
    background: #0070BC;opacity: .35;}
.the_cir span:nth-of-type(3) {display: block;position: absolute;top: 0;left: 0;width: 12px;height: 12px;border-radius: 50%;
    background: #0070BC;}
.the_cir:hover em{display:block}
.the_cir:nth-of-type(1){left:412px;top:280px}
.the_cir:nth-of-type(2){left: 408px;top: 155px;}
.the_cir:nth-of-type(3){left:800px;top:85px}
.the_cir:nth-of-type(4){left:1030px;top:210px}
.the_cir:nth-of-type(5){left:920px;top:155px}
.the_cir:nth-of-type(6){left:920px;top:310px}
.the_cir p {position: absolute;left: -16px;top: 24px;color: #0070BC;font-size: 14px;white-space: nowrap;}
.the_cir dl {position: absolute;}
.the_cir.view_one dl{left: 35px;top:0px;}
.the_cir.view_two dl{left: 100px;top:3px;}
.the_cir.view_three dl{left: 60px;top:0px;}
.the_cir.view_four dl{left: 60px;top:-21px;}
.the_cir.view_fix dl{left: 60px;top:-21px;}
.the_cir dl dt {font-size: 14px;color: #0070BC;}
.the_cir dl dd {background: #0070BC;width: 18px;margin: 0 auto;}
.view_one dl dd {height: 18px;}
.the_cir .the_cir_a {display: block;position: absolute;top: 0;left: 0;width: 10px;height: 10px;border: 1px solid #0070BC;
    border-radius: 50%;animation: circle_a 3s infinite;}
.the_cir .the_cir_b {display: block;position: absolute;top: 0;left: 0;width: 10px;height: 10px;border: 1px solid #0070BC;
    border-radius: 50%;animation: circle_a 3s 1.5s infinite;}
.view_two em {left: 66px;top: -18px;}
.view_two dl dd {height: 16px;}
.view_three dl dd {height: 20px;}
.view_four dl dd {height: 40px;}
.view_fix dl dd {height: 30px;}
.the_cir:nth-of-type(5){left: 920px;top: 350px;}
.the_cir em {position: absolute;left: 125px;top: -16px;border-radius: 4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 10px;line-height: 24px;font-size: 14px;color: #616265;text-align: center;display: none;
font-style: normal;border-radius:5px;border: 2px solid #8cb8ff;}
.the_cir.view_two em{top:10px;left: 40px;}
.view_two em:nth-of-type(2){left: 208px;}
.the_cir em img {border-bottom: none;}
.the_cir em strong {font-size: 13px;color: #0070BC;font-weight: 400;display: block;background: #FFF;
    border-top: none;}
.view_three p {left: -7px;}
.view_four em {left: -224px;top: -19px;}
.view_five em,.view_six em{left: -220px;top: -100px;}
.view_five.the_cir em img,.view_six.the_cir em img{width:166px;}
.Global_Markets_cont .Global_Markets_tit{color: #232323;font-size: 18px;line-height: 18px;padding: 40px 0 30px;}
.Global_Markets_cont .Global_Markets_txt{color: #616265;font-size: 14px;line-height: 22px;padding: 0 175px 20px;}
.why_us_back_img{float: right;width:940px;}
.why_us_box{padding-top:60px;border-bottom: 2px solid #e5e5e5;}
.our_service_tablist{width: 480px;float: left;}
.our_service_tablist .our_service_tabtit{color: #232323;font-size: 18px;line-height: 18px;margin-bottom: 20px;padding-left: 40px;}
.our_service_tablist .our_service_tabliBe{float: left;width: 240px;padding-left: 40px;box-sizing: border-box;}
.our_service_tablist .our_service_tabNum{color: #0070BC;font-size: 20px;line-height: 20px;margin-bottom: 15px;}
.our_service_tablist .our_service_tabDecribe{color: #616265;font-size: 14px;line-height: 14px;margin-bottom: 30px;}
.Trusted_Partners_list{padding: 30px 0 50px;border-bottom:2px solid #e5e5e5;}
.Trusted_Partners_list .Trusted_Partners{width: 20%;float: left;height: 80px;}
.Trusted_Partners.GoogleIc{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/new_partners_icon.png) no-repeat center 16px;}
.Trusted_Partners.MicrosoftIc{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/new_partners_icon.png) no-repeat center -82px;}
.Trusted_Partners.IBMic{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/new_partners_icon.png) no-repeat center -177px;}
.Trusted_Partners.DELLic{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/new_partners_icon.png) no-repeat center -268px;}
.Trusted_Partners.intelIc{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/new_partners_icon.png) no-repeat center -367px;}
.Trusted_Partners.SONYic{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/new_partners_icon.png) no-repeat center -460px;}
.Trusted_Partners.esetIc{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/new_partners_icon.png) no-repeat center -558px;}
.Trusted_Partners.CLOUDFLAREic{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/new_partners_icon.png) no-repeat center -662px;}
.Trusted_Partners.gttIc{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/partners_icon.png) no-repeat center -760px;}
.Trusted_Partners.MRVic{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/new_partners_icon.png) no-repeat center -852px;}
.about_none_01{display:none;}
.alone_txt.Case_Studies{line-height: 14px;margin-top: 21px;}
.Learn_More_Case_txt{font-size: 14px;line-height: 14px;margin-top: 20px;text-align: center;}
.Learn_More_Case_txt span{font-size: 12px;margin-left: 5px;}
.Case_Studies_list{margin-top: 40px;}
.Case_Studies_list .Case_Studies_li{width: 49%;}
.Case_Studies_li .Case_Studies_cont{padding: 30px 40px;border-bottom:2px solid #0070BC;border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;}
.Case_Studies_li .fsPartner_data_center{color: #232323;font-size: 16px;line-height: 24px;text-align: left;min-height: 48px;}
.Case_Studies_li .Learn_More_Case_txt{text-align: left;}
.Learn_More_Case_txt a:hover{color: #0070BC;}
.alone_txt.exceTeam{margin-top: 21px;}
.alone_txt.exceTeam.lastz{margin-bottom: 50px;}
.gt_btn_alink{
    display: block;
    width: 170px;
    height: 42px;
    box-sizing: border-box;
    /*border:1px solid #4c4948;*/
    border:1px solid #0070BC;
    color: #0070BC;
    font-size: 14px;
    border-radius: 2px;
    line-height: 42px;
    margin:39px auto 40px;
    text-align:center;
    transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
}
.gt_btn_alink:hover{
    background: #0070BC;
    color: #ffffff;
}
@keyframes circle_a{0%{-webkit-transform:scale(1);transform:scale(1);opacity:0;filter:alpha(opacity=0)\9}
    10%{opacity:1;filter:alpha(opacity=100)\9}
    100%{-webkit-transform:scale(3.75);transform:scale(3.5);opacity:0;filter:alpha(opacity=0)\9}
}

/*my team页面*/
.alone_banner.myteam .alone_banner_bg{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/my_team/my_team_banner.jpg);}
.alone_banner_tit.myteam{padding-top: 140px;}
.alone_txt.myteam4{padding: 20px 0 37px;}
.my_teammate_listBox{border-bottom:2px solid #e5e5e5;}
.my_teammate_list{width: 1200px;margin: 50px auto 0;}
.my_teammate_list .my_teammate_li{width: 270px;float: left;margin-right: 40px;margin-bottom:8px;display: inline-block;}
.my_teammate_list .my_teammate_li:nth-child(4n){margin-right: 0;}
.my_teammate_list .my_teammate_li img{background: #f7f7f7;}
.my_teammate_list .my_teammate_describe{padding: 20px 0;min-height: 100px;box-sizing: border-box;}
.my_teammate_list .my_teammate_name{font-size: 18px;line-height: 18px;font-weight: 600;margin-bottom: 6px;display: block;}
.my_teammate_list .my_teammate_name:hover{color: #0070BC;}
.my_teammate_list .my_teammate_job{font-size: 14px;color: #616265;line-height: 18px;}
.alone_tit.Our_Culture{margin-bottom: 21px;}
.team_Our_Culture_box{width: 1200px;margin: 0 auto;}
.team_Our_Culture_box .team_Our_Culture_txt{margin-bottom: 30px;}
.team_Our_Culture_box .team_Our_Culture_txt p{font-size: 14px;color: #616265;margin-bottom: 10px;}
.team_Our_Culture_box .my_teammate_dojod{width: 100%;margin-bottom: 20px;}

/*alert*/
.my_teammate_closehead {padding: 15px 30px;}
.my_teammate_details{position: fixed;top: 50%;left: 50%;width: 560px;margin-left: -280px;margin-top: -300px;
    background: #FFFFFF;z-index: 100;box-sizing: border-box;box-shadow: 0px 1px 13px #999;display: none;}
.my_teammate_closeic{font-size: 18px;float: right;cursor: pointer;color: #a1a1a1;}
.my_teammate_alertCont{padding: 0 30px 46px;}
.my_teammate_alertCont .my_teammate_alertimg{background: #f7f7f7;position: relative;margin-bottom: 24px;}
.my_teammate_alertCont .my_teammate_alerDe{position: absolute;top: 125px;left: 50px;}
.my_teammate_alertName{font-size: 20px;color: #232323;font-weight: 600;margin-bottom: 10px;line-height: 20px;}
.my_teammate_alertJob{font-size: 14px;color: #616265;}
.my_teammate_alertJob1{font-size: 14px;color: #616265;line-height: 22px;margin-bottom: 20px;}
.my_teammate_alertJob2{font-size: 14px;color: #999;font-style:italic;line-height: 22px;}
.my_teammate_alertJob2 span{font-style: normal;}
@media (max-width: 1440px){
    .who_weAre_box .who_weAre_li{width: 32%;margin-right: 2%;}
    .who_weAre_li .who_weAre_describe{padding: 20px;}
    .who_weAre_img img{width: 100%;overflow: hidden;}
    .our_service_tablist,.why_us_back_img{width: 50%;}
}
@media (max-width: 1220px){
    .who_weAre_li .who_weAre_describe{min-height: 350px;}
    .Global_Markets_cont .Global_Markets_txt{padding: 0 50px 20px;}
    .Global_Markets_cont .mapimg{width: 100%;overflow: auto;}
    .Global_Markets_cont .mapimg>img{width: 1220px;}
    .the_cir:nth-of-type(2){left:340px;}
    .the_cir:nth-of-type(4){left:890px;}
    /*my team*/
    .my_teammate_list{width: 580px;}
    .team_Our_Culture_box{width:960px;}
    .my_teammate_list .my_teammate_li:nth-child(2n){margin-right: 0;}
}
@media (max-width: 960px){
    .who_weAre_li .who_weAre_describe{padding: 10px;min-height: 410px;}
    .why_us_back_img,.our_service_tablist{width: 100%;float: none;}
    .our_service_tablist dl{width: 55%;margin: auto;}
    .our_service_tablist .our_service_tabtit{text-align: center;padding-left: 0;}
    .our_service_tablist .our_service_tabliBe{text-align: center;padding-left: 0;width: 50%;}
    .our_service_tablist .our_service_tabNum{text-align: center;}
    /*my team*/
    .team_Our_Culture_box{width:100%;padding: 0 15px;box-sizing: border-box;}
}
@media (max-width: 480px){
    .alone_banner_tit.about_us{padding-top: 70px;}
    .alone_txt.about_us{padding: 20px 0;}
    .who_weAre_box .who_weAre_li{width: 100%;margin: 0;}
    .who_weAre_li .who_weAre_describe{padding: 20px;min-height: auto;margin-bottom: 20px;}
    .who_weDo_box .who_weDo_li{width: 100%;float: none;margin-bottom: 20px;}
    .who_weDo_li .who_weDo_tit{padding: 20px 0 10px;}
    .Global_Markets_cont .Global_Markets_tit{padding: 20px 0;}
    .Global_Markets_cont .Global_Markets_txt{padding: 10px 20px;}
    .our_service_tablist dl{width: 100%;}
    .our_service_tablist .our_service_tabtit{padding-left: 10px;}
    .Case_Studies_li .Case_Studies_cont{padding: 20px;}
    .Case_Studies_li .fsPartner_data_center{line-height: 24px;min-height: inherit;}
    .Case_Studies_list .Case_Studies_li{width: 100%;margin-bottom: 20px;}
    .why_us_box{background-size: cover;}
    .our_service_tablist .our_service_tabliBe{width: 50%;padding-left: 10px;}
    .Trusted_Partners_list .Trusted_Partners{width: 50%;}
    /*my team*/
    .alone_banner_tit.myteam{padding-top: 50px;}
    .my_teammate_list .my_teammate_li{margin-right: 0;}
    .my_teammate_list{width: 270px;}
    /*alert*/
    .my_teammate_details{width: 100%;top:0;left:0;margin-left: 0;margin-top: 0;height: 100%;overflow: auto;}
    .my_teammate_closehead{padding: 15px 10px;}
    .my_teammate_alertCont{padding: 0 10px 46px;}
    .my_teammate_alertCont .my_teammate_alertimg{margin-bottom: 85px;}
    .my_teammate_alertimg img.alone_float_right{float: none;width:270px;margin: auto;display: block;}
    .my_teammate_alertCont .my_teammate_alerDe{left: 10px;top: 270px;}
    .my_teammate_alertJob{font-size: 16px;}
    .my_teammate_alertJob1{margin-bottom: 10px;}
	.who_weAre_li .who_weAre_txt{min-height:auto}
}



.alone_a01{color:#0070BC}
.alone_a01:hover{color:#0070BC;text-decoration:underline}
.alone_after_01{padding: 0 110px;margin-top: 40px;margin-bottom: 40px;}
.cu_need_list{float: left;width: 285px;margin-right: 20px;height: 260px; border: 1px solid #e5e5e5;box-sizing: border-box;padding-top: 30px;transition: all .3s;text-align: center;}
.cu_need_list:last-child{margin-right: 0;}
.alone_after_01:after{content: "";display: block;clear: both;visibility: hidden;height: 0;}
.cu_bg0{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/Contact_Us/contact-server-icon.png);width: 48px;height: 48px;display: inline-block;margin-bottom: 10px;}
.cu_need_list_font{width: 100%;height: 174px;box-sizing: border-box;margin: 0 auto;padding: 15px 20px;text-align: center;transform: translateY(0);border: none;background: none;}
.cu_need_list_font h2{font-size: 18px;color: #232323;font-weight: 400;margin-bottom: 10px;}
.cu_need_list_font p{font-size: 14px;color: #616265;font-weight: 400;line-height: 22px;margin-bottom: 10px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;min-height: 58px;}
.cu_need_list_font a{font-size: 14px;color: #0070BC;}
.cu_bg0_2{background-position: 0 -81px;}
.cu_bg0_3{background-position: 0 -161px;}
.cu_bg0_4{background-position: 0px -241px;}
.cu_need_list:hover{border-bottom: 2px solid #0070BC;}
.cu_need_list_font a:hover{text-decoration: underline;}


.new_alone_none_960,.new_alone_none_960_img{display: none;}


.the_cir.view_ruMap{top: 70px;left: 570px;}
.the_cir.view_ruMap em{left: -50px;top: 34px;}
@media (max-width: 1440px){
	.the_cir.view_ruMap em{left: -250px;top: -110px;}
}
@media (max-width: 1220px){
	.the_cir.view_ruMap em{top: 32px;left: -120px;}
}

@media (max-width: 1440px){
	.cu_need_list {width: 23%;}
}
@media(max-width: 1220px){
    .alone_after_01{padding:0 10px;}
}
@media (max-width: 960px){
	.cu_need_list{width: 46%;margin-bottom: 20px;}
	.cu_need_list:nth-of-type(2n){margin-right: 0;}
	
	
	.new_alone_block_960{display:none !important;}
	.new_alone_none_960_img{display:inline-block}
	.Global_Markets_cont .mapimg{overflow: inherit;}
	.Global_Markets_cont .mapimg>img{display: block;margin: 0 auto;max-width: 100%;height: inherit;}
	.the_cir{display: none;}
	.new_alone_none_960{overflow-x: auto;margin-top: 20px;display: block;}
	.new_alone_none_960_img{width: 920px;}
	.new_alone_none_960_img img{border: 2px solid #dfdfdf;border-radius: 3px;margin-right: 10px;}
	.new_alone_none_960::-webkit-scrollbar {display:none}
}
@media (max-width: 480px){
	.alone_after_01{padding:0;}
	.cu_need_list, .cu_mail_list{width:100%}
	.cu_need_list:last-child{margin: 0 auto;}
}

/*6.13新增 Barry*/
.Learn_More_Case_txt .color_Blue:hover{text-decoration:underline;}
.Learn_More_Case_txt{margin-top:16px;}
.Learn_More_Case_txt .iconfont{color:#0070BC;}
.Case_Studies_list .Case_Studies_li{width:32%;float:left;margin-right:20px;}
.Case_Studies_list .Case_Studies_li:last-child{margin-right:0;}
.Case_Studies_li .Case_Studies_cont{padding:26px 30px;}
.Case_Studies_cont .Learn_More_Case_txt{margin-top:20px;}
.Case_Studies_li_img{position:relative;cursor:pointer;}
.Case_Studies_li_bg_01{position:absolute;left:0;top:0;height:100%;width:100%;z-index:-1;background:#000000;opacity:0;transition:all .3s;}
.Case_Studies_li_bg_02{position:absolute;left:0;top:0;height:100%;width:100%;z-index:-1;opacity:0;padding:60px 60px 0 60px;box-sizing:border-box;transition:all .3s;}
.Case_bg_tit{font-size:14px;color:#FFFFFF;line-height:22px;font-weight:400;padding-bottom:24px;}
.Case_bg_txt{font-size:14px;color:#FFFFFF;line-height:22px;font-weight:400;text-align:right;}
.Case_Studies_li_img:hover .Case_Studies_li_bg_01{opacity:.5;z-index:1;}
.Case_Studies_li_img:hover .Case_Studies_li_bg_02{opacity:1;z-index:2;}
@media (max-width: 1220px){
    .Case_Studies_list .Case_Studies_li{width:31%;}
    .Case_Studies_li_bg_02{padding:20px 20px 0 20px;}
}
@media (max-width: 960px){
    .Case_Studies_list .Case_Studies_li{width:48%;margin-bottom:20px;}
    .Case_Studies_list .Case_Studies_li:nth-child(2){margin-right:0;}
    .Case_Studies_list .Case_Studies_li:last-child{margin-bottom:0;}
}
@media (max-width: 600px){
    .Case_Studies_list .Case_Studies_li{width:100%;margin-right:0;}
    .Case_Studies_li_img img{width:100%;}
}
@media (max-width: 480px){
    .Case_Studies_cont .Learn_More_Case_txt{margin-top:15px;}
    .Case_Studies_li .Case_Studies_cont{padding:15px;}
    .Case_Studies_list{padding:0 15px;}
}