@charset "utf-8";
/* CSS Document */

.content {padding-top:0;}
.about_us_banner{height: 320px; width: 100%; background: #fff none repeat scroll 0% 0%; overflow: hidden;}
.about_us_banner_bg { width:100%; height:320px; position: absolute; left:0;}
.about_us_nav { height:80px; width:100%; background:#f9f9f9; overflow:hidden;}
.about_us_nav_bg {height:80px; background:#f9f9f9;width:100%; position: absolute; left:0;}
.about_us_nav_button {position: relative; left:50%;margin-left: -475px;display: inline-block;}
.about_us_nav_button a:hover, .about_us_nav_button .selected { background:#d2d2d2;}
.about_us_nav_button a {display: block; float:left; width:110px; height:46px; color:#232323; font-size:16px; text-decoration:none; line-height:46px; margin-right: 20px; margin-top:15px; text-align: center; border-radius:3px; transition: 0.3s;}
.company_info {padding:0 12%;overflow: hidden;}
.company_info_con {margin-top:40px;}
.company_info_con h1,.product_line h1,.company_odds h1,.promote_video h1 {font-size:22px; color:333; font-weight:normal; margin-bottom:30px;}
.company_info_con p{ font-size:14px; line-height:30px; margin-bottom:60px;}
.company_info_con strong {font-size:18px; font-weight:normal; color:#232323;}
.company_info_con ul {margin:0; padding:0;overflow:hidden; width:100%;}
.company_info_con ul li { float:left; list-style:none; width:20%; margin-right:2%; border:1px solid #dedede; padding:1.6%; margin-top:20px; margin-bottom:20px;min-height:280px;}
.company_info_con ul li:last-child { margin-right:0;}
.company_core span { width:73px; height:73px; display:block; margin:30px auto;}
.company_core span.icon01{ background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -3px;}
.company_core span.icon02{ background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -131px;}
.company_core span.icon03{ background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -273px;}
.company_core span.icon04{ background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -408px;}
.company_core b { font-size:16px; color:#232323;text-align: center;display: block;margin-bottom: 10px;}
.company_core p{ line-height:24px; color:#616265; margin:0;}
.company_video { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/company_mp4_bg.jpg) no-repeat;}
.development_video { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/development_mp4_bg.jpg) no-repeat; margin-top:40px; padding-top:0;}
.company_video a {display:block; text-align:center;}
.company_video .video_txt span { width:66px; height:66px; display:block; margin:0 auto 30px auto;}
.company_video .video_txt span.play_icon { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0 -1083px;}
.development_video .video_txt span.play_icon { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0 -1192px;}
.company_video .video_txt {color: #232323;font-size: 26px;font-weight:400;letter-spacing:2px; text-align:center; width:100%; padding:12% 0;text-decoration: none;}
.development_video p {padding-bottom:14%;display: block;}
.development_video .video_txt span {display: none !important;}
.development_video .video_txt { color:#fff; line-height:30px; padding-bottom:0;}
.company_video .video_txt b { display: block; font-size:28px; font-weight:normal; margin-bottom:20px;}
.company_video .video_txt p { font-size:18px; margin-bottom:0; display:block;}
.company_line { width:100%; height:1px; background:#dedede; margin:40px 0;}
.product_line p {font-size:14px; line-height:30px;margin-bottom:20px;}
.product_line_bg { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/product_line_bg.jpg) no-repeat;}
.product_line_con { padding:3% 12%; overflow:hidden;}
.product_line_con dl { float:left; width:40%; margin-right:20%; margin-bottom:1%;}
.product_line_con dl:nth-child(even){ margin-right:0;}
.product_line_con dl dt { border-bottom:1px solid #232323;}
.product_line_con dl dt a { font-size:18px; color:#232323; text-decoration:none; line-height:40px;}
.product_line_con dl dt a:hover { color:#616265;}
.product_line_con dl dd span { color:#232323; display:inline-block; border-right:1px solid #232323; padding:0 5%; margin-top:5px;}
.product_line_con dl dd span:last-child { border-right:none;}
.product_line_con dl dd span:first-child { padding-left:0;}
.company_odds ul { width:100%;}
.company_odds ul li { float:left; list-style:none; border:1px solid #dedede; width:23.8%; margin-right:2%; margin-bottom:2%; padding:3% 4%; min-height:210px;}
.company_odds ul li:nth-child(3n+0) {margin-right:0;}
.company_odds ul li span {font-size:16px; color:#232323; display:inline-block; line-height:32px; margin-bottom:30px;}
.company_odds ul li span i { width:32px; height:32px; display:inline-block; vertical-align:middle; margin-right:20px;}
.company_odds ul li span i.icon01 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -599px;}
.company_odds ul li span i.icon02 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -682px;}
.company_odds ul li span i.icon03 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -766px;}
.company_odds ul li span i.icon04 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -847px;}
.company_odds ul li span i.icon05 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -922px;}
.company_odds ul li span i.icon06 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -992px;}
.company_odds ul li p { color:#232323; line-height:24px;}
.company_odds { overflow:hidden; margin-bottom:30px;}
.m_display { display:none;}
.development_path { width:1080px; overflow:hidden; margin-bottom:40px;margin: 0 auto;margin-top: 40px;}
.development_path_left { float:left; width:50%; border-right:1px solid #5fa3d8;}
.development_path_right { float:right; width:49.9%}
.development_path_left dl dt { text-align:right; font-size:18px; color:#0070BC; padding-bottom:30px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 531px -1343px; margin-right: -10px; padding-right:40px;}
.development_path_left dl dd { padding-right:30px;}
.development_path_left dl dd p,.development_path_right dl dd p { font-size:14px; color:#232323; margin-bottom:30px; line-height:24px;}
.development_path_right .development_path_img {padding-left:30px; margin-bottom:40px;}
.development_path_left .development_path_img { padding-right:30px; text-align:right; margin-bottom:40px;}
.development_path_right dl dt {font-size:18px; color:#0070BC; padding-bottom:30px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -1343px; margin-left:-10px; padding-left:40px;}
.development_path_right dl dd {padding-left:30px;}
.culture_info {height:464px; width:100%; background:#fff; overflow:hidden;}
.culture_info_bg {height:464px; background:url(https://img-en.fs.com/includes/templates/fiberstore/images/culture_bg.png) no-repeat center 0; width:100%; position:absolute; left:0;}
.culture_info_con { position: relative; z-index:1; padding:50px 0;}
.culture_info_tite { text-align:center; font-size:28px; color:#232323; margin-bottom:35px;}
.culture_info_txt { background:#fff; opacity:0.8; padding:4% 8%; font-size:16px; line-height:42px; color:#000;}
.promote_video {margin-top: 30px;overflow: hidden;margin-bottom: 40px;    margin-left: 89px;}
.promote_video ul li { list-style:none; float:left; margin-right:2%;width: 409px;}
.promote_video ul li:last-child { margin-right:0;}
.video_img{ position:relative;}
.video_img img { width:100%;}
.video_img a { display:block;}
.video_img a span { width:47px; height:47px; display:block; position:absolute;bottom: 40%;left: 45%;}
.black_shadow { position:absolute; width:100%; height:100%; background:#000;opacity: 0;top: 0;left: 0;}
.video_img a:hover .black_shadow { opacity:0.6;}
.video_img a:hover span { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat 0px -1420px;}
.promote_video ul li h3 { font-size:18px; color:#232323; line-height:30px; padding:20px 0 5px 0; font-weight:normal;}
.promote_video ul li h3 a { color:#232323; text-decoration:none;}
.promote_video ul li h3 a:hover { color:#c00000;}
.promote_video ul li p{ font-size:14px; line-height:24px;}
.coustomer_center { margin-top:40px; overflow:hidden;}
.coustomer_center li { list-style:none; float:left; width:40%; margin-right:20%; margin-bottom:40px;}
.coustomer_center li:nth-child(even) { margin-right:0;}
.coustomer_center span { display:block; width:72px; height:66px; margin:0 auto 30px auto;}
.coustomer_center span.icon01 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat right 0px;}
.coustomer_center span.icon02 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat right -137px;}
.coustomer_center span.icon03 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat right -277px;}
.coustomer_center span.icon04 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat right -420px;}
.coustomer_center li h3 { font-size:24px; color:#232323; font-weight:normal; text-align:center; margin-bottom:20px; line-height:30px;}
.coustomer_center li p { font-size:12px; line-height:24px; min-height:100px;}
.coustomer_center li a { color:#c00000; text-decoration:none;}
.coustomer_center li a:hover { text-decoration:underline;}
.news_title { margin-top:40px; overflow:hidden; margin-bottom:40px;}
.news_title_pic { width:1210px; height:429px;position: relative; float: left;display: block;}
.news_title_pic span {width: 100%;position: absolute;z-index: 1;bottom: 0;left: 0;line-height: 38px;font-size: 14px;color: #fff;background-color: rgba(0, 0, 0, 0.65); text-align:center;}
.news_title_pic span a { color:#fff; text-decoration:none;}
.news_title_pic span a:hover { text-decoration:underline;}
.solution_nav { float:right;  border:1px solid #dedede; width:180px; height:429px;}
.solution_nav b { display:block; font-size:15px; line-height:20px; padding:10px; text-align:center; background:#d2d2d2; color:#232323;}
.solution_nav b a { color:#232323; text-decoration:none;}
.solution_nav_01 dt a {display: block;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat scroll -160px -572px transparent;line-height: 16px; padding: 10px 8px 10px 60px;font-size: 15px; color:#232323;}
.solution_nav_01 dd a {display: block;line-height: 14px;padding: 15px 0;padding-left: 60px;color: #555;font-size: 15px; text-decoration:none; background:url(https://img-en.fs.com/includes/templates/fiberstore/images/about_us_icon.png) no-repeat -50px -619px;}
.solution_nav_01 a:hover {color:#c00000;}
.news_con { overflow:hidden;}
.news_con ul li { list-style:none; float:left;  border:1px solid #dedede; margin-right:2%;width:382px;height:450px;margin-top:2%;}
.news_con ul li img { width:100%;height: 190px;}
.news_con ul li:nth-child(3n+0) { margin-right:0;}
.news_con ul li h3 { padding:0 20px; font-size:18px; line-height:30px; margin-bottom:10px; color:#232323; font-weight:normal;}
.news_con ul li a { text-decoration:none;}
.news_con ul li a:hover h3{color:#c00000; text-decoration:underline;}
.news_con ul li p {padding:0 20px; font-size:12px; line-height:24px;}
.news_con ul li ul {display: block;overflow: hidden;margin: 0; padding:20px 20px 0 20px;}
.news_con ul li ul li { border:none;}
.news_con ul li ul li.date { font-size:14px; color:#999; }
.news_con ul li ul li i {width: 18px;height: 17px;display: inline-block;vertical-align: middle;margin-right: 5px;}
.news_see {background: url(https://img-en.fs.com/includes/templates/fiberstore/images/news/images_small/look.jpg) no-repeat 0px;padding-left: 18px;margin: 25px;}
.love_change {background: url(https://img-en.fs.com/includes/templates/fiberstore/images/news/images_small/dislike.jpg) no-repeat 0;padding-left: 18px;}
.love_change.avtive {background: url(https://img-en.fs.com/includes/templates/fiberstore/images/news/images_small/love.jpg) no-repeat 0;}
.icon01_love {background-position: 0 0;}
.about_us_join_banner_bg{ width:100%; height:320px; position: absolute; left:0;z-index: 0;}
.about_us_join_banner_bg a{display: block;width: 100%;height: 100%;}
.social_recruitment{padding: 75px 0 125px 94px;display: inline-block;width: 471px;}
.social_recruitment_content{border-right: 1px solid #e5e5e5;padding-right: 135px;}
.recruitment_tit{font-size: 22px;color: #000;font-weight: 400;margin-bottom: 32px;}
.recruitment_txt{font-size: 14px;color: #616265;margin-bottom: 42px;line-height: 24px;}
.recruitment_href{font-size: 14px;color:#d92f2f;text-decoration: none;}
.campus_recruitment{padding: 75px 0 125px 118px;display: inline-block;width: 324px;}
.about_us_contact_banner_bg{ width:100%; height:320px; position: absolute; left:0;z-index: 0;}
.contact_us_left{float: left;padding:0 0 65px 10px;width: 364px;}
.contact_us_tit{font-size: 18px;color: #232323;border-bottom: 1px solid #f4f4f4;padding-bottom: 15px;margin-bottom: 32px;}
.contact_us_ul{margin-bottom: 40px;}
.contact_us_ul li{list-style: none;margin-bottom: 8px;}
.contact_us_place{font-size: 18px;color:#232323}
.contact_us_place_other{font-size: 12px;color: #232323;}
.contact_us_center{width: 364px;padding-left: 60px;float: left;}
.contact_us_hotline{list-style: none;border-bottom: 1px solid #f4f4f4;width: 100%;cursor: pointer;}
.contact_us_hotline span{display: block;height: 88px;width: 100%;line-height: 88px;font-size: 18px;color: #232323;}
.contact_us_hotline span img{margin-right: 25px;}
.contact_us_hotline span i.arrow_bottom{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/cn_search.png) no-repeat 2px -728px;width: 14px;height: 14px;display: inline-block;vertical-align: middle;float: right;margin-top: 40px;}
.contact_us_hotline span i.arrow_top{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/cn_search.png) no-repeat 2px -748px;width: 14px;height: 14px;display: inline-block;vertical-align: middle;float: right;margin-top: 40px;}
.contact_us_hotline_more{display: none;}
.contact_us_hotline_more td{padding-bottom: 15px;}
.contact_us_right{float: left;width: 213px;padding-left: 60px;}
.contact_us_right dl{margin-bottom: 42px;}
.contact_us_dt{font-size: 18px;color: #232323;margin-bottom: 15px;}
.contact_us_dd{font-size: 12px;color: #232323;}
.contact_us_dd a{text-decoration: none;color: #232323;}
.contact_us_dd a:hover{text-decoration: underline;color: #d92f2f;}
@media (max-width:1220px){
	.box, .content,.culture_info_con{ width:960px;}
	.box {overflow: hidden;}
	.width_small img { width:100%;}
	.development_path_right .development_pa    th_img img,.development_path_left .development_path_img img { width:100%; height:100%;}
	.development_path_right { width:49%;}
	.development_path_left dl dt,.development_path_right dl dt { background:none;}
	}
@media (max-width:960px) {
	.box, .content { width:100%; padding:0;}
	.about_us_banner_bg{position: relative;top: 0;}
	.about_us_nav,.culture_info {position:inherit; height:auto; padding-bottom:10px;}
	.about_us_nav_bg,.culture_info_bg {position:inherit; display:none;}
	.about_us_nav_button,.culture_info_con {margin: 0;width: 100%;left:0;}
	.m_none {display: none;}
	.m_display {display: block;}
	.width_small img,.company_video img {width: initial; max-width: 100%;height: inherit;}
	.company_info_con h1,.product_line h1,.company_odds h1 { line-height:30px;}
	.company_info_con ul li{ width:45%;}
	.company_odds ul li { width:40.5%;}
	.company_info_con ul li:nth-child(even),.company_odds ul li:nth-child(even){ margin-right:0 !important;}
	.company_odds ul li {margin-right:2% !important;}
	.product_line_con {padding:3% 10%;}
	.product_line_bg { background-repeat:repeat-y;}
	.product_line_con dl { width:45%; margin-right:10%;}
	.product_line_con dl dt { line-height:24px; padding-bottom:5px;}
	.promote_video { padding:0 10px; width:initial;}
	}
@media (max-width: 480px){
	.box{ width:100%; padding:0;}
	.about_us_nav_button { padding:0 20px; width: initial;}
	.about_us_nav_button a{ width:100%;}
	.company_info_con ul li,.company_odds ul li { width:initial; margin-right:0 !important; padding:10px 20px;}
	.product_line_con dl { width:100%; margin-bottom:10px;}
	.promote_video ul li { width:100%; margin-left:0; margin-bottom:20px;}
}