 * {
  margin: 0; 
  padding: 0; 
} 
.box {
  width: 100% !important;
}
.clear {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.hidden {
  display: none;
}
.af_active {
  display: block !important;
  opacity: 1 !important;
}
.respond_2 {
  display: none;
}
.about_fs_box * {
  box-sizing: border-box;
  font-family: "微软雅黑";
}
.af_banner_01 {
  height: 460px;
  background: url(../images/about_fs_0721/img/1_10G_02.jpg) no-repeat center;
}
.af_banner_01 h1 {
  font-size: 36px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}
.af_banner_01 p {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
.af_banner_02 {
  padding: 25px;
  width: 1100px;
  margin: 0 auto;
}
.af_banner_02 .af_b2_img {
  width: 45%;
  float: left;
  text-align: center;
}
.af_banner_02 .af_b2_img img {
  max-width: 100%;
  height: auto;
}
.af_banner_02:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.af_b2_list {
  float: left;
  width: 55%;
  padding-top: 80px;
}
.af_b2_list ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
.af_b2_list ul li {
  list-style-type: none;
  width: 100%;
  font-size: 16px;
  color: #616265;
  line-height: 36px;
}
.af_b2_list h3 {
  color: #616265;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  line-height: 48px;
}
.list_cyc {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #0070BC;
  margin-right: 10px;
}
.af_banner_03 {
  background: #f9f9f9;
  padding-bottom: 50px;
  padding-top: 70px;
}
.af_banner_03 h1 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 30px;
  color: #232323;
  font-weight: 500;
}
.af_banner_03 .af_banner_03_row {
  width: 80%;
  margin: 0 auto;
}
.af_banner_03 .af_banner_03_row:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.af_banner_03_row .af_03_item {
  width: 25%;
  float: left;
  padding: 8px;
}
.af_03_item_1a {
  height: 110px;
  background: url(../images/about_fs_0721/img/2_09.png) no-repeat center;
  opacity: 1;
  transition: all 0.5s;
}
.af_03_item:hover .af_03_item_1a {
  background: url(../images/about_fs_0721/img/2_09.png) no-repeat center;
  opacity: 1;
}
.af_03_item_1b {
  height: 110px;
  background: url(../images/about_fs_0721/img/2_11.png) no-repeat center;
  opacity: 1;
  transition: all 0.5s;
}
.af_03_item:hover .af_03_item_1b {
  background: url(../images/about_fs_0721/img/2_11.png) no-repeat center;
  opacity: 1;
}
.af_03_item_1c {
  height: 110px;
  background: url(../images/about_fs_0721/img/2_13.png) no-repeat center;
  opacity: 1;
  transition: all 0.5s;
}
.af_03_item:hover .af_03_item_1c {
  background: url(../images/about_fs_0721/img/2_13.png) no-repeat center;
  opacity: 1;
}
.af_03_item_1d {
  height: 110px;
  background: url(../images/about_fs_0721/img/2_15.png) no-repeat center;
  opacity: 1;
  transition: all 0.5s;
}
.af_03_item:hover .af_03_item_1d {
  background: url(../images/about_fs_0721/img/2_15.png) no-repeat center;
  opacity: 1;
}
.af_03_item_2 p {
  padding: 5px;
  margin: 0 auto;
  width: 80%;
  font-size: 14px;
  color: #999999;
  line-height: 25px;
}
.af_03_item_2 h3 {
  text-align: center;
  margin: 30px auto;
  font-size: 18px;
  font-weight: 500;
  color: #616265;
}
.af_banner_04 {
  background: url(../images/about_fs_0721/img/1_34.jpg) no-repeat center;
  position: relative;
  overflow: hidden;
}
.af_banner_04 h1 {
  padding-top: 140px;
  padding-bottom: 20px;
  font-size: 36px;
  color: #232323;
  font-weight: 500;
  text-align: center;
}
.af_banner_04 h3 {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 40px;
}
.af_04_a {
  display: block;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #0070BC;
  font-size: 18px;
  line-height: 50px;
  color: #0070BC;
  text-decoration: none;
  margin: 0 auto 150px auto;
}
.af_04_a:hover {
  background: #0070BC;
  color: #FFFFFF;
}
.af_04_a .icon{
  font-size: 14px;
}
.af_banner_05 h1 {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 30px;
  color: #232323;
  font-weight: 500;
  text-align: center;
}
.af_banner_05 h3 {
  font-size: 16px;
  color: #616265;
  font-weight: 500;
  text-align: center;
  padding-bottom: 40px;
}
.af_banner_05_img {
  height: 360px;
  background: url(../images/about_fs_0721/img/1_37.jpg) no-repeat center;
}
.af_tab_btn_1 {
  width: 360px;
  margin: 70px auto 50px auto;
}
.af_tab_btn_1:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.btn_1_left {
  width: 180px;
  height: 50px;
  display: block;
  float: left;
  font-size: 18px;
  color: #232323;
  text-align: center;
  line-height: 50px;
  border: 1px solid #DEDEDE;
  border-right: 0;
  cursor: pointer;
}
.mk_act {
  background: #0070BC;
  color: #FFFFFF !important;
  border-color: #0070BC;
}
.btn_1_right {
  cursor: pointer;
  border-left: 0;
  line-height: 50px;
  font-size: 18px;
  width: 180px;
  height: 50px;
  display: block;
  float: left;
  color: #232323;
  text-align: center;
  border: 1px solid #DEDEDE;
}
.ag_content {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.ag_content .ag_content_1 {
  display: none;
  opacity: 0;
  z-index: 1;
}
.ag_content .ag_content_1:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.ag_content .ag_content_2 {
  display: none;
  opacity: 0;
  z-index: 1;
}
.ag_content .ag_content_2:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.ag_content .ag_content_3 {
  display: none;
  opacity: 0;
  z-index: 1;
}
.ag_content .ag_content_3:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.ag_content .ag_content_4 {
  display: none;
  opacity: 0;
  z-index: 1;
}
.ag_content .ag_content_4:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.ag_content {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.ag_content .ag_content_10 {
  display: none;
  opacity: 0;
  z-index: 1;
}
.ag_content .ag_content_10:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.ag_content .ag_content_20 {
  display: none;
  opacity: 0;
  z-index: 1;
}
.ag_content .ag_content_20:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.ag_content .ag_content_30 {
  display: none;
  opacity: 0;
  z-index: 1;
}
.ag_content .ag_content_30:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.ag_content .ag_content_40 {
  display: none;
  opacity: 0;
  z-index: 1;
}
.ag_content .ag_content_40:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.ag_product_box .ag_product_box_1:nth-child(4) {
  border-bottom: 0;
}
.ag_product_box_1a {
  text-align: center;
  width: 50%;
  float: left;
}
.ag_product_box_1a img {
  height: auto;
  max-width: 100%;
}
.ag_product_box_1b {
  width: 50%;
  float: left;
}
.ag_product_box_1b h2 {
  font-size: 24px;
  line-height: 26px;
  color: #232323;
  font-weight: 400;
  padding-bottom: 50px;
}
.ag_product_box_1b ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
.ag_product_box_1b ul li {
  list-style-type: none;
  line-height: 35px;
  width: 100%;
}
.ag_product_box_1b ul li:after {
  content: '';
  width: 0px;
  height: 0px;
  clear: both;
  display: block;
}
.ag_product_box_1b ul li:nth-child(1) {
  margin-bottom: 10px;
}
.ag_product_box_1b ul li:nth-child(2) {
  width: 90%;
  margin-bottom: 20px;
}
.ag_product_box_1b ul li:nth-child(3) {
  margin: 0;
}
.ag_product_box_1b ul li:nth-child(4) {
  margin: 20px 0;
}
.box_1b_list_1 {
  float: left;
  width: 15%;
  font-size: 14px;
  color: #616265;
}
.box_1b_list_2 {
  font-size: 16px;
  float: left;
  width: 85%;
  color: #616265;
}
.cpgg {
  display: inline-block;
  text-indent: 36px;
  font-size: 16px;
  padding: 0 10px;
  color: #616265;
  height: 35px;
  line-height: 35px;
  margin: 0px 10px 10px 0;
  background: url(../images/about_fs_0721/img/SPECS.pic-01.png) no-repeat 4px 2px #f4f4f4;
}
.box_1b_list_2 .cpgg:nth-child(2) {
  text-indent: 45px;
  background: url(../images/about_fs_0721/img/SPECS.pic-02.png) no-repeat 10px 4px #f4f4f4;
}
.box_1b_list_2 .cpgg:nth-child(3) {
  text-indent: 45px;
  background: url(../images/about_fs_0721/img/SPECS.pic-03.png) no-repeat 4px 4px #f4f4f4;
}
.box_1b_list_2 .cpgg:nth-child(4) {
  background: url(../images/about_fs_0721/img/SPECS.pic-04.png) no-repeat 5px 3px #f4f4f4;
}
.af_price {
  display: block;
  font-size: 28px;
  line-height: 26px;
  color: #c00000;
}
.af_kc {
  font-size: 14px;
  line-height: 25px;
  color: #83bd39;
}
.af_kc i{
	font-style: normal;
}
.af_num_box {
  float: left;
}
.af_gwc_box {
  float: left;
  cursor: pointer;
  margin: 0 15px;
  width: 127px;
  position: relative;
  overflow: hidden;
}
.af_gwc {
  width: 100%;
  height: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  padding-right: 15px;
  font-size: 14px;
  border-radius: 3px;
  color: #c00000 ;
  border: 1px solid #c00000;
  text-align: center;
  text-decoration: none;
  background: url(../images/about_fs_0721/img/bg2016.png) no-repeat -166px -418px;
}
.af_gwc1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  background: #FFFFFF;
  color: #616265;
  top: 0;
  border: 1px solid #dedede;
  transform: rotateX(90deg) translateZ(20px);
  -webkit-transform: rotateX(90deg) translateZ(20px);
  /* Safari and Chrome */
}
.af_btn_animate_1 {
  transition: transform 0.8s;
  transform: rotateX(0deg) translateZ(20px);
  -webkit-transform: rotateX(0deg) translateZ(20px);
}
.ag_product_box {
  width: 75%;
  margin: 0 auto;
}
.ag_product_box_1 {
  border-bottom: 1px solid #DEDEDE;
  padding: 60px 80px 60px 80px;
}
.ag_item_btn {
  width: 75%;
  margin: 0 auto;
  display: none;
}
.ag_item_btn1 {
  display: block;
  width: 75%;
  margin: 0 auto;
  border-bottom: 1px solid #f3f3f3;
}
.ag_item_btna {
  width: 75%;
  margin: 0 auto;
}
.af_iconbtn {
  width: 120px;
  height: 40px;
  display: block;
}
.ag_btna_1 {
  float: left;
  width: 25%;
  text-align: center;
}
.af_act {
  border-bottom: 2px solid #0070BC;
}
.icon_btn1 {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  display: block;
  box-sizing: content-box;
  padding: 10px;
  cursor: pointer;
  background: url(../images/about_fs_0721/img/1_22.jpg) no-repeat center;
}
.icon_btn2 {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  display: block;
  box-sizing: content-box;
  padding: 10px;
  cursor: pointer;
  background: url(../images/about_fs_0721/img/1_24.jpg) no-repeat center;
}
.icon_btn3 {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  display: block;
  box-sizing: content-box;
  padding: 10px;
  cursor: pointer;
  background: url(../images/about_fs_0721/img/1_26.jpg) no-repeat center;
}
.icon_btn4 {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  display: block;
  box-sizing: content-box;
  padding: 10px;
  cursor: pointer;
  background: url(../images/about_fs_0721/img/1_28.jpg) no-repeat center;
}
.af_gwc:hover {
  text-decoration: none;
  color: #FFFFFF;
  background: url(../images/about_fs_0721/img/bg2016.png) no-repeat -166px -240px #c00000;
}
.af_num_box input {
  text-align: center;
  display: block;
  float: left;
  height: 40px;
  width: 64px;
  border: 1px solid #ccc;
  border-right: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px ;
}
.af_num_btn {
  float: left;
  width: 25px;
  border: 1px solid #ccc;
  border-bottom-right-radius: 3px ;
  border-top-right-radius: 3px;
}
.af_num_btn .ck_add {
  height: 19px;
  cursor: pointer;
  display: block;
  background: url(../images/about_fs_0721/img/bg2016.png) no-repeat -180px -332px;
}
.af_num_btn .ck_reduce {
  height: 19px;
  cursor: pointer;
  display: block;
  background: url(../images/about_fs_0721/img/bg2016.png) no-repeat -180px -211px;
}
.af_banner_05 {
  text-align: center;
  margin-bottom: 20px; 
}
.af_banner_05_list {
  font-size: 16px;
  color: #616265;
  width: 40%;
  line-height: 28px;
  margin: 40px auto 30px auto;
  text-align: center;
}
.af_banner_05_link {
  color: #0070BC;
  font-size: 16px;
  text-decoration: none;
}

@media screen and (max-width: 1600px) {
  .ag_product_box {
    width: 90%;
  }
}
@media screen and (max-width: 1440px) {
  .ag_product_box {
    width: 100%;
  }
  .ag_product_box_1 {
    padding: 30px 15px 50px 15px;
  }
  .af_banner_02 {
    padding: 15px 0;
  }
}
@media screen and (max-width: 1025px) {
  .af_banner_02 {
    width: 90%;
    margin: 0 auto;
  }
  .af_banner_03 .af_banner_03_row {
    width: 95%;
    margin: 0 auto;
  }
  .af_banner_05 {
  text-align: center;
  margin-bottom: 30px; 
}
  /*.af_banner_05_img {
    background: url(../images/about_fs_0721/img/12_02_2.jpg) no-repeat center;
  }*/
  .af_banner_03_row .af_03_item {
    width: 50%;
  }
  .ag_btna_1 {
    width: 25%;
  }
  .ag_item_btn1 {
    width: 100%;
  }
  .ag_item_btna {
    width: 100%;
  }
  .af_tab_btn_1 {
    margin: 30px auto;
  }
  .ag_product_box_1b {
    width: 100%;
  }
  .ag_product_box_1a {
    width: 100%;
  }
  .ag_product_box_1b ul {
    width: 100%;
    margin: 0 auto;
  }
  .ag_product_box_1b h2 {
    text-align: center;
  }
  .respond_1 {
    display: none;
  }
  .respond_2 {
    display: block;
  }
  .af_banner_05_list {
    width: 80%;
  }
  .af_banner_05_img {
    background: url(../images/about_fs_0721/img/12_02_222.jpg) no-repeat center;
  }
}
@media screen and (max-width: 767px) {
  .af_banner_01 {
    height: 300px;
        background: url(../images/about_fs_0721/img/1_10G_03.jpg) no-repeat center;
  }
  .af_banner_01 h1 {
    font-size: 20px;
    padding-top: 100px;
  }
  .af_banner_02 {
    width: 100%;
    padding: 5px 15px;
  }
  .af_b2_list {
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
  .af_b2_list ul li {
    font-size: 14px;
  }
  .af_b2_list h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .af_b2_img {
    display: none;
  }
  .af_banner_03 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .af_banner_03 h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .af_banner_03_row {
    width: 100% !important;
  }
  .af_banner_03_row .af_03_item {
    width: 50%;
  }
  .af_03_item_2 p {
    width: 100%;
    padding: 5px 10px;
  }
  .af_03_item_2 h3 {
    margin: 15px auto;
  }
  .af_banner_05_list {
    width: 100%;
    font-size: 14px;
    margin: 20px auto;
    padding: 0 20px;
  }
  .af_banner_05_link {
    font-size: 14px;
  }
  .ag_product_box_1a {
    width: 100%;
    text-align: center;
  }
  .ag_product_box_1b {
    width: 100%;
  }
  .ag_product_box {
    width: 100%;
  }
  .ag_product_box_1 {
    padding: 0px 20px 35px 20px;
  }
  .ag_item_btn1 {
    display: none;
  }
  .ag_item_btn {
    display: block;
    width: 95%;
    text-align: center;
  }
  .ag_item_btn a {
    display: block;
    border-bottom: 1px solid #f2f2f2;
  }
  .ag_item_btn a span {
    width: 140px;
    text-align: center;
    margin: 0 auto;
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
  .af_tab_btn_1 {
    width: auto;
    margin: 20px 20px 10px 20px;
  }
  .btn_1_left {
    width: 50%;
  }
  .btn_1_right {
    width: 50%;
  }
  .respond_1 {
    display: none;
  }
  .respond_2 {
    display: block;
  }
  .ag_product_box_1b h2 {
    font-size: 18px;
    padding-bottom: 10px;
    text-align: left !important;
  }
  .af_banner_04 {
    height: 300px;
    background: url(../images/about_fs_0721/img/12_02_1.jpg) center;
  }
  .af_banner_04 h1 {
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .af_banner_04 h3 {
    font-size: 16px;
    padding-bottom: 15px;
  }
  .af_04_a {
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 14px;
  }
  .af_banner_05 h1 {
    font-size: 20px;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;
  }
  .af_banner_05 h3 {
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 10px;
  }
  .af_banner_05_img {
    background: url(../images/about_fs_0721/img/12_02_2.jpg) center !important;
    height: 270px;
  }
  .ag_product_box_1b ul li:nth-child(2) {
    width: 100%;
    margin-bottom: 5px;
  }
  .ag_product_box_1b ul li:nth-child(4){
    margin: 10px 0;
  }
  .af_banner_05 {
  text-align: center;
  margin-bottom: 30px; 
}
.af_03_item_1a{
  opacity: 1;
      height: 110px;
      background-size: 100px;
    /*background-size: 30%;*/
}
.af_03_item_1b{
  opacity: 1;
      height: 110px;
      background-size: 100px;
    /*background-size: 30%;*/
}
.af_03_item_1c{
  opacity: 1;
      height: 110px;
      background-size: 100px;
    /*background-size: 30%;*/
}
.af_03_item_1d{
  opacity: 1;
      height: 110px;
      background-size: 100px;
    /*background-size: 30%;*/
}
.af_num_box input{
  width: 50px;

}
}
@media screen and (max-width: 480px){
  .af_banner_03_row .af_03_item{
    width: 100%;
  }
/*  .af_03_item_1a{
  opacity: 1;
      height: 110px;
    background-size: 24%;
}
.af_03_item_1b{
  opacity: 1;
      height: 110px;
    background-size: 24%;
}
.af_03_item_1c{
  opacity: 1;
      height: 110px;
    background-size: 24%;
}
.af_03_item_1d{
  opacity: 1;
      height: 110px;
    background-size: 24%;
}*/
}