@charset "utf-8"

.my_account_mian {

	float: left;

	width: 790px;

	padding-left: 10px;

}

.my_account_bt { line-height:30px; font-size: 13px; font-weight: bold; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/sjx1.gif) no-repeat 0 50%; padding:0 10px; border-bottom:1px solid #cdcdcd; color: #c50001; margin-bottom:10px;}



.my_account_js { padding:5px 10px;}

.acc1-xinxi { border:1px solid #dedede; padding:10px; }

.acc1-xinxi-bt {

	float: left;

	height: 30px;

	width: 768px;

	border-bottom-width: 1px;

	border-bottom-style: dashed;

	border-bottom-color: #bebebe;

	margin-bottom: 5px;

	font-size: 12px;

	line-height: 30px;

	font-weight: bold;

	color: #c50001;

}

.acc1-xinxi-main1 {

	float: left;

	width: 380px;

	height: 120px;

}

.xxm1-bt1 {

	height: 30px;

	border-bottom-width: 1px;

	border-bottom-style: dashed;

	border-bottom-color: #d2d2d2;

	width: 380px;

	float: left;

}

.xxm1-bt1-btz {

	float: left;

	height: 30px;

	width: 330px;

	line-height: 30px;

}

.xxm1-bt1-btl {

	float: left;

	height: 30px;

	width: 50px;

	text-align: center;

	line-height: 30px;

	color: #000000;

}

.xxm1-bt1-btl a:link, .xxm1-bt1-btl a:visited{

	text-decoration: none;

	color: #232323;}

.xxm1-bt1-btl a:hover, .xxm1-bt1-btl a:active{

	color: #c50001;

	text-decoration: underline;}

.xxm1-xinxi {

	height: 80px;

	float: left;

	width: 380px;

	padding-top: 9px;

	line-height: 18px;

}

.xxm1-xinxi a:link, .xxm1-xinxi a:visited{

	text-decoration: none;

	color: #232323;

}

.xxm1-xinxi a:hover, .xxm1-xinxi a:active{

	color: #c50001;

	text-decoration: underline;

}

.acc1-xinxi-main2 {

	float: left;

	width: 768px;

	padding-bottom: 10px;

}

.xxm2-bt2 {

	float: left;

	height: 30px;

	width: 768px;

	border-bottom-width: 1px;

	border-bottom-style: dashed;

	border-bottom-color: #d2d2d2;

	color: #232323;

}

.xxm2-bt2-btz {

	float: left;

	height: 30px;

	width: 658px;

	font-family: Verdana, Arial, Helvetica, SansSerif;

	font-size: 12px;

	line-height: 30px;

	color: #363636;

}

.xxm2-bt2-btl {

	float: left;

	height: 30px;

	width: 110px;

	line-height: 30px;

}

.xxm2-bt2-btl a:link, .xxm2-bt2-btl a:visited{

	color: #232323;

	text-decoration: none;

}

.xxm2-bt2-btl a:hover, .xxm2-bt2-btl a:active{

	color: #c50001;

	text-decoration: underline;

}

.xxm2-main {

	float: left;

	width: 384px;

	font-size: 11px;

	line-height: 18px;

	padding-top: 9px;

}

.xxm2-main a:link, .xxm2-main a:visited{

	text-decoration: none;

	color: #232323;

}

.xxm2-main a:hover, .xxm2-main a:active{

	color: #c50001;

	text-decoration: underline;

}

.yg10 {

	margin-right: 8px;

}

a:hover a:active{

	color: #FF0000;

	text-decoration: underline;

}



/*.address_body {

	float: left;

	width: 800px;

	padding-top: 5px;

}

.address_bt {

	float: left;

	width: 790px;

	line-height: 24px;

	font-weight: bold;

	font-size: 12px;

	padding-left: 10px;

}*/

.address_box1 {

	float: left;

	width: 800px;

}



.address_box1_ts {

	width: 785px;

	padding-left: 15px;

	float: left;

	line-height: 30px;

}

.address_em {

	color: #c50001;

	font-weight: bold;

	width: 10px;

	float: left;

	padding-top: 2px;

	height: 28px;

}

.box1_tishi_yu {

	float: left;

}

.guanbi {

	float: right;

	height: 30px;

	width: 60px;

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/address_delete.png);

	background-repeat: no-repeat;

	background-position: left;

	line-height: 28px;

	margin-right: 20px;

}

.guanbi a{

	height: 30px;

	width: 45px;

	padding-left: 15px;

	display: block;

}

.guanbi a:link, .guanbi a:visited{

	color: #000000;

	text-decoration: none;

}

.guanbi a:hover, .guanbi a:active{

	color: #990000;

	text-decoration: underline;

}

.address_box1_zhu {

	float: left;

	width: 785px;

	padding-left: 15px;

}

.address_box1_zhu_k {

	float: left;

	width: 780px;

	margin-bottom: 5px;

	padding-left: 5px;

	margin-top: 5px;

}

.address_box1_zhu_k_bt {

	float: left;

	height: 30px;

	width: 160px;

	line-height: 30px;

	font-size: 11px;

	padding-right: 5px;

}

.address_box1_zhu_k_kuang {

	float: left;

	height: 30px;

	width: 320px;

}

.address_box1_zhu_k_kuang #firstname, .address_box1_zhu_k_kuang #lastname, .address_box1_zhu_k_kuang #Address_Line1, .address_box1_zhu_k_kuang #Address_Line2, .address_box1_zhu_k_kuang #City, .address_box1_zhu_k_kuang #Postal_Code {

	float: left;

	height: 23px;

	width: 308px;

	margin-bottom: 5px;

	font-size: 12px;

	line-height: 23px;

	color: #000000;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	padding-left: 2px;

}

.address_box1_zhu_k_kuang #Phone_Number {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	line-height: 23px;

	color: #000000;

	float: left;

	height: 23px;

	width: 248px;

	margin-bottom: 5px;

	padding-left: 2px;

}

.Country {

	background-clip: padding-box;

	background-color: #FFFFFF;

	background-image: -moz-linear-gradient(center bottom , #e5e5e5 0%, white 50%);

	border: 1px solid #8d8d8f;

	border-radius: 4px 4px 4px 4px;

	display: block;

	line-height: 28px;

	text-decoration: none;

	white-space: nowrap;

	padding-top: 0;

	padding-right: 0;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #000000;

	float: left;

	height: 28px;

	width: 310px;

}

.Country a{

	width: 305px;

	padding-left: 5px;

	height: 28px;

	display: block;

	float: left;

}

.Country a:link, .Country a:visited{

	color: #232323;

	text-decoration: none;

}

.Country a:hover, .Country a:active{

	color: #232323;

	text-decoration: none;

}

.chzn-single span {

	float: left;

}



.Country div b {

	display: block;

	height: 28px;

	width: 19px;

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/acconut_bgtu.png);

	background-repeat: no-repeat;

	background-position: 0px -1px;

	float: right;

}



.Phone_quhao {

	float: left;

	width: 50px;

	line-height: 23px;

	text-align: right;

	padding-right: 10px;

	font-weight: bold;

	color: #000000;

}



.box1_kuang input{

	border-top-width: 1px;

	border-right-width: 1px;

	border-bottom-width: 1px;

	border-left-width: 1px;

	border-top-style: solid;

	border-right-style: solid;

	border-bottom-style: solid;

	border-left-style: solid;

	border-top-color: #b4b4b4;

	border-right-color: #cdcdcd;

	border-bottom-color: #cdcdcd;

	border-left-color: #b4b4b4;

}

/*.box1_focus:focus {

	border: 1px solid #616265;

}
*/
.box1_focus1:focus {

	border-radius: 2px 2px 2px 2px;

	border: 1px solid #999999;

}

.address_box1_zhu_k_tishi {

	float: left;

	width: 295px;

	font-size: 11px;

	line-height: 14px;

	color: #c50001;

}

.box1_tixing {

	float: left;

	width: 615px;

	padding-left: 170px;

	line-height: 10px;

	font-size: 10px;

	color: #999999;

	padding-bottom: 5px;

}

.box1_tishi_tixing {

	float: left;

	padding-right: 10px;

	line-height: 23px;

}

.box1_tishi_tixing a:link, .box1_tishi_tixing a:visited{

	color: #999999;

	text-decoration: none;

}

.box1_tishi_tixing a:hover, .box1_tishi_tixing a:active{

	color: #c50001;

	text-decoration: underline;

}

.box1_save {

	float: left;

	width: 370px;

	padding-left: 405px;

	height: 30px;

}

.box1_save #saveAddress {

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg.png);

	background-position: 0px -323px;

	width: 72px;

	height: 28px;

	margin-left: 5px;

	font-family: Verdana;

	font-size: 12px;

	line-height: 20px;

	font-weight: bold;

	color: #FFFFFF;

	border-radius: 3px 3px 3px 3px;

	border: 1px solid #B35304;

}

.box1_save a:link, .box1_save a:visited, .box1_save a:hover, .box1_save a:active{

	color: #FFFFFF;

	text-decoration: none;

}

.box2_link {

	border-top-width: 1px;

	border-top-style: dashed;

	border-top-color: #cdcdcd;

	padding-top: 5px;



}

.address_box2 {

	float: left;

	width: 800px;

}

.address_box2_mian {

	float: left;

	width: 790px;

	padding-left: 10px;

	padding-top: 5px;

}

.address_box2_mian li {

	font-size: 11px;

	line-height: 24px;

	margin: 0px;

	padding: 0px;

	list-style-type: none;

	float: left;

	width: 790px;

}

.address_box2_mian li span {

	float: left;

}

.address_box2_mian2 {

	float: left;

	width: 263px;

	margin-bottom: 10px;

}

.address_box2_mian2 li {

	font-size: 11px;

	line-height: 16px;

	margin: 0px;

	list-style-type: none;

	float: left;

	width: 263px;

	padding-top: 4px;

	padding-right: 0px;

	padding-bottom: 4px;

	padding-left: 0px;

}

.address_box2_mian2 li span {

	float: left;

}



/*.box2_phone {

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png);

	background-position: 0px -242px;

	height: 24px;

	background-repeat: no-repeat;

	width: 20px;

	float: left;

}*/

.box2_address_Edit{

	float: left;

	width: 63px;

	padding-top: 5px;

	padding-bottom: 5px;

}

.box2_address_Edit a{

	text-decoration: none;

	text-align: center;

	display: block;

	float: left;

	height: 24px;

	width: 50px;

	line-height: 24px;

	border-radius: 3px 3px 2px 2px;

	color: #232323;

}

.box2_address_Edit a:link, .box2_address_Edit a:visited{

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png);

	background-position: -24px -242px;

}

.box2_address_Edit a:hover, .box2_address_Edit a:active{

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png);

	background-position: -74px -242px;

}

.box2_address_delete{

	float: left;

	width: 200px;

	padding-top: 5px;

	padding-bottom: 5px;

}

.box2_address_delete a{

	text-decoration: none;

	text-align: center;

	display: block;

	float: left;

	height: 24px;

	width: 60px;

	line-height: 24px;

	border-radius: 3px 3px 2px 2px;

	color: #232323;

}

.box2_address_delete a:link, .box2_address_delete a:visited{

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png);

	background-position: -524px -242px;

}

.box2_address_delete a:hover, .box2_address_delete a:active{

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png);

	background-position: -584px -242px;

}

.box2_address_newadd{

	float: left;

	padding-top: 5px;

	padding-bottom: 5px;

	width: 790px;

}

.box2_address_newadd a{

	text-decoration: none;

	text-align: center;

	display: block;

	float: left;

	height: 24px;

	line-height: 24px;

	border-radius: 3px 3px 2px 2px;

	color: #232323;

	width: 200px;

}

.box2_address_newadd a:link, .box2_address_newadd a:visited{

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png);

	background-position: -124px -242px;

}

.box2_address_newadd a:hover, .box2_address_newadd a:active{

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png);

	background-position: -324px -242px;

}

.my_orders_body {

	float: left;

	width: 790px;

	padding-left: 10px;

	padding-top: 10px;

}

.my_orders_tishiyu {

	float: left;

	width: 790px;

	padding-top: 5px;

	padding-bottom: 5px;

}

.my_orders_mian {

	float: left;

	width: 790px;

}

.my_orders_mian table {

	float: left;

	width: 790px;

	border-radius: 3px 3px 3px 3px;

}

.my_orders_mian table th {

	line-height: 30px;

	padding-left: 5px;

	background-color: #eaeaea;

	text-align: left;

	font-size: 11px;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #d2d2d2;

	border-top-width: 1px;

	border-top-style: solid;

	border-top-color: #d2d2d2;

}

.my_orders_mian table td {

	line-height: 24px;

	padding-left: 5px;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #d2d2d2;

	padding-top: 5px;

	padding-bottom: 5px;

}

.my_orders_mian table td .orders_number a:link, .my_orders_mian table td .orders_number a:visited{

	color: #0070BC;

}

.my_orders_mian table td .orders_number a:hover, .my_orders_mian table td .orders_number a:active{

	color: #c50001;

	text-decoration: underline;

}

.paynow { display:block; line-height:16px; padding:2px 0 2px 7px; }

.paynow a{  text-decoration: underline; color: #0070BC;}

/*.paynow a:link, .paynow a:visited{ background: url(https://img-en.fs.com/includes/templates/fiberstore/images/button.png) no-repeat 0 -218px; color: #FFFFFF; text-decoration: none; }

.paynow a:hover, .paynow a:active{ background: url(https://img-en.fs.com/includes/templates/fiberstore/images/button.png) no-repeat 0 -247px;}*/

.orders_view{ display:block; height: 22px; line-height:20px; padding-left: 7px; width: 123px; }

.orders_view a:link, .orders_view a:visited, .paynow a:link, .paynow a:visited { text-decoration: underline; color: #0070BC; }

.orders_view a:hover, .orders_view a:active, .paynow a:hover, .paynow a:active { color: #c50001; text-decoration: underline; }

.recently {

	float: left;

	width: 800px;

	margin-top: 20px;

}

.recently_bt {

	font-size: 11px;

	font-weight: bold;

	color: #c50001;

	line-height: 30px;

	float: left;

	width: 790px;

	border-bottom-width: 1px;

	border-bottom-style: dashed;

	border-bottom-color: #cdcdcd;

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/sjx1.gif);

	background-repeat: no-repeat;

	background-position: left;

	padding-left: 10px;

}

.recently_mian {

	float: left;

	width: 790px;

	padding-left: 10px;

	padding-top: 10px;

}

.recently_box {

	float: left;

	width: 120px;

	margin-right: 23px;

	margin-left: 15px;

}

.recently_box_tu {

	float: left;

	height: 80px;

	width: 80px;

	padding-right: 20px;

	padding-left: 20px;

}

.recently_box_wen {

	font-size: 11px;

	line-height: 15px;

	float: left;

	width: 120px;

	height: 30px;

}

.recently_box_wen a:link, .recently_box_wen a:visited{

	text-decoration: none;

	color: #232323;

}

.recently_box_wen a:hover, .recently_box_wen a:active{

	color: #c50001;

	text-decoration: underline;

}

.my_wishlist_body {

	float: left;

	width: 790px;

	padding-left: 10px;

	padding-top: 10px;

}



.my_wishlist_mian { width: 790px; }

.my_wishlist_mian table {  width: 790px; border-radius: 3px 3px 3px 3px; }

.my_wishlist_mian table th { line-height: 30px; background-color: #eaeaea; font-size: 11px; padding-left: 5px; padding-right: 5px; }

.my_wishlist_mian table td { line-height: 24px; background-color: #FFFFFF; padding-right: 5px; padding-left: 5px; }

.my_wishlist_mian table td.wi_name a { color:#0070BC; text-decoration:underline;}

.my_wishlist_mian table td.wi_name a:bover { color:#c50001;}





.wi_qty #QTY { width: 30px; border: 1px solid #999999; }

.wishlist_juzhong { text-align: center; }



.my_wishlist_mian table td.wi_add.wi_add_to_cart { width: 96px; height: 30px; line-height: 30px; }

.my_wishlist_mian table td.wi_add.wi_add_to_cart a{ width: 96px; height: 30px; display: block; text-align: center; }

.my_wishlist_mian table td.wi_add.wi_add_to_cart a:link, .my_wishlist_mian table td.wi_add.wi_add_to_cart a:visited{ background: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png) no-repeat -352px -102px; color: #FFFFFF; text-decoration: none; font-weight:bold; }

.my_wishlist_mian table td.wi_add.wi_add_to_cart a:hover, .my_wishlist_mian table td.wi_add.wi_add_to_cart a:active{ background: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png) no-repeat -448px -102px; }







.wi_delete a{

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/address_delete.png);

	width: 35px;

	height: 25px;

	float: left;

	background-repeat: no-repeat;

	background-position: left;

	padding-left: 15px;

	display: block;

	margin-right: 5px;

	margin-left: 5px;

}

.wi_delete a:link, .wi_delete a:visited{

	color: #232323;

	text-decoration: none;

}

.wi_delete a:hover, .wi_delete a:active{

	color: #c50001;

	text-decoration: underline;

}

/* CSS Document */

/*======================JSʼ==========================*/

.my_se_contentbox {

	width:798px;

	float: left;

	margin-top: 13px;

}

.zyxg10 {

}







.my_se_Menubox a{ color:#363636; font-weight:bold; text-decoration:none;}

.my_se_Menubox a:hover { color:#c50001; font-weight:bold; text-decoration:none;}



.my_se_Tab { width:800px; padding:0px; margin:0 auto;}





.my_se_Menubox ul { list-style:none;}



.my_se_Menubox a{ color: #616265; font-weight: bold; text-decoration: none; font-size:12px;}

.my_se_Menubox a:hover { color:#c50001; text-decoration:none; border-bottom:none; }



.my_se_Menubox { margin-top:5px; border-bottom:2px solid #EE7E13; height: 27px; line-height: 27px;}

.my_se_Menubox ul { margin:0; padding:0; }

.my_se_Menubox li { cursor: pointer; display: block; float: left; font-size: 11px; font-weight: bold; margin: 0; padding: 0; text-align: center; margin-right:10px;  padding:0 15px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_button.png) repeat-x 0 -265px; border:1px solid #dedede; border-bottom:none; height:26px; border-radius:4px 4px 0 0;}

.my_se_Menubox li.hover { display:block; line-height:26px; border-bottom:none; line-height:26px; border:1px solid #FFD28F; border-bottom:none; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_button.png) repeat-x 0 -295px;}

.my_se_Menubox li.hover a{ display:block; text-decoration:none; color:#363636; font-weight:bold; line-height:26px;}



.my_se_Contentbox {

	margin-top:0px;

	text-align:left;

	padding:9px;

	line-height:18px;

	border-right-width: 1px;

	border-bottom-width: 1px;

	border-left-width: 1px;

	border-right-style: solid;

	border-bottom-style: solid;

	border-left-style: solid;

	border-right-color: #d9d9d9;

	border-bottom-color: #d9d9d9;

	border-left-color: #d9d9d9;

	width: 779px;

	clear: both;

	height: auto;

	border-radius: 0px 0px 3px 3px;

}

.my_se_Contentbox a:link, .Contentbox a:visited { text-decoration:none; color:#454545;}

.my_se_Contentbox a:hover, .Contentbox a:active { text-decoration:underline; color:#c40909;}

.js_01 { float:left; padding-top:10px; padding-left:20px; width:100px; line-height:24px;}

.js_01 span { font-weight:bold;}

.js_02 { float:left; padding-top:18px; padding-left:20px; width:218px; line-height:22px;}

.js_02 span { display:block; border-bottom: 1px solid #cfd3dd; margin-bottom:6px;}

.js_02_01 { width:154px; float:left; line-height:20px;}

.js_02 img { float:right; width:60px; height:60px;}





.js_03 { float:left; width: 335px; padding-top:10px; padding-left:20px; line-height:24px;}

.js_03_01 { display:block; border-bottom: 1px solid #cfd3dd; font-weight:bold; margin-bottom:10px;}

.js_03_02 { display:block; float:right;}



#con_one_4 { padding:10px 20px; }

#con_one_4 span { font-weight:bold; line-height:26px;}



/*=======================JS END=============================*/

.my_se_body {

	width: 770px;

	clear: both;

	color: #616265;

	padding-left: 9px;

	padding-bottom: 20px;

}

.my_se_body1 {

	width: 720px;

	clear: both;

	color: #616265;

	padding-left: 29px;

	padding-bottom: 20px;

	padding-top: 10px;

	padding-right: 30px;

}

.Change_information {

	float: left;

	width: 740px;

	margin-top: 10px;

	margin-bottom: 10px;

	border-radius: 3px 3px 3px 3px;

	border: 1px solid #F6AD6B;

	background-color: #EAEAEA;

	line-height: 30px;

	padding-left: 28px;

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/ddm.png);

	background-repeat: no-repeat;

	background-position: 10px;

}

.Change_information2 {

	float: left;

	width: 680px;

	border-radius: 3px 3px 3px 3px;

	border: 1px solid #F6AD6B;

	background-color: #EAEAEA;

	line-height: 30px;

	padding-left: 28px;

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/ddm.png);

	background-repeat: no-repeat;

	background-position: 10px;

}

.my_se_bt {

	float: left;

	width: 770px;

	line-height: 24px;

	font-weight: bold;

}

.my_se_mian {

	float: left;

	width: 770px;

}

.my_se_mian_ts {

	float: left;

	width: 770px;

	line-height: 28px;

}



.my_se_mian_k {

	float: left;

	width: 770px;

}

.my_se_mian_k_bt {

	float: left;

	width: 230px;

	line-height: 30px;

	padding-right: 10px;

	text-align: right;

}

.my_se_mian_k_bt span {

	float: right;

	text-align: right;

	margin-left: 2px;

}

.address_em1 {

	color: #c50001;

	font-weight: bold;

	width: 10px;

	float: right;

	padding-top: 2px;

	height: 30px;

}

.my_se_mian_k_right {

	float: left;

	width: 530px;

}



.my_se_mian_k_kuang {

	float: left;

	width: 220px;

	margin-right: 310px;

	height: 22px;

}

.my_se_mian_k_kuang #firstname {

	float: left;

	height: 20px;

	width: 218px;

	font-size: 11px;

	line-height: 20px;

	color: #232323;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	padding-left: 2px;

}

.my_se_mian_k_kuang input{

	border: 1px solid #cdcdcd;

}

.my_se_mian_k_tishi{

	float: left;

	width: 530px;

	font-size: 11px;

	line-height: 14px;

	color: #990000;

	padding-top: 3px;

	padding-bottom: 5px;

}

.my_se_mian_k_kuang select {

	border: 1px solid #cdcdcd;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #232323;

	margin-top: 2px;

	height: 20px;

	line-height: 20px;

}

.my_se_mian_k_kuang #gender {

}



.myse_anniu1 {

	float: left;

	width: 390px;

	height: 24px;

	padding-left: 380px;

	padding-top: 6px;

}

.myse_anniu1_textbtn {

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg.png);

	background-position: 0px -381px;

	width: 72px;

	height: 26px;

	font-family: Verdana;

	font-size: 12px;

	font-weight: bold;

	color: #FFFFFF;

	border-radius: 3px 3px 3px 3px;

	border: 1px solid #B35304;

	margin-left: 10px;

}



.myse_anniu {

	float: left;

	width: 358px;

	height: 24px;

	padding-left: 412px;

	padding-top: 6px;

}

.myse_anniu a {

	float: left;

	height: 24px;

	width: 40px;

	font-size: 11px;

	line-height: 24px;

	padding-left: 10px;

	border-radius: 2px 2px 2px 2px;

}

.myse_anniu a:link, .myse_anniu a:visited{

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png);

	background-position: -24px -242px;

	text-decoration: none;

	color: #232323;

}

.myse_anniu a:hover, .myse_anniu a:active{

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png);

	background-position: -74px -242px;

	color: #000000;

}

.coupons_wen {

	float: left;

	width: 790px;

	padding-left: 10px;

	padding-top: 5px;

}

.coupons_box {

	float: left;

	width: 790px;

}

.coupons_box table {

	float: left;

	width: 790px;

	border-radius: 3px 3px 3px 3px;

}

.coupons_box table th {

	line-height: 30px;

	padding-left: 5px;

	text-align: left;

	font-size: 11px;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #990000;

}

.coupons_box table td {

	line-height: 30px;

	padding-left: 5px;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #e2e2e2;

	padding-top: 5px;

	padding-bottom: 5px;

}

.coupons_box table td a:link, .coupons_box table td a:visited{

	text-decoration: underline;

	color: #0070BC;

}

.coupons_box table td a:hover, .coupons_box table td a:active{

	color: #c50001;

	text-decoration: underline;

}

.coupons_card_body {

	float: left;

	width: 800px;

	padding-top: 10px;

}

.coupons_card_xinxi {

	float: left;

	width: 460px;

	padding-right: 10px;

	padding-left: 10px;

}

.coupons_card_xinxi td {

	padding-left: 10px;

	line-height: 24px;

	color: #232323;

	vertical-align: top;

}

.coupons_card_tu {

	float: left;

	height: 160px;

	width: 300px;

}

.orders_view_body {  width: 780px; padding:0 10px; }

.orders_view_body_tishi {

	float: left;

	width: 790px;

	padding-top: 10px;

}

.dingdan_tishi {

	float: left;

	height: 28px;

	width: 650px;

	border-radius: 3px 3px 3px 3px;

	border: 1px solid #F6AD6B;

	background-color: #EAEAEA;

	line-height: 28px;

	padding-left: 35px;

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/login_jinggao_tu2.png);

	background-repeat: no-repeat;

	background-position: left;

	color: #000000;

}



.order_view_Pay_Now {

	float: right;

}

.order_view_Pay_Now a{

	font-size: 13px;

	line-height: 28px;

	font-weight: bold;

	text-decoration: none;

	text-align: center;

	display: block;

	float: left;

	height: 30px;

	width: 88px;

}

.order_view_Pay_Now a:link, .order_view_Pay_Now a:visited{

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png);

	background-position: -544px -102px;

	color: #efefef;

}

.order_view_Pay_Now a:hover, .order_view_Pay_Now a:active{

	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/xiaotubiao.png);

	background-position: -632px -102px;

	color: #ffffff;

}



.my_account_bt_order .dayin a:link, .my_account_bt_order .dayin a:visited{

	text-decoration: none;

	color: #000000;

}

.my_account_bt_order .dayin a:hover, .my_account_bt_order .dayin a:active{

	color: #c50001;

	text-decoration: underline;

}



.order_view_top { border:1px solid #dedede; padding:10px 5px; text-align:left; line-height:24px; }

.order_view_top_01 { font-size:12px; padding:0 12px 0 5px;}

.order_view_top_02_01 { font-size:12px; padding:0 12px 0 5px; color:#339933;}

.order_view_top_02 { font-size:12px; padding:0 12px 0 5px; color:#FF6600;}

.order_view_top_02 strong { color:#363636; }

.order_view_top_03 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/button.png) no-repeat 0 -280px; width:74px; height:24px; border:0; text-indent:-99999px; cursor: pointer;float:right;}

.order_view_top_04 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/button.png) no-repeat 0 -305px; width:160px; height:24px; border:0; text-indent:-9999px; cursor: pointer; clear:both;}

.order_view_top_left { width:518px; float:left;}



.order_view_top_05 { width:240px; float:right;  }

.print_box { border:1PX solid #DEDEDE; padding:0px 5px; margin-top:10px;}

/*.orders_view_body_information { margin-top:10px;}*/

.orders_view_body_information table { width:100%;}

.orders_view_body_information table tr td, .orders_05 tr td { padding:2px 5px;}

.orders_view_body_information table.tab_02 { text-align:center; }

.orders_view_body_information table.tab_02 tr td { border-bottom:1px solid #e5e5e5; }

.orders_view_body_information table.tab_02 tr th { border-bottom:1px solid #e5e5e5; line-height:30px; text-align:center; background:#f4f4f4;}

.orders_view_body_information table.tab_02 tr td.left { text-align:left;} 

.orders_view_body_information table.tab_02 tr td.left ul { margin:0; padding:5px; list-style:none; color:#999;}





.orders_view_body_information span { display:block; font-weight:bold; border-bottom:1px dotted #dedede; padding:0 5px;}

.orders_view_body_information strong { display:block; padding:5px;}

.orders_01 { color:#363636; text-decoration:none; }

.orders_01:hover { color:#c50001;}

.orders_02{ display:block; width:100px; padding:2px; text-align:center; margin-top:5px; margin-bottom:5px; border:1px solid #EBBF70; color:#363636; text-decoration:none; background:#FDF0C3; text-decoration:none;}

.orders_02:hover {color:#000; text-decoration:none; background:#fffbee;}

.orders_03 { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/facebook.png) no-repeat 0 50%; padding-left:18px; color:#616265; text-decoration:none;}

.orders_04 { font-size:14px; font-weight:bold;}

.orders_05 { border:1px solid #EED97C; background:#FFFCEB; margin-top:20px;}

.orders_05 a { color:#0070BC;}

.orders_05 table tr td span { display:block; height:80px; width:600px;}

.orders_05 table tr td span.one { height:80px; width:600px; background:url(https://img-en.fs.com/includes/templates/fiberstore/images/shopping_01.png) no-repeat;}

.orders_05 table tr td span.two { height:80px; width:600px; background:url(https://img-en.fs.com/includes/templates/fiberstore/images/shopping_01.png) no-repeat 0 -80px;}

.orders_05 table tr td span.three { height:80px; width:600px; background:url(https://img-en.fs.com/includes/templates/fiberstore/images/shopping_01.png) no-repeat 0 -160px;}

.orders_05 table tr td span.four { height:80px; width:600px; background:url(https://img-en.fs.com/includes/templates/fiberstore/images/shopping_01.png) no-repeat  0 -240px;}



/*.order_view_total table { width:100%; margin-bottom:20px;}*/



.order_view_total table tr th { font-size:16px; line-height:26px; font-weight:normal; border-bottom:1px solid #e5e5e5;}







.order_view_total_01 td {

	border-top-width: 1px;

	border-top-style: dashed;

	border-top-color: #e5e5e5;

}





.live_chat_order a{ height: 18px; width: 50px; display: block; padding-left: 25px; margin-bottom:10px; background:url(https://img-en.fs.com/includes/templates/fiberstore/images/live_chat_order.jpg) no-repeat 0 50%; float: left; margin-top: 15px; color:#FF6600; }

.live_chat_order a:hover, .live_chat_order a:active{ color: #c50001; text-decoration: underline; 	}

.back_my_order a{ margin-top: 15px; float: right; display:block; width:90px; color:#363636; }

.back_my_order a:hover{ color: #c50001; }



.Management_Review { margin-bottom:10px;}

.Management_Review table tr td { padding:5px; line-height:16px; border-top:1px solid #e5e5e5; text-align:center;}

.Management_Review table tr th { padding:8px 5px; line-height:14px; background:#f4f4f4; text-align:center;}

.Management_Review table tr td.left { text-align:left;}

.Management_Review table tr td.left a { color:#0070BC; text-decoration:none;}

.Management_Review table tr td.left a:hover { color:#0070BC; text-decoration:underline;}

.Management_Review table tr td.reviews a { color:#FF6600; text-decoration:none;}

.Management_Review table tr td.read_reviews a { color:#0070BC; text-decoration:none;}

.Management_Review table tr td.reviews a:hover, .Management_Review table tr td.read_reviews a:hover { color:#c50001; text-decoration:underline;}

.Management_Review_01 { padding:5px;}

.Management_Review_01 strong { display:block; border-bottom:1px dotted #cdcdcd; margin-bottom:10px;} 

.Management_Review_02 { float:right; border:1px solid #cdcdcd; display:block; width:200px; padding:10px;}

.Management_Review_02 img { text-align:center;}

.Management_Review_03 { display:block; line-height:16px; padding:5px 0; width:200px; text-align:left;}

.Management_Review_04 { display:block; line-height:18px; width:200px;}

.Management_Review_05 { width:200px;}

.Management_Review_06 { width:80px;}

.Management_Review_07 { text-align:center; width:200px; }

.Management_Review_08 { padding-left:50px; padding-top:5px; height:30px;}

.Management_Review_09 { display:block; background:#c50001; color:#fff; padding:5px; width:190px; font-size:12px; font-weight:bold; margin-bottom:5px;}

.Management_Review_10 { float:left; width:743px;}

.Management_Review_10 label { display:block; height:20px; width:110px; float:left; }

.Management_Review_10 label input { float:left;}

.Management_Review_10 label span { margin-top:2px;}

.Management_Review_11 { font-size:12px; font-weight:bold; display:block; line-height:40px;}

.Management_Review_12 { width:534px; color:#616265; background:#fff; border-style:solid; border-width:1px; border-color:#e5e5e5 #e5e5e5 #e5e5e5 #e5e5e5; padding:3px; height:30px;line-height:30px;}

.Management_Review_12_plus{height:300px;}

.Management_Review_13 { color:#616265; text-decoration:none;}

.Management_Review_13:hover, .Management_Review_14:hover { color:#c50001; text-decoration:underline;}

.Management_Review_14 { color:#0070BC; text-decoration:none;}

.review_error{color:#c50001;display:none;}

.review_errordiv{color:#c50001;display:none;}





.print { text-align:center;}

.print_01 { padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #616265;}

.print_02 table tr td { line-height:18px; padding:3px 5px;}

.print_03 { }

.print_03 table { margin-top:10px; border-left:1px solid #616265; border-top:1px solid #616265;}

.print_03 table tr td { border-bottom:1px solid #616265; border-right:1px solid #616265; text-align:center; line-height:16px; padding:6px 5px}

.print_03 table tr td.one { text-align:left;}

.print_03 table tr td.two { text-align:right; font-size:14px; padding-right:20px; line-height:24px;}





/*



.login_005 ul li.explain { height:30px}

.login_005 ul li.explain a { color:#0070BC}

.login_005 ul li.explain a:hover { text-decoration:underline; color:#c50001}

.login_005 ul li.explain input { width:15px; border:none;}

.login_005 ul li.zhuce_anniu2 { height:45px;}

.login_005 ul li.zhuce_anniu3 { height:30px;}

.login_005 ul li.zhuce_anniu2 input { border:none; cursor:pointer; display:block; width:192px; height:26px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_button.png) no-repeat 0 -64px; margin-bottom:10px;}

.login_005 ul li.zhuce_anniu2 input:hover { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_button.png) no-repeat 0 -96px; border-radius:4px; box-shadow: 0px 0px 5px #616265;}*/