body { margin:0 auto; padding:0; font-size:13px; font-family:'Open Sans', Arial, Helvetica, sans-serif; font-style:normal; font-weight:400; list-style: none; }
.box { width: 1440px; padding: 0; margin: 0 auto; }
.content { padding: 0; }
h1, h2, h3, p, ul, li, dl, dt, dd, input, select, form, div { margin: 0; padding: 0; list-style: none; }
/*base样式开始*/
.base_content { width: 1200px; margin: 0 auto; }
.base_banner { width: 100%; height: 800px; }
.base_banner_m { width: 100%; display: none; }
.base_banner_bg { position: absolute; width: 100%; height: 800px; left: 0; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/base/base_banner02.png) no-repeat center; }
.base_main { width: 100%; height: 100%; position: relative; }
.base_banner_tit { font-size: 36px; color: #0e0b0c; font-weight: 400; padding-top: 65px; text-align: center; opacity: 0; transition: all 1s; line-height: 36px; }
.base_banner_tit.show { opacity: 1; }
.base_banner_txt { font-size: 20px; font-weight:400; color: #616265; margin-top: 15px; text-align: center; opacity: 0; transition: all 1s; }
.base_banner_txt.show { opacity: 1; }
.base_banner_line { width: 733px; height: 436px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/base/base_banner_line.png) no-repeat; position: absolute; left: 50%; top: 50%; margin-left: -235px; /*margin-top: -55px;*/
	margin-top: -395px; transition: all 1s; }
.base_banner_line.line_show { margin-top: -55px; }
.base_banner_dot { width: 118px; height: 118px; position: absolute; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/base/base_banner_dot.png) no-repeat; border-radius: 50%; left: 50%; margin-left: -80px; top:420px; transition: all 1s; opacity: 0; }
.base_banner_dot:nth-child(1) {
 background-position: 0 -169px;
/*margin-left: -265px;*/
}
.base_banner_dot:nth-child(2) {
 background-position: -70px -50px;
/*margin-left: -203px; 
	top: 305px;*/
}
.base_banner_dot:nth-child(3) {
 background-position: -198px 0;
/*top: 240px;*/
}
.base_banner_dot:nth-child(4) {
 background-position: -324px -50px;
/*margin-left: 43px;
	top: 305px;*/
}
.base_banner_dot:nth-child(5) {
 background-position: -387px -169px;
/*margin-left: 105px;*/
}
.base_banner_dot:nth-child(1).dot_show01 {
 margin-left: -265px;
 opacity: 1;
}
.base_banner_dot:nth-child(2).dot_show02 {
 margin-left: -203px;
 top: 305px;
 opacity: 1;
}
.base_banner_dot:nth-child(3).dot_show03 {
 top: 240px;
 opacity: 1;
}
.base_banner_dot:nth-child(4).dot_show04 {
 margin-left: 43px;
 top: 305px;
 opacity: 1;
}
.base_banner_dot:nth-child(5).dot_show05 {
 margin-left: 105px;
 opacity: 1;
}
.base_banner_arrow { width: 170px; height: 161px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/base/base_banner_arrow.png) no-repeat; position: absolute; left: 495px; top: 410px; transition: all 1s; opacity: 0; }
.base_banner_arrow.arrow_show { opacity: 1; }
.base_banner_introduce p { font-size: 14px; color: #999999; font-weight:400; text-align: center; position: absolute; line-height: 16px; opacity: 0; transition: all 1s; }
.base_banner_introduce p:nth-child(1) {
 left: 260px;
 top: 510px;
}
.base_banner_introduce p:nth-child(2) {
 left: 310px;
 top: 335px;
}
.base_banner_introduce p:nth-child(3) {
 left: 530px;
 top: 200px;
}
.base_banner_introduce p:nth-child(4) {
 left: 800px;
 top: 335px;
}
.base_banner_introduce p:nth-child(5) {
 left: 820px;
 top: 510px;
}
.base_banner_introduce p:nth-child(1).show {
 opacity: 1;
}
.base_banner_introduce p:nth-child(2).show {
 opacity: 1;
}
.base_banner_introduce p:nth-child(3).show {
 opacity: 1;
}
.base_banner_introduce p:nth-child(4).show {
 opacity: 1;
}
.base_banner_introduce p:nth-child(5).show {
 opacity: 1;
}
.base_overview { width: 100%; }
.base_overview_line { position: absolute; width: 100%; height: 68px; border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; left: 0; z-index: -1; }
.base_overview_tit { text-align: center; width: 100%; }
.base_overview_tit a { font-size: 16px; color: #232323; font-weight:400; display: inline-block; text-decoration: none; line-height: 66px; margin-right: 70px; }
.base_overview_tit a.active { border-bottom: 4px solid #0070BC; }
.base_overview_main { padding: 109px 0 116px 0; overflow: hidden; }
.base_overview_main_left { float: left; position: relative; }
.base_overview_main_left_slide { position: relative; width: 561px; height: 314px; }
.base_overview_main_left_slide li { position: absolute; width: 561px; height: 314px; opacity: 0;  transition: all .5s;
}
.base_overview_main_left_slide li.active { z-index: 5; opacity: 1; }
.base_overview_main_left_slide li a { display: block; background-color: #fff;/*width: 561px;
	height: 314px;*/
}
.base_overview_main_left_slide_dot { position: absolute; z-index: 10; width: 100%; text-align: center; bottom: 15px; left: 0; }
.base_overview_main_left_slide_dot span { display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: #fff; border: 1px solid #ccc; margin-right: 10px; cursor: pointer; }
.base_overview_main_left_slide_dot span.active { border-color: #9e9e9e; }
.base_overview_main_right { margin-left: 100px; width: 445px; float: left; }
.base_overview_main_right_tit { font-size: 24px; font-weight:400; color: #232323; padding-top: 35px; margin-bottom: 45px; }
.base_overview_main_right_txt { font-size: 14px; color: #808080; font-weight:400; margin-bottom: 25px; }
.base_solution_main { width: 100%; }
.base_solution_main_bg { position: absolute; width: 100%; height: 1750px; left: 0; background-color: #f4f4f4; z-index: -1; }
.base_solution_main_tit { text-align: center; padding-top: 100px; font-size: 24px; color: #232323; font-weight:400; margin-bottom: 80px; }
.base_solution_main_introduce { width: 100%; overflow: hidden; }
.base_solution_main_introduce_pic { width: 50%; float: left; overflow: hidden; }
.base_solution_main_introduce_pic img { display: block; }
.base_solution_main_introduce_txt { width: 50%; float: left; height: 377px; background-color: #fff; }
.base_solution_main_introduce_txt_tit { padding-top: 100px; padding-left: 65px; font-size: 16px; color: #616265; font-weight:400; margin-bottom: 20px; }
.base_solution_main_introduce_txt_txt { font-size: 14px; color: #999; font-weight:400; padding-left: 65px; padding-right: 150px; }
.base_solution_main_introduce_txt_href { display: inline-block; margin-top: 25px; font-size: 14px; color: #0070BC; font-weight:400; text-decoration: none; padding-left: 65px;) no-repeat 158px 6px; padding-right: 18px; }
.base_solution_main_introduce_txt_href:hover { text-decoration: underline; color: #0070BC; }
.base_resources { width: 100%; padding-bottom:50px; }
.base_resources_tit { font-size: 24px; color: #232323; font-weight:400; padding-top: 100px; text-align: center; margin-bottom: 65px; }
.base_resources_main ul { overflow: hidden; }
.base_resources_main_li { width: 385px; float: left; border: 1px solid #e5e5e5; text-align: center; margin-right: 19px; overflow: hidden; }
.base_resources_main_li:nth-child(3) {
 margin-right: 0;
}
.base_resources_main_li_pic { display: block; }
.base_resources_main_li_tit { padding-top: 35px; font-size: 16px; color: #616265; font-weight:400; margin-bottom: 18px; }
.base_resources_main_li_txt { font-size: 14px; color: #999; font-weight:400; padding: 0 60px; margin-bottom: 20px; }
.base_resources_main_li_href { display: inline-block; font-size: 14px; text-decoration: none; color: #0070BC; margin-bottom: 40px; }
.base_resources_main_li_href:hover { text-decoration: underline; color: #0070BC; }
.base_contact { width: 100%; }
.base_contact_tit { font-size: 24px; text-align: center; color: #232323; font-weight:400; }
.base_contact_our { width: 1000px; margin: 0 auto; margin-top: 80px; }
.base_contact_our ul { overflow: hidden;padding-bottom: 40px;}
.base_contact_our_li { float: left; text-align: center;width: 32%;margin-right: 2%;}
.base_contact_our_li:nth-child(3) {
 margin-right: 0;
}
.base_contact_our_li:nth-child(1) span {
 display: inline-block;
 width: 61px;
 height: 54px;
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/base/base_contact_pic.png) no-repeat -6px -6px;
}
.base_contact_our_li:nth-child(2) span {
 display: inline-block;
 width: 61px;
 height: 54px;
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/base/base_contact_pic.png) no-repeat -5px -123px;
}
.base_contact_our_li:nth-child(3) span {
 display: inline-block;
 width: 61px;
 height: 54px;
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/base/base_contact_pic.png) no-repeat -6px -234px;
}
.base_contact_our_li h2 { font-size: 14px; font-weight: 400; color: #616265; margin-top: 40px; }
.base_contact_our_li p { font-size: 14px; font-weight:400; color: #999; margin-top: 24px; }
.base_contact_txt { margin-top: 28px; font-size: 14px; color: #999; font-weight:400; text-align: center; }
.base_contact_more { width: 40px; height: 40px; background-color: #616265; color: #fff; border-radius: 50%; margin: 28px auto; cursor: pointer; text-align: center; line-height: 22px;  transition: all .75s;
position: relative; transform: rotate(45deg); }
.base_contact_more.rotate { transform: rotate(0deg); background-color: #0070BC; }
.base_contact_more span { position: absolute; width: 20px; height: 20px; left: 50%; margin-left: -10px; top: 50%; margin-top: -10px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/base/base_more.png) no-repeat; z-index: 100; }
.network_bottom_main_aaa { width: 100%; position: relative; margin: 30px auto; transition:all .75s;
height: 446px; overflow: hidden; margin-bottom: 0; }
.network_bottom_main_aaa.hide { height: 0; }
.network_bottom_main_aaa_bg { width: 100%; height: 100%; background-color: #fff; position: absolute; z-index: -1; }
.network_bottom_main_table { width: 652px; margin: 0 auto; padding-top: 50px; }
.network_table_name { border: 1px solid #dedede; line-height: 40px; height: 40px; width: 48%; text-indent: 10px; font-size: 14px; font-weight:400; color: #232323; transition: border .2s linear 0s, box-shadow .2s linear 0s;
border-radius: 3px; vertical-align: middle; margin-bottom: 20px; }
.network_table_name:focus { border: 1px solid #999; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(0, 0, 0, 0.2); border-color: rgba(0, 0, 0, 0.2); outline: 0 none; }
.network_table_name p { color: #999; font-size: 14px; font-weight: normal; cursor: pointer; }
.network_uploadimg { width: 26%; border: 1px solid #dedede; height: 140px; border-radius: 3px; display: inline-block; position: relative; }
.network_uploadimg span { display: block; margin: 25% auto; text-align: center; }
.network_uploadimg span i { display: block; font-style: normal; color: #999; }
.network_uploadimg input { position: absolute; right: 0; top: 0; opacity: 0; cursor: pointer; width: 100%; height: 100%; }
.network_table_sub { width: 114px; height: 42px; display: block; margin: 0 auto; text-align: center; line-height: 40px; background-color: #0070BC; color: #fff; border-radius: 3px; border: 1px solid #0070BC; cursor: pointer; font-family: Open Sans; font-size: 18px; }
.network_table_sub:hover { text-decoration: none; background: #006db1; }
/*选择国家*/
.network_choose_country { position: relative; display: inline-block; margin-right: 7px; }
.network_showMore { position: absolute; width: 20px; height: 20px; right: 0; top: 14px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/network/index_icon.png) -11px -4px no-repeat; }
.network_searchCountry { width: 97%; text-align: left; height: auto; clear: both; position: absolute; top: 42px; z-index: 1111; background: #fff; border: 1px solid #ccc; border-top: none; padding: 3px 4px 0; display: none; left: -1px; }
.network_search_input { width: 92%; line-height: 28px; border: 1px solid #ccc; text-indent: 10px; font-size: 13px; margin-bottom: 3px; transition: all .2s;
}
.network_countryList { position: relative; height: 244px; width: 101%; overflow-y: scroll; }
.network_countryList li { width: 100%; height: 33px; line-height: 33px; }
.network_countryList li:hover { background: #efefef; }
.network_countryList li a { text-decoration: none; color: #232323; line-height: 25px; position: relative; display: inline-block; padding: 5px 0 5px 28px; font-size: 13px; }
.network_countryList li a em { top: 10px; }
.network_choose_country em { background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/network/country.png); background-repeat: no-repeat; position: absolute; width: 16px; height: 16px; left: 10px; top: 12px; }
.network_choose_country a { text-decoration: none; color: #232323; padding-left: 25px; }
.network_table_more { width: 70%; height: 140px; border: 1px solid #dedede; font-size: 14px; text-indent: 10px; color: #232323; transition: border .2s linear 0s, box-shadow .2s linear 0s;
border-radius: 3px; vertical-align: middle; overflow-x: hidden; font-family: Open Sans; resize: none; margin-bottom: 30px; box-sizing: border-box; margin-right: 10px; vertical-align: top; }
@media(max-width:1440px) {
 .box {
 width: 1200px;
}
}
@media(max-width:1220px) {
 .box {
 width: 960px;
}
 .base_content {
 width: 100%;
}
 .base_banner {
 height: auto;
}
 .base_main {
 display: none;
}
 .base_banner_bg {
 display: none;
}
 .base_banner_m {
 display: block;
}
 .base_overview_main_right {
 width: 290px;
}
 .base_resources_main_li {
 width: 305px;
}
 .base_contact {
 height: auto;
}
 .base_contact_our {
 width:100%
}
 .base_contact_our_li {
 margin-right: 120px;
}
.base_resources_main_li_txt{min-height: 60px;}
}
@media(max-width:960px) {
	.base_solution_main_introduce_txt{ height:inherit; padding-bottom:20px;}
 .box {
 width: 100%;
}
 .base_overview_line {
 display: none;
}
 .base_overview_tit a {
 margin-right: 15px;
}
.base_resources_main_li_txt{min-height: inherit}
 .base_overview_tit a:nth-child(4) {
 margin: 0;
}
 .base_overview_main_left {
 overflow: hidden;
}
 .base_overview_main_left_slide {
/*width: 100%;*/
	}
 .base_overview_main {
 padding-left: 0;
 padding-right: 0;
}
 .base_overview_main_left {
 width: 100%;
}
 .base_overview_main_left_slide {
 width: 100%;
}
 .base_overview_main_right {
 width: 100%;
 margin-left: 0;
 text-align: center;
}
 .base_solution_main_introduce_pic {
 width: 100%;
}
 .base_solution_main_introduce_txt {
 width: 100%;
 text-align: center;
}
 .base_solution_main_introduce_txt_tit {
 padding-top: 50px;
 padding-left: 0;
 text-align: center;
}
 .base_solution_main_introduce_txt_txt {
 padding: 0 10px;
 text-align: center;
}
 .base_solution_main_introduce_txt_href {
 padding-left: 0;
 background-position-x: 80px;
}
 .base_solution_main {
 height: auto;
}
 .base_solution_main_bg {
 display: none;
}
 .base_solution_main_tit {
 padding-top: 0;
}
 .base_resources_tit {
 padding-top: 0;
}
 .base_resources_main_li {
 width: 100%;
 margin: 0 auto;
 float: none;
 margin-bottom: 10px;
 border:none;
}
 .base_contact_li {
 width: 100%;
 margin-bottom: 10px;
}
 .base_contact_li_pic img {
 width: 100%;
}
 .base_contact_tit {
 padding-top: 0;
}
 .base_contact_dl {
 margin: 0;
 padding-left: 0;
 width: 210px;
 display: block;
 margin: 0 auto;
 margin-bottom: 20px;
}
 .base_contact_dl:nth-child(3) {
 margin: 0 auto;
}
 .base_contact_mode {
 text-align: left;
}
 .base_contact ul {
 margin-bottom: 50px;
}
 .base_overview_main_left_slide li {
 width: 100%;
}
 .base_overview_main_left_slide li img {
 width: 100%;
}
 .base_overview_main_left_slide_dot {
 bottom: 105px;
}
 .base_solution_main_introduce_pic img {
 width: 100%;
}
 .base_contact_mode {
 margin-bottom: 30px;
}
 .base_contact_our_li {
 margin-right: 0;
 margin:0 10px;
}
 .network_bottom_main_table {
 width: auto;
}
}
@media(max-width:480px) {
 .network_table_name, .network_table_more, .network_uploadimg {
 width: 100%;
}
 .network_bottom {
 height: inherit;
}
 .network_bottom_bg {
 position: inherit;
 height: inherit;
}
 .network_bottom_main_aaa span {
 margin: 10% 0;
}
 .network_table_sub {
 margin-top: 20px;
}
 .showMore {
 top: -16px;
}
 .network_bottom_main_aaa {
 height:auto;
}
 .network_showMore {
 top: -22px;
}
.base_contact_our_li {
    margin-right: 0;
    float: none;
    margin: 30px auto;
}
}
