﻿body{margin:0 auto; padding:0; font-size:13px; font-family:'微软雅黑',Arial,Helvetica,sans-serif; font-style:normal; font-weight:400;list-style: none;}
.box {width: 1440px; padding: 0; margin: 0 auto;}
.content {padding: 0;}
img{display: block;}
h1, h2, h3, p, ul, li, dl, dt, dd, input, select, form, div { margin: 0; padding: 0;list-style: none;}
/*样式 开始*/
.about_us_banner{
	height: 426px;
}
.about_us_banner_bg{
	position: absolute;
	width: 100%;
	left: 0;
	z-index: -1;
	height: 460px;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/company/briefing01.jpg) no-repeat center 0;
}
.company_culture_banner { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/company/company_culture_banner.jpg) no-repeat center 0;}
.partner_banner { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/company/partner_banner.jpg) no-repeat center 0;}
.join_banner { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/company/join_banner.jpg) no-repeat center 0;}
.about_us_banner_tit{
	font-size: 48px;
	text-align: center;
	color: #fff;
	padding-top: 130px;
	line-height: 64px;
	margin-bottom: 17px;
}
.about_us_banner_tit img{
	margin:0 auto;
}
.about_us_banner_line{
	display: block;
	width: 60px;
	height: 4px;
	background-color: #fff;
	margin: 0 auto;
}
.about_us_banner_txt{
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-top: 15px;
}
.about_us_choose{
	margin: 0 auto;
	width: 100%;
}
.about_us_choose ul{
	overflow: hidden;
	margin: 0 18%;
}
.about_us_choose_list{
	width:25%;
	height: 68px;
	box-sizing: border-box;
	border:1px solid #dedede;
	background-color: #fff;
	float: left;
	position: relative;
}
.about_us_choose_list:nth-child(1),.about_us_choose_list:nth-child(2),.about_us_choose_list:nth-child(3){
	border-right: none;
}
.about_us_choose_list:nth-child(2),.about_us_choose_list:nth-child(3),.about_us_choose_list:nth-child(4){
	border-left: none;
}
.about_us_choose_list:hover span{

}
.about_us_choose_list span{
	position: absolute;
	width: 1px;
	height: 36px;
	right: 0;
	top: 50%;
	margin-top: -18px;
	background-color: #dedede;
}
.about_us_choose_list a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-align: center;
	line-height: 68px;
	color: #616265;
	font-size: 18px;
}
.about_us_choose_list.choose{
	background-color: #0070BC;
	border-color: #0070BC;
	margin-left: -1px;
}
.about_us_choose_list.choose a{
	color: #fff;
}
.about_us_tit{
	font-size: 30px;
	color: #616265;
	text-align: center;
	font-weight: normal;
	padding-top: 80px;
	margin-bottom: 40px;
	line-height: 40px;
}
.about_us_tit.about_us_bottom{
    padding-top: 0;
}
.about_us_txt{
    font-size: 16px;
    color: #999;
    text-align: center;
    line-height: 28px;
    padding: 0px 210px;
    margin-bottom: 55px;
}
.briefing_cloud img{
	margin: 0 auto;
	width:100%;
}
.briefing_solve ul{
	overflow: hidden;
}
.briefing_solve_list{
	width: 32.5%;
	margin-right: 1%;
	float: left;
	overflow: hidden;
}
.briefing_solve_list:last-child { margin-right:0;}
.briefing_solve_list:last-child{
	margin-right: 0;
}
.briefing_solve_list a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.briefing_solve_list a{
	width: 100%;
}
.briefing_solve_list a img{
	width: 100%;
}
.briefing_solve_list_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-size: 100%;
	transition: all .5s;
}
.briefing_solve_list a:hover .briefing_solve_list_bg{
	transform: scale(1.1);
}
.briefing_solve_list:nth-child(1) .briefing_solve_list_bg{
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/company/briefing09.jpg) no-repeat;
}
.briefing_solve_list:nth-child(2) .briefing_solve_list_bg{
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/company/briefing10.jpg) no-repeat;
}
.briefing_solve_list:nth-child(3) .briefing_solve_list_bg{
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/company/briefing11.jpg) no-repeat;
}
.briefing_solve_list_animate{
	position: absolute;
	width: 100%;
	top: 190px;
	z-index: 2;
}
.briefing_solve_list_animate h2{
	text-align: center;
	font-size: 22px;
	color: #fff;
	font-weight: normal;
	transition: all .5s;
}
.briefing_solve_list:nth-child(1) a:hover .briefing_solve_list_animate h2{
	transform: translateX(-115px);
}
.briefing_solve_list:nth-child(2) a:hover .briefing_solve_list_animate h2{
	transform: translateX(-80px);
}
.briefing_solve_list:nth-child(3) a:hover .briefing_solve_list_animate h2{
	transform: translateX(-91px);
}
.briefing_solve_list_animate span{
	display: block;
	width: 40px;
	height: 4px;
	background-color: #fff;
	margin-top: 10px;
	transition: all .5s;
}
.briefing_solve_list:nth-child(1) .briefing_solve_list_animate span{
	transform: translateX(176px);
}
.briefing_solve_list:nth-child(2) .briefing_solve_list_animate span{
	transform: translateX(143px);
}
.briefing_solve_list:nth-child(3) .briefing_solve_list_animate span{
	transform: translateX(153px);
}
.briefing_solve_list a:hover .briefing_solve_list_animate span{
	transform: translateX(366px);
	width: 60px;
}
.briefing_solve_list_animate p{
	font-size: 16px;
	color: #fff;
	transform: translateX(176px);
	transition: all .5s;
	opacity: 0;
}
.briefing_solve_list a:hover .briefing_solve_list_animate p{
	opacity: 1;
	transform: translateX(395px);
}
.briefing_solve_list_animate em{
	display: block;
	color: #fff;
	font-style: normal;
	font-size: 16px;
	color: #fff;
	transform:translateX(176px);
	transition: all .5s;
	opacity: 0;
}
.briefing_solve_list a:hover .briefing_solve_list_animate em{
	transform: translateX(62px);
	opacity: 1;
}
.briefing_advantage ul { overflow:hidden;}
.briefing_advantage ul li{ float:left;width: 32.5%;margin-right: 1%; margin-bottom:1%; border:1px solid #dedede; min-height:386px;}
.briefing_advantage ul li:nth-child(3n+0){margin-right:0;}
.briefing_advantage ul li img { display:block; margin:0 auto; padding:58px 0 35px 0;}
.briefing_advantage ul li b{ font-size:20px; color:#616265; font-weight:normal; text-align:center; display:block; margin-bottom:20px;}
.briefing_advantage ul li p { padding:0 20%; font-size:14px; color:#999; line-height:24px;}
.briefing_advantage{margin-bottom: 60px;overflow: hidden;}
.company_culture {margin: 80px 8% 0 8%; overflow:hidden; padding-right:90px;box-shadow: 0 10px 25px rgba(0, 0, 0, 0.07)}
.company_culture img { display:block; float:left; margin-right:90px;}
.company_culture h2 { font-size:30px; color:#616265; font-weight:normal; margin-bottom:40px;margin-top: 80px;}
.company_culture p { font-size:16px; color:#999; line-height:36px;}
.company_vision_video img{ display:block; margin:0 auto; max-width:100%;}
.company_vision_video { position:relative;}
.video_button { width:88px; height:88px; border:2px solid #fff; border-radius:50%; position:absolute; z-index:1; display:block;top:45%; left:48%;}
.video_button em {display: block;width: 0px;height: 0;margin:0 auto;border-left:25px solid #fff;border-top:20px solid rgba(0,0,0,0);border-bottom:20px solid rgba(0,0,0,0);top: 50%;left: 50%;margin-top:24px;margin-left:35px;}
.company_values { overflow:hidden; margin-bottom:80px;}
.company_values ul { overflow:hidden;}
.company_values ul li { float:left; width:24%;margin-right: 1%; border:1px solid #dedede; min-height:330px;}
.company_values ul li:last-child {margin-right:0;}
.company_values ul li img {display:block; margin:0 auto; padding:62px 0 34px;}
.company_values ul li b { font-size:20px; color:#616265; font-weight:normal; text-align:center; display:block; margin-bottom:20px;}
.company_values ul li p { padding:0 50px; font-size:14px; color:#999; line-height:24px;}
.company_partner {padding: 0 8%;}
.company_partner img { display:block; margin:0 auto; max-width:100%;}
.company_partner_row{
    /*margin-left: -40px;*/
    /*margin-right: -40px;*/
}
.company_partner_row:after{
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
}
.partner01 {
    float: left;
    overflow:hidden;
    box-sizing: border-box;
    padding: 0 70px 0 0;
    /*border-bottom:1px solid #dedede;*/
    /*padding:4% 6%;*/
    width: 50%;
}
.partner01 img { display:block; float:left;}
.partner01_text {
    /*margin-left:150px;*/
}
.partner01 h2,.partner02 h2 { font-size:18px; font-weight:normal; color:#616265; margin-bottom:30px;}
.partner01 p,.partner02 p { font-size:14px; color:#999; line-height:30px;}
.partner02 {
    overflow:hidden;
    box-sizing: border-box;
    padding: 0 0 0 70px;
    /*padding:4% 6%;*/
    width: 50%;
    float: left;
}
.partner02 img { float:right;display:block;}
.partner02_text {
    /*margin-right: 150px;*/
}
.partner_logo { width:100%; margin-top:75px;margin-bottom: 40px}
.partner_logo h3{
    text-align: center;
    color: #616265;
    font-size: 30px;
    font-weight: 400;
}
.partner_logo_bg { position:absolute; left:0; width:100%; height:469px; z-index:-1; background:#f1f6f8;}
.partner_logo ul {
    overflow:hidden;
    width: 1200px;
    padding-top: 60px;
    margin: 0 auto;
}
.partner_logo ul li {
    float:left;
    width:25%;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    /*margin:50px 0;*/
}
.partner_logo ul li:nth-of-type(4),.partner_logo ul li:nth-of-type(8){
    border-right: 1px solid transparent;
}
.partner_logo ul li:nth-of-type(5),.partner_logo ul li:nth-of-type(6),.partner_logo ul li:nth-of-type(7),.partner_logo ul li:nth-of-type(8){
    border-bottom: 1px solid transparent;
}
.partner_logo ul li img { display:block; margin:0 auto; max-width:100%;}
.company_join_con img { display:block; margin:0 auto; max-width:100%;}
.company_join_con { position:relative;}
.company_join_con a { position:absolute; display:block; top:43%; left:43%; color:#fff; border:2px solid #fff; text-decoration:none; padding:15px 40px; font-size:20px; border-radius:3px;}
.company_join_con a:hover {background: rgba(255, 255, 255, 0.2);}
.company_join { overflow:hidden; margin-bottom:80px;}

/*20180419tom新增*/
.partner-carousel{
    height: 600px;
    margin-top: 75px;
}
.pc-content{
    width: 1300px;
    margin: 0 auto;
}
.partner-carousel-bg{
    height: 600px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/company/he_02.jpg) no-repeat center;
}
.partner-carousel>h3{
    color: #616265;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding:70px 0 26px;
    font-weight: 400;
}
.partner-carousel>p{
    color: #999999;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 70px;
}
.pc-row{
    display: none;
    margin-right: -50px;
    margin-left: -50px;
}
.pc-row.active{
    display: block;
}
.pc-row:after{
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
}
.pc-row .pc-summary{
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 0 50px;
}
.pc-summary-bg{
    background: #ffffff;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    height: 96px;
    /*overflow: hidden;*/
    padding: 80px 70px 60px 70px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}
.pc-summary-icon{
    width: 60px;
    height: 60px;
    position: absolute;
    top: -25px;
    left: 110px;
}
.pc-summary-icon img{
    width: 100%;
    height: 100%;
}
.pc-summary-icon span{
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 25px;
    left: -35px;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/company/hzhb_08.jpg) no-repeat 0px 0px;
}
.pc-summary-bg em{
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) transparent transparent;
    border-width: 9px 9px 9px 9px;
    border-style: solid;
    filter: blur(2px);
}
.pc-summary-bg i{
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    border-color: #ffffff #ffffff transparent transparent;
    border-width: 8px 8px 8px 8px;
    border-style: solid;
}
.pc-summary-n{
    margin-top: 25px;
    padding-left: 70px;
}
.pc-summary-n span{
    font-weight: 400;
    padding-right: 15px;
    font-size: 20px;
    color: #616265;
}
.pc-summary-n em{
    font-size: 14px;
    color: #999999;
    font-style: normal;
}
.pc-tab{
    margin-top: 40px;
    text-align: center;
}
.pc-tab span{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 100%;
    cursor: pointer;
    background: #999;
}
.pc-tab span.active{
    background: #0070BC;
}
/*20180419tom新增结束*/

/*弹窗样式*/
.ui-widget-overlay {
	background: #000;
	opacity: .3;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 98;
	display: none;
}
.ui-corner-fixed {
	position: fixed !important;
}
.xx-layer {
	width: 800px;
}
.ui-corner-layer {
	position: absolute;
	background: rgba(0,0,0,0.2);
	padding: 8px;
	z-index: 99999;
	line-height: 24px;
}
.ui-corner-all {
	/*    background: #FFF;*/
	border-radius: 6px;
}
.popup_con {
	padding: 15px;
	background: #fff;
	border-radius: 0 0 6px 6px;
}
.box_close {
	float: right;
	position: absolute;
	top: 19px;
	right: 15px;
}
.box_close a {
	display: block;
	width: 25px;
	height: 25px;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/company/menu_bg_01.gif) no-repeat -718px -211px #fff;
}
/*结束*/
@media (max-width: 1440px) {
	.box { width:1200px;}
	.content {
		width: 100%;
	}
	.company_culture { margin:80px 0 0 0;}
	.briefing_advantage ul li { width:32%;}


    .pc-content{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 1220px) {
	.box {
		width: 960px;
		padding: 0;
	}
	.content {
		width: 100%;
	}
	.company_culture img { width: 50%;}
	.company_culture h2 { margin-top:40px;margin-bottom:20px;}
	.company_culture p { line-height:30px;}
	.company_values ul li { min-height:350px;}
    .partner_logo{
        overflow-y: auto;
    }
    .pc-summary-bg{
        padding: 50px 20px 50px 20px;
    }
    /*.pc-summary-bg em{*/
        /*filter: initial;*/
    /*}*/
}
@media (max-width: 960px) {
	.box, .content {
		width: 100%;
		padding: 0;
	}
	.about_us_choose_list { float:none; width:100%; border-bottom:none;}
	.about_us_choose_list:nth-child(4) { border-bottom:1px solid #dedede;}
	.about_us_choose_list span { display:none;}
	.about_us_choose_list:nth-child(1), .about_us_choose_list:nth-child(2), .about_us_choose_list:nth-child(3) { display:block;}
	.about_us_choose_list:nth-child(2), .about_us_choose_list:nth-child(3), .about_us_choose_list:nth-child(4) {border-left:1px solid #dedede;}
	.about_us_choose_list:nth-child(1), .about_us_choose_list:nth-child(2), .about_us_choose_list:nth-child(3) {border-right:1px solid #dedede;}
	.about_us_choose ul { margin:0 20px;}
	.about_us_tit { font-size:24px; padding-top:40px; margin-bottom:20px;}
	.about_us_txt { width:inherit; padding:0 10px; margin-bottom:30px;}
	.about_us_txt br,.company_culture p br{ display:none;}
	.briefing_solve ul{ padding:0 10px;}
	.briefing_solve_list{ width:100%; margin-left:0; margin-bottom:10px;}
	.briefing_solve_list_bg { display:none;}
	.briefing_advantage ul { padding:0 10px;}
	.briefing_advantage ul li { width: 100%; margin-left:0;margin-bottom:10px;}
	/*.partner_logo ul li { width:50%;}*/
	/*.partner_logo { height:auto; background:#f1f6f8;}*/
	.partner_logo_bg { display:none;}
	.partner01 img,.partner02 img { float:none; margin-bottom:30px;}
	.partner01_text { margin-left:0;}
	.partner02_text { margin-right:0;}
	.partner01 h2, .partner02 h2 { text-align:center;}
	.company_join_con a { top:40%; left:40%;}
	.video_button {top:40%; left:45%;}
	.company_culture img { float:none; width:100%;}
	.company_culture {box-shadow:none; padding-right:0;}
	.company_culture p { width: initial; padding:0 10px;}
	.company_culture h2 { text-align:center;}
	.company_values ul li { width:48%; margin-left:1%; margin-bottom:10px;}
	.company_values ul li:nth-child(even){ margin-left:0;}
	.ui-corner-layer {
		left: 0;
		padding: 0;
		top: 0;
		width: 100%;
		margin-left: 0;
		border-radius: 0;
	}
	.popup_con {
		max-height: 500px;
		overflow-y: auto;
	}
	.popup_con, .popup_tit {
		border-radius: 0;
		padding: 15px;
		text-align: left;
	}
    .pc-row{
        margin-left: 0;
        margin-right: 0;
    }
    .pc-row .pc-summary{
        width: 100%;
        margin-top: 70px;
        padding: 0 8%;
    }
    .partner-carousel{
        height: auto;
        margin-top: 30px;
        background: #f6f6f6;
    }
    .partner-carousel-bg{
        height: auto;
        background: #f6f6f6;
    }
    .pc-summary-n {
        margin-top: 15px;
        padding-left: 30px;
    }
    .partner-carousel>p{
        padding-bottom: 10px;
    }
    .partner-carousel>h3{
        padding: 50px 0 14px;
    }
    .pc-tab{
        visibility: hidden;
    }
    .pc-row{
        display: block;
    }

}
@media (max-width:480px) {.company_join_con a { top:25%; left:25%;}.video_button {top:25%; left:40%;}.company_values ul li { width:100%; margin-left:0;} .company_values ul { padding:0 10px;}}

@media (max-width:960px) {
	.briefing_advantage ul{display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;flex-wrap: wrap;-webkit-wrap: wrap;}
	.briefing_advantage ul li{width: 32%;margin: 1% 0;min-height:inherit;padding-bottom: 30px;}
	
}
@media (max-width:730px) {
	.briefing_advantage ul li{width:49%}
    .partner02,.partner01{
        width: 100%;
        padding: 0;
    }
    .company_partner_row{
        padding-top: 30px;
    }
    .company_partner{
        padding: 0 20px;
    }
    .partner01 h2, .partner02 h2{
        margin-bottom: 15px;
    }
    .pc-row .pc-summary{
        padding: 0 20px;
    }
}
@media (max-width:480px) {
	.about_us_banner,.about_us_banner_bg{height:280px;}
	.about_us_banner_tit{padding-top:70px;}
	.about_us_choose ul li:first-child{margin-top: -34px;position: relative;z-index: 10;}
	.about_us_choose ul{overflow:inherit}
	.briefing_advantage ul li{width:100%}
}

