.m_header .cn{
	background-position: -22px -14px;
}
.m_header .hk{
	background-position: -72px -14px;
}
.m_header .id{
	background-position: -122px -14px;
}
.m_header .jp{
	background-position: -172px -14px;
}
.m_header .mo{
	background-position: -222px -14px;
}
.m_header .sg{
	background-position: -272px -14px;
}
.m_header .tw{
	background-position: -22px -64px;
}
.m_header .kr{
	background-position: -72px -64px;
}
.m_header .au{
	background-position: -122px -64px;
}
.m_header .nz{
	background-position: -172px -64px;
}
.m_header .my{
	background-position: -222px -64px;
}
.m_header .vn{
	background-position: -272px -64px;
}
.m_header .th{
	background-position: -322px -14px;
}
.m_header .be{
	background-position: -322px -64px;
}
.m_header .gb{
	background-position: -372px -14px;
}
.m_header .fr{
	background-position: -422px -14px;
}
.m_header .de{
	background-position: -522px -14px;
}
.m_header .it{
	background-position: -572px -14px;
}
.m_header .nl{
	background-position: -622px -14px;
}
.m_header .lu{
	background-position: -672px -14px;
}
.m_header .dk{
	background-position: -722px -14px;
}
.m_header .ie{
	background-position: -472px -14px;
}
.m_header .es{
	background-position: -372px -64px;
}
.m_header .gr{
	background-position: -472px -64px;
}
.m_header .pt{
	background-position: -522px -64px;
}
.m_header .at{
	background-position: -572px -64px;
}
.m_header .se{
	background-position: -622px -64px;
}
.m_header .fi{
	background-position: -672px -64px;
}
.m_header .mt{
	background-position: -422px -64px;
}
.m_header .cy{
	background-position: -722px -64px;
}
.m_header .pl{
	background-position: -222px -114px;
}
.m_header .hu{
	background-position: -22px -114px;
}
.m_header .cz{
	background-position: -72px -114px;
}
.m_header .sk{
	background-position: -122px -114px;
}
.m_header .si{
	background-position: -172px -114px;
}
.m_header .ee{
	background-position: -272px -114px;
}
.m_header .lv{
	background-position: -322px -114px;
}
.m_header .lt{
	background-position: -372px -114px;
}
.m_header .ro{
	background-position: -422px -114px;
}
.m_header .bg{
	background-position: -472px -114px;
}
.m_header .hr{
	background-position: -522px -114px;
}
.m_header .ch{
	background-position: -572px -114px;
}
.m_header .ru{
	background-position: -622px -114px;
}
.m_header .mc{
	background-position: -672px -114px;
}
.m_header .tr{
	background-position: -722px -114px;
}
.m_header .no{
	background-position: -22px -164px;
}
.m_header .mk{
	background-position: -72px -164px;
}
.m_header .me{
	background-position: -122px -164px;
}
.m_header .ua{
	background-position: -172px -164px;
}
.m_header .by{
	background-position: -222px -164px;
}
.m_header .is{
	background-position: -272px -164px;
}
.m_header .ba{
	background-position: -322px -164px;
}
.m_header .us{
	background-position: -372px -164px;
}
.m_header .ca{
	background-position: -422px -164px;
}
.m_header .pr{
	background-position: -472px -164px;
}
.m_header .mx{
	background-position: -522px -164px;	
}
.m_header .br{
	background-position: -572px -164px;	
}
.m_header .ar{
	background-position: -622px -164px;	
}
.m_header .cl{
	background-position: -672px -164px;
}
.m_header .bs{
	background-position: -722px -164px;
}
.m_header .pa{
	background-position: -222px -214px;
}
.m_header .pe{
	background-position: -22px -214px;
}
.m_header .co{
	background-position: -72px -214px;
}
.m_header .gt{
	background-position: -122px -214px;
}
.m_header .gy{
	background-position: -172px -214px;
}
.m_header .hn{
	background-position: -272px -214px;
}
.m_header .jm{
	background-position: -322px -214px;
}
.m_header .ve{
	background-position: -372px -214px;
}
.m_header .uy{
	background-position: -422px -214px;
}
.m_header .py{
	background-position: -472px -214px;
}
.m_header .in{
	background-position: -522px -214px;
}
.m_header .cf{
	background-position: -572px -214px;
}
.m_header .eg{
	background-position: -622px -214px;
}
.m_header .gn{
	background-position: -672px -214px;
}
.m_header .il{
	background-position: -722px -214px;
}
.m_header .jo{
	background-position: -22px -264px;
}
.m_header .ke{
	background-position: -72px -264px;
}
.m_header .kw{
	background-position: -122px -264px;
}
.m_header .mg{
	background-position: -172px -264px;
}
.m_header .ma{
	background-position: -222px -264px;
}
.m_header .ng{
	background-position: -272px -264px;
}
.m_header .om{
	background-position: -322px -264px;
}
.m_header .sa{
	background-position: -372px -264px;
}
.m_header .za{
	background-position: -422px -264px;
}
.m_header .tn{
	background-position: -472px -264px;
}
.m_header .ae{
	background-position: -522px -264px;
}
.m_header .ph{
	background-position: -572px -264px;
}
.m_header .kh{
	background-position: -622px -264px;
}
.m_header .kz{
	background-position: -672px -264px;
}
.m_header .pk{
	background-position: -722px -264px;
}
.m_header .ec{
	background-position: -22px -314px;
}
.m_header .cr{
	background-position: -72px -314px;
}
.m_header .bo{
	background-position: -122px -314px;
}
.m_header .do{
	background-position: -172px -314px;
}


/*PC*/
.country_con .cn{
	background-position: -22px -14px;
}
.country_con .hk{
	background-position: -72px -14px;
}
.country_con .id{
	background-position: -122px -14px;
}
.country_con .jp{
	background-position: -172px -14px;
}
.country_con .mo{
	background-position: -222px -14px;
}
.country_con .sg{
	background-position: -272px -14px;
}
.country_con .tw{
	background-position: -22px -64px;
}
.country_con .kr{
	background-position: -72px -64px;
}
.country_con .au{
	background-position: -122px -64px;
}
.country_con .nz{
	background-position: -172px -64px;
}
.country_con .my{
	background-position: -222px -64px;
}
.country_con .vn{
	background-position: -272px -64px;
}
.country_con .th{
	background-position: -322px -14px;
}
.country_con .be{
	background-position: -322px -64px;
}
.country_con .gb{
	background-position: -372px -14px;
}
.country_con .fr{
	background-position: -422px -14px;
}
.country_con .de{
	background-position: -522px -14px;
}
.country_con .it{
	background-position: -572px -14px;
}
.country_con .nl{
	background-position: -622px -14px;
}
.country_con .lu{
	background-position: -672px -14px;
}
.country_con .dk{
	background-position: -722px -14px;
}
.country_con .ie{
	background-position: -472px -14px;
}
.country_con .es{
	background-position: -372px -64px;
}
.country_con .gr{
	background-position: -472px -64px;
}
.country_con .pt{
	background-position: -522px -64px;
}
.country_con .at{
	background-position: -572px -64px;
}
.country_con .se{
	background-position: -622px -64px;
}
.country_con .fi{
	background-position: -672px -64px;
}
.country_con .mt{
	background-position: -422px -64px;
}
.country_con .cy{
	background-position: -722px -64px;
}
.country_con .pl{
	background-position: -222px -114px;
}
.country_con .hu{
	background-position: -22px -114px;
}
.country_con .cz{
	background-position: -72px -114px;
}
.country_con .sk{
	background-position: -122px -114px;
}
.country_con .si{
	background-position: -172px -114px;
}
.country_con .ee{
	background-position: -272px -114px;
}
.country_con .lv{
	background-position: -322px -114px;
}
.country_con .lt{
	background-position: -372px -114px;
}
.country_con .ro{
	background-position: -422px -114px;
}
.country_con .bg{
	background-position: -472px -114px;
}
.country_con .hr{
	background-position: -522px -114px;
}
.country_con .ch{
	background-position: -572px -114px;
}
.country_con .ru{
	background-position: -622px -114px;
}
.country_con .mc{
	background-position: -672px -114px;
}
.country_con .tr{
	background-position: -722px -114px;
}
.country_con .no{
	background-position: -22px -164px;
}
.country_con .mk{
	background-position: -72px -164px;
}
.country_con .me{
	background-position: -122px -164px;
}
.country_con .ua{
	background-position: -172px -164px;
}
.country_con .by{
	background-position: -222px -164px;
}
.country_con .is{
	background-position: -272px -164px;
}
.country_con .ba{
	background-position: -322px -164px;
}
.country_con .us{
	background-position: -372px -164px;
}
.country_con .ca{
	background-position: -422px -164px;
}
.country_con .pr{
	background-position: -472px -164px;
}
.country_con .mx{
	background-position: -522px -164px;	
}
.country_con .br{
	background-position: -572px -164px;	
}
.country_con .ar{
	background-position: -622px -164px;	
}
.country_con .cl{
	background-position: -672px -164px;
}
.country_con .bs{
	background-position: -722px -164px;
}
.country_con .pa{
	background-position: -222px -214px;
}
.country_con .pe{
	background-position: -22px -214px;
}
.country_con .co{
	background-position: -72px -214px;
}
.country_con .gt{
	background-position: -122px -214px;
}
.country_con .gy{
	background-position: -172px -214px;
}
.country_con .hn{
	background-position: -272px -214px;
}
.country_con .jm{
	background-position: -322px -214px;
}
.country_con .ve{
	background-position: -372px -214px;
}
.country_con .uy{
	background-position: -422px -214px;
}
.country_con .py{
	background-position: -472px -214px;
}
.country_con .in{
	background-position: -522px -214px;
}
.country_con .cf{
	background-position: -572px -214px;
}
.country_con .eg{
	background-position: -622px -214px;
}
.country_con .gn{
	background-position: -672px -214px;
}
.country_con .il{
	background-position: -722px -214px;
}
.country_con .jo{
	background-position: -22px -264px;
}
.country_con .ke{
	background-position: -72px -264px;
}
.country_con .kw{
	background-position: -122px -264px;
}
.country_con .mg{
	background-position: -172px -264px;
}
.country_con .ma{
	background-position: -222px -264px;
}
.country_con .ng{
	background-position: -272px -264px;
}
.country_con .om{
	background-position: -322px -264px;
}
.country_con .sa{
	background-position: -372px -264px;
}
.country_con .za{
	background-position: -422px -264px;
}
.country_con .tn{
	background-position: -472px -264px;
}
.country_con .ae{
	background-position: -522px -264px;
}
.country_con .ph{
	background-position: -572px -264px;
}
.country_con .kh{
	background-position: -622px -264px;
}
.country_con .kz{
	background-position: -672px -264px;
}
.country_con .pk{
	background-position: -722px -264px;
}
.country_con .ec{
	background-position: -22px -314px;
}
.country_con .cr{
	background-position: -72px -314px;
}
.country_con .bo{
	background-position: -122px -314px;
}
.country_con .do{
	background-position: -172px -314px;
}

/*移动端底部*/
.m_footer_country .cn{
	background-position: -22px -14px;
}
.m_footer_country .hk{
	background-position: -72px -14px;
}
.m_footer_country .id{
	background-position: -122px -14px;
}
.m_footer_country .jp{
	background-position: -172px -14px;
}
.m_footer_country .mo{
	background-position: -222px -14px;
}
.m_footer_country .sg{
	background-position: -272px -14px;
}
.m_footer_country .tw{
	background-position: -22px -64px;
}
.m_footer_country .kr{
	background-position: -72px -64px;
}
.m_footer_country .au{
	background-position: -122px -64px;
}
.m_footer_country .nz{
	background-position: -172px -64px;
}
.m_footer_country .my{
	background-position: -222px -64px;
}
.m_footer_country .vn{
	background-position: -272px -64px;
}
.m_footer_country .th{
	background-position: -322px -14px;
}
.m_footer_country .be{
	background-position: -322px -64px;
}
.m_footer_country .gb{
	background-position: -372px -14px;
}
.m_footer_country .fr{
	background-position: -422px -14px;
}
.m_footer_country .de{
	background-position: -522px -14px;
}
.m_footer_country .it{
	background-position: -572px -14px;
}
.m_footer_country .nl{
	background-position: -622px -14px;
}
.m_footer_country .lu{
	background-position: -672px -14px;
}
.m_footer_country .dk{
	background-position: -722px -14px;
}
.m_footer_country .ie{
	background-position: -472px -14px;
}
.m_footer_country .es{
	background-position: -372px -64px;
}
.m_footer_country .gr{
	background-position: -472px -64px;
}
.m_footer_country .pt{
	background-position: -522px -64px;
}
.m_footer_country .at{
	background-position: -572px -64px;
}
.m_footer_country .se{
	background-position: -622px -64px;
}
.m_footer_country .fi{
	background-position: -672px -64px;
}
.m_footer_country .mt{
	background-position: -422px -64px;
}
.m_footer_country .cy{
	background-position: -722px -64px;
}
.m_footer_country .pl{
	background-position: -222px -114px;
}
.m_footer_country .hu{
	background-position: -22px -114px;
}
.m_footer_country .cz{
	background-position: -72px -114px;
}
.m_footer_country .sk{
	background-position: -122px -114px;
}
.m_footer_country .si{
	background-position: -172px -114px;
}
.m_footer_country .ee{
	background-position: -272px -114px;
}
.m_footer_country .lv{
	background-position: -322px -114px;
}
.m_footer_country .lt{
	background-position: -372px -114px;
}
.m_footer_country .ro{
	background-position: -422px -114px;
}
.m_footer_country .bg{
	background-position: -472px -114px;
}
.m_footer_country .hr{
	background-position: -522px -114px;
}
.m_footer_country .ch{
	background-position: -572px -114px;
}
.m_footer_country .ru{
	background-position: -622px -114px;
}
.m_footer_country .mc{
	background-position: -672px -114px;
}
.m_footer_country .tr{
	background-position: -722px -114px;
}
.m_footer_country .no{
	background-position: -22px -164px;
}
.m_footer_country .mk{
	background-position: -72px -164px;
}
.m_footer_country .me{
	background-position: -122px -164px;
}
.m_footer_country .ua{
	background-position: -172px -164px;
}
.m_footer_country .by{
	background-position: -222px -164px;
}
.m_footer_country .is{
	background-position: -272px -164px;
}
.m_footer_country .ba{
	background-position: -322px -164px;
}
.m_footer_country .us{
	background-position: -372px -164px;
}
.m_footer_country .ca{
	background-position: -422px -164px;
}
.m_footer_country .pr{
	background-position: -472px -164px;
}
.m_footer_country .mx{
	background-position: -522px -164px;	
}
.m_footer_country .br{
	background-position: -572px -164px;	
}
.m_footer_country .ar{
	background-position: -622px -164px;	
}
.m_footer_country .cl{
	background-position: -672px -164px;
}
.m_footer_country .bs{
	background-position: -722px -164px;
}
.m_footer_country .pa{
	background-position: -222px -214px;
}
.m_footer_country .pe{
	background-position: -22px -214px;
}
.m_footer_country .co{
	background-position: -72px -214px;
}
.m_footer_country .gt{
	background-position: -122px -214px;
}
.m_footer_country .gy{
	background-position: -172px -214px;
}
.m_footer_country .hn{
	background-position: -272px -214px;
}
.m_footer_country .jm{
	background-position: -322px -214px;
}
.m_footer_country .ve{
	background-position: -372px -214px;
}
.m_footer_country .uy{
	background-position: -422px -214px;
}
.m_footer_country .py{
	background-position: -472px -214px;
}
.m_footer_country .in{
	background-position: -522px -214px;
}
.m_footer_country .cf{
	background-position: -572px -214px;
}
.m_footer_country .eg{
	background-position: -622px -214px;
}
.m_footer_country .gn{
	background-position: -672px -214px;
}
.m_footer_country .il{
	background-position: -722px -214px;
}
.m_footer_country .jo{
	background-position: -22px -264px;
}
.m_footer_country .ke{
	background-position: -72px -264px;
}
.m_footer_country .kw{
	background-position: -122px -264px;
}
.m_footer_country .mg{
	background-position: -172px -264px;
}
.m_footer_country .ma{
	background-position: -222px -264px;
}
.m_footer_country .ng{
	background-position: -272px -264px;
}
.m_footer_country .om{
	background-position: -322px -264px;
}
.m_footer_country .sa{
	background-position: -372px -264px;
}
.m_footer_country .za{
	background-position: -422px -264px;
}
.m_footer_country .tn{
	background-position: -472px -264px;
}
.m_footer_country .ae{
	background-position: -522px -264px;
}
.m_footer_country .ph{
	background-position: -572px -264px;
}
.m_footer_country .kh{
	background-position: -622px -264px;
}
.m_footer_country .kz{
	background-position: -672px -264px;
}
.m_footer_country .pk{
	background-position: -722px -264px;
}
.m_footer_country .ec{
	background-position: -22px -314px;
}
.m_footer_country .cr{
	background-position: -72px -314px;
}
.m_footer_country .bo{
	background-position: -122px -314px;
}
.m_footer_country .do{
	background-position: -172px -314px;
}
/*waller 2017.09.12 头部pc 国旗*/
.af {
    background-position: 0 0
}

.WW {
    background-position: -20px 0
}

.WW {
    background-position: -40px 0
}

.al {
    background-position: -60px 0
}

.WW {
    background-position: -80px 0
}

.dz {
    background-position: -100px 0
}

.as {
    background-position: -120px 0
}

.ad {
    background-position: -140px 0
}

.ao {
    background-position: -160px 0
}

.ai {
    background-position: -180px 0
}

.WW {
    background-position: -200px 0
}

.ag {
    background-position: -220px 0
}

.WW {
    background-position: -240px 0
}

.ar {
    background-position: -260px 0
}

.am {
    background-position: -280px 0
}

.aw {
    background-position: -300px 0
}

.WW {
    background-position: -320px 0
}

.au {
    background-position: -340px 0
}

.at {
    background-position: -360px 0
}

.az {
    background-position: -380px 0
}

.bs {
    background-position: -400px 0
}

.bh {
    background-position: -420px 0
}

.bd {
    background-position: -440px 0
}

.bb {
    background-position: -460px 0
}

.WW {
    background-position: -480px 0
}

.by {
    background-position: 0 -20px
}

.be {
    background-position: -20px -20px
}

.bz {
    background-position: -40px -20px
}

.bj {
    background-position: -60px -20px
}

.bm {
    background-position: -80px -20px
}

.bt {
    background-position: -100px -20px
}

.bo {
    background-position: -120px -20px
}

.ba {
    background-position: -140px -20px
}

.bw {
    background-position: -160px -20px
}

.WW {
    background-position: -180px -20px
}

.br {
    background-position: -200px -20px
}

.io {
    background-position: -220px -20px
}

.bn {
    background-position: -240px -20px
}

.bg {
    background-position: -260px -20px
}

.bf {
    background-position: -280px -20px
}

.bi {
    background-position: -300px -20px
}

.kh {
    background-position: -320px -20px
}

.cm {
    background-position: -340px -20px
}

.ca {
    background-position: -360px -20px
}

.cv {
    background-position: -380px -20px
}

.WW {
    background-position: -400px -20px
}

.WW {
    background-position: -420px -20px
}

.ky {
    background-position: -440px -20px
}

.cf {
    background-position: -460px -20px
}

.td {
    background-position: -480px -20px
}

.cl {
    background-position: 0 -40px
}

.cn {
    background-position: -20px -40px
}

.cx {
    background-position: -40px -40px
}

.WW {
    background-position: -60px -40px
}

.cc {
    background-position: -80px -40px
}

.co {
    background-position: -100px -40px
}

.WW {
    background-position: -120px -40px
}

.km {
    background-position: -140px -40px
}

.cg {
    background-position: -160px -40px
}

.WW {
    background-position: -180px -40px
}

.ck {
    background-position: -200px -40px
}

.cr {
    background-position: -220px -40px
}

.ci {
    background-position: -240px -40px
}

.hr {
    background-position: -260px -40px
}

.cu {
    background-position: -280px -40px
}

.WW {
    background-position: -300px -40px
}

.cy {
    background-position: -320px -40px
}

.cz {
    background-position: -340px -40px
}

.dk {
    background-position: -360px -40px
}

.dj {
    background-position: -380px -40px
}

.dm {
    background-position: -400px -40px
}

.do {
    background-position: -420px -40px
}

.ec {
    background-position: -440px -40px
}

.eg {
    background-position: -460px -40px
}

.sv {
    background-position: -480px -40px
}

.WW {
    background-position: 0 -60px
}

.gq {
    background-position: -20px -60px
}

.er {
    background-position: -40px -60px
}

.ee {
    background-position: -60px -60px
}

.et {
    background-position: -80px -60px
}

.eu {
    background-position: -100px -60px
}

.fk {
    background-position: -120px -60px
}

.WW {
    background-position: -140px -60px
}

.WW {
    background-position: -160px -60px
}

.fj {
    background-position: -180px -60px
}

.fi {
    background-position: -200px -60px
}

.fr {
    background-position: -220px -60px
}

.tf {
    background-position: -240px -60px
}

.gf {
    background-position: -260px -60px
}

.ga {
    background-position: -280px -60px
}

.WW {
    background-position: -300px -60px
}

.gm {
    background-position: -320px -60px
}

.ge {
    background-position: -340px -60px
}

.de {
    background-position: -360px -60px
}

.gh {
    background-position: -380px -60px
}

.gi {
    background-position: -400px -60px
}

.gr {
    background-position: -420px -60px
}

.gl {
    background-position: -440px -60px
}

.gd {
    background-position: -460px -60px
}

.WW {
    background-position: -480px -60px
}

.gt {
    background-position: 0 -80px
}

.gu {
    background-position: -20px -80px
}

.gg {
    background-position: -40px -80px
}

.gn {
    background-position: -60px -80px
}

.gw {
    background-position: -80px -80px
}

.gy {
    background-position: -100px -80px
}

.ht {
    background-position: -120px -80px
}

.WW {
    background-position: -140px -80px
}

.hn {
    background-position: -160px -80px
}

.hk {
    background-position: -180px -80px
}

.hu {
    background-position: -200px -80px
}

.WW {
    background-position: -220px -80px
}

.is {
    background-position: -240px -80px
}

.WW {
    background-position: -260px -80px
}

.in {
    background-position: -280px -80px
}

.id {
    background-position: -300px -80px
}

.ir {
    background-position: -320px -80px
}

.iq {
    background-position: -340px -80px
}

.ie {
    background-position: -360px -80px
}

.WW {
    background-position: -380px -80px
}

.WW {
    background-position: -400px -80px
}

.il {
    background-position: -420px -80px
}

.it {
    background-position: -440px -80px
}

.jm {
    background-position: -460px -80px
}

.jp {
    background-position: -480px -80px
}

.je {
    background-position: 0 -100px
}

.jo {
    background-position: -20px -100px
}

.kz {
    background-position: -40px -100px
}

.ke {
    background-position: -60px -100px
}

.ki {
    background-position: -80px -100px
}

.WW {
    background-position: -100px -100px
}

.kw {
    background-position: -120px -100px
}

.kg {
    background-position: -140px -100px
}

.WW {
    background-position: -160px -100px
}

.lv {
    background-position: -180px -100px
}

.lb {
    background-position: -200px -100px
}

.ls {
    background-position: -220px -100px
}

.lr {
    background-position: -240px -100px
}

.WW {
    background-position: -260px -100px
}

.li {
    background-position: -280px -100px
}

.lt {
    background-position: -300px -100px
}

.lu {
    background-position: -320px -100px
}

.WW {
    background-position: -340px -100px
}

.mk {
    background-position: -360px -100px
}

.mg {
    background-position: -380px -100px
}

.mw {
    background-position: -400px -100px
}

.my {
    background-position: -420px -100px
}

.mv {
    background-position: -440px -100px
}

.ml {
    background-position: -460px -100px
}

.mt {
    background-position: -480px -100px
}

.mh {
    background-position: 0 -120px
}

.mq {
    background-position: -20px -120px
}

.mr {
    background-position: -40px -120px
}

.mu {
    background-position: -60px -120px
}

.yt {
    background-position: -80px -120px
}

.mx {
    background-position: -100px -120px
}

.fm {
    background-position: -120px -120px
}

.md {
    background-position: -140px -120px
}

.mc {
    background-position: -160px -120px
}

.mn {
    background-position: -180px -120px
}

.me {
    background-position: -200px -120px
}

.ms {
    background-position: -220px -120px
}

.ma {
    background-position: -240px -120px
}

.mz {
    background-position: -260px -120px
}

.mm {
    background-position: -280px -120px
}

.na {
    background-position: -300px -120px
}

.WW {
    background-position: -320px -120px
}

.nr {
    background-position: -340px -120px
}

.np {
    background-position: -360px -120px
}

.an {
    background-position: -380px -120px
}

.nl {
    background-position: -400px -120px
}

.WW {
    background-position: -420px -120px
}

.nz {
    background-position: -440px -120px
}

.ni {
    background-position: -460px -120px
}

.ne {
    background-position: -480px -120px
}

.ng {
    background-position: 0 -140px
}

.nu {
    background-position: -20px -140px
}

.nf {
    background-position: -40px -140px
}

.WW {
    background-position: -60px -140px
}

.WW {
    background-position: -80px -140px
}

.WW {
    background-position: -100px -140px
}

.mp {
    background-position: -120px -140px
}

.no {
    background-position: -140px -140px
}

.WW {
    background-position: -160px -140px
}

.WW {
    background-position: -180px -140px
}

.WW {
    background-position: -200px -140px
}

.om {
    background-position: -220px -140px
}

.WW {
    background-position: -240px -140px
}

.pk {
    background-position: -260px -140px
}

.pw {
    background-position: -280px -140px
}

.WW {
    background-position: -300px -140px
}

.pa {
    background-position: -320px -140px
}

.pg {
    background-position: -340px -140px
}

.py {
    background-position: -360px -140px
}

.pe {
    background-position: -380px -140px
}

.ph {
    background-position: -400px -140px
}

.pn {
    background-position: -420px -140px
}

.pl {
    background-position: -440px -140px
}

.pt {
    background-position: -460px -140px
}

.pr {
    background-position: -480px -140px
}

.qa {
    background-position: 0 -160px
}

.WW {
    background-position: -20px -160px
}

.WW {
    background-position: -40px -160px
}

.ro {
    background-position: -60px -160px
}

.ru {
    background-position: -80px -160px
}

.rw {
    background-position: -100px -160px
}

.WW {
    background-position: -120px -160px
}

.WW {
    background-position: -140px -160px
}

.lc {
    background-position: -160px -160px
}

.WW {
    background-position: -180px -160px
}

.WW {
    background-position: -200px -160px
}

.ws {
    background-position: -220px -160px
}

.sm {
    background-position: -240px -160px
}

.st {
    background-position: -260px -160px
}

.sa {
    background-position: -280px -160px
}

.WW {
    background-position: -300px -160px
}

.sn {
    background-position: -320px -160px
}

.rs {
    background-position: -340px -160px
}

.sc {
    background-position: -360px -160px
}

.sl {
    background-position: -380px -160px
}

.sg {
    background-position: -400px -160px
}

.WW {
    background-position: -420px -160px
}

.sk {
    background-position: -440px -160px
}

.si {
    background-position: -460px -160px
}

.sb {
    background-position: -480px -160px
}

.so {
    background-position: 0 -180px
}

.xs {
    background-position: -20px -180px
}

.za {
    background-position: -40px -180px
}

.WW {
    background-position: -60px -180px
}

.kp {
    background-position: -80px -180px
}

.WW {
    background-position: -100px -180px
}

.es {
    background-position: -120px -180px
}

.lk {
    background-position: -140px -180px
}

.kn {
    background-position: -160px -180px
}

.vc {
    background-position: -180px -180px
}

.sd {
    background-position: -200px -180px
}

.sr {
    background-position: -220px -180px
}

.sj {
    background-position: -240px -180px
}

.sz {
    background-position: -260px -180px
}

.se {
    background-position: -280px -180px
}

.ch {
    background-position: -300px -180px
}

.sy {
    background-position: -320px -180px
}

.WW {
    background-position: -340px -180px
}

.tw {
    background-position: -360px -180px
}

.tj {
    background-position: -380px -180px
}

.tz {
    background-position: -400px -180px
}

.th {
    background-position: -420px -180px
}

.WW {
    background-position: -440px -180px
}

.tg {
    background-position: -460px -180px
}

.tk {
    background-position: -480px -180px
}

.to {
    background-position: 0 -200px
}

.tt {
    background-position: -20px -200px
}

.WW {
    background-position: -40px -200px
}

.tn {
    background-position: -60px -200px
}

.tr {
    background-position: -80px -200px
}

.tm {
    background-position: -100px -200px
}

.tc {
    background-position: -120px -200px
}

.tv {
    background-position: -140px -200px
}

.ug {
    background-position: -160px -200px
}

.ua {
    background-position: -180px -200px
}

.WW {
    background-position: -200px -200px
}

.WW {
    background-position: -220px -200px
}

.ae {
    background-position: -240px -200px
}

.gb {
    background-position: -260px -200px
}

.WW {
    background-position: -280px -200px
}

.WW {
    background-position: -300px -200px
}

.us {
    background-position: -320px -200px
}

.uy {
    background-position: -340px -200px
}

.uz {
    background-position: -360px -200px
}

.vu {
    background-position: -380px -200px
}

.va {
    background-position: -400px -200px
}

.ve {
    background-position: -420px -200px
}

.vn {
    background-position: -440px -200px
}

.vg {
    background-position: -460px -200px
}

.vi {
    background-position: -480px -200px
}

.WW {
    background-position: 0 -220px
}

.WW {
    background-position: -20px -220px
}

.eh {
    background-position: -40px -220px
}

.WW {
    background-position: -60px -220px
}

.WW {
    background-position: -80px -220px
}

.ye {
    background-position: -100px -220px
}

.zm {
    background-position: -120px -220px
}

.zw {
    background-position: -140px -220px
}

.tp {
    background-position: -160px -220px
}

.fo {
    background-position: -180px -220px
}

.gp {
    background-position: -200px -220px
}

.kr {
    background-position: -220px -220px
}

.la {
    background-position: -240px -220px
}

.ly {
    background-position: -260px -220px
}

.mo {
    background-position: -280px -220px
}

.ic {
    background-position: -320px -220px
}

.cd {
    background-position: -340px -220px
}

.xy {
    background-position: -360px -220px
}

.pf {
    background-position: -380px -220px
}

.sh {
    background-position: -400px -220px
}

.re {
    background-position: -220px -60px
}

.pm {
    background-position: -220px -60px
}

.wf {
    background-position: -220px -60px
}

.nc {
    background-position: -220px -60px;
    transition: all 2s;
}
