.breadcrumbs{
    width: 1420px;
    margin: 0 auto 4px;
    padding-top: 14px;
}
.breadcrumbs li {
    color: #19191a;
    font-size: 13px;
    line-height: 22px;
    float: left;
}
.breadcrumbs li a {
    color: #646466;
    position: relative;
    font-size: 13px;
    line-height: 20px;
}
.divider {
    border-bottom: 0;
    margin-bottom: 0;
}
.breadcrumbs li .icon {
    font-size: 12px;
    margin: 0 6px;
    color: #d3d3d3;
}
.account_center_alone_tit{
    width: 1420px;
    margin: 18px auto 0;
}

.checkout-body{
    padding-top: 0;
}
.checkout-body-main{
    width: 1420px;
}
.checkout-body-left{
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 40px 110px 44px;
}
.checkout-body-left-address-con{
    width: 590px;
}
.checkout-body-left-payment{
    padding: 24px 0 32px;
}
.checkout-body-right-tax{
    padding-right: 10px;
}
.checkout-body-left-order-detail-sum-left-select.noType{
    justify-content: flex-end;
    background-color: #f7f7f7;
    cursor: default;
}
.checkout-body-left-order{
    margin-top: 0;
    padding: 8px 0 32px;
}
.box{
    width: 100%;
    background-color: #f7f7f7;
}
.menu_02{
    padding: 0;
}
.breadcrumb{
    width:1420px;
    margin: 0 auto;
    display: none;
}
.menu_02 dl dd.last_no a{
    background: none;
}
.menu_02 dl dd{
    border:0;
}
.menu_02 dl dd.last_no:hover{
    border: 0;
}
.menu_02 dl dd.last_no a{
    cursor: pointer;
}
.quoteBody .checkout-body-left{
    width: 1420px;
    box-sizing: border-box;
    padding: 40px 110px 44px;
    background: #fff;
}
.create-quote-order-detail-delivery-main{
    width: 380px;
}
.account_center_alone_tit{
    padding-bottom: 22px;
}
.create-quote{
    background-color: #fff;
    padding: 40px 110px 44px;
}
.create-quote-tit{
    font-size: var(--smallTitFontSize);
    line-height: var(--smallFont-lineHeight);
    margin-bottom: 22px;
    font-weight: var(--fontBold);
}
.create-quote-tit.smallMarginBottom{
    margin-bottom: 12px;
}
.checkout-body-left-address-con{
    width: 590px;
    border:var(--normalBorder);
}
.create-quote-tit.noMarginBottom{
    margin-bottom: 0;
}
.create-quote-payment{
    margin-bottom: 42px;
}
.create-quote-order-tit{
    font-size: var(--specialFontSize);
    line-height: var(--specialFont-lineHeight);
    color: var(--titFontColor);
    margin-bottom: 10px;
}
.create-quote-payment .checkout-body-left-payment-con-describe-form{
    justify-content: flex-start;
}
.create-quote-payment .checkout-body-left-payment-con-describe-ipt{
    margin-right: 24px;
}
.create-quote-payment .checkout-body-left-payment-con-describe-ipt:last-child{
    margin-right: 0;
}
.create-quote-order-tit-fontNum{
    float: right;
}
.create-quote-order-reference-ipt{
    width: 100%;
    box-sizing: border-box;
    height: 38px;
    border: var(--accountBorder);
    text-indent: var(--inputTextIndent);
    font-size: var(--specialFontSize);
    color: var(--titFontColor);
    border-radius: var(--borderRadius);
    transition: all .2s;
}
.create-quote-order-reference-ipt:focus{
    border-color: var(--focusBorderColor);
}
.checkout-body-left-order-detail-tit{
    margin: 24px 0 20px;
}
.create-quote-order-detail-thead{
    display: flex;
    padding-bottom: 12px;
    border-bottom: var(--normalBorder);
    margin-bottom: 20px;
}
.create-quote-order-detail-thead span{
    width: 15%;
    font-size: var(--specialFontSize);
    line-height: var(--specialFont-lineHeight);
    color: var(--titFontColor);
    text-align: center;
}
.create-quote-order-detail-thead span:first-child{
    width: 40%;
    text-align: left;
}
.create-quote-order-detail-thead span:last-child{
    text-align: right;
}
.create-quote-order-detail-tips{
    display: flex;
    box-sizing: border-box;
    background-color: var(--bgColor);
    border:1px solid #B2D0EC;
    border-radius: var(--borderRadius);
    padding: 10px 14px;
    color: var(--txtFontColor);
    margin-bottom: 12px;
}
.create-quote-order-detail-tips .icon{
    color: var(--hrefNormalColor);
    margin-right: 4px;
}
.create-quote-order-detail-flex{
    display: flex;
    padding-bottom: 20px;
    border-bottom: var(--normalBorder);
    margin-bottom: 24px;
    position: relative;
}
.checkout-3C-ban {
    background: #fff;
    opacity: .6;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}
.create-quote-order-detail-product-description{
    width: 40%;
    display: flex;
    text-align: left;
}
.create-quote-order-detail-product-id,.create-quote-order-detail-product-price,.create-quote-order-detail-product-qty{
    width: 15%;
    text-align: center;
}
.create-quote-order-detail-product-description-img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.create-quote-order-detail-product-description-img img{
    max-width: 80px;
    height: auto;
}
.create-quote-order-detail-product-description-font-name{
    margin-bottom: 6px;
}
.create-quote-order-detail-product-description-font-name span{
    font-size: 14px;
    line-height: 22px;
    color: #19191a;
}
.create-quote-order-detail-product-description-font-attribute{
    margin-bottom: 14px;
}
.create-quote-order-detail-product-description-font-attribute li{
    font-size: var(--specialFontSize);
    line-height: var(--specialFont-lineHeight);
    color: var(--titFontColor);
}
.create-quote-order-detail-product-description-font-code{
    display: flex;
}
.create-quote-order-detail-product-description-font-code span{
    font-size: var(--specialFontSize);
    line-height: var(--specialFont-lineHeight);
    color: var(--txtFontColor);
}
.create-quote-order-detail-product-description-font-code span:first-child{
    margin-right: 14px;
}
.new-price,.old-price{
    font-size: var(--normalFontSize);
    line-height: var(--normalFont-lineHeight);
    color: var(--titFontColor);
}
.old-price{
    color: var(--tipsFontColor);
    text-decoration: line-through;
}
.create-quote-order-detail-product-qty{
    font-size: var(--normalFontSize);
    line-height: var(--normalFont-lineHeight);
    color: var(--titFontColor);
}
.create-quote-order-detail-product-total{
    width: 15%;
    text-align: right;
}
.create-quote-order-detail-product-description-font-heavy{
    padding: 0 10px;
    background-color: #ccc;
    border-radius: var(--borderRadius);
    color: var(--whiteFontColor);
    font-size: var(--specialFontSize);
    line-height: var(--specialFont-lineHeight);
    display: inline-block;
    margin: 0 0 6px;
}
.create-quote-order-detail-delivery{
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-end;
}
.new_checkout_select_expand_information{
    margin-top: 8px;
}
.create-quote-order-detail-delivery-font{
    font-size: var(--specialFontSize);
    color: var(--titFontColor);
    margin-right: 20px;
    padding-top: 8px;
}
.create-quote-order-detail-delivery-select select{
    width: 475px;
    height: 40px;
    border: var(--accountBorder);
    border-radius: var(--borderRadius);
    text-indent: var(--inputTextIndent);
}
.create-quote-order-detail-summary{
    padding: 18px 0 16px;
    border-top: var(--normalBorder);
    border-bottom: var(--normalBorder);
}
.create-quote-order-detail-summary-subtotal,.create-quote-order-detail-summary-shippingCost,.create-quote-order-detail-summary-tax,.create-quote-order-detail-summary-total{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6px;
}
.create-quote-order-detail-summary-subtotal-tit,.create-quote-order-detail-summary-shippingCost-tit,.create-quote-order-detail-summary-tax-tit{
    width: 150px;
    padding-right: 10px;
    font-size: var(--specialFontSize);
    line-height: var(--specialFont-lineHeight);
    color: var(--txtFontColor);
}
.create-quote-order-detail-summary-subtotal-price,.create-quote-order-detail-summary-shippingCost-price,.create-quote-order-detail-summary-tax-price{
    width: 150px;
    font-size: var(--specialFontSize);
    line-height: var(--specialFont-lineHeight);
    color: var(--txtFontColor);
    text-align: right;
}
.create-quote-order-detail-summary-tax{
    margin-bottom: 0;
}
.create-quote-order-detail-summary-href{
    margin-bottom: 6px;
    display: flex;
    justify-content: flex-end;
}
.create-quote-order-detail-summary-href a{
    font-size: var(--specialFontSize);
    line-height: var(--specialFont-lineHeight);
    color: var(--hrefNormalColor);
}
.create-quote-order-detail-summary-href div{
    width: 10px;
}
.create-quote-order-detail-summary-href div.checkout-body-right-tax{
    padding-right: 0;
    width: 300px
}
.create-quote-order-detail-summary-total{
    margin-bottom: 0;
}
.create-quote-order-detail-summary-total-tit,.create-quote-order-detail-summary-total-price{
    width: 150px;
    padding-right: 10px;
    font-size: var(--smallTitFontSize);
    line-height: var(--smallFont-lineHeight);
    color: var(--titFontColor);
    font-weight: var(--fontBold);
}
.create-quote-order-detail-summary-total-price{
    padding-right: 0;
    text-align: right;
}
.create-quote-btn{
    margin-top: 24px;
}
.create-quote-btn-main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 18px;
}
.create-quote-btn-main-pdf{
    display: flex;
    color: var(--hrefNormalColor);
    font-size: var(--normalFontSize);
    margin-right: 20px;
}
.create-quote-btn-main-pdf:hover{
    text-decoration: var(--noDecoration);
    color: var(--hrefNormalColor);
}
.create-quote-btn-main-pdf:hover .create-quote-btn-main-pdf-font{
    text-decoration: var(--addDecoration);
}
.create-quote-btn-main-pdf .icon{
    margin-right: 4px;
}
.create-quote-btn-main-cancel{
    height: 38px;
    border: var(--accountBorder);
    border-radius: var(--borderRadius);
    padding: 0 68px;
    color: var(--titFontColor);
    font-size: var(--normalFontSize);
    line-height: 36px;
    transition: all .2s;
    box-sizing: border-box;
    margin-right: 10px;
}
.create-quote-btn-main-cancel:hover{
    text-decoration: var(--noDecoration);
    color: var(--titFontColor);
    border-color: var(--titFontColor);
}
.create-quote-btn-main-create{
    height: 38px;
    border-radius: var(--borderRadius);
    padding: 0 70px;
    color: #fff;
    font-size: var(--normalFontSize);
    line-height: 38px;
    transition: all .2s;
    box-sizing: border-box;
    background-color: var(--addCartButtonBg);
}
.create-quote-btn-main-create:hover{
    text-decoration: var(--noDecoration);
    color: #fff;
    background-color: var(--addCartButtonHoverBg);
}
.create-quote-btn-main-create.btn_disable{
    background-color: #ccc;
    cursor: default;
    pointer-events: none;
}
.create-quote-btn-main-create.btn_disable:hover{
    background-color: #ccc;
}
.create-quote-btn-txt{
    font-size: var(--specialFontSize);
    line-height: var(--specialFont-lineHeight);
    color: var(--txtFontColor);
    text-align: right;
}

.create-quote.create-success{
    padding: 100px 0 96px;
    width: 1420px;
    margin: 0 auto;
}
.create-success-icon{
    text-align: center;
    color: var(--hrefNormalColor);
    margin-bottom: 20px;
}
.create-success-icon .icon{
    font-size: 72px;
    line-height: 72px;
}
.create-success-tit{
    font-size: var(--normalTitFontSize);
    line-height: var(--normalTitFont-lineHeight);
    color: var(--titFontColor);
    font-weight: var(--fontBold);
    margin-bottom: 16px;
    text-align: center;
}
.create-success-txt{
    font-size: var(--normalFontSize);
    line-height: var(--normalFont-lineHeight);
    color: var(--txtFontColor);
    text-align: center;
}
.create-success-txt a{
    color: var(--hrefNormalColor);
}
.create-success-txt a:hover{
    color: var(--hrefNormalColor);
}
.create-success-share{
    margin:28px 0 12px;
    text-align: center;
}
.create-success-share a{
    height: 38px;
    box-sizing: border-box;
    border: var(--accountBorder);
    padding: 0 40px;
    line-height: 36px;
    border-radius: var(--borderRadius);
    font-size: var(--normalFontSize);
    color: var(--titFontColor);
    transition: all .2s;
    display: inline-block;
}
.create-success-share a:hover{
    border-color: var(--titFontColor);
    text-decoration: var(--noDecoration);
}
.create-success-shopping{
    text-align: center;
}
.create-success-shopping a{
    text-decoration: var(--addDecoration);
    font-size: var(--normalFontSize);
    color: var(--titFontColor);
}
.m-block{
    display: none;
}
.m-create-quote-order-detail-product-description-price{
    margin-top: 8px;
    display: none;
}
.popup-share-quote-littleTit{
    font-size: 13px;
    color: #19191a;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 6px;
}
.popup-share-quote-ipt{
    margin-bottom: 18px;
}
.popup-share-quote-ipt input{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 38px;
    font-size: 13px;
    color: #19191a;
    text-indent: 10px;
    transition: all .2s;
}
.popup-share-quote-ipt input:focus{
    border-color: #89898C;
}
.popup-share-quote-agreement{
    margin-bottom: 6px;
}
.popup-share-quote-agreement a{
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    color: #19191a;
    line-height: 20px;
}
.popup-share-quote-agreement a:hover{
    text-decoration: none;
}
.popup-share-quote-agreement a .icon{
    font-size: 16px;
    margin-right: 8px;
}
.popup-share-quote-textarea textarea{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 100px;
    line-height: 20px;
    font-size: 13px;
    color: #19191a;
    text-indent: 10px;
    transition: all .2s;
    padding: 10px 0;
}
.popup-share-quote-textarea textarea:focus{
    border-color: #89898C;
}
.popup-share-quote-littleTit .create-quote-order-tit-fontNum{
    color: #89898c;
}
.popup-choose-address-con-prohibit-tip{
    margin: 24px 0 20px;
}


.popup-success{
    width: 480px;
    box-sizing: border-box;
    padding: 48px 40px 40px;
    position: relative;
    background-color: #fff;
    vertical-align: middle;
    display: inline-block;
    border-radius: 3px;
}
.popup-success-tit{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    color: #89898c;
    cursor: pointer;
}
.popup-success-main-tit{
    font-size: 16px;
    color: #19191a;
    line-height: 26px;
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-bottom: 4px;
}
.popup-success-main-tit .icon{
    font-size: 28px;
    line-height: 28px;
    color: #0060BF;
    margin-right: 8px;
}
.popup-success-main-txt{
    font-size: 13px;
    color: #646466;
    line-height: 20px;
    text-align: left;
}
.inquiry_detail{
    padding-bottom: 64px;
}
.help-center-table{
    margin-top: 20px;
}
.checkout-body-left-payment-con-describe-wireList-tit{
    margin-top: 20px;
}
@media(max-width: 1440px){
    .checkout-body-left-address-con{
        width: 480px;
    }
    .account_center_alone_tit,.breadcrumbs,.checkout-body{
        width: 1200px;
        margin: 0 auto;
    }
    .account_center_alone_tit{
        margin-top: 10px;
    }
    .checkout-body-main{
        width: 100%;
        margin: 0 auto;
    }
    .create-quote.create-success{
        width: 1200px;
    }
}
@media(max-width: 1220px){
    .checkout-body-left-address-con{
        width: 360px;
    }
    .create-quote-order-detail-thead,.create-quote-order-detail-product-id,.create-quote-order-detail-product-price,.create-quote-order-detail-product-qty,.create-quote-order-detail-product-total{
        display: none;
    }
    .create-quote-order-detail-product-description{
        width: 100%;
    }
    .m-block{
        display: block;
    }
    .m-create-quote-order-detail-product-description-price{
        display: flex;
    }
    .m-create-quote-order-detail-product-description-price .real-price{
        margin-right: 6px;
    }
    .m-create-quote-order-detail-product-description-price .real-price i{
        font-weight: var(--fontBold);
        color: var(--titFontColor);
        font-size: var(--normalFontSize);
        font-style: normal;
    }
    .content{
        margin: 0 auto;
    }
    .account_center_alone_tit, .breadcrumbs, .checkout-body{
        width: 960px;
    }
}
@media(max-width: 960px){
    .create-quote{
        padding: 0 0 0;
        background-color: var(--bgColor);
    }
    .create-quote-tit:first-child{
        display: none;
    }
    .checkout-body-left-address-con{
        width: 100%;
        border: 0;
    }
    .breadcrumbs{
        display: none;
    }
    .account_center_alone_tit{
        line-height: 64px;
        padding: 0 16px;
        margin-top: 0;
    }
    .create-quote-order-detail-delivery-main{
        margin: 0;
        width: 100%;
    }
    .popup-main-ipt-con{
        padding-right: 0;
    }
    .create-quote-tit,.create-quote-payment{
        background-color: #fff;
    }
    .create-quote-tit{
        padding: 18px 16px 0;
    }
    .create-quote-payment{
        padding: 0 16px 20px;
        margin-bottom: 20px;
        overflow-x: hidden;
    }
    .create-quote-order{
        padding: 0 16px;
        background-color: #fff;
    }
    .create-quote-tit.smallMarginBottom{
        margin-bottom: 0;
        padding-bottom: 6px;
    }
    .checkout-body-left-payment-con-describe-ipt input, .checkout-body-left-payment-con-describe-ipt select{
        width: 100%;
    }
    .create-quote-payment .checkout-body-left-payment-con-describe-ipt{
        margin: 0 0 10px;
    }
    .create-quote-order-detail-product{
        border: 0;
        margin-bottom: 0;
    }
    .create-quote-order-detail-delivery{
        display: block;
    }
    .create-quote-order-detail-delivery-font{
        margin: 0 0 4px;
    }
    .create-quote-order-detail-delivery-select select{
        width: 100%;
    }
    .create-quote-order-detail-summary-subtotal, .create-quote-order-detail-summary-shippingCost, .create-quote-order-detail-summary-tax, .create-quote-order-detail-summary-total{
        justify-content: space-between;
    }
    .create-quote-order-detail-summary-href{
        display: block;
    }
    .create-quote-btn{
        margin: 0;
        background-color: #fff;
        padding: 18px 16px 28px;
    }
    .create-quote-btn-main{
        display: block;
    }
    .create-quote-btn-main .create-quote-btn-main-cancel,.create-quote-btn-main .create-quote-btn-main-create{
        display: block;
        width: 100%;
        text-align: center;
    }
    .create-quote-btn-txt{
        text-align: left;
    }
    .create-quote-btn-main-pdf{
        margin: 0 0 18px;
    }
    .create-quote-btn-main-cancel{
        margin-bottom: 16px;
    }
    .checkout-body-left{
        padding: 0;
        background-color: #f7f7f7;
    }
    #app{
        background-color: #f7f7f7;
    }
    .checkout-body-left-address-con{
        padding: 20px 16px;
        margin-bottom: 20px;
    }
    .account_center_alone_tit, .breadcrumbs, .checkout-body{
        width: auto;
    }
    .paddingStyle{
        padding: 0px 0px 20px 34px;
    }
    .checkout-body-left-order,.create-quote-order{
        padding: 0;
        margin-top: 0;
    }
    .checkout-body-left-order{
        padding: 0 16px;
    }
    .create-quote-btn{
        padding: 24px 0 0;
    }
    .checkout-body-left-address{
        margin-bottom: 0;
    }
    .checkout-body-left-payment{
        padding: 20px 16px 32px;
    }
    .create-quote.create-success{
        padding: 32px 16px;
    }
    .inquiry_detail{
        padding: 0;
    }
    .create-quote.create-success{
        background-color: #fff;
        width: auto;
    }
    .help-center-table{
        overflow-x: auto;
        min-width: auto;
    }
    .help-center-table-main{
        min-width: 960px;
    }
    .help-center-table-main > div:first-child{
        width: 30%;
    }
    .help-center-taTr > div:last-child{
        width: 70%;
    }
}

/*Quote提交成功页面插入调查问卷 Bona.Guo 2021/2/2 14:54*/
.popup-quote-fb-txt {
    font-size: 14px;
    line-height: 22px;
    color: #89898c;
    margin-bottom: 10px;
}

.popup-quote-fb-tit {
    font-size: 13px;
    color: #19191a;
    line-height: 20px;
    margin-bottom: 6px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-quote-fb-star {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.popup-quote-fb-star-all {
    display: flex;
    align-items: center;
    height: 30px;
}

.popup-quote-fb-star-all .icon {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    margin-right: 4px;
}

.popup-quote-fb-star-all .icon:last-child {
    margin-right: 0;
}

.popup-quote-fb-star-all .icon.active {
    color: #FDAA01;
}

.popup-quote-fb-star-font {
    font-size: 14px;
    line-height: 22px;
    color: #19191a;
    margin-left: 10px;
}

.popup-quote-fb-tit-num {
    color: #89898c;
}

.popup-quote-fb-tit-num i {
    font-style: normal;
}

.popup-quote-fb-textarea {
    height: 100px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 6px 10px;
    color: #19191a;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
