.after:after{content: " ";display: block;clear: both;visibility: hidden;height: 0;}
.cnp_box{width: 960px;margin: 0 auto;}
.cnp_logo{padding: 30px 50px 50px;overflow: hidden;}
.cnp_logo a{float: left;width: 75px;height: 36px;background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/new-pc-img/logo.svg);background-repeat: no-repeat;background-size: cover;}
.cnp_main{padding: 0 50px;}
.cnp_main01{padding: 0;}
.cnp_main_tit{font-size: 26px;font-weight:400;color: #232323;margin-bottom: 30px;line-height: 26px;}
.cnp_main_tit1{font-size: 26px;font-weight:400;color: #232323;line-height: 26px;display: none;}
.cnp_main_tit.mgbt30{margin-bottom: 30px;}
.cnp_input_list{width: 456px;}
.cnp_input_tit{font-size: 13px;font-weight: 400;color: #616265;margin-bottom: 5px;margin-top: 15px;}
.cnp_input_list li:first-child .cnp_input_tit{margin-top: 0}
.cnp_input_tit .cnp_input_txt{display: inline-block;margin-right: 5px;}
.cnp_input_tit .track_orders_wenhao{width: 16px;height: 16px;}
.cnp_input{transition: all .2s;width: 100%;height: 38px;border: 1px solid #e5e5e5;border-radius: 2px;color: #232323;box-sizing: border-box;padding-left: 10px;}
.cnp_input:focus{border-color:#8d8d8f !important;}
/**/
.error_prompt{font-size: 13px;color: #c00000;line-height: 18px;padding-top: 5px;margin-bottom: 0;display: none;}
/**/
.cnp_submit_btn{position:relative;width: 120px;height: 38px;color: #c00000;border:1px solid #c00000;border-radius:2px;background:#fff;font-size:14px;cursor: pointer;
	box-sizing:border-box;margin-top:20px;transition: all .3s;-o-transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.cnp_submit_btn:hover{background: #c00000;color: #fff;}
.cnp_submit_btn.choosez{background-color: #c00000;pointer-events: none;}
.cnp_submit_btn_bg{position: absolute;z-index: 1;opacity: .4;width: 100%;height: 38px;top: 0;left: 0;background: #fff;}
.cnp_submit_btn.submit_btn01{width: 200px;}
.cnp_submit_btn.mgbt{margin-top: 25px;background: #c00000;color: #fff;}
.cnp_submit_btn.mgbt:hover{background: #9b0912;}
.cnp_footer{margin-top: 100px;border-top: 1px solid #e5e5e5;padding-top: 15px;overflow: hidden;}
.cnp_footer_font {float: left;font-size: 12px;color: #999;}
.cnp_footer_font a {color: #999;}
.cnp_footer_pic {float: right;}
.cnp_back_btn{float: right;font-size: 14px;color: #616265;cursor: pointer;padding-top: 3px;}
.cnp_back_btn span{float: left;}
.cnp_back_ic{display: inline-block;background: url(../images/live_bg.png) no-repeat scroll -329px -263px;width: 10px;height: 12px;
	vertical-align: bottom;margin-top: 8px;margin-right: 6px;}
.cnp_txt1{font-size: 16px;color: #232323;margin-top: 4px;margin-bottom: 26px;line-height: 16px;}
.cnp_txt2{font-size: 14px;color: #616265;}
.cnp_txt3{font-size: 14px;color: #232323;margin-bottom: 30px;}
.cnp_txt4{font-size: 16px;color: #232323;margin-bottom: 15px;margin-top: 30px;}
.cnp_link{font-size: 14px;color: #0070BC;text-decoration: none;}
.cnp_link:hover{color: #0070BC;}
.cnp_link1{font-size: 16px;color: #0070BC;text-decoration: none;}
.cnp_link1:hover{color: #0070BC;}
.cnp_input_list01 li{margin-bottom: 15px;}
.cnp_input_list01 .cnp_circle{width: 6px;height: 6px;background: #616265;border-radius: 50%;float: left;margin-top: 7px;}
.cnp_retrieve_txt{padding-left: 16px;font-size: 16px;color: #232323;}
.cnp_retrieve_txt .icon{margin-left: 8px;font-size: 14px;}
.cnp_retrieve_txt p{font-size: 13px;color: #616265;margin-top: 10px;margin-bottom: 10px;}
.cnp_reason_box{width: 456px;}
.cnp_select{width: 100%;height: 38px;margin-top: 5px;border-radius: 2px;border-color: #e5e5e5;font-size: 13px;}
.cnp_textarea{width: 100%;height: 100px;box-sizing: border-box;border-radius: 2px;margin-top: 10px;resize: none;border-color: #e5e5e5;text-indent: 10px;}
/*新加css*/
.cnp_password_show_hide {position: absolute;font-size: 13px;color: #232323;right: 10px;top: 8px;cursor: pointer;}
.cnp_positionRe{position: relative;}
.cnp_no_underLine_link:hover{text-decoration: none;cursor: default;color:#232323;}
.cnp_back_btn span:nth-child(2){font-weight: normal;}
.cnp_buildPassword_success{height: 45px;background: #ebf8e7;color: #339933;font-size: 16px;padding-left: 18px;line-height: 45px;
	font-weight: normal;margin-top: 20px;}
.cnp_buildPassword_success span.icon{font-weight: 600;margin-right: 10px;}
.cnp_fontWeight600{font-weight: 600;}
.cnp_logo .lr_logo_line{float: left;width: 1px;height: 36px;background-color: #e5e5e5;margin: 0 20px;}
.cnp_logo .lr_main_tit{float: left;margin-bottom: 0;line-height: 36px;font-size: 26px;font-weight: 400;color: #232323;}
.question_bg{background: none;line-height: 16px;color: #8D8D8F;margin-top: -3px;}
.track_orders_wenhao .question_text_01.leftjt .arrow{left: 154px;}
.lr_footer{margin:36px 0 0;border-top:1px solid #e5e5e5;padding-top:16px;overflow:hidden;}
.lr_footer_font{float:left;font-size:12px;color:#999;}
.lr_footer_font br{display:none;}
.lr_footer_font a{text-decoration:none;color:#616265;}
.lr_footer_font a:hover{text-decoration:none;color:#232323;}
.lr_footer_pic{float:right;vertical-align:top;margin-top:-20px;}
@media (max-width:510px){
	.lr_footer{position:static;padding-top:10px;line-height:22px;}
}
.lr_footer_font_new{float:left;font-size:12px;color:#616265;}
.lr_footer_font_new a{text-decoration:none;color:#616265;}
.lr_footer_font_new a:hover{text-decoration:none;color:#232323;}
@media (max-width: 960px){
	.cnp_box{width: 100%;padding:0 15px 0 15px;overflow: hidden;box-sizing: border-box;}
	.lr_footer{margin-top:30px;padding:25px 0 50px;}
	.lr_footer_font{line-height:18px;}
	.lr_footer_font br{display:block;}
	.lr_footer_pic,.lr_footer_font{float:none;}
}
@media (max-width: 480px){
	.cnp_logo{text-align: center;padding-bottom: 30px;}
	.cnp_main{padding: 0;}
	.cnp_main_tit{font-size: 20px;}
	.cnp_input_list{width: 100%;}
	.cnp_input_tit .track_orders_wenhao .question_text_01{left: -95px;}
	.cnp_input_tit .track_orders_wenhao .question_text_01.leftjt .arrow{left: 100px;}
	.cnp_submit_btn,.cnp_submit_btn.submit_btn01,.cnp_reason_box{width: 100%;}
	.cnp_footer{margin-bottom: 40px;margin-top: 30px;}
	.cnp_footer_pic{float: left;}
}