body{margin:0 auto; padding:0; font-size:13px; font-family:'Open Sans',Arial,Helvetica,sans-serif; font-style:normal; font-weight:400;list-style: none;}
.box {width: 1440px; padding: 0; margin: 0 auto;}
.box .customerse_z{width: 1200px;margin: auto;}
.content {padding: 0;}
img{display: block;}
h1, h2, h3, p, ul, li, dl, dt, dd, input, select, form, div { margin: 0; padding: 0;list-style: none;}
/*样式开始*/

/*客户中心公共样式*/
.customer_center_tit{
	font-size: 30px;
	color: #616265;
	padding: 62px 0 32px 0;
	text-align: center;
	font-weight: normal;
}
.customer_center_txt{
	font-size: 14px;
	color: #999;
	text-align: center;
	line-height: 24px;
	margin-bottom: 55px;
}
/*客户中心公共样式结束*/
.customized_fs{
	/*border-bottom: 1px solid #e5e5e5;*/
}
.customized_banner{
	height: 426px;
}
.customized_banner_bg{
	position: absolute;
	width: 100%;
	left: 0;
	z-index: -1;
	height: 460px;
	background:url(https://img-en.fs.com/includes/templates/fiberstore/images/Customized/OEM_02.jpg) no-repeat;
}
.customized_banner_tit{
	font-size: 48px;
	text-align: center;
	color: #fff;
	padding-top: 130px;
	line-height: 64px;
	margin-bottom: 15px;
}
.customized_banner_line{
	display: block;
	width: 60px;
	height: 4px;
	background-color: #fff;
	margin: 0 auto;
}
.customized_banner_txt{
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-top: 15px;
}
.customized_choose{
	margin: 0 auto;
	width: 960px;
}
.customized_choose ul{
	overflow: hidden;
}
.customized_choose_list{
	width: 240px;
	height: 68px;
	box-sizing: border-box;
	border:1px solid #dedede;
	background-color: #fff;
	float: left;
	position: relative;
}
.customized_choose_list:nth-child(1),.customized_choose_list:nth-child(2),.customized_choose_list:nth-child(3){
	border-right: none;
}
.customized_choose_list:nth-child(2),.customized_choose_list:nth-child(3),.customized_choose_list:nth-child(4){
	border-left: none;
}
.customized_choose_list span{
	position: absolute;
	width: 1px;
	height: 36px;
	right: 0;
	top: 50%;
	margin-top: -18px;
	background-color: #dedede;
}
.customized_choose_list a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-align: center;
	line-height: 68px;
	color: #616265;
	font-size: 18px;
}
.customized_choose_list a:hover{
	text-decoration: none;
	color: #616265;
}
.customized_choose_list.choose{
	background-color: #0070BC;
	border-color: #0070BC;
}
.customized_choose_list.choose span{
	display: none;
}
.customized_choose_list.choose a{
	text-decoration: none;
	color: #fff;
}


.customized_fs ul{
	overflow: hidden;
}
.customized_fs_list{
	float: left;
	width: 32.5%;
	margin-right: 1%;
}
.customized_fs_list:last-child{
	margin-right: 0;
}
.customized_fs_list_pic{
	display: block;
	width: 100%;
	height: 279px;
	overflow: hidden;
}
.customized_fs_list img{
	width: 100%;
	transition: all .3s;
}
.customized_fs_list:hover img{
	transform: scale(1.1);
}
.customized_fs_list_bottom{
	border: 1px solid #dedede;
	border-top: none;
	text-align: center;
}
.customized_fs_list_bottom p{
	padding: 40px 0 20px 0;
	text-align: center;
	font-size: 16px;
	color: #616265;
}
.customized_fs_list_bottom a{
	display: inline-block;
	text-align: center;
	color: #0070BC;
	font-size: 14px;
	text-decoration: none;
	padding-bottom: 38px;
}
.customized_fs_list_bottom a:hover{
	text-decoration: underline;
	color: #0070BC;
}
.customized_fs_all{
	overflow: hidden;
	padding: 80px 0;
	text-align: center;
}
.customized_fs_all dl{
	display: inline-block;
	margin-right: 90px;
	vertical-align: middle;
}
.customized_fs_all dl:nth-child(7){
	margin-right: 0;
}
.customized_fs_all dl dd{
	margin-top: 20px;
	font-size: 16px;
	color: #707473;
}
.customized_fs_all span{
	display: inline-block;
	width: 1px;
	height: 75px;
	background-color: #dedede;
	margin-right: 90px;
	vertical-align: middle;
}
.customized_programme{
	margin-bottom: 40px;
}
.customized_programme_picleft{
	height: 520px;	
}
.customized_programme_picleft_bg{
	position: absolute;
	left: 0;
	background-color: #f7f7f7;
	width: 100%;
	height: 520px;
	z-index: -1;
}
.customized_programme_picleft .customized_programme_slide{
	float: left;
	padding-left: 145px;
}
.customized_programme_slide{
	width: 395px;
	padding-top: 118px;
	height: 310px;
	position: relative;
}
.customized_programme_slide ul{
	position: relative;
	width: 100%;
	height: 310px;
}
.customized_programme_slide_list{
	position: absolute;
	left: 0;
	opacity: 0;
	z-index: 1;
}
.customized_programme_slide_list.active{
	z-index: 5;
}
.customized_programme_slide_dot{
	position: absolute;
	bottom: 0;
	z-index: 10;
	text-align: center;
	left: 56%;
}
.customized_programme_slide_dot em{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	border:1px solid #9d9d9d;
	margin-right: 15px;
	cursor: pointer;
}
.customized_programme_slide_dot em.active{
	border-color: #6d6d6d;
}
.customized_programme_picleft .customized_programme_introduce{
	margin-left: 350px;
}
.customized_programme_introduce{
	float: left;
	padding-top: 120px;
}
.customized_programme_introduce_tit{
	font-size: 32px;
	color: #616265;
	font-weight: normal;
	margin-bottom: 30px;
}
.customized_programme_introduce_txt{
	margin-bottom: 38px;
	transform: translateY(50px);
	transition: all 1.5s ease;
	opacity: 0;
}
.customized_programme_introduce_txt p{
	display: inline-block;
	font-size: 16px;
	color: #999;
	margin-right: 10px;
}
.customized_programme_introduce_txt span{
	display: inline-block;
	width: 1px;
	height: 12px;
	background-color: #bfbfbf;
	margin-right: 10px;
}
.customized_programme_introduce_icon{
	transform: translateY(50px);
	transition: all 1.5s ease .5s;
	opacity: 0;
}
.customized_programme_introduce_icon dl{
	display: inline-block;
	margin-right: 30px;
	text-align: center;
}
.customized_programme_introduce_icon dl dd{
	font-size: 14px;
	color: #777;
	margin-top: 15px;
}
.customized_programme_introduce a{
	display: inline-block;
	margin-top: 50px;
	font-size: 14px;
	color: #0070BC;
	text-decoration: none;
	padding-left: 8px;
	padding-right: 10px;
	/*background: url(https://img-en.fs.com/includes/templates/fiberstore/images/Customized/customized_arrow.png) no-repeat right;*/
	transform: translateY(50px);
	transition: all 1.5s ease .5s;
	opacity: 0;
}
.customized_programme_introduce a:hover{
	color: #0070BC;
	text-decoration: underline;
}
.customized_introduce01.show .customized_programme_introduce_txt{
	transform: translateY(0);
	opacity: 1;
}
.customized_introduce01.show .customized_programme_introduce_icon{
	transform: translateY(0);
	opacity: 1;
}
.customized_introduce01.show a{
	transform: translateY(0);
	opacity: 1;
}
.customized_introduce02.show .customized_programme_introduce_txt{
	transform: translateY(0);
	opacity: 1;
}
.customized_introduce02.show .customized_programme_introduce_icon{
	transform: translateY(0);
	opacity: 1;
}
.customized_introduce02.show a{
	transform: translateY(0);
	opacity: 1;
}
.customized_introduce03.show .customized_programme_introduce_txt{
	transform: translateY(0);
	opacity: 1;
}
.customized_introduce03.show .customized_programme_introduce_icon{
	transform: translateY(0);
	opacity: 1;
}
.customized_introduce03.show a{
	transform: translateY(0);
	opacity: 1;
}
.customized_introduce04.show .customized_programme_introduce_txt{
	transform: translateY(0);
	opacity: 1;
}
.customized_introduce04.show .customized_programme_introduce_icon{
	transform: translateY(0);
	opacity: 1;
}
.customized_introduce04.show a{
	transform: translateY(0);
	opacity: 1;
}
.customized_programme_picright{
	height: 520px;
}
.customized_programme_picright .customized_programme_slide{
	float: right;
	margin-right: 140px;
}
.customized_programme_picright .customized_programme_introduce{
	padding-left: 145px;
}
.customized_programme_picright .customized_programme_slide_dot{
	left: 45%;
}

/*new style*/
.customized_blackboard{
	position: relative;
	margin-bottom: 65px;
}
.customized_blackboard img{
	max-width: 100%;
	height: auto;
	margin:0 auto;
}
.customized_blackboard .spot{
	position: absolute;
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	cursor: pointer;
}
.customized_blackboard .spot span{
	background: rgba(66,197,255,1);
	display: block;
	width: 12px;
	height: 12px;
	border:1px solid rgb(66,197,255);
	border-radius:100%;
	z-index: 1;
	position: absolute;
}
.customized_blackboard .spot i{
	background: transparent;
	display: block;
	border:1px solid rgb(66,197,255);
	width: 12px;
	height: 12px;
	border-radius:100%;
	z-index: 0;
	position: absolute;
	animation: spot_spread 2s infinite linear;
}
.spot_img{
	border: 1px solid #e5e5e5;
}
.spot_img p{
	font-size: 14px;
	padding-top: 5px;
	color: #616265;
	line-height: 24px;
}
.spot:nth-of-type(1) .spot_img{
	position: absolute;
	right: 35px;
	top: -45px;
	background: #ffffff;
	text-align: center;
	width: 175px;
	height: 110px;
	border-radius: 3px;
	display: none;
}
/*.spot:nth-of-type(1) .spot_img img{*/
	/*margin: 0 auto;*/
	/*max-width: 100%;*/
	/*height: auto;*/
/*}*/
.spot:nth-of-type(2) .spot_img{
	position: absolute;
	right: 35px;
	top: -45px;
	background: #ffffff;
	text-align: center;
	width: 175px;
	height: 110px;
	border-radius: 3px;
	display: none;
}
/*.spot:nth-of-type(2) .spot_img img{*/
	/*margin: 0 auto;*/
	/*max-width: 100%;*/
	/*height: auto;*/
/*}*/
.spot:nth-of-type(3) .spot_img{
	position: absolute;
	right: 35px;
	top: -45px;
	background: #ffffff;
	text-align: center;
	width: 175px;
	height: 110px;
	border-radius: 3px;
	display: none;
}
/*.spot:nth-of-type(3) .spot_img img{*/
	/*margin: 0 auto;*/
	/*max-width: 100%;*/
	/*height: auto;*/
/*}*/
.customized_blackboard .spot:nth-of-type(1){
	top: 169px;
	left: 450px;
}
.customized_blackboard .spot:nth-of-type(2){
	top: 286px;
	left: 719px;
}
.customized_blackboard .spot:nth-of-type(3){
	top: 137px;
	left: 963px;
}
.customized_blackboard .spot:hover .spot_img{
	display: block;
}
@keyframes spot_spread {
	0%{transform: scale(1);opacity: 0}
    25%{transform: scale(1.4);opacity: 0.5}
	50%{transform: scale(1.8);opacity: 1}
	75%{transform: scale(2.2);opacity: 0.5}
	100%{transform: scale(2.4);opacity: 0}
}
.customized_fluid{
	position: absolute;
	left: 0;
	width: 100%;
	height: 110px;
	background: #edf1f7;
	z-index: -1;
}
.customized_fluid_box{
	width: 1200px;
	height: 110px;
	margin:0 auto;
}
.customized_fluid_box:after{
	content: '';
	clear: both;
	display: block;
	width: 0;
	height: 0;
}
.customized_fluid_box .fluid_box_items{
	width: 25%;
	float: left;
	box-sizing: border-box;
	/*padding-left: 115px;*/
	line-height: 110px;
	text-align: center;
	font-size: 16px;
	position: relative;
	color: #616265;
}
.fluid_box_items img{
	display: inline-block;
	margin: 0 10px;
	width: 36px;
	height: 36px;
}
.customized_fluid_box .fluid_box_items:after{
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 50px;
	background: #dedede;
	top:32px;
	right: 0;
}
.customized_fluid_box .fluid_box_items:last-child:after{
	content: '';
	width: 0px;
	background: transparent;
}
.customized_tab_box{
	width: 960px;
	margin: 0 auto;
	/*text-align: center;*/
}
.customized_tab_btn{
	text-align: center;
}
.customized_tab_btn ul:after{
	content: '';
	clear: both;
	display: block;
	width: 0;
	height: 0;
}
.customized_tab_btn ul li{
	display: inline-block;
	margin: 0 15px;
	font-size: 18px;
	color: #999999;
	padding: 10px 0;
	border-bottom: 2px solid transparent;
    cursor: pointer;
}
.customized_tab_btn ul li.active{
	border-bottom: 2px solid #0070BC;
	color: #0070BC;
}
.customized_tab_content{
	margin-top: 55px;
	margin-bottom: 70px;
}
.customized_tab_item{
	display: none;
}
.customized_tab_item:after{
	content: '';
	display: block;
	clear: both;
	width: 0;
	height: 0;
}
.customized_tab_item.active{
	display: block;
}
.customized_tab_item_left{
	float: left;
	width: 50%;
}
.customized_tab_item_left img{
	max-width: 100%;
	height: auto;
}
.customized_tab_item_right{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding-left: 20px;
}
.customized_tab_item_right>h2{
	font-size: 28px;
	color: #616265;
	font-weight: normal;
	margin-bottom: 30px;
	text-align: left;
}
.customized_tab_item_right>a{
	display: inline-block;
	color: #0070BC;
	font-size: 16px;
	margin-top: 35px;
}
.customized_tab_txt{
	line-height: 24px;
	margin-bottom: 20px;
}
.customized_tab_txt:after{
	content: '';
	display: block;
	clear: both;
	width: 0;
	height: 0;
}
.customized_tab_txt p {
	float: left;
	position: relative;
	padding: 0 10px;
	font-size: 16px;
	color: #999999;
}
.customized_tab_txt p:nth-of-type(1){
	padding-left: 0;
}
.customized_tab_txt p:before{
	content: '';
	position: absolute;
	display: block;
	top: 7px;
	left: -1px;
	width: 1px;
	height: 12px;
	background: #dedede;
}
.customized_tab_txt p:nth-of-type(1):before{
	background: transparent;
}
.customized_tab_icon:after{
	content: '';
	display: block;
	clear: both;
	width: 0;
	height: 0;
}
.customized_tab_icon li{
	float: left;
	padding-top: 60px;
	margin-right: 45px;
	font-size: 14px;
	color: #999999;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/Customized/OEM.png) no-repeat;
}
.customized_tab_icon li:nth-of-type(1){
	background-position: 8px -290px;
}
.customized_tab_icon li:nth-of-type(2){
	background-position: 13px -564px;
}
.customized_tab_icon li:nth-of-type(3){
	background-position: 8px -469px;
}
.customized_tab_content .customized_tab_item:nth-of-type(2) .customized_tab_icon li:nth-of-type(1){
	background-position: -150px -403px;
}
.customized_tab_content .customized_tab_item:nth-of-type(2) .customized_tab_icon li:nth-of-type(2){
	background-position: -153px -495px;
}
.customized_tab_content .customized_tab_item:nth-of-type(2) .customized_tab_icon li:nth-of-type(3){
	background-position: -158px -594px;
}
.customized_tab_content .customized_tab_item:nth-of-type(3) .customized_tab_icon li:nth-of-type(1){
	background-position: -158px -801px;
}
.customized_tab_content .customized_tab_item:nth-of-type(3) .customized_tab_icon li:nth-of-type(2){
	background-position: -151px -1041px;
}
.customized_tab_content .customized_tab_item:nth-of-type(3) .customized_tab_icon li:nth-of-type(3){
	background-position: -154px -918px;
}
.customized_tab_content .customized_tab_item:nth-of-type(4) .customized_tab_icon li:nth-of-type(1){
	background-position: -322px -200px;
}
.customized_tab_content .customized_tab_item:nth-of-type(4) .customized_tab_icon li:nth-of-type(2){
	background-position: -323px -416px;
}
.customized_tab_content .customized_tab_item:nth-of-type(4) .customized_tab_icon li:nth-of-type(3){
	background-position: -323px -97px;
}
.customized_normal_box{
	width: 1200px;
	margin: 0 auto;
	height: 450px;

}
.customized_normal_box_bg{
	background: #f6f6f6;
	height: 450px;
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
}
.customized_normal_box>h2{
	font-size: 30px;
	color: #616265;
	padding: 62px 0 32px 0;
	text-align: center;
	font-weight: normal;
}
.customized_normal_box>p{
	font-size: 14px;
	color: #999;
	text-align: center;
	line-height: 24px;
	margin-bottom: 55px;
}
.customized_normal_List{
	width: 100%;
	position: relative;
}
.customized_normal_List:after{
	content: '';
	display: block;
	clear: both;
	width: 0;
	height: 0;
}
.customized_normal_List:before{
	content: '';
	position: absolute;
	top: 75px;
	left: 0;
	width: 100%;
	height: 1px;
	border-top: 1px dashed #dedede;
}
.customized_normal_List_item{
	float: left;
	width: 20%;
	position: relative;
	/*padding-top: 60px;*/
	text-align: center;
}
.customized_normal_List_img{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/Customized/OEM.png) no-repeat;
}
.customized_normal_List_item h3{
	margin-top: 45px;
	font-size: 16px;
	line-height: 24px;
	color: #616265;
	font-weight: normal;
}
.customized_normal_List_item p{
	font-size: 14px;
	color: #999999;
	line-height: 24px;
	margin-top: 12px;
}
.customized_normal_List_item:before{
	position: absolute;
	content: '';
	top: 70px;
	left: 50%;
	display: block;
	width: 12px;
	height: 12px;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/Customized/OEM.png) no-repeat -338px -15px;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.customized_normal_List .customized_normal_List_item:nth-of-type(1) .customized_normal_List_img{
	background-position: 4px -374px;
}
.customized_normal_List .customized_normal_List_item:nth-of-type(2) .customized_normal_List_img{
	background-position: -157px 4px;
}
.customized_normal_List .customized_normal_List_item:nth-of-type(3) .customized_normal_List_img{
	background-position: -157px -97px;
}
.customized_normal_List .customized_normal_List_item:nth-of-type(4) .customized_normal_List_img{
	background-position: -157px -304px;
}
.customized_normal_List .customized_normal_List_item:nth-of-type(5) .customized_normal_List_img{
	background-position: -157px -202px;
}
.customized_container_row{
	width: 1200px;
	margin: 0 auto 65px;
}
.customized_container_row:after{
	content: '';
	display: block;
	clear: both;
	width: 0;
	height: 0;
}
.customized_container_item{
	float: left;
	width: 25%;
	text-align: center;
}
.customized_container_item_bg{
	width: 60px;
	height: 60px;
	margin:0px auto;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/Customized/OEM.png) no-repeat;
}
.customized_container_item h3{
	font-size: 16px;
	color: #616265;
	line-height: 24px;
	font-weight: 400;
	margin-top: 10px;
}
.customized_container_item p{
	font-size: 14px;
	color: #999999;
	margin-top: 10px;
	line-height: 24px;
}
.customized_container_row .customized_container_item:nth-of-type(1) .customized_container_item_bg{
	background-position: 4px -683px;
}
.customized_container_row .customized_container_item:nth-of-type(2) .customized_container_item_bg{
	background-position: 4px -808px;
}
.customized_container_row .customized_container_item:nth-of-type(3) .customized_container_item_bg{
	background-position: 4px -919px;
}
.customized_container_row .customized_container_item:nth-of-type(4) .customized_container_item_bg{
	background-position: 4px -1044px;
}
.customer_less{
	margin-bottom: 25px;
}


/*质量体系页面*/
.quality_banner_bg {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    height: 460px;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/Quality/banner.jpg) no-repeat;
}

.quality_control img {
    margin: 88px auto 55px;
}

.quality_control .customer_center_txt {
    margin-bottom: 0;
}

.quality_project .customer_center_tit {
    padding-bottom: 55px;
}

.quality_project ul {
    overflow: hidden;
}

.quality_project_list {
    float: left;
    width: 19%;
    margin-right: 1%;
    background-color: #f5f5f5;
    height: 320px;
}

.quality_project_list:last-child {
    margin-right: 0;
}

.quality_project_list_main {
    padding-top: 69px;
    text-align: center;
}

.quality_project_list_main img {
    margin: 0 auto;
}

.quality_project_list_tit {
    font-size: 16px;
    font-weight: normal;
    margin: 27px 0 36px;
}

.quality_project_list:nth-child(1) .quality_project_list_tit {
    color: #06b524;
}

.quality_project_list:nth-child(2) .quality_project_list_tit {
    color: #fa8829;
}

.quality_project_list:nth-child(3) .quality_project_list_tit {
    color: #fb4655;
}

.quality_project_list:nth-child(4) .quality_project_list_tit {
    color: #7e78e4;
}

.quality_project_list:nth-child(5) .quality_project_list_tit {
    color: #3fa6f2;
}

.quality_project_list_txt {
    font-size: 14px;
    color: #999;
    line-height: 25px;
}

.certificate_shadow {
    display: none;
}

.black_shadow {
    background: #000;
    opacity: .3;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98;
}

.big_certificate {
    position: absolute;
    z-index: 99;
    left: 50%;
    bottom: 0;
    margin-left: -260px;
}

.big_certificate_close {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    border-radius: 0 5px 0 5px;
}

.big_certificate_close .iconfont {
    font-size: 16px;
    color: #fff;
}

.big_certificate_close:hover {}

.big_certificate_one {
    display: none;
}

.big_certificate_one img {
    width: 520px;
    border-radius: 5px;
}

.ios_certificate {
    width: 1440px;
    height: 300px;
    position: relative;
    margin: 40px auto 60px auto;
}

.ios_certificate .show {
    width: 1260px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.ios_certificate ul {
    width: 5250px;
    height: 100%;
    position: absolute;
    left: 0;
}

.ios_certificate ul li {
    list-style: none;
    float: left;
    padding: 0 11px;
    position: relative;
    width: 188px;
}

.ios_certificate ul li img {
    max-width: 100%;
}

.ios_certificate ul li i {
    font-style: normal;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -20px;
    color: #fff;
}

.ios_certificate ul li:hover i {
    display: block;
    cursor: pointer;
}

.ios_certificate ul li span {
    font-size: 18px;
    display: block;
    text-align: center;
    margin-top: 5px;
}

.ios_certificate .left {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -40px;
    width: 40px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    color: #e5e5e5;
    cursor: pointer;
    font-family: serif;
}

.ios_certificate .left i {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #232323;
    opacity: 0;
    z-index: -1;
}

.ios_certificate .left:hover i {
    opacity: .5;
}

.ios_certificate .right {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -40px;
    width: 40px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    color: #e5e5e5;
    cursor: pointer;
    font-family: serif;
}

.ios_certificate .right i {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #232323;
    opacity: 0;
    z-index: -1;
}

.ios_certificate .right:hover i {
    opacity: .4;
}

.ios_certificate .swiper-container {
    display: none;
}

.ios_certificate .swiper-container img {
    margin: 0 auto;
}

@media(max-width:1440px) {
    .ios_certificate {
        width: 1200px;
    }
    .ios_certificate .show {
        width: 1050px;
    }
}

@media(max-width:1220px) {
    .ios_certificate {
        width: 960px;
    }
    .ios_certificate .show {
        width: 630px;
    }
    .box .customerse_z{width: 100%;}
}

@media(max-width:960px) {
    .ios_certificate {
        width: 100%;
        padding: 0;
    }
    .ios_certificate .show {
        width: 210px;
    }
    .quality_project_list {
        width: 49%;
        margin-right: 1%;
        margin-bottom: 1%;
    }
    .certificate_shadow {
        width: 100%;
    }
    .big_certificate {
        left: 0;
        bottom: 0;
        margin: 0 10px;
    }
    .big_certificate_one img {
        width: 100%;
    }

    .ios_certificate{height:inherit}
}

@media(max-width:480px) {
    .quality_banner_bg {
        height: 300px;
    }
    .quality_control img {
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .quality_project_list {
        width: 100%;
        margin-right: 0;
    }
    .ios_certificate .show {
        display: none;
    }
    .ios_certificate .left {
        display: none;
    }
    .ios_certificate .right {
        display: none;
    }
    .ios_certificate .swiper-container {
        display: block;
    }
    .quality_project_list{height:auto;padding-bottom: 40px;}
    .quality_project_list_tit{margin: 20px 0 20px;}
    .quality_project_list_main{    padding-top: 40px;}

}
/*质量体系页面结束*/
/*售后服务页面*/
.content{
    padding: 0 60px;
}
.cs_banner_bg{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    height: 460px;
    background:url(https://img-en.fs.com/includes/templates/fiberstore/images/austomer_service/customer_service_banner.jpg) no-repeat center;
}
.customer_center_txt a{
    font-size: 16px;
    color: #0070BC;
    text-decoration: none;
}
.customer_center_txt a:hover{
    color: #0070BC;
    text-decoration: underline;
}
.cs_promise_main{
    text-align: center;
    padding-bottom: 75px;
    border-bottom: 1px solid #e5e5e5;
}
.cs_promise_main dl{
    display: inline-block;
    margin-right: 100px;
}
.cs_promise_main dl:last-child{
    margin-right: 0;
}
.cs_promise_main dl dt{
    margin-bottom: 20px;
}
.cs_promise_main dl dd{
    font-size: 14px;
    line-height: 26px;
}
.cs_promise_main dl:nth-child(1) dd{
    color: #0070BC;
}
.cs_promise_main dl:nth-child(2) dd{
    color: #f4b183;
}
.cs_promise_main dl:nth-child(3) dd{
    color: #92d050;
}
.cs_policy_table table{
    width: 100%;
    margin: 0 auto;
}
.cs_policy_table table thead tr{
    height: 80px;
    background-color: #e3f0f9;
    text-align: center;
}
.cs_policy_table table thead tr td{
    font-size: 14px;
    color: #616265;
    line-height: 26px;
}

.cs_policy_table table tbody tr td{
    height: 100px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: #999;
    border: 1px solid #e6e9ee;
    border-top: none;
    border-right: none;
}
.cs_policy_table table tbody tr td:last-child{
    border-right: 1px solid #e6e9ee;
}
.cs_notice.customerse_z{
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 70px;
} 
.cs_notice_dl dt{
    font-size: 16px;
    color: #616265;
    line-height: 22px;
}
.cs_notice_dl dt a{
    color: #0070BC;
    text-decoration: none;
}
.cs_notice_dl dt a:hover{
    color: #0070BC;
    text-decoration: underline;
}
.cs_notice_dl dd img{
    margin: 80px auto 40px;
}
.cs_notice_dl dd p{
    font-size: 14px;
    color: #999;
    margin: 12px 0 18px;
    text-indent: 26px;
    line-height: 20px;
}
.cs_notice_dl dd ul{
    padding-left: 25px;
    margin-top: 14px;
}
.cs_notice_dl dd ul li{
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
    overflow: hidden;
}
.cs_notice_dl dd ul li span{
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #999;
    margin-right: 6px;
}
.cs_notice_dl dd ul li b{
    font-weight: normal;
    line-height: 20px;
}
.cs_explain{
    margin-bottom: 40px;
}
.cs_explain_pic{
    margin-bottom: 125px;
}
.cs_explain_pic_main{
    width: 1180px;
    position: relative;
    margin: 0 auto;
}
.cs_explain_pic em{
    position: absolute;
    font-style: normal;
    font-size: 14px;
    color: #7d8180;
    top: 80px;
}
.cs_explain_pic em:nth-child(2){
    left: 95px;
}
.cs_explain_pic em:nth-child(3){
    left: 250px;
}
.cs_explain_pic em:nth-child(4){
    left: 405px;
}
.cs_explain_pic em:nth-child(5){
    left: 562px;
}
.cs_explain_pic em:nth-child(6){
    left: 719px;
}
.cs_explain_pic em:nth-child(7){
    left: 877px;
}
.cs_explain_pic em:nth-child(8){
    left: 1035px;
}
@media(max-width:1440px){
    .cs_explain_pic{
        overflow-x: auto;
    }
    .cs_policy_table{
        overflow-x: auto;
    }
    .cs_notice_dl_pic{
        overflow-x: auto;
    }
    .cs_policy_table table{
	    width: 1320px;
	}
}
@media(max-width:1200px){
    .content{
        padding: 0;
    }
    .cs_promise_main dl{
        margin-right: 185px;
    }
    .cs_policy_table table tbody td{
        padding: 0 10px;
    }
    .cs_policy_table table td br{
        display: none;
    }
}
@media(max-width:960px){
    .content{
        padding: 0 10px;
    }
    .cs_notice_dl dd ul li span{
        float: left;
        margin-top: 5px;
    }
    .cs_notice_dl dd ul li b{
        float: left;
        width: 95%;
    }
}
@media(max-width:820px){
    .cs_promise_main dl{
        display: block;
        margin: 0 auto 20px;
    }
}
@media(max-width:480px){
    .cs_promise_main dl dt img{
        display: block;
        margin: 0 auto;
    }
    .cs_promise_main,.cs_notice.customerse_z{
        padding-bottom: 35px;
    }
    .cs_policy_table table thead td{
        width: 10% !important;
        padding: 0 20px;
    }
    .cs_notice_dl dd p{
        text-indent: 0;
    }
    .cs_notice_dl dt{
        font-size: 14px;
    }
    .cs_notice_dl dd ul{
        padding-left: 0;
    }
}
.content{box-sizing: border-box;}
@media(max-width:960px){
    .cs_promise_main dl{display:inline-block;margin: 30px 40px 0;}
    .cs_promise_main dl dt img{width: 90px;height: 90px;}
}
@media(max-width:640px){
    .cs_promise_main dl{display: block;margin: 30px auto 20px;}
    .cs_promise_main dl dt img{display:block;margin:0 auto;}
}
/*售后服务页面结束*/
/*保修服务页面*/
.repair_banner_bg{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    height: 460px;
    background:url(https://img-en.fs.com/includes/templates/fiberstore/images/Customer_service/repair.jpg) no-repeat center;
}

div,p{margin: 0;padding: 0;}
.content{padding: 0}


.marginB30{margin-bottom: 30px;}
.displayNone{display: none;}
.clear:after{content:"";display: block; height: 0;overflow: hidden;clear: both;visibility: hidden;}
.disPlayFlex{display: flex;}
.warrantyService_quickRepair_submit.btnClick{background: #0070BC;color: #fff;}
.warrantyService{
    width:1200px;
    margin: 0 auto;
}
.warrantyService_module{
    padding:60px 0 62px;
    border-bottom: 1px solid #e5e5e5;
}
.warrantyService_module.paddingBottom70{padding-bottom: 70px;}
.warrantyService_1000px{
    width: 1000px;
    margin: 0 auto;
}
.warrantyService_module_tit{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #616265;
    margin-bottom: 40px;
    margin-top: 0;
    line-height: 30px;
}
.warrantyService_module_txt{
    width: 1008px;
    margin: -8px auto 0;
    font-size: 14px;
    color: #999;
    line-height: 30px;
}
.warrantyService_module_table{
    margin-bottom: 40px;
}
.warrantyService_module_table_box{
    overflow-x: auto;
}
.warrantyService_module_table table{
    width: 1000px;
    margin: 0 auto 20px;
}
.warrantyService_module_table thead tr{
    background: #e3f0f9;
}
.warrantyService_module_table thead th{
    height: 50px;
    color: #232323;
    font-size: 14px;
}
.warrantyService_module_table tbody tr{
    background: #fff;
}
.warrantyService_module_table tbody td{
    text-align: center;
    height: 40px;
    font-size: 14px;
    color: #616265;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.warrantyService_module_table tbody tr.borderBColorDEDEDE td{
    border-bottom-color: #dedede;
}
.warrantyService_module_table tbody td.borderBColorDEDEDE{
    border-bottom-color: #dedede;
}
.warrantyService_module_table tbody td.borderRColorDEDEDE{
    border-right-color: #dedede;
}
.warrantyService_module_table tbody tr td:last-child{
    border-right-color: #dedede;
}
.borderLeft{
    border-left: 1px solid #dedede;
}
.warrantyService_p{
    font-size: 14px;
    color: #999;
    line-height: 14px;
}
.warrantyService_little_tit{
    margin:0 0 30px 0;
    font-size: 18px;
    line-height: 18px;
    color: #232323;
}

.warrantyService_quickRepair{
    padding: 60px 0 100px;
}
.warrantyService_quickRepair_tit{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #616265;
    margin-bottom: 70px;
    margin-top: 0;
    line-height: 30px;
}
.warrantyService_quickRepair_460box{
    width: 460px;
    margin: 0 auto;
}
.warrantyService_quickRepair_input1{
    width: 100%;
    height: 34px;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    outline: none;
    font-size: 14px;
    /*margin-bottom: 16px;*/
    color: #999;
}
.warrantyService_quickRepair_input2{
    float: left;
    width: 65.21%;
    height: 34px;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
    font-size: 14px;
    /*margin-bottom: 16px;*/
    color: #999;
}
.warrantyService_quickRepair_input3{
    float: left;
    width: 85.7%;
    height: 34px;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
    font-size: 14px;
    /*margin-bottom: 16px;*/
    color: #999;
}
.warrantyService_quickRepair_input3_box{
    float: right;
    width: 30.4%;
    overflow: hidden;
}
.warrantyService_quickRepair_input3_box span{
    float: right;
    color: #999;
    line-height: 34px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-right: -3px;
}
input::-webkit-input-placeholder ,textarea::-webkit-input-placeholder{ /* WebKit browsers */
    color:    #999;
    font-size:    14px;
    background:    #fff;
}
input:-moz-placeholder ,textarea:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
    color:    #999;
    font-size:    14px;
    background:    #fff;
}
input::-moz-placeholder ,textarea::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color:    #999;
    font-size:    14px;
    background:    #fff;
}
input:-ms-input-placeholder ,textarea:-ms-input-placeholder{ /* Internet Explorer 10+ */
    color:    #999;
    font-size:    14px;
    background:    #fff;
}
input::-ms-clear{display:none;} /*去掉ie自带的x*/
input:focus,select:focus,select:focus option{
    border-color: #999;
}
.warrantyService_quickRepair_sel{
    -webkit-appearance: none;
    width: 100%;
    height: 34px;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    outline: none;
    font-size: 14px;
    color: #999;
    /*margin-bottom: 16px;*/
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/warrantyBG.png) no-repeat right -449px #fff;
    position: relative;
    cursor: pointer;
}
.warrantyService_quickRepair_sel_val{
    line-height: 30px;
}
.warrantyService_quickRepair_sel_options{
    width: 100%;
    position: absolute;
    top: 34px;
    left: -1px;
    display: none;
    border: 1px solid #999;
}
.warrantyService_quickRepair_sel_options p{
    line-height: 20px;
    background: #fff;
    color: #999;
}
.warrantyService_quickRepair_sel_options p:hover{
    background: #46a1f2;
    color: #fff;
}
.warrantyService_quickRepair_taTip{
    color: #999;
    line-height: 34px;
    margin-top: 4px;
    outline: none;
}
.warrantyService_quickRepair_ta{
    width: 100%;
    height: 78px;
    border: 1px solid #dfdfdf;
    outline: none;
    padding: 0;
    /*margin: 0 0 30px 0;*/
    font-family: "微软雅黑";
    resize:vertical;
    border-radius: 3px;
    color: #999;
}
textarea.warrantyService_quickRepair_ta:focus{
    border-color: #999;
}
.warrantyService_quickRepair_submit{
    width: 120px;
    line-height: 42px;
    color: #0070BC;
    background: #fff;
    border: 1px solid #0070BC;
    outline: none;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto 30px;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    transition: all .3s;
    position: relative;
}
.warrantyService_quickRepair_submit:hover{
    background: #0070BC;
    border-color: #0070BC;
    color: #fff;
}
.warrantyService_quickRepair_other{
    text-align: center;
    color:#999;
    font-size: 14px;
    line-height: 14px;
}
.warrantyService_quickRepair_afterSale{
    color: #0070BC;
    text-decoration: none;
}
.warrantyService_quickRepair_afterSale:hover{
    text-decoration: underline;
}
.warrantyService_quickRepair_input3_box span.warrantyService_quickRepair_delete{
    transform: rotate(45deg);
    margin-right: -5px;
}
.repair_error{
    display: block;
    /*margin: -6px 0 16px;*/
    color: #d82d33;
    visibility: hidden;
    font-weight: normal;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/login_alert_icon.png) no-repeat 0px 5px;
    text-indent: 20px;
}
.repair_error.active{
    visibility: visible;
}
.repair_error.taTip{
    margin:0px 0 10px;
}
.warrantyService_quickRepair_kh{
    font-size: 14px;
    line-height: 42px;
    position: absolute;
    top: 0;
}
.kh_left{
    left: 37px;
}
.kh_right{
    left: 58px;
}

@media (max-width:1200px) {
    .warrantyService{
        width: 100%;
    }
}
@media (max-width:960px){
    .warrantyService_1000px{
        width: 100%;
    }
    .warrantyService_module_txt{
        width: 100%;
    }
    .warrantyService{
        box-sizing: border-box;
        padding: 0 20px;
    }
    .warrantyService_p,.warrantyService_quickRepair_other{
        line-height: 20px;
    }
}
@media (max-width:460px){
    .warrantyService_quickRepair_460box{
        width: 100%;
    }
}
/*保修服务页面结束*/


@media(max-width:1440px){
	.box{
		width: 1200px;
	}
	.customized_fs_list_pic{
		height: 232px;
	}
	.customized_programme_picleft .customized_programme_introduce{
		margin-left: 200px;
	}
	.customized_blackboard .spot:nth-of-type(1){
		top: 169px;
		left: 330px;
	}
	.customized_blackboard .spot:nth-of-type(2){
		top: 286px;
		left: 599px;
	}
	.customized_blackboard .spot:nth-of-type(3){
		top: 137px;
		left: 843px;
	}
}
@media(max-width:1200px){
	.box{
		width: 960px;
	}
	.customized_fs_list_pic{
		height: 186px;
	}
	.customized_programme_picleft .customized_programme_slide{
		padding-left: 0;
	}
	.customized_programme_picleft .customized_programme_introduce{
		margin-left: 160px;
	}
	.customized_programme_picright .customized_programme_slide{
		margin-right: 0;
	}
	.customized_programme_picright .customized_programme_introduce{
		padding-left: 0;
	}
	.customized_fluid_box{
		width: 960px;
	}
	.customized_normal_box{
		width: 960px;
	}
	.customized_container_row{
		width: 960px;
	}
	.customized_blackboard .spot:nth-of-type(1){
		top: 151px;
		left: 256px;
	}
	.customized_blackboard .spot:nth-of-type(2){
		top: 246px;
		left: 479px;
	}
	.customized_blackboard .spot:nth-of-type(3){
		top: 118px;
		left: 690px;
	}
}
@media(max-width:960px){
	.box{
		width: 100%;
	}
	.content{
		padding: 0px;
	}
	.customized_choose{
		width: 600px;
	}
	.customized_choose_list{
		width: 150px;
	}
	.customer_center_txt br{
		display: none;
	}
	.customized_fs_list_pic{
		height: 145px;
	}
	.customized_fs_all dl{
		margin-right: 50px;
	}
	.customized_fs_all span{
		margin-right: 50px;
	}
	.customized_programme_picleft,.customized_programme_picright{
		height: auto;
	}
	.customized_programme_picleft .customized_programme_slide{
		float: none;
		margin: 0 auto;
	}
	.customized_programme_slide_dot,.customized_programme_picright .customized_programme_slide_dot{
	    left: 50%;
		margin-left: -38px;
	}
	.customized_programme_introduce{
		float: none;
		text-align: center;
		margin: 0 auto !important;
		padding-top: 70px;
	}
	.customized_programme_picright .customized_programme_slide{
		float: none;
		margin: 0 auto;
	}
	.customized_programme_picleft_bg{
		height: 850px;
	}
	.customized_programme_introduce_txt{
		transform: translateY(0) !important;
		opacity: 1;
	}
	.customized_programme_introduce_icon{
		transform: translateY(0) !important;
		opacity: 1;
	}
	.customized_programme_introduce a{
		transform: translateY(0) !important;
		opacity: 1;
	}
	.customized_blackboard .spot{
		display: none;
	}
	.customized_fluid_box{
		width: 100%;
	}
	.customized_normal_box{
		width: 100%;
	}
	.customized_container_row{
		width: 100%;
	}
	.customized_tab_box{
		width: 100%;
	}
	.customized_blackboard{
		margin-bottom: 10px;
	}
	.customer_center_tit{
		font-size: 24px;
		color: #616265;
		padding: 32px 0 12px 0;
	}
	.customer_center_txt{
		padding: 0 20px;
	}
	.customized_tab_btn ul li{
		margin: 0 10px;
		font-size: 14px;
	}
	.customized_tab_item_right>h2{
		font-size: 24px;
	}
	.customized_tab_txt p{
		font-size: 14px;
	}
	.customized_normal_box>h2{
		font-size: 24px;
		color: #616265;
		padding: 32px 0 12px 0;
	}
	.customized_normal_box>p{
		margin-bottom: 20px;
	}
	.customized_normal_box{
		height: 320px;
	}
	.customized_normal_box_bg{
		height: 320px;
	}
	.customer_center_txt{
		margin-bottom: 20px;
	}
}
@media(max-width:768px){
	.customized_normal_box_bg{
		display: none;
	}
	.customized_normal_box{
		height: auto;
		background: #F9F9F9;
		padding-bottom: 20px;
	}
	.customized_normal_List_item{
		margin-bottom: 15px;
		width: 50%;
	}
	.customized_normal_List:before{
		display: none;
	}
	.customized_normal_List_item:before{
		display: none;
	}
	.customized_normal_List_item h3{
		margin-top: 10px;
	}
	.customized_normal_List_item p{
		margin-top: 0;
	}
	.customized_container_item{
		width: 50%;
		margin-bottom: 20px;
	}
	.customized_tab_icon li{
		margin-right: 20px;
		display: inline-block;
		float: none;
	}
	.customized_tab_item_left{
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}
	.customized_tab_item_right{
		width: 100%;
		padding: 0 20px;
		text-align: center;
	}
	.customized_tab_item_right>h2{
		text-align: center;
		margin-bottom: 15px;
	}
	/*.customized_fs ul{*/
		/*text-align: left;*/
	/*}*/
	.customized_tab_txt{
		text-align: center;
		margin-bottom: 10px;
	}
	.customized_tab_txt p{
		display: inline-block;
		float: none;
	}
	.customized_tab_btn{
		overflow-x: auto;
		width: 100%;
	}
	.customized_tab_btn ul{
		text-align: left;
		width: 768px;
	}
	.customized_tab_content{
		margin-bottom: 30px;
	}


}
@media(max-width:480px){
	.customized_banner{
		height: 265px;
	}
	.customized_banner_bg{
		height: 300px;
	}
	.customized_banner_tit{
		font-size: 30px;
		padding-top: 60px;
	}
	.customized_banner_txt{
		font-size: 18px;
		line-height: 35px;
	}
	.customized_choose{
		width: 100%;
	}
	.customized_choose_list{
		float: none;
		width: 100%;
		border-bottom:none ;
		border-left: 1px solid #dedede !important;
		border-right: 1px solid #dedede !important;
	}
	.customized_choose_list:last-child{
		border-bottom: 1px solid #dedede;
	}
	.customized_choose_list span{
		display: none;
	}
	.customer_center_tit{
		padding: 20px 0 15px 0;
		font-size: 24px;
	}
	.customer_center_txt{
		font-size: 14px;
		text-align: left;
		line-height: 24px;
		padding: 0 20px;
	}
	.customized_fs_list{
		width: 100%;
		margin-bottom: 10px;
	}
	.customized_fs_list_pic{
		height: 212px;
	}
	.customized_fs_all span{
		display: none;
	}
	.customized_fs_all dl{
		margin-right: 0;
		width: 30%;
		float: left;
	}
	.customized_fs_all dl img{
		display: inline-block;
	}
	.customized_fs_all{
		padding-left: 40px;
	}
	.customized_fs_all dl:nth-child(1){
		text-align: right;
		border-right: 1px solid #dedede;
		padding-right: 45px;
		padding-bottom: 18px;
	}
	.customized_fs_all dl:nth-child(3){
		padding-left: 45px;
		text-align: left;
		padding-bottom: 18px;
	}
	.customized_fs_all dl:nth-child(5){
		padding-right: 45px;
		text-align: right;
		border-right: 1px solid #dedede;
		border-top: 1px solid #dedede ;
		padding-top: 18px;
	}
	.customized_fs_all dl:nth-child(7){
		padding-left: 45px;
		text-align: left;
		border-top: 1px solid #dedede ;
		padding-top: 18px;
	}
	.customized_programme_slide{
		width: 100%;
	}
	.customized_programme_slide_list img{
		width: 100%;
	}
	.customized_programme_slide{
		padding-top: 50px;
	}
	.customized_programme_slide{
		height: 240px;
	}
	.customized_programme_introduce_tit{
		font-size: 24px;
	}
	.customized_programme_introduce_txt p{
		font-size: 14px;
	}
	.customized_programme_introduce_icon{
		text-align: center;
	}
	.customized_programme_introduce_icon dl:last-child{
		margin-right: 0;
	}
	.customized_programme_picleft{
		margin-bottom: 30px;
	}
	.customized_programme_picright{
		margin-bottom: 30px;
	}
	.customized_programme_picleft_bg{
		height: 680px;
	}
	.customized_fluid_box .fluid_box_items{
		width: 100%;
		line-height: 80px;
		border-bottom: 1px solid #e5e5e5;
	}
	.customized_fluid{
		display: none;
	}
	.customized_fluid_box{
		/*width: 320px;*/
		/*margin: 0 auto;*/
		height: auto;
		background: #F6F6F6;
	}
}

@media(max-width:480px){
	.customized_banner_txt{padding-left:20px;padding-right:20px;}
	.network_bottom_tit{margin-bottom:10px;}
	.network_bottom_con{margin-top:40px;}
	.customized_container_row{margin-bottom:30px;}
}
