.generate_container{width:960px;margin:0 auto}
.generate_content{width:780px}
.generate_top_h2{font-size:24px;color:#232323;font-weight:400;padding-top:30px;padding-bottom: 10px;}
.generate_select_container{display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;flex-wrap:wrap;-webkit-wrap:wrap}
.alone_generate_select{width:378px}
.generate_input{height:38px;border:1px solid #e5e5e5;transition:all .3s;box-sizing:border-box;border-radius:3px;font-size:14px;color:#232323;font-weight:400;padding:0 10px;display:block;width:100%;transition:all .3s}
.generate_input:focus{border-color:#999}
.alone_generate_p{font-size:13px;color:#616265;line-height:20px;padding-bottom:5px;margin-top:14px}
.junior_input{width:180px}
.generate_textarea{border-radius:2px;resize:none;padding:10px;width:100%;box-sizing:border-box;border:1px solid #e6e7e8;transition:all .3s;margin-top:0;height:100px}
.generate_textarea:focus{border-color:#999}
.alone_generate_a{font-size:14px;background:#fff;border-radius:2px;color:#c00000;cursor:pointer;display:inline-block;text-align:center;vertical-align:middle;font-weight:400;height:40px;line-height:36px;border:2px solid #c00000;padding:0;transition:all .3s;box-sizing:border-box;min-width:150px;border-radius:2px;text-decoration:none;width:320px}
.alone_generate_a:hover{text-decoration:none;background:#c00000;color:#FFF;border-color:#c00000}
.generate_back{background:#bebebe;color:#FFF;border-color:#bebebe}
.generate_back:hover{cursor:not-allowed;background:#bebebe;color:#FFF;border-color:#bebebe}
.generate_h2_bottom{font-size:14px;line-height:22px;color:#232323;font-weight:600;padding-top:14px}
.generate_p_bottom{font-size:14px;line-height:22px;color:#616265;padding-bottom:16px}
.generate_margin{margin-top:30px;padding-bottom:60px}
.generate_Prompt{color: #339933;font-weight: 400;font-size: 18px;padding-bottom: 10px;padding-top: 20px;}
.generate_Prompt .icon{font-size: 22px;display: inline-block;font-weight: 600;vertical-align: middle;}
.generate_Remind{font-size: 13px;color: #616265;line-height: 20px;background: #fffcf7;border: 1px solid #ffeabf;padding: 8px 30px 10px 45px;position: relative;border-radius: 2px;margin-top: 14px;}
.generate_Remind .icon{font-size: 16px;color: #d8a43a;position: absolute;left: 20px;}
.quest_select {
    position: relative;
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    border-radius: 2px;
}.quest_one_option {
     position: relative;
     width: 100%;
     height: 100%;
     outline: 0;
     box-sizing: border-box;
     border: 1px solid #e5e5e5;
     font-size: 13px;
     color: #232323;
     font-weight: 400;
     line-height: 36px;
     padding: 0 10px;
     border-radius: 2px;
     cursor: pointer;
 }.alone_under {
      display: inline-block;
      width: 14px;
      height: 14px;
      position: absolute;
      right: 10px;
      font-size: 12px;
  }.quest_option {
       position: absolute;
       left: 0;
       width: 100%;
       background: #FFF;
       z-index: 4;
       box-sizing: border-box;
       border: 1px solid #e5e5e5;
       border-top: none;
       border-bottom-left-radius: 2px;
       border-bottom-right-radius: 2px;
       padding-bottom: 10px;
       display: none;
   }.quest_ul li {
        font-size: 13px;
        padding: 0 10px;
        color: #616265;
        line-height: 30px;
        cursor: pointer;
        transition: all .3s;
    }


@media (max-width: 960px){
    .generate_content,.generate_container,.box, .content, .news_container{width: 100%;}
    .generate_container{padding: 0 10px;box-sizing: border-box;}
    .alone_generate_select,.junior_input{width: 49%;}
}
@media (max-width: 480px){
    .generate_Remind{padding-right: 20px;}
    .alone_generate_select, .junior_input{width: 100%;}
    .junior_input{margin-bottom: 22px;}
    .junior_input:last-child{margin-bottom: 0;}
    .alone_generate_a{width: 100%;}
}

/*2019-9-9 potato 补款链接输入框样式*/
.generate_textarea{
    overflow: hidden;
}
.generate_select_container{
    position: relative;
}
.wordwrap0909{
    position: absolute;
    bottom: 24px;
    right: 13px;
    font-size: 13px;
    color: #616265;
    line-height: 30px;

}
.public_textarea_container{width: 100%}
