.newsletter_li .letter_text{
    font-size: 13px;
    color: #19191a;
}
.acc_options_none .acc_sub_txt{
    font-size: 14px;
}
.alone_new_dash_content{
    margin-top: 20px;
}
.new_dashboard_content{
    padding-bottom: 0px;
}
.new_email_sub_bg{
    background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/email_sub_banner_bg.jpg");
}
.new_account_options{
    box-sizing: border-box;
    text-align: center;
    padding: 30px 0;
}
.email_sub_btn{
    margin-top: 20px;
}
.email_sub_btn>button{
    margin-right: 20px;
}
.new_alone_padding{
    background-color: #fff;
}
.email_sub_tit{
    font-size: 26px;
    color: #232323;
    line-height: 24px;
    font-weight: 400;
}
.email_from_input{
    font-size: 14px;
}
.email_from_title{
    margin-top: 20px;
    margin-bottom: 15px;
}
.email_from_input>input{
    width: 480px;
    height: 38px;
    border-radius: 2px;
    border: solid 1px #e5e5e5;
    outline: none;
    padding-left: 10px;
}
.email_error_prompt{
    margin-top: 5px;
}
.acc_options_middle{width: 600px;}
.subScriptRadio_txt{color:#646466}
@media(max-width:960px) {
    .acc_options_middle{width: 100%;}
    .email_from_input>input{
        width: 100%;
    }
}

.ui_fixed_alert{position:fixed;top:50%;left:50%;width:600px;margin-left:-300px;height:152px;margin-top:-76px;background:#FFF;z-index:100;padding-left:40px;box-sizing:border-box;box-shadow:0 1px 3px 0 rgba(0,0,0,.07),0 3px 13px 0 rgba(0,0,0,.16)}
.email_Delete{font-size:18px;float:right;margin-right:11px;margin-top:11px;cursor:pointer;color:#a1a1a1;}
.email_delete_img{font-size:18px;color:#232323;line-height:34px;font-weight:400;margin-top:39px;margin-bottom:9px}
.email_delete_img img{margin-right:10px}
.email_Delete_txt{font-size:14px;color:#232323}
.account_set_txt02{font-size: 13px;color: #19191a;line-height: 20px;margin-bottom: 10px}
.new_radio_ui{font-size: 18px;color: #4b4b4d;}
.newsletter_li.active .new_radio_ui{font-size: 16px;}

