body { margin:0 auto; padding:0; font-size:13px; font-style:normal; font-weight:400; list-style: none; }
.box { width: 1440px; padding: 0; margin: 0 auto; }
.content { padding: 0; }
h1, h2, h3, p, ul, li, dl, dt, dd, input, select, form, div { margin: 0; padding: 0; list-style: none; }
/*engineCase Style*/
.engineCase_banner{width: 100%;height:500px;}
.engineCase_banner_bg{position:absolute;left:0;width: 100%;height: 500px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/engineCase/engineCase_banner_02.jpg) no-repeat center;z-index: -1;}
.engineCase_banner_tit{width: 100%;font-size: 36px;line-height: 36px;text-align: center;padding-top: 160px;margin-bottom: 28px;color:#fff;font-weight: 400;}
.engineCase_banner_words{width: 100%;font-size: 24px;line-height: 24px;text-align: center;color:#fff;}
.engineCase_forReady{width: 100%;overflow:hidden;padding-top: 78px;margin-bottom: 86px;}
.engineCase_forReady_tit{width: 100%;font-size: 24px;line-height:24px;color:#232323;text-align: center;font-weight: 400;}
.engineCase_forReady_content{width: 100%;}
.engineCase_forReady_content_img{float: left;margin: 44px 7.77% 0 10.97%;}
.engineCase_forReady_content_words{float: left;width: 44.16%;box-sizing:border-box;padding-right: 130px;}
.engineCase_forReady_content_words_tit{font-size: 20px;line-height: 20px;font-weight:400;color:#232323;margin: 126px 0 30px 0;}
.engineCase_forReady_content_words_line{width: 65px;height: 2px;background: #0070BC;margin-bottom: 54px;}
.engineCase_forReady_content_words_desc1{font-size: 14px;color:#777777;line-height: 24px;margin-bottom: 40px;}
.engineCase_forReady_content_words_desc2{font-size: 14px;color:#777777;line-height: 24px;}
.engineCase_spineLeaf{width: 100%;}
.engineCase_spineLeaf_bg{position: absolute;width: 100%;height: 626px;background: #efefef;left: 0;z-index: -1;}
.engineCase_spineLeaf_tit{width:100%;text-align:center;padding-top: 58px;font-size: 24px;line-height: 24px;color:#232323;font-weight: 400;margin-bottom: 18px;}
.engineCase_spineLeaf_desc{width:100%;text-align:center;font-size: 16px;color:#777777;margin-bottom: 65px;}
.engineCase_spineLeaf_ul{width: 100%;box-sizing: border-box;padding: 50px 0 0 11.66%;overflow:hidden;}
.engineCase_spineLeaf_ul>li{float:left;width: 149px;height: 209px;text-align:center;font-size:16px;cursor:pointer;color:#444444;box-sizing:border-box;padding-top:52px;margin-right: 7.1%;background: url("https://img-en.fs.com/includes/templates/fiberstore/images/engineCase/engineCase_yuan.png") no-repeat 0 0/cover;transition: all .5s;}
.engineCase_spineLeaf_ul>li:last-child{margin-right:0;}
.engineCase_spineLeaf_ul>li.click{transform: translateY(-50px);transition: all .5s;}
.engineCase_spineLeaf_ul_li_content{width: 100%;display: none;}
.engineCase_spineLeaf_ul_li_content.select{display: block;}
.engineCase_spineLeaf_ul_li_content_1{width: 100%;text-align:center;font-size: 20px;line-height:20px;margin: 56px 0 10px 0;color:#0070BC;}
.engineCase_spineLeaf_ul_li_content_2{width: 100%;text-align:center;font-size: 20px;line-height:20px;color:#777777;margin-bottom: 74px;}
.engineCase_system{width: 100%;margin-bottom: 80px;}
.engineCase_system_tit{width: 100%;text-align: center;font-size: 24px;line-height:24px;font-weight:400;color:#232323;padding-top: 80px;margin-bottom: 40px;}
.engineCase_system_img{display:block;margin: 0 auto 84px;}
.engineCase_system_demo{width: 100%;text-align: center;font-size: 26px;line-height:26px;color:#232323;font-weight: 400;}
.engineCase_system_ul{margin-top: 60px;overflow: hidden;}
.engineCase_system_ul li { float: left; list-style: none; width: 23.7%; border: 1px solid #e5e5e5; margin-right: 1.5%; text-align: center;    box-sizing: border-box; overflow:hidden; }
.engineCase_system_ul li span{vertical-align: middle;text-align: center;}
.engineCase_system_ul li span i{height: 159px; overflow: hidden; display:block; margin:0 auto; }
.engineCase_system_ul li span i img{ cursor: pointer;  transition: all 0.6s; max-width:100%;}
.engineCase_system_ul li span i img:hover{  transform: scale(1.15);  }
.engineCase_system_ul li:last-child { margin-right: 0; }
.engineCase_system_ul li h2 { font-size: 18px; font-weight: normal; margin-top: 34px; color:#232323;}
.engineCase_system_ul li p { font-size: 14px; color: #616265; font-weight:400; margin-top: 16px; margin-bottom: 15px; padding:0 18px; min-height:40px;}
.patch_panpel_cabing { width: 100%;padding-bottom: 86px; overflow: hidden; }
.patch_panpel_cabing_bg { width: 100%; height: 886px; position: absolute; left: 0; background: #f6f6f6; z-index: -2; }
.patch_panpel_tit{width: 100%;text-align: center;font-size: 24px;line-height: 24px; color:#232323;font-weight: 400;margin:74px 0 20px 0;}
.patch_panpel_text{width: 100%;text-align: center;font-size: 16px;color:#777;margin-bottom: 60px;}
.patch_panpel_cabing01, .patch_panpel_cabing02 {text-align: center;overflow: hidden;width: 100%;}
.patch_panpel_cabing_text_left { float: left; width: 18.75%; padding-top: 120px; margin-left: 122px;}
.patch_panpel_line{width:46px;height: 2px;background: #0070BC;margin: 20px 0 28px;}
.patch_panpel_cabing_text_left h2, .patch_panpel_cabing_text_right h2 { font-size: 18px;color:#000; font-weight: 400; text-align: left }
.patch_panpel_cabing_text_left p, .patch_panpel_cabing_text_right p { text-align: left; font-size: 14px; margin-bottom: 20px;color:#777777; }
.patch_panpel_cabing_text_right { float: right; width: 20%; padding-top: 120px; margin-right: 122px;}
.patch_panpel_cabing_pic { width: 43%; float: left; }
.patch_panpel_cabing_slide { width: 100%; height: 600px; }
.patch_panpel_cabing_slide_ul { position: relative;z-index: -1;}
.patch_panpel_cabing_slide_ul li {width: 100%; position: absolute; top: 0; z-index: 1; list-style: none; }
.patch_panpel_cabing02_01 { float: left; padding-left: 5%; width: 45% }
.patch_panpel_cabing02_02 { float: right; padding-right: 5%; width: 45% }
.patch_panpel_cabing02_01 p, .patch_panpel_cabing02_02 p { font-size: 18px; line-height:24px;color:#232323;}
.patch_panpel_cabing_slide_dot { position: absolute; text-align: center; z-index: 10; width: 100%; left: 0; transform: translateY(640px); }
.patch_panpel_cabing_slide_dot em { display: inline-block; width: 10px; height: 10px; border: 1px solid #616265; border-radius: 50%; margin-right: 13px; cursor: pointer; z-index: 10; }
.patch_panpel_cabing_slide_dot em.active { background: #616265; }
.patch_panpel_cabing_slide_prev{display:none;width: 44px;height: 76px;float: left;margin-top: 210px;background:rgba(0,0,0,0.05) url("https://img-en.fs.com/includes/templates/fiberstore/images/engineCase/engineCase_arrowLeft.png") no-repeat 11px 21px;cursor:pointer;transition: all 0.5s;}
.patch_panpel_cabing_slide_next{display:none;width: 44px;height: 76px;float: right;margin-top: 210px;background:rgba(0,0,0,0.05) url("https://img-en.fs.com/includes/templates/fiberstore/images/engineCase/engineCase_arrowLeft.png") no-repeat 11px 21px;cursor:pointer;transform: rotate(180deg);transition: all 0.5s;}
.patch_panpel_cabing_slide:hover .patch_panpel_cabing_slide_prev,
.patch_panpel_cabing_slide:hover .patch_panpel_cabing_slide_next
{display: block;transition: all 0.5s;}
.patch_panpel_cabing_slide_prev:hover,.patch_panpel_cabing_slide_next:hover{opacity: .8;}
.patch_panpel_pro>.patch_panpel_tit{margin-top: 80px;color:#000;}
.patch_panpel_tab { margin-top: 20px; }
.patch_panpel_button { width: 420px; margin: 0 auto; overflow: hidden; }
.patch_panpel_button .top_item, .patch_panpel_button .left_bar { float: left; font-size: 20px; font-weight:400; line-height: 52px; border-bottom: 2px solid #e5e5e5; width: 50%; text-align: center; cursor: pointer; color:#616265;}
.patch_panpel_button .tip_over, .patch_panpel_button .left_bar.click{ float: left; font-size: 20px; font-weight:400; line-height: 52px; border-bottom: 2px solid #0070BC; width: 50%; text-align: center; cursor: pointer; }
.patch_panpel_pro_con { margin: 50px 0; display: none;}
.patch_panpel_pro_con.select{display: block;}
.patch_panpel_tab_con { margin-bottom: 82px; overflow: hidden; }
.patch_panpel_pro_li { float: left; list-style: none; width: 32.1%; margin-right: 1.5%; border: 1px solid #e5e5e5; text-align: center; overflow: hidden; position: relative; background: #fff; min-height: 370px; }
.patch_panpel_pro_li:last-child { margin-right: 0; }
.patch_panpel_pro_li h2 { font-size: 18px; font-weight: 400; margin-top: 40px; color:#232323;}
.patch_panpel_pro_li p { font-size: 14px; font-weight: 400; margin-top: 20px; margin-bottom: 15px;}
.patch_panpel_pro_more { width: 100%; position: absolute; bottom: 0; height: 50px; left: 0; margin-top: 10px; }
.patch_panpel_pro_more_li { width: 31.8%; height: 50px; float: left; margin-right: 2%; position: relative; list-style: none; overflow: hidden; display: inline-block; }
.patch_panpel_pro_more_two { width: 49%; }
.patch_panpel_pro_more_li:last-child { margin-right: 0; float: right; }
.patch_panpel_pro_more_span01 { position: absolute; width: 100%; height: 100%; background-color: #f2f2f2; color: #616265; font-size: 14px; line-height: 50px; text-align: center; left: 0; }
.patch_panpel_pro_more_span02 { display: block; width: 100%; height: 100%; background-color: #027cce; color: #fff; text-align: center; line-height: 50px; transform: translateY(50px);  transition: all .5s;
    font-size: 14px; }
.patch_panpel_pro_more_li:hover .patch_panpel_pro_more_span02 { transform: translateY(0); }
.patch_panpel_pro_more_li a { text-decoration: none; }
.patch_panpel_pro_text { position: absolute; bottom: 0; left: 0; width: 100%; background-color: #f2f2f2; color: #616265; font-size: 14px; line-height: 20px; padding: 15px 0; text-align: center; }
.patch_panpel_pro_text01 { width: 100%; height: 50px; color: #fff; font-size: 14px; line-height: 50px; text-align: center; transform: translateY(0);  transition: all .5s;
    background: #027cce; bottom: -50px; position: absolute; }
.patch_panpel_pro_text01 i{ font-style:normal;}
.patch_panpel_pro_li:hover .patch_panpel_pro_text01 { transform: translateY(-50px); }
.patch_panpel_pro_li a { color: #232323; text-decoration: none; }
.engineCase_switch{width: 100%;margin-bottom:200px}
.engineCase_switch_bg{position: absolute;left:0;width: 100%;height: 700px;background: #f6f6f6;z-index: -1;}
.engineCase_switch_tit{width: 100%;text-align: center;padding-top:79px;color:#232323;font-size: 24px;font-weight: 400;margin-bottom: 78px;}
.engineCase_switch_ul{width: 100%;overflow: hidden;margin-bottom: 110px;}
.engineCase_switch_ul li{float: left;width: 33.26%;height: 400px;border-right: 1px solid #e7e7e7;position: relative;overflow: hidden;}
.engineCase_switch_ul li:last-child{border-right: 0;}
.engineCase_switch_ul li img{display: block;margin: 0 auto;margin-bottom: 18px;}
.engineCase_switch_ul li p{position:absolute;top:285px;width: 100%;text-align: center;color:#232323;font-size: 14px;z-index: 1;}
.engineCase_switch_ul li:hover p{color:#fff;}
.engineCase_switch_ul li .engineCase_switch_ul_li_wrapper{position:absolute;bottom:-400px;left:0;display: block;width: 100%;height: 100%;background: #000;opacity: 0.3;}
.engineCase_switch_ul li:hover .engineCase_switch_ul_li_wrapper{transform: translateY(-400px);transition: all 0.5s;}
.engineCase_switch_ul_li_words_1,
.engineCase_switch_ul_li_words_2,
.engineCase_switch_ul_li_words_3{position:absolute;bottom:-50px;display:block;width: 100%;text-align: center;font-size: 14px;color:#fff;}
.engineCase_switch_ul li:hover .engineCase_switch_ul_li_words_1{transform: translateY(-296px);transition: all 0.3s linear 0.5s;}
.engineCase_switch_ul li:hover .engineCase_switch_ul_li_words_2{transform: translateY(-272px);transition: all 0.3s linear 0.5s;}
.engineCase_switch_ul li:hover .engineCase_switch_ul_li_words_3{transform: translateY(-186px);transition: all 0.3s linear 0.5s;}
.engineCase_switch_ul li:hover p{color:#fff;}

@media(max-width: 1440px){
    .box {width: 100%;}
    .engineCase_forReady_content_img{margin: 42px 5.77% 0 4.97%;}
    .patch_panpel_cabing_pic>img{width: 100%}
    .patch_panpel_cabing_text_left{margin-left: 8.47%;}
    .patch_panpel_cabing_text_right{margin-right: 8.47%;}
}
@media(max-width: 1220px){
    .engineCase_forReady_content_img{margin:42px 0 0;}
    .engineCase_forReady_content_words{padding-right: 0;width: 42.16%;}
    .engineCase_spineLeaf_bg{display: none;}
    .engineCase_spineLeaf_ul{padding:50px 0 0 0;}
    .engineCase_spineLeaf_ul>li{margin-right:5.1%}
    .patch_panpel_cabing02_02>img,.patch_panpel_cabing02_01>img{width: 90%;}
}
@media(max-width: 960px){
    .engineCase_forReady_content_img{margin:42px auto;float: none;display: block;}
    .engineCase_forReady_content_words{width: 100%;}
    .engineCase_forReady_content_words_tit{text-align: center;}
    .engineCase_forReady_content_words_line{display: none;}
    .engineCase_spineLeaf_ul>li{margin-right:5.1%}
    .engineCase_system_ul li{width: 48%;margin-bottom: 20px;}
    .patch_panpel_cabing_text_left,.patch_panpel_cabing_text_right{padding-top: 0;}
    .patch_panpel_button{width: 29.16%;}
    .patch_panpel_pro_li{width: 100%;}
    .engineCase_switch_ul>li{width: 33%;background: #f6f6f6;}
    .engineCase_switch_ul>li>img{width: 100%;}
}
@media(max-width: 630px){
    .engineCase_system_img{width: 100%;}
}
@media(max-width: 580px){
    .engineCase_forReady_content_img{width: 100%;}
    .patch_panpel_cabing_text_left{width: 100%;}
    .patch_panpel_cabing_text_right{width: 100%;}
    .patch_panpel_cabing_bg{display: none;}
    .patch_panpel_cabing_pic{width: 100%;}

}
@media(max-width: 480px){
    .engineCase_system_ul li{width: 99%;margin-bottom: 20px;}
    .engineCase_switch_ul>li{width: 100%;}
    .engineCase_switch_ul>li>img{width: 64%;}
}