
.po_static_state_conatiner{
	background: #F7F7F7;
}
.po_static_state_width{
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 80px 80px 74px 80px;
	box-sizing: border-box;
}
.po_static_state_top{
	display: flex;
	border-bottom: 1px solid #232323;
	padding-bottom: 20px;
	margin-bottom: 34px;
}
.po_static_state_border{
	height: 38px;
	border-right: 1px solid #8D8D8F;
	display: inline-block;
	margin: 0 12px;
}

.po_static_state_top_txt{
	font-size: 16px;
	color: #232323;
	font-weight: 600;
	line-height: 38px;
}
.po_static_state_middle_dl_container{
	display: flex;
}
.po_static_state_middle_dl_container .po_static_state_middle_content:first-child{
	width: 40%;
}
.po_static_state_middle_dl_container .po_static_state_middle_content:nth-child(2){
	width: 30%;
}
.po_static_state_middle_dl_container .po_static_state_middle_content:nth-child(3){
	width: 30%;
}
.po_static_state_middle_tit{
	font-size: 14px;
	color: #232323;
	line-height: 24px;
	font-weight: 600;
	padding-bottom: 6px;
}
.po_static_state_middle_txt{
	font-size: 13px;
	color: #232323;
	line-height: 22px;
}
.po_static_state_middle_dl_container li{
	color: #fff;
	background: #4C4948;
	font-size: 14px;
	font-weight: 600;
	line-height: 36px;
}
.po_static_state_middle_dl_container li:first-child{
	padding-left: 20px;
	box-sizing: border-box;
	width: 40%;
}
.po_static_state_middle_dl_container li:nth-child(2){
	width: 30%;
}
.po_static_state_middle_dl_container li:nth-child(3){
	width: 30%;
}
.po_static_state_middle_content_top .po_static_state_middle_tit{
	font-size: 13px;
	line-height: 22px;
	padding-bottom: 0;
}
.po_static_state_middle_content_top{
	margin-bottom: 4px;
}
.po_static_state_middle_content .po_static_state_middle_content_top:last-child{
	margin-bottom: 0;
}
.po_static_state_middle_table{
	width: 100%;
}
.po_static_state_middle_table tr th{
	font-size: 14px;
	color: #fff;
	line-height: 36px;
	background: #4C4948;
	text-align: center;
}
.po_static_state_middle_table tr td{
	font-size: 13px;
	color: #232323;
	line-height: 22px;
	text-align: center;
	border-bottom: 1px solid #4C4948;
	padding: 16px 0 19px 0;
}
.po_static_state_middle_table tr td:first-child{
	text-align: left;
	padding-left: 20px;
	box-sizing: border-box;
}
.po_static_state_middle_table tr td:last-child{
	text-align: right;
	padding-right: 20px;
	box-sizing: border-box;
}
.po_static_state_middle_table tr th:first-child{
	padding-left: 20px;
	box-sizing: border-box;
	text-align: left;
}
.po_static_state_middle_table tr th:first-child{
	width: 40%;
}
.po_static_state_middle_table tr th:nth-child(2){
	width: 16%;
}
.po_static_state_middle_table tr th:nth-child(3){
	width: 13%;
}
.po_static_state_middle_table tr th:nth-child(4){
	width: 15%;
}
.po_static_state_middle_table tr th:nth-child(5){
	width: 16%;
	text-align: right;
	padding-right: 20px;
	box-sizing: border-box;
}
ul.po_static_state_middle_dl_container{
	margin: 20px 0;
}
.po_static_state_middle_content:first-child .po_static_state_middle_content_top{
	padding-left: 20px;
	box-sizing: border-box;
}
.po_static_state_middle_table_container{
	margin-top: 20px;
}
.po_static_state_bottom_txt_conatiner{
	text-align: right;
}
.po_static_state_bottom_txt_left,.po_static_state_bottom_txt_right{
	font-size: 13px;
	color: #232323;
	line-height: 22px;
	display: inline-block;
}
.po_static_state_bottom_txt_left{
	min-width: 140px;
	text-align: left;
}
.po_static_state_bottom_txt_right{
	font-weight: 600;
	min-width: 90px;
	margin-left: 40px;
}
.po_static_state_bottom{
	margin-top: 18px;
}



.box,.content{
	width: 100%;
}

.eos_container{
	background: #F7F7F7;
	padding: 20px 0 48px 0;
}
.eos_width{
	width: 1200px;
	margin: 0 auto;
}
.eos_background{
	background: #fff;
}
.eos_top_tit{
	font-size: 20px;
	color: #19191A;
	line-height: 30px;
	font-weight: 600;
	padding-bottom: 14px;
	text-align: center;
}
.eos_top_txt{
	font-size: 14px;
	color: #646466;
	line-height: 30px;
	line-height: 22px;
	margin-bottom: 22px;
}
.eos_top_txt:last-child{
	margin-bottom: 0;
}
.eos_top{
	padding: 32px 60px 38px 60px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.eos_flex{
	display: flex;
}
.td-right{
	background: #fff;
	flex: 1;
	margin-left: 20px;
	padding: 30px;
	box-sizing: border-box;
}
.td-right-main-title{
	font-size: 16px;
	font-weight: 600;
	color: #19191A;
	line-height: 26px;
	margin: 0;
	padding: 0;
	padding-bottom: 18px;
}
.eos_dl{
	display: flex;
}
.eos_dl dt{
	width: 120px;
	min-width: 120px;
	text-align: left;
}
.eos_dl dd{
	flex: 1;
	display: flex;
}
.eos_dl dt img{
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
}
.eos_model{
	font-size: 13px;
	color: #646466;
	line-height: 20px;
}
.eos_th_txt{
	font-size: 14px;
	color: #19191A;
	font-weight: 600;
	line-height: 22px;
	margin-top: 6px;
}
.eos_model{
	font-size: 13px;
	color: #646466;
	line-height: 20px;
	padding-top: 10px;
}
.eos_model em{
	margin-left: 18px;
	font-style: normal;
}
.eos_one{
	width: 66%;
	padding-right: 70px;
	box-sizing: border-box;
}
.eos_two{
	width: 18%;
}
.eos_three{
	width:16%
}
.eos_date,.eos_td{
	font-size: 13px;
	color: #19191A;
	line-height: 20px;
}
.eos_tr{
	padding: 12px 20px 12px 0;
	border-bottom: 1px solid #E5E5E5;
}
.eos_th{
	font-size: 13px;
	color: #19191A;
	font-weight: 600;
	line-height: 20px;
	background: #F7F7F7;
	padding: 7px 20px;
	border-bottom: none;
}
.eos_th .eos_dl dt,.eos_th .eos_dl dd{
	display: flex;
	align-items: center;
}
.eos_date,.eos_product{
	padding-top: 14px;
	display: inline-block;
}
.eos_th .eos_date,.eos_th .eos_product{
	padding: 0;
}
.eos_th .eos_one{
	width: 65%;
}
.FS_Newpation_en{
	margin-bottom: 0;
}
.FS_Newpation_en li.FS_Newpation_item{
	height: 32px;
	line-height: 32px;
}
.list_Newpro_page,.list_Newnext_page{
	margin-top: 0;
}
.eos_640{
	font-style: normal;
	display: none;
}
.eos_empty{
	text-align: center;
	padding: 70px 0;
	font-size: 14px;
	color: #232323;
	display: none;
	border-bottom: none;
}
.eos_table.active .eos_empty{
	display: block;
}
.eos_table.active .eos_content{
	display: none;
}
.download_search_container{position:relative;}
.download_search_input{width:100%;outline:0;border:1px solid #E5E5E5;border-radius:2px;height:36px;line-height:34px;box-sizing:border-box;text-indent:10px;padding-right:38px;}
.three_level_linkage{margin-top:20px;}
.download_search_container .icon{font-size: 14px;
	width: 14px;
	height: 14px;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 8px;}
.selector_stair_ul .icon{font-size:12px;display:inline-block;color:#4C4948;width:12px;height:12px;line-height:12px;text-align:center;margin-right:6px;transition:all .3s;}
.selector_stair_ul dd{display:none;}
.selector_stair_dt:hover{color:#0060bf;}
.third_class_dl{margin-bottom:10px;}
.third_class_dl:last-child{margin-bottom:0;}
.third_class_dl:first-child{margin-top:10px;}
.second_level_dl:first-child{margin-top:10px;}
.second_level_dt:hover{color:#0060bf;}
.third_class_dt:hover{color:#19191a;}
.td-left{width:300px;background-color:#fff;position:relative;box-sizing:border-box;padding:20px;}
.selector_stair_ul dl dt{font-size:14px;line-height:22px;color:#19191a;cursor:pointer;display:flex;align-items:baseline;}
.selector_stair_ul dl dt.second_level_dt{color:#646466;}
.selector_stair_ul dl dt.second_level_dt:hover span{color:#19191a;text-decoration:underline;}
.selector_stair_li{margin-bottom:10px;}
.selector_stair_dd,.second_level_dd,.third_class_dd{padding-left:20px;}
.selector_stair_dt:hover{color:#19191a;}
.selector_stair_dt:hover span{text-decoration:underline;}
.second_level_dl{margin-bottom:10px;}
.third_class_dt:hover span{text-decoration:underline;}
.left-tree{position:sticky;top:25px;}
.menu_02.breadcrumb-container{background: #F7F7F7;}
.menu_02.breadcrumb-container dl.breadcrumb{width: 1200px;margin: 0 auto}
.menu_02.breadcrumb-container dl dd.last_no a{background: #F7F7F7}
.menu_02 dl dd{border: 0}
@media (max-width: 1220px){
	.eos_width{width: 960px;}
	.td-left{width: 260px;}
	.eos_one{padding-right: 10px;width: 60%;}
}

@media (max-width: 960px){
	.eos_flex{display: block;}
	.eos_width{width: 100%;padding: 0 16px;box-sizing: border-box;}
	.td-left{width:100%;margin-bottom:12px;}
	.left-tree{position:static;}
	.download_search_container{margin-bottom:14px;}
	.td-right{margin-left: 0;}
	.eos_one{width: 60%;}
	.eos_top{padding: 32px 20px 38px 20px;}
	.td-right{padding: 20px;}
}
@media (max-width: 640px){
	.eos_th{display: none;}
	.eos_dl dd{display: block;}
	.eos_td{width: 100%;}
	.eos_tr{padding-right: 0;}
	.td-right{padding: 0;padding-bottom: 30px;}
	.td-right-main-title{border-bottom: 1px solid #E5E5E5;padding: 10px 16px;box-sizing: border-box;}
	.eos_table{padding: 0 16px;box-sizing: border-box;}
	.td-left{padding: 20px 16px;}
	.eos_top{padding: 12px 16px 16px 16px;}
	.eos_container{padding: 20px 0;}
	.eos_top_txt{font-size: 13px;line-height: 20px;}
	.eos_top_tit{padding-bottom: 12px;}
	.eos_model{padding-top: 8px;}
	.eos_date, .eos_product{padding-top: 10px;}
	.eos_dl dt{width: 100px;min-width: 100px;}
	.eos_dl dt img{margin: 0;}
	.eos_640{display: inline-block;color: #19191A;font-weight: 600;}
}
@media (max-width: 480px){
	.selector_stair_li:last-child{margin-bottom:0;}
	.three_level_linkage{margin-top:0;}
}


















