.help_banner_bg.express{
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/shopping/express_bg.jpg) no-repeat center;
}
.express_way{
	width: 1200px;
	margin: 0 auto;
}
.express_way .help_tit{
	padding-bottom: 72px;
}
.express_way_con{
	padding-bottom: 40px;
	border-bottom: 1px solid #dedede;
	margin-bottom: 40px;
}
.express_way_con_tit{
	font-size: 18px;
	color: #616265;
	font-weight: normal;
	margin-bottom: 16px;
}
.express_way_con_txt{
	font-size: 14px;
	color: #999;
    line-height: 24px;
	/*margin-bottom: 8px;*/
}
.express_way_con_txt a{
    color: #0070BC;
    text-decoration: none;
}
.express_way_con_txt b{
    display: block;
    font-weight: 400;
    /*margin-top: 30px;*/
    color: #999999;
}
.express_way_con img{
	margin-top: 26px;
}
.express_way_con a{
	color: #0070BC;
	font-size: 14px;
	text-decoration: none;
	display: inline-block;
	margin-top: 26px;
}
.express_way_con a span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/shopping/express_arrow.png) no-repeat;
}
.express_range .help_tit{
	padding: 14px 0 52px;
}
.express_range{
	width: 1200px;
	margin: 0 auto 45px;
}
.express_range_table{
	margin-top: 38px;
	margin-bottom: 40px;
}
.express_range_table table{
    border-bottom: 1px solid #dedede;
	/*border: 1px solid #dedede;*/
}
.express_range_table table th{
    font-size: 14px;
    color: #616265;
    text-align: center;
    height: 35px;
    padding: 10px;
    font-weight: 400;
}
.express_range_table td{
	font-size: 14px;
	color: #616265;
	text-align: center;
	height: 56px;
    border-left: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
    padding: 10px 20px;
}
/*.express_range_table tr:first-child td{*/
    /*border: 1px solid #e3f0f9;*/
/*}*/
.express_range_table tr td:last-child{
	border-right: 1px solid #dedede;
}
.express_range_table tbody tr:last-child td{
	border-bottom: none;
}
.express_range_table td span{
    white-space: nowrap;
}
.express_range_table td.fule{
    text-align: center;
    /*padding-left: 78px;*/
}
.express_range .express_way_con:last-child{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
}
@media(max-width:1200px){
	.express_way{
		width: auto;
	}
	.express_range{
		width: auto;
	}
	.express_way_con_txt{
		line-height: 22px;
	}
}
@media(max-width:960px){
    .express_range_table{
        overflow: auto;
    }
    .express_range_table table{
        width: 960px;
    }
}

@media(max-width:480px){
	.express_way_con img{
		margin: 26px auto 0;
	}
	.express_range_table thead tr td:first-child{
		width: 60%;
	}
	.express_way_con a{
		display: block;
		width: 122px;
		margin: 26px auto 0;
	}
}
