.box, .content {
    width: 100%;
    background-color: #f7f7f7;
}

.menu_list_cont {
    width: 1200px;
    margin: 0 auto;
}

.faqs {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 48px;
}

.faqs-tit {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 10px;
    padding-top: 6px;
}

.faqs-main {
    display: flex;
    justify-content: space-between;
}

.faqs-left {
    width: 250px;
    background-color: #fff;
    padding: 24px 0 0;
    box-sizing: border-box;
}

.faqs-right {
    width: 930px;
    background-color: #fff;
    padding: 16px 30px 30px;
    box-sizing: border-box;
}

.faqs-left-list {
    margin-bottom: 12px;
}

.faqs-left-list a {
    display: block;
    width: 100%;
    height: 40px;
    border-left: 4px solid #fff;
    text-indent: 16px;
    transition: all .3s;
    font-size: 14px;
    line-height: 40px;
    color: #646466;
}

.faqs-left-list a:hover {
    text-decoration: none;
    background-color: #f7f7f7;
    border-left-color: #f7f7f7;
}

.faqs-left-list.active a {
    background-color: #f7f7f7;
    border-left-color: #c00000;
    color: #19191a;
}

.faqs-right-con{
    display: none;
}
.faqs-right-con:first-child{
    display: block;
}
.faqs-right-list{
    border-bottom: 1px solid #e5e5e5;
}
.faqs-right-tit {
    font-size: 16px;
    line-height: 26px;
    color: #19191a;
    font-weight: 600;
    padding-bottom: 16px;
    border-bottom: 1px solid #e5e5e5;
}
.faqs-right-list-tit{
    padding: 20px 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}
.faqs-right-list-tit a{
    display: inline-flex;
    align-items: center;
}
.faqs-right-list-tit a:hover{
    text-decoration: none;
}
.faqs-right-list-tit a .icon{
    font-size: 14px;
    margin-right: 8px;
    transition: all .3s;
    font-weight: 400;
}
.faqs-right-list-tit a.active .icon{
    transform: rotate(180deg);
}
.faqs-right-list-tit-answer{
    padding: 0 22px 16px;
    display: none;
}
.faqs-right-list-tit-answer .alone_txt a{
    color: #0060bf;
}
.faqs-right-list-tit-answer .alone_txt a:hover{
    color: #0060bf;
}

@media(max-width: 1220px){
    .faqs{
        width: 960px;
    }
    .faqs-right{
        width: 690px;
    }
}
@media(max-width: 960px){
    .content{
        padding: 0;
    }
    .faqs{
        width: auto;
        padding: 0 16px 40px;
        box-sizing: border-box;
    }
    .faqs-main{
        display: block;
    }
    .faqs-left,.faqs-right{
        width: 100%;
    }
    .faqs-left ul{
        display: flex;
        justify-content: flex-start;
        margin: 0 16px;
        overflow-x: auto;
        border-bottom: 1px solid #e5e5e5;
        scrollbar-width: none;
    }
    .faqs-left ul::-webkit-scrollbar {
        display: none; /* Chrome Safari */
    }

    .faqs-left-list a{
        text-indent: 0;
        border-left:0;
        border-bottom:2px solid #fff;
        padding: 0 6px;
        box-sizing: border-box;
    }
    .faqs-left-list{
        margin: 0 30px 0 0;
        white-space: nowrap;

    }
    .faqs-left-list:last-child{
        margin-right: 0;
    }
    .faqs-right{
        padding: 16px 16px 30px;
    }
    .faqs-left-list.active a{
        border-bottom-color: #c00000;
        background-color: #fff;
    }
}