body{margin:0 auto;padding:0;font-size:13px;font-family:'Microsoft YaHei',sans-serif;font-style:normal;font-weight:400;list-style:none;color: #616265;}
.box{padding:0;width: auto !important;}
.content{padding:0;}
img{display:block}
dd,div,dl,dt,form,h1,h2,h3,input,li,p,select,ul{margin:0;padding:0;list-style:none}
a{text-decoration: none;}
.clear:after{content:".";display: block; height: 0;overflow: hidden;clear: both;visibility: hidden;}
.overflowHidden{overflow: hidden;}
.fl{float: left;}
.fr{float: right;}
.BGf6f6f6{background: #f6f6f6;z-index: -2;}
.fhd_box{width: 1440px;margin: 0 auto;}
.height600{height: 600px;}
.height420{height: 420px;}
.paddingB60{padding-bottom: 60px;}
.displayBlock480{display: none;}


.fhd{color: #232323;font-size: 16px;}
.fhd_banner{height: 680px;overflow: hidden;}
.fhd_banner_bg{width: 100%;height:680px;position: absolute;left: 0;background: url("https://img-en.fs.com/images/fhd/fhd_02.jpg") no-repeat center;z-index: -1;}
.fhd_banner_tit{text-align: center;font-size: 38px;color: #fff;margin-bottom: 30px;font-weight: normal;padding-top: 92px;}
.fhd_banner_desc{text-align: center;font-size: 18px;color: #fff;}
.fhd_tit{text-align: center;font-weight: normal;font-size: 28px;padding: 60px 0 19px;line-height: 28px;}
.fhd_desc{line-height: 28px;text-align: center;margin-bottom: 24px;color: #616265;}
.fhd_more{text-align: center;margin-bottom: 40px;}
.fhd_a{color:#0070BC;text-decoration: none;}
.fhd_fiber_box_left{width: 50%;position: relative;overflow: hidden;height: 100%;}
.fhd_con_1{width: 100%;position: absolute;bottom: 0;left: 0;height: 130px;background: rgba(0,0,0,0.6);}
.fhd_con_1_text{position: absolute;left: 36px;bottom: 40px;transition: all 0.3s;}
.fhd_con_1_tit{font-size: 28px;color: #fff;line-height: 28px;margin-bottom: 10px;}
.fhd_con_1_desc{font-size: 18px;line-height: 18px;color: #fff;}
.fhd_con_1_video{width: 88px;height: 88px;border: 2px solid #fff;border-radius: 50%;position: absolute;left:50%;top:50%;margin-left: -44px;margin-top:-109px;transition: all 0.3s;cursor: pointer;z-index: 999;opacity: 0;display: none;}
.fhd_con_1_video em{display: block;width: 0px;height: 0;margin: 0 auto;border-left: 25px solid #fff;border-top: 20px solid rgba(0,0,0,0);border-bottom: 20px solid rgba(0,0,0,0);top: 50%;left: 50%;margin-top: 24px;margin-left: 35px;}
.fhd_fiber_box_left_img{transition: all 0.3s;}
.fhd_fiber_box_left:hover .fhd_con_1_video{display: block;opacity: 1;}
.fhd_fiber_box_left:hover .fhd_fiber_box_left_img{-webkit-transform: scale3d(1.1, 1.1, 1);-moz-transform: scale3d(1.1, 1.1, 1);-ms-transform: scale3d(1.1, 1.1, 1);transform: scale3d(1.1, 1.1, 1);}
.fhd_fiber_box_right{width: 50%;height: 100%;position: relative;}
.fhd_fiber_box_right li{width: 50%;height: 297px;box-sizing: border-box;padding-left: 6px;float: left;}
.fhd_fiber_box_right li img{transition: all 0.3s;}
.fhd_fiber_box_right li:nth-of-type(-n+2){margin-bottom: 6px;}
.fhd_fiber_box_right li:hover  img{-webkit-transform: scale3d(1.1, 1.1, 1);-moz-transform: scale3d(1.1, 1.1, 1);-ms-transform: scale3d(1.1, 1.1, 1);transform: scale3d(1.1, 1.1, 1);}
.fhd_con_2{position: relative;width: 100%;height: 100%;overflow: hidden;}
.fhd_con_2_txt{position: absolute;width: 100%;box-sizing: border-box;padding: 18px 24px;left: 0;bottom: 0;color: #fff;background: rgba(0,0,0,0.6);}
.fhd_con_2_tit{font-size: 22px;line-height: 22px;margin-bottom: 10px;}
.fhd_con_2_desc{font-size: 16px;line-height: 16px;}
.fhd_fiber_box_left_txt{position: absolute;bottom: 49px;right: 70px}
.fhd_fiber_case_pro_left{font-size: 24px;color: #616265;;margin-bottom: 30px;}
.fhd_fiber_more{display: block;width: 110px;height: 38px;border: 1px solid #0070BC;color: #0070BC;text-align: center;line-height: 38px;border-radius: 3px;font-size: 14px;cursor: pointer;transition: all 0.3s;}
.fhd_fiber_more:hover{background: #0070BC;color: #fff;}
.fhd_fiber_box_right_txt{position: absolute;bottom: 49px;left: 540px}
.fhd_box_banner{width: 100%;height: 460px;position: relative;margin-bottom: 5px;overflow: hidden;}
.fhd_box_banner_txt{position: absolute;left: 208px;top: 200px;}
.fhd_box_banner_tit{font-size: 28px;color: #232323;line-height: 28px;margin-bottom: 26px;font-weight: normal;}
.fhd_box_banner_desc{font-size: 18px;line-height: 18px;color: #616265;}
.fhd_box_ul li{overflow: hidden;width: 32.36%;float: left;height: 466px;margin: 20px 1.46% 0 0;position: relative;transition: all .3s;}
.fhd_box_ul li:hover{box-shadow: 5px 5px 10px rgba(51,51,51,.1);}
.fhd_box_ul li:nth-of-type(3n){margin-right: 0;float: right}
.fhd_box_ul_txt{position: absolute;width: 100%;text-align: center;bottom: 92px;font-size: 20px;line-height: 20px;color: #616265;}

/*自适应*/
@media (max-width: 1440px) {
    .fhd_bg{width: 100%;box-sizing: border-box;padding: 0 10px;}
    .fhd_banner_tit,.fhd_banner_desc,.fhd_tit,.fhd_desc{padding-left: 10px;padding-right: 10px;}
    .fhd_box{width: 100%;}
    .fhd_fiber_box_right_txt{right: 70px;left: auto;}
}
@media (max-width: 960px) {
    .fhd_fiber_box_left{width: 100%;margin-bottom: 6px;}
    .fhd_fiber_box_right,.fhd_fiber_box_right img,.fhd_fiber_box_left img,.fhd_box_ul li img{width: 100%;}
    .height600,.height420{height: auto;}
    .marginB10{margin-bottom: 10px;}
    .fhd_box_ul li{width: 100%;margin-right: 0;margin-top: 8px;height: auto;}
    .fhd_fiber_box_right li{height: auto;width: 49%;padding-left: 0;}
    .fhd_fiber_box_right li:nth-of-type(2n){float: right;}
}
@media (max-width: 480px) {
    .displayNone480{display: none;}
    .displayBlock480{display: block;}
    .fhd_banner{height: 300px;}
    .fhd_banner_bg{background: url("https://img-en.fs.com/images/fhd/fhd_02_m.jpg") no-repeat center;}
    .fhd_tit{font-size: 24px;padding-top: 30px;padding-bottom: 11px;}
    .fhd_desc{font-size: 14px;line-height: 24px;margin-bottom: 11px;}
    .fhd_more{font-size: 14px;margin-bottom: 24px;line-height: 14px;}
    .fhd_banner_bg{width: 100%;height: 300px;}
    .fhd_con_1{height: 70px;}
    .fhd_con_1_text{top: 18px;left: 18px;}
    .fhd_box_banner img{width: 100%;}
    .fhd_con_1_tit{font-size: 14px;line-height: 14px;margin-bottom: 6px;}
    .fhd_con_1_desc{font-size: 12px;line-height: 12px;}
    .fhd_con_2_tit{font-size: 14px;line-height: 14px;margin-bottom: 0;}
    .fhd_con_2_txt{padding: 13px 12px;}
    .fhd_fiber_box_left_txt,.fhd_fiber_box_right_txt{right: 12px;bottom: 22px;}
    .fhd_fiber_case_pro_left{font-size: 14px;line-height: 14px;margin-bottom: 10px;}
    .fhd_fiber_more{width: 70px;height: 25px;line-height: 25px;font-size: 12px;}
    .fhd_box_banner{height: auto;margin-bottom: 0;}
    .fhd_box_ul li{height: 286px;}
    .fhd_box_ul li img{margin-top: -40px;}
    .fhd_box_ul_txt{bottom: 50px;font-size: 16px;}
    .paddingB60{padding-bottom: 30px;}
    .fhd_con_1_video{display: block;opacity: 1;width: 70px;height: 70px;margin-top: -70px;margin-left: -35px;}
    .fhd_con_1_video em{margin-top: 17px;margin-left: 28px;border-left: 22px solid #fff;border-top: 17px solid rgba(0,0,0,0);border-bottom: 17px solid rgba(0,0,0,0);}
}
