body {
  margin: 0;
  padding: 0;
}
a {
  /*text-decoration: none !important;*/
}
.box {
  width: 100% !important;
}
.clear {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0;
}
.trans {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.omt_box * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微软雅黑";
}
.omt_banner01 {
  height: 460px;
  background: url(https://img-en.fs.com/includes/templates/fiberstore/images/banner-1.jpg) no-repeat center;
}
.omt_banner01 h1 {
  font-size: 36px;
  line-height: 40px;
  color: #232323;
  padding-top: 140px;
  padding-bottom: 30px;
  padding-left: 345px;
  font-weight: 400;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.omt_banner01 p {
  font-size: 20px;
  line-height: 24px;
  color: #616265;
  padding-left: 345px;
  font-weight: 400;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.omt_hot_sale {
  padding-bottom: 44px;
}
.omt_hot_row {
  width: 1440px;
  margin: 0 auto;
}
.omt_hot_row:after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0;
}
.omt_hot_sale_item {
  text-align: center;
  width: 16.6666%;
  float: left;
  border: 1px solid #ececec;
  border-right: 0;
}
.omt_hot_sale_item .omt_hot_sale_item_img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.omt_hot_sale_item .omt_hot_sale_item_img img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.omt_hot_sale_item p {
  font-size: 14px;
  color: #616265;
  padding-bottom: 5px;
  width: 72%;
  min-height: 40px;
  margin: 0 auto;
  max-height: 40px;
  overflow: hidden;
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}
.omt_hot_sale_item b{
  display: inline-block;
  padding-bottom: 27px;
  font-size: 16px;
  color: #616265;
}
.omt_hot_sale_item:hover img {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.omt_hot_sale_item:last-child {
  border-right: 1px solid #ECECEC;
}
.omt_hot_row_h1 {
  font-size: 24px;
  color: #232323;
  font-weight: 400;
  padding: 44px 0 20px 0;
}
.omt_hot_row_h1:after{
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.omt_hot_row_h1 a{
  float: right;
  display: block;
  color: #999999;
  font-size: 16px;
  padding-top: 5px;
}
.omt_hot_row_h1 a:hover{
  color: #c00000;
}
.omt_hot_link_item {
  width: 33.333%;
  float: left;
  text-align: center;
  padding: 0 13.5px;
}
.omt_hot_link_item:hover {
  opacity: 0.9;
}
.omt_hot_link_item_1 {
  border: 1px solid #ECECEC;
}
.omt_hot_link_item:nth-child(1) {
  padding-left: 0px;
}
.omt_hot_link_item:nth-child(2) {
  padding: 0px 6.5px;
}
.omt_hot_link_item:last-child {
  padding-right: 0px;
}
.omt_hot_link_item_1_img {
  width: 100%;
  overflow: hidden;
}
.omt_hot_link_item_1_img img {
  max-width: 100%;
  height: auto;
}
.omt_hot_link_item_2 {
  display: block;
  width: 100%;
  padding: 30px 0 40px;
}
.omt_hot_link_item_2 p {
  font-size: 18px;
  color: #232323;
  padding-bottom: 10px;
}
.omt_hot_link_item_2 span {
  color: #0070BC;
  font-size: 14px;
}
.omt_sale_link {
  margin-bottom: 44px;
}
.omt_product_box {
  background: #f5f5f5;
  padding-bottom: 40px;
  padding-top: 15px;
}
.omt_product_show {
  padding-top: 35px;
}
.omt_product_btn {
  width: 100%;
  margin-bottom: 18px;
  height: 40px;
}
.omt_product_btn:after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0;
}
.omt_product_btn .active {
  font-size: 14px;
  color: #c00000;
  border-bottom: 2px solid #c00000;
}
.omt_product_btn_header {
  float: left;
  font-size: 24px;
  display: inline-block;
  color: #232323;
  height: 40px;
  padding-right: 40px;
  line-height: 40px;
}
.omt_product_btn_icon {
  height: 40px;
  float: left;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: #616265;
  cursor: pointer;
  margin-right: 40px;
  padding-top: 13px;
}
.omt_more {
  text-decoration: none;
  display: block;
  float: right;
  font-size: 16px;
  color: #999;
  padding-top: 16px;
  height: 40px;
  padding-right: 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.omt_more:hover {
  color: #c00000;
}
.omt_product_item {
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  width: 100%;
}
.omt_product_item:after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0;
}
.omt_fade {
  opacity: 1;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
}
.omt_product_item_left {
  width: 25%;
  float: left;
  padding-right: 8px;
}
.omt_product_item_right {
  width: 75%;
  float: left;
}
.omt_product_item_hot {
  background: #ffffff;
  position: relative;
  padding-bottom: 25px;
  transition: all .3s ease;
}
.omt_hot_icon {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 14px;
  color: #FFFFFF;
  background: #c00000;
  display: block;
  height: 25px;
  line-height: 24px;
  width: 50px;
  text-align: center;
}
.omt_product_item_hot_img {
  width: 100%;
  text-align: center;
  padding-top: 97px;
  padding-bottom: 90px;
}
.omt_product_item_hot_img img {
  max-width: 100%;
  height: auto;
}
.omt_product_item_hot:hover {
  box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.1);
  transition: all .3s ease;
}
.omt_product_item_hot_content {
  width: 80%;
  text-align: center;
  border-top: 1px solid #ECECEC;
  margin: 0 auto;
}
.omt_product_item_right_1 {
  width: 33.333%;
  float: left;
  padding: 0 8px 16px 8px;
}
.omt_product_item_right_1 .omt_product_item_right_1a {
  background: #FFFFFF;
  position: relative;
  text-align: center;
  padding-bottom: 25px;
  transition: all .3s ease;
}
.omt_product_item_right_1 .omt_product_item_right_1a:hover {
  box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.1);
  transition: all .3s ease;
}
.omt_product_small_box_content {
  margin: 0 auto;
  width: 80%;
  border-top: 1px solid #ECECEC;
}
.omt_product_name_1 {
  font-size: 16px;
  line-height: 20px;
  color: #616265;
  font-weight: 400;
  text-align: center;
  min-height: 64px;
  padding: 16px 0 0px 0;
  margin: 0 auto;
  width: 100%;
}
.omt_product_name_1 a {
  color: #616265;
  font-weight: 400;
}
.omt_product_price_1 {
  font-size: 16px;
  color: #616265;
  font-weight: 600;
}
.omt_product_small_box_img {
  width: 100%;
}
.omt_product_small_box_img img {
  max-width: 100%;
  height: auto;
}
.omt_banner02 {
  padding-bottom: 50px;
}
.omt_banner02_1 {
  margin-top: 70px;
}
.omt_banner02_h {
  font-size: 30px;
  color: #232323;
  text-align: center;
  font-weight: 400;
  padding: 55px 0 20px;
}
.omt_banner02_p {
  font-size: 18px;
  color: #616265;
  text-align: center;
}
.omt_banner02_1_left {
  float: left;
  width: 25%;
  padding-left: 80px;
}
.omt_banner02_1_left ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.omt_banner02_1_left ul li {
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
  height: 120px;
}
.omt_banner02_1_left ul li:after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0;
}
.omt_banner02_1_left ul li:hover .omt_list_img img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.omt_banner02_1_left ul li .omt_list_img {
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 1px solid #ECECEC;
  text-align: center;
  float: left;
}
.omt_banner02_1_left ul li .omt_list_img img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}
.omt_banner02_1_left ul li .omt_list_content {
  float: left;
  margin-left: 30px;
}
.omt_banner02_1_right {
  float: left;
  width: 25%;
  padding-right: 80px;
}
.omt_banner02_1_right ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.omt_banner02_1_right ul li {
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
  height: 120px;
}
.omt_banner02_1_right ul li:after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0;
}
.omt_banner02_1_right ul li:hover .omt_list_img img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.omt_banner02_1_right ul li .omt_list_img {
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 1px solid #ECECEC;
  text-align: center;
  float: right;
}
.omt_banner02_1_right ul li .omt_list_img img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}
.omt_banner02_1_right ul li .omt_list_content {
  float: right;
  margin-right: 30px;
}
.omt_banner02_1_right {
  float: left;
  width: 25%;
}
.omt_banner02_1_center {
  float: left;
  width: 50%;
  height: 100%;
  padding-top: 20px;
  text-align: center;
}
.omt_banner02_1_center img {
  max-width: 100%;
  height: auto;
}
.omt_list_content {
  height: 120px;
  line-height: 120px;
}
.omt_list_content a {
  font-size: 16px;
  color: #616265;
  text-decoration: none;
}
.omt_product_item {
  display: none;
}
.product_active {
  display: block !important;
}
.fp_carousel {
  height: 400px;
  position: relative;
  overflow: hidden;
}
.fp_carousel .z_active {
  opacity: 1 !important;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
}
.fp_carousel .fp_bn1 {
  width: 100%;
  position: absolute;
  opacity: 0;
  background-color: #d2e6ff;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  top: 0;
  left: 0;
  height: 400px;
  background: #d2e6ff;
}
.fp_bn1 img{
  position: absolute;
  top: 0%;
  left: 50%;
  /*max-width: 100%;*/
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 0;
}
.fp_bn1_text{
  position: absolute;
  top: 36%;
  left: 31%;
  display: none;
}
.z_active .fp_bn1_text{
  display: block;
}
.fp_carousel .fp_bn1:nth-child(1) h1 {
  color: #232323;
  font-weight: 400;
  font-size: 30px;
 /* padding-left: 30%;*/
  /*text-align: center;*/
  margin-bottom: 20px;
  /*padding-top: 120px;
  padding-bottom: 20px;*/
  z-index: 1;
  position: relative;
  line-height: 32px;
}
.fp_carousel .fp_bn1:nth-child(1) p {
  font-size: 18px;
  /*text-align: center;*/
  color: #616265;
  position: relative;
  /*padding-left: 30%;*/
  z-index: 1;
}
.fp_carousel .fp_bn1:nth-child(2) {
  width: 100%;
  opacity: 0;
  background-color: #f9f5ec;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  background: /*url(https://img-en.fs.com/includes/templates/fiberstore/images/fiber_cable_assemblies_banner_02.jpg) no-repeat center */#f9f5ec;
}
.fp_carousel .fp_bn1:nth-child(2) h1 {
  color: #232323;
  font-weight: 400;
  font-size: 30px;
   margin-bottom: 20px;
  /*padding-top: 120px;
  padding-bottom: 20px;*/
  /*padding-left: 30%;*/
  position: relative;
  z-index: 1;
  line-height: 32px;
}
.fp_carousel .fp_bn1:nth-child(2) p {
  font-size: 20px;
  /*padding-left: 30%;*/
  color: #616265;
  position: relative;
  z-index: 1;
}
.fp_carousel .fp_bn1:nth-child(3) {
  width: 100%;
  opacity: 0;
  background-color: #eff4f8;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  background:/* url(https://img-en.fs.com/includes/templates/fiberstore/images/fiber_cable_assemblies_banner_03.jpg) no-repeat center */#eff4f8;
}
.fp_carousel .fp_bn1:nth-child(3) h1 {
  color: #232323;
  font-weight: 400;
  font-size: 30px;
   margin-bottom: 20px;
  /*padding-top: 120px;
  padding-left: 30%;
  padding-bottom: 20px;*/
  position: relative;
  line-height: 32px;
  z-index: 1;
}
.fp_carousel .fp_bn1:nth-child(3) p {
  font-size: 20px;
  /*padding-left: 30%;*/
  color: #616265;
  position: relative;
  z-index: 1;
}
.fp_carousel_pagination {
  position: absolute;
  bottom: 20px;
  z-index: 15;
  left: 53%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.fp_carousel_pagination.claassification_dwdn_index_banner{
    position: absolute;
    bottom: 20px;
    z-index: 15;
    left: 58%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.fp_carousel_pagination:after {
  content: '';
  width: 0;
  height: 0;
  clear: both;
  display: block;
}
.fp_carousel_pagination_1 {
  float: left;
  position: relative;
  width: 50px;
  cursor: pointer;
  height: 2px;
  /*background: #999999;*/
  margin: 5px;
}
.fp_carousel_pagination_1 span {
  display: block;
  background: #808080;
  height: 100%;
  width: 0;
  position: absolute;
}
.fp_carousel_btn_prev {
  display: none;
  position: absolute;
  top: 50%;
  left: 472px;
  z-index: 50;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 60px;
  height: 78px;
  border-radius: 5px;
  cursor: pointer;
}
.fp_carousel_btn_prev span {
  display: block;
  width: 100%;
  height: 100%;
  background: #232323;
  opacity: 0.3;
  border-radius: 5px;
}
.fp_carousel_btn_prev em {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 28px;
  width: 16px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: url(https://img-en.fs.com/includes/templates/fiberstore/images/index_icon.png) no-repeat -12px -227px;
  z-index: 99;
}
.fp_carousel_btn_prev:hover span {
  opacity: 0.5;
}
.fp_carousel_btn_next {
  display: none;
  position: absolute;
  top: 50%;
  right: 12%;
  z-index: 50;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 60px;
  height: 78px;
  border-radius: 5px;
  cursor: pointer;
}
.fp_carousel_btn_next span {
  display: block;
  width: 100%;
  height: 100%;
  background: #232323;
  opacity: 0.3;
  border-radius: 5px;
}
.fp_carousel_btn_next em {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 28px;
  width: 16px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: url(https://img-en.fs.com/includes/templates/fiberstore/images/index_icon.png) no-repeat -52px -227px;
  z-index: 99;
}
.fp_carousel_btn_next:hover span {
  opacity: 0.5;
}
.fp_carousel:hover .fp_carousel_btn_next {
  display: block;
}
.fp_carousel:hover .fp_carousel_btn_prev {
  display: block;
}
.swiper-slide img{
  width: 100%;
  height: auto;
}
.foc_solution{
  width: 100%;
  margin-bottom: 50px;
}
.foc_solution:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.foc_solution_item1{
  float: left;
  width: 25%;
  padding: 0 10px;
}
.foc_solution_item1_1{
  border: 1px solid #dedede;
}
.foc_solution_item1_1:hover{
  box-shadow: 5px 5px 10px rgba(85,85,85,0.1);
}
.foc_solution_item1_1 h3{
  width: 88%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  color: #616265;
  min-height: 72px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.foc_solution_item1_1 p{
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  width: 88%;
  margin: 0 auto;
}
.foc_solution_item1_1>a{
  display: inline-block;
  font-size: 14px;
  color: #0070BC;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 7.5%;
}
.foc_solution_item1_1>a:hover{
  text-decoration: underline;
}
.foc_solution_item1_1_img{
  width: 100%;
}
.foc_solution_item1_1_img img{
  max-width: 100%;
  height: auto;
}
.foc_h1{
  margin-top: 65px;
  font-size: 24px;
  font-weight: 400;
  color: #232323;
  margin-bottom: 15px;
  padding-left: 10px;
}
.foc_h1 span{
  padding-top: 10px;
  padding-right: 10px;
  display: block;
  float: right;
  color: #999999;
  font-size: 16px;
}
.foc_h1 span a{
  color: #999999;
  text-decoration: none;
}
.foc_h1:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.fop_banner1{
  border-bottom: 2px solid #DEDEDE;
}
.fop_nav{
  width: 100%;
}
.fop_nav>ul{
  width: 100%;
  margin: 0;
  padding: 0;
}
.fop_nav>ul:after{
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.fop_nav>ul>li{
  float: left;
  list-style: none;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #646464;
  padding: 0 10px;
  margin-left: 30px;
  /*cursor: pointer;*/
  position: relative;
}
.fop_nav>ul>li>a{
  color: #646464;
  display: inline-block;
}
.fop_nav>ul>li>a:hover{
  opacity: 0.9;
}
.fop_nav>ul>li:nth-child(1){
  width: 240px;
 /* background: #f6f6f6;*/
  padding-left: 55px;
  margin: 0;
}
.fop_nav>ul>li:nth-child(1) .menu_all_downarrow {
  top: 18px;
}
.fop_dropdown{
  display: block;
  position: absolute;
  top: 50px;
  height: 400px;
  left: 0;
  width: 240px;
  z-index: 100;
  background-color: rgba(231,231,231,0.5);
  /*opacity: 0.7;*/
}
.fop_dropdown li{
  list-style: none;
  /*background: rgba(222,222,222,0.6);*/
  color: #232323;
  font-size: 14px;
  /*position: relative;*/
  /*padding-left: 25px;*/
  /*margin: 15px 0;*/
}
.fop_dropdown>li:hover a{
  background: #FFFFFF;
}
.fop_dropdown>li:hover .fop_dropdown_1_item{
  display: block;
}
.fop_dropdown li>a{
  display: block;
  color: #232323;
  padding-left: 25px;
}
.fop_dropdown li>a:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.fop_dropdown li:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.fop_dropdown li:nth-child(1){
  margin-top: 10px;
}
.fop_dropdown li:last-child{
  padding-bottom: 92px;
}
.fop_nav>ul>li:nth-child(2){
  margin-left: 55px;
  padding: 0;
  
}
.fop_arrow{
  display: block;
  float: right;
  margin-right: 25px;
  width: 15px;
  height: 100%;
  background: url(https://img-en.fs.com/includes/templates/fiberstore/images/index_icon.png) no-repeat -8px -132px;
}
.fop_dropdown_1_item{
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  /*background: #FFFFFF !important;*/
  /*box-sizing: content-box;*/
  height: 100%;
  /*width: 240px;*/
  padding-left: 239px;
  border: 1px solid #DEDEDE;
  border-top: 0;
  z-index: -1;
  background-color: #f6f6f6;
}
.fop_dropdown_1_item_1{
  background: #FFFFFF !important;
  height: 100%;
  padding-top: 10px;
  width: 300px;
  opacity: 1 !important;
}
.fop_dropdown_1_item_1 a{
  display: block;
  color: #232323;
  height: 42px;
  padding-left:25px ;
  padding-right: 10px;
  font-size: 13px;
  /*line-height: 20px;*/
  width: 100%;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
}
.fop_dropdown_1_item_1 a:hover{
  text-decoration: underline;
}
.fp_sw_carousel{
  display: none;
}


/*解决方案公共样式*/
.support_main,.news_main{
  margin-top: 40px;
}
.support_main *{
  box-sizing: content-box;

}
.list_pic_li {
    float: left;
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
    transition: all .3s;
}
.list_pic_li a {
    text-decoration: none;
    color: #0070BC;
    font-size: 14px;
    width: 100%;
}
.list_pic_li a img {
    display: block;
    width: 100%;
    height: 192px;
}
.list_pic_li_main {
    padding: 0 22px;
    border: 1px solid #e5e5e5;
    border-top: none;
    padding-bottom: 42px;
}
.list_pic_li a h2 {
    font-size: 16px;
    color: #616265;
    padding: 18px 0 16px;
    font-weight: normal;
    line-height: 24px;
    /* min-height: 48px; */
    height: 36px;
    overflow: hidden;
}
.list_pic_li_txt {
    font-size: 14px;
    color: #999;
    line-height: 20px;
    margin-bottom: 24px;
    height: 40px;
    overflow: hidden;
}
.list_pic_li a .icon {
    font-size: 12px;
    margin-left: 5px;
}
.list_pic_ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}
@media(max-width:1440px){
 /* .box{
    width: 1200px;
  }*/
  .list_pic_li{
    width: 32%;
    margin-right: 1% !important;
  }
  .fp_carousel_btn_prev{
    left: 352px;
  }
}
@media(max-width:1200px){
  /*.box{
    width: 960px;
  }*/
  .list_pic_li{
    width: 49%;
    margin-right: 1%;
    height: auto;
    padding-bottom: 30px;
  }
}
@media(max-width:960px){
  /*.box{
    width: 100%;
  }
  .content{
    padding: 0 10px;
    width:auto;
  }
  .tutorial_con ul li {
      width: 46%;
      padding: 0 2%;
      margin-right: inherit;
      min-height: 150px;
  }
  .sp_banner_tit{
    font-size: 30px;
    padding-top: 60px;
  }
  .sp_banner,.sp_banner_bg{
    height: 300px;
  }
  .sp_banner_txt{
    font-size: 18px;
    line-height: 30px;
  }
  .sp_banner_txt br{
    display: block;
  }
*/}
@media(max-width:680px){
  .list_pic_li{
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  /*.tutorial_con .swiper-container{
    display: block;
  }
  .tutorial_con ul{
    display: none;
  }*/
}

/*解决方案公共样式结束*/

.swiper-pagination-bullet-active{
    opacity: 1;
    background: #828282 !important;
}





@media screen and (max-width: 1800px) {
  .omt_banner02_1_left {
    padding-left: 0;
  }
  .omt_banner02_1_right {
    padding-right: 0;
  }
}
@media screen and (max-width: 1580px) {
  .omt_hot_row {
    width: 1200px;
  }
  .omt_product_name_1 {
    min-height: 55px;
    padding-bottom: 0;
    line-height: 18px;
  }
  .omt_product_item_hot_img {
    padding-bottom: 108px;
  }
  .omt_banner02_1_left {
    width: 25%;
  }
  .omt_banner02_1_right {
    width: 25%;
  }
  .omt_banner02_1_center {
    width: 50%;
  }
}
@media screen and (max-width: 1250px) {
  .omt_hot_row {
    width: 95%;
  }
  .omt_hot_sale_item {
    width: 33.333%;
    border-right: 1px solid #ECECEC;
  }
  .omt_product_item_hot_img {
    padding: 0;
  }
  .omt_product_item_left {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .omt_product_item_right {
    width: 100%;
  }
  .omt_banner02_1_left {
    width: 50%;
  }
  .omt_banner02_1_right {
    width: 50%;
  }
  .omt_banner02_1_center {
    display: none;
  }
  .omt_banner02_1 {
    width: 70%;
    margin: 70px auto 0 auto;
  }
  .omt_banner01 h1 {
    padding-left: 250px;
  }
  .omt_banner01 p {
    padding-left: 250px;
  }
  .fop_nav{
    display: none;
  }
  .fp_sw_carousel{
    display: block;
  }
  .fp_carousel{
    display: none;
  }
  .fp_carousel_btn_prev{
    left: 5%;
  }
  .fp_carousel_btn_next{
    right: 5%;
  }
/*  .fp_carousel .fp_bn1:nth-child(3) h1{
    padding-left: 15%;
  }
  .fp_carousel .fp_bn1:nth-child(3) p{
    padding-left: 15%;
  }
  .fp_carousel .fp_bn1:nth-child(2) h1{
    padding-left: 15%;
  }
  .fp_carousel .fp_bn1:nth-child(2) p{
    padding-left: 15%;
  }
  .fp_carousel .fp_bn1:nth-child(1) h1{
    padding-left: 15%;
  }
  .fp_carousel .fp_bn1:nth-child(1) p{
    padding-left: 15%;
  }*/
  .foc_solution_item1{
    width: 33.33333%;
    margin-bottom: 15px;
  }
  .foc_solution_item1_1_img img{
    width: 100%;
  }
  .fop_banner1{
    border-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .omt_banner01 h1 {
    padding-left: 20px;
  }
  .omt_banner01 p {
    padding-left: 20px;
  }
  .foc_solution_item1{
    width: 50%;
    margin-bottom: 15px;
  }
  .foc_solution_item1_1_img img{
    width: 100%;
  }
  .fp_bn1_text{
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .omt_product_item_right_1,.omt_hot_sale_item{
    width:50%;
  }
  .omt_product_btn_header{
    width: 100%;
  }
  .omt_product_btn{
    height: auto;
  }
  .omt_more{
    padding-top: 8px;
  }
  .omt_product_btn_icon{
    margin-right: 20px;
  }
}

.fp_bn1_text.fp_bn1_text_center{
  text-align:center;
  width:800px;
  margin-left:74px;
  top:54px;
}
@media(max-width:480px){
	.omt_product_item_right_1,.omt_hot_sale_item{
		width:50%;
	}
	.omt_hot_sale_item p,.omt_product_small_box_content{
		width:100%;
	}
	.omt_product_name_1 a{
		font-size:13px;
	}
}
@media(max-width:960px){
	.omt_hot_sale_item{border-right: 1px solid #ececec;border-top: 0;border-left: 0;}
	.omt_hot_row_h1{border-bottom: 1px solid #ececec;}
	.omt_hot_sale_item:nth-child(2){border-left:1px solid #ececec;}
	.omt_hot_sale_item:nth-child(5){border-left:1px solid #ececec;}
	.omt_product_item_right_1{padding: 0 4px 8px 4px;}
}
@media(max-width:770px){
	.omt_hot_sale_item:nth-child(5){border-left:none;}
	.omt_hot_sale_item:nth-child(4),.omt_hot_sale_item:nth-child(6){border-left:1px solid #ececec;}
}
@media(max-width:480px){
	.omt_product_item_right_1, .omt_hot_sale_item{width:100%}
	.omt_hot_sale_item:nth-child(4){border-left:1px solid #ececec;}
	.omt_hot_sale_item{border-left:1px solid #ececec;}
	.list_pic_li{margin-bottom:0}
	.list_pic_li_main{padding-bottom:30px;}
	.foc_h1{margin-top:30px;margin-bottom: 20px;}
	.support_main, .news_main{margin-top:0;}
	.omt_product_box{padding-bottom:30px;}
	.omt_hot_row_h1{padding: 30px 0 20px 0;}
	.omt_hot_sale_item:nth-child(5){border-left:1px solid #ececec;}
}  


