@CHARSET "UTF-8";
TD { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; }
DIV { FONT-SIZE: 11px; }
SPAN { FONT-SIZE: 11px; }
A:link { TEXT-DECORATION: none }
A:active { TEXT-DECORATION: none }
A:visited { TEXT-DECORATION: none }
A:hover { TEXT-DECORATION: none }
FORM { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px }
IMG { BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px }
.ORB_BUTTON { background: url(https://www.jjshouse.com/themes/fashion/images/gc_buttons.png) no-repeat 0 3px; color: #fff; font: bold 14px/38px verdana; text-align: center; text-decoration: none; text-transform: capitalize;/* text-shadow: 1px 1px 0 #c00000;*/ display: inline-block;border: none; width:138px; }
.ORB_BUTTON:hover { background-position:0 -57px; color: #fff; text-decoration: none;/* text-shadow: 1px 1px 0 #c00000;*/ }
.ORB_BUTTONELEMENT { MARGIN-TOP: 10px; margin-left:0px; }
.ORB_BUTTONHELPTEXT { display:none; }
.ORB_FIELDDESCRIPTION { BORDER-RIGHT: 0px; PADDING-RIGHT: 25px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; WIDTH: 100px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px }
.ORB_INSTRUCTIONS { PADDING-BOTTOM: 15px; display:none; }
.ORB_TD_ERRORLEFT { PADDING-LEFT: 10px; FONT-WEIGHT: bolder; VERTICAL-ALIGN: top; COLOR: red; display:none; }
.ORB_TD_ERRORRIGHT { FONT-WEIGHT: bolder; VERTICAL-ALIGN: top; COLOR: red; }
.ORB_INPUT { width:220px; height:22px; padding:0px; overflow:hidden; background:#fff; border-left:1px solid #808080; border-right:1px solid #D4D0C8; border-bottom:1px solid #D4D0C8; }
.ORB_INPUT#F14069 { BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 107px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffff6f }
.ORB_INPUT#F14069_CENTS { BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 40px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffff6f }
.ORB_TABLE_ERRORMESSAGE { BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse }
.ORB_TABLE_FIELDS { BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse }
.ORB_TR_ERRORROW { BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px }
.ORB_TR_FIELD { BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px }
.ORB_MANDATORYMARKER { }
.ORB_TD_FIELDELEMENT { BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px }
.ORB_SELECT { width:138px; margin-right:10px; height:22px;border-top:1px solid #808080; border-left:1px solid #808080; border-right:1px solid #D4D0C8; border-bottom:1px solid #D4D0C8; }
.ORB_REDIRECT { }
.ORB_TR_PAYMENTINSTRUCTIONS { }
.ORB_TD_PAYMENTINSTRUCTIONS { }
.ORB_INSTRUCTIONTITLE { FONT-WEIGHT: bolder }
.ORB_TD_INSTRUCTIONIMAGE { }
.ORB_INSTRUCTIONTITLE { FONT-WEIGHT: bolder }
.ORB_INSTRUCTIONSUBTITLE { FONT-WEIGHT: bolder }
.ORB_PAYMENTINSTRUCTION { }
.ORB_PAYMENTINSTRUCTIONCAPTION { }
.ORB_PAYMENTINSTRUCTIONFIELD { }
.ORB_DCC_INSTRUCTION { FONT-WEIGHT: bolder; FONT-SIZE: 12pt; PADDING-BOTTOM: 20px; WIDTH: 400px }
.ORB_DCC_MERCHANT { PADDING-LEFT: 10px; FONT-WEIGHT: bolder }
.ORB_DCC_MERCHANT_AMOUNT { FONT-WEIGHT: bolder; FLOAT: left; WIDTH: 200px }
.ORB_DCC_TR_DISCLAIMER { PADDING-LEFT: 10px; PADDING-BOTTOM: 30px; PADDING-TOP: 5px }
.ORB_DCC_ACCEPT { PADDING-LEFT: 10px }
.ORB_DCC_ISSUER { PADDING-LEFT: 10px; FONT-WEIGHT: bolder }
.ORB_DCC_ISSUER_AMOUNT { FONT-WEIGHT: bolder; FLOAT: left; WIDTH: 200px }
.ORB_DCC_RATE { FLOAT: left; WIDTH: 200px }
.ORB_DCC_RATE_CAPTION { }
.Normal { }
.Normal, a.Normal:link, a.Normal:visited { color:#1e4e8e; text-decoration:underline; }
#btnCancel { display:none; }
#MANDATORY_F1010, #MANDATORY_F1009, #MANDATORY_F1136 { color:#c00000; }
#LABEL_F1010, #LABEL_F1136, #LABEL_F1009 { font-size:13px; font-weight:500; line-height:30px; color:#232323; }
@charset "utf-8";
html, table { font:13px 'Open Sans', Arial, Helvetica, sans-serif; color:#00; line-height:150%; }
body { margin:0; position:relative; font:13px 'Open Sans', Arial, Helvetica, sans-serif; }
xmp { display:none; }
/*links*/
a:link, a:visited { color:#000; text-decoration:none }
a:hover { text-decoration:underline; color:#c00000; }
.red, a.red:link, a.red:visited { color:#c00000; }
.black, a.black:link, a.black:visited { color:#000; }
.gray, a.gray:link, a.gray:visited { color:#616265; }
.blue, a.blue:link, a.blue:visited { color:#1e4e8e; }
.yellow, a.yellow:link, a.yellow:visited { color:#fecf77; }
.orange, a.orange:link, a.orange:visited { color:#ee5d04; }
.white, a.white:link, a.white:visited { color:#fff; }
.green, a.green:link, a.green:visited { color:#589246; }
.u, a.u:link, a.u:visited { text-decoration:underline }
.u_, a.u_:link, a.u_:visited { text-decoration:none; }
.b, a.b:link, a.b:visited { font-weight:bold; }
.b_, a.b_:link, a.b_:visited { font-weight:normal; }
.big3, a.big3:link, a.big3:visited { font-size:14px; }
.big, a.big:link, a.big:visited { font-size:12px; }
.big_, a.big_:link, a.big_:visited { font-size:11px; }
.del, a.del:link, a.del:visited { text-decoration:line-through; }
.nowrap { white-space:nowrap; }
#F1136 { width:116px; }
DIV, SPAN { font:13px 'Open Sans', Arial, Helvetica, sans-serif, ; font-size:13px; }
/*xinyongka*/
.ORB_TABLE_ERRORMESSAGE { }
.ORB_TABLE_FIELDS { display:block; padding-left:20px;}
.ORB_TABLE_FIELDS tr td { padding:10px 0 0 0px; }
.ORB_TABLE_FIELDS tr td input { float: left; border: 1px solid #ccc; line-height: 18px; height: 18px; padding:10px; width: 265px; font-size: 12px; font-family: Arial; color: #232323; background: #fff;/* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;*/ border-radius: 3px; vertical-align: middle; }
.ORB_INSTRUCTIONTEXT { display:none; }
.ORB_BUTTONELEMENT { margin: 0px; padding-left:15px; width:635px; padding-bottom:15px; overflow: hidden; }
.ORB_SELECT { float: left; border: 1px solid #ccc; height:40px; line-height:20px; padding:10px; font-size: 12px; color: #232323; font-family: Arial;/* background: #fff; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/ transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; border-radius: 2px; vertical-align: middle; cursor: pointer; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat right -470px #fff;}
.ORB_BUTTON { font: bold 13px/20px Arial; float: left; background: #fff; border-radius: 3px; border: 1px solid #c00000; color: #c00000; cursor: pointer; display: inline-block; line-height: 22px; margin-bottom:0px;  padding:8px 15px; text-align: center; vertical-align: middle; font-family: 'Open Sans', Arial, Helvetica, sans-serif,; font-weight: bold;/* width:90px; height: 34px; text-shadow: 0px 0px 0 #c00000;*/ margin:15px 0 0 5px; }
.ORB_BUTTON:hover{ background:#c00000; color:#fff;}
#creditIframe { height:500px; }
.Normal, a.Normal:link, a.Normal:visited { padding-left:10px; font-size:11px; line-height:28px; font-family:Arial, Helvetica, sans-serif; }
#MANDATORY_F1010, #MANDATORY_F1009, #MANDATORY_F1136 { padding-left:5px; width:5px; float: left; line-height:30px; }
.ORB_TABLE_FIELDS tr td br { display:none; }
.ORB_TABLE_FIELDS tr td span { /*float: left; text-align: right; margin-right: 10px; width: 180px; */  display:block;}
.ORB_TD_ERRORRIGHT { VERTICAL-ALIGN: top; font-size: 13px; COLOR: #c00000; font-weight: normal; float: left; margin:-74px 0 0 110px; font-family:Arial, Helvetica, sans-serif; }
td#ERRORMESSAGE_F1136{margin: -62px 0 0 -40px;}
#PROGRESS { padding-top:50px; }
#PROGRESS table { width:620px; text-align:center; }
#PROGRESS table tr td img { padding-top:20px; }

input[type="button"], input[type="submit"], select {
    -webkit-appearance: none;
}
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat right -470px #fff;
}
fieldset, input[type="search"], input[type="text"], input[type="password"] {
    -webkit-appearance: none;
}
@media(max-width:960px){
	.ORB_TABLE_FIELDS,.ORB_BUTTONELEMENT{ padding-left:0;}
	.ORB_BUTTON{ margin-left:0;}
	
	}
@media(max-width:768px){.ORB_TABLE_FIELDS tr td br {}

}

