.menu_list_new dl dt{float: left;line-height: 24px;}
.menu_list_new dl dd{float: left;line-height: 24px;padding-left: 20px;position: relative;}
.menu_list_new dl dd:before{    -moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;font-style: normal;font-weight: 400;text-align: center;content: '/'; position: absolute;left: 7px;top: 0;color: #d3d3d3;font-size: 12px;line-height: 26px;}
.menu_list_cont{padding-top: 13px;}
.menu_list_cont:after,.mation_select_box:after,.video_array_li:after,.star_id:after,.picture_array_page ul:after,.Menu_box:after,.popularity_view_list:after,.proName_select_left .listSel:after,.m_filter_selbox:after,.line:before,.popup:after{content: '';display: block;clear: both;width: 0;height: 0;}
.classify_big_tit h1{font-size: 26px;color: #232323;line-height: 26px;font-weight:400;padding-top: 15px;}
.classify_big_tit h1>span{color: #c00000;}
.mation_select_box{padding: 25px 0 18px;}
.new_pro_Bigcont {display: table;}
.proName_select_left{display: table-cell;}
.new_pro_Bigcont .main_content{display: table-cell;border-left: 1px solid #e5e5e5;width: 1200px;box-sizing: border-box;}
.mation_select_left,.proName_select_left{width: 220px;box-sizing: border-box;float: left;}
.mation_select_right{width: 1200px;box-sizing: border-box;float: left;padding-left: 20px;}
.proName_select_right{width: 1200px;box-sizing: border-box;float: left;position: relative;}
.mation_select_left .mation_page_guide{font-size: 13px;color: #616265;line-height: 13px;}
.mation_select_right .menu_box{position: relative;}
.popularity_view_box.choosez{display: none;}
.popularity_view_block01{font-size: 13px;line-height: 13px;color: #232323;font-weight: 600;}
.popularity_view_block01 p{display: inline-block;color: #232323;padding:0 8px 0 8px;cursor: pointer;margin-right: 25px;font-weight: normal;}
.popularity_view_block01 p .popularity_view_sortic{font-size: 12px;color: #a1a1a1;margin-left: 18px;}
.popularity_view_block01 .Fil_label{padding: 10px 0;}
.popularity_view_block01 .va_select_cont{display: inline-block;}
.popularity_view_block01 .va_select_cont .va_select_hideInput{display: none;}
.popularity_view_block01 .va_select{line-height: 18px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/live_bg.png) no-repeat -312px -919px;padding: 8px 4px 8px 35px;color: #707473;cursor: pointer;margin-right: 2px;color: #707374;}
.popularity_view_block01 .va_select:first-child{margin-left: 7px;}
.popularity_view_block01 .va_select.choosez{background-position: -312px -994px;color: #232323;}
.popularity_view_list{position: relative;float: left;}
.popularity_view_list1{position: absolute;right: 134px;top: 15px;padding-top: 10px;z-index: 90;background-color: #fff;display: none;}
.popularity_view_list1_arrow{position: absolute;width: 18px;height: 9px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/index_icon.png) -52px -6px no-repeat;top: 4px;left: 100px;}
.popularity_view_list1 ol{list-style: none;border: 1px solid #dedede;border-radius: 3px;padding: 0 20px;margin: 0;cursor: pointer;box-shadow:1px 0.5px 1px 1px rgba(0,0,0,0.05);}
.popularity_view_list1 ol li{padding: 10px 0;border-bottom: 1px solid #e5e5e5;color: #232323;font-size: 13px;line-height: 20px;}
.popularity_view_list1 ol li:hover,.popularity_view_list2 ol li:hover{color: #232323;text-decoration:underline;}
.popularity_view_list2{position: absolute;right: -3px;top: 15px;padding-top: 10px;z-index: 90;background-color: #fff;display: none;}
.popularity_view_list2 ol{list-style: none;border: 1px solid #dedede;border-radius: 3px;padding: 0 20px;margin: 0;cursor: pointer;width: 90px;box-sizing: border-box;box-shadow:1px 0.5px 1px 1px rgba(0,0,0,0.05);}
.popularity_view_list2 ol li{padding: 10px 0;border-bottom: 1px solid #e5e5e5;color: #616265;font-size: 13px;line-height: 20px;text-align: center;}
.popularity_view_list1 ol li:last-child,.popularity_view_list2 ol li:last-child{border-bottom: 0;}
.popularity_view_list2_arrow{position: absolute;width: 18px;height: 9px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/index_icon.png) -52px -6px no-repeat;top: 4px;left: 36px;}
.popularity_view_list1 ol li.choosez,.popularity_view_list2 ol li.choosez{color: #ccc;cursor: default;text-decoration:none;}
.Menu_box{float: right;height: 18px;}
.Menu_box .video_array_btn,.Menu_box .picture_array_btn,.Menu_box .table_array_btn,.Menu_box .sellist_array_btn,.Menu_box .popularity_array_btn{float: left;cursor: pointer;}
.Menu_box .video_array_ic{display: inline-block;width: 17px;height: 17px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/icon_z.png) no-repeat -11px -126px;margin-left: 16px;}
.Menu_box .video_array_btn.choosez .video_array_ic{background-position: -11px -95px;}
.Menu_box .picture_array_ic{display: inline-block;width: 17px;height: 17px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/icon_z.png) no-repeat -43px -126px;}
.Menu_box .picture_array_btn.choosez .picture_array_ic{background-position: -43px -95px;}
.Menu_box .table_array_ic{display: inline-block;width: 17px;height: 17px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/icon_z.png) no-repeat -76px -126px;margin-left: 16px;}
.Menu_box .table_array_btn.choosez .table_array_ic{background-position: -76px -95px;}
.Menu_box .sellist_array_btn,.Menu_box .popularity_array_btn{display: none;}
.Menu_box .sellist_array_ic{display: inline-block;width: 17px;height: 17px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/icon_z.png) no-repeat -150px -95px;}
.Menu_box .sellist_array_btn{background:#f4f4f4;}
.Menu_box .sellist_array_btn.choosez{background:#ffffff;}
.Menu_box .sellist_array_btn.choosez .sellist_array_ic{background-position: -150px -157px;}
.Menu_box .popularity_array_ic{display: inline-block;width: 17px;height: 17px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/icon_z.png) no-repeat -115px -157px;}
.Menu_box .popularity_array_btn.choosez{background:#f4f4f4;}
.Menu_box .popularity_array_btn.choosez .popularity_array_ic{background-position: -24px -736px;}

.proName_select_left .listSel{border-top: 1px solid #e5e5e5;padding:13px 20px 16px 0;}
.proName_select_left dl.listSel.two_column .listLi{min-width: 50%;float: left;}
.proName_select_left dl.listSel.three_column .listLi{min-width: 33%;float: left;}
.proName_select_left dl.listSel.two_column .listLi1{min-width: 50%;float: left;}
.proName_select_left dl.listSel.three_column .listLi1{min-width: 33%;float: left;}
.proName_select_left dl.listSel dt{color: #232323;font-weight: 700;font-size: 14px;line-height:14px;padding: 10px 0 13px;display: block;cursor: pointer;}
.proName_select_left dl.listSel .up_down_ic{float: right;color: #999999;cursor: pointer;}
.proName_select_left dl.listSel .listLi{cursor: pointer;}
.proName_select_left dl.listSel .listLi.choosez{cursor: default;}
.proName_select_left dl.listSel .listLi.hide{display: none;}
.proName_select_left dl.listSel .listLi a{display: block;line-height: 18px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/icon_z.png) no-repeat -182px -173px;padding: 8px 4px 8px 25px;color: #707473;font-size: 14px;}
.proName_select_left dl.listSel .listLi:hover a{text-decoration: none;background-position: -182px -337px;color: #232323;}
.proName_select_left dl.listSel .listLi.choosez a{background-position: -182px 9px;color:#232323;pointer-events: none;cursor: default;}
.proName_select_left dl.listSel .listLi1{cursor: pointer;}
.proName_select_left dl.listSel .listLi1:hover a{color: #232323;text-decoration: underline;}
.proName_select_left dl.listSel .listLi1.hide{display: none;}
.proName_select_left dl.listSel .listLi1 a{display: block;line-height: 18px;padding: 8px 4px 8px 0;color: #707473;font-size: 14px;}
.proName_select_left dl.listSel .listLi1.list_not_alink{cursor: default;}
.proName_select_left dl.listSel .listLi1.list_not_alink a{color: #232323;cursor: default;pointer-events: none;text-decoration: none;font-weight: 600;}
.proName_select_left .listSel .sidebar_more a{margin-left: 0;}
.proName_select_left .clear_narrow{padding-left: 0;}
.proName_select_right .video_array_page,.proName_select_right .table_array_page{border-top: 1px solid #e5e5e5;padding-left: 20px;}
.proName_select_right .picture_array_page{border-top: 1px solid #e5e5e5;padding: 10px 0 0 20px;}
.proName_select_right .video_array_page,.proName_select_right .picture_array_page{padding-bottom: 40px;}
/*视频页*/
.video_array_page .video_array_li{padding: 30px 0 20px;border-bottom: 1px solid #e5e5e5;}
.video_array_page.choosez{display: none;}
.video_array_img{width: 17.8%;float: left;text-align: center;}
.video_array_img img{max-width: 100%;height: auto;margin-left: auto;margin-right: auto;width: 130px;}
.video_play_btn{font-size: 13px;line-height: 18px;color: #616265;cursor: pointer;margin-bottom: 30px;}
.video_play_btn .video_play_ic{display: inline-block;}
.video_content_open_play{display:inline-block;width: 25px;height: 16px;border: 1px solid #9f9f9f;border-radius: 12px;transition: all .3s;position: relative;vertical-align: middle;float: left;margin-right: 5px;}
.video_content_open_play span{display:block;width: 0;height: 0;top: 50%;margin-top: -5px;left: 50%;margin-left: -2px;border-top: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 7px solid #9f9f9f;transition: all .3s;position: absolute;}
.video_play_btn:hover .video_content_open_play{background: #999999;}
.video_play_btn:hover .video_content_open_play span{border-top: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 7px solid #ffffff;transition: all .3s;}
.video_array_col{width: 55%;float: left;padding-left: 20px;box-sizing: border-box;}
.video_array_col h3{font-size: 14px;color: #232323;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-bottom: 18px;max-height: 40px;min-height: 40px;overflow: hidden;font-weight: normal;}
.video_array_col h3 a:hover{color: #232323;text-decoration: underline;}
.video_array_col .video_array_id{font-size: 12px;color: #999999;float: left;margin-right: 14px;line-height: 15px;}
/*星星*/
.video_array_info .change_head_proStar.pro_star .pro_star_gray,.picture_array_info .change_head_proStar.pro_star .pro_star_gray{width: 10px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/icon_z.png) no-repeat -13px -297px;}
.video_array_info .change_head_proStar.pro_star .pro_star_hover,.picture_array_info .change_head_proStar.pro_star .pro_star_hover{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/icon_z.png) no-repeat -13px -272px;}
.p_star11.new_pro_starGray {background: url(https://img-en.fs.com/includes/templates/fiberstore/images/star_five_gray.png) no-repeat center 3px;}
/*星星*/
.video_array_info .star_id{padding-bottom: 5px;}
.video_array_info .stock_ship_time{font-size: 13px;color: #999999;}
.stock_ship_time .products_in_stock,.stock_ship_time .products_in_stock em{font-size: 13px;color: #999999;}
.stock_ship_time .products_in_stock b{font-weight: normal;}
.video_array_info .thePro_describe{font-size: 13px;color: #707473;margin-top: 18px;}
.video_array_form{width: 27.2%;float: left;text-align: right;}
.video_array_form .price{font-size: 16px;color: #232323;line-height: 16px;margin-bottom: 20px;font-weight: normal;}
.video_array_form .price_free{font-size: 13px;color: #707473;line-height: 13px;}
.video_array_form .product_list_text{margin-right: 10px;display: inline-block;float: none;}
.video_array_form .product_list_btn{display: inline-block;height: 39px;float: none;}
/*图片页*/
.picture_array_img a{display: block;text-align: center;margin-bottom: 10px;}
.picture_array_img img{max-width: 100%;height:180px;margin-left: auto;margin-right: auto;width: 180px;}
.picture_array_page .picture_array_li{width: 25%;float: left;box-sizing: border-box;padding-right: 20px;border-bottom: 1px solid #e5e5e5;padding-bottom: 30px;}
.picture_array_page.choosez{display: none;}
.picture_array_li h3{font-style: normal;font-weight: 400;font-size: 14px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-bottom: 15px;max-height: 40px;min-height: 40px;overflow: hidden;}
.picture_array_li h3 a:hover{text-decoration: underline;color: #232323;}
.picture_array_info .video_array_id{font-size: 12px;color: #999999;float: left;margin-right: 14px;line-height: 16px;}
.picture_array_info .star_id{padding-bottom: 5px;}
.picture_array_info .stock_ship_time{font-size: 13px;color: #999999;}
.picture_array_info .price{font-size: 16px;color: #232323;line-height: 14px;margin:25px 0 20px;font-weight: normal; }
.picture_array_page .picture_array_li .product_list_btn{float: left;margin-left: 10px;}
/*table页*/
.table_array_page .popup{margin-top: 20px;}
.table_array_page.choosez{display: none;}
.table_array_page .title{font-size: 16px;color: #232323;line-height: 16px;padding: 20px 0 16px;border-bottom: 1px solid #e5e5e5;font-weight: normal;}
.table_array_tal{margin-bottom: 20px;}
.table_array_tal tr th,.table_array_tal tr td{padding: 10px;border-bottom: 1px solid #e5e5e5;text-align: center;}
.table_array_tal tr td a{cursor: pointer;}
.table_array_tal tr th{font-size: 13px;color: #707473;}
.table_array_tal tr .pro_type:nth-child(1){font-size: 14px;color: #707473;text-align: left;padding-left: 20px;}
.table_array_tal tr th img{margin-top: 5px;width: 40px;height: 40px;}
.table_array_tal .alink{font-size: 13px;color: #0070BC;}
.table_array_tal .pcs{font-size: 13px;color: #339933;text-indent: 3px;}
.table_array_tal .pcs .circle{display:inline-block;width: 5px;height: 5px;background: #339933;border-radius: 50%;margin-right: 3px;}
.table_array_tal .custom_tit{font-size: 12px;color: #0070BC;}
/*隐藏库存的符号*/
.track_orders_wenhao{display: none}

.m_filter_selbox{margin-top: 15px;display: none;}
.m_filter_selbox span{vertical-align: middle;font-size: 14px;display: inline-block;height: 36px;line-height: 36px;}
.m_filter_selbox .m_filter_select{border: 1px solid #ccc;height: 36px;line-height: 36px;padding: 0 22px 0 10px;color: #232323;transition: border .2s linear 0s,box-shadow .2s linear 0s;border-radius: 3px;vertical-align: middle;cursor: pointer;}
/*分页*/
/*.FS_pation_en{text-align: center;margin: 30px 0 10px;}
.FS_pation_box{text-align: center;display: inline-block;}
.FS_pation_en ul{float: left;}
.FS_pation_en li.FS_pation_item{float: left;height: 26px;width: 26px;font-size: 14px;color: #232323;line-height: 25px;box-sizing: border-box;margin: 0 5px;}
.FS_pation_en li.FS_pation_item a{width: 100%;height: 100%;display: block;text-decoration: none;border-radius: 3px;cursor: pointer;border: 1px solid #ffffff;box-sizing: border-box;}
.FS_pation_en li.FS_pation_item:hover a{border-radius: 3px;border-color: #8e8e8e;}
.FS_pation_en li.FS_pation_item.choosez:hover a{border-color: #ffffff;}
.FS_pation_en li.FS_pation_item.choosez a{background: #8e8e8e;color: #ffffff;}
.list_pro_page{float: left;height: 26px;line-height: 28px;width: 9px;margin-right: 20px;cursor: default;color: #cccccc;}
.list_next_page{float: right;height: 26px;line-height: 28px;width: 9px;margin-left: 20px;cursor: pointer;color: #232323;}*/

/*新版弹框样式  此样式用的是新版首页的弹窗样式，只做宽度的调整*/
/*.new_popup{position: fixed;width: 100%;height: 100%;z-index: 9999999;top: 0;left: 0;display: none;}
.new_popup_bg{position: fixed;left: 0;top: 0;z-index: 0;width: 100%;height: 100%;background:#000; opacity: .3;}
.new_popup_main{position: absolute;background-color: #fff;border-radius: 2px}
.popup_width880{width: 880px;left: 50%;top: 50%;margin-left: -440px;}
.pupop_video{margin-top: -328px;z-index: 100;}
.new_popup_tit,.new_popup_tit strong{font-size: 18px;color: #232323;font-weight: 400;line-height: 56px;}
.new_popup_tit{padding:0 20px;}
.new_popup_tit .icon{float: right;font-size: 26px;cursor: pointer;color: #8d8d8f;}
.new_popup_tit .icon:hover{color: #232323;}*/
/*addCart*/
/*.popup_width680{width: 680px;left: 50%;top: 50%;margin-left: -340px;}
.new_popup_addCart_tit{padding: 20px 20px 0;}
.new_popup_addCart_tit:after,.addCrat_item_list_top:after,.addCart_bought_carousel_list:after{content: '';display: block;clear: both;width: 0;height: 0;}
.new_popup_addCart_tit .icon{float: right;font-size: 26px;cursor: pointer;color: #8d8d8f;font-weight: normal;}
.new_popup_addCart_tit .icon:hover{color: #232323;}
.new_popup_content.addCart_cont{padding: 0 40px 40px;}
.addCrat_item_number{color: #339933;font-size: 22px;line-height: 22px;margin-bottom: 20px;}
.addCrat_item_number .icon{margin-right: 10px;font-size: 20px;}
.addCrat_item_list_top .addCrat_left{float: left;}
.addCrat_item_list_top .addCrat_right{float: left;width: 500px;padding: 10px 0 0 30px;box-sizing: border-box;}
.addCrat_img{width: 100px;height: 100px;}
.addCrat_item_list_tit{font-size: 14px;color: #232323;line-height: 22px;font-weight: normal;}
.addCrat_item_list_tit span{padding-left: 10px;color: #999;font-size: 13px;}
.addCrat_item_list_top .Qty_num{font-size: 13px;color: #8d8d8f;padding-top: 3px;}
.addCrat_item_list_top .addCart_pro_price{font-size: 14px;color: #232323;padding-top: 7px;}
.addCrat_item_list_bottom{text-align: right;margin-top: 25px;}
.new_popup_content.addCart_cont .product_m_info_tit a{color: #232323;}
.new_popup_content.addCart_cont .product_m_info_tit a:hover{text-decoration: underline;}*/
/*定制公共按钮*/
.fs_customer_btn{position: relative;height: 40px;overflow: hidden;}
.fs_customer_btn01{height: 38px;border:1px solid #c00000;font-size: 14px;color: #c00000;border-radius: 2px;padding: 0 12px;display: inline-block;height: 38px;box-sizing: border-box;text-decoration: none;line-height: 36px;
    transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;}
.fs_customer_btn01.mg_left10{margin-left: 10px;}
.fs_customer_btn01:hover{text-decoration: none;background: #c00000;color: #ffffff;}
.fs_customer_btnG01{height: 38px;border:1px solid #cccccc;font-size: 14px;color: #616265;border-radius: 2px;padding: 0 12px;display: inline-block;height: 38px;box-sizing: border-box;text-decoration: none;line-height: 36px;
    transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;}
.fs_customer_btnG01:hover{text-decoration: none;background: #f7f7f7;color: #616265;}
.addCart_also_bought p.also_bought{font-size: 18px;color: #232323;padding: 20px 0;line-height: 18px;border-top: 1px solid #e5e5e5;margin-top: 40px;}
.addCart_bought_carousel{position: relative;padding: 0 20px;}
.addCart_bought_carousel .addCart_alert_pre{position: absolute;left: 0;width: 16px;top: 50%;font-size: 20px;color: #8d8d8f;cursor: pointer;background: none;}
.addCart_bought_carousel .addCart_alert_next{position: absolute;right: 0;width: 16px;padding-left: 8px;box-sizing: border-box;top: 50%;font-size: 20px;color: #8d8d8f;cursor: pointer;background: none;}
.addCart_bought_carousel_box{overflow: hidden;position: relative;height: 160px;width: 560px;}
.addCart_bought_carousel_list{position: absolute;height: 100%;left: 0;}
.addCart_bought_carousel_box li{float: left;box-sizing: border-box;width: 140px;}
.addCart_bought_carousel_box li a{display: block;}
.addCart_bought_carousel_box li img{width: 80px;height: 80px;margin: auto;display: block;}
.addCart_bought_carousel_box .addCart_pro_link{font-style: normal;font-weight: 400;font-size: 13px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;margin: 12px 0 15px;max-height: 40px;min-height: 40px;line-height:20px;overflow: hidden;}
.addCart_bought_carousel_box li p{font-size: 13px;color: #232323;line-height: 13px;font-weight: 600;}

/*加入购物车按钮及加载动画*/
.product_detail_btn.floatRz{float: right;margin-top: 17px;}
.product_detail_btn{position: relative;display: inline-block;}
.new_pro_addCart_cont{display: inline-block;float: left;}
.new_pro_addCart_btn{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -172px -418px #fff;padding-left: 35px;padding-right:12px;color: #c00000;border: 1px solid #c00000;transition: transform .6s,background-color .3s;-o-transition: transform .6s,background-color .3s;-webkit-transition: transform .6s,background-color .3s;-moz-transition: transform .6s,background-color .3s;height: 38px;line-height: 38px;border-radius: 2px;position: relative;cursor: pointer;}
.new_pro_addCart_btn.addLoad_animation{border:1px solid rgb(243,193,193);background: #eb9898;color: #ffffff;cursor: default;}
.new_pro_addCart_btn.addLoad_animation:hover{background: #eb9898;}
.new_pro_addCart_btn:hover{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -172px -241px #c00000;color: #ffffff;}
.new_pro_addCart_btn .new_addCart_loading.choosez{display: none;}
.new_pro_addCart_btn .loader_order{left: 12px;}
.new_pro_custom_btn{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -172px -418px #fff;padding-left: 35px;padding-right:12px;color: #c00000;border: 1px solid #c00000;transition: transform .6s,background-color .3s;-o-transition: transform .6s,background-color .3s;-webkit-transition: transform .6s,background-color .3s;-moz-transition: transform .6s,background-color .3s;height: 38px;line-height: 38px;border-radius: 2px;position: relative;cursor: pointer;display: inline-block;box-sizing: border-box;font-size: 14px;}
.new_pro_custom_btn:hover{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -172px -241px #c00000;color: #ffffff;text-decoration: none;}
.new_chec_bg{position:absolute;z-index:1;opacity:.4;width:100%;height:38px;top:0;left:0;background:#fff;}
.loader_order{position:absolute;width:18px;background:0 0;z-index:5;top:10px;left:120px}
.loader_order:before{content:'';display:block;padding-top:100%}
.circular{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;height:100%;-webkit-transform-origin:center center;transform-origin:center center;width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto}
.path{stroke-dasharray:1,200;stroke-dashoffset:0;-webkit-animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;stroke-linecap:round}
@-webkit-keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@-webkit-keyframes dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}
    50%{stroke-dasharray:89,200;stroke-dashoffset:-35px}
    100%{stroke-dasharray:89,200;stroke-dashoffset:-124px}
}
@-webkit-keyframes color{0%,100%{stroke:#fff}
    40%{stroke:#fff}
    66%{stroke:#fff}
    80%,90%{stroke:#fff}
}
/*加入购物车按钮及加载动画结束*/
@media (max-width: 1440px){
	.new_pro_Bigcont .main_content{width: 960px;}
    .proName_select_right,.mation_select_right{width: 960px;}
    .picture_array_page .picture_array_li{width: 33.33%;}
}
@media (max-width: 1220px){
	.new_pro_Bigcont .main_content{width: 720px;}
    .proName_select_right,.mation_select_right{width: 720px;}
    .video_array_form{padding-left: 10px;box-sizing: border-box;}
    .video_array_form .product_list_text{margin-right: 0px;}
    .table_array_tal .pcs{min-width: 65px;}
    .categories_table_list{position: relative;overflow-x: auto;}
}
@media (max-width: 960px){
	.new_pro_Bigcont .main_content{width: 100%;display: block;}
	.new_pro_Bigcont{display: block;}
    .classify_big_tit h1{padding-top: 8px;padding-left: 15px;}
    .menu_list_cont{padding-left: 15px;}
    .mation_select_box{padding: 20px 15px 0;}
    .mation_select_right{padding-left: 0;}
    .mation_select_right .popup{margin-bottom: 20px;}
    .proName_select_left{padding-left: 15px;padding-right: 15px;}
    .proName_select_left,.proName_select_right{width: 100%;}
    .proName_select_left dl.listSel .listLi{width: 50%;float: left;}
    .proName_select_left,.mation_select_left{display: none;}
    .table_array_page{overflow:auto;}
    .Menu_box{float: none;height: auto;display: block;margin-bottom:20px;}
    .Menu_box .sellist_array_btn,.Menu_box .popularity_array_btn{display: block;}
    .Menu_box .video_array_btn, .Menu_box .picture_array_btn, .Menu_box .table_array_btn,.Menu_box .sellist_array_btn{
        padding: 15px;border: 1px solid #e5e5e5;height: 17px;margin-right: 5px;border-radius: 3px;
    }
    .Menu_box .video_array_btn .video_array_ic{background-position: -11px -157px;}
    .Menu_box .picture_array_ic{background-position: -43px -157px;}
    .Menu_box .table_array_ic{background-position: -76px -157px;}
    .Menu_box .video_array_ic,.Menu_box .table_array_ic{margin: 0;}
    .Menu_box .video_array_btn.choosez,.Menu_box .picture_array_btn.choosez,.Menu_box .table_array_btn.choosez{background:#f4f4f4;}
    .popularity_view_box{float: none;display: none;}
    .Menu_box .popularity_array_btn{padding: 15px;border: 1px solid #e5e5e5;height: 17px;margin-right: 5px;border-radius: 3px;}
    .Menu_box .popularity_array_btn.choosez{padding: 15px;margin-right: 5px;border-radius: 3px;background: #f4f4f4;}
    .Menu_box .popularity_array_btn.choosez .popularity_array_ic{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/icon_z.png) no-repeat -115px -95px;}
    .popularity_view_list.choosez .popularity_view_block01{display: none;}
    .m_filter_selbox.choosez{display: block;}
    .m_filter_selbox{margin-bottom: 20px;}
    .popularity_view_box:after,.popup:after,.m_filter_selbox:before{content: '';display: block;clear: both;width: 0;height: 0;}
    .proName_select_right .video_array_page,.proName_select_right .picture_array_page, .proName_select_right .table_array_page{border-left: 0;padding-left: 0;}
    .video_array_page .video_array_li{padding: 20px 0 20px;}
    .video_array_img{width: 30%;}
    .video_array_col,.video_array_form{float: right;}
    .video_array_img img{height: inherit;width: 100%;max-height: 200px;max-width: 200px;}
    .video_array_col,.video_array_form{width: 70%;}
    .video_array_form{text-align: left;padding-left: 20px;}
    .video_array_form .price{margin-top: 10px;}
    .video_array_form  .product_list_text{float: left;padding-right: 10px;}
    .video_array_form  .product_list_btn{float: left;}
    .picture_array_page .picture_array_li .line{display: block;}

}
@media (max-width: 480px){
	.proName_select_right .video_array_page,.proName_select_right .picture_array_page{padding-bottom: 0;}
	.proName_select_left .listSel{padding-left: 10px;}
    .menu_list_cont .back_Home,.menu_list_cont .Home_next{display: none;}
    .picture_array_page .picture_array_li{width: 48.5%;padding-right:0;margin-right: 3%;}
    .picture_array_page .picture_array_li:nth-child(2n){margin-right: 0;}
    .video_array_info .thePro_describe{display: none;}
    .picture_array_info .price{margin: 15px 0 0;}
    .picture_array_page .picture_array_li .product_list_btn{margin: 10px 0 20px ;}
    .list_pro_page{margin-right: 12px;}
    .list_next_page{margin-left: 12px;}
    .picture_array_info .stock_ship_time{min-height: 40px;}
}
/*.product_list_qty*/
.proName_select_right .product_list_qty{height: 38px;box-sizing: border-box;}
/*页面动画*/
.list_fsLoading{position: fixed;width: 100%;height: 100%;z-index: 999999;top: 0;left: 0;}
.list_fsLoading .bg_color{position: absolute;width: 100%;height: 100%;background: #fff;z-index: 2;opacity: .5;}
.list_fsLoading #loader_order_alone .path{animation: dash 1.5s ease-in-out infinite,add_cart_color 6s ease-in-out infinite;}
@keyframes add_cart_color{0%,100%{stroke:#bbb;}
    40%{stroke:#bbb;}
    66%{stroke:#bbb;}
    80%,90%{stroke:#bbb;}
}


/*产品颜色*/
.new_color_con{display:block;height:14px;width:100%}
.new_color{width: 25px;overflow: hidden;padding-bottom: 4px;}
.new_color_public{width: 4px;height: 4px;display: inline-block;margin-right: 1px;float: left;margin-bottom: 1px;}
.new_Blue{background: #4e83ff;}
.new_Gray{background: #7e7e7e;}
.new_Black{background: #232323;}
.new_Red{background: #ef4f3f;}
.new_Purple{background: #ab7cd8;}
.new_Green{background: #31a2a0 ;}
.new_White{background: #ffffff;border: 1px solid #e5e5e5;box-sizing: border-box;}
.new_Yellow{background: #f8d93e;}
.new_Orange{background: #ff8350;}
.new_Pink{background: #eca1c0;} 
.new_Aqua{background:#6fcce1}
.new_Off{background:#d7d4ce}
.video_array_col .new_color_con{display:none}