a,
dd,
dl,
dt,
em,
h2,
i,
input,
li,
p,
select,
span,
strong,
textarea,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-weight: 400;
	font-style: normal;
}

.box,
.content {
	width: 100%;
	background: none !important;
}

.primary_classification_tit {
	font-size: 26px;
	line-height: 34px;
	color: #19191A;
	font-weight: 600;
	padding: 24px 0 14px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.primary_classification_container {
	display: flex;
	height: 380px;
	padding-bottom: 50px;
	border-bottom: 1px solid #E5E5E5;
}

.primary_nav_public {
	margin-right: 12px;
	position: relative;
}

.primary_nav_public:last-child {
	margin-right: 0;
}

.primary_nav_left {
	width: 346px;
	background: #F7F7F7;
	padding: 14px 0 0 12px;
	box-sizing: border-box;
}

.primary_nav_middle {
	width: 704px;
}

.primary_nav_right {
	width: 346px;
}

.primary_nav_public img {
	max-width: 100%;
	height: initial;
	max-height: 518px;
}

.primary_nav_ul li {
	font-size: 14px;
	color: #19191A;
	font-weight: 600;
	line-height: 22px;
	padding: 9px 12px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
}
.primary_nav_ul li a:hover b{
	text-decoration: underline;
}

.primary_nav_ul li:hover {
	background: #fff;
}
.primary_nav_ul li:hover a{
	text-decoration: none;
}

.primary_nav_ul li .icon {
	font-size: 12px;
	float: right;
	color: #89898C;
	display: inline-block;
	vertical-align: middle;
	margin-top: 2px;
}

.primary_middle_position {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 0 32px 26px 24px;
	box-sizing: border-box;
}

.primary_middle_tit {
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
	color: #fff;
	padding-bottom: 10px;
	width: 60%;
}
.primary_middle_tit br{
	display: none;
}
.primary_middle_txt {
	font-size: 13px;
	line-height: 20px;
	font-weight: 600;
	color: #fff;
}

.primary_right_public {
	margin-bottom: 12px;
	position: relative;
}

.primary_right_public:last-child {
	margin-bottom: 0;
}

.primary_right_tit {
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	color: #fff;
}

.primary_right_public .primary_middle_position {
	padding: 0 24px 14px 24px;
}

.primary_public_width {
	margin: 0 auto;
	width: 1420px;
}

.primary_public_tit {
	font-size: 20px;
	font-weight: 600;
	color: #19191A;
	line-height: 30px;
	text-align: center;
	padding: 40px 0 24px 0;
}

.primary_categries_dl_container {
	display: flex;
}

.primary_categries_dl {
	width: 100%;
	margin-right: 12px;
	background: #F7F7F7;
	transition: all .3s;
}

.primary_categries_dl:last-child {
	margin-right: 0;
}
.primary_categries_dl:hover{
	box-shadow: 0px 12px 36px 0px rgba(0, 0, 0, 0.1);
}
.primary_categries_dl:hover a{
	text-decoration: none;
}
.primary_categries_dl dt img {
	width: 346px;
	height: 196px;
	margin: 0 auto;
	display: block;
}

.primary_categries_dl dd {
	font-size: 16px;
	height: 66px;
	line-height: 26px;
	padding: 20px 24px;
	text-align: center;
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space:nowrap;
}

.primary_swiper .swiper-container {
	overflow: initial;
}

.primary_swiper .swiper-wrapper .swiper-slide,
.primary_swiper2 .swiper-wrapper .swiper-slide {
	width: 100%;
	position: initial;
	flex-shrink: initial;
	margin-right: 15px;
}

.primary_swiper .swiper-wrapper .swiper-slide:last-child {
	margin-right: 0;
}
.primary_swiper .primary_products_tit:hover {
	text-decoration: none;
}
.fs_home_red{
	display: block;
	width: 100%;
	text-align: center;
}

.primary_swiper_dl {
	border: 1px solid #f1f1f1;
	transition: all .3s;
	width: 272px;
}

.primary_swiper_dl:hover {
	box-shadow: 0px 12px 36px 0px rgba(0, 0, 0, 0.1);
}
.primary_swiper_dl:hover a{
	text-decoration: none;
}

.primary_swiper_dl dt {
	background: #F7F7F7;
	text-align: center;
}

.primary_swiper_dl dt img {
	display: inline-block;
}

.primary_swiper_dl dd {
	padding: 0 0 18px 0;
}

.primary_products_tit,
.primary_products_price {
	font-weight: 600;
	font-size: 16px;
	color: #19191A;
	line-height: 26px;
	margin-top: 10px;
}

.primary_products_tit {
	padding: 0 24px;
	text-align: center;
	height: 52px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	margin-bottom: 10px;
	margin-top: 16px;
}
.fs_home_red i {
	display: inline-block;
    width: 0;
    height: 3px;
    background: #C00000;
    text-align: center;
    transition: all .3s;
    border-radius: 10px;
}
.primary_swiper_dl:hover .fs_home_red i{
	width: 14px;
}

.primary_products_model,
.primary_products_stock {
	font-size: 13px;
	color: #89898C;
	line-height: 20px;
	text-align: center;
	display: block;
}
.primary_products_model{
	padding: 0 12px;
	box-sizing: border-box;
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	height: 20px;
}

.primary_products_price {
	text-align: center;
}
.de_price_text{
	font-weight: 600;
}

.primary_img_container {
	position: relative;
	transition: all .3s;
}

.primary_img_container img {
	width: 464px;
	height: 280px;
}
.primary_img_container:hover{
	box-shadow: 0px 12px 36px 0px rgba(0, 0, 0, 0.1);
}
.primary_swiper2 .swiper-container{
	overflow: initial;
}

.primary_swiper2 .swiper-wrapper .swiper-slide {
	margin-right: 14px;
}

.primary_swiper2 .swiper-wrapper .swiper-slide:last-child {
	margin-right: 0;
}

.primary_swiper_tit {
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	line-height: 26px;
	text-align: center;
}

.primary_swiper2 .primary_middle_position {
	padding-bottom: 24px;
}

.primary_swiper2 {
	padding-bottom: 60px;
}

.primary_discovery {
	background: #F7F7F7;
	padding-bottom: 50px;
}

.primary_discovery_tit {
	font-size: 16px;
	line-height: 26px;
	color: #19191A;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: 52px;
}

.primary_discovery_container {
	display: flex;
}

.primary_discovery_txt {
	font-size: 14px;
	color: #646466;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: 42px;
}

.primary_discovery_dl dd {
	background: #fff;
	padding-top: 16px;
	padding: 16px 20px 20px 20px;
}

.primary_discovery_dl {
	margin-right: 14px;
	transition: all .3s;
	position: relative;
}
.primary_discovery_dl:hover{
	box-shadow: 0px 12px 36px 0px rgba(0, 0, 0, 0.1);
}
.primary_discovery_dl:hover a{
	text-decoration: none;
}

.primary_discovery_dl:last-child {
	margin-right: 0;
}

.primary_discovery_btn_container {
	text-align: center;
	padding-top: 24px;
}
/* .fs_home_insights {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 24px;
    text-align: center;
    line-height: 24px;
    padding: 0 10px;
    color: #fff;
    font-size: 13px;
    z-index: 1;
    border-radius: 2px;
	overflow: hidden;
	min-width: 50px;
} */
.fs_home_insights i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0060bf;
    opacity: .6;
    z-index: -1;
    display: inline-block;
}
.primary_discovery_btn {
	display: inline-block;
	border: 1px solid #4b4b4d;
	border-radius: 3px;
	height: 38px;
	line-height: 36px;
	color: #19191A;
	font-size: 14px;
	padding: 0 30px;
	transition: all .3s;
}
.primary_discovery_btn:hover{
	background: #4B4B4D;
	text-decoration: none;
	color: #fff;
}


.dci_bottom_banner {
	height: 265px;
	text-align: center;
}
.dci_bottom_banner_bg {
	position: absolute;
	width: 100%;
	height: 265px;
	left: 0;
	z-index: -1;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/rj/try-it-now-bg.jpg) no-repeat;
	background-position: center;
}
.dci_bottom_banner_tit {
	font-size: 26px;
	color: #fff;
	font-weight: 600;
	line-height: 34px;
	padding: 52px 0 14px 0;
}
.dci_bottom_banner_txt {
	font-size: 16px;
	color: #fff;
	line-height: 26px;
	padding-bottom: 22px;
}
.dci_bottom_banner_a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 0 30px;
	box-sizing: border-box;
	border: 1px solid #fff;
	border-radius: 3px;
	height: 40px;
	line-height: 38px;
	font-size: 14px;
	color: #fff;
	transition: all .2s;
}
.dci_bottom_banner_a:hover {
	text-decoration: none;
	color: #232323;
	background: #fff;
}
.primary_menu{
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	background: #fff;
	width: 100%;
	height: 100%;
	transform: translateX(100%);
	z-index: 10;
	border: 1px solid #F7F7F7;
	border-left: none;
	box-sizing: border-box;
	box-shadow: 10px 0px 16px -2px rgba(0, 0, 0, 0.1);
}
.primary_nav_ul li:hover .primary_menu{
	display: block;
}
.primary_nav_ul li:hover a:hover{
	text-decoration: underline;
}
.primary_nav_ul li a{
	display: block;
}
.primary_nav_ul li a b{
	font-weight: 400;
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	max-width: 90%;
}
.primary_menu_dl{
	padding: 18px 24px;
}
.primary_menu_dl dd a{
	font-size: 14px;
	color: #19191A;
	line-height: 22px;
	font-weight: 400;
}
.primary_menu_dl dd a:hover{
	text-decoration: underline;
}
.primary_menu_dl dd{
	padding: 6px;
}
.primary_public_container .swiper-pagination{
	left: 50%;
	transform: translateX(-50%);
	bottom: -36px;
}
.primary_public_container .swiper-pagination-clickable .swiper-pagination-bullet{
	margin: 0 5px;
	transition: all 0.3s;
}
.primary_public_container .swiper-pagination .swiper-pagination-bullet-active{
	width: 20px;
	height: 8px;
	border-radius: 4px;
	opacity: 1;
}
.primary_swiper,.primary_swiper2{
	position: relative;
}
.primary_public_container .swiper-pagination-bullet{
	color: #ccc;
}
.primary_public_container .swiper-pagination-bullet-active{
	color: #89898C;
}
.primary_nav_btn{
	font-size: 20px;
	color: #4B4B4D;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: none;
}
.primary_m_nav{
	position: fixed;
	background: #fff;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
}
.primary_m_nav_dl dd{
	height: 40px;
}
.primary_m_nav_dl dd a{
	font-size: 14px;
	color: #19191A;
	line-height: 40px;
	display: block;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.primary_m_nav_dl dd a .icon{
	font-size: 12px;
	color: #89898C;
}
.primary_m_nav_dl dd a:hover{
	text-decoration: none;
}
.primary_m_nav_btn{
	font-size: 12px;
	color: #89898C;
}
.primary_m_nav_dl .primary_classification_tit{
	padding-bottom: 12px;
}
.primary_m_nav_dl{
	position: relative;
	z-index: 14;
	background: #fff;
	box-sizing: border-box;
	padding: 0 16px 18px 16px;
}
.primary_m_bg{
	background: #19191A;
	opacity: .5;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 12;
}

@media (max-width: 1440px){
	.primary_public_width{width: 1200px;}
	.primary_categries_dl dt img,.primary_img_container img,.primary_discovery_dl dt img{max-width: 100%;height: initial;}
	.primary_discovery_dl{width: 100%;}
	.primary_classification_container{height: auto;}
	.primary_nav_right{display: none;}
	.primary_nav_middle{width: 100%;}
	.primary_nav_ul li a{font-size: 14px;font-weight: 400;}
	.primary_nav_ul li a:hover{text-decoration: underline;}
	.primary_swiper_dl{width: 228px;}
}
@media (max-width: 1220px){
	.primary_public_width{width: 960px;}
	.primary_nav_public{height: 100%;}
	.primary_nav_right{display: none;}
	.primary_classification_container{height: 375px;}
	.primary_categries_dl dt img,.primary_img_container img{height: initial;max-width: 100%;}
	.primary_swiper_dl dt img{width: 150px;}
	.primary_nav_public:nth-child(2){margin-right: 0;}
	.primary_nav_left{width: 254px;}
	.primary_swiper_dl{width: 180px;}
}
@media (max-width: 960px){
	.primary_public_width{width: 100%;padding: 0 16px;box-sizing: border-box;}
	.primary_swiper .swiper-wrapper .swiper-slide, .primary_swiper2 .swiper-wrapper .swiper-slide{position: relative;-webkit-flex-shrink: 0;-ms-flex: 0 0 auto;flex-shrink: 0;margin-right: 0;}
	.primary_swiper .swiper-container{overflow: hidden;}
	.primary_swiper2 .swiper-wrapper .swiper-slide{margin-right: 0;}
	.primary_nav_left{display: none;}
	.primary_nav_middle{width: 100%;margin-right: 0;}
	.primary_nav_middle img{width: 100%;}
	.primary_classification_container{height: initial;}
	.primary_middle_position{display: flex;height: 100%;width: 100%;bottom: 0;padding: 0 32px;align-items: flex-end;padding-bottom: 35px;box-sizing: border-box;}
	.primary_categries_dl_container,.primary_discovery_container{flex-flow: row wrap;justify-content: space-between;}
	.primary_categries_dl,.primary_discovery_dl{width: calc((100% - 16px)/2);margin: 0 0 16px 0;}
	.primary_swiper2 .primary_middle_position{height: initial;text-align: center;}
	.primary_swiper2 .primary_middle_position .primary_swiper_tit{text-align: center;width: 100%;}
	.primary_categries_dl dt img,.primary_img_container img,.primary_discovery_dl dt img{height: initial;}
	.primary_categries_dl dd{height: initial;}
	.primary_swiper2{padding-bottom: 0;margin-bottom: 64px;}
	.primary_img_container{text-align: center;}
	.m_padding .primary_public_tit{padding-top: 52px;}
	.primary_nav_btn{display: inline-block;}
	.primary_swiper2 .swiper-container{overflow: hidden;}
	.primary_middle_tit {width: 100%;}
	.primary_swiper_dl dt img{width: 180px;}
	.primary_swiper_dl{width: auto;}
}
@media (max-width: 640px){
	.primary_img_container{text-align: center;}
	.primary_discovery_dl{width: calc((100% - 0px)/1);margin: 0 0 16px 0;}
	.primary_discovery_dl dt img{width: 100%;}
	.primary_swiper_dl dt img{width: 160px;}
}
@media (max-width: 480px){
	.primary_categries_dl dd{font-size: 14px;color: #19191A;padding-bottom: 14px;}
	.primary_middle_tit{font-size: 16px;line-height: 26px;}
	.primary_middle_txt{display: none;}
	.primary_middle_tit br{display: block;}
	.primary_classification_container{padding-bottom: 0;border-bottom: none;}
	.primary_public_tit{padding: 22px 0 16px 0;}
	.primary_categries_dl_container{margin-bottom: -16px;}
	.primary_products_tit, .primary_products_price{font-size: 14px;line-height: 22px;}
	.primary_products_tit{height: 41px;margin-bottom: 14px;}
	.primary_swiper_dl dd{padding: 14px 0 18px 0;}
	.primary_products_price{margin-top: 12px;}
	.primary_discovery_tit{font-size: 16px;line-height: 26px;height: initial;}
	.primary_discovery_dl dd{padding: 14px 20px 20px 20px;}
	.primary_discovery_dl:last-child{margin-bottom: 0;}
	.primary_discovery{padding-bottom: 48px;}
	.dci_bottom_banner_tit{font-size: 20px;line-height: 30px;padding: 0 0 6px 0;}
	.dci_bottom_banner_txt{font-size: 14px;line-height: 22px;padding: 0 24px 18px 24px;}
	.dci_bottom_banner_txt br{display: none;}
	.dci_bottom_banner_txt_container{height: 100%;display: flex;align-items: center;justify-content: center;}
	.primary_classification_tit{font-size: 20px;line-height: 30px;padding: 16px 0 16px 0;}
	.primary_middle_position{padding: 0 16px;padding-bottom: 10px;}

}
.fs_home_explore_video {
	display: flex;
	align-items: center;
	padding: 1px 10px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	position: absolute;
	bottom: 12px;
	right: 12px;
	transition: all 0.3s;
}

.fs_home_explore_video .icon {
	margin-right: 5px;
	font-size: 12px;
}

.fs_home_explore_video span {
	color: #fff;
	font-size: 13px;
	line-height: 24px;
}