.menu_02{display: none;}
.ce_banner_bg{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/Get-Qute-banner01.jpg);}
.ce_content_main{padding-top: 30px;}
.ce_form_main{width: 670px;padding-top: 0;}
.quote_container:after{content:"";display:block;clear:both;}
.quote_container{display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;flex-wrap: wrap;-webkit-wrap: wrap;}
.quote_container .ce_form_main_con{width: 48%;}
.ce_form_choose_country{width: 100%;margin-bottom: 0;}
.quote_tit{font-size: 20px;color: #616265;font-weight: 400;padding-top: 50px;padding-bottom: 25px; letter-spacing: -0.2px;}
.quote_tit02{font-size: 18px;color: #232323;font-weight: 400;padding-top: 10px;padding-bottom: 15px;}
.quote_select_container{line-height: 34px;position: relative;border-radius: 3px;box-sizing: border-box;cursor: pointer;}
.quote_option{display: none;background: #fff;border: 1px solid #dedede;border-radius: 3px;padding: 0 10px;position: absolute;width: 100%;box-sizing: border-box;z-index: 10;}
.quote_select{color: #616265;font-size: 13px;padding-left: 10px;box-sizing: border-box;}
.quote_tit02_padding{padding-top: 0;padding-bottom: 0;}
textarea.ce_form_ipt{max-width: 100%;min-height: 118px;max-height: 150px;}
.quote_t{font-size: 18px;color: #232323;font-weight: 400;    padding-bottom: 8px;}
.quote_btn{margin-top: 30px;}
.write_review_increase_btn{width: 80px;height: 80px;background: none;border: 1px dashed #CCCCCC;margin-top: 0;cursor: pointer;}
.write_review_increase_btn:hover{background: none;border: 1px dashed #ccc;}
.write_review_increase_btn div{height: 82px;position: relative;}
.wr_span{width: 20px;background: #dedede;height: 20px;border-radius: 100%;display: inline-block;text-align: center;line-height: 20px;margin-top: 10px;color: #fff;}
.write_review_increase_btn i{display: block;font-size: 13px;color: #999;line-height: 16px;padding:  30px 0px 20px 0px;}
.submit_review_01 input,.submit_review_01 textarea{box-sizing: border-box;max-width: 100%;max-height: 200px}
.write_review_fromonly{width: auto;float: left}
.review_img_show_only{width: 82%;float: left;margin-top: 10px;}
.write_review_increase_img{height: 82px;}
.write_review_increase_img img{max-width: 100%;display: block;margin: 0 auto;height: inherit;}
.quote_auto{overflow: hidden;}
.ce_form_ipt::-webkit-input-placeholder {color:    #a9a9a9;font-size: 13px;}
.ce_form_ipt:-moz-placeholder {color:    #a9a9a9;font-size: 13px;}
.ce_form_ipt::-moz-placeholder {color:    #a9a9a9;font-size: 13px;}
.ce_form_ipt:-ms-input-placeholder {color:    #a9a9a9;font-size: 13px;}
.ce_form_main_tit{font-weight: 400;}
.swal2-show{width: 532px !important;height: 336px !important;}
.swal2-modal .swal2-title{font-size: 16px;color: #232323;font-weight: 400;margin-bottom: 30px;}
.swal2-icon{margin-bottom: 20px;margin-top: 30px;}
.swal2-modal .swal2-content{font-size: 14px;color: #616265;}
.quote_select_container select{width: 100%;border: none;padding-left: 10px; box-sizing: border-box;font-size: 13px;color: #616265; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat right -471px; border:1px solid #ccc;border-radius:3px;height:36px;}
.error_prompt_one,.error_prompt_two{clear: both;color: #c00000;padding-top: 5px;font-size: 13px;}
.ce_form_privacy{color: #232323;font-weight:400}
.ce_form_privacy:hover{color: #232323;}
.quote_select_container_position{position: relative;}
.ce_banner_tit{padding: 0;line-height: 200px;}
.quote_auto .write_review_fromonly{margin-top: 0;}
.quote_auto{margin-bottom: 15px;}
.quote_selectop{clear: both; color: #c00000;font-size: 13px; display:none;}
.ce_form_sub{width:inherit; padding:0 10px; box-sizing:border-box;}
.shopp_Prompt{color: #999999;font-size: 12px;padding-bottom: 8px;}
.review_img_show_only .write_review_increase_img{width: 82px;text-align: center;}
.review_img_show_only .write_review_increase_img i{font-size: 50px !important;display: inline-block;vertical-align: middle;margin-top: 32px;margin-left: -9px;color: #CCCCCC;}
.review_img_show_only001 .write_review_increase_img img{display: none;}
#inquiry_form .quote_t{padding-top: 8px;}
@media (max-width: 960px){
	.ce_form_main{width: 100%;}
}
@media (max-width: 480px){
	.quote_container .ce_form_main_con{width: 100%;}
}


/*Get a Quote*/
.ce_banner_bg{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/get_qupte/Get-Qute-banner01.jpg);}
.ce_content_main{padding-top: 30px;}
.ce_form_main{width: 670px;padding-top: 0;}
.quote_container:after{content:"";display:block;clear:both;}
.quote_container{display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;flex-wrap: wrap;-webkit-wrap: wrap;}
.quote_container .ce_form_main_con{width: 48%;}
.ce_form_choose_country{width: 100%;margin-bottom: 0;}
.quote_tit02{font-size: 18px;color: #232323;font-weight: 400;padding-top: 10px;padding-bottom: 15px;}
.quote_select_container{line-height: 34px;position: relative;border-radius: 3px;box-sizing: border-box;cursor: pointer;}
.quote_option{display: none;background: #fff;border: 1px solid #dedede;border-radius: 3px;padding: 0 10px;position: absolute;width: 100%;box-sizing: border-box;z-index: 10;}
.quote_select{color: #616265;font-size: 13px;padding-left: 10px;box-sizing: border-box;}
.quote_tit02_padding{padding-top: 0;padding-bottom: 0;}
textarea.ce_form_ipt{max-width: 100%;min-height: 118px;max-height: 150px;}
.quote_t{font-size: 18px;color: #232323;font-weight: 400;    padding-bottom: 8px;}
.quote_btn{margin-top: 30px;}
.write_review_increase_btn{width: 80px;height: 80px;background: none;border: 1px dashed #CCCCCC;margin-top: 0;cursor: pointer;}
.write_review_increase_btn:hover{background: none;border: 1px dashed #ccc;}
.wr_span{width: 20px;background: #dedede;height: 20px;border-radius: 100%;display: inline-block;text-align: center;line-height: 20px;margin-top: 10px;color: #fff;}
.write_review_increase_btn i{display: block;font-size: 13px;color: #999;line-height: 16px;padding:  10px 0px 20px 0px;}
.submit_review_01 input,.submit_review_01 textarea{box-sizing: border-box;max-width: 100%;max-height: 200px}
.write_review_fromonly{width: auto;float: left}
.review_img_show_only{width: 82%;float: left;margin-left: 20px;} 
.write_review_increase_img{height: 82px;}
.write_review_increase_img img{max-width: 100%;display: block;margin: 0 auto;height: inherit;}
.quote_auto{overflow: hidden;}
.ce_form_ipt::-webkit-input-placeholder {color:    #a9a9a9;font-size: 13px;}
.ce_form_ipt:-moz-placeholder {color:    #a9a9a9;font-size: 13px;}
.ce_form_ipt::-moz-placeholder {color:    #a9a9a9;font-size: 13px;}
.ce_form_ipt:-ms-input-placeholder {color:    #a9a9a9;font-size: 13px;}
.ce_form_main_tit{font-weight: 400;}
.swal2-show{width: 532px !important;height: 336px !important;}
.swal2-modal .swal2-title{font-size: 16px;color: #232323;font-weight: 400;margin-bottom: 30px;}
.swal2-icon{margin-bottom: 20px;margin-top: 30px;}
.swal2-modal .swal2-content{font-size: 14px;color: #616265;}
.quote_select_container select{width: 100%;border: none;padding-left: 10px; box-sizing: border-box;font-size: 13px;color: #616265; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat right -471px; border:1px solid #ccc;border-radius:3px;height:36px;}
.error_prompt_one,.error_prompt_two{clear: both;color: #c00000;padding-top: 5px;font-size: 13px;}
.ce_form_privacy{color: #232323;font-weight:400}
.ce_form_privacy:hover{color: #232323;}
.quote_select_container_position{position: relative;}
.ce_banner_tit{padding: 0;line-height: 200px;font-size: 30px !important;color: #fff !important;font-weight: 400 !important;position: relative;z-index: 2;}
.quote_auto .write_review_fromonly{margin-top: 0;}
.quote_auto{margin-bottom: 25px;}
.quote_selectop{clear: both; color: #c00000;font-size: 13px; display:none;}
.ce_form_sub{width:inherit; padding:0 10px; box-sizing:border-box;}
.main_content_page{margin: 0 auto !important;float: initial !important;}
.ce_form{height: initial;}
.shopping_container .write_review_increase_btn i{font-size: 12px;padding: 10px 0 0 0;display: block;color: #999;line-height: 16px;font-style: normal;}
.write_review_increase_img span{margin-top: -2px;}
.icon_on{display: inline-block;vertical-align: middle;font-size: 12px !important;color: #FFFFFF;width: 12px;height: 12px;margin: 0 !important;line-height: 12px;}

	
@media (max-width: 960px){
	.ce_form_main{width: 100%;}
	.quote_auto{margin-bottom: 5px;}
	.ce_content_main{padding-top: 0;}
	.quote_tit{padding-top: 20px;padding-bottom: 5px;}
}
@media (max-width: 480px){
	.quote_container .ce_form_main_con{width: 100%;}
}