.checkout_top_cent {
    width: 1200px;
    margin: 0 auto;
}

.checkout_l_a {
    display: inline-block;
}

.checkout_ri {
    float: right;
}

.checkout_top01 {
    padding-top: 8px;
    padding-bottom: 14px;
}

.checkout_centent, body {
    background: #f7f8fa;
}

.checkout_Subject {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.checkout_Subject:after {
    content: "";
    display: block;
    clear: both;
}

.checkout_left_01 {
    width: 800px;
    float: left;
}

.checkout_top {
    background: #fff;
}

.checkout_top_01_tit {
    font-size: 18px;
    color: #232323;
    font-weight: 600;
    display: inline-block;
    margin-top: -2px;
}

.checkout_border_tit {
    display: inline-block;
    border-right: 1px solid #616265;
    height: 16px;
    margin: 0 4px;
}

.checkout_top_01_a {
    font-size: 14px;
    color: #0070BC;
    font-weight: 400;
}

.checkout_top_01_a:hover {
    color: #0070BC;
    text-decoration: none;
}

.checkout_top_01 {
    background: #FFFFFF;
    padding: 22px 20px 20px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.checkout_dl_01 {
    border-radius: 3px;
    cursor: pointer;
}

.checkout_btm_01 {
    background: #f6f6f6;
    padding: 25px 20px;
    box-sizing: border-box;
    border: 2px solid #CCCCCC;
    border-radius: 3px;
    margin-top: 20px;
}

/*.checkout_btm_01.active{background: #fff;padding: 0 20px;border: none;}*/
.ck_none {
    border: 2px solid #ccc;
    border-radius: 3px; /*margin-top: 20px;*/
}

.ck_none .chec_h2 {
    background: #F6F6F6;
}

.ck_none .area_code.area_code_shipping {
    top: 25px;
}

.ck_none .popup_con {
    padding-bottom: 25px;
}

.ck_p {
    display: inline-block;
}

.ck_p em {
    display: inline-block;
    font-style: normal;
    padding-left: 6px;
    font-size: 16px;
    color: #232323;
}

.radio_ui input {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    cursor: pointer;
	float:left;
	opacity:0;
}

.ck_p i {
    display: inline-block;
    width: 64px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    background: #a3a3a3;
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
}

.ck_a {
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
    color: #0070BC;
    margin-left: 15px;
}

.ck_a:hover {
    color: #0070BC;
    text-decoration: none;
}

.ck_h2 {
    font-size: 14px;
    color: #616265;
    font-weight: 400;
    padding-top: 8px;
    padding-left: 22px;
    box-sizing: border-box;
}

.checkout_top_02 {
    box-sizing: border-box;
}

.checkout_dl_01 dt {
    position: relative;
    cursor: pointer;
}

.ck_icon {
    color: #0070BC;
    float: right;
    font-size: 14px;
}

/*.ck_icon.active{transform: rotate(180deg);}*/
.checkout_dl_01 dd {
    margin-top: 34px; /*display: none;*/
    cursor: pointer;
}

/*.ck_tit01{font-size: 16px;color: #232323;font-weight: 400;    padding-bottom: 18px;}*/
.ck_centent_02 {
    box-sizing: border-box;
}

.processing {
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
}

.check_paypal_icon:hover {
    text-decoration: none;
}

.checkout_padding {
    padding: 0 20px;
    box-sizing: border-box;
}

.checkout_p09 {
    font-size: 14px;
    color: #232323;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 18px;
}

.checkout_p08 {
    font-size: 13px;
    color: #999999;
    padding-top: 9px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.checkout_p08 em {
    color: #616265;
    font-weight: 400;
    font-style: normal;
}

.checkout_Billing {
    font-size: 14px;
    color: #232323;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 22px;
}

.checkout_radio {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.checkout_radio.active {
    background-position: -320px -997px;
}

.checkout_p03 {
    font-size: 14px;
    color: #232323;
    padding-bottom: 15px;
}

.checkout04 {
    font-size: 14px;
    color: #232323;
    font-weight: 400;
    padding-left: 30px;
    padding-bottom: 5px;
}

.checkout_p03, .checkout_p05 {
    font-size: 14px;
    color: #616265;
}

.checkout_p05 {
    padding-left: 30px;
    padding-bottom: 13px;
}

.checkout_radio {
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/live_bg.png) no-repeat -320px -924px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -6px;
    margin-right: 10px;
    cursor: pointer;
}

.checkout_invoice div.track_orders_wenhao .question_text_01 {
    top: -80px !important
}

div.track_orders_wenhao .question_text_01 {
    bottom: auto
}

.aron_carr {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box
}

.ck_tab {
    width: 100%;
}

.ck_tab tr td:nth-child(odd) {
    font-size: 14px;
    color: #999999;
}

.ck_tab tr td:nth-child(even) {
    font-size: 14px;
    color: #616265;
}

.ck_tit03 {
    font-size: 13px;
    color: #8A6D3B;
    font-weight: 400;
    line-height: 20px;
    padding-top: 25px;
}

.ck_Information {
    font-size: 14px;
    color: #232323;
    font-weight: 400;
    padding-bottom: 4px;
    padding-top: 10px;
}

.checkout_padding {
    display: none;
}

/*.ck_show{padding: 0 20px; box-sizing: border-box;font-size: 14px;color: #616265;padding-bottom: 25px;}*/
.chec_h2 {
    font-size: 16px;
    color: #232323;
    font-weight: 400;
    padding: 15px 20px 15px 20px;
    transition: all .5s;
	cursor: pointer;
}

/*弹窗样式*/
.ui_fixed_alert {
    position: relative;
    background: #FFFFFF;
    z-index: 100;
    padding-left: 20px;
    box-sizing: border-box;
}

.new_checkout_ti_bg {
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-position: -171px -732px;
    vertical-align: middle;
    margin-top: -6px;
    margin-right: 10px;
    float: left;
    display: inline-block;
}

.email_Delete {
    font-size: 18px;
    float: right;
    margin-right: 11px;
    margin-top: 11px;
    cursor: pointer;
    color: #a1a1a1;
}

.email_delete_img {
    font-size: 18px;
    color: #232323;
    line-height: 34px;
    font-weight: 400;
}

.new_checkout_txt01 {
    width: 90%;
    float: left;
    margin-top: -10px;
}

.email_delete_img:after {
    content: "";
    display: block;
    clear: both;
}

.ck_ul {
    margin-top: 20px;
    display: none;
}

.ck_ul li {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    margin-bottom: 10px;
}

.ck_ul li.active {
    border: 2px solid #ccc;
}

.ck_ul li.active .ck_border_wai {
    border: none;
}

/*.ck_ul li.active .ck_show{display: none;}*/
.ck_ul li.active .chec_h2 {
    background: #F6F6F6;
}

.ck_ul li.active .checkout_padding {
    display: block;
}

.checkout04 a {
    color: #0070BC;
    text-decoration: none;
    margin-left: 15px;
}

.ck_wrapp01 {
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-top: 20px;
    display: none;
}

.ck_wrapp01 .chec_h2 {
    background: #F6F6F6;
}

/*.ck_Cost{padding: 20px 20px;background: #f6f6f6;font-size: 18px;color: #232323;font-weight: 400;}*/
.ck_Free {
    line-height: 40px;
    background: #fcf8e3;
    padding: 0 20px;
    font-size: 13px;
    color: #8a6d3b;
}

.ck_Free .icon {
    color: #8a6d3b;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 10px;
}

.ck_Free .iconffont_two {
    font-size: 20px;
}

.checkout_ul_02 li {
    line-height: 34px;
}

.ck_more01 {
    margin: 0 20px;
    box-sizing: border-box;
    margin-top: 16px;
    padding-bottom: 25px;
}

.ck_more01 .icon, .ck_more01 a {
    color: #0070BC;
    display: inline-block;
    text-decoration: none;
}

.ck_more01 a {
    font-size: 14px;
}

.ck_more01 .icon {
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 7px;
    margin-left: -2px;
    transition: all .3s;
}

.ck_more01 .icon.active {
    transform: rotate(180deg);
}

.invoice {
    padding: 0 20px;
    padding-bottom: 25px;
}

.checkout_label label {
    font-size: 16px;
    color: #232323;
    font-weight: 400;
}

.checkout_label {
    padding-bottom: 5px;
    margin-top: 10px;
}

.checkout_invoice_input::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
}

.checkout_invoice_input:-moz-placeholder {
    color: #999;
    font-size: 14px;
}

.checkout_invoice_input::-moz-placeholder {
    color: #999;
    font-size: 14px;
}

.checkout_invoice_input:-ms-input-placeholder {
    color: #999;
    font-size: 14px;
}

.public_textarea .textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 76px;
    min-height: 76px;
}

.public_textarea .textarea::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
}

.public_textarea .textarea:-moz-placeholder {
    color: #999;
    font-size: 14px;
}

.public_textarea .textarea::-moz-placeholder {
    color: #999;
    font-size: 14px;
}

.public_textarea .textarea:-ms-input-placeholder {
    color: #999;
    font-size: 14px;
}

.shipping_list {
    padding: 0 20px;
    box-sizing: border-box;
}

.ck_dl_03 {
    overflow: hidden;
    padding-top: 16px;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 10px;
}

.ck_dl_03 dt {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    float: left;
}

.ck_dl_03 dt img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: inherit;
}

.ck_Warehouse_one {
    padding-top: 15px;
    font-size: 13px;
    color: #616265;
    padding-bottom: 8px;
}

.ck_dl_03 dd {
    float: left;
    width: 85%;
}

.ck_dl_03 dd h2 {
    font-size: 14px;
    color: #707473;
    font-weight: 400;
    display: block;
    padding-bottom: 5px;
}

.ck_dl_03 dd span {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    display: block;
    padding-bottom: 5px;
}

.ck_dl_03 dd em {
    font-size: 14px;
    color: #232323;
    font-weight: 400;
    font-style: normal;
    display: block;
}

/*.checkout_more_007{text-align: center;padding-bottom: 15px;}
.checkout_more_007 a{color: #232323;font-weight: 400;font-size: 14px;display: inline-block;text-decoration: none;}
.checkout_more_007 .icon{background: #FFFFFF;vertical-align: middle;margin-top: -2px;display: inline-block;transition: all .3s;}
.checkout_more_007 .icon.active{transform: rotate(180deg);}*/
/*.ck_border{border-bottom: none;}*/
.ck_carr {
    border-bottom: 1px solid #DEDEDE;
}

.checkout_right_01 {
    float: right;
    background: #fff;
    width: 390px;
}

.new17_checkout_infor_tit h3 {
    display: block;
}

.new17_checkout_infor_tit h3 a {
    font-size: 14px;
    color: #0070BC;
    font-style: normal;
    font-weight: 400;
    float: right;
}

.new17_checkout_infor_tit {
    padding-top: 2px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 22px;
}

.new17_checkout_summary {
    padding-top: 6px;
}

.new17_checkout_summary dl {
    padding: 10px 0 0 0;
}

.new17_checkout_summary {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.checkout_ti {
    font-size: 13px;
    color: #339933;
    padding-top: 15px;
    padding-bottom: 2px;
}

.checkout_ti .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    margin-top: -2px;
    font-weight: bold;
}

.new17_checkout_total {
    margin-top: 16px;
    padding-top: 16px;
}

.new17_checkout_taxes a {
    font-size: 13px;
}

.shopping_cart_methodsicon ul {
    float: left;
}

.security_icon {
    margin-left: 0;
    margin-right: 15px;
}

.ck_ti_02 {
    font-size: 13px;
    color: #999999;
    font-weight: 400;
    padding-top: 19px;
    display: block;
}

.ck_ti_02 a {
    color: #0070BC;
}

.new17_checkout_btn {
    margin-top: 18px;
}

.carr_img {
    border-top: none;
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 16px;
}

.checkout_ul_02 .ck_none {
    display: none;
}

.checkout_label label.label_kuang_h .label_kuang.active {
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/live_bg.png) no-repeat -0 -972px;
}

.checkout_invoice {
    display: inherit;
}

.checkout_invoice div.track_orders_wenhao .question_text_01 .arrow {
    top: 84px !important;
}

.checkout_none_06 {
    display: none;
}

.ck_dl_03:last-child {
    border-bottom: none;
}

.ck_border_wai {
    border: 1px solid #fff;
}

.ck_table {
    overflow: hidden;
}

.ck_tab_left, .ck_tab_right {
    width: 50%;
    float: left;
}

.cK_009 {
    width: 88%;
    display: inline-block;
    vertical-align: middle;
}

.cK_009 em {
    font-style: normal;
}

.checkout_ul_02 li i {
    font-size: 14px;
    color: #232323;
}

.checkout_ul_02 li.active span, .checkout_ul_02 li span.price {
    font-size: 14px;
}

.checkout_ul_02 .radio_btn {
    margin-top: 10px;
}

/*.checkout_ul_02,.invoice{padding-left: 0;padding-right: 0;}*/
.ck_more01 {
    margin: 10px 0 16px 0;
}

.checkout_label label.label_kuang_h .label_kuang {
    margin-left: -4px;
}

.box_wrapp {
    background: #f7f8fa;
}

.box_content {
    width: 1200px;
    margin: 0 auto;
}

.box_content:after {
    content: "";
    display: block;
    clear: both;
}

.new17_checkout_btn .button_02 {
    background: #c00000;
    color: #FFFFFF;
}

.new17_checkout_btn .button_02:hover {
    background: #c00000;
}

.button_02 .security_icon {
    background-position: -67px -46px;
}

.new17_checkout_btn .button_ck {
    background: #bebebe;
    color: #FFFFFF;
    border: 1px solid #bebebe;
}

.new17_checkout_btn .button_ck:hover {
    background: #bebebe;
    color: #FFFFFF;
    border: 1px solid #bebebe;
    cursor: default;
}

.new17_checkout_summary dl dt, .new17_checkout_summary dl dd {
    color: #999999;
    font-size: 14px;
}

.ck_ul li:last-child {
    margin-bottom: 0;
}

.checkout_invoice .track_orders_wenhao {
    margin-top: 0;
}

.ck_none .login_country {
    height: 38px;
}

.checkout_p04 {
    display: inline-block;
    float: left;
    vertical-align: middle;
    padding-bottom: 0;
    padding-top: 32px;
}

.ck_009_right {
    font-size: 14px;
    color: #0070BC;
    float: right;
}

.ck_009_right:hover {
    color: #0070BC;
}

.checkout_bottom_02 .checkout_p03 {
    position: relative;
}

.checkout_bottom_02 .checkout_radio {
    position: absolute;
    left: 0;
    top: 4px;
}

.cK_009 {
    width: 100%;
    padding-left: 30px;
    box-sizing: border-box;
}

.checkout_ul_02 .ck_none {
    border: none;
}

.ck_show_tit {
    font-size: 14px;
    color: #232323;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 10px;
}

.ck_show_text span {
    font-size: 14px;
    color: #232323;
    font-weight: 400;
    display: inline-block;
    float: left;
    line-height: 20px;
    padding-bottom: 5px;
    margin-right: 20px;
}

.ck_show_text p {
    font-size: 14px;
    color: #616265;
    line-height: 20px;
    float: left;
    padding-bottom: 20px;
}

.ck_show_text:after {
    content: "";
    display: block;
    clear: both;
}

.ck_show_wrapp {
    box-sizing: border-box;
    border: 2px solid #ccc;
    margin-top: 20px;
}

.ck_show_wrapp .chec_h2 {
    background: #F6F6F6;
}

.check_wap {
    padding: 0 20px;
    box-sizing: border-box;
}

.checkout_Add_New_Address .icon {
    color: #0070BC;
    font-size: 15px;
    font-weight: 600;
}

.checkout_Add_New_Address {
    padding: 5px 0 15px 0;
    border-bottom: 1px solid #e5e5e5;
}

.new17check_s_address_use {
    padding: 12px 0px 20px 0;
    border-top: 1px solid #e5e5e5;
    background: none;
}

.Ck_show {
    margin-top: 20px;
}

.checkout_ul_01 {
    border: none;
}

.checkout_ul_01 li {
    border: 1px solid #dedede;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 1px
}

.checkout_ul_01 li label {
    display: block;
    padding: 20px;
    border: 1px solid #fff;
	cursor:pointer;
}

.checkout_ul_01 li.active {
    background: #f6f6f6;
    border: 2px solid #cccccc;
}

.checkout_ul_01 li.active label {
    border: none;
}

.CK_btn {
    margin-top: 12px;
}

/*.Ck_show,.ck_none{display: none;}*/

.checkout_btm_01 {
    display: none;
}

.checkout_breadcrumb ul li:last-child {
    margin-right: 0;
}

.checkout_top01 {
    padding-right: 20px;
    box-sizing: border-box;
}

.new17address_brief_s {
    padding-bottom: 4px;
}

.login_footer {
    padding: 15px 0 28px 0;
}

/*上线删除*/
.new17_checkout_btn .button_ck {
    margin-top: 20px;
}

/*上线删除*/

@media (max-width: 1220px) {
    .box_content {
        width: 960px;
    }

    .checkout_left_01 {
        width: 680px;
    }

    .checkout_right_01 {
        width: 260px;
    }

    .checkout_Subject, .checkout_top_cent {
        width: 100%;
    }

    .ck_dl_03 dd {
        width: 80%;
    }

    .ck_show_text span {
        padding-bottom: 6px;
    }
}

@media (max-width: 960px) {
    .checkout_left_01, .checkout_right_01, .box_content {
        width: 100%;
    }

    .checkout_top_01 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ck_icon {
        top: 0;
    }

    .checkout_btm_01 {
        padding: 25px 10px;
    }

    .checkout_padding {
        padding: 0 10px;
    }

    .chec_h2 {
        padding: 20px 10px 20px 10px;
    }

    .ck_tab_left, .ck_tab_right {
        width: 100%;
    }

    .ck_tab tr td:nth-child(even) {
        text-align: right;
    }

    .checkout_ul_02 {
        padding: 0;
    }

    .checkout_top_01 .invoice {
        padding: 0 10px;
    }

    .ck_Cost, .ck_Free, .shipping_list, .new17_checkout_infor {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ck_more01 {
        margin-left: 0;
        margin-right: 0;
    }

    .checkout_invoice_input {
        width: 100%;
        box-sizing: border-box;
    }

    .prompt {
        padding-bottom: 10px;
    }

    .checkout_right_01 {
        padding: 0 10px;
        box-sizing: border-box;
    }

    .checkout_ri {
        width: 100%;
    }

    .checkout_top01 {
        text-align: center;
    }

    .ck_p em {
        padding-bottom: 10px;
    }

    /*.ck_show{padding-left: 10px;padding-right: 10px;}*/
    .checkout_invoice .track_orders_wenhao {
        display: block;
    }

    .track_orders_wenhao .question_text_01 {
        left: -240px;
    }

    .track_orders_wenhao .question_text_01.leftjt .arrow {
        left: 243px;
    }

    .checkout_Subject {
        padding-top: 20px;
    }

    .checkout_ri {
        float: inherit;
        margin-bottom: 10px;
    }

    .checkout_btm_01.active {
        padding: 0 10px;
    }

    /*.ck_none .popup_con{overflow-y: inherit;max-height: inherit}*/
}

@media (max-width: 600px) {
    .ck_dl_03 dd {
        width: 75%;
    }
}

@media (max-width: 500px) {
    .ck_dl_03 dd {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .ck_p i {
        margin-left: 22px;
    }

    .ck_Free {
        line-height: 20px;
        padding: 10px;
    }

    .ck_show_text {
        padding-bottom: 10px;
    }

    .ck_show_text span {
        padding-bottom: 6px;
    }

    .ck_show_text p {
        padding-bottom: 8px;
    }

    .check_wap {
        padding: 0 10px;
    }

    .prompt {
        padding-bottom: 17px;
    }

    .new17_checkout_infor_tit {
        padding-top: 12px;
        padding-bottom: 18px;
    }

    .checkout_top01 {
        padding-right: 0;
    }
}

@media (max-width: 440px) {
    .ck_dl_03 dd {
        width: 66%;
    }

    .checkout_ul_02 li i.title {
        width: 62%;
    }

    .checkout_ul_02 li span.price {
        display: inline-block;
    }

}

.new_18address_con {
    width: 100%;
    position: relative;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.new_18address_centent {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 36px;
    cursor: pointer;
}

.new_18address_ul_con {
    position: absolute;
    left: -1px;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.new_18address_ul {
    background: #fff;
}

.new_18address_ul li {
    line-height: 30px;
    font-size: 13px;
    color: #232323;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s;
}

.new_18address_ul li:hover {
    background: #f4f4f4;
}

.search_box input {
    line-height: 30px !important;
    height: 100% !important;
    width: 94% !important;
    padding-left: 0 !important;
}

.search_box {
    height: 30px;
    margin-bottom: 10px;
}

.entry_telephone {
    padding-left: 49px;
    box-sizing: border-box;
}

.checkout_Error_correction {
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    background: #ffefef;
    color: #c00000;
    margin-bottom: 10px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
}
.checkout_err .error_bg{background-position: -87px -738px;}
.error_bg {
    margin-right: 4px;
    background-position: -87px -738px;
}
.checkout_Error_correction .error_bg{background-position:-136px -732px;width: 26px;height: 26px;}
.checkout_err {
    color: #c00000;
    padding-left: 12px;
    font-weight: 400;
    font-size: 14px
}

.part_step_three .ck_Free {
    margin-bottom: 16px;
}

.checkout_invoice div.track_orders_wenhao .question_text_01 .arrow {
    top: 80px !important;
}

.ck_more01 {
    padding: 0 20px;
}

.ck_more01.active .icon {
    transform: rotate(180deg);
}

.area_code.area_code_shipping {
    height: 34px;
}

.new17_checkout_total {
    margin-top: 0;
}

.public_textarea .question_text_01 {
    bottom: auto;
    top: -84px;
}

.checkout_invoice div.track_orders_wenhao .question_text_01 .arrow {
    top: 60px !important
}

.checkout_ti {
    padding-bottom: 17px;
    border-top: 1px solid #e5e5e5;
}

.new17_checkout_summary {
    border: none;
}

.shipping_list {
    padding: 0
}

.ck_dl_03 {
    padding: 16px 20px 10px 20px
}

.google_loader {
    position: absolute;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    top: 50%;
    z-index: 10;
    margin-top: -40px;
}

.google_loader:before {
    content: '';
    display: block;
    padding-top: 100%
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

@-webkit-keyframes color {
    0%, 100% {
        stroke: #0070BC
    }
    40% {
        stroke: #0070BC
    }
    66% {
        stroke: #0070BC
    }
    80%, 90% {
        stroke: #0070BC
    }
}

@keyframes color {
    0%, 100% {
        stroke: #0070BC
    }
    40% {
        stroke: #0070BC
    }
    66% {
        stroke: #0070BC
    }
    80%, 90% {
        stroke: #0070BC
    }
}

.processing {
    background: none;
}

.error_prompt .error {
    color: #c00000;
}

.public_position {
    position: relative;
}

.public_bg_wap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0
}

.public_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;
    background: #fff;
    opacity: .6;
}

.google_loader {
    position: absolute;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    top: 50%;
    z-index: 20;
    margin-top: -40px;
}

.loading_button {
    background: #bebebe !important;
    border: 1px solid #bebebe !important;
    color: #fff;
    cursor: not-allowed;
}

.new_checkout_Load {
    background: hsla(0, 0%, 100%, .75);
    width: 55px;
    height: 55px;
    animation: a 1.5s linear 0s infinite;
}

@keyframes a {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.bg_color {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
    opacity: .5;
}

.spinWrap {
    width: 100%;
}

.loader {
    margin: 0 0 0 -55px;
    background-color: transparent;
    -webkit-animation: g .7s infinite linear;
    -o-animation: g .7s infinite linear;
    animation: g .7s infinite linear;
    border-left: 3px solid #e5e5e5;
    border-right: 3px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
    border-top: 3px solid #2380be;
    border-radius: 100%;
    z-index: 10;
}

.loadingMessage {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-top: 125px;
    text-align: center;
    z-index: 100;
    outline: 0
}

.loadingMessage {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-top: 125px;
    text-align: center;
    z-index: 100;
    outline: 0
}

.public_bg_wap .loader {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    opacity: 1;
    filter: alpha(opacity=100);
}

#fs_loading .loader {
    height: 80px;
    width: 80px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.new17check_s_address_use input.button_02 {
    height: 38px;
    font-weight: 600;
    font-size: 14px;
}

@keyframes g {
    0% {
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.order_payment_ccc.active {
    position: relative;
    border: none;
    background: #bebebe !important
}

.new_chec_bg {
    position: absolute;
    z-index: 1;
    opacity: .4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
}

.showbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%
}

.loader_order {
    position: absolute;
    width: 18px;
    background: none;
    z-index: 5;
    top: 10px;
    left: 120px
}

.loader_order:before {
    content: '';
    display: block;
    padding-top: 100%
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

@-webkit-keyframes color {
    0%, 100% {
        stroke: #fff
    }
    40% {
        stroke: #fff
    }
    66% {
        stroke: #fff
    }
    80%, 90% {
        stroke: #fff
    }
}

@keyframes color {
    0%, 100% {
        stroke: #fff
    }
    40% {
        stroke: #fff
    }
    66% {
        stroke: #fff
    }
    80%, 90% {
        stroke: #fff
    }
}

.ui-widget-overlay {
    background: rgb(0, 0, 0);
    opacity: .3
}

.layui-layer-title {
    line-height: 55px !important;
    height: 55px !important;
    font-size: 18px !important;
    color: #232323 !important;
    font-weight: 400 !important;
    background: none !important;
}

.layui-layer-content .layui_new_div{
	padding: 18px 40px 35px 40px !important;
    box-sizing: border-box;
}


.layui-layer {
    box-shadow: none !important;
}

.error_text {
    font-size: 18px;
    color: #c00000
}

.question_bg {
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -2px -4px;
}

.error_message_show .ui_fixed_alert {
    display: block;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
	padding: 50px 40px 30px 40px;
}

.error_message_show .email_Delete {
    position: absolute;
    right: 11px;
    top: 10px;
    margin: 0;
}
.checkout_invoice .prompt .question_text_01 .arrow{left:154px;}
.checkout_ul_02 .track_orders_wenhao .question_text_01{top: -116px !important;}
.checkout_ul_02 .track_orders_wenhao .question_text_01 .arrow{left:156px}
.email_Delete_popup{font-size: 26px;color: #8d8d8f;line-height: 34px;font-weight: 400;position: absolute;right: 18px;top: 10px;cursor: pointer;}
.email_Delete_popup:hover{color:#232323}
.radio_ui{display: inline-block;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/Check_out_icon.png) no-repeat;background-position: -2px -31px;width: 16px;height: 14px;vertical-align: middle;margin-top: 2px;float:left}
.checkout_ul_01 li.active .radio_ui,.checkout_btm_01 li.active .radio_ui{background-position: -2px -3px;}
.ck_show_wrapp .chec_h2{cursor:default}
.popup_guest_ipt_email .track_orders_wenhao .question_text_01{left: -100px;}
.popup_guest_ipt_email .track_orders_wenhao .question_text_01 .arrow{left:105px}
.checkout_wap_02 .icon{display:none;}
.checkout_wap_02 .cutome_select_val{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat;background-position: 507px -472px;cursor:pointer}
@media (max-width: 480px) {
	.ck_a{margin-left:23px}
	.checkout_ul_02 li,.ck_more01,.aron_carr{padding-left:10px;padding-right:10px;box-sizing:border-box;}
	.checkout_invoice .prompt .question_text_01 .arrow{left: 203px;}
	.checkout_ul_01 li label{padding:20px 10px;}
	.ck_p em{width:90%;float: left;padding-left: 9px;}
	.radio_ui input{margin-top: 4px;}
}
@media (max-width: 370px) {
	.checkout_ul_01 li label
}
.error {
    color: #c00000;
}