.box,.content{width: 100%;}
.payThods-banner{height: 200px;text-align: center;display: table;width: 100%;}
.payThods-banner-bg{position: absolute;left: 0;width: 100%;z-index: -1;height: 200px;background-size: cover;background-repeat: no-repeat;background-position-x: center;
    background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/payment_met/payThods-banner-bg.jpg);}
.payThods-bannerMain{display: table-cell;vertical-align: middle;}
.payThods-bannerMain h2{font-size: 40px;line-height: 48px;color: #fff;font-weight: 400;margin-bottom: 18px;margin-top: -5px;}
.payThods-bannerMain p{font-size: 16px;color: #fff;line-height: 22px;}
.payThods-alone-main{width: 1200px;margin: auto;}
.payThods-alone-cont01{padding: 0 0 30px;}
.payThods-alone-tit{text-align: center;font-size: 26px;line-height: 34px;color: #232323;padding: 41px 0 21px;}
.payThods-alone-list{display: table;width: 1220px;margin: 0 -10px 20px;}
.payThods-alone-list>li{display: table-cell;width: calc(100% / 3);background: #F7F7F7;border-right: 10px solid #fff;border-left: 10px solid #fff;padding: 35px 40px;box-sizing: border-box;}
.payThods-imgBox{height: 22px;position: relative;display: flex;align-items: center;}
.payThods-imgBox>div{position: absolute;top: 0;left: 0;}
.payThods-imgBox>span{font-size: 16px;color: #232323;font-weight: 600;display: inline-block;padding-left: 34px;}
.payThods-list-txt{font-size: 14px;color: #616265;padding: 15px 0 20px;}
.payThods-list-txt01 {font-size: 14px;}
.payThods-list-txt01 a{color: #0070bc;}
.payThods-list-txt02{font-size: 14px;color: #0070bc;}
.payThods-list-txt02 a{color: #0070bc;}
.payThods-list-txt02 .icon{font-size: 13px;margin-left: 2px;}
.payThods-alone-cont02{background: #F7F7F7;padding: 0 0 60px;}
.payThods-alone-taBox table{width: 100%;font-size: 13px;line-height: 20px;border-spacing:0;text-align: center;}
.payThods-alone-taBox td{border-right: 1px solid #E5E5E5;padding: 13px 18px;}
.payThods-alone-taBox td:first-child{text-align: left;}
.payThods-alone-taBox td:last-child{border-right: 0;}
.payThods-alone-taBox thead td{width: calc(100% / 7);background: #012D6B;color: #fff;height: 66px;font-weight: 400;box-sizing: border-box;}
.payThods-alone-taBox tbody td{background: #fff;border-bottom: 1px solid #E5E5E5;}
.payThods-alone-taBox tbody tr:last-child td{border-bottom: 0;}
.payThods-alone-taBox table.e-check-table thead td{width: calc(100% / 8);}
/*弹窗*/
.payThods-alone-popup{position: fixed;width: 100%;height: 100%;z-index: 9999;top: 0;left: 0;text-align: center;}
.payThods-alone-popup:before{content:"";height:100%;display:inline-block;vertical-align:middle;box-sizing:border-box}
.payThods-alone-popupBg {position: fixed;left: 0;top: 0;z-index: -1;width: 100%;height: 100%;background-color: #000;opacity: .3;}
.payThods-alone-680{width: 680px;display: inline-block;text-align: left;vertical-align: middle;background: #fff;border-radius: 2px;}
.payThods-alone-popupTit{font-size: 16px;color: #232323;line-height: 26px;padding: 15px 20px;position: relative;border-bottom: 1px solid #eee;}
.payThods-alone-popupTit>span{display: none;}
.payThods-alone-popupTit>span.choosez{display: inline-block;}
.payThods-alaose{font-size: 18px;color: #787777;transition: all .3s;cursor: pointer;position: absolute;right: 18px;top: 18px;display: inline-block;width: 18px;height: 18px;line-height: 18px;}
.payThods-popup-content{padding: 10px 40px 35px 40px;}
.payThods-popup-txt{font-size: 13px;color: #616265;line-height: 22px;margin-top: 13px;}
.payThods-popup-txt01{font-size: 16px;color: #232323;line-height: 24px;padding: 12px 0 18px;}
.payThods-popup-txt02{font-size: 13px;color: #616265;line-height: 22px;padding-top: 11px;}
.payThods-popup-txt03{font-size: 14px;color: #232323;line-height: 24px;padding: 21px 0 7px;font-weight: 600;}
.payThods-popup-txt04{font-size: 13px;color: #616265;line-height: 22px;padding-top: 3px;}
.payThods-popup-txt05{font-size: 13px;color: #616265;line-height: 22px;}
.payThods-popup-content table{width: 100%;}
.payThods-popup-content table td b{font-weight: 400}
.payThods-popup-content table th, .payThods-popup-content table td{line-height: 22px;font-size: 13px;color: #232323;}
.payThods-popup-content table th{width: 29%;font-weight: 400;color: #616265;}
.payThods-popup-content .payThods-txtBox{display: none;}
.payThods-popup-content .payThods-txtBox.choosez{display: block;}
.payThods-popup-txtList{color: #616265;font-size: 13px;line-height: 22px;margin-top: 11px;}
.payThods-popup-txtList li i{display: inline-block;width: 4px;height: 4px;background: #616265;border-radius: 50%;float: left;margin-top: 9px;}
.payThods-popup-txtList li div{padding-left: 14px;}
@media(max-width:1220px){
    .payThods-alone-main{width: 960px;}
    .payThods-alone-list{width: 980px;}
    .payThods-alone-list>li{padding: 20px;}
}
@media(max-width:960px){
    .payThods-banner,.payThods-banner-bg{height: 540px;}
    .payThods-banner-bg{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/payment_met/payThods-banner-bg-m.jpg);}
    .payThods-alone-main{width: 100%;padding: 0 15px;box-sizing: border-box;}
    .payThods-alone-list{width: calc(100% + 20px)}
    .payThods-alone-taBox{overflow: auto;}
    .payThods-alone-taBox td:first-child{position: sticky;left: 0;z-index: 20;padding: 13px 18px;}
    .payThods-alone-taBox td{padding: 13px 10px;}
}
@media (max-width: 700px){
    .payThods-alone-680{position: absolute;width: 100%;height: 100%;left: 0;top: 0;display: block;}
}
@media (max-width: 640px){
    .payThods-popup-content table th{width: 50%;}
}
@media(max-width:480px){
    .payThods-banner, .payThods-banner-bg{height: 220px;}
    .payThods-bannerMain h2{font-size: 26px;margin-bottom: 0;}
    .payThods-bannerMain p{display: none;}
    .payThods-alone-tit{font-size: 20px;line-height: 30px;padding: 35px 0 20px;}
    .payThods-alone-cont02{padding: 0 0 40px;}
    .payThods-alone-list{width: 100%;display: block;margin: 0;}
    .payThods-alone-list>li{width: 100%;display: block;border: 0;margin-bottom: 15px;padding: 35px 40px;min-height: 210px;box-sizing: border-box;}
    .payThods-alone-taBox thead td>div{width: 100px;}
    .payThods-alone-taBox thead td:first-child>div{width: 113px;}
    .payThods-alone-taBox td{box-sizing: border-box;}
}