body { margin:0 auto; padding:0; font-size:13px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-style:normal; font-weight:400; list-style: none; }
.box { width: 1440px; padding: 0; margin: 0 auto; }
.content { padding: 0; }
img { display: block; }
h1, h2, h3, p, ul, li, dl, dt, dd, input, select, form, div { margin: 0; padding: 0; list-style: none; }
.content { padding: 0; }
a:hover { text-decoration: none; }
/*样式开始*/
.box { box-sizing: border-box; }
.Bua_banner { height: 320px; text-align: center; }
.Bua_content { margin: 0 140px; }
.Bua_banner_bg { position: absolute; left: 0; width: 100%; height: 320px; z-index: -1; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/partner/Business_account_banner.jpg) no-repeat; }
.Bua_banner_tit { font-size: 40px; color: #fff; text-align: center; padding-top:80px; margin-bottom: 20px; font-weight:400; line-height: 48px; }
.Bua_banner_txt { font-size: 16px; color: #fff; font-weight: 400; text-align: center; line-height: 20px; }
/*.Bua__business{
	padding-bottom: 85px;
}*/
.Bua_business_tit { font-size: 16px; line-height: 26px; color: #232323; font-weight: 400; text-align: center; padding-top: 20px; margin-bottom: 15px; }
.Bua_business_txt { font-size: 14px; color: #616265; text-align: center;  padding-bottom: 15px;padding-right:30px; padding-left: 30px;line-height: 24px;}
a.Bua_banner_a { display: inline-block; text-decoration: none; padding:0 15px; height: 40px; line-height: 40px; border: 1px solid #FFFFFF; border-radius: 3px; color: #fff; margin-top: 20px; font-size: 14px; font-weight:400;  transition: all .4s;}
a.Bua_banner_a:hover { color: #0070BC; background-color: #fff;}
.Bua_tit { font-size: 26px; color: #232323; font-weight:400; text-align: center; padding-top: 42px; padding-bottom:22px; line-height: 34px; }
.Bua_container:after { content:""; display:block; clear:both; }
.Bua_container { margin-bottom: 30px; }
.Bua_container_dl { width: 50%; float: left; }
.Bua_container_dl dt { width: 66px; height: 72px; margin: 0 auto; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/partner/Business_account_icon1.png) no-repeat; position: relative; }
.Bua_container_after_dl_two dt { background-position: -221px 0; }
.Bua_container_after_dl_three dt { background-position: -437px 0; }
.Bua_container_after_dl_four dt { background-position: -658px 0; }
.Bua_dashed { width: 112px; position: absolute; right: -204px; top: 35px; }
.Bua_dashed i { width: 6px; height: 6px; border-radius: 50%; float: left; background: #DEDEDE; margin-right: 4px; }
.Bua_container_left { width: 50%; float: left; padding-top: 50px; }
.Bua_container_right { float: right; width: 50%; }
.Bua_container_right img { display: block; margin: 0 auto; max-width: 100%; height: inherit; }
.Bua_container_left_dl { width: 50%; float: left; margin-bottom: 30px; }
.Bua_container_left_dl dt { width:40px; height: 40px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/partner/Business_account_icon_2.png) no-repeat; background-position: -2px -15px; margin-bottom: 6px; }
.Bua_container_left dl:nth-child(2) dt {
 background-position: -180px -15px;
}
.Bua_container_left dl:nth-child(3) dt {
 background-position: -364px -15px;
}
.Bua_container_left dl:nth-child(4) dt {
 background-position: -538px -15px;
}
.Bua_business_left { text-align: left; padding-left: 0; padding-top: 0; }
.Bua_tit_justy { padding-left:300px; padding-right: 300px; }
.Bua_business_right { padding-right: 100px; }
.Bua_checkout { height: 520px; }
.Bua_bg_two { position: absolute; left: 0; width: 100%; z-index: -1; height: 520px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/partner/Business_account_pic2.jpg) no-repeat; }
.Bua_checkout_right { width: 50%; float: right; }
.Bua_checkout_txt { font-size: 14px; line-height: 24px; color: #232323; padding-bottom: 28px; padding-left: 200px; font-weight: 400; }
a.Bua_checkout_a { display: inline-block; margin-left: 200px; padding:0 20px; height: 40px; border: 1px solid #4c4948; text-align: center; line-height: 40px; text-decoration: none; color: #232323; font-size: 14px; font-weight:400;  transition: all .4s;
border-radius: 3px;margin-top: 20px; }
a.Bua_checkout_a:hover { background: #4c4948; color: #fff; }
.Bua_tit_top { padding-bottom: 14px; }
.Bua_container_dl_three { width: 33%; }
.Bua_container_dl_three dt { width: 38px; height: 39px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/partner/Business_account_icon_3.png) no-repeat; padding-bottom: 15px; }
.Bua_container_three { height: 710px; margin-bottom: 0; }
.Bua_bg_three { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/partner/Business_account_pic3.jpg) no-repeat; height: 710px; }
.Bua_container_three dl:nth-child(2) dt {
 background-position:  -2px 14px;
}
.Bua_container_three dl:nth-child(3) dt {
 background-position: -219px 14px;
}
.Bua_container_three dl:nth-child(4) dt {
 background-position: -443px 14px;
}
.Bua_container_dl_three_dt { padding-top: 18px; }
.Bua_business_txt_jusy { padding-left: 94px; padding-right: 94px; }
.Bua_Learn { text-align: center; }
.Bua_Learn a { display: inline-block; color: #0070BC; margin-right: 6px; text-decoration: none; font-size: 13px; }
.Bua_Learn a:hover { text-decoration: underline; }
.Bua_Learn .iconfont { color: #0070BC; font-size: 12px; }
.Bua_container img { max-width: 100%; display: block; margin: 0 auto; height: inherit; }
.Bua_container_img { margin-top: 20px; overflow: hidden; }
.Bua_container_after:after { content:""; display:block; clear:both; }
.Bua_container_after { width: 50%; float: left; }
.Bua_checkout_div:after { content:""; display:block; clear:both; }
.Bua_container_content:after { content:""; display:block; clear:both; }
.Bua_container_content { margin-left: 120px; margin-right: 120px; }
.Bua_container_content div { float: left; width: 25%; }
.Bua_container_content div span { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/partner/Business_account_logo01.png) no-repeat; width: 240px; margin: 0 auto; display: block; height: 40px; }
.Bua_container_content div:nth-child(1) span {
 background-position: 100px -4px;
}
.Bua_container_content div:nth-child(2) span {
 background-position: -150px -4px;
}
.Bua_container_content div:nth-child(3) span {
 background-position: -460px -4px;
}
.Bua_container_content div:nth-child(4) span {
 background-position: -704px -4px;
}
.Bua_bottom_dl { width: 50%; float: left; text-align: center; padding-top: 50px; }
.Bua_bottom_dl dt { height: 66px; width: 66px; margin: 0 auto; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/partner/Business_account_icon_4.png) no-repeat; padding-bottom: 25px; }
.Bua_bottom_dl dd h2 { text-align: center; font-weight: 400; }
.Bua_container_bottom { margin-bottom: 0px; padding-bottom: 43px; }
.Bua_container_bottom dl:nth-child(2) dt {
 background-position: -5px -4px;
}
.Bua_container_bottom dl:nth-child(3) dt {
 background-position: -203px -4px;
}
.Bua_bottom_dl .Bua_business_txt { padding-left: 160px; padding-right: 160px; }
.Bua_bottom_dl a { display: inline-block; padding:0 20px; height: 40px; color: #232323;border:1px solid #4c4948; border-radius: 3px; line-height: 40px; text-decoration: none; font-size: 14px; transition: all .3s;}
.Bua_bottom_dl a:hover { color: #fff;background-color: #4c4948 }
.Bua_bg_four { background: #f3fbff; height:340px; }
.Bua_bg_one { background: #eef9ff; height: 687px; }
.Bua_container_after dl:nth-child(3) dt {
 background-position: -221px 0;
}
.Bua_tit_only { padding-bottom: 100px; }
.Bua_checkout_txt_right { padding-right: 140px; padding-bottom: 15px; }
.Bua_bottom_txt { padding-bottom: 25px; }
.Bua_business_txt_top { padding-bottom: 0; }
.Bua_bottom_dl a:hover { background: #4c4948; }

.page_nav { width: 100%; line-height: 56px; background: #fff; position: fixed; height: 56px; top: 0; display: none; z-index: 22; left: 0;/* transition: all 250ms;*/ box-shadow: 0px 1px 5px #ccc; border-bottom: 1px solid #ccc; }
.page_nav_con { width: 1440px; margin: 0 auto; }
.big_title { float: left; }
.big_title a { font-size: 16px; color: #232323; font-weight: 600; text-decoration: none; padding-left: 20px; display: block; width: 200px; }
.big_title a em { background: url(https://img-en.fs.com/images/partner_bg.png) no-repeat 0 0; width: 13px; height: 8px; display: inline-block; margin-left: 10px; }
.big_title:hover a em { background: url(https://img-en.fs.com/images/partner_bg.png) no-repeat 0 -29px; }
.short_title { float: right; }
.short_title a { padding: 0 30px; text-decoration: none; color: #707473; font-size: 14px; border-right: 1px solid #dedede; }
.short_title a.title_selected { color: #232323; font-weight: 600;}
.short_title a:last-child { border-right: none; }
.short_title a:hover { color: #232323; text-decoration:none;}
.big_title .big_title_con { display: none; line-height: 35px; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18); background: #1886cc; -webkit-transition: height 0.5s; position: absolute; z-index: 222; }
.big_title:hover .big_title_con { display: block; }
.big_title_con span a { display: block; text-align: left; padding-left: 20px; font-size: 16px; line-height: 70px; color: #fff; border-bottom: 1px solid #459ed6; }

 @media(max-width:1440px) {
 .box {
 width: 1200px;
}
 .page_nav_con {
 width: 1200px;
}
 .Bua_business_txt_jusy {
 padding-left: 30px;
 padding-right: 30px;
}
 .Bua_tit_justy {
 padding-left: 0;
 padding-right: 0;
}
 .Bua_business_right {
 padding-right: 0;
}
 .Bua_banner_txt br {
 display: none;
}
 .Bua_bg_four {
 height: 360px;
}
 .Bua_checkout_txt_right {
 padding-right: 0;
}
}
@media(max-width:1220px) {
 .short_title {
  display: none;
 }
 .box, .page_nav_con {
 width: 960px;
}
 .Bua_container_content div {
 width: 50%;
 margin-bottom: 20px;
}
 .Bua_container_content div:nth-child(1) span {
 background-position: 81px -4px;
}
 .Bua_bottom_dl .Bua_business_txt {
 padding-left: 0;
 padding-right: 0;
}
 .Bua_business_txt_jusy {
 padding-left: 0;
 padding-right: 0;
}
 .Bua_checkout_txt {
 padding-left: 0;
}
 .Bua_checkout_a {
 margin-left: 0;
}
 .Bua_container_right {
 width: 100%;
}
 .Bua_container_left {
 width: 100%;
}
 .Bua_content {
 margin: 0;
}
 .Bua_dashed {
 display: none;
}
 .Bua_business_tit {
 padding-left: 0;
 padding-right: 0;
}
 .Bua_bg_one {
 height: 1140px;
}
 .Bua_checkout_right {
 width:80%;
}
.Bua_bg_four {
    height: 339px;
}
}
@media(max-width:960px) {
 .box {
 width: 100%;
}
 .page_nav {
 display: none !important;
}
 .content {
 width: auto;
 padding: 0 10px;
}
 .Bua_container_content {
 margin-left: 0;
 margin-right: 0;
}
 .Bua_container_content div:nth-child(1) span {
 background-position: 41px -4px;
}
 .Bua_container_content div:nth-child(2) span {
 background-position: -200px -4px;
}
 .Bua_container_content div:nth-child(3) span {
 background-position: -500px -4px;
}
 .Bua_container_content div:nth-child(4) span {
 background-position: -744px -4px;
}
 .Bua_bottom_dl {
 width: 100%;
}
 .Bua_container_dl_three {
 width: 100%;
}
 .Bua_checkout_right {
 width: 100%;
}
 .Bua_checkout_txt {
 text-align: center;
}
 .Bua_checkout_right {
 text-align: center;
}
 .Bua_checkout_a {
 display: inline-block;
}
 .Bua_container_left_dl dt {
 margin: 0 auto;
}
 .Bua_business_left {
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
}
 .Bua_container_after {
 width: 100%;
}
 .Bua_bg_four {
 height: 643px;
}
}
@media(max-width:480px) {
    div.partner_sam_bg{
        width:100%;
    }
    ul.new_sam_ul {
        width:100%;
        display:block;
        margin:0 auto;
    }
    ul.new_sam_ul li{
        display:inline-block;
        width: 42%;
    }
    .Bua_banner {
         height: 220px;
         overflow: hidden;
        }
.Bua_tit{
    font-size: 20px;line-height: 30px;padding-top: 35px;padding-bottom: 15px;
}
 .Bua_banner_bg {
 height: 220px;
}
.Bua_bg_three{background:none;}
 .Bua_banner_tit {
 font-size: 26px;
 padding-top: 20px;
 line-height: 40px;
 margin-bottom: 5px;
 font-weight:600;
}
 .Bua_banner_txt {
 font-size: 16px;
 line-height: 24px; padding:0 15px;
}
 .Bua_business_tit {
 line-height: 30px;
 font-weight: 400;
 color: #232323;
}
.Bua_container{ padding: 0 15px;}
.Bua_container.Bua_container_bottom {
    padding: 0 15px 30px 15px;
    background: #f3fbff;}
 .Bua_container_dl {
 width: 100%; border-bottom: 1px dotted #e5e5e5; margin-bottom: 30px;
}
 .Bua_container_left_dl {
 width: 100%;
}
.Bua_business_tit{     margin-bottom:5px;}

 .Bua_container_content div:nth-child(1) span {
 background-position: 0px -4px;
}
 .Bua_container_content div:nth-child(2) span {
 background-position: -198px -4px;
}
 .Bua_container_content div:nth-child(3) span {
 background-position: -540px -4px;
}
 .Bua_container_content div:nth-child(4) span {
 background-position: -770px -4px;
}

/* .Bua_bg_three {
 height: 850px;
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/partner/Business_account_m_pic1.jpg) no-repeat;
 background-position: bottom;
 background-size: 100%;
}*/
 .Bua_bg_four {
 height: auto;
}
 .Bua_bg_one {
 height: 1248px;
}
 .Bua_container_left dl:last-child {
 margin-bottom: 0;
}
 .Bua_bg_two {
 height: 560px;
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/partner/Business_account_m_pic2.jpg) no-repeat;
 background-position: bottom;
}
 .Bua_bg_five {
 position: absolute;
 left: 0;
 width: 100%;
 z-index: -1;
 background: #fdfdfd;
 height: 276px;
}
 .Bua_checkout {
 height: 560px;
}
 .Bua_container_three {
 height:  auto;
}
 /*.Bua_bg_three_six {
 position: absolute;
 left: 0;
 width: 100%;
 z-index: -1;
 background: #f2fafd;
 height: 686px;
}*/
 a.Bua_checkout_a {
 margin-left: 0;
}
.Bua_tit_only{padding-bottom:0;}
.Bua_checkout_div{ padding:0 15px;}
}

div.partner_Bua_container_content div {
 float: left;
 width: 16%;
}
.partner_sam_bg{
 width: 1200px;
 margin: 0 auto;
}
ul.new_sam_ul {
 padding: 20px 50px 50px;
}

/* 按钮交互 */
a.Bua_checkout_a.choosez{background: #a6a4a4;border-color: #a6a4a4;}
.Bua_bottom_dl a.choosez{background: #a6a4a4;border-color: #a6a4a4;}