div.alone_banner .payment_banner_bg{
    background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_payment/Payment-Methods_bg.jpg);
}
div.alone_banner .trems_banner_bg{
    background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_payment/Terms-Of-Use_bg.jpg);

}
div.alone_banner .purchase_order_banner_bg{
    background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_payment/Purchase-Order_bg.jpg);

}
div.privacy_policy_banner_bg{
    background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_payment/Privacy-Policy_bg.jpg);

}
.shipping_left{
    position: relative;
}

.payment_color_Normal,.payment_alone_txt{
    color: #616265;
}
h1.payment_color_Normal,h2.payment_color_Normal {
    color: #232323;
    font-weight: 500;
}
h2.payment_color_Normal{
    padding-top: 28px;
    padding-bottom: 26px;
}
.payment_pay_img{
    width: 55px;
    height: 55px;
    margin: 0 auto;
}
div.pay_border{
    margin-bottom: none;
}
em.alone_font_blod{
    font-weight: 400;
}
.terms_of_use_h2{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #232323;
    margin-bottom: 9px;
}
li.policy_left_li {
    font-size: 14px;
    color: #232323;
}
.purchase_order_h3{
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #232323;
    margin-bottom: 13px;
}
div.privacy_policy_x{
    margin-bottom: 15px;
}
div.privacy_policy_x p{
    margin-bottom: 0px;
}
h3.purchaseHelp_right_tit1 {
    font-size: 14px;
    color: #232323;
}
h3.purchaseHelp_right_tit1 .icon{
    color: #232323;
}

.payment_banner_txt{
    padding-top: 50px;
    /*width: 480px;*/
    margin: 0 auto;
}
.payment_banner_bg_h2{
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    margin-bottom: 16px;
    font-weight: 400;
}
.payment_banner_bg_p{
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}
h2.policy_banner_tit{
    margin-bottom: 15px;
}
p.privacy_policy_banner_txt{
    padding: 0px 18%;
    font-size: 16px;
    line-height: 24px;
}
div.privacy_policy_img{
    height: 40px;
}
.terms_of_use_top{
    margin-top: 30px;
}
p.new_h2_bold{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #232323;
}
.purchase_order_btn{
    display: inline-block;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 2px;
    border: solid 1px #4c4948;
    font-size: 14px;
    color: #232323;
    text-decoration: none;
    margin-top: 8px;
    transition: all .3s;
}
.purchase_order_btn .icon{
    color: #232323;
    margin-right: 5px;
}
.purchase_order_btn:hover{
    text-decoration: none;
    background-color: #4c4948;
    color: #fff;
}
.purchase_order_btn:hover .icon{
    color: #fff;
}
div.pay_border{
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.payment_color_Normal img{
    margin: 10px 0 12px;
}
p.return_left{
    padding-bottom: 16px;
}
h1.return_padding_top,h1.return_ly{
    padding-top: 9px;
}
p.policy_update_txt{
    padding-bottom: 8px;
}
div.policy_right h1{
    padding-bottom: 18px;
    padding-top: 15px;
}
div.policy_right .policy_right_cont h2{
    margin-bottom: 13px;
}
.privacy_policy_h1{
    margin-top: 20px;
}
div.policy_right h1.policy_right_tit{
    padding-top: 8px;
}
div.policy_right h1.purchase_right_tit{
    padding-top: 22px;
}
div.return_padding {
    padding-top: 50px;
}
div.privacy_policy_return_wap{
    padding-top: 28px;
}

div.terms_of_return_padding,div.purchase_order_return_padding{
    padding-top: 37px;
}
div.policy_left{
    padding-top:0px;
}
div.return_container{
    padding: 46px 0;
}
div.privacy_policy_left{
    margin-top: 10px;
}
div.purchase_order_policy_left{
    padding-top: 0px;
}
p.terms_of_use_txt{

}
div.alone_banner .new_payment_banner_bg {
    background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/payment_met/Payment-banner.jpg);
}
.policy_left_fix.newsHelpLeft-scroll{position: fixed;top: 36px;}
.policy_left_fix.newsHelpLeft-end{position: absolute;bottom: 50px;}


@media (max-width: 1220px) {
    div.policy_list_box{
        width: 100%;
        box-sizing: border-box;
    }
    p.privacy_policy_banner_txt{
        padding: 0px 10%;
    }
}


@media (max-width: 960px){
    div.box{
        width: 100%;
    }
    .content {
        width: auto;
        padding: 0 15px;
    }
    .content {
        padding: 0 15px;
        box-sizing: border-box;
    }
    p.privacy_policy_banner_txt{
        padding: 0px 12%;
    }
    div.policy_right{
        padding: 0;
    }
    .alone_box_sizing div.policy_right{
        padding: 0 15px;
    }
}
@media(max-width: 480px) {
    div.alone_banner .payment_banner_bg{
        background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_payment/Payment-Methods_bg-m.jpg);
    }
    div.alone_banner .trems_banner_bg{
        background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_payment/Terms-Of-Use_bg-m.jpg);
    }
    div.alone_banner .purchase_order_banner_bg{
        background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_payment/Purchase-Order_bg-m.jpg);
    }
    div.privacy_policy_banner_bg{
        background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/new_payment/Privacy-Policy_bg-m.jpg);
        background-size: cover;
    }

    .payment_banner_bg_h2,h2.policy_banner_tit{
        font-size: 26px;
        line-height: 34px;
        color: #ffffff;
        margin-bottom: 15px;
        font-weight: 400;
    }
    .payment_banner_bg_p{
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
    }
    .payment_banner_txt {
        width: 100%;
        padding: 0 45px;
        padding-top: 50px;
    }
    p.privacy_policy_banner_txt{
        padding: 0 15px;
    }
    h2.payment_color_Normal {
        padding-top: 23px;
        padding-bottom: 16px;
    }
    .payment_alone_txt{
        text-align: center;
    }
    .policy_update_cont {
        padding: 30px 0 0px;
    }
    h3.purchaseHelp_right_tit1 .icon {
        color: #4c4948;
        margin-top: 1px;
    }
    .policy_update_bg{
        height: 440px;
    }
    div.terms_of_return_padding,div.purchase_order_return_padding {
        padding:37px 15px 0 15px;
    }
    div.return_container{
        padding: 30px 15px 26px;
    }
    div.policy_banner_bg{
        width: 100%;
    }
    div.policy_list_box{
        padding-right: 15px;
        padding-left: 15px;
    }
    div.policy_right h1{
        font-size: 20px;
    }
    div.policy_right h1.policy_right_tit {
        padding-top: 8px;
        font-size: 20px;
    }
    div.policy_right_cont {
        margin-top:20px
    }
    div.terms_of_return_padding, div.purchase_order_return_padding {
        padding: 20px 15px 0 15px;
    }
}
.payment_alone_txt{text-align: center}
.conditions-title {
    font-size: 20px;
    color: #232323;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
}
.conditions-title {
    font-size: 20px;
    color: #232323;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
}