.box{
	width: 100% !important;
}
.priceMatchPolicy *{
	box-sizing: border-box;
}
.pmp-banner{
	height: 320px;
	margin-bottom: 10px;
	position: relative;
}
.pmp-banner-bg{
	height: 320px;
	width: 100%;
	position: absolute;
	z-index: -1;
	left: 0;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/Price-Match-banner.jpg) no-repeat center;
}
.pmp-banner-txt{
	text-align: center;
	color: #ffffff;
}
.pmp-banner-txt h3{
	padding: 115px 10px 30px 10px;
	font-size: 40px;
	font-weight: 400;
}
.pmp-banner-txt p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 0 10px;
}
.pmp-content{
	width: 990px;
	margin: 0 auto;
	padding-bottom: 70px;
}
.pmp-content-title{
	font-size: 18px;
	font-weight:400;
	color: #232323;
	line-height: 24px;
	/*font-family: "微软雅黑";*/
	padding: 32px 0 18px;
}
.pmp-content-p{
	color: #707473;
	line-height: 24px;
	font-size: 14px;
	/*margin-bottom: 30px;*/
}
.pmp-content-ul li{
	color: #707473;
	line-height: 24px;
	font-size: 14px;
	padding-left: 16px;
	position: relative;
}
.pmp-content-ul li.pmp-tips{
	color: #999;
	margin-top: 5px;
	padding-left: 0;
}
.pmp-tips em{
	font-size: 16px;
	font-style: normal;
	padding-right: 5px;
}
.pmp-content-ul li:before{
	content: '';
	display: block;
	background: #7a7d7c;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	position: absolute;
	top: 9px;
	left: 0;
}
.pmp-content-ul li.pmp-tips:before{
	content: '';
	background: transparent;
}
.pmp-space{
	height: 10px;
	line-height: 10px;
	clear: both;
}
.pmp-content-p-tip{
	font-size: 14px;
	padding-top: 24px;
	color: #999999;
	line-height: 24px;
}
@media(max-width:1220px){
	.pmp-content{
		width: 960px;
	}
}
@media(max-width:960px){
	.pmp-content{
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.pmp-banner-bg {
	    height: 280px;
	}
	.pmp-banner{
		height: 280px;
	}
	.pmp-banner-txt h3 {
	    padding: 80px 10px 30px 10px;
	    font-size: 28px;
	    font-weight: 400;
	}
	.pmp-banner-txt p {
	    font-size: 14px;
	    line-height: 24px;
	    font-weight: 400;
	    padding: 0 10px;
	}
}
@media(max-width:768px){
	
}
@media(max-width:480px){
	
}