.box,.content{width: 100%;}
.qa_container_boxBg{background: #f7f7f7;}
.qa_container_boxBg .qa_container_box .qa-answer-wrap{padding: 34px 30px 0 30px;}
.qa_container_boxBg .qa_container_box{margin-bottom: 0;padding: 0 0 50px 0;}
.qa_container_boxBg .qa_container_box .qa_bottom_conta{padding-bottom: 20px;}
.qa_container_boxBg .qa_container_box .qa_bottom_conta .search_result_p{padding: 20px 0 0;}
.qa_container_boxBg .qa_container_box .qa_bottom_conta .alone_question_a{margin: 10px 7px 0 0;}
.qa_container_boxBg .qa_container_box .qa_bottom_conta .alone_question_a:hover{color: #232323;}
.qa_container_boxBg .qa_container_box .qa_bottom_conta .alone_question_a.qa_more:hover {color: #0070bc;}
.qa_container_boxBg .qa_container_box .qa_bottom_conta .alone_question_a.pointselect:hover{color: #fff;}
.qa_detail_btnBox{text-align: right;display: flex;justify-content: space-between;padding: 0;position: relative;}
.qa_detail_btnBox button{background: #c00000;color: #fff;padding-left: 30px;padding-right: 30px;margin-top: 15px;margin-bottom: 25px;margin: 0;line-height: 34px;}
.qa_detail_btnBox button:hover{background: #9b0912;border-color: #9b0912;}
.qa-answer-title-img{width: 246px;float: none;}
.qa-answer-img-txt{font-size: 13px;color: #232323;line-height: 24px;width: 100%;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;}
.qa-answer-title-des h3{font-size: 16px;line-height: 26px;padding-bottom: 3px;}
.qa-answer-by-txt{font-size: 14px;color: #999;line-height: 24px;padding: 3px 0 19px;}
.qa-answer-by-txt em{font-style: normal;}
.qa-answer-question-txt{font-size: 13px;color: #616265;line-height: 22px;padding: 0 0 4px;}
.qa-answer-textarea-box{position: relative;}
.qa-answer-textarea-box textarea{height: 110px;border: 1px solid #e5e5e5;width: 100%;padding: 6px 10px;text-indent: 0;font-size: 13px;}
.qa-answer-textarea-box textarea[disabled="disabled"]{border: 1px solid #e5e5e5;background: #f7f7f7;cursor: default;}
.qa-answer-textarea-box .error_prompt{margin-bottom: 0;padding-right: 50px;}
.qa-answer-textarea-box .textarea-limit-numBox{top: 110px;bottom: auto;}
.qa-answer-title-des{width: 100%;float: none;}
.qa-answer-box .qa-answer-title{display: flex;}
.qa_detail_btnBox .qa-answer-aboutTxt{align-self: flex-end;}
.qa-answer-aboutTxt{padding-top: 5px;text-align: left;}
.qa-answer-aboutTxt.aboutTxtM{display: none;}
.qa_container_box .qa_default01{font-size: 14px;line-height: 24px;padding: 23px 0 0;border-top: 0;}
.qa-detail-listLi{border-bottom: 1px solid #e5e5e5;padding: 25px 0 28px;}
.qa-detail-list .qa-detail-listLi:first-child{padding: 10px 0 28px;}
.qa-detail-list .qa-detail-listLi:last-child{border-bottom: 0;}
.qa-detail-questionTit{font-size: 14px;color: #616265;line-height: 24px;}
.qa-detail-questionTit span{color: #999;line-height: 24px;display: inline-block;margin-left: 20px;}
.qa-detail-questionTit span em{font-style: normal;}
.qa-detail-commentOnBox{line-height: 24px;padding: 10px 0 0;}
.qa-detail-commentOnBox{line-height: 24px;}
.qa-detail-commentOnBox em{font-style: normal;color: #999;font-size: 14px;display: inline-block;height: 24px;margin-right: 20px;cursor: pointer;}
.qa-detail-commentOnBox em.choosez{color: #232323;}
.qa-detail-commentOnBox em:hover{color: #232323;}
.qa-detail-commentOnBox .icon{font-size: 20px;float: left;margin-right: 5px;}
.qa-detail-commentOnBox em i{font-style: normal;}
.qa-detail-commentOnBox .qa-detail-moreAnswer .icon{font-size: 14px;font-weight: 600;margin-right: 3px;display: inline-block;transition: all .3s;}
.qa-detail-commentOnBox .qa-detail-moreAnswer.choosez .icon{transform: rotate(180deg);margin-left: -3px;margin-right: 6px;}
.qa-detail-commentOnBox .qa-detail-discuss .icon{margin-top: 2px;}
.qa-detail-commentOnBox .qa-detail-pc .icon{font-size: 22px;}
.qa-detail-commentOnBox .qa-detail-m .icon{font-size: 22px;}
.qa_commentOn_form{display: none;width: 100%;box-sizing: border-box;}
.qa_commentOn_form_main{padding: 0 20px 18px;margin: 14px 0 0;background: #f7f7f7;}
.qa_commentOn_form_main>input{width: 100%;box-sizing: border-box;margin: 20px 0 10px;height: 40px;}
.qa_commentOn_form_main>input[disabled="disabled"]{background: none;cursor: not-allowed;}
.qa_commentOn_form + .qa-detail-child-questionBox .qa-detail-child-txt:first-child{margin-top: 5px;}
.qa_commentOn_btnBox{text-align: right;padding: 0 0 2px 0;}
.qa_commentOn_btn{height: 40px;line-height: 40px;color: #fff;font-size: 14px;background: #c00000;padding: 0 30px;border-radius: 2px;outline: none;border: 0;cursor: pointer;transition: all .3s;}
.qa_commentOn_btn:hover{background: #9b0912;}
.qa_commentOn_moreBox{padding: 6px 0 0 26px;line-height: 24px;}
.qa_commentOn_moreBox a{color: #0070bc;}
.qa-detail-child-questionBox{padding: 0;width: 100%;box-sizing: border-box;    border-top: 1px solid #E5E5E5;margin: 28px 0 0;}
.qa-detail-child-txt{font-size: 14px;color: #616265;line-height: 24px;border-bottom: 1px solid #e5e5e5;padding: 15px 0;}
.qa-detail-child-txt span{color: #999;margin-left: 20px;}
.qa-detail-child-txt span em{font-style: normal;}
.qa-detail-child-questionBox .qa-detail-child-txt:first-child{padding: 17px 0 15px;}
.qa-detail-child-questionBox .qa-detail-child-txt:last-child{border-bottom: 0;padding-bottom: 0;margin-bottom: -5px;}
.qa-detail-child-questionTit{font-size: 14px;color: #4C4948;margin-bottom: -9px;padding: 15px 0 0;}
.qa-detail-m{display: none!important;}
.qa-detail-commentOnBox .qa-detail-allHide{display: none!important;}
.qa-detail-commentOnBox.qa-detail-padM{padding: 0;}
/*列表*/
.qa-detailList-imgBox{display: flex;border-bottom: 1px solid #e5e5e5;align-items: center;padding: 0 0 20px 0;}
.qa-detailList-imgBox>div{width: 225px;text-align: center;}
.qa-detailList-imgBox img{width: 120px;margin: 0 auto;}
.qa-detailList-imgBox p{font-size: 16px;color: #232323;line-height: 26px;}
.qa-detailList-box.qa_container_boxBg .qa_container_box .qa-answer-wrap{padding: 20px 30px 0 30px;}

/* .alone_question_a {display:inline-block;width:auto;padding:0 15px;height:30px;box-sizing:border-box;border-radius:2px;text-align:center;line-height:30px;text-decoration:none;color:#616265;font-size:13px;margin-right:7px;transition:all .3s;margin-bottom:10px;background-color: #f7f7f7}
.alone_question_a:hover {color:#232323;background:#e5e5e5;text-decoration:none;}
.result_classification>p {padding:16px 0px 20px 0px;}
.alone_question_a.pointselect {color:#232323;background:#e5e5e5;text-decoration:none;}
.qa_more,.qa_hide {color: #0070bc;}
.QA_show .header_main_search .aron_barry_clear_input{top: 38%;right: 50px;display: none;width: 18px;}
.result_classification .pointselect{background:#4C4948;color:#fff;} */

.qa-detailList-list{border-bottom: 1px solid #E5E5E5;padding: 23px 0;}
.qa-detailList-listBox .qa-detailList-list:first-child{padding-top: 0;}
.qa-detailList-listBox .qa-detailList-list:last-child{border-bottom: 0;}
.qa-detailList-list dt{margin-bottom: 8px;}
.qa-detailList-dtFlex{display: flex;}
.qa-detailList-list dt span,.qa-detailList-list dd span{font-weight: 600;color: #232323;font-size: 14px;line-height: 24px;float: left;max-width: 26px;min-width: 26px;}
.qa-detailList-list dd span{color: #616265;}
.qa-detailList-list dt p{display: block;width: 98%!important;box-sizing: border-box;font-size: 14px;line-height: 24px;word-wrap: break-word;font-weight: 600;color: #232323;}
.qa-detailList-list dd{position: relative;}
.qa-detailList-list dt .qa_result_filesBox,.qa-detailList-answer .qa_result_filesBox{padding-left: 26px;width: 100%;box-sizing: border-box;}
.qa-detailList-list dt .qa_result_imagesMain{padding: 0 0 12px;}
.qa-detailList-answer .qa_result_imagesMain{padding: 0 0 4px;}
.qa-detailList-list dd p{display: inline-block;width: 97%!important;box-sizing: border-box;font-size: 14px;line-height: 24px;word-wrap: break-word;font-weight: 400;color: #616265;}
.qa-detailList-hiden01{font-weight: 400!important;color: #999!important;font-size: 14px!important;font-style: normal;padding-left: 15px;}
.qa-detailList-hiden01 em{font-style: normal;}
.qa-detailList-answerMore{padding-left: 26px;margin-top: 7px;}
.qa-detailList-answerMore a{font-size: 14px;color: #0070bc;line-height: 24px;}
.qa-detailList-content-boxDem{max-height: 70px;overflow: hidden;position: relative;box-sizing: border-box;}
.qa-detailList-content-childFilter{background: -webkit-gradient(linear,left bottom,left top,from(rgba(255,255,255,1)),color-stop(100%, rgba(255,255,255,.1)));height: 30px;
	width: 100%;bottom: 0;z-index: 1;position: sticky;display: none;}
.qa-detailList-showBtn-box{padding: 5px 0 0 26px;display: none;}
.qa-detailList-showBtn-main{color: #0070BC;font-size: 14px;float: left;cursor: pointer;}
.qa-detailList-showBtn-main>div{float: left;}
.qa-detailList-showBtn-main>.icon{font-size: 14px;margin: 1px 0 0 5px;float: left;display: inline-block;transition: all .3s ease-out;color: #0070bc;}
.qa-detailList-showBtn-main.choosez .icon{transform: rotate(180deg);}
.FS_Newpation_en{padding-bottom: 10px;margin:0;}
.qa-detailList-listBox{padding-top: 10px;}

.qa_detail_btnBox .new_pro_addCart_btn .loader_order{left: 50%;margin-left: -9px;top: 50%;}
.qa_detail_btnBox button.new_pro_addCart_btn.addLoad_animation:hover{background: #eb9898;border: 1px solid rgb(243,193,193);}
/**/
.textarea-limit-numBox{position: absolute;right: 0;color: #999;bottom: -18px;}
.textarea-limit-numBox>em{font-style: normal;}
.textarea-limit-numPo{position: relative;}
/*文件上传*/
.public_position{position:relative}
.file_input_container {padding: 0;margin: 8px 0 0;}
.write_review_from {position: relative;display: inline-block;overflow: hidden;cursor: pointer;height: 16px;line-height: 16px;margin-top:0;}
.file_input_alone input {position: absolute;opacity: 0;right: 0;top: 0;cursor: pointer;}
.review_newImg_show_newOnly {float: left;width: 100%;display: none;}
.write_review_fromonly {float: left;display: block;}
.write_sc {cursor: pointer;}
.wr_newSpan {font-size: 15px;color: #0070BC;}
.write_sc i {font-size: 13px;color: #0070bc;font-style: normal;}
.alone_Bubble {position: relative;display: inline-block;vertical-align: middle;margin-top: -8px;}
.alone_Bubble i {font-size: 14px;color: #9E9E9E;cursor: pointer;width: 14px;display: inline-block;}
.showwr_newImg {border: 1px solid #aeaeae;width: auto;border-radius: 3px;padding: 2px 8px;cursor: pointer;height: auto;text-align: center;display: inline-block;max-height: 100px;margin: 10px 15px 2px 0;position: relative;float: left;}
.files_wrapp {display: inline-block;padding: 4px;font-weight: 400;color: #232323;}
.showwr_newImg .icon {display: inline-block;font-size: 14px;color: #616265;width: 12px;height: 12px;margin: 0;line-height: 12px;}
/*********************************************--文件上传气泡样式---**************************************************/
.bubble-popover-wap{display:inline-block;width:16px;height:16px;line-height:16px}
.bubble-popover{display:inline-block;position:relative}
.bubble-icon{display:inline-block;color:#8d8d8f;cursor:pointer;width:16px;height:16px;color: #0070bc;}
.bubble-newaArrow{border-width:11px;border-color:transparent;border-style:solid;display:block;height:0;position:absolute;width:0;border-top-width:0;border-bottom-color:rgba(0,0,0,.08);background:0 0;transform:rotate(-180deg);bottom:-11px;left:50%;margin-left:-11px}
.bubble-newaArrow:after{border-color:transparent;border-style:solid;display:block;height:0;position:absolute;width:0;border-width:10px;content:"";border-top-width:0;border-bottom-color:#fff;bottom:-11px;left:-10px}
.m-bubble-bg{background:#000;position:absolute;width:100%;height:100%;top:0;left:0;z-index:-6;opacity:0}
.bubble-tit{cursor:pointer;color:#0681d3}
.bubble_newFrame{width:300px;background:#deb887;bottom:26px;left:50%;margin-left:-150px;text-decoration:none;text-align:left;white-space:normal;background-color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 1px 8px 0 rgba(120,102,102,.3);-moz-box-shadow:0 1px 8px 0 rgba(120,102,102,.3);box-shadow:0 1px 8px 0 rgba(120,102,102,.3);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;position:absolute;padding:10px 20px;box-sizing:border-box;display:none}
.bubble-newContent p{font-size:13px;font-weight:400;line-height:22px;color:#616265;}
.bubble-popover:not(.nohover):hover .bubble_newFrame{display:block;z-index:999;}
.m-bubble-Close-container{display:none}
.left-top{bottom:inherit;top:32px;left:0;margin-left:-20px}
.left-top .bubble-newaArrow{margin:0;left:18px;bottom:0;top:-11px;transform:none}
.middle-top{bottom:inherit;top:26px}
.middle-top .bubble-newaArrow{bottom:inherit;top:-11px;transform:none}
.right-top{bottom:inherit;top:28px;right:0;margin-right:-20px;left:inherit;margin-left:0}
.right-top .bubble-newaArrow{margin:0;right:18px;bottom:0;top:-11px;transform:none;left:inherit;margin-left:inherit}
.left-middle{left:0;margin-left:-20px}
.left-middle .bubble-newaArrow{margin:0;left:18px}
.right-middle{right:0;margin-right:-20px;left:inherit;margin-left:0}
.right-middle .bubble-newaArrow{margin:0;right:18px;left:inherit}
.left-left-top{bottom:inherit;top:-20px;left:30px;margin-left:0}
.left-left-top .bubble-newaArrow{margin:0;left:-21px;bottom:0;top:20px;transform:rotate(-90deg);margin-top:2px;border-width:10px}
.left-left-top .bubble-newaArrow:after{bottom:-12px}
.left-left-middle{bottom:inherit;top:50%;left:30px;margin-left:0;transform:translateY(-50%)}
.left-left-middle .bubble-newaArrow{margin:0;left:-21px;bottom:0;top:50%;transform:rotate(-90deg);margin-top:-10px;border-width:10px}
.left-left-middle .bubble-newaArrow:after{bottom:-12px}
.bubble-popover-wap .bubble-popover:hover .left-left-middle{transform:translateY(-50%)}
.left-left-bottom{bottom:-20px;top:inherit;left:30px;margin-left:0}
.left-left-bottom .bubble-newaArrow{margin:0;left:-21px;bottom:20px;top:inherit;transform:rotate(-90deg);margin-top:2px;border-width:10px}
.left-left-bottom .bubble-newaArrow:after{bottom:-12px}
.qa_result_filesMain01{display: flex;margin: 0 0 3px;flex-wrap: wrap;}
.qa_result_filesMain01>a{color: #0070bc;margin: 3px 20px 0 0;}
.qa_result_filesMain01>a .qa_result_filesIc{margin-right: 2px;}
.qa_result_filesTxt{font-style: normal;font-size: 14px;;line-height: 20px;}
.qa_result_imagesMain{display: flex;flex-wrap: wrap;}
.qa_result_imagesMain_box{margin: 7px 8px 3px 0;}
.qa_result_dl dd .qa_result_imagesMain_box{margin: 7px 8px 0 0;}
.m_480_block{display:none;}
.qa_breadcrumb{display: none;}
.qa_type_msg{display: none;color: #c00000;font-weight: normal;}
@media(max-width:960px) {
	.m-bubble-container{position:fixed;left:0;top:0;height:100%;width:100%;z-index:1001;text-align:center;display:none}
	.m-bubble-container:after{content:"";height:100%;display:inline-block;vertical-align:middle;box-sizing:border-box}
	.bubble-popover{position:inherit}
	.bubble-newaArrow{display:none}
	.bubble-popover:not(.nohover):hover .bubble_newFrame{display:inline-block}
	.m-bubble-container .bubble_newFrame{padding: 44px 20px 38px !important;position:relative;vertical-align:middle;text-align:left;display:inline-block;bottom:inherit;left:inherit;top:inherit!important;margin:0;width:90%;border-radius:3px}
	.m-bubble-Close{font-size:20px;cursor:pointer;color:#aaa;float:right;margin-top:0;margin-right:-6px}
	.m-bubble-bg{display:none;position:fixed;z-index:1000;opacity:.4}
	.m-bubble-Close-container:after{content:"";display:block;clear:both}
	.m-bubble-Close-container{display:block}
	.bubble-popover-wap.active .bubble-popover .bubble_newFrame{opacity:1;z-index:999}
	.bubble-popover-wap.active .m-bubble-bg{opacity:.2;z-index:30}
}
@media(max-width:1220px){
	.qa_container_boxBg .qa_container_box{width: 960px;}
}
@media(max-width:960px){
	/*.qa_container_boxBg {padding: 0 15px;}*/
	.qa_container_boxBg .qa_container_box{width: 100%;margin: 0;}
	.qa_container_box .qa-answer-title-img{width: 246px;}
	.qa_container_box .qa-answer-title-des{margin-left: 0;}
	.qa-detailList-content-childDem{display: flex;}
	.qa_container_box .popup_tit{font-size: 18px;padding: 15px;}
	.qa_container_boxBg .qa_container_box .qa_bottom_conta .result_classification_main{width: 100%;}
	.qa_container_boxBg .qa_container_box .qa_bottom_conta .search_result_p{padding: 10px 0 0;}
	.qa-detailList-list{border-bottom: 0;padding: 8px 0;}
	.qa_detail_btnBox{display: block;}
	.qa-answer-aboutTxt.aboutTxtM{display: block;padding-top: 16px;text-align: center;margin-bottom: -4px;}
}
@media(max-width:480px){
	.qa_breadcrumb{display: block;width: 100%;overflow: hidden;}
	.breadcrumb{display: none;}
	.qa-answer-box .qa-answer-title{display: block;}
	.qa_container_box .qa-answer-title-img{width: 100%;float: none;}
	.qa-answer-title-img img{width: 100px;float: left;}
	.qa-answer-img-txt{display: block;overflow: inherit;padding-left: 110px;text-align: left;}
	.qa_container_boxBg .qa_container_box .qa-answer-wrap{padding: 4px 15px 0;}
	.qa-answer-aboutTxt.aboutTxtM{display: block;padding-top: 16px;text-align: center;margin-bottom: -4px;}
	.qa-answer-aboutTxt.aboutTxtPc{display: none;}
	.qa_container_box .qa-answer-title-des{width: 100%;padding-bottom: 0;}
	.qa_detail_btnBox{padding: 30px 0 0;display: block;}
	.qa_container_box .qa_default01{padding: 13px 0 0;}
	.qa-detail-pc{display: none!important;}
	.qa-detail-m{display: inline-block!important;}
	.qa_commentOn_form + .qa-detail-child-questionBox .qa-detail-child-txt:first-child{margin-top: 0;padding-top: 7px;}
	.qa-detail-child-questionBox .qa-detail-child-txt:last-child{margin-bottom: 5px;}
	.qa-detail-child-questionBox .qa-detail-child-txt:nth-child(2){padding-top: 7px;}
	.qa-detail-commentOnBox{padding: 7px 0 0;}
	.qa_commentOn_form>input{margin-top: 10px;}
	.qa_container_boxBg .qa_container_box .qa_bottom_conta{padding: 0 15px 0;box-sizing: border-box;width: 100%;}
	.qa-detail-questionTit span{margin-left: 10px;}
	.qa-detail-commentOnBox.qa-detail-padM{padding: 10px 0 0;}
	.qa-detailList-imgBox p{font-size: 14px;line-height: 24px;padding-left: 10px;}
	.qa-detailList-box.qa_container_boxBg .qa_container_box .qa-answer-wrap{padding: 20px 15px 0;}
	.qa-detailList-imgBox img{width: 100px;}
	.FS_Newpation_en{padding-bottom: 30px;margin-top: 23px;}
	.qa-detailList-hiden01{padding-left: 10px;}
	.qa-detail-child-questionBox{border-top: 0;margin-top: 2px;}
	.qa-detail-child-questionTit{display: none;}
	.qa_detail_btnBox button{width:100%}
	.qa_container_boxBg .qa_container_box .qa-answer-wrap{padding: 4px 15px 0 15px;}
	.qa_container_box .qa-answer-title-img{display:none;}
	.m_480_block{display:block}
	.m_480_none{display:none !important;}
	.qa_container_box .popup_tit{padding-top:0;line-height: 28px;}
	.qa-detailList-listBox .qa-detailList-list{border-bottom:1px solid #E5E5E5;padding: 14px 0;}
	.menu_02{display: none}
	.qa_menu{display: block}
	.qa_breadcrumb dt{float: left;}
	.qa_breadcrumb dd{padding-left: 50px;float: initial !important;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.qa_breadcrumb dd a{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

}
