.content { padding-top:0;}

.qc_development_banner { width: 100%; height: 320px; }
.qc_development_banner_bg { width: 100%; height: 320px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/qc_development_banner.jpg) no-repeat center 0; position: absolute; left: 0; z-index: -1 }
.qc_development_banner_con { text-align: center; padding-top: 110px; }
.qc_development_banner h2 { font-size: 40px; font-weight: 600; color: #fff; line-height: 50px; }
.qc_development_con { margin: 40px 0; position: relative; }
.qc_development_nav { width: 100%; text-align: center; border-bottom: 1px solid #dedede; margin-top: 50px; }
.qc_development_name { font-size: 18px; display: inline-block; font-weight: 600; margin: 0 6%; padding-bottom: 25px; cursor: pointer; transform: translateY(1px); box-sizing: border-box; }
.qc_development_name:hover { color: #0070BC; border-bottom: 1px solid #0070BC; }
.qc_development_name.active { color: #0070BC; border-bottom: 1px solid #0070BC; }
.qc_development_name.active a { color: #0070BC; }
.qc_development_name a:hover { text-decoration: none; color: #0070BC; }
.qc_development_hr { width: 4px; background: #a5d0eb; height: 100%; min-height: 2740px; margin: 0 auto; }
.qc_development_line img { display: block; margin: 0 auto; }
.qc_development_left { position: absolute; left: 10px; top: 0; width: 50%; padding-top: 80px; }
.qc_development01 { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/qc_circle_line_left.png) no-repeat right 0; padding-left: 10%; padding-right: 23%; margin-bottom: 50px }
.qc_development02 { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/qc_circle_line_right.png) no-repeat left 0; padding-right: 10%; padding-left: 23%; margin-bottom: 50px }
.qc_development01 h2, .qc_development02 h2 { font-size: 24px; font-weight: normal; line-height: 30px; margin-bottom: 24px; }
.qc_development_text_line { background: #8d8d8f; height: 2px; width: 80px; }
.qc_development01 div, .qc_development02 div { font-size: 14px; color: #616265; line-height: 22px; margin-top: 24px; margin-bottom: 30px;word-wrap: break-word; }
.qc_development_right { position: absolute; right: 10px; top: 0; width: 50%; padding-top: 200px; }
@media (max-width: 1440px){
	.why_custom, .why_wholesale { width: 38%; min-height: 610px; }
.privacy_business br { display: none; }
.qc_development01 img, .qc_development02 img {
    display: block;
    max-width: 100%;
}
}
@media (max-width: 1220px){
	.fs_address_tite { height: 420px; }
.why_list ul li { min-height: 336px; }
.bellows__item h3 { min-height: 40px; }
.bellows__item p { height: 316px; overflow: hidden; }
.why_custom, .why_wholesale { width: 36%; min-height: 780px; }
.privacy_business_ul li { width: 100%; }
.privacy_business_ul li:nth-child(2) span, .privacy_business_ul li:nth-child(4) span, .privacy_business_ul li:nth-child(6) span {
 margin: 8px 16px 0 240px;
}
}
@media (max-width: 960px){
	.qc_development_banner_con {width:initial;position: absolute;text-align: center; padding-left:10px; padding-right:10px;}
	.qc_development_banner_con h2 {font-size:36px; }
    .qc_development_con { width: inherit; min-height:2440px;}
	.qc_development01 h2, .qc_development02 h2 { padding-top:20px; font-size:20px; margin-bottom:10px;}
	.qc_development01 div, .qc_development02 div { margin-top:10px;}
}
@media (max-width: 680px){
	.qc_development_hr { height:2800px;}
}

@media (max-width: 480px){
	.qc_development_banner_con { padding-top:50px;} 
	.qc_development_banner_con h2 {font-size:30px;}
	.qc_development_name { margin:0 3%; font-size:15px; padding-bottom:20px;}
	.qc_development_line { display:none;}
	.qc_development01, .qc_development02 { background:none; padding:0 20px; margin-bottom:20px;}
	.qc_development_left,.qc_development_right { padding-top:0;}
	.qc_development_con { margin-top:10px;}
}
