.box,
.content {
    width: 100%;
}
.long-range-banner {
    height: 200px;
    text-align: center;
}
.long-range-bg {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 200px;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/long-range/banner-web.jpg)
    no-repeat center;
    background-size: cover;
}
.long-range-bg-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.long-range-bg-tit {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #fff;
}
.long-range-main {
    background: #f7f7f7;
    padding: 50px 0;
}
.long-range-content {
    width: 1200px;
    margin: 0 auto;
    min-height: 500px;
    background: #fff;
}
.long-range-content {
    display: flex;
    align-items: flex-start;
}
.long-range-content-left,
.long-range-content-right {
    width: 50%;
}
.long-range-content-right {
    padding: 30px;
}
.long-range-content-left-txt {
    padding: 30px;
    color: #19191a;
    background-image: linear-gradient(#eaedef, #f5f9fb);
}
.long-range-content-left-img img {
    width: 100%;
    opacity: 0.82;
}
.long-range-content-left-txt-tit {
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
}
.long-range-content-left-txt-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
}
.long-range-content-left-txt-h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
}
.long-range-content-left-ul > li {
    color: #646466;
    font-size: 14px;
    line-height: 24px;
    display: flex;
}
.long-range-content-left-ul > li .icon {
    color: #8d8d8f;
    display: inline-block;
    margin-right: 5px;
}
.long-range-content-right-state {
    font-size: 14px;
    color: #89898c;
    line-height: 24px;
    margin-top: -4px;
}
.long-range-content-right-state a{
    color:#0060BF;
}
.long-range-box{
    position: relative;
}
.long-range-select{
    height: 38px;
    background: #fff;
    font-size: 14px;
    color: #19191A;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}

.long-range-select-arrow{
    position: absolute;
    top: 16px;
    right: 0;
    width: 20px;
    height: 20px;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/index_icon.png) -11px -7px no-repeat;
}
.input_block select:focus {
    border-color: #8d8d8f !important;
}
.request-support-formList>li>.long-range-w100{
    width: 100%;
}
.long-range-switchs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.long-range-switchs>li{
    width: calc(100% / 2 - 6px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}
.long-range-switchs>li.active{
    border-color: #89898C;
}
.long-range-switch-text{
    width: 66%;
    margin-left: 10px;
    font-size: 13px;
    color: #19191A;
    line-height: 22px;
}
.long-range-switch-text h3{
    font-size: 13px;
    font-weight: 400;
}
.long-range-switch-text p{
    color: #646466;
}
.long-range-switch-text h3,.long-range-switch-text p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.long-range-formTxt01.request-support-formTxt01{
    padding-bottom: 0;
}
.long-range-search{
    position: relative;
}
.long-range-search>.icon{
    color: #19191a;
    position: absolute;
    right: 1px;
    top: 1px;
    height: 36px;
    line-height: 36px;
    border: transparent;
}
.long-range-HotSearch{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.long-range-HotSearch>li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
    color: #19191a;
    line-height: 26px;
    height: 26px;
    border-radius: 14px;
    background: #F7F7F7;
    text-decoration: none;
    padding: 0 15px;
    margin: 10px 12px 0 0;
    transition: all 0.3s;
}
.long-range-HotSearch>li a>.icon{
    font-size: 12px;
    color: #8D8D8F;
    display: inline-block;
    margin-left: 10px;
}
.long-range-HotSearch>li a:hover,.long-range-HotSearch>li.active a{
    background:#EBEBF0;
}
.long-range-search-hot{
    display: none;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 9px 0px rgba(0,   0, 0, 0.15);
    position: absolute;
    top: 38px;
    padding: 10px 0;
    max-height: 180px;
    overflow-y: auto;
    z-index: 2;
}
.long-range-search-hot>li{
    height: 36px;
    line-height: 36px;
    padding-left: 25px;
    font-size: 14px;
    color: #19191a;
}
.long-range-search-hot>li:hover,.long-range-search-hot>li.active{
    background: #F7F7F7;
}
.long-range-search-del.icon{
    display: none;
    width: 20px;
    right: 35px;
    font-size: 12px;
    background: transparent;
    color: #8D8D8F;
}
.long-range-search-del.icon:hover{
    color: #19191A;
}

@media(max-width:1220px){
    .long-range-content{
        width: 960px;
    }
}
@media(max-width:960px){
    .long-range-content{
        width: 100%;
    }

}
@media(max-width:768px){
    .long-range-content-right,.long-range-content-left-txt{
        padding: 40px 15px;
    }
    .long-range-switch-text{
        width: 50%;
    }
}
@media (max-width: 480px) {
    .long-range-bg {
        background: url(https://img-en.fs.com/includes/templates/fiberstore/images/long-range/banner-M.jpg)
        no-repeat center;
        background-size: cover;
    }
    .long-range-bg-tit {
        font-size: 26px;
        line-height: 26px;
        font-weight: 600;
        color: #fff;
    }


    .long-range-content{
        flex-wrap: wrap;
    }
    .long-range-content{
        background: #f7f7f7;
    }
    .long-range-content-left, .long-range-content-right{
        width: 100%;
        background: #fff;
    }
    .long-range-main{
        padding: 0;
    }
    .long-range-content-right{
        padding: 40px 15px;
        margin-top: 15px;
    }
    .long-range-content-left-txt{
        padding: 40px 15px ;
        background-image: none;
    }
    .long-range-content-left-txt-p{
        margin-top: 10px;
        font-size: 14px;
        line-height: 24px;
    }
    .long-range-content-left-img{
        display: none;
    }
    .long-range-content-left-txt-tit{
        text-align: center;
        font-size: 20px;
    }
    .long-range-switchs>li{
        width: 100%;
    }
    .long-range-switch-text {
        width: 77%;
    }
    .request-support-btnBox .request-support-btn{
        width: 100%;
    }


}

.request-support-formTxt01{font-size:13px;color:#19191A;line-height:20px;padding-bottom:7px;}
.request-support-formTxt01.request-support-formTxt02{color: #646466;}
.public_textarea_container + .error_prompt{padding-right:76px;}
.request-support-input{width:175px;height:38px;background:#fff;font-size:14px;color:#19191A;border:1px solid #e5e5e5;border-radius:3px;padding-left:10px;width:100%;box-sizing:border-box;}
.request-support-formList{margin-top:20px;}
.request-support-formList>li{width: 100%;display: flex;align-items: flex-start;justify-content: space-between;}
.request-support-formList>li:nth-last-child(2){align-items: flex-end;}
.request-support-formList>li>div{box-sizing:border-box;width: calc(100% / 2 - 6px);}
.request-support-prefix{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;}
.request-support-prefix .request-support-input{border-top-left-radius:0;border-bottom-left-radius:0;-webkit-box-flex:1;-ms-flex:1;flex:1;}
.request-support-prefix b{min-width:44px;height:38px;background-color:#f7f7f7;color:#19191A;text-align:center;line-height:35px;font-size:13px;font-weight:400;border:1px solid #e6e6e6;border-right:none;border-top-left-radius:3px;border-bottom-left-radius:3px;padding:0 10px;box-sizing:border-box;}
.request-support-textarea{transition:all .2s;border:1px solid #e5e5e5;border-radius:2px;width:100%;padding:6px 10px;box-sizing:border-box;color:#646466;box-shadow:none;text-indent:0;min-height:100px;box-sizing:border-box;font-size:14px;line-height:22px;display:block;margin-top:0;}
.request-support-textarea::-webkit-input-placeholder{color:#89898C;font-size:14px;}
.request-support-textarea:-moz-placeholder{color:#89898C;font-size:14px;}
.request-support-textarea::-moz-placeholder{color:#89898C;font-size:14px;}
.request-support-textarea:-ms-input-placeholder{color:#89898C;font-size:14px;}
.request-support-input:focus,.request-support-textarea:focus{border-color:#89898C;}
.request-support-AgreementBox{display:inline-block;cursor:default;}
.request-support-AgreementMain .icon{font-size:18px;color:#8d8d8f;float:left;line-height:18px;cursor:pointer;}
.request-support-AgreementMain .icon:hover{color:#4C4948;}
.request-support-AgreementTxt{font-size:13px;color:#89898C;line-height:18px;padding-left:24px;cursor:default;}
.request-support-AgreementTxt a{color:#19191A;}
.request-support-btnBox{margin-top:31px;}
.request-support-btn{height:38px;background:#c00000;border:1px solid #c00000;border-radius:3px;color:#fff;font-size:14px;cursor:pointer;transition:all .3s;padding:0 30px;}
.request-support-btn:hover{color:#fff;background-color:#9b0912;border:1px solid #9b0912;}
.fs-comSub-loadBtn .loader_order{display:none;left:50%;margin-left:-9px;top:50%;margin-top:-9px;}
.loader_order{position:absolute;width:18px;background:0 0;z-index:5;top:10px;left:120px;}
.loader_order:before{content:'';display:block;padding-top:100%;}
.circular{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;height:100%;-webkit-transform-origin:center center;transform-origin:center center;width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
.path{stroke-dasharray:1,200;stroke-dashoffset:0;-webkit-animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;stroke-linecap:round;}
.choose_country{line-height:36px;background:#fff;border:1px solid #CCCCCC;height:36px;}
.choose_country em{background-image:url(https://img-en.fs.com/includes/templates/fiberstore/images/country.png);background-repeat:no-repeat;position:absolute;width:16px;height:16px;left:15px;top:11px;}
.searchCountry{left:-1px;}
.countryList li{width:100%;height:auto;}
.countryList li+.divider{margin:10px 0;}
.request-support-formList .showMore{margin-top:16px;}
.request-support-formList .searchCountry{top:40px;}
.input_block .public_count{bottom:initial;top:-28px;color:#89898C;}
.input_block_last{font-size:14px;}
.error_prompt{display:none;}
.public_position{position:relative;}
.file_input_container{padding:0 0 12px 0;}
.write_review_from{position:relative;display:inline-block;overflow:hidden;cursor:pointer;height:16px;line-height:16px;margin-top:0;}
.file_input_alone input{position:absolute;opacity:0;right:0;top:0;cursor:pointer;}
.review_newImg_show_newOnly{float:left;width:100%;display:none;}
.write_review_fromonly{float:left;display:block;}
.write_sc{cursor:pointer;}
.wr_newSpan{font-size:14px;color:#0060BF;}
.write_sc i{font-size:13px;color:#0060BF;font-style:normal;}
.alone_Bubble{position:relative;display:inline-block;vertical-align:middle;margin-top:-8px;}
.alone_Bubble i{font-size:14px;color:#9E9E9E;cursor:pointer;width:14px;display:inline-block;}
.bubble-popover-wap{display:inline-block;width:16px;height:16px;line-height:16px;}
.bubble-popover{display:inline-block;position:relative;}
.bubble-icon{display:inline-block;color:#89898c;cursor:pointer;width:16px;height:16px;}
.bubble-newaArrow{border-width:11px;border-color:transparent;border-style:solid;display:block;height:0;position:absolute;width:0;border-top-width:0;border-bottom-color:rgba(0,0,0,.08);background:0 0;transform:rotate(-180deg);bottom:-11px;left:50%;margin-left:-11px;}
.bubble-newaArrow:after{border-color:transparent;border-style:solid;display:block;height:0;position:absolute;width:0;border-width:10px;content:"";border-top-width:0;border-bottom-color:#fff;bottom:-11px;left:-10px;}
.m-bubble-bg{background:#000;position:absolute;width:100%;height:100%;top:0;left:0;z-index:-6;opacity:0;}
.bubble_newFrame{width:300px;background:#deb887;bottom:26px;left:50%;margin-left:-150px;text-decoration:none;text-align:left;white-space:normal;background-color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 1px 8px 0 rgba(120,102,102,.3);-moz-box-shadow:0 1px 8px 0 rgba(120,102,102,.3);box-shadow:0 1px 8px 0 rgba(120,102,102,.3);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;position:absolute;padding:10px 20px;box-sizing:border-box;display:none;}
.bubble-newContent p{font-size:13px;font-weight:400;line-height:22px;color:#646466;}
.bubble-popover:not(.nohover):hover .bubble_newFrame{display:block;z-index:999;}
.left-left-middle{bottom:inherit;top:50%;left:30px;margin-left:0;transform:translateY(-50%);}
.left-left-middle .bubble-newaArrow{margin:0;left:-21px;bottom:0;top:50%;transform:rotate(-90deg);margin-top:-10px;border-width:10px;}
.left-left-middle .bubble-newaArrow:after{bottom:-12px;}
.bubble-popover-wap .bubble-popover:hover .left-left-middle{transform:translateY(-50%);}
.new_m_icon_Close{font-size:22px;cursor:pointer;color:#8d8d8f;}
.error_prompt{font-size:13px;color:#c00000;line-height:18px;padding-top:5px;margin-bottom:0;}
.input_block{margin-bottom:16px;}
.public_count{bottom:0;top:-18px;color:#89898C;}
.fs-new-cartAlert{position:fixed;width:100%;height:100%;z-index:9999999;top:0;left:0;text-align:center;display:none;}
.fs-new-cartAlert:before{content:"";height:100%;display:inline-block;vertical-align:middle;box-sizing:border-box;}
.fs-new-cartAlert-bg{position:fixed;left:0;top:0;z-index:-1;width:100%;height:100%;background-color:#000;filter:alpha(opacity=30);opacity:.3;}
.fs-new-cartAlert-width680{position:static;transform:none;top:auto;left:auto;margin-left:0;display:inline-block;text-align:left;vertical-align:middle;margin-top:0;max-height:94vh;overflow-y:auto;overflow-x:hidden;background-color:#fff;border-radius:2px;width:680px;}
.fs-new-closeAlert:hover{color:#19191A;}
.fs-new-cartAlert-cont01{padding:0 30px 38px;}
.fs-new-alertSuccess-txtBox .alertSuccess-icon{font-size:22px;float:left;color:#18a209;line-height:26px;}
.fs-new-alertSuccess-txt{padding:0 0 10px 30px;font-size:16px;color:#19191A;line-height:26px;}
.fs-new-cartAlert{position:fixed;width:100%;height:100%;z-index:9999999;top:0;left:0;text-align:center;display:none;}
.fs-new-cartAlert:before{content:"";height:100%;display:inline-block;vertical-align:middle;box-sizing:border-box;}
.fs-new-cartAlert-bg{position:fixed;left:0;top:0;z-index:-1;width:100%;height:100%;background-color:#000;filter:alpha(opacity=30);opacity:.3;}
.fs-new-cartAlert-width680{position:static;transform:none;top:auto;left:auto;margin-left:0;display:inline-block;text-align:left;vertical-align:middle;margin-top:0;max-height:94vh;overflow-y:auto;overflow-x:hidden;background-color:#fff;border-radius:2px;width:680px;}
.fs-new-cartAlert-title{padding:15px 15px 0px;}
.fs-new-closeAlert{float:right;font-size:20px;cursor:pointer;color:#787777;font-weight:normal;}
.fs-new-closeAlert:hover{color:#232323;}
.fs-new-cartAlert-txt01{color: #646466;font-size: 14px;line-height: 24px;}
.new_typesetting{margin-bottom: 10px;margin-top: -2px;}

@media (max-width:960px){
    .request-support-formList{margin-top:20px;}
    .m-bubble-container{position:fixed;left:0;top:0;height:100%;width:100%;z-index:1001;text-align:center;display:none;}
    .m-bubble-container:after{content:"";height:100%;display:inline-block;vertical-align:middle;box-sizing:border-box;}
    .bubble-popover{position:inherit;}
    .bubble-newaArrow{display:none;}
    .bubble-popover:not(.nohover):hover .bubble_newFrame{display:inline-block;}
    .m-bubble-container .bubble_newFrame{padding:44px 20px 38px!important;position:relative;vertical-align:middle;text-align:left;display:inline-block;bottom:inherit;left:inherit;top:inherit!important;margin:0;width:90%;border-radius:3px;}
    .m-bubble-Close{font-size:20px;cursor:pointer;color:#aaa;float:right;margin-top:0;margin-right:-6px;}
    .m-bubble-bg{display:none;position:fixed;z-index:1000;opacity:.4;}
    .choose_country{border-color:#e5e5e5;}
    .error_prompt{margin-bottom:0;}
    .loader_order:before{content:'';display:block;padding-top:100%;}
    .circular{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;height:100%;-webkit-transform-origin:center center;transform-origin:center center;width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
    .path{stroke-dasharray:1,200;stroke-dashoffset:0;-webkit-animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;stroke-linecap:round;}
    .searchCountry{top:39px;}
    .error_prompt{display:none;font-size:13px;color:#c00000;line-height:18px;padding-top:5px;margin-bottom:0;}

}
@media(max-width: 480px){
    .fs-new-cartAlert-width680{
        position: fixed;
        top: 50%;
        left: 0;
        transform: translate(15px,-50%);
        width: calc(100% - 30px);
    }
}

.login_loading_bg {position: fixed;z-index: 998;top: 0;left: 0;width: 100%;height: 100%;background: #fff;opacity: .5;display: none;}
.processing{z-index:1111112;float:left;position:fixed;top:240px;left:50%;border-radius:4px;margin-left:-110px;width:180px;height:110px;opacity:1;text-align:center;padding:20px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:Arial;background:rgb(255,255,255);}
#loader_order_alone{width:18px;background:0 0;z-index:5;position:absolute;left:50%;top:50%;margin-left:-9px;margin-top:-9px;}
#loader_order_alone:before{content:'';display:block;padding-top:100%;}
#loader_order_alone .circular{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;height:100%;-webkit-transform-origin:center center;transform-origin:center center;width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
#loader_order_alone .path{stroke-dasharray:1,200;stroke-dashoffset:0;-webkit-animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;stroke-linecap:round;}
.spinWrap #loader_order_alone{width:80px;height:80px;margin-left:-40px;margin-top:-40px;}
.loader_order:before{content:'';display:block;padding-top:100%;}
.circular{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;height:100%;-webkit-transform-origin:center center;transform-origin:center center;width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
.path{stroke-dasharray:1,200;stroke-dashoffset:0;-webkit-animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;stroke-linecap:round;}
#fs_loading #loader_order_alone .path{animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;}
.processing{top:50%;left:50%;width:80px;height:80px;margin-left:-40px;margin-top:-40px;}
.circular{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;height:100%;-webkit-transform-origin:center center;transform-origin:center center;width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
.path{stroke-dasharray:1,200;stroke-dashoffset:0;-webkit-animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;stroke-linecap:round;}
.processing{background:0 0;}
.spinWrap{width:100%;}
.loader_order{position:absolute;width:18px;background:0 0;z-index:5;top:10px;left:65px;}
.loader_order:before{content:'';display:block;padding-top:100%;}
.circular{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;height:100%;-webkit-transform-origin:center center;transform-origin:center center;width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
.path{stroke-dasharray:1,200;stroke-dashoffset:0;-webkit-animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;stroke-linecap:round;}
.spinWrap #loader_order_alone{width:80px;height:80px;margin-left:-40px;margin-top:-40px;}
/*! CSS Used keyframes */
@-webkit-keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0;}50%{stroke-dasharray:89,200;stroke-dashoffset:-35px;}100%{stroke-dasharray:89,200;stroke-dashoffset:-124px;}}
@keyframes dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0;}50%{stroke-dasharray:89,200;stroke-dashoffset:-35px;}100%{stroke-dasharray:89,200;stroke-dashoffset:-124px;}}
@keyframes color{0%,100%{stroke:#fff;}40%{stroke:#fff;}66%{stroke:#fff;}80%,90%{stroke:#fff;}}
@keyframes color{0%,100%{stroke:#bbb;}40%{stroke:#bbb;}66%{stroke:#bbb;}80%,90%{stroke:#bbb;}}

/* button active*/
.request-support-btn{position: relative;}
.request-support-btn.active{border-color: #e08080;}
.request-support-btn.active span{opacity: 0;}
.request-support-btn.active .loader_order{display: block;}
.request-support-btn:hover{background-color: #9b0912;}
.request-support-btn.active{background: #e08080;cursor: default;}
.request-support-btn .loader_order{display: none;position: absolute;width: 18px;background: 0 0;z-index: 5;left: 50%;margin-left: -9px;top: 50%;margin-top: -9px;}
.request-support-btn .loader_order:before{content: '';display: block;padding-top: 100%;}
.request-support-btn .circular{
    -webkit-animation: rotateBtn 2s linear infinite;
    animation: rotateBtn 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.request-support-btn .path{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation: dashBtn 1.5s ease-in-out infinite,colorBtn 6s ease-in-out infinite;
    animation: dashBtn 1.5s ease-in-out infinite,colorBtn 6s ease-in-out infinite;
    stroke-linecap: round;
}
@keyframes dashBtn{
    0%{stroke-dasharray:1,200;stroke-dashoffset:0}
    50%{stroke-dasharray:89,200;stroke-dashoffset:-35px}
    100%{stroke-dasharray:89,200;stroke-dashoffset:-124px}
}
@keyframes colorBtn{
    0%,100%{stroke:#fff}
    40%{stroke:#fff}
    66%{stroke:#fff}
    80%,90%{stroke:#fff}
}

.searchTip{
    background: #FFFFFF;
    box-shadow: 0px 2px 9px 0px rgba(0,   0, 0, 0.15);
    position: absolute;
    top: 38px;
    width: 100%;
}
.searchTip>.noSearch{
    padding: 15px 25px;
    line-height: 26px;
    font-size: 14px;
    color: #89898c;
}
