.box{width: 100%;}
.service-apply-box{background: #F7F7F7;}
.service-apply-banner{height: 380px;}
.service-apply-banner220{height: 200px;}
.service-apply-bg{position: absolute;width: 100%;left: 0;z-index: -1;height: 380px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/s-series/images/on-site-service-banner-bg.jpg) no-repeat center 0;}
.service-apply-bg220{position: absolute;width: 100%;left: 0;z-index: -1;height: 200px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/s-series/images/on-site-service-banner-bg.jpg) no-repeat center 0;}
.service-apply-banner-tit{font-size: 40px;line-height: 48px;font-weight: normal;color: #fff;text-align: center;padding: 117px 0 0;}
.service-apply-banner-txt{text-align: center;color: #fff;padding-top: 20px;font-size: 16px;line-height: 26px;color: #fff;}
.service-apply-banner220 .service-apply-banner-tit{padding: 73px 0 0;}
/*申请表单*/
.service-apply-boxBg{position: absolute;width: 100%;background: #F7F7F7;left: 0;z-index: -1;}
.service-apply-Main{padding: 50px 0;}
.service-apply-formBox{background: #fff;padding: 0 150px 50px;width: 960px;margin: auto;box-sizing: border-box;}
.service-apply-formTit{font-size: 16px;line-height: 26px;color: #232323;padding: 40px 0 10px;font-weight: bold;}
.service-apply-formTit.reduce{padding-top: 30px;}
.service-apply-formTr.last-formTr{margin-bottom: 5px;}
.service-apply-formTr .service-apply-formTd {width: 100%;}
.service-apply-formTd{float: left;width: 50%;box-sizing: border-box;}
.service-apply-formTr .service-apply-formTd.company_name{padding-left: 20px;padding-right: 0;}
.service-apply-formTr .service-apply-formTd.company_name .service-apply-formTd01{width: 106px;}
.service-apply-formTr1{display: table;width: 100%;}
.service-apply-formTd01{font-size: 14px;color: #616265;padding-bottom: 5px;}
.service-apply-formTd02{width: 320px;position: relative}
.service-apply-formTd02.sam_online{padding-right: 168px;}
.service-apply-formInput{border: 1px solid #e5e5e5;line-height: 34px;height: 40px;text-indent: 10px;font-size: 13px;color: #232323;width: 100%;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;border-radius: 3px;box-sizing: border-box;}
.service-apply-formInput:focus{border: 1px solid #8d8d8f;outline: none;}
.service-apply-formTxt{font-size: 14px;color: #232323;line-height: 24px;padding: 0 0 0px;}
.service-apply-search{width: 40px;line-height: 40px;height: 40px;position: absolute;top: 50%;transform: translateY(-50%);right: 0;font-size: 20px;text-align: center;cursor: pointer;}
.service-apply-formTxt01{font-size: 14px;color: #616265;line-height: 24px;padding:5px 0 5px;}
.service-apply-formTxt02{font-size: 13px;color: #616265;line-height: 24px;padding:0;margin-top: 5px;}
.newservice-apply-formTxt02{margin-top: 0;}
.service-apply-formNone{float: none;}
.service-apply-proTr{display: table;width: 100%;border-bottom: 1px solid #E5E5E5;}
.service-apply-proTr .service-apply-proTd{display: table-cell;vertical-align: middle;padding: 12px 0;}
.service-apply-proTr .service-apply-proTd:first-child{width: 69.5%;}
.service-apply-proTr .service-apply-proTd:nth-child(2){width: 30.5%;}
.apply-proHead .service-apply-proTd span{display: inline-block;font-size: 14px;color: #232323;}
.apply-proHead .service-apply-proTd:nth-child(2) span{padding-left: 0;width: 140px;text-align: center;}
.apply-proHead .service-apply-proTd {padding-top: 0;}
.service-apply-proCont img{float: left;}
.service-apply-proLeft{padding-left: 90px;}
.service-apply-proLeft a{font-size: 13px;color: #232323;line-height: 22px;display: block;padding-bottom: 5px;}
.service-apply-proLeft span{font-size: 13px;color: #999;}
.service-apply-proDelete-box{float: right;padding-top: 13px;cursor: pointer;display: none;}
.service-apply-proDelete{color: #8d8d8d;font-size: 14px;display: inline-block;vertical-align: middle;}
/*.service-apply-searchBox{margin-top: 25px;}*/
.service-apply-proAdd{display: inline-block;color: #232323;cursor: pointer;margin-top: 28px;}
.service-apply-proAdd .icon{float: left;font-size: 12px;margin: 3px 5px 0 0;}
.service-apply-proAdd div{font-size: 14px;float: left;}
.service-apply-addresCont01>div{float: left;width: 250px;margin-right: 10px;}
.service-apply-addresCont01>div:last-child{margin-right: 0;}
.service-apply-addresCont02 .service-apply-formTd{padding-right: 0;padding-bottom: 20px;}
.service-apply-addresCont03>div{float: left;width: 280px;margin-right: 10px;}
.service-apply-addresCont03>div:last-child{margin-right: 0;}
.service-apply-addresCont04 {padding-bottom: 20px;}
.service-apply-addresCont04 .service-apply-formTdRt>div{float: left;width: 246px;margin-right: 10px;}
.service-apply-addresCont04 .service-apply-formTdRt>div:last-child{margin-right: 0;}
.service-apply-addresCont04 .service-apply-formTdLe{font-size: 14px;color: #232323;line-height: 24px;padding: 8px 0;}
.service-apply-testBox{position: relative;}
.service-apply-testBtn{position: absolute;right:1px;top: 1px;height: 38px;font-size: 14px;color: #232323;line-height: 38px;}
.service-apply-testBtn>div{position: relative;padding: 0 20px;cursor: pointer;}
.service-apply-testBtn-line{position: absolute;left: 0px;background: #CCCCCC;height: 16px;width: 1px;top: 11px;}
.service-apply-agreeMent-box {margin-top: 30px;display: inline-block;}
.service-apply-agreeMent-box .choosez.icon{color: #232323;}
.service-apply-agreeMent-box .icon{float: left;font-size: 13px;color: #CCCCCC;line-height: 24px;cursor: pointer;}
.service-apply-agreeMent-txt{color: #999999;font-size: 13px;padding-left: 23px;line-height: 24px;display: block;z-index: 1;}
.service-apply-formSub{margin-top: 15px;position: relative}
.service-apply-formSub-btn{display: inline-block;height: 40px;line-height: 40px;background: #c00000;
	border: 1px solid #c00000;;color: #fff;padding: 0 30px;border-radius: 2px;transition: all 0.3s ease;
	cursor: pointer;outline: none;font-size: 14px;font-family: 'Open Sans';}
.no-click{position: absolute;z-index: 10;height: 40px;line-height: 40px;font-size: 14px;border-radius: 2px;padding: 0 30px;cursor: default;background-color: #ababab;color: #fff;left: 0;top: 0;border: 1px solid #ababab;box-sizing: border-box;display: none;}
.service-apply-formSub-btn:hover{background: #9b0912;
	border: 1px solid #9b0912;}
.sevice-emply-matterList li{border-bottom: 1px solid #E5E5E5;}
.sevice-emply-matterList-main dt{padding: 15px 0px;cursor: pointer;}
.sevice-emply-matterList-main dt>div{float: left}
.sevice-emply-matterList-main dt .icon{float: right;font-size: 16px;color: #4C4948;line-height: 24px;}
.sevice-emply-matterList-main dd{padding: 0px 0 20px;display: none;}
/* .sevice-emply-matterList li.choosez dt{background: #F7F7F7;} */
.sevice-emply-matterTit{font-size: 14px;line-height: 24px;color: #232323;}
.sevice-emply-matterTxt{font-size: 13px;line-height: 22px;color: #616265;}
.sevice-emply-matterTxtA{font-size: 13px;}
.sevice-emply-matterTxtA a{color: #0070BC}
.service-apply-searchBox{margin-bottom: 25px;}
.service-apply-typ-btmMar{margin-bottom: 10px;margin-top: 10px;}
.service-apply-formTdLe{float: left;width: 86px;}
.service-apply-formTd-btmPa5{padding-bottom: 5px!important;}
.service-apply-dateBox{position:relative;}
.service-apply-dateBox .icon{font-size: 13px;display: inline-block;position: absolute;right: 6px;top: 13px;color: #232323;transition: all .3s;}
.service-apply-banner-stance{display: inline-block;width: 52px;}
/*入口页面的样式*/
.service-apply-banner-btnBox{text-align: center;margin-top: 35px;}
.service-apply-banner-btn{font-size: 14px;color: #fff;display: inline-block;height: 40px;padding: 0 30px;text-align: center;text-decoration: none;line-height: 38px;border: 1px solid #fff;border-radius: 2px;
	transition: all .3s;-o-transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;box-sizing: border-box;}
.service-apply-banner-btn:hover{background: #fff;color: #232323;text-decoration: none;}
.service-apply-sinPage-cont{width: 1200px;margin: auto;}
.service-apply-sinPage-tit{font-size: 26px;color: #232323;text-align: center;line-height: 40px;padding-top: 74px;font-weight: 600;}
.service-apply-sinPage-tit01{font-size: 26px;color: #fff;text-align: center;line-height: 40px;padding-top: 74px;}
.service-apply-sinPage-txt{font-size: 14px;color: #616265;line-height: 24px;padding-top: 20px;text-align: center;}
.service-apply-tecBox li{float: left;width: 33.33%;text-align: center;}
.service-apply-tecTit{font-size: 16px;color: #232323;line-height: 26px;padding: 24px 0 15px;font-weight: 600;}
.service-apply-tecTxt{font-size: 13px;color: #616265;line-height: 24px;}
.service-apply-tecBox{margin: 44px 0 64px;}
.sevice-emply-processBox{background: #053f6f;padding-bottom: 70px;}
.sevice-emply-processList{margin-top: 75px;display: flex;justify-content: space-between;}
.sevice-emply-processList li>img{float: left;}
.sevice-emply-processLeft{padding-left: 70px;position: relative;}
.sevice-emply-processTit{font-size: 16px;color: #fff;line-height: 22px;padding-bottom: 10px;}
.sevice-emply-processTxt{font-size: 13px;color: #fff;line-height: 24px;padding-bottom: 5px;}
.sevice-emply-processTxt div{line-height: 22px;}
.sevice-emply-processTxt span{display: inline-block;width: 4px;height: 4px;background: #fff;float: left;border-radius: 50%;margin-top: 10px;}
/*.sevice-emply-processTxt div{padding-left: 14px;}*/
.sevice-emply-processLeft .icon{position: absolute;font-size: 22px;top: 15px;left: 226px;color: #fff;}
.sevice-emply-casesMain{margin: 45px 0 70px;}
.sevice-emply-casesList li{width: 50%;float: left;box-sizing: border-box;position: relative;}
.sevice-emply-casesBg{z-index: -1;width: 100%;position: relative;}
.sevice-emply-casesBgM{display: none;}
.sevice-emply-casesBg-singleM{display: none;}
.sevice-emply-casesPo{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: rgba(2,12,35,.6);text-align: center;padding: 90px 80px 0;box-sizing: border-box;display: none;}
.sevice-emply-casesList li:first-child:hover .sevice-emply-casesPo{display: block;}
.sevice-emply-casesPo img{margin-bottom: 43px;}
.sevice-emply-casesTxt{font-size: 16px;line-height: 26px;color: #fff;text-align: left;}
.sevice-emply-casesLine{width: 36px;height: 1px;background: #fff;display: inline-block;vertical-align: middle;}
.sevice-emply-casesPo .sevice-emply-casesTxt:last-child{text-align: right;padding-top: 30px;}
.sevice-emply-casesPo01{padding: 90px 62px 0;box-sizing: border-box;}
.sevice-emply-casesTxt01{text-align: center;font-size: 26px;line-height: 34px;color: #232323;padding-bottom: 15px;}
.sevice-emply-casesTxt02{font-size: 14px;line-height: 24px;color: #616265;text-align:justify;text-justify:distribute-all-lines;}
.sevice-emply-casesTxt03{font-size: 14px;line-height: 24px;color: #616265;margin-top: 30px;}
.sevice-emply-casesTxt03 a{color: #616265;float: left;}
.sevice-emply-casesTxt03 span{font-size: 13px;margin-left: 5px;}
.sevice-emply-casesList01.sevice-emply-casesList>li:nth-child(1){float: right;width: 50%;}
.sevice-emply-casesList01.sevice-emply-casesList>li:nth-child(2){float: left;width: 50%;}
.sevice-emply-partnerBox{background: #F7F7F7;}
.sevice-emply-partnerTxt{font-size: 14px;line-height: 24px;color: #616265;text-align: center;padding: 20px 0 34px;}
.sevice-emply-process-btnBox{text-align: center;margin-top: 58px;}
.sevice-emply-process-btn{display:inline-block;height: 40px;line-height: 40px;font-size: 14px;color: #fff;border: 1px solid #fff;border-radius: 2px;background: none;padding: 0 30px;cursor: pointer;    transition: all .3s;
	-o-transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;}
.sevice-emply-process-btn:hover{background: #fff;color: #232323;text-decoration: none;}
/*修改swiper的样式*/
.swiper-button-next, .swiper-button-prev{margin-top: -76px;font-size: 32px;color: #fff;line-height: 64px !important;width: 60px;height: 60px;border-radius: 50%;transition: all .3s;box-sizing: border-box;background-color: rgba(0,0,0,.2);text-align: center;background-image: none;text-indent: 10px;opacity: 0 !important;}
.swiper-container:hover .swiper-button-next, .swiper-container:hover .swiper-button-prev{opacity: 1 !important;}
.swiper-container:hover .swiper-button-next.swiper-button-disabled,.swiper-container:hover .swiper-button-prev.swiper-button-disabled{opacity: .35 !important;}
.swiper-button-next:hover{background-color: rgba(0,0,0,.4);border: none;}
.swiper-slide img{width: 1300px;margin: 0 auto;display: block;}
.swiper-pagination-bullet{width: 44px;height: 2px;display: inline-block;background: #E4E4E4;border-radius: 0;text-align: center;}
.swiper-pagination-bullet.swiper-pagination-bullet-active{background: #CCCCCC;}
.swiper-pagination.swiper-pagination-hidden{opacity: 1;}
.swiper-wrapper{margin-bottom: 96px;}
.swiper-pagination{margin-bottom: 40px;}
.swiper-container{border-bottom: 1px solid #e5e5e5;}
.swiper-button-next{text-indent: 22px;}
.sevice-emply-partnerMain .swiper-slide img{width: 100%;}
.sevice-emply-partnerMain .swiper-button-next{text-indent: 5px;}
.sevice-emply-partnerMain .swiper-button-prev{text-indent: -5px;}
.sevice-emply-partnerMain .swiper-pagination-bullet{background: #E5E5E5;opacity: 1;}
.sevice-emply-partnerMain .swiper-pagination-bullet.swiper-pagination-bullet-active{background: #8d8d8f;}
.partnerMain-m{display: none;}

/*服务类型按钮*/
.service-apply-typeBtn{
	margin-top: 8px;font-size: 13px;color: #232323;padding: 0 10px;min-width: 130px;border: 1px solid #E5E5E5;float: left;margin-right: 10px;border-radius: 2px;box-sizing: border-box;
	height: 40px;line-height: 38px;cursor: pointer;text-align: center;}
/*.service-apply-typeBtn:nth-child(n+4){margin-top: 10px;}*/
.service-apply-typeBtn:last-child{margin-right: 0;}
.service-apply-typeBtn.choosez{color: #232323;border-color: #4C4948;}
/*文件上传*/
.needToQuote_upload{position: relative;vertical-align: middle;}
.needToQuote_upload #upload01 {height: auto;margin-top: -3px;}
#upload01>div{/*overflow: hidden;*/position: relative;}
.needToQuote_upload span {display: inline-block;vertical-align: middle;line-height: 20px;}
.needToQuote_upload_icon {display: inline-block;height: 20px;width: 24px;vertical-align: middle;
	background: url(https://img-en.fs.com/zh/includes/templates/fiberstore/images/feisu-suspension.png) -159px -75px;}
.needToQuote-item-muli .needToQuote_upload span i {display: inline-block;font-style: normal;vertical-align: middle;color: #232323;font-size: 14px;overflow: hidden;
	padding: 0px;white-space: nowrap;text-overflow: ellipsis;}
.needToQuote_upload input {position: absolute;left: -175px;top: 0;cursor: pointer;height: 100%;opacity: 0;}
.popup_opinion_submit_file {
	float: left;
}
.popup_opinion_submit_file li b {
	display: inline-block;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 145px;
	overflow: hidden;
}
.popup_opinion_submit_file li i {
	vertical-align: middle;
	font-size: 13px;
	display: block;
	float: right;
	color: #999999;
	font-weight: 600;
	cursor: pointer;
}
.popup_opinion_submit_file li {
	float: left;
	height: 40px;
	line-height: 38px;
	vertical-align: middle;
	box-sizing: border-box;
	color: #6c7073;
	font-size: 13px;
	border: 1px solid #dedede;
	border-radius: 2px;
	padding: 0 10px 0 12px;
	width: 190px;
	cursor: default;
	margin-right: 16px;
	position: relative;
	margin-top: 10px;
}
/* .service-apply-formTit4{padding-top: 10px;} */
.service_time{
	cursor: pointer;
	max-width: 217px;
	padding-right: 10px;
	text-align: right;
	height:40px;
	line-height: 40px;
	background:rgba(238,249,255,1);
	border:1px solid rgba(0,112,188,1);
	border-radius:2px;
	font-size:13px;
	color:rgba(0,112,188,1);
	white-space: nowrap;
}
.service_time>span{
	margin-right: 10px;
}
/**/
.service-apply-formTextarea{transition: all .2s;border: 1px solid #e5e5e5;border-radius: 2px;width: 100%;padding-left: 10px;box-sizing: border-box;color: #616265;box-shadow: none;
	text-indent: 0;min-height: 100px;box-sizing: border-box;font-size: 13px;line-height: 22px;resize: none;}
/*下拉*/
.new-soluSupt-main-con {position: relative;}
.fs-new-selectCon {position: relative;}
.fs-new-selfSelect {height: 40px;border: 1px solid #e5e5e5;border-radius: 2px;width: 320px;padding-left: 10px;box-sizing: border-box;color: #616265;appearance: none;-moz-appearance: none;
	-webkit-appearance: none;cursor: pointer;position: relative;}
.fs-new-selfSelect-txtBox {height: 40px;line-height: 40px;padding-right: 25px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #232323;font-size: 13px;}
.fs-new-selfSelect-optionBox>.fs-new-selfSelect-optionLi{color: #616265;}
.fs-new-selfSelect-txtBox[dataval='address0']{color: #232323;}
.fs-new-selfSelect .icon {font-size: 13px;display: inline-block;position: absolute;right: 6px;top: 13px;color: #232323;transition: all .3s;}
.fs-new-selfSelect-optionBox {position: absolute;width: 320px;background: #fff;border: 1px solid #e5e5e5;box-sizing: border-box;border-top: 0;display: none;z-index: 10;overflow: auto;}
.fs-new-selfSelect-optionBox.service_type,.fs-new-selfSelect-optionBox.auto{height: auto;}
.fs-new-selfSelect-optionLi {cursor: pointer;line-height: 14px;position: relative;word-wrap: break-word;}
.fs-new-selfSelect-optionLi:hover {text-decoration: underline;}
.fs-new-selfSelect-optionP{padding: 6px 30px 10px 10px;}
.register_main_form_input{width: 100%;-webkit-appearance: none;height: 40px;margin-bottom: 0;}
.get-code{height: 20px;cursor: pointer;border: 0;width: 100px;border-left: 1px solid #e0e0e0;border-bottom-left-radius: 0;background: #fff;border-top-left-radius: 0;outline: none;color: #232323;text-align: center;line-height: 20px;position: absolute;top: 11px;font-size: 14px;right: 1px;}

.error_tip.sa-error{padding-left: 90px;background-position-x:90px;line-height: 17px;height: 16px;background-position-y:1px;margin-top: 5px;font-size: 12px;color: #c00000;}
.error_tip.sa-error.paddingLeft76{padding-left: 76px;background-position-x:76px;}
.error_tip.sa-error.paddingLeft100{padding-left: 86px;background-position-x:86px;}
.error_tip.sa-error.noleft{padding-left: 0;background-position-x:0; }
.error_tip.active{display: none;}
.error_tip{visibility: inherit;}
.menu_02{display: none;}
.popup_opinion_submit_file li{margin-top: 10px}
.needToQuote-item-muli{padding: 0 !important;margin-top: 10px;}
.service-apply-proTr.product{padding-top: 0}
.service-apply-proTr.choosez .service-apply-proDelete-box{display: block;}
.register_main_form_input{text-indent: 10px;}
.FiberStore_login_validate_alert{bottom: -22px;font-size: 14px;}
.matterTitQ,.matterTitA{margin-right: 10px;float: left;}
.matterTitA-newTxt{padding-left: 24px;width:100%;}
.br_m{display: block;}
input::-webkit-input-placeholder { /* WebKit browsers */
	color:#999 !important;
	font-size:    13px;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#999 !important;
	font-size:    13px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#999 !important;
	font-size:    13px;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#999 !important;
	font-size:    13px;
}
input.service-apply-blackInt::-webkit-input-placeholder { /* WebKit browsers */
	color:#616265 !important;
	font-size:    13px;
}
input.service-apply-blackInt:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#616265 !important;
	font-size:    13px;
}
input.service-apply-blackInt::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#616265 !important;
	font-size:    13px;
}
input.service-apply-blackInt:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#616265 !important;
	font-size:    13px;
}
/*登录弹窗*/
.login-tab-panel .register_main_form_input{height: 48px;margin-bottom: 24px;}
.login-tab-panel .psw-eyes{background-position: -24px 18px;}
.phone_number_box{position: relative;}
.phone_number_box>span{display: inline-block;
	height: 38px;
	text-align: center;
	width: 45px;
	line-height: 35px;
	background: rgba(238,238,238,1);
	position: absolute;
	top: 1px;
	left: 1px;
}
.phone_number_box input{
	padding-left: 45px;
}
#upload01{display: flex;justify-content: flex-start;}
.visitUs-welUs-upload-prompt {
	vertical-align: middle;
	position: relative;
	float: left;
	margin-left: 5px;
	cursor: pointer;
}
.visitUs-welUs-upload-prompt .icon {
	color: #999;
	margin-top: 2px;
}
.visitUs-welUs-upload-prompt:hover .visitUs-welUs-prompt-content{
	display: block;
}
.visitUs-welUs-prompt-content {
	position: absolute;
	left: 25px;
	top: -16px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 rgba(51,51,51,.1);
	padding: 3px 10px;
	display: none;
	background-color: #fff;
	z-index: 100;
}
.visitUs-welUs-prompt-arrow {
	position: absolute;
	width: 7px;
	height: 10px;
	left: -7px;
	top: 17px;
	background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/solution_support/3.png) no-repeat -22px -20px;
}
.visitUs-welUs-prompt-content p {
	font-size: 13px;
	color: #999;
	white-space: pre;
}
.new_sam_item{
	margin-bottom: 18px;
}
.sam_item_ul{
	color: #232323;
	line-height: 22px;
	font-size: 14px;
	margin-top: 8px;
}
.sam_item_li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #e5e5e5;
	padding: 15px 10px 15px 0;
}
.sam_item_li:last-child{
	border-bottom: 1px solid #e5e5e5;
}
.sam_item_text{
	padding: 0 70px 0 15px;
}
.sam_item_text_id{
	color: #616265;
	font-size: 13px;
	padding-top: 6px;
}
.sam_item_del{
	cursor: pointer;
}
.sam_item_del_icon{
	color: #4c4948;
	font-size: 14px;
}
@media (max-width: 1220px){
	.box {width: 100%;}
	.service-apply-sinPage-cont{width: 960px;}
	.sevice-emply-processLeft .icon{right: -14px;left: auto;}
	.sevice-emply-casesPo{padding: 45px 20px 0;}
	.sevice-emply-casesPo01{padding: 30px 20px 0;}
	div.box, div.con_box01, div.content, div.product{
		width: 100%;}

}
@media (max-width: 960px){
	.service-apply-formBox{width: 100%;padding: 0 20px 50px;}
	.service-apply-Main{padding: 50px 15px;}
	.service-apply-formTd01{width: 100%;}
	.service-apply-formTd02{width: 100%;}
	.service-apply-addresCont01>div{width: 32%;margin-right: 2%;}
	.service-apply-addresCont01>div:last-child{width: 32%;margin-right: 0;}
	.service-apply-addresCont03>div{width: 50%;margin-right: 0;padding-right: 5px;box-sizing: border-box;}
	.service-apply-addresCont03>div:last-child{padding-left: 5px;padding-right: 0;}
	.service-apply-formTdLe{width: 100%;}
	.service-apply-addresCont04 .service-apply-formTdRt>div{width: 32%;margin-right: 2%;}
	.service-apply-addresCont04 .service-apply-formTdRt>div:last-child{width: 32%;margin-right: 0;}

	.service-apply-sinPage-cont{width: 100%;padding: 0;box-sizing: border-box;}
	.sevice-emply-casesPo {padding: 20px 10px 0;display: block;}
	.sevice-emply-casesPo img {margin-bottom: 15px;}
	.sevice-emply-casesTxt01{font-size: 20px;padding-bottom: 5px;}
	.sevice-emply-casesPo01 {padding: 10px 10px 0;}
	.sevice-emply-casesTxt03{margin-top: 5px;}
	.sevice-emply-casesMain{padding-bottom: 20px;margin-bottom: 20px;}
	.service-apply-sinPage-tit,.service-apply-sinPage-tit01{padding-top: 30px;}
	.sevice-emply-processList{margin-top: 30px;padding-left: 50px;flex-wrap: wrap;}
	.sevice-emply-processList li{width: 50%;margin-right: 0;box-sizing: border-box;min-height: 160px;}
	.sevice-emply-processLeft{padding-left: 58px;}
	.sevice-emply-processLeft .icon{display: none;}
	.service-apply-sinPage-txt{padding: 20px 15px 0;}

}
@media (max-width: 480px){
	.sam_item_text {
		padding: 0 20px 0 15px;
	}
	div.sam_item_img>img {
		width: 70px;
		height: 70px;
	}
	service-apply-formTit{padding-top: 33px;}
	.service-apply-formTit4{padding-top: 28px;}
	.service-apply-formTit2{padding-top:26px;}
	.fs-new-selfSelect,.fs-new-selfSelect-optionBox{width: 100%;}
	.br_m{display: none;}
	.service-apply-banner{height: 220px;}
	.service-apply-bg{height: 220px;background-size: cover;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/s-series/images/on-site-service-banner-bg-m.jpg) no-repeat;background-position: 50% 50%;}
	.service-apply-bg220{height: 220px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/s-series/images/on-site-service-banner-bg-m.jpg) no-repeat center 0;}
	.service-apply-banner-tit{font-size: 26px;line-height: 34px;padding-top: 60px;}
	.service-apply-banner-txt{padding-top: 5px;}
	.service-apply-Main{padding: 30px 15px;}
	.service-apply-formBox{padding: 0 15px 30px;}
	.service-apply-formTit.first-formTit{padding: 25px 0;}
	.service-apply-formTd{width: 100%;padding-right: 0;}
	.service-apply-formTr .service-apply-formTd:nth-child(2){padding-left: 0;}
	.service-apply-formTd01{width: 100%;}
	.service-apply-formTr.last-formTr .service-apply-formTd:nth-child(1){margin-bottom: 0;}
	.service-apply-addresCont02 .service-apply-formTr:last-child{margin-bottom: 0;}
	.service-apply-typeBtn{padding: 0 10px;margin-right: 2%;min-width: inherit;}
	.service-apply-proTr .service-apply-proTd:first-child{width: 100%;display: block;}
	.service-apply-proTr .service-apply-proTd:nth-child(2){width: 100%;display: block;padding: 0 0 0 90px;box-sizing: border-box;}
	.service-apply-proTr.apply-proHead{padding: 0;}
	.service-apply-proTr.apply-proHead .service-apply-proTd{display: none;}
	.service-apply-proTr{padding: 0 0 15px;}
	.service-apply-formSub-btn{font-size: 14px;padding: 0 34px;}
	.sevice-emply-process-btnBox{margin-top: 0;}
	.sevice-emply-matterList{padding: 0 15px;}
	.sevice-emply-matterList-main dt{padding: 15px 0px;}
	.sevice-emply-matterList li:first-child .sevice-emply-matterList-main dt{display: flex;align-items: center;justify-content: space-between;}
	.sevice-emply-matterList-main dt>span{display: inline-block;}
	.sevice-emply-matterList-main dt div {margin-right: 10px;}
	.sevice-emply-matterList-main dd{padding: 0px 0 20px;}
	.sam_container_con .sam_pprice{display: none;}

	.sevice-emply-casesBg{display: none;}
	.sevice-emply-casesBgM{display: block;}
	.sevice-emply-casesBg-single{display: none;}
	.sevice-emply-casesBg-singleM{display: block;}
	.service-apply-banner-btnBox{margin-top: 16px;}
	.service-apply-sinPage-tit, .service-apply-sinPage-tit01{font-size: 20px;padding-top: 35px;}
	.sevice-emply-processBox{padding-bottom: 42px;}
	.sevice-emply-processList li{width: 100%;min-height: inherit;margin-bottom: 30px;}
	.service-apply-tecBox{margin: 34px 0 20px;}
	.service-apply-tecBox li{width: 100%;margin-bottom: 24px;}
	.sevice-emply-processList{padding-left: 90px;}
	.sevice-emply-casesList li{width: 100%;}
	.sevice-emply-casesBgM{width: 100%;}
	.sevice-emply-casesList01.sevice-emply-casesList>li:nth-child(1){width: 100%;}
	.sevice-emply-casesList01.sevice-emply-casesList>li:nth-child(2){width: 100%;}
	.sevice-emply-casesMain{margin: 20px 0 0;padding-bottom: 10px;}
	.sevice-emply-casesPo{padding: 50px 15px 0;}
	.sevice-emply-casesTxt{font-size: 14px;line-height: 24px;}
	.sevice-emply-casesPo .sevice-emply-casesTxt:last-child{padding-top: 17px;}
	.sevice-emply-casesPo01{padding: 25px 15px 35px;}
	.sevice-emply-casesTxt03{margin-top: 15px;}
	.sevice-emply-casesTxt01{padding-bottom: 10px;}
	.sevice-emply-partnerTxt{padding: 10px 15px 44px;}
	.partnerMain-pc{display: none;}
	.partnerMain-m{display: block;margin: 0 15px;}
	.service-apply-sinPage-txt{padding: 5px 15px 0;}
	.service-apply-brPc{display: none;}
	.service-apply-formTr .service-apply-formTd.company_name{padding-left: 0;}
	.service-apply-formTr .service-apply-formTd.company_name .service-apply-formTd01{width: 25%;}
	.service-apply-formTd02.sam_online{padding-right: 0;}
}

.big_input{transition:all .2s;border:1px solid #e5e5e5;line-height:40px;height:40px;width:232px;text-indent:10px;font-size:13px;font-family:Open Sans;color:#232323;border-radius:2px;vertical-align:middle;}
.error_prompt{clear:both;display:block;color:#c00000;padding-top:5px;font-size:13px;}
.input100{width:100%;}
.af{background-position:0 0;}
.al{background-position:-60px 0;}
.dz{background-position:-100px 0;}
.as{background-position:-120px 0;}
.ad{background-position:-140px 0;}
.ao{background-position:-160px 0;}
.ai{background-position:-180px 0;}
.aq{background-position:-200px 0;}
.ag{background-position:-220px 0;}
.ar{background-position:-260px 0;}
.am{background-position:-280px 0;}
.aw{background-position:-300px 0;}
.au,.hm{background-position:-340px 0;}
.at{background-position:-360px 0;}
.az{background-position:-380px 0;}
.bs{background-position:-400px 0;}
.bh{background-position:-420px 0;}
.bd{background-position:-440px 0;}
.bb{background-position:-460px 0;}
.be{background-position:-20px -20px;}
.bz{background-position:-40px -20px;}
.bj{background-position:-60px -20px;}
.bm{background-position:-80px -20px;}
.bt{background-position:-100px -20px;}
.bo{background-position:-120px -20px;}
.ba{background-position:-140px -20px;}
.bw{background-position:-160px -20px;}
.br{background-position:-200px -20px;}
.io{background-position:-220px -20px;}
.bn{background-position:-240px -20px;}
.bg{background-position:-260px -20px;}
.bf{background-position:-280px -20px;}
.kh{background-position:-320px -20px;}
.cm{background-position:-340px -20px;}
.ca{background-position:-360px -20px;}
.cv{background-position:-380px -20px;}
.ky{background-position:-440px -20px;}
.td{background-position:-480px -20px;}
.cl{background-position:0 -40px;}
.cn{background-position:-20px -40px;}
.cx{background-position:-40px -40px;}
.cc{background-position:-80px -40px;}
.co{background-position:-100px -40px;}
.km{background-position:-140px -40px;}
.cg{background-position:-160px -40px;}
.ck{background-position:-200px -40px;}
.cr{background-position:-220px -40px;}
.ci{background-position:-240px -40px;}
.hr{background-position:-260px -40px;}
.cy{background-position:-320px -40px;}
.cz{background-position:-340px -40px;}
.dk{background-position:-360px -40px;}
.dj{background-position:-380px -40px;}
.dm{background-position:-400px -40px;}
.do{background-position:-420px -40px;}
.ec{background-position:-440px -40px;}
.eg{background-position:-460px -40px;}
.sv{background-position:-480px -40px;}
.gq{background-position:-20px -60px;}
.er{background-position:-40px -60px;}
.ee{background-position:-60px -60px;}
.et{background-position:-80px -60px;}
.fk{background-position:-120px -60px;}
.fj{background-position:-180px -60px;}
.fi,.ax{background-position:-200px -60px;}
.fr{background-position:-220px -60px;}
.tf{background-position:-240px -60px;}
.gf{background-position:-260px -60px;}
.ga{background-position:-280px -60px;}
.gm{background-position:-320px -60px;}
.ge{background-position:-340px -60px;}
.de{background-position:-360px -60px;}
.gh{background-position:-380px -60px;}
.gi{background-position:-400px -60px;}
.gr{background-position:-420px -60px;}
.gl{background-position:-440px -60px;}
.gd{background-position:-460px -60px;}
.gt{background-position:0 -80px;}
.gu{background-position:-20px -80px;}
.gg{background-position:-40px -80px;}
.gn{background-position:-60px -80px;}
.gw{background-position:-80px -80px;}
.gy{background-position:-100px -80px;}
.ht{background-position:-120px -80px;}
.hn{background-position:-160px -80px;}
.hk{background-position:-180px -80px;}
.hu{background-position:-200px -80px;}
.is{background-position:-240px -80px;}
.in{background-position:-280px -80px;}
.id{background-position:-300px -80px;}
.ie{background-position:-360px -80px;}
.il{background-position:-420px -80px;}
.it{background-position:-440px -80px;}
.jm{background-position:-460px -80px;}
.jp{background-position:-480px -80px;}
.je{background-position:0 -100px;}
.jo{background-position:-20px -100px;}
.kz{background-position:-40px -100px;}
.ke{background-position:-60px -100px;}
.ki{background-position:-80px -100px;}
.kw{background-position:-120px -100px;}
.kg{background-position:-140px -100px;}
.lv{background-position:-180px -100px;}
.ls{background-position:-220px -100px;}
.lr{background-position:-240px -100px;}
.li{background-position:-280px -100px;}
.lt{background-position:-300px -100px;}
.lu{background-position:-320px -100px;}
.mk{background-position:-360px -100px;}
.mg{background-position:-380px -100px;}
.mw{background-position:-400px -100px;}
.my{background-position:-420px -100px;}
.mv{background-position:-440px -100px;}
.ml{background-position:-460px -100px;}
.mt{background-position:-480px -100px;}
.mh{background-position:0 -120px;}
.mq{background-position:-20px -120px;}
.mr{background-position:-40px -120px;}
.mu{background-position:-60px -120px;}
.yt{background-position:-80px -120px;}
.mx{background-position:-100px -120px;}
.fm{background-position:-120px -120px;}
.md{background-position:-140px -120px;}
.mc{background-position:-160px -120px;}
.mn{background-position:-180px -120px;}
.me{background-position:-200px -120px;}
.ms{background-position:-220px -120px;}
.ma{background-position:-240px -120px;}
.mz{background-position:-260px -120px;}
.mm{background-position:-280px -120px;}
.na{background-position:-300px -120px;}
.nr{background-position:-340px -120px;}
.np{background-position:-360px -120px;}
.an{background-position:-380px -120px;}
.nl{background-position:-400px -120px;}
.nz{background-position:-440px -120px;}
.ne{background-position:-480px -120px;}
.ng{background-position:0 -140px;}
.nu{background-position:-20px -140px;}
.nf{background-position:-40px -140px;}
.mp{background-position:-120px -140px;}
.no,.bv{background-position:-140px -140px;}
.om{background-position:-220px -140px;}
.pk{background-position:-260px -140px;}
.pw{background-position:-280px -140px;}
.ps{background-position:-300px -140px;}
.pa{background-position:-320px -140px;}
.pg{background-position:-340px -140px;}
.py{background-position:-360px -140px;}
.pe{background-position:-380px -140px;}
.ph{background-position:-400px -140px;}
.pn{background-position:-420px -140px;}
.pl{background-position:-440px -140px;}
.pt{background-position:-460px -140px;}
.pr{background-position:-480px -140px;}
.qa{background-position:0 -160px;}
.ro{background-position:-60px -160px;}
.ru{background-position:-80px -160px;}
.rw{background-position:-100px -160px;}
.lc{background-position:-160px -160px;}
.ws{background-position:-220px -160px;}
.sm{background-position:-240px -160px;}
.st{background-position:-260px -160px;}
.sa{background-position:-280px -160px;}
.sn{background-position:-320px -160px;}
.rs{background-position:-340px -160px;}
.sc{background-position:-360px -160px;}
.sl{background-position:-380px -160px;}
.sg{background-position:-400px -160px;}
.sk{background-position:-440px -160px;}
.si{background-position:-460px -160px;}
.sb{background-position:-480px -160px;}
.za{background-position:-40px -180px;}
.es{background-position:-120px -180px;}
.lk{background-position:-140px -180px;}
.kn{background-position:-160px -180px;}
.vc{background-position:-180px -180px;}
.sr{background-position:-220px -180px;}
.sj{background-position:-240px -180px;}
.sz{background-position:-260px -180px;}
.se{background-position:-280px -180px;}
.ch{background-position:-300px -180px;}
.tw{background-position:-360px -180px;}
.tj{background-position:-380px -180px;}
.tz{background-position:-400px -180px;}
.th{background-position:-420px -180px;}
.tl{background-position:-440px -180px;}
.tg{background-position:-460px -180px;}
.tk{background-position:-480px -180px;}
.to{background-position:0 -200px;}
.tt{background-position:-20px -200px;}
.tn{background-position:-60px -200px;}
.tr{background-position:-80px -200px;}
.tm{background-position:-100px -200px;}
.tc{background-position:-120px -200px;}
.tv{background-position:-140px -200px;}
.ug{background-position:-160px -200px;}
.ua{background-position:-180px -200px;}
.ae{background-position:-240px -200px;}
.gb,.gs,.im{background-position:-260px -200px;}
.us{background-position:-320px -200px;}
.uy{background-position:-340px -200px;}
.uz{background-position:-360px -200px;}
.vu{background-position:-380px -200px;}
.va{background-position:-400px -200px;}
.vn{background-position:-440px -200px;}
.vg{background-position:-460px -200px;}
.vi{background-position:-480px -200px;}
.eh{background-position:-40px -220px;}
.zm{background-position:-120px -220px;}
.fo{background-position:-180px -220px;}
.gp{background-position:-200px -220px;}
.kr{background-position:-220px -220px;}
.la{background-position:-240px -220px;}
.mo{background-position:-280px -220px;}
.ic{background-position:-320px -220px;}
.pf{background-position:-380px -220px;}
.sh{background-position:-400px -220px;}
.re{background-position:-220px -60px;}
.pm{background-position:-220px -60px;}
.wf{background-position:-220px -60px;}
.nc{background-position:-220px -60px;}
.error_prompt{font-size:13px;color:#c00000;line-height:18px;padding-top:4px;margin-bottom:10px;display:block;}
input::-webkit-input-placeholder{color:#8d8d8f;}
input:-moz-placeholder{color:#8d8d8f;}
input::-moz-placeholder{color:#8d8d8f;}
input:-ms-input-placeholder{color:#8d8d8f;}
.showMore{float:right;width:20px;height:20px;margin-top:14px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/index_icon.png) -11px -7px no-repeat;}
.big_input:focus{border:1px solid #8d8d8f;}
.input100{box-sizing:border-box;}
.ce_form_choose_country{border:1px solid #e5e5e5;position:relative;border-radius:3px;padding-left:38px;font-size:13px;color:#232323;width:100%;box-sizing:border-box;height:40px;z-index:10;}
.ce_form_choose_country p{position:absolute;width:100%;height:100%;cursor:default;left:0;text-indent:33px;line-height:40px;}
.ce_form_countryList li em{top:5px;left:10px;}
.ce_form_choose_country em{
	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/country.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 10px;
	top: 13px;
	background-position: -400px -160px;
}
.ce_form_choose_country .showMore{float:right;width:20px;height:20px;margin-top:14px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat right -482px #fff;}
.ce_form_searchCountry{width:100%;text-align:left;height:auto;clear:both;position:absolute;top:37px;z-index:1111;background:#fff;border:1px solid #e5e5e5;border-top:none;display:none;left:-1px;padding-top:10px;}
.ce_form_search_input{width:100%;line-height:28px;background-color:#f7f7f7;text-indent:10px;font-size:13px;color:#8d8d8f;border:none;margin-bottom:10px;}
.ce_form_search_block{padding:0 10px;position:relative;}
.ce_form_countryList{position:relative;height:215px;overflow-y:scroll;overflow-x:hidden;padding:0 4px;-webkit-overflow-scrolling:touch;}
.ce_form_countryList li{width:100%;height:30px;line-height:20px;}
.ce_form_countryList li:hover{text-decoration:underline;}
.ce_form_countryList li a{text-decoration:none;color:#232323;line-height:15px;position:relative;display:block;padding:5px 0 5px 32px;font-size:13px;}
.error_prompt{display:none;}

@media (max-width:960px){
	a:hover{text-decoration:none!important;}
}
@media (max-width:480px){
	.sam_position .sam_div_content{width:100%;margin-bottom:15px;}
	.sam_position .sam_wrapp{margin-bottom:0;}
}

.shoppingem{color:#616265;font-style:normal;font-size:13px;margin-left:5px;}
.sam_popup_con_tit{font-size:13px;color:#616265;line-height:20px;padding-bottom:5px;}
.sam_div_content{width:48%;margin-right:20px;float:left;}
.sam_div_content.full{margin-right: 0;width: 100%;}
.sam_right{margin-right:0;}
.input100{box-sizing:border-box;border:1px solid #e5e5e5;font-size:13px;color:#232323;}
.sam_wrapp:after{content:"";display:block;clear:both;}
.sam_wrapp{margin-bottom:15px;}
@media (max-width:600px){
	.sam_div_content{margin-right:0;width: 100%;}
	.sam_right{float:right;margin-top: 20px;}
}




.pro_mun{width:25px;border:1px solid #e5e5e5;border-left:0;border-radius:0 2px 2px 0;float:left;}
.pro_mun{width:25px;border:1px solid #e5e5e5;border-left:0;border-radius:0 2px 2px 0;float:left;transition:all .2s;}
.cart_qty_reduce{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -180px -211px;height:18px;cursor:pointer;display:block;}
.cart_qty_add{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -180px -332px;height:18px;cursor:pointer;display:block;}
.cart_reduce{margin-left:0;}
@media (max-width:1220px){
	.cart_qty_reduce{margin-left:0;}
}
.pro_mun{max-height:38px;padding:3px 5px 3px 0;box-sizing:border-box;width:21px;}
.cart_qty_add,.cart_qty_reduce{height:15px;}
.cart_qty_add{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -185px -338px;}
.cart_qty_reduce{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -185px -210px;}
.cart_qty_add:hover,.cart_qty_reduce:hover{background-color:#e5e5e5;}

@media (max-width:960px){
	a:hover{text-decoration:none!important;}
}

.sam_left_item img{width:70px;height:70px;}
.sam_request_input{width:45px;text-align:center;height:38px;line-height:34px;text-indent:0;border-radius:3px 0 0 3px;float:left;border:1px solid #e5e5e5;border-right:none;box-sizing:border-box;}
.pro_mun{width:25px;border:1px solid #e5e5e5;border-left:0;border-radius:0 3px 3px 0;float:left;border-left:none;}
.cart_qty_add{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -185px -338px;height:18px;cursor:pointer;display:block;}
.cart_qty_reduce{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat -185px -211px;height:18px;cursor:pointer;display:block;}
.sam_div{display:inline-block;float:left;padding:1px 0;box-sizing:border-box;}
.sam_item_tit:after{content:"";display:block;clear:both;}
.sam_item_tit .sam_div{font-size:13px;color:#616265;line-height:22px;box-sizing:border-box;}
.sam_left_item{width:12%;}
.sam_online{width:50%;padding-left:10px;padding-right:20px;}
.sam_pprice{width:17%;}
.sam_Request{width:15%;}
.sam_Delete{width:6%;}
.sam_container_con .sam_pprice{margin-top:24px;}
.sam_container_con:after{content:"";display:block;clear:both;}
.sam_Request_number:after{content:"";display:block;clear:both;}
.sam_container_con{border-bottom:1px solid #e5e5e5;padding:10px 0;box-sizing:border-box;}
.sam_item_tit{padding-bottom:6px;border-bottom:1px solid #e5e5e5;}
.sam_online input,.sam_Request_number{vertical-align:middle;margin-top:17px;}
.sam_Request_number{position:relative;display:none;}
.sam_Request_number .input_disable{position:absolute;width:71px;height:36px;background:#fff;opacity:0.6;border-radius:3px;top:0px;left:0px;display:block;cursor:no-drop;}
.sam_Delete_icon{vertical-align:middle;margin-top:25px;text-align:right;}
.sam_Delete_icon .icon{color:#999;cursor:pointer;}
.sam_product_txt{font-size:13px;color:#232323;line-height:20px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;max-height:40px;}
.sam_product_txt a:hover{color:#232323!important;text-decoration:underline;}
.sam_describe{font-size:13px;color:#999;padding-top:2px;display:block;}
.sam_online a:hover{color:#0070BC;}
@media (max-width:960px){
	.sam_item_tit .sam_div{display:none;}
}
@media (max-width:600px){
	.sam_left_item{width:24%;}
	.sam_online{width:76%;min-height:72px;padding-right:0;}
	.sam_Request{width:auto;margin-left:27.5%;}
	.sam_Delete{width:auto;margin-left:20px;}
}
@media (max-width:480px){
	.sam_Delete{float:right;display: none;}
	.sam_pprice{padding-left:28%;}
}
.sam_more{font-size:13px;color:#232323;font-weight:400;line-height:20px;padding-top:9px;display:inline-block;cursor:pointer;}
.sam_more .icon{font-size:14px;padding-right:10px;}




.ce_form_sel{width:100%;position:relative;font-family:Open Sans;}
div.ce_form_sel_result{width:100%;height:40px;border:1px solid #e5e5e5;border-radius:3px;position:relative;cursor:pointer;box-sizing:border-box;}
.ce_form_sel_result p{font-size:13px;color:#232323;line-height:40px;text-indent:10px;}
.ce_form_sel_result span{position:absolute;width:20px;height:20px;top:14px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/bg2016.png) no-repeat right -482px #fff;right:0;}
.ce_form_sel_list{position:absolute;top:40px;box-sizing: border-box;left:0;width:100%;border:1px solid #ccc;border-top:0;background:#fff;display:none;border-bottom-left-radius:2px;border-bottom-right-radius:2px;z-index:10;}
.ce_form_sel_list ul{position:relative;overflow-x:hidden;overflow-y:auto;margin:11px 10px;padding:0 0 0 4px;max-height:240px;}
.ce_form_sel_list li{padding-top:0;display:list-item;cursor:pointer;margin-bottom:10px;list-style:none;line-height:20px;font-size:13px;color:#232323;}
.ce_form_sel_list li:hover{text-decoration:underline;}
.ce_form_sel_list li:last-child{margin-bottom:0;}
.serve_ui_fixed_alert.ui_fixed_alert {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFF;
	z-index: 101;
	box-sizing: border-box;
	box-shadow: 0 1px 13px #999;
	border-radius: 2px;
	padding-bottom: 40px;
	/* display: none; */
}
.service-apply-loading{position: relative;height:50px;clear: left;padding-top: 25px;display: none;}
.service-apply-loading #loader_order_alone{width: 38px;margin-top: 0;}
.service-apply-loading #loader_order_alone .path{animation: dash 1.5s ease-in-out infinite,service-apply-loading-color 6s ease-in-out infinite;}
@keyframes service-apply-loading-color{0%,100%{stroke:#bbb}
	40%{stroke:#bbb}
	66%{stroke:#bbb}
	80%,90%{stroke:#bbb}
}
/*
新加坡安装样式
 */
.sg_door_checkout_span{font-size: 13px;color: #616265;line-height: 22px;margin-left: 20px;}
.sg_door_radio{font-size: 14px;color: #616265;cursor: pointer;margin-right: 4px;}
.sg_door_time_container{background: #fff;padding: 0px 20px 0px 0px;box-sizing: border-box;}
.sg_door_time_tit{font-size: 13px;color: #616265;line-height: 22px;padding-bottom: 4px;}
.sg_door_time{transition: all .2s;border-radius: 2px;cursor: pointer;background: #EDF8FF;font-size: 13px;color: #0070BC;padding: 0 12px;display: inline-block;height: 40px;border: 1px solid #0070BC;box-sizing: border-box;line-height: 38px;}
.sg_door_time:hover{background: #0070BC;color: #fff;}
.sg_door_time .icon{transition: all .2s;font-size: 16px;color: #0070BC;margin-right: 6px;}
.sg_door_time:hover .icon{color: #fff;}
.data_time_delivery_change{text-align: center;}
.data_time_delivery_change_close{float: right;font-size: 18px;cursor: pointer;color: #787777;display: inline-block;width: 18px;height: 18px;transition: all .2s;}
.data_time_delivery_change .data_time_tit{text-align: left;}
.data_time_delivery_txt{font-size: 14px;color: #232323;line-height: 24px;}
.data_time_delivery_container{padding: 0 40px;box-sizing: border-box;padding-bottom: 40px;padding-top: 16px;text-align: left;}
.data_time_delivery_change .popup_width480{left: inherit;top: inherit;position: initial;transform: none;display: inline-block;vertical-align: middle;margin: 0;}
.data_time_btn_container .data_time_btn{float: right;margin-left: 10px;}
.data_time_btn_container:after{content:"";display:block;clear:both;}
.sg_door_time_Prompt{font-size: 13px;color: #C00000;line-height: 22px;margin-bottom: -3px;margin-top: 4px;}
.sg_door_time_confirm{border-radius: 2px;font-size: 13px;color: #232323;border: 1px solid #ccc;height: 40px;line-height: 40px;box-sizing: border-box;text-align: center;padding: 0 12px;display: inline-block;}
.sg_door_time_checked_items{font-size: 13px;color: #616265;line-height: 22px;margin-bottom: -3px;margin-top: 4px;}
.sg_door_time_confirm.choose{background: #e5e5e5;color: #999;}
.sg_door_radio_empty{display: inline-block;width: 15px;height: 15px;border: 1px solid #ccc;background: #e5e5e5;border-radius: 2px;box-sizing: border-box;margin-right: 4px;vertical-align: middle;margin-top: -2px;}
.sg_door_time_pro{font-size: 13px;color: #999;padding: 16px 20px 18px 20px;box-sizing: border-box;border-top: 1px solid #e5e5e5;}



.time{width:590px;margin:0 auto;overflow:hidden}
.date{width:830px}
.date ul:after{content:"";display:block;clear:both}
.date li{float:left;list-style:none;text-align:center;width:110px;margin-right:10px}
.date li:last-child{margin-right:0}
.date li:last-child .hours a{margin-right:0}
.hours{margin-top:10px}
.hours a{transition: all .2s;text-decoration:none;display:block;width:100%;height:40px;border-radius:2px;box-sizing:border-box;border:1px solid #ccc;color:#232323;line-height:40px;margin-bottom:10px;font-size:13px;color:#232323}
.hours a:last-child{margin-bottom:0}
.hours a.choose{border:2px solid #616265;line-height:38px}
.hours a.invalid{cursor:default;background-color:#e5e5e5;border-color:#e5e5e5;color:#999}
.hours a:hover{border-color: #8d8d8f;}
.hours a.invalid:hover{border-color: #e5e5e5;}
.hours a.choose:hover{border-color: #616265;}
.data_time{text-align:center}
.data_time:before{content:"";height:100%;display:inline-block;vertical-align:middle;box-sizing:border-box}
.data_time .popup_width680{position:relative;text-align:left;margin-left:0;margin-top:0;display:inline-block;left:0;top:0;vertical-align:middle}
.data_time_tit{font-size:16px;color:#232323;line-height:56px;height:56px;padding:0 20px;box-sizing:border-box;font-weight:400;border-bottom:1px solid #e5e5e5}
.data_time_close{float:right;font-size:18px;cursor:pointer;color:#787777;display:inline-block;width:18px;height:18px;transition:all .2s}
.data_time_close:hover{color:#333}
.data_time_container{padding:0 40px;box-sizing:border-box;padding-top:14px;padding-bottom:40px;position:relative}
.date li span{font-size:13px;color:#232323;line-height:22px}
.data-time-tit{font-weight:600;font-style:normal}
.data_time_btn_container{text-align:right;margin-top:30px}
.data_time_btn{width:110px;height:40px;text-align:center;line-height:40px;background:#c00000;color:#fff;font-size:14px;display:inline-block;transition:all .2s;border-radius:2px;outline: none;
	border: none;}
.data_time_btn:hover{background:#9b0912;color:#fff;text-decoration:none}
.left_slide,.right_slide{position:absolute;display:inline-block;color:#787777;font-size:16px;cursor:pointer;z-index:2}
.left_slide{left:45px;top:25px}
.right_slide{right:45px;top:25px}
.left_slide::selection{background:0 0}
.right_slide::selection{background:0 0}
.data_time .popup_width680{max-height: inherit;overflow: inherit;}
.data_time_btn_White{color: #616265;border:1px solid #ccc;background: #fff;box-sizing: border-box;}
.data_time_btn_White:hover{border-color: #8d8d8f;background: #fff;color: #232323;}
@media (max-width:700px){.data_time .popup_width680{width:430px}
	.time{width:350px}
	.left_slide{left: 35px;}
	.right_slide{right: 35px;}
}
@media (max-width:480px){.data_time:before{display:inline-block;height:initial;display:none}
	.data_time .popup_width680{width:100%;height:100%}
	.time{width:100%}
	.data_time_container{padding-left:20px;padding-right:20px}
	.left_slide{left: 15px;}
	.right_slide{right: 15px;}
}
.time_Prompt{font-size: 13px;color: #C00000;line-height: 22px;padding-top: 6px;margin-bottom: -12px;}

