.content { padding: 0; }
h1, h2, h3, p, ul, li, dl, dt, dd, input, select, form, div { margin: 0; padding: 0; }
/*样式 开始*/
.categories_introduce { width: 100%; margin-top: 50px; margin-bottom: 50px; }
.categories_introduce_tittle { font-size: 28px; color: #363636; font-weight: 400; margin-bottom: 12px; }
.categories_introduce_txt { font-size: 22px; color: #8b8b8f; font-weight:400; }
.categories_classification { margin-bottom: 50px; width: 100%; }
.categories_classification_tittle01 { font-size: 24px; color:#363636; font-weight: 400; display: inline-block; margin-right: 12px; }
.categories_classification_tittle02 { font-size: 14px; color: #000; border-left: 1px solid #232323; display: inline-block; padding-left: 8px; font-weight:400; }
.categories_classification_main { width: 100%; height:300px; margin-top: 15px; }
.categories_classification_main li { list-style: none; height: 100%; float: left; }
.categories_classification_main_left {width: 25%; background-color: #f9f9f9; margin-right:1%; }
.categories_classification_main_left_href { display: block; text-decoration: none; text-indent: 20px; font-size: 14px; color: #000; padding:26px 20px 0 20px; font-weight:400; }
.categories_classification_main_left_href:hover { color: #e23333; }
.categories_classification_main_mid { width: 50%; height: 100%; position: relative; }
.categories_classification_main_mid_main { display: block; width: 100%; height: 100%; text-decoration: none; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/all_en_pic.jpg) no-repeat; position: relative;  transition: all .5s ease;
}
.categories_classification_main_mid_main:hover { box-shadow: 5px 5px 10px #e5e5e5 }
.categories_classification_main_mid_content { position: absolute; width: 320px; top: 62px; left: 40px; }
.categories_classification_main_mid_content_tittle { color: #363636; font-size: 24px; font-weight: normal; margin-bottom: 15px; line-height:30px; }
.categories_classification_main_mid_content_txt { color: #000; font-size: 16px; line-height: 24px; font-weight:400; }
.categories_classification_main_mid_content_more { display: block; width: 120px; height: 38px; border-radius: 3px; background-color: #534d4b; color: #fff; text-align: center; line-height: 38px; margin-top: 16px; font-size: 15px; }
.categories_classification_main_right { width:23%; height: 100%; margin-left:1%; }
.categories_classification_main_right_top { width: 100%; height: 145px; display: block; text-decoration: none; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/all_en_pic01.jpg) no-repeat center #f9f9f9; margin-bottom: 10px;  transition: all .5s ease;
}
.categories_classification_main_right_top:hover { box-shadow: 5px 5px 10px #e5e5e5 }
.categories_classification_main_right_bottom { width: 100%; height: 145px; display: block; text-decoration: none; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/all_en_pic02.jpg) no-repeat center #f9f9f9;  transition: all .5s ease;
}
.categories_classification_main_right_bottom:hover { box-shadow: 5px 5px 10px #e5e5e5 }
.categories_classification_slide { width: 100%; margin-bottom: 60px; }
.categories_classification_slide_tittle { color: #232323; font-size: 22px; text-align: center; font-weight:400; margin-bottom: 10px; }
.categories_classification_slide_txt { color: #232323; font-size: 14px; text-align: center; font-weight:400; }
.categories_classification_slide_main { width: 100%; margin-top: 35px; position: relative; }
.categories_classification_slide_main_show { width: 1100px; height: 407px; margin: 0 auto; position: relative; overflow: hidden; }
.categories_classification_slide_main ul { position: absolute; left: 0; width: 5159px; height: 100%; }
.categories_classification_slide_main ul li { list-style: none; float: left; width: 348px; height: 405px; border: 1px solid #dedede; margin-right: 25px; }
.categories_classification_slide_main ul li:last-child { margin-right: 0; }
.categories_classification_slide_main_show_pic { width: 100%; height: 227px; display: block; }
.categories_classification_slide_main_show_pic img { width: 100%; height: 100%; }
.categories_classification_slide_main_show_tittle { margin: 25px 20px 15px 20px; font-weight: 400; color: #232323; height: 40px; font-size: 16px; overflow:hidden;}
.categories_classification_slide_main_show_txt { font-size: 14px; color: #232323; padding: 0 20px; height: 60px; font-weight:400; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box; }
.categories_classification_slide_main_show_learnmore { color: #2971ba; display: inline-block; font-size: 14px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/live_bg.png) no-repeat 75px -1011px; padding-right: 10px; text-decoration: none; margin-left: 20px; }
.categories_classification_slide_main_show_learnmore:hover { text-decoration: underline; }
.categories_classification_slide_left { position: absolute; display: block; left: 0; width: 28px; top: 50%; margin-top: -25px; background-color: #b2b2b2; line-height: 48px; cursor: pointer; }
.categories_classification_slide_left i { display: inline-block; width:26px; height: 40px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/menu_bg_01.gif) no-repeat -710px -304px; margin: 0 auto; vertical-align: middle; overflow: hidden; }
.categories_classification_slide_right { position: absolute; display: block; right: 0; width: 28px;  top: 50%; margin-top: -25px; background-color: #b2b2b2; line-height: 48px; cursor: pointer; }
.categories_classification_slide_right i { display: inline-block; width:26px; height: 40px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/menu_bg_01.gif) no-repeat -728px -304px; margin: 0 auto; vertical-align: middle; overflow: hidden; }
.categories_classification_main .categories_classification_main_mid:nth-of-type(1) { background:#f1f4f9;}
.categories_classification:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size: 0;}
/*样式结束*/
@media(max-width:1440px){
}
@media(max-width:1220px) {
}
@media(max-width:960px) {
	.categories_classification_main_left_href{ text-align:center; text-indent:0; padding-top:20px;}
	.categories_classification_main_mid { width:100%; margin-top:20px;}
	.categories_classification_main { position:relative;}
	.categories_classification_main_left { text-align:center; width:49%;}
	.categories_classification_main_right { width:49%; position:absolute; right:0;}
}
@media(max-width:960px) {
	.categories_classification_tittle01 { padding-bottom:10px;}
	.categories_classification_main_left_href {padding-top:15px;font-size: 13px;}
	.categories_classification_main_mid_content { left:10px;}
}
