.menu_02 {
    display: none;
}

.box,
.content {
    width: 100%;
    box-sizing: border-box;
}

.siteMAP-banner {
    height: 200px;
    position: relative;
}

.siteMAP-banner-bg {
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/siteMap_banner.jpg) no-repeat;
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    background-size: cover;
    z-index: -1;
    background-position: 50%;
}

.siteMAP-banner-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 80px;
}

.siteMAP-banner-h2 {
    font-size: 40px;
    color: #fff;
    line-height: 40px;
    font-weight: 400;
}

.siteMAP-nav,
.siteMAP-content {
    background: #fff;
    width: 1420px;
    margin: 0 auto;
}

.siteMAP-nav {
    min-height: 56px;

}

.siteMAP-nav-box {
    background: #fff;
    transition: all .3s;
}

.siteMAP-nav-box.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 5px #ccc;
    transition: all .3s;
}
.siteMAP-nav-box.active ul{
    border: none;
}
.siteMAP-nav-box.active .siteMap_nav{
    width: 1200px;
    margin: 0 auto;
}

.siteMAP-nav-box > div {
    position: relative;
}

.siteMAP-nav-box ul {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}

.siteMAP-nav-box li {
    font-size: 16px;
    color: #616265;
    padding: 16px 0;
    margin-right: 60px;
    cursor: pointer;
    transform: translateY(3px);
}

.siteMAP-nav-box li:hover {
    color: #232323;
}

.siteMAP-nav-box li.active {
    color: #232323;
    border-bottom: 2px solid #4b4947;
}

.siteMAP-content {
}

.siteMAP-content-list {
    width: 100%;
}

.siteMAP-content-item:first-child {
    padding-top: 50px;
}

.siteMAP-content-item:last-child {
    padding-bottom: 50px;
}

.siteMAP-content-item {
    padding-top: 95px;
}

.siteMAP-content-tit {
    font-weight: 600;
    color: #232323;
    font-size: 26px;
    line-height: 22px;
}

.nav-index:nth-child(n + 2) > .siteMAP-content-tit {
    text-decoration: none;
    cursor: inherit;
}

.siteMAP-content-item-ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.siteMAP-content-item-ul li {
    width: 25%;
    transition: all 0.3s ease-out;
}

.siteMAP-content-item-ul li a {
    color: #616265;
    font-size: 14px;
}

.siteMAP-content-item-ul li p {
    margin-top: 10px;
}

.siteMAP-content-item-ul li h2 a {
    display: inline-block;
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}

.siteMAP-banner-h2-m,
.compati-center-listIc {
    display: none;
}

.siteMAP-content a:hover {
    color: #232323;
}

.marginT25 {
    margin-top: 25px;
}

@media (max-width: 1440px) {
    .siteMAP-nav,
    .siteMAP-content{
        width: 1200px;
    }
}

@media (max-width: 1200px) {
    .siteMAP-nav,
    .siteMAP-content,.siteMAP-nav-box.active .siteMap_nav, .siteMAP-nav-box > div {
        width: 960px;
    }
    

}

@media (max-width: 960px) {
    .siteMAP-nav,
    .siteMAP-content, .siteMAP-nav-box.active .siteMap_nav {
        width: 100%;
        box-sizing: border-box;
    }

    .siteMAP-main {
        padding: 0 15px;
    }

    .siteMAP-nav-box li {
        margin-right: 40px;
    }
    
}

@media (max-width: 480px) {
    .siteMAP-content {
        width: 100%;
    }

    .siteMAP-banner {
        display: none;
    }

    .siteMAP-banner-h2-m {
        display: block;
        font-size: 26px;
        font-weight: 400;
        color: #232323;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .siteMAP-content-item-ul li {
        width: auto;
    }

    .siteMAP-content-item-ul div {
        display: flex;
        flex-wrap: wrap;
    }

    .siteMAP-content-item-ul div P {
        margin-right: 30px;
    }

    .siteMAP-content-tit {
        font-size: 20px;
    }

    .siteMAP-content-item {
        padding-top: 45px;
    }

    .siteMAP-nav {
        position: relative;
        height: 40px;
    }

    .siteMAP-nav-box {
        position: relative;
        padding-right: 40px;
    }

    .siteMAP-nav-box > div {
        overflow: hidden;
        overflow-x: auto;
        min-height: 46px;
        transform: translateY(2px);
    }

    .siteMAP-nav-box {
        min-height: 42px;
    }

    .siteMAP-nav-box li {
        padding: 10px 0;
    }

    .siteMAP-nav-box li {
        margin-right: 30px;
        font-size: 14px;
        white-space: nowrap;
    }

    .siteMAP-nav-box > div::-webkit-scrollbar {
        height: 2px;
    }

    .siteMAP-nav-box > div::-webkit-scrollbar-thumb {
        background: #fff;
    }

    .siteMAP-nav-box > div::-webkit-scrollbar-track {
        background: #fff;
    }

    .compati-center-listIc {
        display: block;
        position: absolute;
        top: 18px;
        right: 0;
        font-size: 13px;
        color: #232323;
        height: 100%;
        background: #fff;
        width: 40px;
        text-align: right;
        box-shadow: 0px -1px 24px 20px rgb(255, 255, 255);
        display: inline-block;
        height: 20px;
        z-index: 12;
    }

    .compati-center-listIc .icon {
        font-size: 13px;
        transition: all 0.3s;
        cursor: pointer;
    }

    .siteMAP-nav.choosez .compati-center-listIc .icon {
        transform: rotate(180deg);
        display: inline-block;
    }

    .siteMAP-nav.choosez ul {
        display: block;
        background: #fff;
    }

    .siteMAP-nav.choosez .siteMAP-nav-box {
        border: none;
    }

    .siteMAP-nav.choosez .siteMAP-nav-box li {
        border: none;
    }
}

.siteMAP-main {
    background: #f7f7f7;
    padding-bottom: 40px;
}

.siteMAP-nav, .siteMAP-content, .menu_list_new {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.siteMAP-nav, .siteMAP-content {
    padding: 0 40px 15px;
}

.siteMAP-nav-box.active > div {
    padding: 0 40px;
}

.siteMAP-nav-box li {
    position: relative;
    font-weight: 600;
    color: #89898C;
}

.siteMAP-nav-box li.active {
    border: none;
    color: #19191A;
}

.menu_list_cont dt span {
    color: #89898C;
}

.menu_list_cont {
    padding: 15px 0 20px;
}

.siteMAP-content-tit, .siteMAP-content-item-ul li h2 a {
    color: #19191a;
}

.siteMAP-content-item-ul li {
    width: calc(100% / 3 - 40px);
    padding-right: 40px;
}

.siteMAP-content-item-ul li a {
    color: #646466;
}

.siteMAP-content a:hover {
    color: #19191a;
}

.siteMAP-content-item {
    padding-top: 75px;
}

.siteMAP-content-item:first-child {
    padding-top: 25px;
}

.siteMAP-content-item-ul li h2 a {
    margin-top: 35px;
}

@media (max-width: 1220px) {
    .siteMAP-nav, .siteMAP-content, .siteMAP-nav-box > div, .menu_list_new {
        width: 960px;
    }
}

@media (max-width: 960px) {
    .siteMAP-nav, .siteMAP-content, .siteMAP-nav .siteMAP-nav-box > div, .menu_list_new {
        width: 100%;
    }

    .siteMAP-nav, .siteMAP-content {
        padding: 0 15px 15px;
    }

    .siteMAP-nav-box.active > div {
        padding: 0 30px;
    }

    .siteMAP-nav-box li {
        margin-right: 25px;
    }
    .siteMAP-nav-box ul{border-bottom: none;}
    .siteMAP-nav-box{border-bottom: 1px solid #e5e5e5;}
    .siteMAP-nav-box li.active .line {display: inline-block;width: 40px;height: 3px;background: #C00000;border-radius: 3px;position: absolute;bottom: -2px;left: 50%;transform: translateX(-50%);}
    .siteMAP-nav-box.active{top: 48px;}
    .siteMAP-nav-box.active{box-shadow: 0px 1px 4px 0px rgba(0,0,0,.1);border-bottom: none;}
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
    .siteMAP-main {
        background: #fff;
    }

    .siteMAP-main, .menu_list_cont {
        padding: 0;
    }

    .siteMAP-banner-h2-m {
        padding-left: 15px;
    }

    .siteMAP-content-item-ul li {
        width: 100%;
        padding-right: 0;
    }

    .siteMAP-nav-box li {
        font-weight: 400;
    }

    .siteMAP-nav-box li.active {
        font-weight: 600;
    }

    .siteMAP-nav.choosez .siteMAP-nav-box li.active .line {
        display: none;
    }

    .siteMAP-content-item-ul li h2 a {
        margin-top: 30px;
    }

    .siteMAP-content-item {
        padding-top: 45px;
    }

    .siteMAP-nav-box li.active .line {
        bottom: -1px;
    }

    .siteMAP-nav.choosez .siteMAP-nav-box > div {
        position: absolute;
        left: 0;
    }

    .siteMAP-nav.choosez {
        padding: 0 0 15px;
    }

    .siteMAP-nav.choosez .siteMAP-nav-box ul {
        padding: 0 15px 15px;
    }

    .siteMAP-nav.choosez .compati-center-listIc {
        right: 20px;
    }

    .country_bg_nav {
        top: 192px;
    }
}

.breadcrumbs {
    display: block;
    width: 1200px;
    margin: 0 auto 20px;
    padding-top: 14px;
}

.breadcrumbs li {
    color: #19191a;
    font-size: 13px;
    line-height: 20px;
    float: left;
}

.breadcrumbs li:hover {
    color: #19191a;
}

.breadcrumbs li .icon {
    font-size: 12px;
    margin: 0 6px;
    color: #d3d3d3;
}

.breadcrumbs li a {
    color: #646466;
    position: relative;
    font-size: 13px;
    line-height: 22px;
}

.breadcrumbs li a:hover {
    color: #19191a;
    text-decoration: none;
}

.breadcrumbs li:hover a span {
    color: #19191a;
}

.breadcrumbs li.alone_a:hover {
    text-decoration: none;
}

.breadcrumbs li.alone_a:hover a {
    text-decoration: none;
}

.alone_a {
    color: #0060BF;
    position: relative;
    font-size: 13px;
    line-height: 20px;
}

.alone_a:hover {
    color: #0070bc;
    text-decoration: underline;
}

@media(max-width: 1220px){
	.breadcrumbs{
		width: 960px;
	}
	.siteMAP-nav-box li{
		margin-right: 30px;
        text-align: center;
	}
	.siteMAP-nav-box > div{
		width: auto;
	}

}
@media (max-width: 960px) {
    .breadcrumbs li .icon {
        margin: 0 4px 0 2px;
    }
    .breadcrumbs{width: 100%;box-sizing: border-box;}
}

.divider {
    border-bottom: 0;
    margin-bottom: 0;
}

@media (max-width: 640px) {
    .breadcrumbs {
        padding: 8px 15px 0 15px;
    }
}
