.content { padding-top:0 }
/*样式开始*/
.all_banner { width: 100%; height:320px; }
.all_banner_bg {width: 100%;  background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/stock_list_banner.jpg) no-repeat center  0 #e6f2fb;left:0;position: absolute; min-height:320px;}
.all_banner_main { padding:160px 0 0 0; }
.all_banner_main_tittle { font-size:36px;font-weight: 400;text-transform:uppercase;color: #1d85d0; text-align: center; margin: 0 auto; line-height: 30px; height:60px; }
.all_banner_main_tittle_sub{ text-align:center; }
.all_banner_main_tittle_sub span{ border-right:1px solid #1d85d0;padding: 0 20px; color:#1d85d0; font-size:20px; font-weight:400; line-height:20px; margin-top:10px;}
.all_banner_main_tittle_sub span:last-child{ border:0;}
.all_banner_icon { width: 100%; margin-top:30px; text-align: center; overflow:hidden;}
.all_banner_icon li { display: inline-block; list-style: none; cursor: pointer; float:left; width:16.66%; text-align: center; }
.all_banner_icon li a{ padding:30px 0;transition: all .2s linear; display:block;border:1px solid #fff;}
.all_banner_icon li span{vertical-align: middle;height: 100px;text-align: center;display: table;width: 100%;}
.all_banner_icon li span i{display: table-cell;text-align: center;vertical-align: middle;}
.all_banner_icon li:hover a{ text-decoration:none;}
.all_banner_icon li a img { width:95px;transition: all .2s linear; display:block; margin:0 auto;}
.all_banner_icon li p {font-size: 14px; margin-top: 10px; color:#2971ba; }
.all_content { width: 100%; margin-top: 35px; position: relative; }
.all_banner_icon li.all_banner_icon_hover a{ background:#f3f9fd; border-radius:4px; border:1px solid #f3f9fd;}
.all_banner_icon li:hover a{ background:#fff; border-radius:4px; border:1px solid #edf4f9;}
.all_banner_icon li:hover a img{width:100px;}
.all_banner_icon li.all_banner_icon_hover p{color:#616265;}


.DAC_content_left { }
.DAC_content_left_filter01 { overflow: hidden; margin:20px 0 30px 0; }
.stock_filter { font-size: 18px; color: #616265; float: left; padding-top: 5px; }
.stock_brand { float: left; overflow: hidden; margin-left: 18px; }
.stock_brand li { font-size: 18px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/live_bg.png) no-repeat -312px -921px; padding: 5px 4px 5px 30px; cursor: pointer; float: left; list-style: none; margin-right: 5px; color: #000; }
.stock_brand li:hover { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/live_bg.png) no-repeat -312px -1075px; color: #c00000; }
/*.stock_brand li i{color:#232323; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/live_bg.png) -312px -919px no-repeat; width:30px; height:15px; display:inline-block;}*/
.stock_brand li.brand_hover{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/live_bg.png) -312px -996px no-repeat;}

.stock_type:after { content: "."; display: block; clear: both; visibility: hidden;line-height: 0; height: 0;font-size:0; }
.stock_type { /*height: 52px;*/ }
.stock_type { float: left; padding: 12px 40px; font-size: 16px; color: #232323; cursor: pointer; border: 1px solid #f6f6f6; list-style: none; background-color: #f6f6f6; margin-right: 5px; position: relative; }
.stock_type span { display: none; width: 14px; height: 5px; position: absolute; left: 50%; margin-left: -7px; bottom:-5px; z-index: 10; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/stock_type_arrow.png) no-repeat; }
.type_hover{background-color: #fff;border-color: #c00000;color: #c00000;}
.type_hover span{ display:block;}

.stock_brand_title{font-size: 16px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/live_bg.png) -312px -919px no-repeat; padding: 5px 4px 8px 30px; cursor: pointer; float: left; list-style: none;margin-right: 5px;}
.stock_brand_title:hover { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/live_bg.png) no-repeat -312px -1075px; color: #c00000; }
.stock_brand_hover,.stock_brand_hover:hover{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/live_bg.png) -312px -996px no-repeat;}


/*DAC模块样式*/
.DAC { width:100%; }
.DAC_tittle { width: 100%; text-align:center; overflow:hidden; padding-top:30px;}
.DAC_tittle01 { font-size: 16px; color: #232323; padding:10px 20px 15px 20px; display: inline-block; font-weight: 400; text-align:center; cursor: pointer; }
.DAC_tittle01_hover{border-bottom: 2px solid #c00000;color: #c00000;}
.DAC_tittle02 { font-size: 18px; color: #232323; padding: 0 25px 15px 25px; display: inline-block; font-weight: 400; cursor: pointer; }
.DAC_content { width: 100%; margin-top:30px; }
.DAC_content_left { width: 100%; display: inline-block; display: none; }
.DAC_content_choose { width: 100%; margin-bottom:50px; }
ul.DAC_content_choose { overflow:hidden; }
.DAC_content_choose li { list-style: none; /*border-right:1px solid #dedede;*/ float: left; cursor: pointer; text-align:center; width:16.6%;/* margin-left:-1px;*/ }
.DAC_content_choose li img { max-width:100%; }
.DAC_content_choose li:last-child { border:0; }
/*.DAC_content_choose li:nth-child(1) {
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/22222.png) -11px -8px;
}
.DAC_content_choose li:nth-child(2) {
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/22222.png) -261px -124px;
}
.DAC_content_choose li:nth-child(3) {
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/22222.png) -511px -124px;
}
.DAC_content_choose li:nth-child(4) {
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/22222.png) -761px -124px;
}
.DAC_content_choose li:nth-child(5) {
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/22222.png) -1011px -124px;
}
.DAC_content_choose li:nth-child(6) {
 background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/22222.png) -1261px -124px;
}*/
.DAC_content_main { width: 100%; display: none; }
.DAC_content_main h2 { color: #232323; font-size: 18px; font-weight: 400; height: 30px; line-height: 30px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/all_down_arrow.png) no-repeat; padding-left: 44px; margin-bottom: 15px; cursor: pointer }
.footer_03 table { margin-bottom: 0; }
.footer_06 table { margin-bottom: 0; }
table { margin-bottom: 35px; }
.DAC_content_main tr td { border-bottom: 1px solid #dedede; font-size: 14px; color: #232323; position: relative; padding:10px; }
.DAC_content_main td .go-to-cart-page-01 { right:10px; }
.DAC_content_main tr.all_table_title td { font-size: 16px; color: #232323; border-bottom: 0; }
.table_price { display: block; color: #76bb1f; }
.table_price i { width: 8px; height: 8px; border-radius: 8px; margin-right: 6px; display: inline-block; background-color:#76bb1f; }
.table_quantity { width: 64px; height: 38px; border: 1px solid #ccc; border-radius:3px 0 0 3px; text-align: center; line-height: 34px; color: #232323; transition: border .2s linear 0s, box-shadow .2s linear 0s;
font-size: 13px; float: left; }
.table_quantity:focus { border:1px solid #999; box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(0, 0, 0, 0.2); border-color:rgba(0, 0, 0, 0.2); outline:0 none }
.table_quantity_num { width: 25px; border: 1px solid #ccc; border-left: 0; border-radius: 0 3px 3px 0; float: left; }
.table_quantuty_add { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/bg2016.png) no-repeat -180px -332px; height: 19px; cursor: pointer; display:block; }
.table_quantuty_reduce { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/bg2016.png) no-repeat -180px -211px; height: 19px; cursor: pointer; display: block; }
.table_addtocar { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/bg2016.png) no-repeat -166px -418px #fff; background-color: #fff; width: 135px; padding-left: 44px; border: 1px solid #c00000; height: 40px; line-height: 40px; border-radius: 3px; font-size: 14px; color: #c00000; cursor: pointer; float:right; }
.table_addtocar:hover { background: url(https://img-en.fs.com/includes/templates/fiberstore/images/stock_list/bg2016.png) no-repeat -166px -240px #c00000; color: #fff; }
.DAC_content_right { width: 180px; padding-left: 14px; border-left: 1px solid #dedede; float: right; display:none; }
.DAC_content_right ul li { font-size: 14px; list-style: none; margin-bottom: 25px; }
.DAC_content_right ul li:nth-child(1) {
 font-size: 20px;
 color: #616265;
}
.DAC_content_right ul li:last-child a { color: #2971ba; }
.DAC_content_right ul li a { text-decoration: none; color: #232323; }
.DAC_content_goods_list { width: 100%; }
.DAC_content_goods_list li { width:30%; float: left; border-top:1px solid #e5e5e5; padding-top: 15px; list-style: none; margin:0 1.5% 40px 1.5%; }
.DAC_content_goods_list_pic { display: block; padding: 4px; background-color: #fff; border: 1px solid #fff; border-radius: 4px; transition: border 0.2s ease-in-out; margin-bottom: 20px; text-align: center; }
.DAC_content_goods_list_pic:hover { border-color: #ccc; }
.DAC_content_goods_list_name { font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 14px; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; margin-bottom: 15px; max-height: 40px; min-height: 40px; overflow: hidden; }
.DAC_content_goods_list_price { font-size: 18px; color: #c00000; margin-bottom: 15px; }
.DAC_content_goods_list_stock { font-size: 13px; color: #5ba200; display:block; margin-left:5px; }
.DAC_content_goods_list_stock i { font-style:normal; margin-right:5px; }
.DAC_content_goods_list_num { margin-top: 10px; line-height: 40px; height: 40px; }
.DAC_content_goods_list_num p { float: left; color: #616265; cursor: default; }
.DAC_content_goods_list_num span { float: right; }
.DAC_content_goods_list_addcar { margin-top: 20px; }
.DAC_content_goods_list_addcar .table_addtocar { float: right; }
.button_10:hover { transition:initial }
@media (max-width: 1220px) {

 .all_banner_icon li {
margin: 0 20px;
}
 .all_banner_icon li img {
display:none
}
.all_banner{}
.all_banner_main{ padding:190px 10px 0;}
}
@media (max-width: 960px) {

 .all_banner{ height:inherit;}
.all_banner_main_tittle {
width:inherit;
}
.all_banner_main_tittle_sub span{  border:0; display:block;}
.all_banner_bg{ position: inherit; overflow:hidden; padding-bottom:20px; }
.all_banner_icon li {
width:33%;
margin:0;
margin-bottom:20px;
float: left;
}
.all_banner_main{    padding: 90px 10px 0;}
/*
.all_banner_main {
padding:50px 30px 30px 30px;
background-color: #e0e6f6;
}
.all_banner_main, .all_banner_icon {
overflow:hidden;
}
.all_banner,  .all_banner_main {
height:initial;
}*/
.all_banner_icon li img {
display:none;
}
.DAC_content {
margin:20px 10px 10px 10px;
width:initial;
}
/*.DAC_content_main_table table {
width:906px;
}
.DAC_content_main_table {
overflow-x:auto;
}*/
.DAC_content_main h2 {
margin-top:30px;
}
.DAC_tittle01 {
margin-bottom:10px;
}
.DAC_content_main tr.all_table_title td{ font-size:14px;}
.DAC_content_main tr td{ padding: 8px 10px; font-size:12px;}
.DAC_content_main tr td:first-child a{ color:#2971ba}
.DAC_content_main tr td:first-child + td + td + td + td,.DAC_content_main tr td:last-child{ display:none;}
.DAC_content_main tr td .table_price i{ display:none;}
}
@media (max-width:768px) {
 .DAC_content_goods_list li {
width: 47%;
}
}
@media (max-width:480px) {
 .all_banner_icon li {
width: 50%;
}

}
@media (max-width:350px) { .DAC_content_goods_list li {
width: 97%;
}}