.write_right { float: right; width: 310px; }
.content{padding-top: 0}
.write_pro { margin-bottom: 30px; }
.right_pro_tite { font-size: 20px; font-weight:400; color: #232323; margin-bottom: 15px; padding-bottom: 16px; border-bottom: 1px solid #dedede; }
.write_right_href { list-style: none; background-position:6px 10px; padding-left: 30px; margin-bottom: 14px; line-height: 26px; position: relative; }
.write_right_href span { position: absolute; width: 6px; height: 6px; left: 3px; top: 10px; background-color: #999; border-radius: 50%; }
.write_right_href a { font-size: 16px; color: #0070BC; text-decoration: none; font-weight:400; }
.write_right_href a:hover { text-decoration: underline; }
.write_right_video { position: relative; }
.write_right_video_pic { display: block; position: relative; margin-bottom: 18px; }
.write_right_video a img { display: block; }
.write_right_video_play { position: absolute; left: 50%; top: 50%; margin-left: -33px; margin-top: -19px; width: 66px; height: 38px; border-radius: 3px; cursor: pointer; overflow: hidden; border: 2px solid #616265; border-radius: 3px; background-color: #f4f3f8; }
.write_right_video_play em { position: absolute; width: 0px; height: 0; margin: 9px auto; border-left: 15px solid #616265; border-top: 10px solid #f4f3f8; border-bottom: 10px solid #f4f3f8; left: 50%; top: 50%; margin-top: -10px; margin-left: -5px; z-index: 10; }
.write_right_video_play:hover { background-color: #616265; }
.write_right_video_play:hover em { border-left: 15px solid #f4f3f8; border-top: 10px solid #616265; border-bottom: 10px solid #616265; }
.write_right_video_introduce { color: #616265; font-size: 14px; font-weight:400; text-decoration: none; line-height: 24px; }
.write_right_online ul li{ position:relative;}
.tutorial_text{ position:absolute; left:18px; color:#999; top:31px; font-size:14px;}
.write_right_online input { height: 40px; border: 1px solid #dedede; color: #999; font-size: 14px; text-indent: 18px; width: 308px; border-radius: 3px;  transition: all .2s;
margin-top: 20px; }
.write_right_online input:focus { border: 1px solid #999; border-color: rgba(0, 0, 0, 0.2); outline: 0 none; }
.choose_tutorial_country { height: 40px; border:1px solid #ccc; position: relative; border-radius: 3px; /*padding-left: 38px;*/
	font-size: 14px; color: #999; cursor: pointer; line-height:40px; text-indent: 18px; margin-top: 20px; }
.tutorial_showMore { float: right; width: 20px; height: 20px; margin-top: 17px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/index_icon.png) -11px -7px no-repeat; }
.tutorial_searchCountry { width: 300px; text-align: left; height: auto; clear: both; position: absolute; top: 41px; z-index: 1111; background: #fff; border: 1px solid #ccc; border-top: none; padding:3px 4px 0; display: none; left: -1px; }
.tutorial_searchCountry .tutorial_text{top: 19px;left: 10px;}
.tutorial_searchCountry .tutorial_search_input { width: 291px; line-height: 28px; border: 1px solid #ccc; text-indent: 10px; font-size: 14px; margin-bottom: 3px;  transition: all .2s;
height: 28px; transform: translateX(-12px); }
.tutorial_search_input:focus { border: 1px solid #999; border-color: rgba(0, 0, 0, 0.2); outline: 0 none; }
.tutorial_countryList { position: relative; height: 244px; width: 300px; overflow-y:scroll; }
.tutorial_countryList li { width: 270px; height: 30px; line-height: 0; }
.tutorial_countryList li:hover { background: #f4f4f4; }
.tutorial_countryList li a { text-decoration: none; color: #232323; line-height: 20px; position: relative; display: block; padding: 5px 0 5px 28px; font-size: 13px; }
.tutorial_countryList li a em { top: 8px; }
.choose_tutorial_country a { text-decoration: none; color: #232323; }
.flag { background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/country.png); background-repeat: no-repeat; position: absolute; width: 16px; height: 16px; left: 8px; top: 12px; }
.choose_tutorial_country p { display: inline-block; }
.choose_tutorial_country p a { padding-left: 10px; color: #999; }
.write_right_online select { height: 40px; border: 1px solid #dedede; color: #999; font-size: 14px; text-indent: 18px; width: 308px; border-radius: 3px;  transition: all .2s;
position: relative; }
.write_right_online select:focus { border: 1px solid #999; border-color: rgba(0, 0, 0, 0.2); outline: 0 none; }
.write_right_online_select { position: relative; margin-top: 20px; }
.selectMore { position: absolute; width: 20px; height: 20px; background: url(https://img-en.fs.com/includes/templates/fiberstore/images/index_icon.png) -11px -7px no-repeat #fff; right: 3px; top: 16px; }
.write_right_online textarea { width: 308px; border: 1px solid #dedede; font-size: 14px; text-indent: 18px;  transition: all .2s;
color: #999; resize: none; height: 126px; padding-top: 10px; margin-top: 20px; }
.write_right_online textarea:focus { border: 1px solid #999; border-color: rgba(0, 0, 0, 0.2); outline: 0 none; }
.write_right_online button { width: 78px; height: 38px; text-align: center; margin-right: 13px; background-color: #fff; cursor: pointer; border-radius: 3px; font-size: 14px; font-weight:400; margin-top: 20px; }
.write_right_online_submit { border: 1px solid #c00000; color: #c00000; }
.write_right_online_reset { border: 1px solid #dedede; color: #616265; }
