.box,.content{width: 100%;}
.visitUs-box{background: #F7F7F7;}
.visitUs-banner{height: 380px;}
.visitUs-banner-bg{position: absolute;width: 100%;left: 0;z-index: -1;height: 380px;background-image: url(https://img-en.fs.com/images/visit-us-banner-bg.jpg);background-size: cover;
    background-position-x: center;background-repeat: no-repeat;}
.visitUs-banner-bgTit{font-size: 40px;line-height: 48px;font-weight: normal;color: #fff;text-align: center;padding: 160px 0 0;}
/**/
.visitUs-bgBox{width: 100%;background: #F7F7F7;}
.visitUs-mainBox{width: 1200px;margin: auto;padding-bottom: 60px;}
.visitUs-main-tit{font-size: 26px;line-height: 34px;padding: 50px 0 15px;color: #232323;font-weight: 600;text-align: center;}
.visitUs-main-tit.visitUs-main-pdbtm30{padding-bottom: 30px;}
.visitUs-main-txt{font-size: 14px;color: #616265;line-height: 24px;text-align: center;padding-bottom: 35px;}
.visitUs-main-imgM{display: none;}
.visitUs-main-comeList{margin-top: 12px;}
.visitUs-main-comeList>ul{display: table;}
.visitUs-main-comeList li{display: table-cell;width: 404px;vertical-align: top;background: #FFF;border-right: 12px solid #F7F7F7;box-sizing: border-box;}
.visitUs-main-comeList li:last-child{width: 392px;border-right: 0;}
.visitUs-main-comeLiBtm{padding: 12px 20px;}
.visitUs-main-comeLiTit{font-size: 16px;color: #232323;line-height: 26px;font-weight: 600;padding-bottom: 6px;}
.visitUs-main-comeLiTxt{font-size: 13px;color: #616265;line-height: 22px;}
.visitUs-mainBox{width: 1200px;}
.visitUs-mainBox01{background: #fff;}
.visitUs-wUsmap-box{display: table;}
.visitUs-wUsmap-box>div{display: table-cell;vertical-align: middle;width: 788px;height: 340px;}
.visitUs-wUsmap-box>div.visitUs-wUsmap-boxRt{width: auto;height: auto;}
.visitUs-wUsmap-tit{font-size: 16px;color: #232323;font-weight: 600;line-height: 26px;margin-bottom: 6px;}
.visitUs-wUsmap-txt{font-size: 14px;color: #616265;line-height: 24px;}
.visitUs-wUsmap-txt01{font-size: 13px;color: #616265;line-height: 22px;}
.visitUs-wUsmap-boxRt{padding-left: 57px;}
.visitUs-wUsmap-btnBox{margin: 25px 0 15px;}
.visitUs-wUsmap-btn{text-decoration: none;display: inline-block;padding: 0 30px;height: 40px;border: 1px solid #4c4948;transition: all .3s;box-sizing: border-box;border-radius: 2px;
	line-height: 40px;font-size: 14px;white-space: nowrap;}
.visitUs-wUsmap-tit01{color: #616265;}
.visitUs-wUsmap-btn:hover{text-decoration:none;background: #4c4948;color: #fff;}
.visitUs-welUs-formCont{background: #fff;padding: 43px 70px 50px;}
.visitUs-welUs-formList li>div{width: 50%;float: left;box-sizing: border-box;}
div.visitUs-welUs-formLiLt{padding-right: 10px;}
div.visitUs-welUs-formLiRt{padding-left: 10px;}
.visitUs-welUs-formTit{font-size: 13px;color: #666;line-height: 22px;margin-bottom: 5px;font-weight: 400;}
.visitUs-input{height: 40px;line-height: 40px;width: 100%;text-indent: 0;padding-left: 10px;box-sizing: border-box;}
.visitUs-input-phBox{position: relative;}
.visitUs-input-phNum{position:absolute;background: #eee;color: #232323;font-size: 13px;text-align: center;padding: 0 11px;height: 40px;line-height: 38px;border: 1px solid #e5e5e5;border-right: 0;box-sizing: border-box;width: 46px;top: 0;left: 0;}
.visitUs-input-phNum.focus{border-color: #8d8d8f}
.visitUs-input-phBox .visitUs-input{border-left: 0;border-top-left-radius: 0;border-bottom-left-radius: 0;width: 100%;text-indent: 50px;}
.visitUs-input-phBox{position: relative;}
.visitUs-welUs-formList .choose_country{line-height: 38px;height: 40px;box-sizing: border-box;}
.visitUs-welUs-formList li{margin-bottom: 15px;}
/*.visitUs-welUs-formList .showMore{margin-top: 17px;}*/
.visitUs-welUs-formList .login_country{width: 100%;height: 40px;line-height: 40px;background-position: right -469px;}
.visitUs-welUs-textBox{position: relative;}
.visitUs-welUs-textarea{transition: all .2s;border: 1px solid #e5e5e5;border-radius: 2px;width: 100%;padding-left: 10px;box-sizing: border-box;color: #616265;box-shadow: none;
	text-indent: 0;min-height: 100px;box-sizing: border-box;font-size: 13px;line-height: 22px;}
.visitUs-welUs-txtNum{font-size: 13px;color: #666;position: absolute;bottom: 10px;right: 10px;}
.visitUs-welUs-txtNum i{font-style: normal;}
.visitUs-main-btmDem{background: #fff;}
.visitUs-main-btmDem-txt{font-style: 14px;color: #616265;text-align: center;line-height: 22px;margin-top: 2px;}
.visitUs-main-btmDem-txt a{color: #0070BC;text-decoration: none;}
.visitUs-cartAlert-title {border-bottom: 1px solid #eee;padding: 19px 20px 17px;}
.visitUs-cartAlert-txt{font-weight: normal;display: inline-block;color: #333;font-size: 16px;}
.visitUs-closeAlert{float: right;font-size: 20px;cursor: pointer;color: #787777;font-weight: normal;}
.visitUs-closeAlert:hover {color: #232323;}
.visitUs-cartAlert-cont{padding: 16px 40px 40px;}
.visitUs-cartAlert{text-align: center;}
.visitUs-cartAlert-width680 {position: static;transform: none;top: auto;left: auto;margin-left: 0;display: inline-block;text-align: left;vertical-align: middle;
	margin-top: 0;max-height: 94vh;overflow-y: auto;overflow-x: hidden;background-color: #fff;border-radius: 2px;width: 680px;}
.visitUs-welUs-alertBtn {min-width: 80px;height: 40px;background: #c00000;border: 1px solid #c00000;border-radius: 3px;color: #fff;font-size: 14px;
	cursor: pointer;transition: all .3s;padding: 0 30px;line-height: 40px;position: relative}
.visitUs-welUs-alertBtn-box{text-align: right;margin-top: 30px;}
.visitUs-cartAlert-main01{max-height: 100%;overflow: auto;height: 100%;}
.visitUs-prompt{margin-bottom: 0;}
.visitUs-input-poRe{position: relative;}

.choose_country em{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/solution_support/country.png);background-repeat: no-repeat;
	position: absolute;width: 16px;height: 16px;left: 15px;top: 11px;}
.searchCountry{left: -1px;top: 40px;}
.visitUs-welUs-formList .error_prompt{margin-bottom: 0;}

	/*上传文件的样式*/
.visitUs-welUs-upload{position: relative;font-size: 0;}
.visitUs-welUs-upload-allbtn{display: inline-block;float: left;}
.visitUs-welUs-upload-btn{position: relative;overflow: hidden;display: inline-block;vertical-align: middle;}
.visitUs-welUs-upload-btn input{opacity: 0;position: absolute;left: -100px;cursor: pointer;top: 0;font-size: 20px;z-index: 1;}
.visitUs-welUs-upload-btn a{display: inline-block;position: relative;margin-right: 5px;height: 28px;font-size: 14px;color: #232323;line-height: 29px;border-radius: 3px;}
.visitUs-welUs-upload-btn a span.icon{background: none;position: inherit;left: auto;top: auto;margin-right: 3px;}
.visitUs-welUs-upload-prompt{vertical-align: middle;position: relative;float: left;margin-top: 5px;}
.visitUs-welUs-upload-prompt .icon{color: #999;}
.visitUs-welUs-prompt-content{position: absolute;left: 25px;top: -16px;border: 1px solid #e5e5e5;border-radius: 3px;box-shadow: 0 0 10px 0 rgba(51,51,51,.1);padding: 3px 10px;display: none;background-color: #fff;}
.visitUs-welUs-prompt-arrow{position: absolute;width: 7px;height: 10px;left: -7px;top: 17px;background: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/solution_support/3.png) no-repeat -22px -20px;}
.visitUs-welUs-prompt-content p{font-size: 13px;color: #999;white-space: pre;}
.visitUs-welUs-upload-name{margin-top: 10px;display: none;}
.visitUs-welUs-upload-prompt:hover .visitUs-welUs-prompt-content{display: block;}
/*文件上传后*/
.visitUs-welUs-upload-name{margin-top: 10px;display: none;}
.visitUs-welUs-upload-name p{display: inline-block;max-width: 193px;font-size: 13px;color: #555;padding: 5px 30px 5px 10px;border: 1px solid #aeaeae;border-radius: 3px;position: relative;cursor: pointer;margin-bottom: 10px;box-sizing: border-box;height: 30px;margin-right: 10px;}
.visitUs-welUs-upload-name p b{font-weight: 400;margin-right: 5px;}
.visitUs-welUs-upload-name p em{font-style: normal;}
.visitUs-welUs-upload-name p span{position: absolute;right: 8px;top: 6px;font-size: 14px;}
    /*上传文件的样式结束*/

.visitUs-welUs-AgreementMain {display: inline-block;margin-top: 7px;}
.visitUs-welUs-AgreementMain .icon{font-size: 16px;color: #999999;float: left;line-height: 22px;cursor: pointer;}
.visitUs-welUs-AgreementTxt{font-size: 13px;color: #616265;line-height: 22px;padding-left: 24px;}
.visitUs-welUs-AgreementTxt a{color: #232323;}
.visitUs-welUs-AgreementMain.choosez .icon{color: #232323;}
.visitUs-welUs-subBox{text-align: center;margin-top: 37px;}
.visitUs-welUs-subBtn{height: 45px;border: 1px solid #4c4948;font-size: 14px;color: #232323;background: #fff;border-radius: 2px;line-height: 43px;padding: 0 56px;transition: all .3s;
	min-width: 160px;cursor: pointer;position: relative}
.visitUs-welUs-subBtn:hover{background: #4c4948;color: #fff;}
.visitUs-welUs-subBtn.active{background: #4c4948;cursor: default}
/* 按钮交互 */
.visitUs-welUs-loadBtn .loader_order{display: none;left: 50%;margin-left: -9px;top: 50%;margin-top: -9px;}
.visitUs-welUs-loadBtn.choosez{position: relative;}
.visitUs-welUs-loadBtn.choosez .loader_order{display: block;width: 18px;position: absolute;}
.visitUs-welUs-loadBtn.choosez .visitUs-welUs-loadBtn_txt{opacity: 0;}
.visitUs-welUs-subBtn.choosez{background: #a6a4a4;border-color: #a6a4a4;}
.visitUs-welUs-alertBtn.choosez{background: #e08080;border-color: #e08080;}
/*下拉框样式*/
        .fs-new-selectCon {position: relative;}
        .fs-new-selfSelect{height: 40px;border: 1px solid #ddd;border-radius: 2px;width: 100%;padding-left: 10px;box-sizing: border-box;color: #666;appearance: none;-moz-appearance: none;-webkit-appearance: none;cursor: pointer;position: relative;}
        .fs-new-selfSelect-txtBox{height: 40px;line-height: 38px;padding-right: 25px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;}
        .fs-new-selfSelect .icon{font-size: 13px;display: inline-block;position: absolute;right: 6px;top: 10px;color: #aaa;transition: all .3s;}
        .fs-new-selfSelect-optionBox{position: absolute;width: 100%;background: #fff;border: 1px solid #ddd;box-sizing: border-box;border-top: 0;display: none;z-index: 10;max-height: 151px;overflow: auto;}
        .fs-new-selfSelect-optionLi{cursor: pointer;line-height: 14px;position: relative;word-wrap: break-word;}
        .fs-new-selfSelect-optionLi p{padding: 6px 30px 10px 10px;}
        .fs-new-selfSelect-optionLi:hover {text-decoration: underline;}
        .fs-new-selfSelect-optionLi .icon {position: absolute;right: 9px;top: 8px;display: none;display: inline-block;transition: all .3s;opacity: 0;color: #666;font-size: 14px;font-weight: 600;}
        .fs-new-selfSelect-optionLi:hover .icon{opacity: 1;}
        .fs-new-natvSelect-box{position: relative;}
        .fs-new-natvSelect-box .icon{font-size: 13px;display: inline-block;position: absolute;right: 6px;top: 10px;color: #aaa;transition: all .3s;}
        .fs-new-select-01{height: 40px;width: 100%;border: 1px solid #E5E5E5;font-size: 13px;padding: 0 25px 0 10px;background: none;}
        .fs-new-natvSelect-txt{font-size: 13px;color: #616265;line-height: 22px;padding-bottom: 5px;}
        .fs-new-natvSelect-txt .natvTxt-le{float: left;}
        .fs-new-natvSelect-txt .natvTxt-rt{float: right;}
        .fs-new-errorTxt{font-size: 13px;line-height: 22px;color: #c00000;margin-top: 5px;}
        .fs-new-natvSelect-li{padding-bottom: 10px;}
#visit_tip_window{transform: translateX(-50%);  width: 680px;  margin-left: 0;  height: 180px;}
#visit_tip_window .email_delete_img{margin-bottom: 9px;}
.visitUs-welUs-upload-name p em {font-style: normal;display: inline-block;font-weight: 400;text-overflow: ellipsis;white-space: nowrap;width: 145px;overflow: hidden;}
.visitUs-welUs-upload-name p b{display: none;}
@media (max-width: 1220px){
   .visitUs-mainBox{width: 960px;}
    .visitUs-wUsmap-box>div{width: 60%;}
}
@media (max-width: 960px){
    .visitUs-wUsmap-box {
        display: flex;
        flex-wrap: wrap;
    }
    .visitUs-wUsmap-box>div{width: 100%;margin-bottom: 30px;}
   .visitUs-banner, .visitUs-banner-bg {height: 540px;}
   .visitUs-banner-bg{background-image: url(https://img-en.fs.com/images/visit-us-banner-bg-m.jpg);}
   .visitUs-mainBox{width: 100%;}
   .visitUs-mainBox{padding: 0 15px 40px;box-sizing: border-box;}
   .visitUs-cartAlert-width680{width: 480px;}
   .visitUs-cartAlert-cont{padding: 20px;}
   .visitUs-cartAlert-cont .visitUs-welUs-formList li>div{width: 100%;width: 100%;float: none;padding: 0;}
   .visitUs-cartAlert-cont div.visitUs-welUs-formLiLt{margin-bottom: 15px;}
}
@media (max-width: 480px){
	.visitUs-banner, .visitUs-banner-bg {height: 220px;}
	.visitUs-banner-bgTit{font-size: 26px;line-height: 34px;padding-top: 93px;}
	.visitUs-main-tit{font-size: 20px;padding: 30px 0 15px;}
	.visitUs-main-txt{padding-bottom: 25px;}
	.visitUs-main-imgPc{display: none;}
	.visitUs-main-imgM{display: block;}
	.visitUs-main-comeList>ul{display: block;}
	.visitUs-main-comeList li{display: block;width: 100%;margin-bottom: 10px;border-right: 0;}
	.visitUs-main-comeList li:last-child{width: 100%;margin-bottom: 0;}
	.visitUs-wUsmap-box{display: block;}
	.visitUs-wUsmap-box>div{display: block;width: 100%;height: 340px;}
	.visitUs-wUsmap-box>div.visitUs-wUsmap-boxRt{height: auto;padding: 15px 0 0;}
	.visitUs-welUs-formCont{padding: 15px 15px 40px;}
	.visitUs-welUs-formList li>div{width: 100%;float: none;padding: 0;}
	div.visitUs-welUs-formLiLt{margin-bottom: 15px;}
	.visitUs-welUs-subBox{margin-top: 22px;}
	.visitUs-main-comeLiBtm{padding: 18px 20px 12px;}
	.visitUs-cartAlert-width680{width: 100%;position: fixed;left: 0;height: 100%;max-height: none;display: flex;-ms-flex-direction: column;flex-direction: column;top: 0;}
    .visitUs-welUs-alertBtn {width: 100%;}
}

/* Select Installation Timeslot弹窗 */
.time{width:590px;margin:0 auto;overflow:hidden}
.date{width:830px}
.date ul:after{content:"";display:block;clear:both}
.date li{float:left;list-style:none;text-align:center;width:110px;margin-right:10px}
.date li:last-child{margin-right:0}
.date li:last-child .hours a{margin-right:0}
.hours{margin-top:10px}
.hours a{transition: all .2s;text-decoration:none;display:block;width:100%;height:40px;border-radius:2px;box-sizing:border-box;border:1px solid #ccc;color:#232323;line-height:40px;margin-bottom:10px;font-size:13px;color:#232323}
.hours a:last-child{margin-bottom:0}
.hours a.choose{border:2px solid #616265;line-height:38px}
.hours a.invalid{cursor:default;background-color:#e5e5e5;border-color:#e5e5e5;color:#999}
.hours a:hover{border-color: #8d8d8f;}
.hours a.invalid:hover{border-color: #e5e5e5;}
.hours a.choose:hover{border-color: #616265;}
.data_time{text-align:center}
.data_time:before{content:"";height:100%;display:inline-block;vertical-align:middle;box-sizing:border-box}
.data_time .popup_width680{position:relative;text-align:left;margin-left:0;margin-top:0;display:inline-block;left:0;top:0;vertical-align:middle}
.data_time_tit{font-size:16px;color:#232323;line-height:56px;height:56px;padding:0 20px;box-sizing:border-box;font-weight:400;border-bottom:1px solid #e5e5e5}
.data_time_close{float:right;font-size:18px;cursor:pointer;color:#787777;display:inline-block;width:18px;height:18px;transition:all .2s}
.data_time_close:hover{color:#333}
.data_time_container{padding:0 40px;box-sizing:border-box;padding-top:14px;padding-bottom:40px;position:relative}
.date li span{font-size:13px;color:#232323;line-height:22px}
.data-time-tit{font-weight:600;font-style:normal}
.data_time_btn_container{text-align:right;margin-top:30px}
.data_time_btn{width:110px;height:40px;text-align:center;line-height:40px;background:#c00000;color:#fff;font-size:14px;display:inline-block;transition:all .2s;border-radius:2px}
.data_time_btn:hover{background:#9b0912;color:#fff;text-decoration:none}
.left_slide,.right_slide{position:absolute;display:inline-block;color:#787777;font-size:16px;cursor:pointer;z-index:2}
.left_slide{left:45px;top:25px}
.right_slide{right:45px;top:25px}
.left_slide::selection{background:0 0}
.right_slide::selection{background:0 0}
.data_time .popup_width680{max-height: inherit;overflow: inherit;}
.data_time_btn_White{color: #616265;border:1px solid #ccc;background: #fff;box-sizing: border-box;}
.data_time_btn_White:hover{border-color: #8d8d8f;background: #fff;color: #232323;}
@media (max-width:700px){.data_time .popup_width680{width:430px}
    .time{width:350px}
    .left_slide{left: 35px;}
    .right_slide{right: 35px;}
}
@media (max-width:480px){.data_time:before{display:inline-block;height:initial;display:none}
    .data_time .popup_width680{width:100%;height:100%}
    .time{width:100%}
    .data_time_container{padding-left:20px;padding-right:20px}
    .left_slide{left: 15px;}
    .right_slide{right: 15px;}
}
.time_Prompt{font-size: 13px;color: #C00000;line-height: 22px;padding-top: 6px;margin-bottom: -12px;}