.box,.content{width: 100%;}
.whyuspage_banner{height: 640px;}
.whyuspage_banner_bg{height: 640px;background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/why_us/why-us-banner.jpg);background-position: center;background-size: cover;position: absolute;left: 0;width: 100%;z-index: -1;}
.whyuspage_banner_titbox{padding: 145px 0 0;}
.whyuspage_banner_tit{font-size: 40px;color: #fff;font-weight: 600;text-align: center;line-height: 50px;padding: 0 0 37px;position: relative;}
.whyuspage_banner_tit:after{position: absolute;content: "";display: block;width: 58px;height: 5px;border-radius: 3px;background: #c00;bottom: 0;left: 50%;margin-left: -29px;}
.whyuspage_banner_txt{font-size: 16px;color: #fff;line-height: 26px;text-align: center;padding: 34px 0 38px;}
.whyuspage_banner_tabwrap{justify-content: center;display: flex;}
.whyuspage_banner_tabmain{display: flex;justify-content: center;}
.whyuspage_banner_tabmain>span{color: #fff;font-size: 20px;line-height: 30px;height: 80px;align-items: center;border-radius: 40px;padding: 0 80px 0 40px;box-sizing: border-box;display: flex;
align-items: center;font-weight: 600;}
.whyuspage_banner_bgVal01{background: linear-gradient(120deg,#0060BF, rgba(0,0,0,0));min-width: 340px;}
.whyuspage_banner_bgVal02{background: linear-gradient(120deg,#007EBF, rgba(0,0,0,0));min-width: 418px;}
.whyuspage_banner_bgVal03{background: linear-gradient(120deg,#0094BF, rgba(0,0,0,0));min-width: 402px;}
.whyuspage_public_tit{font-size: 26px;color: #19191A;line-height: 36px;position: relative;text-align: center;padding: 51px 0 25px;font-weight: 600;}
.whyuspage_public_tit:after{position: absolute;bottom: 0;display: block;width: 40px;height: 3px;border-radius: 2px;background: #c00;content: "";left: 50%;margin-left: -20px;}
.whyuspage_public_width{width: 1200px;margin: 0 auto;}
.whyuspage_public_txt{text-align: center;font-size: 14px;line-height: 22px;color: #646466;margin: 20px 0 0;}
.whyuspage_quality_box{position: relative;height: 560px;margin: 38px 0 0;}
.whyuspage_quality_bg{height: 560px;background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/why_us/why-us-img1.jpg);background-position: center;background-size: cover;position: absolute;left: 0;width: 100%;z-index: -1;}
.whyuspage_quality_main{width: 450px;height: 100%;align-items: center;display: flex;align-items: flex-start;flex-direction: column;justify-content: center;}
.whyuspage_quality_tit01{font-size: 20px;line-height: 30px;color: #19191A;font-weight: 600;}
.whyuspage_quality_txt01{font-size: 14px;line-height: 22px;color: #646466;padding: 22px 0 14px;}
.whyuspage_quality_box .whyuspage_public_width{height: 100%;}
.whyuspage_quality_imgbox{display: flex;justify-content: space-between;flex-wrap: wrap;}
.whyuspage_quality_imgbox>div{display: flex;align-items: center;margin: 10px 0 0;}
.whyuspage_quality_mimg{display: none;}
.whyuspage_process_tit01{font-size: 20px;color: #19191A;line-height: 30px;text-align: center;font-weight: 600;padding: 55px 0 0;}
.whyuspage_process_txt{font-size: 14px;color: #646466;line-height: 22px;text-align: center;padding: 17px 0 0;}
.whyuspage_process_swiperWrap{margin: 37px auto 0;position: relative;overflow: hidden;z-index: 1;}
.whyuspage_process_swiperWrap .swiper-slide{width: 1200px;}
.whyuspage_process_swiperWrap .swiper-slide>a{position: relative;display: block;}
.whyuspage_process_swiperWrap .swiper-pagination-bullets{bottom: 20px;}
.whyuspage_process_swiperWrap .whyuspage_process_arrows{width: 1200px;margin: 0 auto;}
.whyuspage_process_swiperWrap .whyuspage_process_arrows .icon{font-size: 28px;color: #fff;width: 60px;height: 60px;border-radius: 50%;transition: all 0.3s;box-sizing: border-box;
	text-align: center;line-height: 60px;background-image: none;background-color: rgba(0, 0, 0, 0.2);}
.whyuspage_process_swiperWrap .whyuspage_process_arrows .swiper-button-next{right: calc((100% - 1200px) / 2 + 18px);}
.whyuspage_process_swiperWrap .whyuspage_process_arrows .swiper-button-prev{left: calc((100% - 1200px) / 2 + 18px);}
.whyuspage_process_swiperWrap .swiper-pagination-bullet{background: #fff;opacity: 1;}
.whyuspage_process_swiperWrap .swiper-pagination-clickable .swiper-pagination-bullet{transition: all 0.3s;}
.whyuspage_process_swiperWrap .swiper-pagination-bullet-active{width: 20px;height: 8px;border-radius: 4px;opacity: 1;}
.whyuspage_process_swiptxt{position: absolute;left: 104px;z-index: 2;font-size: 26px;color: #19191A;line-height: 40px;font-weight: 600;display: flex;height: 100%;
	align-items: center;top: 0;}
.whyuspage_process_swiperWrap .whyuspage_process_arrows .icon:hover {background-color: rgba(0, 0, 0, 0.4);}
.whyuspage_process_logoList{display: flex;padding: 41px 85px 70px;justify-content: space-between;flex-wrap: wrap;align-items: center;}
.whyuspage_platform_wrap{background: #f7f7f7;padding:  0 0 60px;}
.whyuspage_platform_list{display: flex;justify-content: space-between;padding: 30px 0 0;}
.whyuspage_platform_liTop{text-align: center;padding: 0 0 34px;position: relative;z-index: 1;background: #f7f7f7;}
.whyuspage_platform_liTop:after{position: absolute;width: 100%;height: 1px;background: #D3D3D3;left: 0;bottom: 44px;content: "";}
.whyuspage_platform_li{width: calc((100% - 26px)/3);background: #fff;}
.whyuspage_platform_litit{font-size: 20px;color: #19191A;line-height: 30px;font-weight: 600;padding: 5px 0 14px;}
.whyuspage_platform_circle{position: relative;width: 20px;height: 20px;box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.14);border-radius: 50%;background: #fff;display: block;margin: 0 auto;
	z-index: 2;}
.whyuspage_platform_circle:before{content: "";display: inline-block;width: 10px;height: 10px;position: absolute;top: 5px;left: 5px;background: #c00;border-radius: 50%;}
.whyuspage_platform_liBtm{background: #fff;padding: 36px 30px;}
.whyuspage_platform_txt{font-size: 14px;color: #19191A;line-height: 22px;padding: 0 0 8px 15px;position: relative;}
.whyuspage_platform_txt:before{position: absolute;content: "";width: 6px;height: 6px;background: #646466;border-radius: 50%;left: 0;top: 8px;}
.whyuspage_platform_txt:last-child{padding-bottom: 0;}
.whyuspage_platform_list .whyuspage_platform_li:nth-child(2) .whyuspage_platform_liTop:after{width: calc(100% + 26px);left: -13px;}
.whyuspage_service_list{display: flex;flex-wrap: wrap;justify-content: space-between;padding: 13px 0 60px;}
.whyuspage_service_list>li{width: calc((100% - 24px) / 2);position: relative;margin: 24px 0 0;}
.whyuspage_service_list img{display: block;}
.whyuspage_service_litxt{position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size: 16px;color: #fff;
line-height: 26px;box-sizing: border-box;display: flex;align-items: flex-end;justify-content: center;}
.whyuspage_service_litxtMain{background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.8));padding: 140px 15px 20px;width: 100%;text-align: center;font-weight: 400;}
.whyuspage_service_litxtMain>span{font-weight: 600;}
.whyuspage_aboutfs_wrap{background: #F4F5F9;padding: 0 0 60px;}
.whyuspage_aboutfs_swiperBox{position: relative;width: 789px;margin: 28px auto 0;}
.whyuspage_aboutfs_swiperBox:after{content: "";display: block;width: calc(100% + 80px);left: -40px;bottom: 24px;background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,0));
height: calc(100% - 58px);position: absolute;}
.whyuspage_aboutfs_swiperWrap{width: 100%;background: none;padding: 0 0 24px 0;}
.whyuspage_aboutfs_swiperWrap .swiper-slide{width: 789px;background: #fff;}
.whyuspage_aboutfs_swiperWrap .swiper-pagination-bullet-active{width: 20px;height: 8px;border-radius: 4px;opacity: 1;}
.whyuspage_aboutfs_slidemain{display: flex;flex-direction: row-reverse;padding: 38px 48px;}
.whyuspage_aboutfs_txt{font-size: 14px;color: #19191A;line-height: 22px;padding: 0 40px;flex: 1;}
.whyuspage_aboutfs_txt01{font-size: 13px;color: #646466;line-height: 22px;padding: 28px 0 0;}
.whyuspage_aboutfs_imgbox01{padding: 4px 0 0;}
.whyuspage_aboutfs_imgbox02{padding: 4px 0 0;}
.whyuspage_aboutfs_swiperWrap .swiper-pagination{bottom: 0;}
.whyuspage_link_wrap{height: 420px;position: relative;}
.whyuspage_link_wrapbg{height: 420px;background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/why_us/why-us-bottom-bg.jpg);background-position: center;background-size: cover;position: absolute;left: 0;width: 100%;z-index: -1;}
.whyuspage_link_list{display: flex;justify-content: space-between;width: 980px;margin: 0 auto;padding: 72px 0 0;}
.whyuspage_link_li{width: calc((100% - 24px) / 2);background: #fff;border-radius: 3px;padding: 55px 40px 46px;box-sizing: border-box;}
.whyuspage_link_tit{font-size: 20px;line-height: 30px;font-weight: 600;color: #19191A;text-align: center;}
.whyuspage_link_txt{font-size: 14px;line-height: 22px;color: #19191A;text-align: center;padding: 15px 0 38px;}
.whyuspage_link_btnbox{display: flex;justify-content: center;}
.whyuspage_link_btnbox>a{min-width: 160px;box-sizing: border-box;text-align: center;}
.whyuspage_link_btn{display: inline-block;height: 40px;line-height: 40px;padding: 0 20px;background: #0060BF;color: #FFFFFF;font-size: 14px;border-radius: 20px;transition: all .3s;}
.whyuspage_link_btn:hover{text-decoration: none;color: #fff;background: #1c4e93;}
.whyuspage_link_btn01{display: inline-block;height: 40px;line-height: 38px;padding: 0 20px;color: #19191A;font-size: 14px;border-radius: 20px;transition: all .3s;border: 1px solid #4b4b4d;}
.whyuspage_link_btn01:hover{text-decoration: none;color: #fff;background: #4b4b4d;}
@media (max-width: 1220px){
	.whyuspage_banner_bgVal01,.whyuspage_banner_bgVal02,.whyuspage_banner_bgVal03{
		min-width: initial;
	}
    .whyuspage_public_width{
        width: 960px;
    }
    .whyuspage_process_swiperWrap .swiper-slide{
    	width: 960px;
    }
    .whyuspage_process_swiperWrap .whyuspage_process_arrows{
    	width: 960px;
    }
    .whyuspage_process_swiperWrap .whyuspage_process_arrows .swiper-button-next{
    	right: calc((100% - 960px) / 2 + 18px);
    }
    .whyuspage_process_swiperWrap .whyuspage_process_arrows .swiper-button-prev{
    	left: calc((100% - 960px) / 2 + 18px);
    }
}
@media (max-width: 960px){
	.whyuspage_banner{
		height: 510px;
	}
	.whyuspage_banner_bg{
		background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/why_us/why-us-banner-m.jpg);
	    height: 510px;
	    background-position: 0px;
	    background-repeat: no-repeat;
	}
    .whyuspage_banner_titbox {
	    padding: 80px 16px 0;
	}
	.whyuspage_banner_tabmain>span{
		padding: 0 40px;
	}
	.whyuspage_public_width{
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }
    .whyuspage_process_swiperWrap .swiper-slide{
    	width: 100%;
    }
    .whyuspage_link_list{
    	width: 100%;
    	padding: 72px 16px 0;
    	box-sizing: border-box;
    }
    .whyuspage_aboutfs_swiperBox{
    	width: 100%;
        margin: 17px auto 0;
    }
    .whyuspage_aboutfs_swiperBox:after{
    	display: none;
    }
}
@media (max-width: 640px){
	.whyuspage_platform_wrap{
		padding: 0 0 32px;
	}
    .whyuspage_platform_list{
    	display: block;
        padding: 0;
    }
    .whyuspage_platform_li{
    	width: 100%;
    	margin: 16px 0 0;
    	padding: 28px 0 0;
    }
    .whyuspage_platform_liTop{
    	background: #fff;
    	padding: 0;
    }
    .whyuspage_platform_liTop:after{
    	display: none;

    }
    .whyuspage_platform_litit{
    	font-size: 16px;line-height: 26px;
    }
    .whyuspage_platform_circle{
    	display: none;
    }
    .whyuspage_platform_liBtm{
    	padding: 6px 20px 30px;
    }
    .whyuspage_service_list{
    	display: block;
    	padding: 0 0 32px;
    }
    .whyuspage_service_list>li{
    	width: 100%;
    	margin: 16px 0 0;
    }
    .whyuspage_service_litxtMain{
    	text-align: left;
    	padding: 40px 15px 20px;
    }
    .whyuspage_service_litxtMain span{
    	display: block;
    }
    .whyuspage_aboutfs_wrap{
    	padding: 0 0 32px;
    }
    .whyuspage_aboutfs_slidemain{
    	display: block;
    	text-align: center;
    	padding: 30px 20px 27px;
    }
    .whyuspage_aboutfs_imgbox01{
    	padding: 0 0 15px;
    }
    .whyuspage_aboutfs_imgbox02{
    	display: none;
    }
    .whyuspage_aboutfs_txt{
    	padding: 0;
    	text-align: left;
    }
    .whyuspage_aboutfs_txt01{
    	padding: 11px 0 0;
    }
    .whyuspage_link_list{
    	flex-wrap: wrap;
    	padding: 0 16px;
    }
    .whyuspage_link_li{
    	width: 100%;
    	padding: 24px 25px;
    	height: auto;
    }
    .whyuspage_link_wrap{
    	height: 550px;
    	display: flex;
    	align-items: center;
    }
    .whyuspage_link_wrapbg{
    	height: 550px;
    }
    .whyuspage_link_li:last-child{
    	margin: 16px 0 0;
    }
    .whyuspage_link_txt{
    	padding: 7px 0 32px;
    }
}
@media (max-width: 480px){
	.whyuspage_banner_titbox{
		padding: 32px 16px 0;
	}
    .whyuspage_banner_tit{
    	font-size: 26px;
    	line-height: 36px;
    	padding: 0 0 25px;
    }
    .whyuspage_banner_tit:after{
    	width: 40px;
    	height: 3px;
    }
    .whyuspage_banner_txt{
    	font-size: 14px;
    	line-height: 22px;
    	padding: 18px 0 0;
    }
    .whyuspage_banner_txt>br{
    	display: none;
    }
    .whyuspage_banner_tabmain{
    	display: block;
    	width: 100%;
    }
    .whyuspage_banner_tabmain>span{
    	margin: 16px 0 0;
    	height: 60px;
    	width: 100%;
    	font-size: 16px;
    	line-height: 26px;
    	text-align: center;
    	border-radius: initial;
    	justify-content: center;
    	padding: 10px 0;
    	
    }
    .whyuspage_banner_bgVal01{
    	background: linear-gradient(120deg,rgba(255,255,255,0),#0060BF, rgba(255,255,255,0));
    }
    .whyuspage_banner_bgVal02{
    	background: linear-gradient(120deg,rgba(255,255,255,0),#007EBF, rgba(255,255,255,0));
    }
    .whyuspage_banner_bgVal03{
    	background: linear-gradient(120deg,rgba(255,255,255,0),#0094BF, rgba(255,255,255,0));
    }
    .whyuspage_public_tit{
    	font-size: 20px;
    	line-height: 30px;
    	padding: 21px 0 19px;
    }
    .whyuspage_public_tit:after{
    	width: 34px;
    	height: 2px;
    }
    .whyuspage_public_txt{
    	margin: 19px 0 0;
    }
    .whyuspage_quality_box{
    	margin: 21px 0 0;
    	height: auto;
    }
    .whyuspage_quality_bg{
    	display: none;
    }
    .whyuspage_quality_mimg{
    	display: block;
    }
    .whyuspage_quality_main{
    	width: 100%;
    	height: auto;
    	padding: 15px 0 0;
    }
    .whyuspage_quality_tit01{
    	font-size: 16px;
    	line-height: 26px;
    }
    .whyuspage_quality_txt01{
    	padding: 12px 0 2px;
    }
    .whyuspage_quality_imgbox{
    	position: relative;
    	padding: 0 0 30px;
    }
    .whyuspage_quality_imgbox:after{
    	content: "";
    	width: 100%;
    	height: 1px;
    	background: #E5E5E5;
    	position: absolute;
    	bottom: 0;
    	left: 0;
    }
    .whyuspage_process_tit01{
    	text-align: left;
    	font-size: 16px;
    	line-height: 26px;
    	padding: 25px 0 0;
    }
    .whyuspage_process_txt{
    	text-align: left;
    	padding: 12px 0 0;
    	
    }
    .whyuspage_process_swiperWrap{
    	margin: 17px auto 0;
    }
    .whyuspage_process_swiperWrap .whyuspage_process_arrows{
    	display: none;
    }
    .whyuspage_process_swiptxt{
    	font-size: 16px;
    	line-height: 26px;
    	left: 16px;
    }
    .whyuspage_process_newtit{
    	padding-top: 35px;
    }
    .whyuspage_process_logoList{
    	padding: 0 0 34px;
    }
    .whyuspage_process_logoList>li{
    	margin-right: 22px;
    }
    .whyuspage_process_logoList>li img{
    	width: 80%;
    	margin: 25px 0 0;
    }
    .whyuspage_process_swiperWrap .swiper-pagination-bullets{
        bottom: 11px;
    }
    
}
