.alone_banner.warranty .alone_banner_bg{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/warranty_banner.jpg);}
.alone_banner_tit.warranTy{padding-top: 140px;}
.warranty_content_listbox{width: 100%;margin: auto;}
.warranty_backed_bg{position: absolute;background: #f7f7f7;left: 0;width:100%;z-index: -1;}
.warranty_backed_img{padding-top: 50px;}
.warranty_backed_cont .alone_tit{padding: 30px 0;}
.warranty_backed_cont:first-child .alone_tit{padding-top: 15px;}
.warranty_backed_txt{font-size: 14px;color: #616265;line-height: 20px;padding-bottom: 10px;}
.warranty_backed_txt1{font-size: 14px;color: #616265;line-height: 20px;padding-bottom: 15px;}
.warranty_left{float: left;width: 280px;margin-top: 50px;}
.warranty_left_fix.choosez{position: fixed;top: 50px;}
.warranty_left_fix.choosez1{position: relative;}
.warranty_left_li {font-size: 16px;color: #232323;width: 220px;border-bottom: 1px solid #e5e5e5;padding: 15px 0;line-height: 20px;
    cursor: pointer;}
.warranty_left_li:nth-of-type(1){border-top: 1px solid #e5e5e5;}
.warranty_left_li.choosez {color: #0070BC;}
.warranty_right{text-align: left;width: 920px;float: right;}
.warranty_right_tit{font-size: 26px;font-weight:400;display: block;padding: 40px 0 20px;color: #232323;line-height: 30px;}
.warranty_right_tit1{font-size: 18px;color: #232323;font-weight: 400;margin-bottom: 20px;}
.warranty_right_table .warranty_right_th li{background-color: #e3f0f9;color: #232323;text-align: center;font-size: 14px;float: left;padding:15px 0;}
.warranty_right_table .warranty_right_td li{text-align: center;color: #616265;background-color: #fff;font-size: 14px;
    border-bottom: 1px solid #dedede;padding: 15px 0;float: left;}
.warranty_right_table .warranty_right_th.bai33_33 li{width: 33.33%;}
.warranty_right_table .warranty_right_td.bai33_33 li{width: 33.33%;}
.warranty_right_table.maginBt20{margin-bottom: 20px;}
.forMore_detail{font-size: 14px;color: #232323;}
.forMore_detail a{color: #0070BC;}
.warranty_right .hasCir_ul{padding-left: 20px;margin-bottom: 10px;}
.warranty_right .hasCir_ul li{font-size: 14px;color: #616265;line-height: 22px;list-style: disc;}
.alone_after ul{text-align:center;margin-bottom:40px}
.wb_product_choose{display:inline-block;width:450px;cursor:pointer;border-bottom:1px solid #dedede;padding-bottom:15px;transform:translateY(1px);float: left;margin-bottom: 20px;}
.wb_product_choose h2{font-size:20px;color:#616265;font-weight:400;margin-bottom:5px}
.wb_product_choose .icon{font-size:20px;margin-right:8px}
.wb_product_choose p{font-size:14px;color:#616265}
.wb_product_choose.choose{border-color:#0070BC}
.wb_product_choose.choose .icon{font-weight:600}
.wb_product_choose.choose h2{color:#0070BC}
.wb_product_choose.choose p{color:#0070BC}
.wb_product_tab_con{display:none}
.wb_product_tab_con.show{display:block}
.wb_product_tab_con_txt333{font-size:14px;color:#232323;line-height:24px;margin-bottom:20px}
.wb_product_tab_con_txt999{font-size:14px;color:#999;line-height:24px;margin-bottom:20px}
.wb_product_tab_con_table{padding-top:10px;overflow-x:auto}
.wb_product_tab_con_table_main{width:900px;margin:0 auto}
.wb_product_tab_con_table_search_ipt::-webkit-input-placeholder{color:#999}
.wb_product_tab_con_table_search_ipt:-moz-placeholder{color:#999}
.wb_product_tab_con_table_search_ipt::-moz-placeholder{color:#999}
.wb_product_tab_con_table_search_ipt:-ms-input-placeholder{color:#999}
.wb_product_tab_con_table_head{overflow:hidden}
.wb_product_tab_con_table_head h2{font-size: 14px!important;color: #232323;background-color: #c1def1;font-weight: 600!important;float: left;line-height: 50px;text-align: left;text-indent: 3%;margin-bottom: 0!important;}
.wb_product_tab_con_table_head h2:first-child{width:70%}
.wb_product_tab_con_table_head h2:last-child{width:30%;text-indent: 0;}
.wb_product_tab_con_table_search{line-height:40px;text-align:center;border-bottom:1px solid #e5e5e5;position: relative;}
.wb_product_tab_con_table_search input{width:90%;border:none;font-size:13px;height:40px;background: #f7f7f7;border-radius: 2px;margin: 10px 0;padding-left: 35px;box-sizing: content-box;}
.wb_product_tab_con_table_search .warranty_ic{position: absolute;top:12px;left: 40px;}
.wb_product_tab_con_table_content{max-height:820px;overflow-y:auto}
.wb_product_tab_con_table_content p{line-height:40px!important;overflow:hidden;border-bottom:1px solid #e5e5e5;margin-bottom: 0!important;}
.wb_product_tab_con_table_content p span{float:left;color:#616265;font-size:14px;text-align:left;text-indent: 3%;}
.wb_product_tab_con_table_content p span:last-child{text-indent: 1.5%;}
.wb_product_tab_con_table_content p span:first-child{width:70%}
.wb_product_tab_con_table_content p span:last-child{width:30%}
.wb_product_tab_con_table_content p a{color:#0070BC;text-decoration:underline;cursor:default}
.warr_h3_top{padding-top:20px;}
.warr_h3_btm{padding-bottom:38px;}
.warranty_right_th ul,.warranty_right_td ul{padding-left: 0!important;}
.policy_left,.policy_right{margin-top: 0!important;}
ul.hasCir_ul li{margin-bottom: 0!important;}
.ul_table li{list-style: none!important;}
.warranty_right_table ul{padding-left: 0!important;}
.warranty_right_table ul li{margin-bottom: 0!important;list-style:none!important;}
h1.warranty_right_tit,p.warranty_backed_txt{margin-bottom: 0!important;}
.forMore_detail>em {display: inline-block;width: 4px;height: 4px;border-radius: 50%;background: #616265;vertical-align: middle;margin-right: 10px;margin-top: 8px;overflow: hidden;float: left;}
@media (max-width: 1220px){
    .warranty_content_listbox{width: 100%;}
    .warranty_left{width: 25%;}
    .warranty_right{width: 75%;}
    .wb_product_choose{width: 50%;}
}
@media (max-width: 960px){
    .warranty_left{display: none;}
    .warranty_right{width: 100%;}
    .warranty_right_table{overflow: auto;}
    .ul_table{width: 830px;}
}
@media (max-width: 480px){
    .alone_banner_tit.warranTy{padding-top: 75px;}
	.wb_product_choose{width:100%;margin-bottom: 30px;}
	.alone_after ul{border-bottom:none;margin-bottom: 0;}

}