.alone-page-banner{
	background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/sales/sales-tax-banner.jpg);
	background-size: cover;
}
.fs-sales-tax-tit{
	font-size: 14px;
	color: #19191A;
	line-height: 22px;
	margin-bottom: 10px;
}
.fs-contact-us-txt{
	font-size: 14px;
	color: #646466;
	line-height: 22px;
	margin-bottom: 24px;
}
.fs-sales-dl dt{
	font-size: 14px;
	color: #646466;
	line-height: 22px;
	padding-bottom: 4px;
}
.fs-sales-dl dd{
	font-size: 14px;
	color: #646466;
	line-height: 22px;
	position: relative;
	padding-left: 16px;
}
.fs-why-ul-point {
    width: 6px;
    height: 6px;
    background: #89898c;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 8px;
}
.fs-public-bottom{
	margin-bottom: 36px;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 36px;
}
.fs-sales-table{
	display: flex;
}
.fs-sales-ul-public{
	width: 100%;
}
.fs-sales-ul-public li{
	font-size: 14px;
	color: #646466;
	line-height: 22px;
	position: relative;
	padding-left: 14px;
	margin: 8px 0;
}
.fs-sales-table-txt{
	margin-top: -10px;
	margin-bottom: 22px;
}
.fs-sales-table.fs-public-bottom{
	padding-bottom:26px;
}
.fs-sales-Exempt .fs-contact-us-txt{
	margin-bottom: 0;
}
.fs-sales-Exempt .alone-page-content-right-tit{
	margin-bottom: 18px;
}
.fs-sales-faqs-dl dt{
	position: relative;
	padding-left: 28px;
	cursor: pointer;
}
.fs-sales-faqs-dl dt span{
	font-size: 16px;
	color: #19191A;
	font-weight: 600;
	line-height: 26px;
}
.fs-sales-faqs-dl dt .icon{
	font-size: 14px;
	display: inline-block;
	position: absolute;
	line-height: 14px;
	height: 14px;
	width: 14px;
	color: #4B4B4D;
	transition: all .3s;
	left: 0;
	top: 7px;
}
.fs-sales-faqs-dl dd{
	font-size: 14px;
	color: #646466;
	line-height: 22px;
	display: none;
	padding: 12px 0 4px 28px;
}
.fs-sales-faqs-dl{
	border-bottom: 1px solid #E5E5E5;
	padding: 19px 0;
}
.fs-sales-faqs-dl dt.active .icon{
	transform: rotate(180deg);
}
.fs-FAQs{
	margin-bottom: 10px;
}
@media (max-width: 640px){
	.fs-sales-ul-public li{font-size: 13px;line-height: 20px;}
	.fs-public-bottom{padding-bottom: 20px;margin-bottom: 20px;}
}
