.alone-page-banner {
    background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/payment_met/purchase_order_banner.jpg");
}
.why-apply-txt-con{
    display: flex;
    margin-bottom: 8px;
}
.why-apply-txt-con:last-child{
    margin-bottom: 0;
}
.why-apply-txt-con span{
    width: 6px;
    height: 6px;
    background-color: #89898c;
    border-radius: 50%;
    margin: 8px 8px 0 0;
}
.why-apply-txt-con p{
    font-size: 14px;
    line-height: 22px;
    color: #646466;
}
.how-do-smalltit{
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    margin: 24px 0 26px;
}
.how-do-smalltit span{
    width: 12px;
    height: 2px;
    background-color: #19191a;
    margin-right: 4px;
}

.how-do-type{
    display: flex;
    justify-content: space-between;
}
.how-do-type-con{
    width: 180px;
}
.how-do-type-con-pic{
    position: relative;
    margin-bottom: 14px;
}
.how-do-type-con-pic img:first-child{
    display: block;
    margin: 0 auto;
}
.how-do-type-con-pic img:nth-child(2){
    position: absolute;
    right: 0;
    transform: translate(65%, -50%);
    top: 50%;
}
.how-do-type-con-font{
    font-size: 13px;
    line-height: 20px;
    color: #646466;
    margin-top: 15px;
}
.how-do-type-con-font a{
    color: #0060bf;
}
.how-do-tit{
    font-size: 16px;
    line-height: 26px;
    color: #19191a;
    font-weight: 600;
    margin:26px 0 16px;
}
.alone-page-content-right-txt.needMargin{
    margin-bottom: 16px;
}
.alone-page-content-right-txt a{
    color: #0060bf;
}
.w9-form-download{
    margin-top: 30px;
}
.w9-form-download a{
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    box-sizing: border-box;
    border: 1px solid #4b4b4d;
    color: #19191a;
    font-size: 14px;
    line-height: 36px;
    transition: all .3s;
    border-radius: 3px;
}
.w9-form-download a .icon{
    margin-right: 4px;
}
.w9-form-download a:hover{
    text-decoration: none;
    background-color: #4b4b4d;
    color: #fff;
}
.application_container .public_textarea_container .public_count{
    bottom: initial;
    top: -26px;
}

@media(max-width: 1220px){
    .how-do-type-con-pic img:nth-child(2){
        transform: translate(48%, -50%);
    }
}

@media(max-width: 960px){
    .how-do-type{
        display: block;
    }
    .how-do-type-con{
        width: auto;
        margin-bottom: 16px;
        display: flex;
    }
    .how-do-type-con:last-child{
        margin-bottom: 0;
    }
    .how-do-type-con-pic{
        margin:0 20px 0 0;
    }
    .how-do-type-con-pic img:nth-child(2){
        display: none;
    }
    .how-do-type-con-font{
        margin-top: 0;
    }
}