.alone-page-banner {
    background-image: url("https://img-en.fs.com/includes/templates/fiberstore/images/specials/request_quote/banner_en.jpg");
}

.delivery-time-tit {
    font-size: 16px;
    line-height: 26px;
    color: #19191a;
    font-weight: 600;
    margin-top: 24px;
}

.delivery-time-txt {
    font-size: 14px;
    line-height: 22px;
    color: #4b4b4d;
    margin: 8px 0 26px;
    padding-left: 14px;
}

.delivery-time-type {
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
}

.delivery-time-type-con {
    width: 164px;
    box-sizing: border-box;
}

.delivery-time-type-con-pic {
    position: relative;
}

.delivery-time-type-con-pic img:first-child {
    display: block;
    margin: 0 auto;
}

.delivery-time-type-con-pic img:last-child {
    position: absolute;
    right: 0;
    transform: translate(65%, -50%);
    top: 50%;
}

.delivery-time-type-con:last-child .delivery-time-type-con-pic img:last-child {
    display: none;
}

.delivery-time-type-con-font {
    font-size: 13px;
    line-height: 20px;
    color: #646466;
    margin-top: 15px;
}

.alone-page-content-right-txt.needMargin {
    margin-top: 30px;
}

.alone-page-content-right-txt a {
    color: #0060bf;
}

.delivery-time-href {
    text-align: center;
    margin-top: 30px;
}

.delivery-time-href a {
    display: inline-block;
    line-height: 38px;
    background-color: #0060bf;
    border-radius: 3px;
    transition: all .3s;
    font-size: 14px;
    padding: 0 30px;
    color: #fff;
}

.delivery-time-href a:hover {
    background-color: #004d99;
    text-decoration: none;
}

.return-support-faqs-list {
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}
.return-support-faqs-list:first-child{
    padding-top: 0;
}
.return-support-faqs-list-tit {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.return-support-faqs-list-tit a {
    display: inline-flex;
}

.return-support-faqs-list-tit a:hover {
    text-decoration: none;
}

.return-support-faqs-list-tit a .icon {
    font-weight: 400;
    margin-right: 10px;
    transition: all .3s;
}

.return-support-faqs-list-tit a.active .icon {
    transform: rotate(180deg);
}

.return-support-faqs-list-content {
    margin-top: 10px;
    padding-left: 26px;
    display: none;
}

.return-support-faqs-list-content-txt {
    font-size: 14px;
    line-height: 22px;
    color: #646466;
}

.return-support-faqs-list-content-txt a {
    color: #0060bf;
}

.return-support-faqs-list-content-table {
    margin-top: 14px;
}

.return-support-faqs-list-content-table ul {
    border: 1px solid #ccc;
}

.return-support-faqs-list-content-table-con {
    display: flex;
}

.return-support-faqs-list-content-table-con div {
    font-size: 14px;
    color: #646466;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
    line-height: 22px;
}

.return-support-faqs-list-content-table-con:first-child div {
    font-weight: 600;
    color: #19191a;
}

.return-support-faqs-list-content-table-con div:first-child {
    width: 68%;
    box-sizing: border-box;
    border: 1px solid;
    border-color: transparent #ccc #ccc transparent;
}

.return-support-faqs-list-content-table-con div:last-child {
    width: 32%;
    border-bottom: 1px solid #ccc;
}

.return-support-faqs-list-content-table-con:last-child div {
    border-bottom: 0;
}

.return-support-faqs-list-content-table-con:nth-child(2) div:first-child {
    display: block;
    padding-left: 0;
}

.return-support-faqs-list-content-table-con:nth-child(2) div:first-child p:first-child {
    padding: 0 0 10px 20px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.return-support-faqs-list-content-table-con:nth-child(2) div:first-child p:last-child {
    padding: 10px 0 0 20px;
    box-sizing: border-box;
}

@media (max-width: 1220px) {
    .delivery-time-type-con-font{
        padding-right: 12px;
    }
    .delivery-time-type-con:last-child .delivery-time-type-con-font{
        padding-right: 0;
    }
    .delivery-time-type-con-pic img:last-child{
        transform: translate(50%, -50%);
    }
}

@media (max-width: 960px) {
    .delivery-time-type {
        display: block;
    }
    .delivery-time-type-con-pic img:last-child{
        display: none;
    }
    .delivery-time-type-con{
        width: 100%;
        display: flex;
        margin-bottom: 16px;
    }
    .delivery-time-type-con-pic{
        margin-right: 20px;
    }
    .delivery-time-href a{
        display: block;
    }
    .delivery-time-type-con-font{
        margin-top: 0;
    }
}