.content{padding: 0;}
.box{padding: 0;}
.alone_banner_tit{/*banner标题文字*/
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 22px;
}
.alone_banner_txt{/*banner文字*/
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.alone_tit{/*内容区域标题*/
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    padding-top: 42px;
    color: #232323!important;
}
.alone_txt{/*内容区域标题下文字*/
    font-size: 14px;
    color: #616265;
    line-height: 24px;
    text-align: center;
}
.alone_center{/*居中效果*/
    text-align: center;
}
.alone_left{/*居左效果*/
    text-align: left;
}
.color_White{/*文字颜色--白色*/
    color: #FFFFFF;
}
.color_Red{/*文字颜色--红色*/
    color: #c00000;
}
.color_gray{/*文字颜色--666*/
    color: #616265;
}
.color_Light_grey{/*文字颜色--999*/
	color: #999;
}
.color_Normal{/*文字颜色--正常体*/
    color: #616265;
}
.color_Blue{/*文字颜色--蓝色*/
    color: #0070BC;
}
.color_Blue:hover{
    color: #0070BC !important;
}
.page_nav { width: 100%; line-height: 56px; background: #fff; position: fixed; height: 56px; top: 0; display: none; z-index: 22; left: 0;/* transition: all 250ms;*/ box-shadow: 0px 1px 5px #ccc; border-bottom: 1px solid #ccc; }
.page_nav_con { width: 1440px; margin: 0 auto; }
.big_title { float: left; }
.big_title a { font-size: 16px; color: #232323; font-weight: 600; text-decoration: none; padding-left: 20px; display: block; width: 200px; }
.big_title a em { background: url(https://img-en.fs.com/images/partner_bg.png) no-repeat 0 0; width: 13px; height: 8px; display: inline-block; margin-left: 10px; }
.big_title:hover a em { background: url(https://img-en.fs.com/images/partner_bg.png) no-repeat 0 -29px; }
.short_title { float: right; }
.short_title a { padding: 0 30px; text-decoration: none; color: #707473 !important; font-size: 14px; border-right: 1px solid #dedede; }
.short_title a.title_selected {
    color: #232323 !important;
    font-weight: 600;
}
.short_title a:last-child { border-right: none; }
.short_title a:hover { color: #232323!important; }
.big_title .big_title_con { display: none; line-height: 35px; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18); background: #1886cc; -webkit-transition: height 0.5s; position: absolute; z-index: 222; }
.big_title:hover .big_title_con { display: block; }
.big_title_con span a { display: block; text-align: left; padding-left: 20px; font-size: 16px; line-height: 70px; color: #fff; border-bottom: 1px solid #459ed6; }

.alone_banner{/*banner*/
    height: 200px;
    text-align: center;
}
.alone_banner_bg{/*banner背景*/
    position:absolute;
    left:0;
    width:100%;
    height:20pc;
    z-index:-1;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
.alone_font_blod{/*粗体*/
    font-weight: 600;
}
.alone_font_light{/*细体*/
    font-weight:400;
}
.alone_font_normal{/*正常体*/
    font-weight: 400;
}
.alone_font_italic{/*斜体*/
    font-style: italic;
}
.divide_line{/*分割线*/
    border-bottom: 2px solid #e5e5e5;
}
.alone_after:after{/*清除浮动  防止父元素高度塌陷*/
    content:"";
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
}
.alone_box_sizing{/*box-sizing: border-box;*/
    box-sizing: border-box;
}
.alone_img{/*图片自适应*/
    max-width: 100%;
    height: inherit;
    display: block;
    margin: 0 auto;
}
.alone_a_inherit:hover{/*a标签hover状态-1*/
    text-decoration: underline;
}
.alone_a_none:hover{/*a标签hover状态-2*/
    text-decoration: none;
}
.alone_radius{/*圆角*/
    border-radius: 3px;
}
.footer{margin-top:46px;}
.alone_padding_bottom{padding-bottom:0 !important;border-bottom:none}
.alone_margin_bottom{margin-bottom:10px;}
.margin_btn_02{margin-bottom:5px;}

@media(max-width:960px){
	.cu_share{padding-left:10px;padding-right:10px;box-sizing:border-box;}
}
@media(max-width:480px){
    .content{
        width: auto;
        padding: 0 10px;
		box-sizing:border-box;
    }
    .alone_banner{/*banner*/
        height: 220px;
        text-align: center;
    }
    .alone_banner_bg{
        height: 220px;
    }
    .alone_banner_tit{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 10px;
        font-weight: 400;
    }
    .alone_tit{
        font-size: 20px;
        line-height: 30px;
        padding: 20px 0 0;
    }
	.alone_banner.customer_service .alone_banner_tit{padding-top:80px;}
	.cu_share{padding-left:0px;padding-right:0px;}
}

/* 2019/4/30 */
.policy_right .return_padding_none01{margin-bottom: 0;}

@media(max-width:960px){
    .page_nav{display: none!important;}
}

.alone-credit-applyBox{margin: 20px 0 15px;}
.alone-credit-applyMain{color: #232323;border: 1px solid #232323;float: left;border-radius: 2px;margin-right: 5px;margin-bottom: 5px;}
.alone-credit-applyMain>a{text-decoration: none;font-size: 14px;display: block;padding: 10px;}
.alone-credit-applyMain>a:hover{color: #232323;}
.alone-credit-applyMain .icon{font-size: 16px;float: left;margin-right: 10px;}