.mainBox{margin:0;padding:0}
.content{padding:0!important}
li,ul{padding:0;margin:0;list-style:none}
.w1420{width:100%;margin:0 auto}
.box{width:100%!important}
.alone_banner{height:200px;text-align:center}
.alone_banner.quality_commitment .alone_banner_bg{background-image:url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_banner_bg.png)}
.alone_banner_bg{position:absolute;left:0;width:100%;height:20pc;z-index:-1;height:200px;background-size:cover;background-repeat:no-repeat;background-position-x:center}
.alone_banner.quality_commitment .alone_banner_tit{color:#fff;font-weight:400;padding-top:50px;font-size:40px}
.alone_banner_tit{font-size:48px;font-weight:600;line-height:48px;margin-bottom:28px;margin-bottom:20px}
.alone_banner.quality_commitment .alone_banner_txt{color:#fff;font-size:16px}
.alone_banner_txt{font-size:16px;line-height:30px;font-weight:400}
.newsHelp{width:1200px;height:auto;margin:0 auto;padding-bottom:50px;overflow:hidden;padding-top:54px;position: relative}
.newsHelpLeft{width:21%;float:left;}
.newsHelpLeft-scroll{position:fixed;top:36px;width:204px;max-height:474px}
.newsHelpLeft-end{position:absolute;bottom:50px;max-height: 474px;}
.newsHelpLeft>h3{letter-spacing:0;color:#999;font-size:20px;padding-bottom:18px;font-weight:400}
.newsHelpLeft>ul>li{font-size:14px;line-height:24px;letter-spacing:0;color:#232323}
.newsHelpLeft>ul>li>a:hover{text-decoration:none;display:inline-block;color: #232323;}
.newsHelpRight{float:right;width:79%}
.newsHelp .newsHelpLeft .select-page a{color:#232323!important;font-weight:400}
.newsHelpLeft>ul>li>a{display:inline-block;padding:8px 0;width:204px;color: #616265;}
.newsHelpRight_box{padding-bottom:20px}
.newsHelpRight_box .Right_box_title{font-size:26px;padding-bottom:22px;color:#232323;line-height:34px}
.newsHelpRight_box .Right_box_mains{color:#616265;font-size:14px;line-height:24px}
.Right_box_span_ico,.Right_box_span_ico2{padding-top:15px;padding-bottom: 10px;}
.Right_box_span_ico>span{display:inline-block;width:12px;height:12px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/mains_address.png) no-repeat center;margin-right:9px}
.Right_box_span_ico2>span{display:inline-block;width:12px;height:12px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/icon-call.png) no-repeat center;margin-right:9px}
.map_address .map_imgs{margin: 20px 0 30px;}
.map_address .map_imgs img{display: block;max-width: 100%;max-height: 100%;}
.map_time.map-us li{float: left;margin-right: 60px;width: 80px;}
.map_time li p{display:inline-block;font-size:13px;line-height:26px;color:#232323}
.map_time li span{display:inline-block;width:12px;height:12px;border-radius:50%;margin-right:12px}
.map_time li .bgc_90{background-color:#338dc9}
.map_time li .bgc_b2{background-color:#73b1da}
.map_time li .bgc_b3{background-color:#a5cde7}
.map_time li .bgc_b4{background-color:#cce1f2}
.currentlist .currentlist_title{font-size:26px;padding-bottom:22px;color:#232323;padding-top:27px;line-height:34px}
.Preview_herf>span:hover{border-bottom:1px solid #0070BC}
.currentlist .currentlist_mains{font-size:14px;color:#616265;line-height:24px;}
.currentlist>ul{display:flex;align-items:center;flex-wrap:wrap;justify-content:space-between;flex-direction:row}
.currentlist>ul>li{margin-top:15px;border:solid 1px #e5e5e5}
.currentlist>ul>li>a{text-decoration:none}
.currentlist_Img{width:100%;height:260px;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_LS_02.jpg) no-repeat 100% 100%;background-size:cover}
.currentlist_Img_02{background-size:cover;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_local_02.png) no-repeat 100% 100%}
.currentlist_Img_03{background-size:cover;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_local_03.png) no-repeat 100% 100%}
.currentlist_Img_04{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_local_04.png) no-repeat 100% 100%}
.currentlist_Img_05{width:100%;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_LS_01.jpg) no-repeat;background-size:cover}
.currentlist_Img_06{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_LS_05.jpg) no-repeat;width:100%;background-size:cover}
.currentlist>ul>li>a>p{font-size:14px;color:#232323;padding:11px 0;text-align:center}
.mains_address>p{font-size:14px;color:#232323}
.mains_address>ul{padding:10px 0 42px 0}
.mains_address>ul>li{list-style:none;padding-left:0;display:flex;font-size: 14px;line-height: 24px;}
.mains_address>ul>li>p{color:#616265;display:inline-block}
.ridio_span{display:inline-block}
.mains_address>ul>li .ridio_span span{width:5px;height:5px;display:inline-block;border-radius:50%;background:#232323;margin-right:12px;position:relative;top:8.55px}
.mains_address_title{font-size:26px;padding-bottom:22px;color:#232323;line-height:34px}
.mains_address_p>p{font-size:14px;color:#616265;padding-bottom:15px;line-height: 24px;}
.mains_infos>h3{font-size:26px;color:#232323;font-weight:400;padding:42px 0 22px 0;line-height:34px}
.mains_infos>p{font-size:14px;color:#616265;line-height:24px}
.footer_info>h3{font-size:20px;color:#232323;padding: 16px 0 6px 0px;font-weight:400;line-height:30px}
.footer_info>p{font-size:16px;color:#232323}
.footer_info .info_text_p{font-size:14px;color: #616265;line-height: 24px;}
.footer_info>ul{padding:0 0 0 17px}
.footer_info>ul>li{list-style:disc;padding-bottom:15px}
.footer_info>ul>li>p{color:#616265;font-size: 14px;line-height: 24px;}
.mains_select_table>h3{font-size:26px;padding-bottom:22px;color:#232323;padding-top:27px;font-weight:400;line-height: 34px;}
.m_footer_03_inner .m_footer_p_inner{color:#232323;font-size:14px}
.m_footer_03_inner .m_footer_p_inner span{display:inline-block}
.m_footer_p_inner .m_r12{margin-right:12px}
.icon_rights{position:absolute;right:0;top:-1px;font-size: 20px;}
.m_footer_03_one2{border-bottom:1px solid #e5e5e5}
.m_footer_selects{position:relative;min-height:44px;line-height:44px}
.m_footer_03_Text span{font-size:14px;color:#232323;display:inline-block;margin-right:12px}
.m_footer_03_Text p{font-size:13px;color:#616265;display:inline;line-height: 22px;}
.m_footer_03_text_info{display:inline-flex;justify-content:center;align-self:flex-start}
.m_footer_03_text_info_12{padding-right:12px}
.m_footer_03_text_info_24{padding-bottom:24px}
.m_footer_03_text_info_24>a{text-decoration:none;color:#0070BC}
.m_footer_03_text_info_24>a:hover{border-bottom:1px solid #0070BC}
.alone_question_a{display:inline-block;width:60px;height:30px;box-sizing:border-box;border-radius:2px;border:solid 1px #787878;text-align:center;line-height:30px;text-decoration:none;color:#787777;font-size:12px;border-radius:2px;float:left;margin-right:10px;transition:all .3s}
.alone_question_a .icon{font-size:12px;display:none;vertical-align:middle;margin-top:-4px;margin-right:4px}
.alone_question_a:hover{color:#FFF;background:#4C4948;text-decoration: none;}
.alone_a_container .select_alone_question_a{color:#FFF;background:#787777;cursor:default;text-decoration:none}
.alone_Reason,.alone_question_txt{display:none}
.alone_question_container::after{content:"";display:block;clear:both}
.reason_tit{font-size:16px;color:#232323;line-height:22px;font-weight:400;margin:0;margin-bottom:15px}
.cuse_right_ul li .reason_ul{padding-left:0}
.reason_ul{display:block}
.cuse_right_ul li .reason_ul li{display:block}
.reason_ul li.active{color:#232323}
.reason_ul li.active .reason_btn{border-color:#5d5d5d}
.reason_ul li{font-size:13px;color:#232323;cursor:pointer;display:block;width:auto}
.reason_btn{display:inline-block;float:left;margin:4px 7px 0 0;margin-right:7px;cursor:pointer;position:relative;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;margin-right:10px;width:12px;height:12px;border:1px solid #999}
.reason_btn i{position:absolute;border-radius:100%;border:none;width:8px;height:8px;left:2px;top:2px;font-style:normal;font-size:14px;color:#232323}
.reason_ul li.active .reason_btn i{background-color:#5d5d5d}
.reason_a{width:67px;height:30px;display:block;border:1px solid #4c4948;border-radius:2px;text-align:center;line-height:30px;text-decoration:none;font-size:12px;color:#232323;margin-top:12px;transition:all .3s}
.reason_a:hover{color:#FFF;background:#4c4948}
.footer_btn{width:auto;display:flex;padding-top:35px;display: none;}
.alone_a_container{width:auto;height:auto;padding-right:110px}
.footer_btn_p{color:#232323;font-size:20px;padding-bottom:15px;line-height:30px}
.alone_Reason .header_main_search_txt{float:none;width:450px;margin:8px 0 10px 0;border-right: 1px solid #e5e5e5;}
.alone_Reason .header_main_search_txt:focus{border-color: #8d8d8f;}
.track_orders_wenhao_only>span>i{font-style:normal!important}
i{font-style:normal!important}
.new_popup{position:fixed;width:100%;height:100%;z-index:9999999;top:0;left:0;display:none}
.new_popup_bg{position:fixed;left:0;top:0;z-index:-1;width:100%;height:100%;background-color:#000;filter:alpha(opacity=30);opacity:.3}
.pupop_video{margin-top:-328px;z-index:100}
.popup_width880{width:699px;height:342px}
.new_popup_main{position:absolute;background-color:#fff;border-radius:2px;overflow:hidden;left:0;top:0;bottom:0;right:0;margin:auto}
#new_popup_video .new_popup_tit{position:relative;height:36px}
.new_popup_tit{padding:0 20px}
.new_popup_tit,.new_popup_tit strong{font-size:18px;color:#232323;font-weight:400;line-height:56px}
.new_popup_tit,.new_popup_tit strong{font-size:18px;color:#232323;font-weight:400;line-height:56px}
.new_popup_tit .icon{float:right;font-size:20px;cursor:pointer;color:#8d8d8f;position:absolute;right:8px;top:-8px}
.new_popup_video{height:495px}
.new_popup_content{height:342px;background-repeat:no-repeat;background-position:center;background-size:contain}
/* 2020/2/24 */
.Right_box_span_ico>span{display:inline-block;width: auto;height: auto;background:none;margin-right:6px;font-size: 16px;}
.Right_box_span_ico2>span{display:inline-block;width: auto;height: auto;background:none;margin-right:6px;font-size: 16px;}
@media(max-width:960px){
.alone_banner{height:220px}
.alone_banner_bg{height:220px}
.alone_banner.quality_commitment .alone_banner_bg{background-image:url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/new_img_banner_bg_m.png);background-size: cover;background-repeat: no-repeat;}
.alone_banner.quality_commitment .alone_banner_tit{font-size: 26px;padding: 50px 15px 0 15px;line-height: 40px;margin-bottom: 15px;font-weight: 400}
.newsHelp{width:auto;padding:0 14px}
.alone_banner_txt{font-size:16px;line-height:24px;font-weight:400}
.new_help_list_p{padding:0 15px}
.newsHelpLeft{float:none;width:auto;padding:30px 0;display:none}
.newsHelpRight{float:none;width:auto}
.currentlist>ul>li{height:auto;padding-bottom:21px}
.mains_infos>h3{line-height:30px;font-size: 20px;padding: 35px 0 15px 0;}
.currentlist>ul>li>a>p{text-align:left;padding-left:15px;padding-right:15px}
.currentlist .currentlist_title{padding-bottom:15px;padding-top:35px;font-size: 20px;line-height: 30px;}
.currentlist>ul>li{width:100%}
.mains_address>p{padding-top:0}
.mains_address>ul{padding-bottom:30px}
.mains_address_p>p{padding-bottom:12px}
.footer_info{padding-bottom:0}
.m_footer_03_inner .m_footer_p_inner{line-height:22px;display:flex;text-decoration:none;padding-right:30px;width: 100%;}
.m_footer_selects{display:flex;align-items:center}
.icon_rights{top:20px!important}
.mains_select_table .m_footer_03_inner i{font-size:15px!important;position: absolute;}
.alone_banner.quality_commitment .alone_banner_txt{margin-top:10px;padding:0 40px;font-size:16px}
.newsHelpRight_box .Right_box_title{font-size:20px;padding:35px 0 15px 0;color:#232323;line-height:30px}
.alone_a_container{height:80px}
.footer_btn{padding-top:30px;padding-bottom:30px;display:block}
.pupop_video{margin-top:-328px;z-index:100;margin-top:0}
.popup_width880{width:100%;left:0;top:0;margin-left:0}
.m_footer_03_one{border-bottom:1px solid #e5e5e5!important}
.m_footer_03_inner{padding:10px 0!important}

.mains_address_title{font-size: 20px;line-height: 30px;padding-bottom: 15px;}

.footer_info>h3{font-size: 16px;line-height: 16px;padding: 30px 0 15px 0;}
.mains_select_table>h3{font-size: 20px;line-height: 30px;padding: 35px 0 15px 0;}
}

.ce_form_choose_block p{text-indent: 14px;}
.ce_form_choose_block .ce_form_choose_country p{text-indent: 10px;}
.ce_form_choose_block .ce_form_countryList li a{padding-left: 8px;}
.ce_form_choose_block .ce_form_countryList{height: 128px;}

.custom_product_tips span {background: none;padding: 0;color: #936d1d;font-size: 13px;display: inline-block;line-height: 22px;}
.custom_product_tips{border-radius: 2px;background: #f9efd8;box-sizing: border-box;border: none;position:relative;margin-bottom: 25px;display: block;padding:20px 10px 10px 40px;}
.custom_product_tips .icon {color: #936d1d;font-size: 16px;position: absolute;left: 16px;}
.custom_product_tips i {top:21px !important;font-weight: 500;}
.custom_product_tips .custom_product_tips_tit{display: block;font-weight: 600}

@media(max-width:480px){
	.m_footer_03_text_info_24>a{display:inline!important;padding:0!important;margin:0!important}
}

@media(max-width:1440px){
	.newsHelp{
		width:1200px;
	}
}
@media(max-width:1220px){
	.newsHelp{
		width:960px;
	}
}

@media(max-width:480px){
	.m_footer_03_text_info_24>a{display:inline!important;padding:0!important;margin:0!important}
}

/*åˆ«çš„ç«™ç‚¹æ ·å¼*/
.alone_banner.quality_commitment .alone_banner_bg_au{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_LS_au_07.jpg) no-repeat;}
.current_au_01{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_LS_au_01.jpg) no-repeat;}
.current_au_02{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_LS_au_02.jpg) no-repeat;}
.current_au_03{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_LS_au_03.jpg) no-repeat;}
.current_au_04{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_LS_au_04.jpg) no-repeat;}
.current_au_05{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_LS_au_05.jpg) no-repeat;}
.current_au_06{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_LS_au_06.jpg) no-repeat;}
.m_footer_03_text_info_24 i{font-style: italic !important}
.single_page_table{display: table;width: 100%;font-size: 14px;color: #232323;line-height: 18px;margin-bottom: 12px;}
.single_page_tr{display: table-row;}
.single_page_td,.single_page_th{width: 50%;display: table-cell;padding: 14px 0 14px 50px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;box-sizing: border-box;}
.single_page_th{border-bottom: none;background: #e3f0fa;border-right: 1px solid #FFFFFF;}
.single_page_th:last-child{border-right: none;}
.single_page_tr .single_page_td:last-child{border-right: none;}
.alone_p_position{font-size: 13px;color: #232323;line-height: 22px;position: relative;padding-left: 16px;box-sizing: border-box;}
.alone_p_position i{display: inline-block;width: 5px;height: 5px;border-radius: 50%;background: #232323;position: absolute;left: 0;top: 8px;}
.alone_bottom_none{padding-bottom: 0;}
.current_xl_04{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_xl_04.jpg) no-repeat;}
.single_page_td .icon{display: none;}
.Right_box_span_ico{padding-bottom:0 !important}
.new_img_shipping{margin:20px 0 30px 0;}
.new_img_shipping img{margin: 0 auto;display: block}
.alone_960_block{display:none;}
.alone_banner.quality_commitment .alone_banner_uk{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img-banner_uk.jpg) no-repeat;}
.alone_banner.quality_commitment .alone_banner_ru{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img-banner-ru.jpg) no-repeat;}
.single_page_table_dy .single_page_td:first-child,.single_page_table_dy .single_page_th:first-child{width: 23%;}
.single_page_table_dy .single_page_td:last-child,.single_page_table_dy .single_page_th:last-child{width: 77%;}



/*sg*/
.table_select_box {width: 260px;height: 38px;margin-left: 20px;}
.table_select>p {color: #232323;font-size: 14px;}
.table_select {display: flex;justify-content: flex-start;align-items: center;}
.table_select_sg{margin-bottom: 30px;}
.alone_p_sg{font-size: 14px;line-height: 22px;color: #232323;padding-top: 10px;}
.currentlist>ul{width: 920px;}


/*.footer_info>h3{font-size: 16px;}
.newsHelpRight_box .Right_box_mains,.footer_info>ul>li>p,.mains_address_p>p{font-size: 13px;}
.currentlist .currentlist_title,.newsHelpRight_box .Right_box_title,.mains_address_title,.mains_infos>h3,.mains_select_table>h3{font-size: 20px;}
*/
@media(max-width:1220px){
	.newsHelpLeft{display: none;}
	.newsHelp,.content,.newsHelpRight{width: 960px;margin: 0 auto;float: inherit;}
}
@media(max-width:960px){
	.new_img_shipping img{display: block;margin: 0 auto;max-width: 100%;height: inherit;}
	.alone_a_container,.alone_Reason .header_main_search_txt{width:100%;}
	.alone_960_block{display:block}
	.alone_banner.quality_commitment .alone_banner_bg_au{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img_LS_au_07_m.jpg) no-repeat;background-size: cover;background-repeat: no-repeat;}
	.alone_banner.quality_commitment .alone_banner_uk{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img-banner_uk_m.jpg) no-repeat;background-size: cover;background-repeat: no-repeat;}
	.alone_banner.quality_commitment .alone_banner_ru{background: url(https://img-en.fs.com/includes/templates/fiberstore/images/img/newshipping_delivery/img-banner_ru_m.jpg) no-repeat;background-size: cover;background-repeat: no-repeat;}
	.newsHelp,.content,.newsHelpRight,.currentlist>ul{width: 100%;box-sizing: border-box;}
	.currentlist>ul>li{width: 48%;}
	.currentlist>ul>li>a img{max-width: 100%;height: inherit;display: block;}
	.currentlist>ul>li{padding-bottom: 0;}
	.currentlist>ul>li>a>p{padding: 11px 10px;box-sizing: border-box;min-height: 62px;}
	.single_page_td{position: relative;padding-right: 20px;}
	.single_page_td .icon{position: absolute;right: 0;top: 14px;}
	.custom_product_tips{margin:30px 0 0}
}
@media(max-width:580px){
	.currentlist>ul>li{width: 100%;}
	.currentlist>ul>li>a img{width: 100%;}
	.currentlist>ul>li>a>p{padding: 11px 10px;box-sizing: border-box;min-height: inherit;}
	.table_select_sg{display: block;}
	.table_select_sg p{display: block;width: 100%;}
	.table_select_sg .table_select_box{width: 100%;margin-left: 0;margin-top: 20px;}
}
@media(max-width:800px){
	.single_page_table,.single_page_td .icon{display: block;}
	.single_page_tr{display: block;}
	.single_page_th{width: 100%;display: block;border-right: none;}
	.single_page_td{width: 100%;display: block;border-right: none;}
	.m_none{display: none;}
	.single_page_td .icon{float: right;font-size: 15px;}
}
@media(max-width:480px){
	.single_page_td, .single_page_th{padding-left: 20px;}
	.currentlist>ul>li>a img{width: inherit;max-width: 100%;}
}
