.content { padding-top:0;}
.content hr { overflow:hidden; margin:0px;}
.contact_us_banner { width:100%; height:320px;}
.contact_us_banner_bg { position:absolute; left:0; background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_banner.jpg) no-repeat center 0; width:100%; height:320px; z-index:-1;}
.contact_us_banner_text { text-align:center; color:#fff;padding-top: 110px;}
.contact_us_banner_text h2 { font-size:48px; font-weight:600; margin-bottom:30px;line-height: 40px;}
.contact_us_banner_text p{ font-size:18px;}
.contact_us_banner_text p em{font-style:normal;}.contact_us_banner_text p a{color:#fff;text-decoration:none;margin-left:10px;}
.contact_us_title { margin-top:70px; text-align:center; font-size:28px; font-weight:600; color:#232323; margin-bottom:30px;}
.contact_us_text { text-align:center; font-size:14px; color:#616265; line-height:22px; width:720px; margin:0 auto;}
.contact_country { width:1200px; margin:0 auto; overflow:hidden; padding-bottom:40px;}
.contact_country_bg { position:absolute;z-index:-1;}
.contact_country_bg img { display:block; max-width:100%;}
.contact_country_con { margin-top:50px; overflow:hidden;}
.contact_country_con dl { float:left; width:40%; margin:0 5%;margin-bottom: 50px;}
.contact_country_con dl dt{ width:80px; height:140px; display:block; float:left; margin-right:20px;}
.contact_country_con dl dt.icon01{ background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_country_icon.png) no-repeat 0 0;}
.contact_country_con dl dt.icon02{ background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_country_icon.png) no-repeat 0 -178px;}
.contact_country_con dl dt.icon03{ background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_country_icon.png) no-repeat 0 -360px;}
.contact_country_con dl dt.icon04{ background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_country_icon.png) no-repeat 0 -540px;}
.contact_country_con dl dd { padding-top:20px;}
.contact_country_con dl dd h2 { font-size:16px; font-weight:normal; color:#232323; margin-bottom:20px;}
.contact_country_con dl dd p { font-size:14px; color:#616265; margin-bottom:20px; line-height:22px;}
.contact_country_con dl dd em {font-size:14px; color:#616265; font-style:normal;}
.contact_phone {width:1200px; margin:0 auto; overflow:hidden;}
.Cus_call_us { margin-top:50px;border-top: 1px solid #dedede; margin-bottom:70px;}
.Cus_call_dl_wap { overflow: hidden;border-bottom: 1px solid #dedede; padding:25px;}
.Cus_call_us dl:nth-child(2) {}
.Cus_call_dl_wap dt { cursor: pointer; }
.Cus_call_dl { overflow: hidden; }
.Cus_call_dl dt { float: left; border-bottom: none; width: 3%; }
.Cus_call_dl dt img { padding-right: 12px; }
.Cus_call_dl dd { width: 97%; }
.Cus_call_dl dd em { float: right;color: #232323;transition: all .3s;}
.Cus_call_dl dd { float: left; }
.Cus_call_ul { list-style: none; overflow: hidden; width: 100%; margin: 0 auto; }
.Cus_call_ul li { width: 33.33%; float: left; text-align: left; padding-top: 10px; }
.Cus_call_ul li a { text-decoration: none; color: #616265; font-size: 14px; line-height: 30px;display: block;padding-left: 36px; }
.Cus_call_dl dd span { font-size: 16px; color: #232323; }
.Cus_call_dd { display: none; overflow: hidden; }
.icon_btn { cursor: pointer; }
.Cus_call_dl dd em.active{transform: rotate(45deg);background: #cccccc;}
.icon_btn01{display: none;}
.Cus_call_dl_wap.active dd .icon_btn{display: block;transform: rotate(45deg);}
.Cus_call_dl dt i.iconfont{ color:#0070BC; font-size:18px;}
.contact_us_email {width:1200px; margin:0 auto; overflow:hidden;}
.contact_us_email_con { margin-top:70px;}
.contact_us_email_con dl {float:left; margin-bottom:50px; width:24%; padding: 0 1%;}
.contact_us_email_con dl:nth-child(4){ width:18%;}
.contact_us_email_con dl:nth-child(8){ width:18%;}
.contact_us_email_con dl dt { width:48px; height:48px; display:block; float:left; margin-right:30px;}
.contact_us_email_con dl dt.icon01 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_mail_icon.png) no-repeat 0 0;}
.contact_us_email_con dl dt.icon02 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_mail_icon.png) no-repeat 0 -148px;}
.contact_us_email_con dl dt.icon03 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_mail_icon.png) no-repeat 0 -296px;}
.contact_us_email_con dl dt.icon04 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_mail_icon.png) no-repeat 0 -444px;}
.contact_us_email_con dl dt.icon05 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_mail_icon.png) no-repeat 0 -592px;}
.contact_us_email_con dl dt.icon06 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_mail_icon.png) no-repeat 0 -740px;}
.contact_us_email_con dl dt.icon07 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_mail_icon.png) no-repeat 0 -888px;}
.contact_us_email_con dl dt.icon08 { background:url(https://img-en.fs.com/includes/templates/fiberstore/images/contact_mail_icon.png) no-repeat 0 -1036px;}
.contact_us_email_con dl dd h2 { font-size:16px; font-weight:600; color:#616265; margin-bottom:20px;}
.contact_us_email_con dl dd p { font-size:14px; color:#616265;}
.contact_country_con a { color:#616265; text-decoration:none;}
.contact_us_email_con dl dd p a { text-decoration:none; color:#616265;}

.page_nav {
	width: 100%;
	line-height: 56px;
	background: #fff;
	position: fixed;
	height: 56px;
	top: 0;
	display: none;
	z-index: 22;
	left: 0;/* transition: all 250ms;*/
	box-shadow: 0px 1px 5px #ccc;
	border-bottom: 1px solid #ccc;
}
.page_nav_con {
	width: 1440px;
	margin: 0 auto;
}
.big_title {
	float: left;
}
.big_title a {
	font-size: 16px;
	color: #232323;
	font-weight: 600;
	text-decoration: none;
	padding-left: 20px;
	display: block;
	width: 200px;
}
.big_title a em {
	background: url(https://img-en.fs.com/images/partner_bg.png) no-repeat 0 0;
	width: 13px;
	height: 8px;
	display: inline-block;
	margin-left: 10px;
}
.big_title:hover a em {
	background: url(https://img-en.fs.com/images/partner_bg.png) no-repeat 0 -29px;
}
.short_title {
	float: right;
}
.short_title a {
	padding: 0 30px;
	text-decoration: none;
	color: #232323;
	font-size: 14px;
	border-right: 1px solid #dedede;
}
.short_title a.title_selected {
	color: #c00000;
}
.short_title a:last-child {
	border-right: none;
}
.short_title a:hover {
	color: #c00000;
}
.big_title .big_title_con {
	display: none;
	line-height: 35px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
	background: #1886cc;
	-webkit-transition: height 0.5s;
	position: absolute;
	z-index: 222;
}
.big_title:hover .big_title_con {
	display: block;
}
.big_title_con span a {
	display: block;
	text-align: left;
	padding-left: 20px;
	font-size: 16px;
	line-height: 70px;
	color: #fff;
	border-bottom: 1px solid #459ed6;
}
@media(max-width: 1440px){
	.page_nav_con {
		width: 1200px;
	}
}
@media (max-width: 1220px){
	.page_nav_con {
		width: 960px;
	}
	.contact_country,.contact_phone,.contact_us_email { width:auto;}
	.contact_country_con dl dt{ height:180px;}
	.Cus_call_ul li {width: 50%;padding-left: 26px;}
	.live_chat_service_main_explain {min-height: 120px;}
	.contact_us_email_con dl { width:23%;}
	.contact_us_email_con dl:nth-child(4){ width:23%;}
    .contact_us_email_con dl:nth-child(8){ width:23%;}
	.contact_us_email_con dl dt { height:80px;}
	}
@media (max-width: 960px){
	.page_nav {
		display: none !important;
	}
	.contact_country,.contact_phone,.contact_us_email { width:auto; padding:0 10px;}
	.contact_country_con dl { width:100%; margin:0; margin-bottom:40px;}
	.contact_country_con dl dt{ height:140px;}
	.contact_us_title,.contact_us_email_con{margin-top:40px;}
	.Cus_call_dl dt { width:5%;}
	.Cus_call_dl dd { width:95%;}
	.Cus_call_ul li {padding-left: 32px;}
	.contact_us_email_con dl dd h2 { margin-bottom:10px;}
	.contact_us_email_con dl { width:30%;}
	.contact_us_email_con dl:nth-child(4){ width:30%;}
    .contact_us_email_con dl:nth-child(8){ width:30%;}
	.live_chat_service_main_explain {min-height: 150px;}
	}
@media (max-width:768px){
	.contact_us_text { width:auto;}
	.contact_country_con dl dt{ float:none; height:80px; margin:0 auto;}
	.contact_country_con { margin-top:30px;}
	.contact_country_con dl dd{ text-align:center;}
	.contact_country_con dl dd h2,.contact_country_con dl dd p { margin-bottom:10px;}
	.contact_us_email_con dl dt { float:none; margin:0 auto; margin-bottom:20px;}
	.contact_us_email_con dl dd{text-align:center;}
	.contact_us_email_con dl dd h2{ margin-bottom:10px;}
	.Cus_call_ul li {width: 100%;}
	.contact_us_email_con dl dt{ height:48px;}
	.contact_us_email_con dl { height:138px;}
	.live_chat_service_main_type { width:100%;}
	.live_chat_service_main_explain { min-height:auto; height:auto;}
	.live_chat_service_main { margin-top:0px;}
	}
@media (max-width:580px){
	.Cus_call_dl dt { width:10%;}
	.Cus_call_dl dd { width:90%;}
	.Cus_call_ul li{ padding-left:0px;}
}
@media (max-width:480px){
	.contact_us_email_con dl { width:48%;}
	.contact_us_email_con dl:nth-child(4){ width:48%;}
    .contact_us_email_con dl:nth-child(8){ width:48%;}
	}