/* 引入样式公共变量*/
html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
input,
select,
textarea,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 12px;
}
a,
a:active,
a:hover {
  color: #378eef;
}
.ant-tree li .ant-tree-node-content-wrapper:hover {
  background-color: #ebf3ff;
  border-radius: 3px;
}
.ant-btn-primary,
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  border-color: #378eef;
  background-color: #378eef;
  border-radius: 3px;
}
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background-color: #f8f8f8;
}
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  background-color: #ebf3ff;
  color: #378eef;
}
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #ebf3ff;
  color: #378eef;
}
.action {
  vertical-align: 0;
}
.ant-menu-vertical .ant-menu-item:after,
.ant-menu-vertical-left .ant-menu-item:after,
.ant-menu-vertical-right .ant-menu-item:after,
.ant-menu-inline .ant-menu-item:after {
  border-right-color: #378eef;
}
.ant-btn .anticon-search {
  font-size: 18px;
}
div.ant-tabs-tab {
  font-size: 14px;
}
.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover {
  color: #378eef;
  font-size: 14px;
}
.ant-tabs-ink-bar {
  background-color: #378eef;
}
.menu .ant-menu-submenu span {
  font-size: 14px;
}
.ant-btn-circle span {
  font-size: 14px;
}
.page-header .page-header-index-wide .ant-breadcrumb-link span,
.page-header .page-header-index-wide .ant-breadcrumb-link a {
  font-size: 14px;
}
.ant-breadcrumb a:hover {
  color: #378eef;
}
.ant-layout-header .ant-btn:hover,
.ant-layout-header .ant-btn:focus {
  color: #378eef;
  border-color: #378eef;
}
.ant-select-selection:hover {
  border-color: #378eef;
}
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  border-color: #378eef;
}
.ant-layout-header .user-wrapper span {
  font-size: 14px;
  color: #fff;
}
.ant-popover-inner .ant-btn-primary:hover,
.ant-popover-inner .ant-btn-primary:focus {
  color: #fff;
}
.ant-popover-inner .ant-btn-default:hover,
.ant-popover-inner .ant-btn-default:focus {
  color: #378eef;
  border-color: #378eef;
}
.ant-modal-content .ant-btn-default:hover,
.ant-modal-content .ant-btn-default:hover {
  color: #378eef;
  border-color: #378eef;
}
.ant-input {
  font-size: 12px;
}
.ant-input:hover,
.ant-input:focus {
  border-color: #378eef;
}
.ant-switch-checked {
  background-color: #378eef;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #ebf3ff;
}
.ant-pagination-item-active,
.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover,
.ant-pagination-item:focus,
.ant-pagination-item:hover {
  border-color: #80adf5;
}
.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #80adf5;
  color: #666666;
  background-color: #d8e7ff;
}
.ant-table,
.ant-table-thead > tr > th {
  color: #666666;
}
.ant-select-dropdown-menu-item,
.ant-select-selection-selected-value {
  font-size: 12px;
}
.ant-select-dropdown-menu-item img,
.ant-select-selection-selected-value img {
  vertical-align: text-top;
}
.ant-cascader-picker .anticon-down {
  margin-top: -3px;
}
.ant-cascader-picker-arrow.ant-cascader-picker-arrow-expand {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item-selected:hover {
  font-weight: 400;
}
.ant-pagination .ant-select-dropdown-menu-item-selected,
.ant-pagination .ant-select-dropdown-menu-item-selected:hover {
  color: #378eef;
}
.ant-select-dropdown-menu-item:hover {
  background-color: #f4f4f4;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #378eef;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #378eef;
  border-color: #378eef;
}
.ant-checkbox-indeterminate .ant-checkbox-inner {
  border-color: #378eef;
}
.ant-checkbox-indeterminate .ant-checkbox-inner:after {
  background-color: #378eef;
}
.ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
  background-color: #ebf3ff;
}
.ant-select-tree li .ant-select-tree-node-content-wrapper:hover {
  background-color: #f4f4f4;
}
.ant-select-dropdown-menu-item-active {
  background-color: #ebf3ff;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 12px 0px;
}
.ant-table-tbody > tr > td {
  border-color: #fff;
}
.colon /deep/ label::after {
  content: '';
}
.ant-select-selection--multiple,
.ant-select-selection--single,
.ant-input,
.ant-btn {
  min-height: 32px;
}
.ant-select-selection--multiple .ant-select-selection__choice {
  margin-top: 3px;
}
.ant-form-inline .ant-form-item {
  vertical-align: middle;
  margin-right: 10px;
}
.ant-table-thead > tr > th.ant-table-selection-column,
.ant-table-tbody > tr > td.ant-table-selection-column {
  min-width: 60px;
  width: 60px;
  padding-right: 10px;
}
.ant-table-tbody > tr > td {
  padding-right: 20px;
}
.menu .ant-menu-submenu:hover .ant-menu-submenu-arrow::before,
.menu .ant-menu-submenu:hover .ant-menu-submenu-arrow::after {
  background-image: linear-gradient(to right, #4778c7, #4778c7);
}
#app /deep/ .ant-spin-nested-loading .ant-spin.ant-spin-spinning .ant-spin-dot > i {
  background: #378eef;
}
.ant-btn-primary .anticon-search svg,
.anticon-down svg {
  display: none;
}
.ant-btn-primary .anticon-search {
  background: url(../images/ERP_New_icon.png) -82px -219px;
  width: 18px;
  height: 18px;
}
.anticon-down {
  background: url(../images/ERP_New_icon.png) -313px -191px;
  width: 10px;
  height: 8px;
  vertical-align: middle;
}
.ant-select-arrow-icon.anticon-down {
  background: url(../images/ERP_New_icon.png) -313px -191px;
  width: 10px;
  height: 8px;
  margin-top: 3px;
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #378eef;
}
.ant-input-search .ant-input-search-icon {
  font-size: 18px;
}
.ant-table-body {
  margin-top: 10px;
}
.ant-modal-close-icon {
  font-size: 22px;
}
.ant-table-thead > tr:first-child > th:first-child,
.ant-table-thead > tr:first-child > th:last-child {
  border-radius: 0;
}
