@font-size11: 11px;
@font-size12: 12px;
@font-size14: 14px;
@font-size16: 16px;
@font-size18: 18px;
@font-size22: 22px;
@default-color:#378eef;
@btn-bg:#ebf3ff;
@hover-btn-bg:#f4f4f4;
@btn-border-radius: 3px;
@btn-search-icon:18px;
@font-color:#fff;
@paging-borderColor:#80adf5;
@paging-fontColor:#666666;
@btn-hintColor:#999;
@paging-bgColor:#d8e7ff;
@font-weight:400;
@btn-height:32px;
@btn-content-marginTop5: 5px;
@btn-content-marginTop2: 2px;
@erp-iconSize:18px;
@erp-Icon:url(../images/ERP_New_icon.png);
@table-marginTop:10px;
