@import 'vari.less';

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,button,input,select,textarea,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  -webkit-appearance: none;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
  color: '#666';
  font-size: 14px;
}

ol,
ul {
  list-style: none;
}

div {
  background: none;
  
}
.ant-popover{
  z-index: 10001;
}
input,textarea,select{outline: none;}
input,textarea,select:focus{border-color: rgba(0, 0, 0, 0);}
input:-webkit-autofill{-webkit-animation: autofill-fix 1s infinite !important;-webkit-text-fill-color: #666666;transition: background-color 50000s ease-in-out 0s !important;background-color: rgba(0,0,0,0) !important;-webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;}

.clearFl:after{content:"";display: block; height: 0;overflow: hidden;clear: both;visibility: hidden;}
.p-ellipsis{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.positionRe {position: relative}
.pointer {cursor: pointer;}
ul.float>li{float: left !important;}
ul.type2>li{width: 50%;}
ul.type3>li{width: 33.33%;}
ul.type4>li{width: 25%;}
ul.type5>li{width: 20%;}
ul.type6>li{width: 16.66%;}
ul.type7>li{width: 14.2857%;}
ul.type8>li{width: 12.5%;}
ul.type10>li{width: 10%;}

/*高宽&距离&字体&行高*/
.widthAll {width: 100%;}
.marginB5 {margin-bottom: 5px;}
.marginB10 {margin-bottom: 10px;}
.marginB18 {margin-bottom: 18px;}
.marginB20 {margin-bottom: 20px}
.marginR10 {margin-right: 10px;}
.marginR20 {margin-right: 20px;}
.marginR30 {margin-right: 30px;}
.marginB30 {margin-bottom: 30px;}
.pd20 {padding: 20px;}
.pdR10 {padding-right: 10px;}
.pdR20 {padding-right: 20px;}
.pdR40 {padding-right: 40px;}
.fontS12 {font-size: 12px;}
.lineH14 {line-height: 14px;}

/*表格*/
.table-1 td{padding: 10px;}
.table-1 tr>td{border-right: 1px solid #fff;}
.table-1 tr>td:last-child{border-right: 0;}
.table-1 thead tr{background-color: #e4eaf6;}
.table-1 tbody tr:nth-of-type(2n){background-color: #f8f8f8;}

.table-2 table{table-layout:fixed;}
.table-2 td, .table-2 th {padding: 10px 0 10px 20px !important;word-break: break-all;word-wrap: break-word;}
.table-2 td:empty::after {content: '--'}
.table-2 thead tr {background-color: rgba(55, 142, 239, .1);border-radius: 5px;}
.table-2 thead tr>th:first-child {border-radius: 5px 0 0 5px !important;}
.table-2 thead tr>th:last-child {border-radius: 0 5px 5px 0 !important;}
.table-2 thead tr>th {border-bottom: 0;}
.table-2 tr {transition: none;}
.table-2 tr:hover td {animation: none !important;background: none !important;}

/*模块*/
.p-part {padding: 20px;background-color: #fff;box-shadow:0px 5px 15px 0px rgba(223,226,230,0.8);border-radius:4px;}

/*标题*/
.p-title{margin-bottom: 10px;line-height: 12px;font-size: 12px;}
.p-title.must{padding-left: 10px;position: relative;}
.p-title.must::before{content: '*';position: absolute;left: 0;top: 0;color: #ff4a4a;}
.p-title.disabled{color: #bbb;}

/*输入框*/
.p-input{border: 0;border-bottom: 1px solid #ccc;padding-left: 0;padding-right: 0;border-radius: 0;display: block;color: #666;}
.p-input:focus, .p-input:hover, .p-input-1:focus, .p-input-1:hover{border-color: #ccc !important;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);}
.p-input:disabled{background-color: #fff;opacity: .5;}
.p-input-1{border: 1px solid #ccc;border-radius: 3px;font-size: 12px;padding: 0 10px;height: 34px;line-height: 34px;display: block;}

.p-file-box {position: relative;padding-right: 100px;margin-bottom: 10px;}
.p-file-box .file-btn {position: absolute;width: 68px;right: 22px;top: 0;cursor: pointer;}
.p-file-box .file-delete {position: absolute;right: 0;top: 10px;font-size: 12px;cursor: pointer;color: #bbb;}

/*链接*/
.p-a{color: #378eef;text-decoration: none;cursor: pointer;}
.p-a:hover{color: #378eef;}

/*浮动*/
.fr{float: right;}
.fl{float: left;}

/*按钮*/
.p-btn{background-color: #378eef;text-align: center;line-height: 34px;padding-left: 20px;padding-right: 20px;border: 0;border-radius: 3px;color: #fff;height: 34px;cursor: pointer;}
.p-btn:hover{opacity: 0.9;background-color: #378eef;}
.p-btn:active,.p-btn:focus{background-color: #378eef;}
.p-btn-1{height: 34px;padding-left: 20px;padding-right: 20px;border: 1px solid #378eef;color: #378eef;text-align: center;line-height: 34px;background-color: #fff;cursor: pointer;}
.p-btn-1:hover{opacity: 0.9;color: #378eef;border-color: #378eef;}

/*提示框*/
.p-tip{border: 1px solid #ffd8bf;background-color: #fff2ea;padding: 8px 30px 8px 10px;font-size: 12px;color: #f88d49;line-height: 16px;position: relative;box-sizing: border-box;border-radius: 5px;}
.p-tip .anticon-close{position: absolute;right: 10px;top: 50%;margin-top: -6px;color: #f88d49;cursor: pointer;}
.p-tip.no-btn{padding-right: 10px;}
.p-tip-b{position: relative;}
.p-tip-b:hover .p-tip-1{display: block;}
.p-tip-1{position: absolute;display: none;z-index: 6;}
.p-tip-1 .arrow{position: absolute;color: #dfdfdf;font-size: 12px;background-color: #fff;transform: scale(0.5833);}
.p-tip-1 .tip-box{border: 1px solid #dfdfdf;box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.15); border-radius: 3px;text-align: left;background: #fff; z-index: 9;color: #666;line-height: 16px;}
.p-tip-1.left-b{padding-top: 10px;left: -14px;}
.p-tip-1.left-b .arrow {left: 10px;top: 0;z-index: 7;}
.p-tip-1.right-b{padding-top: 10px;right: -10px;}
.p-tip-1.right-b .arrow {right: 10px;top: 2px;z-index: 7;}

/*标签*/
.p-label {padding: 0 4px; line-height: 18px; border-radius:3px;}
.p-label.red1 {background-color: #ffdbdd; color: #ff4a4a;}
.p-label.yellow1 {background-color: #fbe7dc; color: #F88D49;}

/*小图标*/
.p-icon-email{display: inline-block;width: 12px;height: 12px;background: url('@{icon_url}uums-icon.png') no-repeat -10px -10px;}


/*修改框架样式*/

/*提示弹窗*/
.tip-modal {
  .ant-modal-close-x {
    width: 48px;
    height: 48px;
    font-size: 14px;
  }
  .ant-modal-footer {
    padding: 0 20px 20px;
    display: flex;

    >div {
      width: auto;
      margin: auto;
    }
    .ant-btn-primary {float: left;margin: 0 20px 0 0;}
  }
}
/*普通弹窗*/
.normal-modal {
  .ant-modal-close-x {
    width: 48px;
    height: 48px;
    font-size: 14px;
  }
  .ant-modal-body {
    padding-bottom: 0;
  }
  .ant-modal-footer {
    padding: 20px;
    .ant-btn-primary {margin-left: 20px;}
  }
}

.ant-select-selection{
    border: 1px solid #ccc;
}
.ant-input{
    border: 1px solid #ccc;
}
.con .ant-form-item{
    margin-bottom: 20px;
}
.con .ant-form-item-label{
    line-height: 30px;
}
  

//修改的通用样式
.table-eidt {
    position: fixed;
    bottom: 0px;
    z-index: 10;
    background: #fff;
    box-shadow: 0px 5px 15px 0px rgba(223, 226, 230, 0.8);
}
.table-eidt .ant-table-content{
  width: 0;
}
.ant-form-item-label{
  label{
    font-size: 12px;
  }
}
.table-list .ant-table-wrapper{
    margin-bottom: 0 !important;
}
.ant-pagination-options-size-changer.ant-select{
    margin-right: 20px;
}
.table .pName{
    cursor: pointer;
}
.ant-table-placeholder{
  border: 0;
}
.ant-modal-footer{
  border-top: none;
}
.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner-full{
    margin-top: -6px;
}
.ant-badge-count{
    line-height: 13.5px;
    min-width: 14px;
    height: 14px;
    padding: 0px 4px;
    bottom: 1px;
}

.ant-tabs-nav .ant-tabs-tab{
    margin: 0 29px 0 0;
}
//.ant-table-tbody > tr > td {
//    padding: 0 20px 0 0;
//}
.table-list  .ant-table-tbody > tr > td{
    padding: 0 20px 0 0;
}
.table-eidt .ant-table-pagination.ant-pagination{
  position: absolute ;
  right: 0;
}
.table-list .ant-table-body .ant-table-row-level-0{
   min-height: 94px !important;
    height:94px !important;
}
.table-list .ant-table-body .ant-table-row-level-1{
    min-height: 40px;
    height:40px;
}
.table-list .ant-table-body .ant-table-row-level-1 td{
    min-height: 40px;
    height:40px;
    padding: 7px 0px;
    padding-right: 10px;
}
.table-list .ant-table-body .ant-table-row-level-2 td{
    min-height: 40px;
    height:40px;
    padding: 7px 0px;
    padding-right: 10px;
}
.ant-table .ant-table-row-indent + .ant-table-row-expand-icon{
    position: relative;
    bottom:1px;
}
.from .btn {
  text-align: right;
  padding: 20px;
}
.delFile{
  line-height: 32px;
  span{
    font-size: 12px;
    color: #bbb;
  }
}
.colon label::after{
  content: '';
}
.saixuan{
  height: 156px;
  padding-left:20px;
  overflow-y: auto;
  margin-right: 20px;
  text-align: left;
  .saixuan-box{
    margin-bottom: 20px;
    display:flex;
    .dynamic-delete-button{
      top: 8px;
      right: 0px;
      margin-left: 10px;
    }
    .last{
      flex:1;
      margin-right: 0;
    }
  }
}
.ant-popover-inner-content {
    padding: 10px;
}
.ant-radio-wrapper span:nth-child(2){
    font-size: 12px;
}
.ant-input-group-addon{
    font-size: 12px;
}
.ant-btn-sm{
    font-size: 12px;
}
.showFile .fileList{
    margin-bottom: 8px !important;
}
.el-dialog__header{
    background: #f8f8f8 !important;
    border-radius: 3px 3px 0 0;
}
.ant-modal-header{
    padding: 12.5px 20px;
    border-bottom: 1px solid #eee;
    background: #f8f8f8 !important;
    border-radius: 3px 3px 0 0;
}
.el-dialog {
    overflow: hidden !important;
}
.el-dialog__title{
    font-size: 16px;
    font-weight: bold;
    color: #666;
}
.ant-modal-title{
    font-weight: bold;
    color:#666;
}
.person .avatar,.Mperson .avatar{
    position: relative;
    left: 2px;
    top: -2px;
    margin-bottom:0 !important;
}
.ant-message{
  z-index: 100000 !important;
}
.downLoad{
    margin-right: 4px;
}
.showFile .flieAction{
    border-top: 1px solid #EEEEEE;
    height: 36px;
    line-height: 36px;
}

.modal-pms .showFile .fileList .txt a{
  max-width: 230px !important;
}
//修改列表hover颜色
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  // background-color: rgba(55,141,239,.1) !important;
  color: #666666 !important;
  animation: disappear 2s;
  animation-fill-mode:forwards
}
// .ant-table-body .ant-table-row-hover{
// 	background: red!important;
// }
// .ant-table-body .ant-table-row-hover>td{
// 	background: red!important;
// }
// .ant-table-fixed .ant-table-row-hover{
//   background: red!important;
// }
// .ant-table-fixed .ant-table-row-hover>td{
// 	background: red!important;
// }
@keyframes disappear{
  0%{
    background-color: rgba(55,141,239,.1);	
  }
  100%{
    background-color:#fff ;
  }
}

@keyframes disappear2{
  0%{
    // background-color:#fff ;	
  }
  100%{
    background: #eee
  }
}

.ant-table-thead th{
  background:rgba(55,141,239,.1) !important;
}
.ant-modal-body{
  .ant-table-thead th{
    background: #fff !important;
    color: #BBBBBB;
    border-bottom: 1px solid #eee;
  }
  .ant-table-body tr:nth-child(even){
    background: #fff;
  }
}
.el-dialog__body {
  .ant-table-thead th{
    background: #fff !important;
    color: #BBBBBB;
    border-bottom: 1px solid #eee;
  }
  .ant-table-body tr:nth-child(even){
    background: #fff;
  }
}
.logModal .ant-modal-body{
  padding: 0 20px;
}
.ant-popover-inner{
  box-shadow:0px 8px 25px 0px rgba(206,206,206,0.8);
}
.ant-cascader-menus {
  box-shadow:0px 8px 25px 0px rgba(206,206,206,0.8) !important;
}
.ant-select-dropdown {
  box-shadow:0px 8px 25px 0px rgba(102,102,102,0.25) !important;
}
.ant-modal-content{
  box-shadow:0px 8px 25px 0px rgba(102,102,102,0.25) !important;
}
.el-dialog{
  box-shadow:0px 8px 25px 0px rgba(102,102,102,0.25) !important;
}
.el-form-item{
  margin-bottom: 0;
}
.el-textarea__inner{
  font-size: 12px;
}
.el-textarea__inner::-webkit-input-placeholder {
  font-weight: 400;
}
.ant-modal-header{
  background: #f8f8f8;
}
.ant-tabs-nav .ant-tabs-tab{
  color: #333;
}
.ant-table-body tr:nth-child(odd) {
  background: #fff;
}
.ant-table-body tr:nth-child(even) {
  background: #f8f8f8;
}
.ant-tabs-tab-active{
  font-weight: bold !important;
}
.status_txt{
  vertical-align: text-bottom;
}
.el-dialog__header{
  background:#f8f8f8;
}
.el-tabs__item{
  border-radius: 3px 3px 0px 0px !important;
  
}
.el-date-editor .el-range-input{
  font-size: 12px;
}
.ql-container.ql-snow {
  border: 1px solid #eee !important;
}
.el-input--prefix .el-input__inner{
  font-size: 12px;
}
.ant-popover{
  max-width: 400px;
}
.el-date-editor .el-range-separator{
  font-size: 12px;
  line-height: 30px;
  color: #666;
}
.ant-cascader-picker-label{
  font-size: 12px;
}
.cup{
  cursor: pointer;
}
.ant-select-selection-selected-value .after{
  display: none;
}
.overflow-3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.button_box_text {
  width: 18px;
  display: inline-block;
  height: 18px;
  border: 1px solid #ff4a4a;
  background: rgba(255, 74, 74, 0.2);
  color: #ff4a4a;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
}
.button_box_color2 {
  border: 1px solid rgba(248, 141, 73, 1);
  background: rgba(248, 141, 73, 0.2);
  color: rgba(248, 141, 73, 1);
}
.button_box_color3 {
  border: 1px solid rgba(254, 188, 46, 1);
  background: rgba(254, 188, 46, 0.2);
  color: rgba(254, 188, 46, 1);
}
.button_box_color4 {
  border: 1px solid rgba(61, 204, 166, 1);
  background: rgba(61, 204, 166, 0.2);
  color: rgba(61, 204, 166, 1);
}
.button_box_color5 {
  border: 1px solid rgba(187, 187, 187, 1);
  background: rgba(187, 187, 187, 0.2);
  color: rgba(187, 187, 187, 1);
}
.table-eidt .ant-table-content{
  width: 0;
}
.ant-select-selection--multiple .ant-select-selection__rendered > ul > li{
  margin-top: 3px;
}
.ant-select-selection__rendered,.ant-input{
  font-weight: normal;
}
.ant-select-selection--multiple .ant-select-selection__choice {
  margin-top: 3px;
}
.ant-form-item{
  margin-bottom: 20px;
}
.el-button{
    padding: 9px 20px;
}
.ant-modal-footer .ant-modal-close{
    font-size: 16px;
}
.page-header .page-header-index-wide .ant-breadcrumb-link span, .page-header .page-header-index-wide .ant-breadcrumb-link a{
    font-size: 12px !important;
    color:#bbb;
}
.table-list .button_box:hover {
    width: 70px;
    height: 20px;
    background: #eee !important;
}
.ant-modal-close-x .ant-modal-close-icon{
    font-size: 16px;
    top: -4px;
    position: relative;
}
::-webkit-scrollbar
{
    width:6px;
    background:rgba(187,187,187,0.5);
}

// 必填项校验*号样式
.pms-required-icon {
  color:#f5222d;
  font-size:14px;
  font-family: SimSun, sans-serif;
}


/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    //-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    border-radius: 3px;
    background:rgba(255,255,255,1);
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(187,187,187,0.5);
    background:rgba(187,187,187,0.5);

}
.text-p-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 260px;
    display: inline-block;
    cursor: pointer;
    line-height: 1.5;
}
.text-p-overflow2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 128px;
    // width: 100%;
    display: inline-block;
    cursor: pointer;
}
.text-p-flex {
    display: flex;
}
.text-p-flex a{
    margin-right:4px;
}
.table-list /deep/.ant-table-pagination {
  display: none;
}
.table-list .pro_tips .text-p-flex .rideo{
    position: relative;
    top: 8px;
    margin-right: 4px;
}
.pms-publishing-info{
  line-height: 1;
  h3{
      font-weight: bold;
      color: #333333;
      margin-bottom:15px;
  }
  .details{
      .marginB10{
          display: flex;
      }
      .left-details{
          width: 75px;
          margin-right: 10px;
          color: #bbb;
      }
      .right-details{
          flex:1;
          word-break: break-all;
      }
  }
  .version-details{
      .left-details{
          width: 100px;
      }
  }

}
.version-tag-1{
  display: inline-block;
  padding:0 4px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  margin-right: 4px;
  color:  rgba(255, 74, 74, 1);
  background: rgba(255, 74, 74, .2);
  border-radius: 3px;
}
.version-tag-2{
  display: inline-block;
  padding:0 4px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  margin-right: 4px;
  color:  rgba(55, 142, 239, 1);
  background: rgba(55, 142, 239, .2);
  border-radius: 3px;
}

.tac{
  text-align: center;
}
.tar{
  text-align: right;
}
.fz12{
  font-size: 12px !important;
}
.fz13{
  font-size: 13px !important;
}
.fz14{
  font-size: 14px !important;
}
.ant-dropdown .ant-dropdown-menu-item:hover{
    background:rgba(238,238,238,0.5);
}

.ant-dropdown-menu-item a:hover {
    color: #666;
}
.ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters:hover::before{
    background:none !important;
}
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
    background: #f8f8f8;
}
.ant-table-tbody>tr>td.ant-table-column-sort {
    background: none;
}
.ant-table-tbody>tr>td{
  border-bottom: none;
}
.lineHeihgt-none{
    line-height: initial;
    margin-bottom:4px;
}
.has-error .ant-form-explain{
    font-size: 12px;
}
.anticon-close{
    font-size: 16px;
}

//.table-list .text-p{
//    overflow: hidden;
//    text-overflow: ellipsis;
//    display: -webkit-box;
//    -webkit-line-clamp: 1;
//    -webkit-box-orient: vertical;
//}

.tabslist {
  /deep/.ant-tabs-top-bar {
    background: #fff;
    margin: 0;
    padding: 0 10px;
  }
  /deep/.ant-tabs-nav-container {
    height: 54px !important;
    .anticon-apple {
      display: none;
    }
    .anticon-android {
      display: none;
    }
    .ant-tabs-tab {
      color: #666;
      font-size: 14px;
      font-weight: bold;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: #378eef;
      //     font-size: 14px;
      //     font-weight:bold;
    }

    .ant-tabs-bar {
      border-bottom: 1px solid #eee;
    }
    .ant-tabs-nav .ant-tabs-tab {
      padding: 17px 10px;
    }
    .shop-size {
      display: inline-block;
      width: 23px;
      height: 15px;
      background: #ff4a4a;
      border-radius: 7px;
      font-size: 10px;
      color: #fff;
      font-weight: 400;
      text-align: center;
      line-height: 12px;
      position: relative;
      top: -2px;
      left: 4px;
    }
  }
  .btn-right {

    position: absolute;
    right: 20px;
    top: 30px;
    display: flex;
    display: flex;
    align-items: center;
    height: 32px;
    p {
      color: #378eef;
      font-size: 12px;
      margin-right: 20px;
      i {
        display: inline-block;
        margin-right: 4px;
      }
    }
  }
}
.ant-select-selection{
  font-size: 12px;
}
.select-box {
  position: relative;
 
  padding: 30px 20px 0 20px;
}
.select-box .el-select {
  width: 120px;
  height: 32px;
 
  /deep/ .el-input__inner::placeholder {
    color: #666;
  }
  /deep/ .el-input__inner {
    border: 1px solid #ccc;
    height: 32px;
    line-height: 32px;
  }
  /deep/ .el-input__icon {
    line-height: 32px;
  }
}
.upload_box {
  display: flex;
  padding: 20px 0 30px 0;
}
.popup_opinion_submit_file > span {
  float: left;
  margin-top: 8px;
}
.popup_opinion_submit_file li {
  float: left;
  height: 30px;
  line-height: 28px;
  vertical-align: middle;
  box-sizing: border-box;
  color: #666;
  font-size: 12px;
  border: 1px solid #d5dae3;
  border-radius: 3px;
  padding: 0 10px 0 12px;
  cursor: default;
  margin-right: 16px;
  position: relative;
  background: #f8f8f8;
}
.popup_opinion_submit_file li b {
  display: inline-block;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  // width: 145px;
  overflow: hidden;
}
.popup_opinion_submit_file li i {
  vertical-align: middle;
  font-size: 12px;
  display: block;
  float: right;
  margin-left: 10px;
  color: #999999;
  font-weight: 600;
  cursor: pointer;
}

.table-eidt /deep/.ant-table-tbody {
  display: none;
}
.table-eidt /deep/ .ant-table-thead th {
  display: none;
}
.table-eidt /deep/ .ant-table-thead .ant-table-selection-column {
  display: block;
  text-align: left;
  padding-left: 20px;
}
.table-list /deep/ .ant-table-thead .ant-table-selection-column {
  text-align: left;
  padding-left: 20px ;
}

.table-list /deep/.ant-table-tbody > tr > td.ant-table-selection-column {
  text-align: left;
  padding-left: 20px !important;
}
.table-eidt /deep/ .ant-table {
  float: left;
  // display: none;
}
.table-eidt .ant-table-wrapper{
  height: 64px;
}
.table-eidt /deep/.ant-table-placeholder {
  display: none;
}
.table-eidt /deep/ .ant-table-thead > tr > th {
  border-bottom: none;
  background: #fff !important;
}
.table-eidt /deep/ .ant-table-body {
  margin: 10px 0px 0px 0px;
}
.select-lengs {
  position: absolute;
  left: 100px;
  top: 26px;
  color: #bbb;
  font-size: 12px;
}
.select-lengs-eidt {
  left: 45px;
  top: 26px;
}
.table-eidt /deep/ .ant-table-pagination {
  display: block;
}
.tabs-ico {
  display: inline-block;
  width: 15px;
  height: 20px;
  background: url("../images/tabs-01.png") no-repeat;
  background-position: 0px 8px;
}
.eidt-text {
  display: inline-block;
  padding-left: 10px;
  bottom: 1px;
  color:#666666;
  }
.pro_operate .eidtDropdown .edit-icon .icon{
  color:#666;
}
//bug页面弹框
.ant-calendar .ant-calendar-footer-btn /deep/.ant-calendar-ok-btn{
  display: none !important;
}
.modal-pms  /deep/.ant-drawer-header{
  height: 54px;
  padding: 0 20px;
  line-height: 54px;
  border-bottom:0;
  .top-title{
    height: 54px;
    line-height: 54px;
    border-bottom:1px solid rgba(238,238,238,1) ;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #333333;
  }
}

.modal-pms  /deep/.ant-drawer-body{
  padding: 20px 30px;
 
}
.modal-pms  .ant-tabs-bar{
  margin-bottom: 20px;
}
.modal-pms  /deep/.ant-modal-content{
  .ant-form-item-label{
    line-height: 1;
    margin-bottom: 10px;
  }
  .ant-form-item-control{
    line-height: 1 ;
  }
  form textarea.ant-input{
    margin-bottom: 0;
  }
  .ant-form-item{
    margin-bottom:0;
    .ant-form-item-children{
      line-height: 1;
    }
  }
 .ant-modal-body{
    padding: 20px;
  }
  .ant-modal-footer button + button{
    margin-left: 20px;
  }
 .ant-modal-footer{
    padding: 0 20px 20px 20px;
  }
}
//任务改版样式修改
.isFixed{
  position: fixed;
  // top: 118px;
  top: 204px;
  z-index: 4;
}

.table-list2 {
  min-width:1400px;
  overflow-x: auto;
  margin-top: 20px;
  .table-header{
      margin-bottom: 10px;
      padding: 0 20px;
      background:RGBA(235, 243, 253, 1);
      box-shadow: rgba(223, 226, 230, 0.8) 0px 5px 15px 0px;
      border-radius: 5px;
       table tr th {
           height: 46px;
        //    border-bottom: 1px solid rgba(188, 188, 188, .3);
       }
  }
  .table-card{
      padding:0 20px;
      margin-bottom: 10px;
      box-shadow: 0px 5px 15px 0px rgba(223, 226, 230, 0.8);
      border-radius: 5px;
      background: #fff;
      .bbb{
        color:#BBBBBB !important;
      }
      .bgcBBB{
        color: rgba(187, 187, 187, 1) !important;
        background: rgba(187, 187, 187, .2) !important;
      }
      .hover-hand{
        &:hover{
          cursor: pointer;
          .text{
            background:#eee;
          }
          .tips{
            color:#378EEF;
            font-size: 15px;
            margin-left: 10px;
            display: inline-block !important;
          }
        }
      }
      .text-ellipsis{
        width: 260px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .ant-empty-normal{
        margin: 20px 0 5px 0;
      }
      .task-type-1{
        display: inline-block;
        width: 54px;
        height: 18px;
        margin-left: 4px;
        vertical-align: 4px;
        text-align: center;
        line-height: 18px;
        border-radius: 3px;
        background: rgba(255, 114, 66, .2);
        color: rgba(255, 114, 66, 1);
      }
      .task-type-2{
        display: inline-block;
        width: 54px;
        height: 18px;
        text-align: center;
        line-height: 18px;
        border-radius: 3px;
        background: rgba(96, 182, 255, .2);
        color: rgba(96, 182, 255, 1);
      }
       table tr th {
           height: 70px;
           .status:hover{
            background: #eeeeee;
          }
       }
  }
    .inner-table{
        border-spacing: 0 5px;
        border-collapse: separate;
        .circular{
            display: inline-block;
            width: 4px;
            height: 4px;
            background: #F28D49;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        .vertical-line-top{
            position: absolute;
            top:0;
            width: 1px;
            height:~"calc(50% - 10px)";
            background-image: linear-gradient(to bottom, #F28D49 0%, #F28D49 50%, transparent 50%);
            background-size: 1px 8px;
            background-repeat: repeat-y;
        }
        .vertical-line-bottom{
            position: absolute;
            bottom:0;
            width: 1px;
            height:~"calc(50% - 10px)";
            background-image: linear-gradient(to bottom, #F28D49 0%, #F28D49 50%, transparent 50%);
            background-size: 1px 8px;
            background-repeat: repeat-y;
        }
        thead tr th{
            background: #fff;
            height: 36px;
            color: #DDDDDD;
            border: 0;
        }
        tbody tr td{
                background: #F9FCFF;
                height: 46px;
                .status:hover{
                  background: #eeeeee;
                }
        }
    }}

.modal-pms .tips{
  background-color: #f8f8f8;
  height: 34px;
  line-height: 34px;
  padding-left: 10px;
  margin-top: 10px;
}

.anticon.ant-notification-notice-icon-info{
  width: 16px;
  height: 24px;
  background: url('../images/news-icon.png') center;
  margin-left: 0;
  svg{
    display: none;
  }
}
.ant-notification-notice-with-icon .ant-notification-notice-message{
  margin-left: 28px;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
  color: #666;
}
.ant-notification-notice-close svg{
  top: 11px;
  font-size: 12px;
}
.ant-notification-notice{
  width: 300px;
  left:84px;
  padding:10px 15px 15px 15px;
  margin-bottom: 10px;
  color: #666;
  box-shadow: 0px 5px 15px 0px rgba(223, 226, 230, 0.8);
  border-radius: 8px;
  .ant-notification-notice-description{
    padding-top: 15px;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #F3F3F3;
    margin-left: 0;
  }
 
}

.ant-checkbox-disabled .ant-checkbox-inner{
  background-color: #f5f5f5 !important;
}

.el-date-editor .el-range-separator{
  line-height: 22px;
}