.box{width:100%!important;margin:0;padding:0}
.ab_public{width:1440px;margin:0 auto;padding:0;box-sizing:border-box}
.content{padding:0}
.as_banner{height:320px}
.as_banner_bg{position:absolute;width:100%;height:320px;left:0;z-index:-1;background:url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/About-US-banner.jpg) no-repeat}
.as_banner_tit{font-size:48px;color:#fff;font-weight:600;padding-top:110px;line-height:50px;text-align:center}
.as_banner_txt{font-size:16px;color:#fff;text-align:center;margin-top:20px;line-height:22px}
.as_tit{font-size:30px;font-weight:400;text-align:center;color:#232323;padding:55px 0 10px;line-height:32px}
.as_txt{font-size:14px;color:#616265;text-align:center}
.as_who ul{overflow:hidden;margin-top:30px;padding-bottom:50px}
.as_who_list{float:left;width:32%;margin-right:2%}
.as_who_list:last-child{margin-right:0}
.as_who_list img{width:100%;height:auto;display:block;margin:0 auto}
.as_who_list_tit{font-size:20px;color:#232323;padding:20px 0 10px;text-align:center;font-weight:400}
.as_who_list_txt{font-size:14px;color:#616265;line-height:24px}
.ab_public_bg{background:#f6f6f6;padding-bottom:60px}
.ab_dl_wrapp{display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;flex-wrap:wrap;-webkit-wrap:wrap;padding-top:40px}
.ad_dl{width:460px;background:#FFF;height:300px}
.ad_dl dt{width:100%}
.ad_dl dt img{max-width:100%;margin:0 auto;display:block;height:inherit;padding:65px 0 25px 0}
.ad_dl dd h2,.ad_dl dd p{text-align:center}
.ad_dl dd h2{font-size:20px;color:#232323;font-weight:600;padding-bottom:10px}
.ad_dl dd p{padding:0 76px;font-size:14px;color:#232323}
.ab_img_wrapp:after{content:"";display:block;clear:both}
.ab_img_right:after{content:"";display:block;clear:both}
.ab_img_left{display:inline-block;position:absolute;left:0}
.ab_img_right{width:1440px;margin:0 auto}
.ab_right_01{width:440px;float:right}
.ab_img_wrapp{height:520px}
.ab_wrapp .as_tit{margin-bottom:25px}
.ab_img_right h2{font-size:20px;color:#232323;font-weight:600;padding-bottom:22px;padding-top:85px}
.ab_img_right p{font-size:14px;color:#616265;font-weight:400;line-height:24px;text-align:left}
.ab_p{padding-top:45px}
.ab_public_bg_two{background:url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/aoc_img/about_us/About-US-9.jpg) no-repeat center}
.ab_div_wrapp:after{content:"";display:block;clear:both}
.ab_div_wrapp{width:50%}
.ab_div_wrapp dl{width:300px;float:left}
.add_dl dt{font-size:20px;color:#232323;font-weight:600;padding-bottom:25px}
.add_dl dd span{width:42px;height:42px;display:inline-block;padding-right:10px}
.div_in{display:inline-block;vertical-align:middle}
.div_in em{font-style:normal;color:#0070BC;font-size:16px;font-weight:400}
.div_in p{font-size:13px;color:#616265}
.add_dl dd{margin-bottom:6px}
.ab_div_wrapp{padding-top:40px}
.add_dl{margin-bottom:70px}
.ab_ul:after{content:"";display:block;clear:both}
.ab_ul li{width:33%;float:left;margin-bottom:40px}
.ab_ul li img{margin:0 auto;display:block;max-width:100%;height:inherit}
.ab_ul{padding-top:55px;padding-bottom:20px}
.sa_p1{font-size:14px;color:#616265;text-align:center;padding-bottom:4px}
.ad_span{display:inline-block}
.ad_span a{color:#0070BC;text-decoration:none;font-size:14px}
.ad_span a:hover{text-decoration:underline}
.ad_center{text-align:center}
.ad_span .icon{color:#0070BC;font-size:12px;padding-left:5px}
.ab_public_bg_three .as_tit{padding-bottom:15px}
.ab_two_wrapp{display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;flex-wrap:wrap;-webkit-wrap:wrap;padding-top:35px}
.ad_two_dl{width:706px;background:#fff}
.ad_two_dl dt img{max-width:100%;display:block;margin:0 auto;height:inherit}
.ad_two_dl dd h2{font-size:20px;color:#232323;font-weight:400;text-align:center;padding-top:18px;padding-bottom:25px}
.ad_two_dl dd span{display:block;text-align:center;padding-bottom:18px}
.ad_two_dl dd span a{display:inline-block;color:#0070BC;font-size:14px}
.ad_two_dl dd span .icon{font-size:12px;padding-left:5px;color:#0070BC}
.ab_public_four p{font-size:14px;color:#616265;text-align:center;line-height:24px}
.ab_bottom_a{width:205px;height:48px;line-height:48px;border:1px solid #c00000;color:#c00000;font-size:18px;transition:all .3s;text-align:center;border-radius:3px;box-sizing:border-box;display:block;margin:0 auto;margin-top:22px;margin-bottom:50px;text-decoration:none}
.ab_bottom_a:hover{background:#c00000;color:#FFF;text-decoration:none}
.circle{position:absolute;display:block;top:174px;left:339px;width:12px;height:12px;border-radius:50%;cursor:pointer}
.circle .circle_a{display:block;position:absolute;top:0;left:0;width:10px;height:10px;border:1px solid #0070BC;border-radius:50%;animation:circle_a 3s infinite}
.circle .circle_b{display:block;position:absolute;top:0;left:0;width:10px;height:10px;border:1px solid #0070BC;border-radius:50%;animation:circle_a 3s 1.5s infinite}
.circle span:nth-of-type(3){display:block;position:absolute;top:0;left:0;width:12px;height:12px;border-radius:50%;background:#0070BC}
.circle em{position:absolute;left:-84px;top:-135px;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;line-height:24px;font-size:14px;color:#616265;text-align:center;display:none;font-style:normal}
.circle:hover em{display:block}
.circle:nth-of-type(1){left:276px;top:300px}
.circle:nth-of-type(2){left:298px;top:134px}
.circle:nth-of-type(3){left:666px;top:98px}
.circle:nth-of-type(4){left:970px;top:224px}
.circle:nth-of-type(5){left:800px;top:350px;}
.circle p{font-size:14px;color:#232323;font-weight:400}
@keyframes circle_a{0%{-webkit-transform:scale(1);transform:scale(1);opacity:0;filter:alpha(opacity=0)\9}
10%{opacity:1;filter:alpha(opacity=100)\9}
100%{-webkit-transform:scale(3.75);transform:scale(3.5);opacity:0;filter:alpha(opacity=0)\9}
}
.circle p{position:absolute;left:-16px;top:24px;text-overflow: ellipsis;white-space: nowrap;}
.se_three p{left:-7px}
.circle em img{border:2px solid #8cb8ff;border-bottom:none}
.circle_a00{display:block;position:absolute;top:-5px;left:-5px;width:20px;height:20px;border:1px solid #0070BC;border-radius:50%;background:#0070BC;opacity:.35}
.se_one em{left: 30px;top: -16px;z-index: 10;}
.se_two em{left:-75px;top:-160px}
.se_two em:nth-of-type(2){left: 95px;}
.se_three.circle em{left: -145px;top: 35px;display: block;}
.se_four em{left:-210px;top:-80px}
.se_five em img{width: 166px;}
.se_five em{left: 50px;top: -50px;}
.circle dl{position:absolute;left:40px;top:-10px}
.circle dl dt{font-size:14px;color:#0070BC}
.circle dl dd{background:#0070BC;width:18px;margin:0 auto}
.se_one dl dd{height:18px}
.se_two dl dd{height:32px}
.se_three dl dd{height:20px}
.se_four dl dd{height:40px}
.box,.content{margin:0 auto}
.circle em strong{font-size:13px;color:#0070BC;font-weight:400;display:block;border:2px solid #8cb8ff;background:#FFF;border-top:none}
@media(max-width:1820px){
.ab_img_left{left: -200px;}
}
@media(max-width:1440px){.box{width:100%!important;margin:0 auto}
.ab_content,.ab_img_bg,.ab_public{width:1200px;box-sizing:border-box;margin:0 auto;}
.ab_img_right{width:100%}
.ad_two_dl{width:48%}
.ad_dl{width:32%}
.ab_div_wrapp{padding-left:20px;box-sizing:border-box;width:60%}
.ab_content{padding:0 10px;box-sizing:border-box}
.ab_img_wrapp{height:inherit}
.ab_img_left{position:relative;left: 0}
.ab_right_01{width:960px;float:initial;text-align:center;margin:0 auto}
.ab_img_right h2{padding-top:30px}
.ab_p{padding-top:15px;padding-bottom:30px}

}
@media(max-width:1220px){.ab_img_bg,.ab_public,.box,.content{width:100%!important}
.ab_content,.ab_right_01{width:100%;margin:0}
.ab_public{margin:0 auto}
.ab_div_wrapp{width:80%}
.ab_img_left{overflow-x:auto;width:100%}
.ab_only_img{width:1220px}
}
@media(max-width:960px){.ab_content,.ab_img_bg,.ab_public,.box,.content{width:100%!important}
.ad_dl dd p{padding:0 10px}
.ab_div_wrapp,.ab_right_01{width:100%}
.ab_public_four p br{display:none}
}
@media(max-width:800px){.ad_dl,.as_who_list{width:48%;margin-bottom:4%}
.as_who_list:last-child{margin-bottom:0}
.ad_dl:last-child{margin-bottom:0}
}
@media(max-width:600px){.ad_two_dl{width:100%}
.ab_div_wrapp dl{width:50%}
.ad_dl,.as_who_list{width:100%;margin-right:0}
.ab_ul li{width:50%}
.div_in p{word-wrap:break-word;word-break:normal;width:110px}
.ad_dl dt img{padding-top:35px}
.ad_dl{height:inherit;padding-bottom:40px}
}
@media(max-width:480px){.as_banner,.as_banner_bg{height:220px}
.as_banner_tit{font-size:24px;padding-top:70px;line-height:30px;margin-bottom:10px;font-weight:400}
.as_banner_txt{font-size:16px;line-height:22px;font-weight:400}
.as_tit{font-size:24px}
.ab_public_bg{padding-bottom:20px}
.as_who ul{padding-bottom:20px}
.as_tit{padding-top:30px}
.div_in p{min-height: 40px;letter-spacing: -0.2px;}
.ab_div_wrapp{padding-left: :0;}
.add_dl dd span{vertical-align: middle;margin-top: -12px;}
}