.box,.content{width: 100%;}
.onSite-service-banner{height: 380px;}
.onSite-service-bg{position: absolute;width: 100%;left: 0;z-index: -1;height: 380px;background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/on-site-service/on-site-service-banner-bg.jpg);
    background-repeat: no-repeat;background-position-x: center; background-size: cover;
}
.onSite-service-banner-tit{font-size: 40px;line-height: 48px;font-weight: normal;color: #fff;text-align: center;padding: 120px 0 0;}
.onSite-service-banner-txt{text-align: center;color: #fff;padding-top: 12px;font-size: 16px;line-height: 26px;color: #fff;}
.service-apply-banner-btnBox{margin-top: 20px;}
.service-apply-banner-btn{font-size: 14px;color: #232323;display: inline-block;height: 40px;padding: 0 30px;text-align: center;text-decoration: none;line-height: 38px;border: 1px solid #4c4948;border-radius: 2px;
    transition: all .3s;-o-transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;box-sizing: border-box;}
.service-apply-banner-btn:hover{background: #4c4948;color: #fff;text-decoration: none;}
/**/
.onSite-service-sinPage-cont{width: 1200px;margin: auto;}
.onSite-service-sinPage-tit{font-size: 26px;color: #232323;text-align: center;line-height: 34px;padding: 52px 0 25px;font-weight:600;}
.onSite-install-list{display: table;}
.onSite-install-list li{display: table-cell;vertical-align: middle;width: 50%;box-sizing: border-box;}
.onSite-install-list li.onSite-install-rt{padding: 15px 50px;background: #f7f7f7;}
.onSite-install-txt{font-size: 14px;color: #616265;line-height: 24px;}
.onSite-process-list{display: flex;margin-bottom: 60px;}
.onSite-process-list li{margin: auto;background: #f7f7f7;text-align: center;width: 386px;padding: 40px 0;position: relative;}
.onSite-process-list .onSite-process-mDem{display: none;}
.onSite-process-imgBox{line-height: 90px;margin-bottom: 27px;}
.onSite-process-imgBox span{width: 90px;background: #fff;border-radius: 50%;display: inline-block;height: 90px;vertical-align: middle;position: relative;}
.onSite-process-imgBox span img{position: absolute;top: 50%;margin-top: -22px;left: 50%;margin-left: -22px;}
.onSite-process-txt{font-size: 13px;color: #616265;}
.onSite-process-icBox{position: absolute;width: 60px;height: 60px;display: inline-block;background: #fff;border-radius: 50%;line-height: 60px;text-align: center;
    top: 50%;margin-top: -30px;right: -40px;z-index: 10;}
.onSite-process-icBox .icon{font-size: 22px;color: #8d8d8f;display: inline-block;}
.onSite-makeApp-box{background: #f7f7f7;padding-bottom: 60px;}
.onSite-makeApp-listBox{background: #fff;padding:50px 60px 50px 70px;}
.onSite-makeApp-rt{padding: 0 0 0 50px;}
.onSite-makeApp-list li:first-child,.onSite-makeApp-list li:nth-child(2){border-bottom: 1px solid #E5E5E5;padding-bottom: 20px;}
.onSite-makeApp-list li:last-child .onSite-makeApp-lt{padding-right:50px;}
.onSite-makeApp-list li:last-child .onSite-makeApp-rt{padding-left:0;}
.onSite-makeApp-list li{display: table;width: 100%;}
.onSite-makeApp-list li:last-child{margin-top: 30px;}
.onSite-makeApp-list li>div{display: table-cell;vertical-align: middle;width: 50%;}
.onSite-makeApp-list li:nth-child(2){margin-top: 20px;}
.onSite-makeApp-line{display: inline-block;width: 40px;height: 2px;background: #4C4948;}
.onSite-makeApp-tit{font-size: 20px;color: #232323;line-height: 30px;font-weight: 600;padding: 8px 0 5px;}
.onSite-makeApp-txt{font-size: 13px;color: #616265;line-height: 22px;padding-bottom: 20px;}
.onSite-makeApp-txt a{color: #0070BC;}
.onSite-makeApp-li{padding-bottom: 2px;}
.onSite-makeApp-li span{display: inline-block;width: 4px;height: 4px;background: #616265;float: left;border-radius: 50%;margin-top: 9px;}
.onSite-makeApp-li div{font-size: 13px;color: #616265;line-height: 22px;padding-left: 14px;}
.onSite-makeApp-m{display: none!important;}
.onSite-faqs-casesMain{padding-bottom: 60px;}
.onSite-faqs-list li{border-bottom: 1px solid #E5E5E5;}
.onSite-faqs-list-main dt{padding: 14px 40px 14px 0;cursor: pointer;position: relative;}
.onSite-faqs-list-main dt>div{float: left;display: flow-root;}
.onSite-faqs-list-main dt .icon{font-size: 16px;color: #4C4948;line-height: 24px;position: absolute;top: 12px;right: 0;}
.onSite-faqs-list-main dd{padding:  0 40px 25px 0;display: none;}
.onSite-faqs-list li.choosez dt{padding-bottom: 15px;}
.onSite-faqs-Tit{font-size: 14px;line-height: 24px;color: #232323;}
.onSite-faqs-Txt{font-size: 14px;line-height: 24px;color: #999;}
.onSite-faqs-Tit span{float: left;display: inline-block;margin-right: 10px;}
.onSite-faqs-Tit div{display: flow-root;}
.onSite-faqs-Txt span{float: left;display: inline-block;margin-right: 10px;}
.onSite-faqs-Txt div{display: flow-root;}
.onSite-faqs-Txt a{color: #0070BC;}
@media (max-width: 1220px){
	.onSite-service-sinPage-cont{width: 960px;padding: 0 15px;box-sizing: border-box;}
	.onSite-process-list li{width: 32.16%;}
	.onSite-makeApp-list li img{width: 100%;}
}
@media (max-width: 960px){
	.onSite-service-sinPage-cont{width: 100%;}
	.onSite-service-banner{height: 540px;}
	.onSite-service-bg{background-image: url(https://img-en.fs.com/includes/templates/fiberstore/images/specials/on-site-service/on-site-service-banner-bg-m.jpg);height: 540px;}
	.onSite-install-list li.onSite-install-rt{padding: 8px 20px;}
	.onSite-service-sinPage-tit{font-size: 20px;line-height: 30px;padding: 34px 0 15px;}
	.onSite-process-list{display: table;}
	.onSite-process-list li{display: table-cell;width: 32%;}
	.onSite-process-list .onSite-process-mDem {width: 2%;background: #fff;display: table-cell;}
	.onSite-process-txt{padding: 0 10px;}
	.onSite-process-txt br{display: none;}
}
@media (max-width: 480px){
	.onSite-service-banner,.onSite-service-bg{height: 220px;}
    .onSite-service-banner-tit{font-size: 26px;line-height: 34px;padding-top: 35px;}
    .onSite-service-banner-txt{padding: 16px 20px 0;}
    .onSite-install-list{display: block;}
    .onSite-install-list li{display: block;width: 100%;}
    .onSite-install-list li.onSite-install-rt{padding: 15px 20px;}
    .onSite-process-list{display: block;margin-bottom: 40px;}
    .onSite-process-list li{width: 100%;display: block;margin-bottom: 20px;padding: 40px 0 48px;}
    .onSite-process-list .onSite-process-mDem{display: none;}
    .onSite-process-icBox{transform: rotate(90deg);top: auto;bottom: -40px;right: auto;left: 50%;margin-left: -30px;}
    .onSite-makeApp-listBox{padding: 20px;}
    .onSite-makeApp-list li{display: block;}
    .onSite-makeApp-list li>div{display: block;width: 100%;}
    .onSite-makeApp-rt{padding: 0;}
    .onSite-makeApp-m{display: block!important;}
    .onSite-makeApp-pc{display: none!important;}
    .onSite-makeApp-list li:last-child .onSite-makeApp-lt{padding-top: 27px;}
    .onSite-makeApp-list li:first-child>div.onSite-makeApp-rt{padding-bottom: 25px;}
    .onSite-makeApp-list li:last-child>div.onSite-makeApp-lt{padding-bottom: 15px;padding-right: 0;}
}
